<template>
    <div class="n-container">
        <div class="n-pagename">测试查找条件</div>
        <Collapse v-model="panel" >
            <Panel :name="index+''" v-for="(item,index) in panelList" :key="index">
                {{ item.name }}
                <div slot="content">
                    <div v-if="item.content.length > 0">
                        <Table :columns="columns" :data="data"></Table>
                    </div>
                    <div v-else class="n-empty">
                        <Icon type="ios-cafe-outline" />
                        <span>暂无信息</span>
                    </div>
                </div>
            </Panel>
        </Collapse>
    </div>
</template>
<script>
export default {
    data() {
        return {
            panel: [0, 1],
            panelList: [
                {
                    name: '分类入口',
                    content: [
                        {},{}
                    ]
                },
                {
                    name: '轮播图',
                    content: []
                }
            ],
            columns: [
                {
                    title: '组件ID',
                    key: 'id',
                    width: '100px',
                    align: 'center'
                },
                {
                    title: '类型',
                    key: 'type',
                    width: '150px',
                    align: 'center'
                },
                {
                    title: '组建名称',
                    key: 'name',
                    width: '100px',
                    align: 'center'
                },
                {
                    title: '开始时间/结束时间',
                    key: 'date',
                    align: 'center'
                },
                {
                    title: '组件信息',
                    key: 'detail',
                    align: 'left',
                    render: (h, params) => {
                        return h('div', {
                            class: 'n-detail',
                                props:{
                                    value: params.row.detail
                                },
                                on:{
                                    'on-change':(event)=>{
                                    }
                                }
                            },
                            params.row.detail.map((item)=>{
                                return h('Option',{
                                    props:{
                                        value: item.uuid,
                                        label: item.uuid + '\xa0\xa0\xa0' + item.name
                                    }
                                })
                            })
                        );
                    }
                },
                
                {
                    title: '操作人/修改人',
                    key: 'members',
                    render: (h, params) => {
                        return h('div', {
                                class: 'n-member',
                                props:{
                                    value: params.row.members
                                },
                                on:{
                                    'on-change':(event)=>{
                                    }
                                }
                            },
                            params.row.members.map((item)=>{
                                return h('Option',{
                                    props:{
                                        value: item,
                                        label: item + '\xa0'
                                    }
                                })
                            })
                        );
                    }
                },
                {
                    title: '操作',
                    key: 'option',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                }
                            }, '编辑')
                        ]);
                    }
                }
            ],
            data: [
                {
                    id: '00000001',
                    type: '基础组件',
                    name: '商品',
                    date: '20191101-20191111',
                    detail: [
                        {
                            uuid: 'jdh_00000001',
                            name: '互联网医院首页1'
                        },
                        {
                            uuid: 'jdh_00000002',
                            name: '互联网医院首页2'
                        }
                    ],
                    members: ['赵建平', '123']
                },
                {
                    id: '00000001',
                    type: '基础组件',
                    name: '商品2',
                    date: '20191101-20191111',
                    detail: [
                        {
                            uuid: 'jdh_00000001',
                            name: '互联网医院首页'
                        }
                    ],
                    members: ['赵建平', '123']
                },
            ]
        }
    }
}
</script>
<style lang="less" scoped>
    .n-container {
        background-color: #fff;
        width: 96%;
        height: 100%;
        padding: 0 50px;
        margin: 10px auto;
        .n-pagename {
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            
        }
        .n-empty {
            text-align: center;
            /deep/ .ivu-icon-ios-cafe-outline {
                font-size: 40px;
                display: block;
            }
            span {
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                display: block;
            }
        }
        /deep/ .ivu-select-item {
            padding: 0;
        }
        /deep/ .n-member .ivu-select-item {
            display: inline-block;
        }
    }
    
</style>