<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="楼层高度">
            <!-- <RadioGroup v-model="element.data.items[0].style.pageHeight"> -->
            <RadioGroup v-model="customHeight">
              <Radio :label="130">低(130)</Radio>
              <Radio :label="170">中(170)</Radio>
              <Radio :label="260">高(260)</Radio>
              <Radio label="custom">自定义</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem v-if="customStyle=='customValue'">
            <InputNumber v-model="element.data.items[0].style.pageHeight"></InputNumber>
          </FormItem>
          <floorConfig :styleData="element.data.style"></floorConfig>
          <FormItem label="指示器" class="letterSpace">
            <RadioGroup v-model="element.data.items[0].style.indicatorStyle">
              <Radio label="classic">条形</Radio>
              <Radio label="none">圆形</Radio>
            </RadioGroup>
          </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace数据</Radio>
              <Radio label="201">互医数据</Radio>
            </RadioGroup>
          </FormItem>
        </Form>
        <div class="manual" v-if="element.data.ext.dataSourceType1=='301'">
          <div v-show="element.data.items[0].items.length>0">
            <Row class="headTitle">
              <Col span="4">上传图片</Col>
              <Col span="17">跳转地址</Col>
              <Col span="3">操作</Col>
            </Row>

            <Row v-for="(item,index) in element.data.items[0].items" :key="index" class="listRow">
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="item.pictureUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="(res)=> handleSuccess(res,index)"
                ></ImageUpload>
              </Col>
              <Col span="17">
                <linkType :linkInfo="item"></linkType>
              </Col>
              <Col span="3">
                <Icon type="ios-trash" size="26" class="deleteIcon" @click="deleteItem(index)" />
              </Col>
            </Row>

            <Alert
              show-icon
              v-show="alertImgSize"
            >图片宽1125px，高{{(element.data.items[0].style.pageHeight-element.data.style.padding[0]*2)*3}}px，不大于2M</Alert>
          </div>
          <div class="addBtn">
            <Button type="primary" @click="addCarousel()" icon="md-add">添加</Button>
          </div>
        </div>
        <div v-else-if="element.data.ext.dataSourceType1=='101'">
          <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
        </div>
        <div v-else>
          <netAdvert :element="element" @getresultdata="getResultData($event)"></netAdvert>
        </div>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "carouselEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      customStyle: "",
      alertImgSize: true,
      switch1: false,
      isClickCheck: false
    };
  },
  computed: {
    customHeight: {
      get: function() {
        if (
          this.element.data.items[0].style.pageHeight == "130" ||
          this.element.data.items[0].style.pageHeight == "170" ||
          this.element.data.items[0].style.pageHeight == "260"
        ) {
          this.customStyle = "";
          return this.element.data.items[0].style.pageHeight;
        } else {
          this.customStyle = "customValue";
          return "custom";
        }
      },
      set: function(newValue) {
        if (newValue != "custom") {
          this.$set(this.element.data.items[0].style, "pageHeight", newValue);
        } else {
          this.customStyle = "customValue";
        }
      }
    }
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    change() {},
    addCarousel() {
      let flag = false;
      let itemsList = this.element.data.items[0].items;
      if (itemsList.length > 0) {
        for (let i = 0; i < itemsList.length; i++) {
          if (itemsList[i].linkType == "0" && itemsList[i].link == "") {
            this.$Message.error("请完善第" + (i + 1) + "条的输入框");
            flag = false;
            return;
          } else if (itemsList[i].linkType == "1" && itemsList[i].uuid == "") {
            this.$Message.error("请选择第" + (i + 1) + "条要跳转的页面");
            flag = false;
            return;
          } else {
            flag = true;
          }
        }
      } else {
        flag = true;
      }

      if (flag == true) {
        this.element.data.items[0].items.push({
          pictureUrl: "", //图片链接
          jumpLinkInfo: {
            linkType: "0", //跳转类型
            identityId: "", //跳转页面的链接
            linkUrl: ""
          }
        });
      } else {
      }
    },
    deleteItem(index) {
      this.$Modal.confirm({
        title: "",
        content: "<br/><h3>确定要删除此条数据吗？</h3>",
        onOk: () => {
          this.element.data.items[0].items.splice(index, 1);
        }
      });
    },
    handleSuccess(res, index) {
      this.$set(
        this.element.data.items[0].items[index],
        "pictureUrl",
        res.result.path
      );
    },
    handleBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !==
          (this.element.data.items[0].style.pageHeight -
            this.element.data.style.padding[0] * 2) *
            3
      ) {
        return (
          "请上传宽1125px，高" +
          (this.element.data.items[0].style.pageHeight -
            this.element.data.style.padding[0] * 2) *
            3 +
          "px的图片！"
        );
      }
      return null;
    },
    queryAdverts() {
      this.isClickCheck = true;
      this.$refs["materialIdForm"].validate(valid => {
        this.isClickCheck = false;
        this.$axios
          .request({
            url: `/material/queryMaterialAdverts?advertId=${this.materialIdForm.id}`,
            method: "get"
          })
          .then(res => {
            if (res.data.code == 0) {
              this.filterAdverts(res.data.data);
            }
          })
          .catch(err => {
            console.log(err);
          });
      });
    },
    square(data) {
      return Object.assign({ linkType: "0", uuid: "" }, data);
    },
    filterAdverts(arr) {
      let temp = _.map(arr, this.square);
      this.$set(this.element.data.items[0], "items", temp);
    }, // 获取互联网医院获取数据
    getResultData(data) {
      this.element.data.items[0].items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}

.headTitle {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #eee;
}
.listRow {
  text-align: center;
}

.deleteIcon {
  margin-top: 5px;
  cursor: pointer;
}
.addBtn {
  text-align: center;
  margin: 40px 0;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
  margin-top: -6px;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
.ivu-upload-drag {
  border: 0;
}
</style>