<template>
  <div
    class="carousel-container"
    :style="{height:element.data.items[0].style.pageHeight+'px',backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="carousel-wrap">
      <Carousel
        v-if="refresh"
        v-model="value"
        :autoplay="setting.autoplay"
        :autoplay-speed="setting.autoplaySpeed"
        :radius-dot="element.data.items[0].style.indicatorStyle==='none'?true:false"
        :arrow="setting.arrow"
        :loop="element.data.items[0].style.infinite"
        :height="element.data.items[0].style.pageHeight-element.data.style.padding[0]-element.data.style.padding[2]"
      >
        <CarouselItem
          class="carousel-wrap-item"
          v-for="(item, index) in element.data.items[0].items"
          :key="index"
          :style="{height:element.data.items[0].style.pageHeight-element.data.style.padding[0]*2+'px'}"
        >
          <a href="javascript:void(0)">
            <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
          </a>
        </CarouselItem>
      </Carousel>
    </div>
  </div>
</template>

<script>
export default {
  name: "carrousel",
  props: ["index", "element"],
  data() {
    return {
      value: 0,
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
      refresh: true,
      setting: {
        autoplay: true,
        autoplaySpeed: 3000,
        arrow: "never"
      }
    };
  },
  watch: {
    "element.data.items": {
      handler: function(newer, older) {
        this.refresh = false;
        setTimeout(() => {
          this.refresh = true;
        }, 100);
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.carousel-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .carousel-wrap {
    height: 100%;
    background: #eeeeee;
    overflow: hidden;
    &-item {
      a {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/deep/.ivu-carousel-dots li button {
  width: 10px;
}
/deep/.ivu-carousel-dots li.ivu-carousel-active > button {
  width: 13px;
}
/deep/.ivu-carousel-dots li button.radius {
  width: 6px;
}
/deep/.ivu-carousel-dots li.ivu-carousel-active button.radius {
  width: 6px;
}
</style>
