<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="120" :model="element">
          <floorConfig :styleData="element.data.style"></floorConfig>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="60" :model="element">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="101">ace</Radio>
              <Radio label="201">互医</Radio>
              <Radio label="401">写手</Radio>
            </RadioGroup>
          </FormItem>
          <div v-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='201'">
            <netAdvert
              :element="element"
              data-source="nethuyi"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='401'">
            <netAdvert
              :element="element"
              data-source="xieshou"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "tabScrollEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"])
    };
  },

  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    getResultData(data) {
      console.log(data);
      if (data != []) {
        this.element.data.items = [];
        for (let i = 0; i < data.length; i++) {
          this.element.data.items.push(data[i]);
        }
      }
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.item {
  margin: 1rem;
}
.selectDoctorbtn,
.deleteIcon {
  margin-left: 5px;
  cursor: pointer;
}
.addBtn {
  text-align: center;
  margin: 40px 0;
}
</style>