<template>
  <div
    class="doctor-wrap"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="doctor-wrap-item" v-for="(item, index) in element.data.items" :key="index">
      <a href="javascript:void(0)" v-if="item.id==null&&item.doctorResult">
        <div
          class="tab-content-imgblock"
          :style="{backgroundImage:'url('+element.data.ext.style.avatarBgImg+')'}"
        >
          <img class="nethp-avatar" :src="item.doctorResult.doctorHeadPic" alt />
        </div>
        <div class="tab-content-info">
          <div class="c-title">
            <span class="doctor-name">{{item.doctorResult.doctorName}}</span>
            <span class="doctor-title-name">{{item.doctorResult.doctorTitleName}}</span>
          </div>
          <div class="doctor-detail">
            <span>{{item.doctorResult.hospitalName}}</span>
            <i>|</i>
            <span>{{item.doctorResult.departName}}</span>
          </div>
          <div class="doctor-good">擅长：{{item.doctorResult.doctorGoodAt}}</div>
          <div class="doctor-tag">
            <button v-if="item.doctorResult.famous">名医</button>
            <button>{{item.doctorResult.hospitalGradeName}}</button>
            <button v-if="item.doctorResult.fastRx">可开方</button>
          </div>
        </div>
      </a>
      <div v-if="item.id!=null&&item.name!=''" class="linkStyle">
        {{item.name}}
        <Icon type="ios-arrow-dropright-circle" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "tabScroll",
  props: ["index", "element"],
  data() {
    return {};
  },
  computed: {},
  methods: {},

  watch: {}
};
</script>

<style scoped lang="less">
// 医生列表
.doctor-wrap {
  background-size: cover;
  background-repeat: no-repeat;
}
.doctor-wrap-item {
  a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin: 16px 10px 2px;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(186, 186, 186, 0.54);
    margin-bottom: 16px;
  }
}
.tab-content-imgblock {
  margin-right: 10px;
  width: 98px;
  height: 82px;
  padding: 7px 15px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.tab-content-imgblock .nethp-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  border: 3px solid #13c5b3;
}
.tab-content-info {
  overflow: hidden;
}
.tab-content-info .c-title {
  font-size: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #313131;
}
.tab-content-info .doctor-name {
  font-weight: 700;
  margin-right: 10px;
}
.doctor-detail {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 2px;
  color: #333;
}
.doctor-detail i {
  margin: 0 8px;
  font-style: normal;
}
.doctor-good {
  color: #626262;
  font-size: 12px;
  line-height: 1.6;
  max-width: 23rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.doctor-tag {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.doctor-tag button {
  vertical-align: middle;
  font-size: 12px;
  background-color: #f5f5f5;
  color: #13c5b3;
  border-radius: 100px;
  padding: 3px 8px;
  margin-right: 8px;
  border: none;
  outline: 0;
}
.linkStyle {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 30px;
  text-align: center;
  i {
    color: #13c5b3;
  }
}
</style>