<!--
  公告 — 编辑
 -->
<template>
    <Tabs value="style" :animated="false">
        <TabPane label="样式配置" name="style">
            <Form>
                <FormItem label="公告样式" class="n-position-static">
                    <RadioGroup v-model="element.noticeStyle" @on-change="groupDataChange">
                        <Radio label="0">3列式</Radio>
                        <Radio label="1">4列式</Radio>
                        <Poptip placement="bottom" class="n-black-poptip">
                            <Icon type="ios-help-circle-outline" />
                            <div class="api" slot="content">
                                <div>
                                    <div class="n-attention">注意：单行文字没有滚动效果</div>
                                    <div class="n-notice-style">
                                        <div class="n-poptip-text">预览效果说明：3列式</div>
                                        <div class="n-notice-img"><img src="../../img/notice_01.png"></div>
                                    </div>
                                    <div class="n-notice-style">
                                        <div class="n-poptip-text">预览效果说明：4列式</div>
                                        <div class="n-notice-img"><img src="../../img/notice_02.png"></div>
                                    </div>
                                </div>
                            </div>
                        </Poptip>
                    </RadioGroup>
                </FormItem>
                <FormItem label="背景色" class="n-position-static">
                    <ColorPicker v-model="data.style.bgColor" />
                    <Button v-model="data.style.bgColor" @click="resetBackgroundColor" class="resetBtn">重置</Button>
                </FormItem>
                <FormItem label="背景图">
                    <image-upload 
                        :imageUrl.sync= data.style.bgImgUrl
                        :onBeforeUpload="onBgBeforeUpload"></image-upload>
                    <Alert show-icon>图片宽度1125px，高度150px，不大于2M</Alert>
                </FormItem>
            </Form>
        </TabPane>
        <TabPane label="素材配置" name="data">
            <Form ref="formValidate" :model="data" :rules="ruleValidate" :label-width="80">
                <div v-if="element.noticeStyle === '1'">
                    <FormItem label="导航图片" class="n-form-item-required">
                        <image-upload 
                            :imageUrl.sync= data.imgUrl
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                            <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
                    </FormItem>
                    <div v-for="(item, index) in data.items[0].items" :key="index">
                        <div class="n-options">
                            <div class="n-news-title">第{{index}}组 公告列表</div>
                            <div class="n-opt">
                                <Icon type="ios-trash-outline" @click="deleteTab(index)" />
                                <!-- <Icon type="md-arrow-dropup-circle" />
                                <Icon type="md-arrow-dropdown-circle" /> -->
                            </div>
                        </div>
                        <FormItem label="文字颜色" class="n-position-static">
                            <ColorPicker v-model="data.items[0].items[index].color" />
                            <Button v-model="data.items[0].items[index].color" @click="resetBgColor" class="resetBtn">重置</Button>
                        </FormItem>
                        <FormItem label="标签">
                            <Input v-model="data.items[0].items[index].title" placeholder="请输入标签"></Input>
                        </FormItem>
                        <FormItem label="公告列表" class="n-form-item-required">
                            <Input v-model="data.items[0].items[index].content" placeholder="请输入公告内容"></Input>
                        </FormItem>
                    </div>
                </div>    
                <div v-for="(item, index) in data.items[0].items" :key="index" v-else>
                    <div class="n-options">
                        <div class="n-news-title">第{{index}}组 公告列表</div>
                        <div class="n-opt">
                            <Icon type="ios-trash-outline" @click="deleteTab(index)" />
                            <!-- <Icon type="md-arrow-dropup-circle" />
                            <Icon type="md-arrow-dropdown-circle" /> -->
                        </div>
                    </div>
                    <FormItem label="导航图片" class="n-form-item-required">
                        <image-upload 
                            :imageUrl.sync= data.items[0].items[index].imgUrl
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                        <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
                    </FormItem>
                    <FormItem label="公告列表" class="n-form-item-required">
                        <Input v-model="data.items[0].items[index].title" placeholder="请输入公告内容"></Input>
                    </FormItem>
                    <FormItem label="连接文字">
                        <Input v-model="data.items[0].items[index].message" placeholder="请输入连接文字"></Input>
                    </FormItem>
                    <FormItem label="文字颜色" class="n-position-static">
                        <ColorPicker v-model="data.items[0].items[index].color" />
                        <Button v-model="data.items[0].items[index].color" @click="resetBgColor" class="resetBtn">重置</Button>
                    </FormItem>
                    <FormItem label="链接" class="n-form-item-required">
                        <linkType :linkInfo="data.items[0].items[index]"></linkType>
                    </FormItem>
                </div>
                <div class="n-add">
                    <Button type="primary" icon="ios-add" @click="addNoticeList">添加</Button>
                </div>
                <FormItem label="链接" class="n-form-item-required" v-if="element.noticeStyle === '1'">
                    <linkType :linkInfo="data.items[0]"></linkType>
                </FormItem>
            </Form>
        </TabPane>
    </Tabs>
</template>
<script>
    import ImageUpload from '../ImageUpload'
    export default {
        props: ['element', 'data'],
        components: {
            'image-upload': ImageUpload
        },
        data() {
            return {
                formValidate: {
                    items: [],
                },
                ruleValidate: {
                    picUrl: [
                        { required: true, message: "图片不能为空", trigger: "blur" }
                    ],
                    hotIcon: [
                        { required: true, message: "请输入标签", trigger: "blur" }, 
                        { min: 0, max: 2, message: '文字最多为2个字符' }
                    ],
                    description: [
                        { required: true, message: "请输入公告内容", trigger: "blur" }
                    ],
                    link: [
                        { required: true, message: "请输入跳转路径", trigger: "blur" }
                    ]
                },
            };
        },
        watch: {
            'this.element.noticeStyle': function() {
                if(this.element.noticeStyle ==- '0'){
                    this.data.items[0].type = 'cycle_message'
                }else{
                    this.data.items[0].type = 'news_scrol'
                }
            }
        },
        created() {
            //点击不同楼层切换回 触发
            //点击相同本楼层 不触发
        },
        methods: {
            /**
             * 添加公告内容
             */
            addNoticeList() {
                this.data.items[0].items.push({
                    title: "",
                    color: "#FF0000",
                    content: "",
                    imgUrl: 'http://m.360buyimg.com/babel/jfs/t20764/323/2359785837/8413/d7abf6bb/5b519fb2N6d846d44.png',
                    message: "点击绑卡",
                    jumpLinkInfo: {
                        linkType: "0",
                        identityId: "",
                        linkUrl: ""
                    }
                })
            },
            /**
             * 图片上传校验
             */
            onBeforeUpload (file, img) {
                if (img.width !== 60) {
                    return '图片宽度必须是60px'
                }
                if (img.height !== 60) {
                    return '图片高度必须是60px'
                }
                return null
            },
            onBgBeforeUpload (file, img) {
                if (img.width !== 1125) {
                    return '图片宽度必须是1125px'
                }
                if (img.height !== 150) {
                    return '图片高度必须是50px'
                }
                return null
            },
            /**
             * 删除滚动列表
             */
            deleteTab(index) {
                this.data.items[0].items.splice(index, 1)
            },
            /**
             * 重置背景色
             */
            resetBgColor() {
                this.data.style.bgColor = '#FF0000';
            },
            resetBackgroundColor() {
                this.data.style.bgColor = '#ffffff';
            },
            /**
             * 重置公告内容
             */
            groupDataChange() {
                this.$Modal.confirm({
                    title: "",
                    content: "<br/>此操作会清空当前表单, 是否继续?",
                    onOk: () => {
                        this.data.items[0].items.length = []
                        this.data.items[0].items.push({
                            title: "",
                            color: "#FF0000",
                            content: "",
                            imgUrl: "",
                            message: "",
                            jumpLinkInfo: {
                                linkType: "0",
                                identityId: "",
                                linkUrl: ""
                            }
                        })
                    }
                })
            }
        }
    };
</script>
<style lang="less" scoped>
    .ivu-form-item {
        margin-bottom: 14px;
    }

    .n-add {
        text-align: center;
        margin-bottom: 15px;
    }
    .n-tips {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        font-size: 20px;
        background-color:#2d8cf0;
        color: #fff;
    }
    // /deep/ .ivu-poptip-inner {
    //     background-color: #404040;
    //     /deep/.ivu-poptip-body {
    //         padding: 0;
    //     }
    // }
    // /deep/ .ivu-poptip-popper .ivu-poptip-arrow:after {
    //     border-bottom-color: #404040;
    // }
    // /deep/ .ivu-poptip-popper {
    //     width: 354px;
    // }
    .n-notice-style {
        margin-bottom: 10px;
        .n-notice-title {
            font-size: 12px;
            color: #fff;
            line-height: 30px;
        }
        .n-notice-img {
            img {
                display: block;
            }
        }
    }
    .n-attention {
        font-size: 12px;
        color: #fff;
        margin: 10px 0;
    }
    .n-options {
        width: 400px;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #eee;
        margin: 0 auto 10px auto;
        .n-news-title {
            width: 100px;
            float: left;
            font-size: 12px;
            color: #999;
        }
        .n-opt {
            width: 50px;
            text-align: right;
            float: right;
        }
        /deep/ i.ivu-icon-ios-trash-outline {
            background-color: #f56c6c;
            font-size: 18px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: #fff;
            line-height: 30px;
            text-align: center;
            margin: 0px 3px 0px 10px!important;
            -webkit-transform: rotate(0deg)!important;
            transform: rotate(0deg)!important;
            
        }
        /deep/ i.ivu-icon-ios-trash-outline:hover {
            cursor: pointer;
        }
    }
</style>