<template>
  <div>
    <Form :model="element" :label-width="80">
      <FormItem label="商品来源">
        <RadioGroup v-model="element.data.source">
          <Radio label="1">商品</Radio>
          <Radio label="2">商品组</Radio>
        </RadioGroup>
        <Button v-show="element.data.source=='1'" size="small">选择商品</Button>
        <Input v-show="element.data.source=='2'" v-model="element.data.ext.groupId" placeholder="请输入商品组ID...">
          <Button @click="getProductById" slot="append" icon="ios-search"></Button>
        </Input>
      </FormItem>
      <FormItem label="列表样式">
        <RadioGroup v-model="element.data.style.column">
          <Radio label="1">一行一个</Radio>
          <Radio label="2">一行两个</Radio>
          <Radio label="3">一行三个</Radio>
          <Radio label="4">一行四个</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="文本对齐">
        <RadioGroup v-model="element.data.align">
          <Radio label="1">左对齐</Radio>
          <Radio label="2">居中对齐</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="商品样式">
        <RadioGroup v-model="element.data.cardStyle">
          <Radio label="1">无边白底</Radio>
          <Radio label="2">卡片投影</Radio>
          <Radio label="3">描边白底</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="商品倒角">
        <RadioGroup v-model="element.data.corner">
          <Radio label="1">直角</Radio>
          <Radio label="2">圆角</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="显示内容">
        <CheckboxGroup v-model="element.data.showContent">
          <Checkbox label="1">商品名称</Checkbox>
          <Checkbox label="2">商品描述</Checkbox>
          <Checkbox label="3">商品价格</Checkbox>
          <Checkbox label="4">购买按钮</Checkbox>
          <Checkbox label="5">商品角标</Checkbox>
        </CheckboxGroup>
        <RadioGroup
          v-if="element.data.showContent?element.data.showContent.indexOf('5')!=-1:false"
          v-model="element.data.subscript"
        >
          <Radio label="1">新品</Radio>
          <Radio label="2">热卖</Radio>
          <Radio label="3">NEW</Radio>
          <Radio label="4">HOT</Radio>
        </RadioGroup>
      </FormItem>
    </Form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "edit",
  data() {
    return {
      groupId: "",
      ...mapMutations(["setFlrIndex", "updateFloor"])
    };
  },
  props: ["index", "element"],
  mounted() {},
  methods: {
    getProductById() {
      //根据商品组查询商品
      this.$axios
        .request({
          url: `/material/queryMatProdForGroups?groupId=${this.groupId}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code==0) {
            this.filterProducts(res.data.data);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    square(data) {
      return Object.assign(
        { type: "product", style: { margin: [0, 0, 0, 0] } },
        data
      );
    },
    filterProducts(arr) {
      let temp = _.map(arr, this.square);
      this.element.data.items = temp;
    }
  }
  // watch:{
  //   '$store.state.app.floorList': {
  //     handler: function(newer, older) {
  //       // 可以获取新值与老值两个参数
  //     },
  //     deep: true, // 开启深度监听
  //     immediate: true,
  //   },
  // }
};
</script>

<style scoped>
.item {
  margin: 1rem;
}
</style>
