<template>
  <div
    class="wrapper"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="col-1" v-show="element.data.style.column=='1'">
      <!--单列商品-->
      <div
        v-show="element.data.items[0].id"
        class="item"
        v-for="(item,index) in element.data.items"
        :key="index"
      >
        <div :class="{'row':true,'inner':element.data.cardStyle=='3'}">
          <div class="i-wrapper">
            <img
              v-show="item.pictureUrl"
              :src="item.pictureUrl?'https://m.360buyimg.com/pop/'+item.pictureUrl:'../../img/jdLogo.png'"
              alt
            />
            <img v-show="!item.pictureUrl" src="../../img/jdLogo.png" alt />
          </div>
          <div class="content">
            <div class="name">{{item.name}}</div>
            <div class="desc">{{item.desc}}</div>
            <div class="price">
              <div v-show="item.subData.price" class="c-price">
                <span>￥{{item.subData.price}}</span>
                <s>￥{{item.subData.jdPrice}}</s>
              </div>
              <div class="cart">
                <Icon type="ios-cart" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-show="!element.data.items[0].id" class="item">
        <div :class="{'row':true,'inner':element.data.cardStyle=='3'}">
          <div class="i-wrapper">
            <img src="../../img/jdLogo.png" alt />
          </div>
          <div class="content">
            <div class="name">商品名称</div>
            <div class="desc"></div>
            <div class="price">
              <div class="c-price">
                <span>￥1000.00</span>
              </div>
              <div class="cart">
                <Icon type="ios-cart" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2" v-show="element.data.style.column=='2'">
      <!--双列商品-->
      <div
        v-show="element.data.items[0].id"
        class="item"
        v-for="(item,index) in element.data.items"
        :key="index"
      >
        <div :class="{'inner':element.data.cardStyle=='3'}">
          <div class="i-wrapper">
            <img
              v-show="item.pictureUrl"
              width="100%"
              :src="item.pictureUrl?'https://m.360buyimg.com/pop/'+item.pictureUrl:''"
              alt
            />
          </div>
          <div class="content">
            <div class="name">{{item.name}}</div>
            <div class="desc">{{item.desc}}</div>
            <div class="price">
              <div class="c-price">
                <span>￥{{item.subData.price}}</span>
                <s>￥{{item.subData.jdPrice}}</s>
              </div>
              <div class="cart">
                <Icon type="ios-cart" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-show="!element.data.items[0].id" class="item" v-for="(item,index) in 2" :key="index">
        <div :class="{'inner':element.data.cardStyle=='3'}">
          <div class="i-wrapper">
            <img src="../../img/jdLogo.png" alt />
          </div>
          <div class="content">
            <div class="name">商品名称</div>
            <div class="desc"></div>
            <div class="price">
              <div class="c-price">
                <span>￥1000.00</span>
              </div>
              <div class="cart">
                <Icon type="ios-cart" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3" v-show="element.data.style.column=='3'">
      <div
        v-show="element.data.items[0].id"
        class="item"
        v-for="(item,index) in element.data.items"
        :key="index"
      >
        <div class="i-wrapper">
          <img
            v-show="item.pictureUrl"
            width="100%"
            :src="item.pictureUrl?'https://m.360buyimg.com/pop/'+item.pictureUrl:''"
            alt
          />
        </div>
        <div class="content">
          <div class="name">{{item.name}}</div>
          <div class="desc">{{item.desc}}</div>
          <div class="price">
            <div class="c-price">
              <span>￥{{item.subData.price}}</span>
              <s>￥{{item.subData.jdPrice}}</s>
            </div>
            <div class="cart">
              <Icon type="ios-cart" />
            </div>
          </div>
        </div>
      </div>
      <div v-show="!element.data.items[0].id" class="item" v-for="(item,index) in 3" :key="index">
        <div class="i-wrapper">
          <img src="../../img/jdLogo.png" alt />
        </div>
        <div class="content">
          <div class="name">商品{{index}}</div>
          <div class="desc"></div>
          <div class="price">
            <div class="c-price">
              <span>￥1000.00</span>
            </div>
            <div class="cart">
              <Icon type="ios-cart" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" v-show="element.data.style.column=='4'">
      <div
        v-show="element.data.items[0].id"
        class="item"
        v-for="(item,index) in element.data.items"
        :key="index"
      >
        <div class="i-wrapper">
          <img v-show="!item.pictureUrl" src="../../img/jdLogo.png" alt />
          <img
            v-show="item.pictureUrl"
            width="100%"
            :src="item.pictureUrl?'https://m.360buyimg.com/pop/'+item.pictureUrl:''"
            alt
          />
        </div>
        <div class="content">
          <div class="name">{{item.name}}</div>
          <div class="desc">{{item.desc}}</div>
          <div class="price">
            <div class="c-price">
              <span>￥{{item.subData.price}}</span>
              <s>￥{{item.subData.jdPrice}}</s>
            </div>
            <div class="cart">
              <Icon type="ios-cart" />
            </div>
          </div>
        </div>
      </div>
      <div v-show="!element.data.items[0].id" class="item" v-for="(item,index) in 4" :key="index">
        <div class="i-wrapper">
          <img src="../../img/jdLogo.png" alt />
        </div>
        <div class="content">
          <div class="name">商品名称</div>
          <div class="desc"></div>
          <div class="price">
            <div class="c-price">
              <span>￥1000.00</span>
            </div>
            <div class="cart">
              <Icon type="ios-cart" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "product",
  props: ["index", "element"],
  data() {
    return {
      a: 1
    };
  }
};
</script>

<style scoped lang="less">
.row {
  display: flex;
  flex-direction: row;
}
.wrapper {
  display: flex;
  flex-direction: row;
  .item {
    .i-wrapper {
      img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px;
      }
    }
    .inner {
      border: 1px solid #dcdee2;
    }
    .price {
      justify-content: space-between;
      .c-price {
        span {
          color: #cc4a0b;
          font-size: 14px;
          font-weight: 700;
        }
        s {
          color: #aaaaaa;
        }
      }
      .cart {
        font-size: 16px;
        color: #cc4a0b;
      }
    }

    .name {
      font-size: 12px;
    }
  }
  .col-1 {
    .item {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      padding: 10px;
      .i-wrapper {
        width: 50%;
      }
    }

    .content {
      width: 100%;
      margin-left: 10px;

      .name {
        font-size: 12px;
      }

      .desc {
        color: #ccc;
      }

      .price {
        display: flex;
        flex-direction: row;
        bottom: 8px;
      }
    }
  }

  .col-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 50%;
      padding: 10px;
      .content {
        width: 100%;

        .name {
          font-size: 12px;
          color: #6c6c6c;
          display: inline-block;
          height: 36px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }

        .desc {
          color: #ccc;
        }

        .price {
          display: flex;
          flex-direction: row;
          bottom: 8px;
        }
      }
    }

    .price {
      display: flex;
      flex-direction: row;
      bottom: 8px;
    }
  }

  .col-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 33%;
      padding: 10px;
      .content {
        width: 100%;
        .name {
          color: #6c6c6c;
          font-size: 12px;
          height: 34px;
          overflow: hidden;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }
        .desc {
          color: #ccc;
        }
        .price {
          display: flex;
          flex-direction: row;
          bottom: 8px;
        }
      }
    }
  }
  .col-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 25%;
      padding: 10px;
      .content {
        width: 100%;
        .name {
          color: #6c6c6c;
          font-size: 12px;
          display: inline-block;
          height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }
        .desc {
          color: #ccc;
        }
        .price {
          display: flex;
          flex-direction: row;
          bottom: 8px;
        }
      }
    }
  }
}
</style>
