<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100" :model="element">
          <FormItem label="标语类型" class="ivu-form-item-required">
            <RadioGroup v-model="element.data.style.sloganType">
              <Radio label="0">文字标语</Radio>
              <Radio label="1">图片标语</Radio>
            </RadioGroup>
          </FormItem>
          <h4 class="configTitlte">楼层基础配置</h4>
          <FormItem label="楼层高度" class="ivu-form-item-required">
            <RadioGroup v-model="element.data.style.height">
              <Radio :label="35">低</Radio>
              <Radio :label="45">中</Radio>
              <Radio :label="55">高</Radio>
            </RadioGroup>
          </FormItem>
          <floorConfig :styleData="element.data.style"></floorConfig>
          <div v-if="element.data.style.sloganType=='0'">
            <h4 class="configTitlte">内容样式配置</h4>
            <FormItem label="交互样式" class="ivu-form-item-required">
              <RadioGroup v-model="element.data.style.column" @on-change="columnChange">
                <Radio label="2">一行两个</Radio>
                <Radio label="3">一行三个</Radio>
                <Radio label="4">一行四个</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="对齐方式">
              <RadioGroup v-model="element.data.style.align">
                <Radio label="center">居中</Radio>
                <Radio label="space-evenly">均匀</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="字体大小">
              <RadioGroup v-model="element.data.items[0].fontSize">
                <Radio label="10">小</Radio>
                <Radio label="12">中</Radio>
                <Radio label="14">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="字体颜色">
              <ColorPicker v-model="element.data.style.fontColor" />
              <Button v-model="resetFtColorValue" @click="resetFtColor" class="resetBtn">重置</Button>
            </FormItem>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="跳转链接">
            <RadioGroup v-model="linkSelect" @on-change="linkChange">
              <Radio label="0">无</Radio>
              <Radio label="1">有</Radio>
            </RadioGroup>
          </FormItem>
        
        </Form>
        <div v-if="element.data.style.sloganType=='0'">
          <Row v-for="(item,index) in element.data.items" :key="index">
            <Col span="24">
              <Form :ref="'items' + index" :model="item" :rules="ruleValidate" :label-width="100">
                <FormItem label="编辑宣传词" class="ivu-form-item-required" prop="text">
                  <Row>
                    <Col span="20"><Input v-model="item.text" placeholder="请输入宣传词" /></Col>
                    <Col span="20" v-if="linkSelect=='1'">
                    <linkType :linkInfo="item"></linkType>
                    </Col>
                  </Row>
                  
                </FormItem>
              </Form>
            </Col>
          </Row>
        </div>
        <div v-else>
          <Form :label-width="100">
          <FormItem label="上传图片" class="ivu-form-item-required">
            <Row>
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="element.data.items[0].imgUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="handleSuccess"
                ></ImageUpload>
              </Col>
              <Col span="14">
                <Alert>图片宽度1125px,高度{{element.data.style.height*3}}px</Alert>
              </Col>
            </Row>
          </FormItem>
          </form>
        </div>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "sloganEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      sloganText: "",
      resetFtColorValue: this.element.data.style.fontColor,
      linkSelect: "0",
      ruleValidate: {
        text: [
          {
            required: true,
            message: "输入框不能为空",
            trigger: "blur"
          }
        ]
      },
      // ruleLinkValidate: {
      //   link: [
      //     {
      //       required: true,
      //       message: "链接地址不能为空",
      //       trigger: "blur"
      //     },
      //     {
      //       type: "url",
      //       message: "请输入正确的url",
      //       trigger: "blur"
      //     }
      //   ]
      // }
    };
  },
  methods:{
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    
    resetFtColor() {
      this.element.data.style.fontColor = this.resetFtColorValue;
    },
   
    columnChange() {
      let sloganColumn = this.element.data.style.column;
      let itemsLength = this.element.data.items.length;
      let addOption = {
        type: "text",
        text: "宣传标语",
        prefixSpace: "6", //圆点和文本间距
        prefixDoteRadius: "2", //圆点半径
        textColor: "#333333",
        fontSize: "10",
        jumpLinkInfo: {
          linkType: "0", //跳转类型
          identityId: "", //跳转页面的链接
          linkUrl: "",
        },
        style: {
          bgColor: "",
          height: 35,
          margin: ["0", "0", "0", "0"],
        }
      };

      if (itemsLength < sloganColumn) {
        for (let i = 0; i < sloganColumn - itemsLength; i++) {
          this.element.data.items.push(addOption);
        }
      } else {
        this.element.data.items.splice(sloganColumn);
      }
    },

    handleSuccess(res) {
      this.$set(this.element.data.items[0], "imgUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (
        img.width != 1125 ||
        img.height != this.element.data.style.height * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.element.data.style.height * 3 +
          "px的图片！"
        );
      }

      return null;
    },
    linkChange() {
      if (this.linkSelect == "0") {
        for(let i=0;i<this.element.data.items.length;i++){
        this.element.data.items[i].linkUrl = "";
        this.element.data.items[i].identityId = "";
        }
        
      }
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.height": {
      handler: function(newer, older) {
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.element.data.items[i].height = newer;
        }
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.style.fontColor": {
      handler: function(newer, older) {
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.$set(this.element.data.items[i], "textColor", newer);
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.sloganType": {
      handler: function(newer, older) {
        this.element.data.items.splice(0);
        if (newer === "0") {
          for (let i = 0; i < this.element.data.style.column; i++) {
            this.element.data.items.push({
              type: "text",
              text: "宣传标语",
              prefixSpace: "6", //圆点和文本间距
              prefixDoteRadius: "2", //圆点半径
              textColor: "#333333",
              fontSize: "10",
              jumpLinkInfo: {
                linkType: "0", //跳转类型
                identityId: "", //跳转页面的链接
                linkUrl: "",
              },
              style: {
                bgColor: "",
                height: 35,
                margin: ["0", "0", "0", "0"],
              }
            });
          }
        } else {
          this.element.data.items.push({
            type: "image",
            pictureUrl: "",
            jumpLinkInfo: {
              linkType: "0", //跳转类型
              identityId: "", //跳转页面的链接
              linkUrl: "",
            },
            style: {
              bgColor: "#ffffff",
              height: "",
              margin: ["0", "0", "0", "0"]
            }
          });
        }
      },
      deep: true, // 开启深度监听
      immediate: false
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
</style>