<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100" :model="element">
          <FormItem label="楼层高度">
            <RadioGroup v-model="element.data.items[0].style.height">
              <Radio :label="35">低</Radio>
              <Radio :label="50">中</Radio>
              <Radio :label="65">高</Radio>
            </RadioGroup>
          </FormItem>
          <floorConfig :styleData="element.data.style"></floorConfig>
          <FormItem label="字体颜色">
            <ColorPicker v-model="element.data.items[0].style.fontColor" />
            <Button v-model="resetFontColorValue" @click="resetFontColor" class="resetBtn">重置</Button>
          </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100" :model="element.data.items[0]" :rules="ruleValidate">
          <FormItem label="提示文字" class="ivu-form-item-required" prop="tipText">
            <Row>
              <Col span="16">
                <Input v-model="element.data.items[0].tipText" placeholder="请输入提示文字" />
              </Col>
            </Row>
          </FormItem>
          <FormItem label="链接地址" class="ivu-form-item-required">
            <linkType :linkInfo="element.data.items[0]"></linkType>
          </FormItem>
          <FormItem label="箭头图片" class="ivu-form-item-required" prop="arrowImgUrl">
            <Row>
              <Col span="5">
                <ImageUpload
                  :imageUrl.sync="element.data.items[0].arrowImgUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="handleSuccess"
                ></ImageUpload>
              </Col>
              <Col span="19">
                <Alert show-icon>图片宽36px，高36px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "bottomTipsEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      resetFontColorValue: this.element.data.items[0].style.fontColor,
      ruleValidate: {
        tipText: {
          required: true,
          message: "提示文字不能为空",
          trigger: "blur"
        },
        arrowImgUrl: [
          {
            required: true,
            message: "请上传图片",
            trigger: "blur"
          }
        ]
      }
    };
  },
  computed: {},
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    resetFontColor() {
      this.element.data.items[0].style.fontColor = this.resetFontColorValue;
    },

    handleSuccess(res) {
      this.$set(this.element.data.items[0], "imgUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (img.width !== 36 || img.height !== 36) {
        return "请上传宽36px，高36px的图片！";
      }

      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}
</style>