<template>
  <div
    class="bottomTip_bar"
    :style="{height:element.data.items[0].style.height+'px',lineHeight:element.data.items[0].style.height+'px',backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <a href="javascript:void(0)" class="linkStyle">
      <span>{{element.data.items[0].tipText}}</span>
      <img
        class="arrowImg"
        :src="element.data.items[0].arrowImgUrl?element.data.items[0].arrowImgUrl:defaultImgUrl"
        alt
      />
    </a>
  </div>
</template>

<script>
export default {
  name: "bottomTips",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "https://m.360buyimg.com/babel/jfs/t1/61752/18/12612/741/5d9fd606Ec5ad7bb8/542bb2842033ae14.png"
    };
  }
};
</script>

<style lang="less" scoped>
.bottomTip_bar {
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    text-align: center;
  }
}
.arrowImg {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  vertical-align: middle;
}
.linkStyle:hover {
  color: #515a6e;
}
</style>