<template>
   <Tabs :animated="false" v-model="tabValue">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :model="element" :label-width="100">
          <h4 class="configTitlte">楼层基础配置</h4>
          <FormItem label="楼层高度" class="ivu-form-item-required">
            <InputNumber :max="100" :min="20" v-model="element.data.items[0].style.height"></InputNumber>
            <small>(20-100的数字)</small>
          </FormItem>
          <floorConfig :styleData="element.data.style"></floorConfig>
          <h4 class="configTitlte">内容样式配置</h4>
          <FormItem label="显示内容">
            <Checkbox v-model="element.data.items[0].subTitleShow" @on-change="subTitleChange">副标题</Checkbox>
            <Checkbox v-model="element.data.items[0].linkShow" @on-change="linkShowChange">右侧链接</Checkbox>
          </FormItem>
          <div v-if="element.data.items[0].linkShow">
            <FormItem label="链接方式">
              <RadioGroup v-model="element.data.items[0].linkStyle" @on-change="linkStyleChange">
                <Radio label="0">文字链接</Radio>
                <Radio label="1">图片链接</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="链接颜色" v-if="element.data.items[0].linkStyle=='0'">
              <ColorPicker v-model="element.data.items[0].linkColor" />
              <Button v-model="resetLinkColorValue" @click="resetLinkColor" class="resetBtn">重置</Button>
            </FormItem>
          </div>
          <FormItem
            label="主标题位置"
            v-show="element.data.items[0].subTitleShow==false&&element.data.items[0].linkShow==false"
          >
            <RadioGroup v-model="element.data.items[0].align">
              <Radio label="left">居左</Radio>
              <Radio label="center">居中</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="主标题字号">
            <Input v-model="element.data.items[0].fontSize" class="inputSetting" type="number" />
          </FormItem>
          <FormItem label="主标题加粗">
            <RadioGroup v-model="element.data.items[0].fontWeight">
              <Radio label="normal">正常</Radio>
              <Radio label="bold">加粗</Radio>
            </RadioGroup>
          </FormItem>

          <FormItem label="主标题颜色">
            <ColorPicker v-model="element.data.items[0].titleColor" />
            <Button v-model="resetTitleColorValue" @click="resetTitleColor" class="resetBtn">重置</Button>
          </FormItem>
          <div v-show="element.data.items[0].subTitleShow">
            <FormItem label="副标题字号">
              <Input
                v-model="element.data.items[0].subFontSize"
                class="inputSetting"
                type="number"
              />
            </FormItem>
            <FormItem label="副标题颜色">
              <ColorPicker v-model="element.data.items[0].subTitleColor" />
              <Button
                v-model="resetSubTitleColorValue"
                @click="resetSubTitleColor"
                class="resetBtn"
              >重置</Button>
            </FormItem>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :model="element.data.items[0]" :rules="ruleValidate" :label-width="100">
          <FormItem label="主标题" class="ivu-form-item-required" prop="title">
            <Input v-model="element.data.items[0].title" class="width180" />
          </FormItem>
          <FormItem
            label="副标题"
            class="ivu-form-item-required"
            v-if="element.data.items[0].subTitleShow"
            prop="subTitle"
          >
            <Input v-model="element.data.items[0].subTitle" class="width180" />
          </FormItem>

          <div v-show="element.data.items[0].linkShow">
            <FormItem
              label="链接文字"
              class="ivu-form-item-required"
              v-show="element.data.items[0].linkStyle=='0'"
              prop="enterText"
            >
              <Input v-model="element.data.items[0].enterText" :maxlength="6" class="width180" />
            </FormItem>
            <FormItem label="链接地址" class="ivu-form-item-required">
              <linkType :linkInfo="element.data.items[0]"></linkType>
            </FormItem>
            <FormItem label="右侧链接图片">
              <Row>
                <Col span="5">
                  <ImageUpload
                    v-show="element.data.items[0].linkStyle=='0'"
                    :imageUrl.sync="element.data.items[0].arrowImgUrl"
                    :onBeforeUpload="(file, img)=>handleBeforeUpload(file, img,'arrowImgUrl')"
                    :on-success="handleSuccess"
                  ></ImageUpload>
                  <ImageUpload
                    v-show="element.data.items[0].linkStyle=='1'"
                    :imageUrl.sync="element.data.items[0].enterImgUrl"
                    :onBeforeUpload="(file, img)=>handleBeforeUpload(file, img,'enterImgUrl')"
                    :on-success="handleSuccess"
                  ></ImageUpload>
                </Col>
                <Col span="19">
                  <Alert
                    show-icon
                  >图片宽{{element.data.items[0].arrowImgUrl==''?'24':'126'}}px，高{{element.data.items[0].arrowImgUrl==''?'24':'42'}}px，不大于2M</Alert>
                </Col>
              </Row>
            </FormItem>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="楼层定投" name="floorTargeted">
      <div class="form-content" v-if="tabValue=='floorTargeted'">
        <floorTargeted :element="element"></floorTargeted>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "decorateTitleEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
       tabValue: "styleTab",
      resetTitleColorValue: this.element.data.items[0].titleColor,
      resetSubTitleColorValue: this.element.data.items[0].subTitleColor,
      resetLinkColorValue: this.element.data.items[0].linkColor,
      ruleValidate: {
        title: {
          required: true,
          message: "主标题不能为空",
          trigger: "blur"
        },
        subTitle: {
          required: true,
          message: "副标题不能为空",
          trigger: "blur"
        },
        enterText: {
          required: true,
          message: "链接文字不能为空",
          trigger: "blur"
        }
      }
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    resetTitleColor() {
      this.element.data.items[0].titleColor = this.resetTitleColorValue;
    },
    resetSubTitleColor() {
      this.element.data.items[0].subTitleColor = this.resetSubTitleColorValue;
    },
    resetLinkColor() {
      this.element.data.items[0].linkColor = this.resetLinkColorValue;
    },

    subTitleChange(data) {
      if (data == true) {
        this.$set(this.element.data.items[0], "subTitle", "楼层副标题");
      } else {
        delete this.element.data.items[0].subTitle;
      }
    },
    linkShowChange(data) {
      if (data == true) {
        this.linkStyleChange(this.element.data.items[0].linkStyle);
      } else {
        delete this.element.data.items[0].enterText;
        delete this.element.data.items[0].arrowImgUrl;
        delete this.element.data.items[0].enterImgUrl;
      }
    },
    linkStyleChange(data) {
      if (data == "0") {
        delete this.element.data.items[0].enterImgUrl;
        this.$set(this.element.data.items[0], "enterText", "进入");
        this.$set(this.element.data.items[0], "arrowImgUrl", "");
      } else {
        this.$set(this.element.data.items[0], "enterImgUrl", "");
        delete this.element.data.items[0].enterText;
        delete this.element.data.items[0].arrowImgUrl;
      }
    },

    handleSuccess(res) {
      if (this.element.data.items[0].arrowImgUrl) {
        this.$set(this.element.data.items[0], "arrowImgUrl", res.result.path);
      } else {
        this.$set(this.element.data.items[0], "enterImgUrl", res.result.path);
      }
    },
    handleBeforeUpload(file, img, imgurl) {
      if (imgurl == "arrowImgUrl") {
        if (img.width !== 24 || img.height !== 24) {
          return "请上传宽24px，高24px的图片！";
        }
      } else if (imgurl == "enterImgUrl") {
        if (img.width !== 126 || img.height !== 42) {
          return "请上传宽126px，高42px的图片！";
        }
      }
      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.width180 {
  width: 180px;
}
.resetBtn {
  margin-left: 10px;
}
.inputSetting {
  width: 100px;
}
</style>