<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="80" :model="element">
          <FormItem label="列表内容">
            <RadioGroup v-model="element.data.style.listType">
              <Radio label="doctor">医生列表</Radio>
              <Radio label="product">商品列表</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="边距设置">
            <CheckboxGroup v-model="element.data.style.marginType" @on-change="marginTypeChange">
              <Checkbox label="lr">左右边距</Checkbox>
              <Checkbox label="top">上边距</Checkbox>
              <Checkbox label="bottom">下边距</Checkbox>
            </CheckboxGroup>
          </FormItem>

          <div class="doctorContent" v-show="element.data.style.listType==='doctor'">
            <FormItem label="列表倒角">
              <RadioGroup v-model="element.data.items[0].style.corner">
                <Radio label="0">直角</Radio>
                <Radio label="15">圆角</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="列表倒影">
              <RadioGroup v-model="element.data.items[0].style.listShadow">
                <Radio label="false">无</Radio>
                <Radio label="true">有</Radio>
              </RadioGroup>
            </FormItem>
          </div>
          <div class="productContent" v-show="element.data.style.listType==='product'">
            <FormItem label="列表样式">
              <RadioGroup v-model="element.data.items[1].style.column">
                <Radio label="1">一行一个</Radio>
                <Radio label="2">一行两个</Radio>
                <Radio label="3">一行三个</Radio>
                <Radio label="4">一行四个</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="文本对齐">
              <RadioGroup v-model="element.data.items[1].style.align">
                <Radio label="1">左对齐</Radio>
                <Radio label="2">居中对齐</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="商品样式">
              <RadioGroup v-model="element.data.items[1].style.cardStyle">
                <Radio label="1">无边白底</Radio>
                <Radio label="2">卡片投影</Radio>
                <Radio label="3">描边白底</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="商品倒角">
              <RadioGroup v-model="element.data.items[1].style.corner">
                <Radio label="1">直角</Radio>
                <Radio label="2">圆角</Radio>
              </RadioGroup>
            </FormItem>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="60" :model="element">
          <div class="doctorContent" v-show="element.data.style.listType==='doctor'">
            <div slot="content">
              <Alert show-icon>每个标签名称最多可输入4个字符</Alert>
              <div v-for="(item,index) in element.data.items[0].items" :key="index">
                <Form :ref="'items' + index" :model="item" :rules="ruleValidate" :label-width="100">
                  <FormItem :label="'标签'+index" class="ivu-form-item-required" prop="tabText">
                    <Input
                      v-model="item.tabText"
                      :maxlength="4"
                      placeholder="请输入标签名称"
                      style="width:100px;"
                    />
                    <Button class="selectDoctorbtn">选择医生</Button>
                    <Icon type="ios-trash" size="26" class="deleteIcon" @click="deleteItem(index)" />
                  </FormItem>
                </Form>
              </div>

              <div class="addBtn">
                <Button type="primary" @click="addCarousel()" icon="md-add">添加</Button>
              </div>
            </div>
          </div>

          <div class="productContent" v-show="element.data.style.listType==='product'">
            <FormItem label="商品来源">
              <RadioGroup v-model="element.data.items[1].style.source">
                <Radio label="1">商品</Radio>
                <Radio label="2">商品组</Radio>
              </RadioGroup>
              <Button size="small">选择商品</Button>
            </FormItem>
            <FormItem label="显示内容">
              <CheckboxGroup v-model="element.data.items[1].style.showContent">
                <Checkbox label="1">商品名称</Checkbox>
                <Checkbox label="2">商品描述</Checkbox>
                <Checkbox label="3">商品价格</Checkbox>
                <Checkbox label="4">购买按钮</Checkbox>
                <Checkbox label="5">商品角标</Checkbox>
              </CheckboxGroup>
              <RadioGroup
                v-show="element.data.items[1].style.showContent?element.data.items[1].style.showContent.indexOf('5')!=-1:false"
                v-model="element.data.items[1].style.subscript"
              >
                <Radio label="1">新品</Radio>
                <Radio label="2">热卖</Radio>
                <Radio label="3">NEW</Radio>
                <Radio label="4">HOT</Radio>
              </RadioGroup>
            </FormItem>
          </div>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import productEdit from "../product/edit";
import { mapMutations } from "vuex";
export default {
  name: "tabScrollEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      doctorDataSource: "0",
      productDataSource: "0",
      marginType: [],
      ruleValidate: {
        tabText: [
          {
            required: true,
            message: "标签名称不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            max: 4,
            message: "最多输入4个字符",
            trigger: "blur"
          }
        ]
      }
    };
  },
  components: {
    productEdit: productEdit
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    marginTypeChange() {
      this.element.data.style.padding = [];
      if (this.element.data.style.marginType.indexOf("lr") != -1) {
        this.element.data.style.padding.push("0", "10", "0", "10");
      } else {
        this.element.data.style.padding.push("0", "0", "0", "0");
      }
      if (this.element.data.style.marginType.indexOf("top") != -1) {
        this.$set(this.element.data.style.margin, 0, "5");
      } else {
        this.$set(this.element.data.style.margin, 0, "0");
      }
      if (this.element.data.style.marginType.indexOf("bottom") != -1) {
        this.$set(this.element.data.style.margin, 2, "5");
      } else {
        this.$set(this.element.data.style.margin, 2, "0");
      }
    },

    addCarousel() {
      let arr = [];
      this.element.data.items[0].items.forEach((item, index) => {
        let form = "items" + index;
        this.$refs[form][0].validate(valid => {
          if (valid) {
            arr.push(true);
          } else {
            arr.push(false);
          }
        });
      });
      let flag = arr.every(item => {
        return item === true;
      });
      if (flag) {
        this.element.data.items[0].items.push({
          tabText: "标签名称",
          doctorList: []
        });
      } else {
        this.$Message.error("请填写完整后添加");
      }
    },
    deleteItem(index) {
      this.$Modal.confirm({
        title: "",
        content: "<br/><h3>确定要删除此条数据吗？</h3>",
        onOk: () => {
          this.element.data.items[0].items.splice(index, 1);
        }
      });
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.item {
  margin: 1rem;
}
.selectDoctorbtn,
.deleteIcon {
  margin-left: 5px;
  cursor: pointer;
}
.addBtn {
  text-align: center;
  margin: 40px 0;
}
</style>