<template>
  <div
    :style="{margin:element.data.style.margin[0]+'px 0 '+ element.data.style.margin[2]+'px 0',padding:'0 '+element.data.style.padding[1]+'px 0 '+ element.data.style.padding[3]+'px'}"
  >
    <Tabs :animated="false">
      <TabPane
        v-for="(item, index) in scrollTabList"
        :key="index"
        :label="item.tabText"
        :name="index + ''"
      >
        <!-- 医生列表内容 -->
        <div v-if="element.data.style.listType === 'doctor'">
          <div
            class="tab-content-item"
            v-for="(itemContent, index1) in item.doctorList"
            :key="index1"
            :class="doctorItemStyle"
          >
            <!-- <a href="itemContent.action"> -->
            <a href="javascript:void(0)">
              <div class="tab-content-imgblock">
                <img class="nethp-avatar" :src="itemContent.headImagUrl" alt />
              </div>
              <div class="tab-content-info">
                <div class="c-title">
                  <span class="doctor-name">{{itemContent.doctorName}}</span>
                  <span class="doctor-title-name">主治医师</span>
                </div>
                <div class="doctor-detail">
                  <span>{{itemContent.hospitalName}}</span>
                  <i>|</i>
                  <span>{{itemContent.department}}</span>
                </div>
                <div class="doctor-good">擅长：{{itemContent.skillName}}</div>
                <div class="doctor-tag">
                  <button v-for="(tagItem, index) in itemContent.tagsText" :key="index">{{tagItem}}</button>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- 商品内容 -->
        <div v-show="element.data.style.listType == 'product'">
          <div class="wrapper">
            <div class="col-1" v-show="element.data.items[1].style.column=='1'">
              <!--单列商品-->
              <div class="item">
                <div :class="{'row':true,'inner':element.data.items[1].style.cardStyle=='3'}">
                  <div class="i-wrapper">
                    <img src="../../../../assets/images/jdLogo.png" alt />
                  </div>
                  <div class="content">
                    <div class="name">这里是商品名称</div>
                    <div class="desc">这里是商品描述</div>
                    <div class="price">
                      <div class="c-price">
                        <span>￥100</span>
                      </div>
                      <div class="cart">
                        <Icon type="ios-cart" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2" v-show="element.data.items[1].style.column=='2'">
              <!--双列商品-->
              <div class="item">
                <div :class="{'inner':element.data.items[1].style.cardStyle=='3'}">
                  <div class="i-wrapper">
                    <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                  </div>
                  <div class="content">
                    <div class="name">商品名称</div>
                    <div class="desc">这里是商品描述</div>
                    <div class="price">
                      <div class="c-price">
                        <span>￥100</span>
                      </div>
                      <div class="cart">
                        <Icon type="ios-cart" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div :class="{'inner':element.data.items[1].style.cardStyle=='3'}">
                  <div class="i-wrapper">
                    <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                  </div>
                  <div class="content">
                    <div class="name">商品名称</div>
                    <div class="desc">这里是商品描述</div>
                    <div class="price">
                      <div class="c-price">
                        <span>￥100</span>
                      </div>
                      <div class="cart">
                        <Icon type="ios-cart" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3" v-show="element.data.items[1].style.column=='3'">
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4" v-show="element.data.items[1].style.column=='4'">
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="i-wrapper">
                  <img width="100%" src="../../../../assets/images/jdLogo.png" alt />
                </div>
                <div class="content">
                  <div class="name">商品名称</div>
                  <div class="desc">这里是商品描述</div>
                  <div class="price">
                    <div class="c-price">
                      <span>￥100</span>
                    </div>
                    <div class="cart">
                      <Icon type="ios-cart" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import product from "../product/preview";
export default {
  name: "tabScroll",
  props: ["index", "element"],
  data() {
    return {
      a: 1,
      scrollTabList: []
    };
  },
  components: {
    product: product
  },
  computed: {
    doctorItemStyle() {
      return {
        isBorderRadius: this.element.data.items[0].style.corner != "0",
        listShadow: this.element.data.items[0].style.listShadow === "true"
      };
    }
  },
  methods: {
    changeTab(index) {
      this.activeIndex = index;
    }
  },

  watch: {
    "this.element.data.style.listType": {
      handler: function(newer, older) {
        if (this.element.data.style.listType === "doctor") {
          if (
            this.element.data.items[0].items &&
            this.element.data.items[0].items.length > 0
          ) {
            this.scrollTabList = this.element.data.items[0].items;
          }
        } else if (this.element.data.style.listType === "product") {
          if (
            this.element.data.items[1].items &&
            this.element.data.items[1].items.length > 0
          ) {
            this.scrollTabList = this.element.data.items[1].items;
          }
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style scoped lang="less">
.isBorderRadius {
  border-radius: 15px;
}
.listShadow {
  box-shadow: 0 2px 10px 0 rgba(186, 186, 186, 0.54);
}
// 医生列表
.arrIcon {
  color: #13c5b3;
  font-size: 14px;
  margin-left: 3px;
}
/deep/.ivu-tabs-tab-active {
  color: #13c5b3;
}
/deep/.ivu-tabs-ink-bar {
  height: 2px;
  background-color: #13c5b3;
}
.tab-content-item {
  margin: 16px 10px 2px;
  border: 1px solid #eee;

  margin-bottom: 16px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
  }
}
.tab-content-imgblock {
  position: relative;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  overflow: hidden;
}
.tab-content-imgblock .nethp-bg {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  width: 100%;
}
.tab-content-imgblock .nethp-avatar {
  width: 5vw;
  height: 5vw;
  margin: 5px 10px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  border: 3px solid #13c5b3;
  box-sizing: border-box;
  position: relative;
  max-width: 1000px;
}
.tab-content-info {
  overflow: hidden;
}
.tab-content-info .c-title {
  font-size: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #313131;
}
.tab-content-info .doctor-name {
  font-weight: 700;
  margin-right: 10px;
}
.doctor-detail {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 2px;
  color: #333;
}
.doctor-detail i {
  margin: 0 8px;
  font-style: normal;
}
.doctor-good {
  color: #626262;
  font-size: 12px;
  line-height: 1.6;
  max-width: 23rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.doctor-tag {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.doctor-tag button {
  vertical-align: middle;
  font-size: 12px;
  background-color: #f5f5f5;
  color: #13c5b3;
  border-radius: 100px;
  padding: 3px 8px;
  margin-right: 8px;
  border: none;
  outline: 0;
}

// 商品

.wrapper {
  display: flex;
  flex-direction: row;
  .item {
    .inner {
      border: 1px solid #dcdee2;
    }
  }
  .col-1 {
    .item {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      padding: 10px;

      .i-wrapper {
        width: 50%;
      }
    }

    .content {
      width: 100%;
      margin-left: 10px;

      .name {
        font-size: 14px;
      }

      .desc {
        color: #ccc;
      }

      .price {
        display: flex;
        flex-direction: row;
        bottom: 8px;
      }
    }
  }

  .col-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 50%;
      padding: 10px;
      .content {
        width: 100%;

        .name {
          font-size: 14px;
        }

        .desc {
          color: #ccc;
        }

        .price {
          display: flex;
          flex-direction: row;
          bottom: 8px;
        }
      }
    }

    .price {
      display: flex;
      flex-direction: row;
      bottom: 8px;
    }
  }

  .col-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 33%;
      padding: 10px;

      .content {
        width: 100%;

        .name {
          font-size: 14px;
        }

        .desc {
          color: #ccc;
        }

        .price {
          display: flex;
          flex-direction: row;
          bottom: 8px;
        }
      }
    }
  }

  .col-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 25%;
      padding: 10px;

      .content {
        width: 100%;

        .name {
          font-size: 14px;
        }

        .desc {
          color: #ccc;
        }

        .price {
          display: flex;
          flex-direction: row;
          bottom: 8px;
        }
      }
    }
  }
}
</style>