<!--
  返回顶部 — 预览
 -->
 <template>
        <div class="n-pl-pr clearfix">
            <div class="backtop">
                <div class="back-btn"></div>
            </div>
        </div>
    </template>
    <script>
    export default {
        name: "top",
        props: ['element', 'data'],
        data() {
            return {};
        },
        created() {},
        methods: {}
    };
    </script>
    <style lang="less" scoped>
        .backtop {
            position: absolute;
            bottom: 0px;
            width: 45px;
            height: 45px;
            right: 10px;
            -webkit-tap-highlight-color: #000000;
            -webkit-transition: opacity 0.15s ease-in;
            transition: opacity 0.15s ease-in;
            opacity: 1;
        }
        .backtop .back-btn {
            height: 100%;
            background-image: url(//storage.360buyimg.com/tower/babelnode/static/media/go_top.4b6b5e77.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100%;
        }
    </style>