<template>
    <div>
        <Card style="padding-top: 2rem;">
            <Form :model="formItem" :label-width="100" inline>
                <FormItem label="挂件类型：">
                    <Select
                        v-model="pendantName"
                        filterable
                        placeholder="请选择挂件类型"
                        style="width: 60%;"
                    >
                        <Option
                            v-for="(item, index) in pendantList"
                            :value="item.value"
                            :key="index"
                        >{{ item.name}}</Option>
                    </Select>
                </FormItem>
                <FormItem :label="pendantList[pendantName].labelId + '：'">
                    <Input v-model="navIdInputValue" style="width: 300px" size="large" clearable :placeholder="pendantList[pendantName].labelIdText + '...'"></Input>
                </FormItem>
                <FormItem :label="pendantList[pendantName].labelName + '：'">
                    <Input v-model="navNameInputValue" style="width: 300px" size="large" clearable :placeholder="pendantList[pendantName].labelNameText + '...'"></Input>
                </FormItem>
                <FormItem :label-width="0">
                    <Button
                        size="large"
                        icon="ios-locate-outline"
                        style="margin-right: .5rem;"
                        type="primary"
                    >查询</Button>
                    <Button
                        size="large"
                        icon="md-add"
                        style="margin-right: .5rem;"
                        @click="modal1=true"
                        type="success"
                    >{{pendantList[pendantName].addButtonText}}</Button>
                </FormItem>
            </Form>
        </Card>
        <Divider />
        <Card style="padding: 2rem;">
            <div v-if="navigateData.length > 0">
                <!-- <Table :columns="navigateList" :data="navigateData"></Table>
                 <div style="text-align: center;margin-top: 1rem;">
                    <Page @on-change="getData" :total="totalCount" show-elevator />
                </div> -->
            </div>
            <div v-else class="n-empty">
                <Icon type="ios-cafe-outline" />
                <span>暂无信息</span>
            </div>
        </Card>
        <Modal v-model="modal1" :title="!isEdit? '新增' + pendantList[pendantName].name : '编辑' + pendantList[pendantName].name" @on-ok="saveData" @on-cancel="()=>{}">
            <Alert>仅可配置一组数据</Alert>
            <div>
                <Form :model="formItem" :label-width="100" inline>
                    <FormItem label="上传图片：">
                        <image-upload 
                            :imageUrl.sync= imgUrl
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                            <Alert show-icon>图片宽1125px，不大于2M</Alert>
                    </FormItem>
                </Form>
            </div>
        </Modal>
    </div>
</template>
<script>
import ImageUpload from "../common/ImageUpload"
export default {
    components: {
        "image-upload": ImageUpload
    },
    data() {
        return {
            pendantName: '0',
            pendantList: [
                {
                    value: '0',
                    name: '开屏图',
                    labelId: '开屏图id',
                    labelIdText: '请输入开屏图id',
                    labelName: '开屏图名称',
                    labelNameText: '请输入开屏图名称',
                    addButtonText: '新增开屏图'
                },
                {
                    value: '1',
                    name: '开屏广告',
                    labelId: '开屏广告id',
                    labelIdText: '请输入开屏广告id',
                    labelName: '开屏广告名称',
                    labelNameText: '请输入开屏广告名称',
                    addButtonText: '新增开屏广告'
                },
                {
                    value: '2',
                    name: '二楼广告',
                    labelId: '二楼广告id',
                    labelIdText: '请输入二楼广告id',
                    labelName: '二楼广告名称',
                    labelNameText: '请输入二楼广告名称',
                    addButtonText: '新增二楼广告'
                }
            ],
            modal1: false,
            isEdit: false,
            imgUrl: '',

            page: {
                name: '',
                description: '',
                id: '',
                identityId: null,
                type: ''
            },
            maxNavigateCount: 5,
            minNavigateCount: 3,
            navigateCount: 3,
            panel: [0, 1, 2],
            navigateInfo: {
                style: {
                    titleShow: '1',//1展示标题 2不展示标题
                    titleColor: "#333333",
                    selectColor: "#f00000"
                },
                data: [
                    {
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/20983/16/10753/6124/5c8a16aaE5d6b15d7/01e0e818a7505267.png",
                        selectImages: "",
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: ""
                        }
                    },
                    {
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/17169/3/4127/4611/5c2f35cfEd87b0dd5/65c0cdc1362635fc.png",
                        selectImages: "",
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: ""
                        }
                    },
                    {
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/22262/9/1470/4527/5c120cd0E5d3c6c66/4792ec307a853e9f.png",
                        selectImages: "",
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: ""
                        }
                    }
                ]
            },
            navigateList: [
                {
                    title: "导航id",
                    key: "id",
                    width: "100px",
                    align: "center"
                },
                {
                    title: "导航名称",
                    key: "name",
                    width: "260px",
                    align: "center"
                },
                {
                    title: "导航描述",
                    key: "description",
                    align: "center"
                },
                {
                    title: "创建者",
                    key: "createUser",
                    width: "200px",
                    align: "center"
                },
                {
                    title: "状态",
                    key: "state",
                    width: "100px",
                    align: "center",
                    render: (h, params) => {
                        return h("div", [
                            params.row.state == 0?'未上线':'已上线'
                        ])
                  }
                },
                {
                    title: "创建时间/修改时间",
                    key: "createTime",
                    align: "center"
                },
                {
                    title: "操作",
                    key: "option",
                    render: (h, params) => {
                        return h("div", [
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small",
                                        disabled: (params.row.state == 1)
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定上线此条页面数据</p>",
                                                onOk: () => {
                                                    this.onlineData(params.row.id);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "上线"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.row.id);
                                        }
                                    }
                                },
                                "编辑"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small",
                                        disabled: (params.row.type == 1)
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.setHomeNav(params.row.id);
                                        }
                                    }
                                },
                                "主页导航"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "error",
                                        size: "small"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定删除此条页面数据</p>",
                                                onOk: () => {
                                                    this.delete(params.row.id);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "删除"
                            )
                        ]);
                    }
                }
            ],
            navigateData: [],
            formItem: {},
            formValidate: {},
            validate: {},
            totalCount: 0,
            pageNo: 1,
            
            navIdInputValue: '',
            navNameInputValue: ''
        };
    },
    mounted() {},
    methods: {
        edit(id) {
            this.modelTitle = '编辑导航'
            this.modal1 = true
            this.getDataById(id)
        },
        resetColor(index) {
            if(index == 0){
                this.navigateInfo.style.titleColor = "#333333";
            }else{
                this.navigateInfo.style.selectColor = "#f00000";
            }
        },
        onBeforeUpload(file, img) {
            if (img.width !== 1125) {
                return "图片宽度必须是1125px";
            }
            return null;
        },
        saveData() {},
        getData(v, id, name) {},
        getDataById(id) {},
        onlineData(id){},
        setHomeNav(id) {},
        resetForm() {}
    }
};
</script>
<style lang="less" scoped>
.n-empty {
    text-align: center;
    /deep/ .ivu-icon-ios-cafe-outline {
        font-size: 40px;
        display: block;
    }
    span {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        display: block;
    }
}
.n-card {
    border: 1px solid #e8e8e8;
    padding: 10px;
    .n-set-vertical-scroll {
        .ivu-tabs {
            height: auto;
        }
        .n-delete {
            float: right;
            margin-right: 15px;
        }
    }
}
/deep/ .ivu-form-item {
    margin-bottom: 10px;
}

</style>
