<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <floorConfig :styleData="data.style"></floorConfig>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
export default {
    props: ["element", "data"],
}
</script>