<template>
  <Tabs :animated="false" v-model="tabValue">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="80">
          <FormItem label="楼层高度">
            <RadioGroup v-model="customHeight">
              <Radio :label="130">低(130)</Radio>
              <Radio :label="170">中(170)</Radio>
              <Radio :label="260">高(260)</Radio>
              <Radio label="custom">自定义</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem v-if="customStyle=='customValue'">
            <InputNumber v-model="element.data.ext.style.itemHeight"></InputNumber>
          </FormItem>
          <floorConfig :styleData="element.data.style"></floorConfig>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="80">
          <h4 class="configTitlte">导航配置</h4>
          <br />
          <FormItem label="标题图片">
            <Row>
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="element.data.bannerOther.bannerNav.titleImgUrl"
                  :onBeforeUpload="titleImgUrlBeforeUpload"
                  :on-success="titleImgUrlSuccess"
                ></ImageUpload>
              </Col>
              <Col span="18">
                <Alert show-icon>图片宽315px，高60px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="购物车图标">
            <Row>
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="element.data.bannerOther.bannerNav.shopInfo.pictureUrl"
                  :onBeforeUpload="shopImgUrlBeforeUpload"
                  :on-success="shopImgUrlSuccess"
                ></ImageUpload>
              </Col>
              <Col span="18">
                <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="购物车跳转">
            <linkType :linkInfo="element.data.bannerOther.bannerNav.shopInfo"></linkType>
          </FormItem>
          <FormItem label="消息图标">
            <Row>
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="element.data.bannerOther.bannerNav.messageInfo.pictureUrl"
                  :onBeforeUpload="messageImgUrlBeforeUpload"
                  :on-success="messageImgUrlSuccess"
                ></ImageUpload>
              </Col>
              <Col span="18">
               <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="消息跳转">
           <linkType :linkInfo="element.data.bannerOther.bannerNav.messageInfo"></linkType>
          </FormItem>
          <h4 class="configTitlte">搜索框配置</h4>
          <br />
          <FormItem label="搜索图标">
            <Row>
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="element.data.bannerOther.bannerSearch.searchImgUrl"
                  :onBeforeUpload="searchImgUrlBeforeUpload"
                  :on-success="searchImgUrlSuccess"
                ></ImageUpload>
              </Col>
               <Col span="18">
               <Alert show-icon>图片宽45px，高45px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="搜索文案">
            <Input
              v-model="element.data.bannerOther.bannerSearch.searchText"
              placeholder="展示文案"
              style="width: 300px"
            />
          </FormItem>

          <h4 class="configTitlte">轮播图配置</h4>
          <br />
          <div v-show="element.data.items.length>0">
            <!-- <Row class="headTitle">
              <Col span="4">上传图片</Col>
              <Col span="17">跳转地址</Col>
              <Col span="3">操作</Col>
            </Row>-->
            <Row v-for="(item,index) in element.data.items" :key="index" class="listRow">
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="item.pictureUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="(res)=> handleSuccess(res,index)"
                ></ImageUpload>
              </Col>
              <Col span="17">
                <linkType :linkInfo="item"></linkType>
              </Col>
              <Col span="3">
                <Icon type="ios-trash" size="26" class="deleteIcon" @click="deleteItem(index)" />
              </Col>
            </Row>

            <Alert
              show-icon
              v-show="alertImgSize"
            >图片宽1125px，高{{(element.data.ext.style.itemHeight-element.data.style.padding[0]*2)*3}}px，不大于2M</Alert>
          </div>
          <div class="addBtn">
            <Button type="primary" @click="addCarousel()" icon="md-add">添加</Button>
          </div>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "overlapEdit",
  props: ["index", "element", "incId", "pageIdentityId"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      tabValue: "styleTab",
      customStyle: "",
      alertImgSize: true
    };
  },
  computed: {
    customHeight: {
      get: function() {
        if (
          this.element.data.ext.style.itemHeight == "130" ||
          this.element.data.ext.style.itemHeight == "170" ||
          this.element.data.ext.style.itemHeight == "260"
        ) {
          this.customStyle = "";
          return this.element.data.ext.style.itemHeight;
        } else {
          this.customStyle = "customValue";
          return "custom";
        }
      },
      set: function(newValue) {
        if (newValue != "custom") {
          this.$set(this.element.data.ext.style, "itemHeight", newValue);
        } else {
          this.customStyle = "customValue";
        }
      }
    }
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },

    addCarousel() {
      let flag = false;
      let itemsList = this.element.data.items;
      if (itemsList.length > 0) {
        for (let i = 0; i < itemsList.length; i++) {
          if (
            itemsList[i].jumpLinkInfo.linkType == "0" &&
            itemsList[i].jumpLinkInfo.linkUrl == ""
          ) {
            this.$Message.error("请完善第" + (i + 1) + "条的输入框");
            flag = false;
            return;
          } else if (
            itemsList[i].jumpLinkInfo.linkType == "1" &&
            itemsList[i].jumpLinkInfo.identityId == ""
          ) {
            this.$Message.error("请选择第" + (i + 1) + "条要跳转的页面");
            flag = false;
            return;
          } else {
            flag = true;
          }
        }
      } else {
        flag = true;
      }

      if (flag == true) {
        this.element.data.items.push({
          type: "image",
          pictureUrl: "", //图片链接
          jumpLinkInfo: {
            linkType: "0", //跳转类型
            identityId: "", //跳转页面的链接
            linkUrl: ""
          }
        });
      } else {
      }
    },
    deleteItem(index) {
      this.$Modal.confirm({
        title: "",
        content: "<br/><h3>确定要删除此条数据吗？</h3>",
        onOk: () => {
          this.element.data.items.splice(index, 1);
        }
      });
    },

    // 导航栏上传图片
    titleImgUrlBeforeUpload(){
        if (img.width != 315 || img.height != 60) {
        return "请上传宽315px，高60px的图片！";
      }
      return null;
    },
    titleImgUrlSuccess(res) {
      this.$set(
        this.element.data.bannerOther.bannerNav,
        "titleImgUrl",
        res.result.path
      );
    },
    shopImgUrlBeforeUpload(){
        if (img.width != 60 || img.height != 60) {
        return "请上传宽60px，高60px的图片！";
      }
      return null;
    },
    shopImgUrlSuccess(res) {
      this.$set(
        this.element.data.bannerOther.bannerNav.shopInfo,
        "pictureUrl",
        res.result.path
      );
    },
    messageImgUrlBeforeUpload(){
        if (img.width != 60 || img.height != 60) {
        return "请上传宽60px，高60px的图片！";
      }
      return null;
    },
    messageImgUrlSuccess(res) {
      this.$set(
        this.element.data.bannerOther.bannerNav.messageInfo,
        "pictureUrl",
        res.result.path
      );
    },
    
    searchImgUrlBeforeUpload(){
        if (img.width != 45 || img.height != 45) {
        return "请上传宽45px，高45px的图片！";
      }
      return null;
    },
    searchImgUrlSuccess(res) {
      this.$set(
        this.element.data.bannerOther.bannerSearch,
        "searchImgUrl",
        res.result.path
      );
    },

    // 轮播图上传图片
    handleSuccess(res, index) {
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !==
          (this.element.data.ext.style.itemHeight -
            this.element.data.style.padding[0] * 2) *
            3
      ) {
        return (
          "请上传宽1125px，高" +
          (this.element.data.ext.style.itemHeight -
            this.element.data.style.padding[0] * 2) *
            3 +
          "px的图片！"
        );
      }
      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.itemHeight": {
      handler: function(newer, older) {
        this.element.data.ext.style.aspectRatio = 1125 / (newer * 3);
        this.element.data.style.aspectRatio = 1125 / (newer * 3);
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}

// .headTitle {
//   font-size: 12px;
//   height: 40px;
//   line-height: 40px;
//   margin-bottom: 20px;
//   text-align: center;
//   background-color: #eee;
// }
.listRow {
  text-align: center;
}

.deleteIcon {
  margin-top: 5px;
  cursor: pointer;
}
.addBtn {
  text-align: center;
  margin: 40px 0;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: 1px dotted #dddddd;
  box-shadow: none;
  margin-top: -6px;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
.ivu-upload-drag {
  border: 0;
}
</style>
