<template>
  <div
    class="carousel-container"
    :style="{height:element.data.ext.style.itemHeight+'px',backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="carousel-wrap">
      <Carousel
        v-if="refresh"
        v-model="value"
        :autoplay="setting.autoplay"
        :autoplay-speed="setting.autoplaySpeed"
        :radius-dot="element.data.style.indicatorStyle==='none'?true:false"
        :arrow="setting.arrow"
        :loop="element.data.style.infinite"
      >
        <CarouselItem
          class="carousel-wrap-item"
          v-for="(item, index) in element.data.items"
          :key="index"
        >
          <a href="javascript:void(0)">
            <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
          </a>
        </CarouselItem>
      </Carousel>
    </div>
    <div class="c-header">
      <div class="c-header-left" v-if="element.data.bannerOther.bannerNav.positionShow==true">
        <span>
          <img
            src="https://m.360buyimg.com/pop/jfs/t1/96619/40/10713/1572/5e1dbef5Ed0f668c7/dc578d40e71bccad.png"
            alt
          />
        </span>
        <span>北京</span>
        <span class="arrow">
          <img
            src="https://m.360buyimg.com/pop/jfs/t1/101973/32/10605/332/5e1dbeceE5e2f57a5/c77efdb18c81de40.png"
            alt
          />
        </span>
      </div>
      <div class="c-header-center">
        <div class="title-img">
          <img :src="element.data.bannerOther.bannerNav.titleImgUrl" />
        </div>
      </div>
      <div class="c-header-right">
        <span class="functionIcon">
          <img :src="element.data.bannerOther.bannerNav.shopInfo.pictureUrl" class="iconImg" />
        </span>
        <span class="more">
          <img :src="element.data.bannerOther.bannerNav.messageInfo.pictureUrl" class="iconImg" />
        </span>
      </div>
    </div>
    <div class="search-wrap">
      <div class="search-content">
        <img :src="element.data.bannerOther.bannerSearch.searchImgUrl" alt />
        <span>{{element.data.bannerOther.bannerSearch.searchText}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "overlap",
  props: ["index", "element"],
  data() {
    return {
      value: 0,
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
      refresh: true,
      setting: {
        autoplay: true,
        autoplaySpeed: 3000,
        arrow: "never"
      }
    };
  },
  watch: {
    "element.data.items": {
      handler: function(newer, older) {
        this.refresh = false;
        setTimeout(() => {
          this.refresh = true;
        }, 100);
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.carousel-container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .carousel-wrap {
    height: 100%;
    overflow: hidden;
    &-item {
      a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .c-header {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    // height: 22px;
    justify-content: center;
    padding: 0 12px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &-left {
      width: 70px;
      span {
        display: inline-block;
        color: #ffffff;
        margin-right: 4px;
        vertical-align: top;
        font-size: 16px;
        img {
          display: block;
          width: 18px;
          height: 18px;
          vertical-align: top;
        }
      }
      .arrow img {
        width: 7px;
        height: 3px;
        margin-top: 12px;
      }
    }
    &-center {
      flex: 1;
      text-align: center;
      .title-img {
        width: 105px;
        height: 20px;
        margin: 0 auto;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    &-right {
      width: 70px;
      font-size: 22px;
      text-align: right;
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        img {
          width: 100%;
          height: 100%；;
        }
      }
      .functionIcon {
        display: inline-block;
        margin-right: 10px;
      }
      .more {
        display: inline-block;
      }
    }
  }
  .search-wrap {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0 12px;
    .search-content {
      width: 100%;
      height: 45px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 100px;
      line-height: 45px;
      padding: 0 20px;
      img {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 6px;
      }
      span {
        color: #aaaaaa;
        font-size: 15px;
      }
    }
  }
}

/deep/.ivu-carousel-dots li button {
  width: 10px;
}
/deep/.ivu-carousel-dots li.ivu-carousel-active > button {
  width: 13px;
}
/deep/.ivu-carousel-dots li button.radius {
  width: 6px;
}
/deep/.ivu-carousel-dots li.ivu-carousel-active button.radius {
  width: 6px;
}
</style>
