<template>
  <div class="netAdvert-content">
    <Form :label-width="100" class="ivu-form-item-required">
      <FormItem label="数据类型">
        <Row>
          <Col span="20">
            <Select v-model="element.data.ext.dataSourceType2" @on-change="dataSourceType2Change">
              <Option
                v-for="(item,index) in advertList"
                :value="item.dictValue"
                :key="index"
              >{{ item.dictName }}</Option>
            </Select>
          </Col>
        </Row>
      </FormItem>
      <FormItem v-if="element.data.ext.dataSourceType2!=''">
        <Row v-for="(item,index) in dataSourceList" :key="index" style="margin-bottom:20px;">
          <Col span="4">{{item.name}}</Col>
          <Col span="16">
            <Form :ref="'items' + index" :model="item" :rules="dictValueValidate" :label-width="80">
              <FormItem :label-width="0" prop="dictValue">
                <Input type="text" v-model="item.dictValue" placeholder="请输入value"></Input>
              </FormItem>
            </Form>
          </Col>
        </Row>
      </FormItem>
      <FormItem>
        <Button type="primary" @click="queryAdvertInfo">查询</Button>
      </FormItem>
      <div
        class="materialBtns"
        v-if="element.data.ext.dataSourceType2=='101101'&&advertGroupShow==false"
      >
        <Button type="primary" icon="md-add" @click="()=>{this.addAdvertModal = true;}">新建广告组</Button>
        <Button type="success" icon="md-infinite" @click="relationAdvertGroupBtn">关联广告组</Button>
      </div>
      <div
        class="materialBtns"
        v-if="element.data.ext.dataSourceType2=='101102'&&productGroupShow==false"
      >
        <Button type="primary" icon="md-add" @click="()=>{this.addProductModal = true;}">新建商品组</Button>
        <Button type="success" icon="md-infinite" @click="relationProductGroupBtn">关联商品组</Button>
      </div>
      <!-- 显示创建后或者关联后的广告组信息 -->
      <div class="advertGroup" v-if="advertGroupShow">
        <Row class="headTitle">
          <Col span="4">广告组</Col>
          <Col span="6" offset="12">操作</Col>
        </Row>
        <Row>
          <Col span="18">广告组ID：{{advertForm.advertId}}</Col>
          <Col span="6">
            <Button type="success" size="small" ghost @click="editAdvert">编辑广告组</Button>
          </Col>
        </Row>
        <Row>
          <Col span="18">名称：{{advertForm.advertName}}</Col>
          <Col span="6">
            <Button type="primary" size="small" ghost @click>录入广告</Button>
          </Col>
        </Row>
        <Row>
          <Col span="18">展示数量：{{advertForm.advertNumber}}</Col>

          <Col span="6" class="operationBtns">
            <Button type="error" size="small" ghost @click="canselRelation('advert')">取消关联</Button>
          </Col>
        </Row>
      </div>
      <!-- 显示创建后或者关联后的商品组信息 -->
      <div class="advertGroup" v-if="productGroupShow">
        <Row class="headTitle">
          <Col span="4">商品组</Col>
          <Col span="6" offset="12">操作</Col>
        </Row>
        <Row>
          <Col span="18">商品组ID：{{productForm.productId}}</Col>
          <Col span="6">
            <Button type="success" size="small" ghost @click="editProduct">编辑商品组</Button>
          </Col>
        </Row>
        <Row>
          <Col span="18">名称：{{productForm.productName}}</Col>
          <Col span="6">
            <Button type="primary" size="small" ghost @click>录入广告</Button>
          </Col>
        </Row>
        <Row>
          <Col span="18">展示数量：{{productForm.productNumber}}</Col>

          <Col span="6" class="operationBtns">
            <Button type="error" size="small" ghost @click="canselRelation('product')">取消关联</Button>
          </Col>
        </Row>
      </div>
    </Form>

    <!-- 新建广告组弹出框 -->
    <Modal v-model="addAdvertModal" :title="editAdvertType==0?'新建广告组':'编辑广告组'">
      <Form :label-width="100" ref="advertForm" :model="advertForm" :rules="advertFormRule">
        <FormItem label="广告组名称" class="ivu-form-item-required" prop="advertName">
          <Input v-model="advertForm.advertName" placeholder="请输入广告组名称" style="width: 300px" />
        </FormItem>
        <FormItem label="展示最大数量">
          <Input v-model="advertForm.advertNumber" placeholder="请输入广告组名称" style="width: 300px" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button :loading="modal_loading" @click="()=>{this.addAdvertModal = false;}">取消</Button>
        <Button
          type="primary"
          :loading="modal_loading"
          @click="()=>{this.editAdvertType==0?this.addAdvertOk():this.updateAdvertOk()}"
        >确定</Button>
      </div>
    </Modal>
    <!-- 新建商品组弹出框 -->
    <Modal v-model="addProductModal" :title="editProductType==0?'新建商品组':'编辑商品组'">
      <Form :label-width="100" ref="productForm" :model="productForm" :rules="productFormRule">
        <FormItem label="商品组类型" class="ivu-form-item-required" prop="productName">
          <select v-model="productForm.productType">
            <option value="0">普通</option>
            <option value="1">促销</option>
          </select>
        </FormItem>
        <FormItem label="商品组名称" class="ivu-form-item-required" prop="productName">
          <Input v-model="productForm.productName" placeholder="请输入商品组名称" style="width: 300px" />
        </FormItem>
        <FormItem label="展示最大数量">
          <Input v-model="productForm.productNumber" placeholder="请输入商品组名称" style="width: 300px" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button :loading="modal_loading" @click="()=>{this.addProductModal = false;}">取消</Button>
        <Button
          type="primary"
          :loading="modal_loading"
          @click="()=>{this.editProductType==0?this.addProductOk():this.updateProductOk()}"
        >确定</Button>
      </div>
    </Modal>
    <!-- 关联广告组弹出框 -->
    <Modal v-model="relationAdvertModal" title="关联广告组" width="900">
      <div class="search-wrap">
        <Input placeholder="搜索商品组ID,商品组名称" style="width: 400px" v-model="searchAdvertStr">
          <Icon type="ios-search" slot="suffix" @click="searchAdvertGroup" />
        </Input>
      </div>
      <div class="table">
        <Table border :columns="columnsAdvertGroup" :data="dataAdvertGroup">
          <template slot-scope="{ row, index }" slot="action">
            <Button
              type="primary"
              size="small"
              style="margin-right: 5px"
              @click="showAdvertGroup(index)"
            >查看</Button>
            <Button type="error" size="small" @click="relationAdvertGroup(row,index)">关联</Button>
          </template>
        </Table>
        <div style="text-align: center;margin-top: 1rem;">
          <Page
            @on-change="getAdvertPage()"
            :total="advertTotalCount"
            show-elevator
            show-total
            prev-text="上一页"
            next-text="下一页"
          />
        </div>
      </div>
    </Modal>
    <!-- 关联商品组弹出框 -->
    <Modal v-model="relationProductModal" title="关联广告组" width="900">
      <div class="search-wrap">
        <Input placeholder="搜索商品组ID,商品组名称" style="width: 400px" v-model="searchProductStr">
          <Icon type="ios-search" slot="suffix" @click="searchProductGroup" />
        </Input>
      </div>
      <div class="table">
        <Table border :columns="columnsProductGroup" :data="dataProductGroup">
          <template slot-scope="{ row, index }" slot="action">
            <Button
              type="primary"
              size="small"
              style="margin-right: 5px"
              @click="showProductGroup(index)"
            >查看</Button>
            <Button type="error" size="small" @click="relationProductGroup(index)">关联</Button>
          </template>
        </Table>
        <div style="text-align: center;margin-top: 1rem;">
          <Page
            @on-change="getProductPage()"
            :total="productTotalCount"
            show-elevator
            show-total
            prev-text="上一页"
            next-text="下一页"
          />
        </div>
      </div>
    </Modal>
  </div>
</template>
<script>
// import pagePreview from "../pagePreview";
export default {
  name: "aceAdvert",
  props: {
    element: {
      type: Object,
      default: {}
    }
  },
  data() {
    return {
      advertList: [],
      dataSourceList: [],
      modal_loading: false,

      dictValueValidate: {
        dictValue: [
          {
            required: true,
            message: "输入框不能为空",
            trigger: "blur"
          }
        ]
      },
      editAdvertType: 0,
      advertGroupShow: false,
      addAdvertModal: false,
      advertForm: {
        advertId: "",
        advertName: "",
        advertNumber: 1
      },
      advertFormRule: {
        advertName: [
          {
            required: true,
            message: "广告组名称不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            min: 0,
            max: 10,
            message: "最多可输入10个字符",
            trigger: "blur"
          }
        ]
      },
      relationAdvertModal: false,
      columnsAdvertGroup: [
        {
          title: "广告组ID",
          key: "id"
        },
        {
          title: "广告组名称",
          key: "name"
        },
        {
          title: "展示数量",
          key: "totalNum"
        },
        {
          title: "Action",
          slot: "action",
          width: 150,
          align: "center"
        }
      ],
      dataAdvertGroup: [],
      searchAdvertStr: "",
      advertTotalCount: 0,
      currentPage: "1",

      editProductType: 0,
      productGroupShow: false,
      addProductModal: false,
      productForm: {
        productId: "",
        productName: "",
        productNumber: 1
      },
      productFormRule: {
        productName: [
          {
            required: true,
            message: "商品组名称不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            min: 0,
            max: 10,
            message: "最多可输入10个字符",
            trigger: "blur"
          }
        ]
      },
      relationProductModal: false,
      columnsProductGroup: [
        {
          title: "商品组ID",
          key: "id"
        },
        {
          title: "商品组名称",
          key: "name"
        },
        {
          title: "展示数量",
          key: "totalNum"
        },
        {
          title: "Action",
          slot: "action",
          width: 150,
          align: "center"
        }
      ],
      dataProductGroup: [],
      searchProductStr: "",
      productTotalCount: 0
    };
  },
  mounted() {
    this.getAdvertList();
  },
  methods: {
    // 获取字典列表
    getAdvertList() {
      this.$axios
        .request({
          url: `/jdh/sysDict/querySysDictChildList?dictType=ace`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$set(this.element.data.ext, "dataSourceType2", "");
            this.$set(this.element.data.ext, "dataIds", {});
            this.advertList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    // 显示字典项
    dataSourceType2Change() {
      this.$axios
        .request({
          url: `/jdh/sysDict/querySysDictChildList?dictType=${this.element.data.ext.dataSourceType2}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.dataSourceList = [];
            let resultData = res.data.data;
            if (resultData.length > 0) {
              for (let i = 0; i < resultData.length; i++) {
                this.dataSourceList.push({
                  [resultData[i].dictValue]: "",
                  name: resultData[i].dictValue
                });
              }
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 查询数据信息
    queryAdvertInfo() {
      let arr = [];
      this.dataSourceList.forEach((item, index) => {
        let form = "items" + index;
        this.$refs[form][0].validate(valid => {
          if (valid) {
            arr.push(true);
          } else {
            arr.push(false);
          }
        });
      });
      let flag = arr.every(item => {
        return item === true;
      });
      if (flag) {
        this.element.data.ext.dataIds = {};
        for (let i = 0; i < this.dataSourceList.length; i++) {
          this.element.data.ext.dataIds[
            this.dataSourceList[i].name
          ] = this.dataSourceList[i].dictValue;
        }
        console.log(this.element.data.ext);
        this.$axios
          .request({
            url: `/huyiIndex/getData`,
            method: "post",
            data: {
              dataSourceType2: this.element.data.ext.dataSourceType2,
              dataIds: this.element.data.ext.dataIds
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              let elementList = this.element.data.items;
              let resultList = res.data.result.dataInfos;
              let len =
                elementList.length > resultList.length
                  ? elementList.length
                  : resultList.length;
              let result = [];
              for (let i = 0; i < len; i++) {
                let item = Object.assign(elementList[i] || {}, resultList[i]);
                result.push(item);
              }
              this.$emit("getresultdata", result);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.$Message.error("请完成表单校验");
      }
    },

    // 新建广告组确定按钮
    addAdvertOk() {
      if (
        this.advertForm.advertName != "" &&
        this.advertForm.advertName.length < 11
      ) {
        this.$axios
          .request({
            url: `/material/createAdvertGroup`,
            method: "post",
            data: {
              name: this.advertForm.advertName,
              totalNum: this.advertForm.advertNumber
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              this.advertForm.advertId = res.data.data.id;
              for (let i = 0; i < this.dataSourceList.length; i++) {
                if (this.dataSourceList[i].advertId) {
                  this.dataSourceList[i].advertId = res.data.data.id;
                }
              }
              this.$Message.success("添加成功");
              this.advertGroupShow = true;
              setTimeout(() => {
                this.modal_loading = false;
                this.addAdvertModal = false;
              }, 100);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.$Message.error("请正确填写表单!");
      }
    },
    // 点击编辑广告组
    editAdvert() {
      this.editAdvertType = 1;
      this.addAdvertModal = true;
    },
    // 更新广告组
    updateAdvertOk() {
      this.$axios
        .request({
          url: `/material/editAdvertGroup`,
          method: "post",
          data: {
            id: this.advertForm.advertId,
            name: this.advertForm.advertName,
            totalNum: this.advertForm.advertNumber
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("修改成功");
            this.advertGroupShow = true;
            setTimeout(() => {
              this.modal_loading = false;
              this.addAdvertModal = false;
            }, 100);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    //点击关联广告组按钮
    relationAdvertGroupBtn() {
      this.relationAdvertModal = true;
      this.queryAdvertGroup();
    },
    // 搜索广告组
    searchAdvertGroup() {
      this.queryAdvertGroup();
    },
    // 广告组翻页
    getAdvertPage(n) {
      this.currentPage = n;
      this.queryAdvertGroup();
    },
    // 公共查询广告组
    queryAdvertGroup() {
      this.$axios
        .request({
          url: `/material/queryPageAdvertGroupInfo?currentPage=${this.currentPage}&pageSize=10&erpNo=wuyanyan11`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.dataAdvertGroup = res.data.data.list;
            this.advertTotalCount = res.data.data.totalPage;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    // 取消关联
    canselRelation(str) {
      if (str == "advert") {
        this.advertGroupShow = false;
        this.$emit("getresultdata", []);
        this.advertForm = {
          advertId: "",
          advertName: "",
          advertNumber: ""
        };
      } else {
        this.productGroupShow = false;
        this.$emit("getresultdata", []);
        this.productForm = {
          productType: 0,
          productId: "",
          productName: "",
          productNumber: ""
        };
      }
    },
    // 查看广告组
    showAdvertGroup(index) {},
    // 关联
    relationAdvertGroup(row, index) {
      this.relationAdvertModal = false;
      this.advertGroupShow = true;
      this.advertForm = {
        advertId: row.id,
        advertName: row.name,
        advertNumber: row.totalNum
      };
      for (let i = 0; i < this.dataSourceList.length; i++) {
        if (this.dataSourceList[i].advertId) {
          this.dataSourceList[i].advertId = row.id;
        }
      }
    },
    //增加商品组的请求
    addProductOk() {
      if (
        this.productForm.productName != "" &&
        this.productForm.productName.length < 11
      ) {
        this.$axios
          .request({
            url: `/material/createProductGroup`,
            method: "post",
            data: {
              type: this.productForm.productType,
              name: this.productForm.productName,
              totalNum: this.productForm.productNumber
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              this.productForm.productId = res.data.data.id;
              for (let i = 0; i < this.dataSourceList.length; i++) {
                if (this.dataSourceList[i].groupId) {
                  this.dataSourceList[i].groupId = res.data.data.id;
                }
              }
              this.$Message.success("添加成功");
              this.productGroupShow = true;
              setTimeout(() => {
                this.modal_loading = false;
                this.addproductModal = false;
              }, 100);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.$Message.error("请正确填写表单!");
      }
    },
    // 编辑商品组
    editProduct() {
      this.editProductType = 1;
      this.addProductModal = true;
    },
    // 更新商品组
    updateProductOk() {
      this.$axios
        .request({
          url: `/material/editProductGroup`,
          method: "post",
          data: {
            id: this.productForm.productId,
            name: this.productForm.productName,
            totalNum: this.productForm.productNumber
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("修改成功");
            this.productGroupShow = true;
            setTimeout(() => {
              this.modal_loading = false;
              this.addProductModal = false;
            }, 100);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    //点击关联商品组按钮
    relationProductGroupBtn() {
      this.relationProductModal = true;
      this.queryProductGroup();
    },
    // 搜索商品组
    searchProductGroup() {
      this.queryProductGroup();
    },
    // 商品组翻页
    getProductPage(n) {
      this.currentPage = n;
      this.queryAdvertGroup();
    },
    // 公共查询商品组
    queryProductGroup() {
      this.$axios
        .request({
          url: `/material/queryPageProductGroupInfo?searchStr=${
            this.searchProductStr ? this.searchProductStr : ""
          }&currentPage=${this.currentPage}&pageSize=10`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.dataProductGroup = res.data.data.list;
            this.productTotalCount = res.data.data.totalPage;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 查看商品组
    showProductGroup(index) {},
    // 关联商品组
    relationProductGroup(index) {}
  }
};
</script>
<style lang="less" scoped>
.materialBtns {
  text-align: center;
  margin-bottom: 15px;
  button {
    margin: 0 5px;
  }
}
.operationBtns {
  button {
    display: inline;
  }
}

.headTitle {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
  text-align: center;
  background-color: #eee;
}
.listRow {
  text-align: center;
}
.search-wrap {
  width: 400px;
  margin: 0 auto 20px;
}
</style>
