<template>
  <div>
    <div class="demo-upload-list">
      <div v-if="this.imageUrl">
        <img class="imageUrlStyle" :src="imageUrl" />
        <div class="demo-upload-list-cover">
          <Icon type="ios-eye-outline" @click.native="handleView()"></Icon>
          <Icon type="ios-trash-outline" @click.native="handleRemove()"></Icon>
        </div>
      </div>
      <Upload
        ref="upload"
        :show-upload-list="false"
        :file-list="fileList"
        :on-success="handleSuccess"
        :on-error="handleError"
        accept="image/*"
        :before-upload="handleBeforeUpload"
        type="drag"
        :with-credentials="true"
        :action="this.$publicUrl+'/image/upload'"
        class="upload"
      >
        <div class="cameraBox">
          <Icon type="ios-camera" size="20"></Icon>
        </div>
      </Upload>
      <Modal title="View Image" v-model="visible">
        <img :src="imageUrl" v-if="visible" style="width: 100%" />
      </Modal>
    </div>
  </div>
</template>
<script>
export default {
  name: "image-upload",
  props: {
    imageUrl: {
      type: String,
      default: null
    },
    onBeforeUpload: {
      type: Function,
      default: function() {}
    },
    onSuccess: {
      type: Function,
      default: function() {}
    }
  },
  data() {
    return {
      action: this.$publicUrl + "/image/upload",
      hasFile: false,
      fileList: this.imageUrl == null ? [] : [{ url: this.imageUrl }],
      visible: false
    };
  },
  wathch: {
    fileList: {
      immediate: true,
      handler: function() {
        this.hasFile = this.fileList.length > 0;
      }
    },
    imageUrl: {
      handler: function() {
        if (this.imageUrl) {
          this.fileList.splice(0, 1, { url: this.imageUrl });
        } else {
          this.fileList.splice(0, 1);
        }
      }
    }
  },
  methods: {
    handleSuccess(res, file, fileList) {
      // console.log(res)
      // console.log(file)
      // this.$emit('update:imageUrl', 'http://m.360buyimg.com/babel/s354x402_jfs/t1/56983/1/10095/77387/5d7384d5Ec7ba546c/c5b13b5ba506a802.jpg!q70.dpg')
      if (res.code === 0) {
        this.$Message.success("上传成功");
        this.$emit("update:imageUrl", res.result.path);
      } else {
        this.$Message.warning("上传失败");
      }
    },
    handleError(error, file) {
      console.log(error);
      this.$Message.warning("上传失败");
    },
    handleBeforeUpload(file) {
      // 上传图片前处理函数
      const isJPG =
        file.type === "image/jpeg" ||
        file.type === "image/png" ||
        file.type === "image/gif";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$Message.error("上传图片只能是 jpg、png、gif 格式!");
        return false;
      }
      if (!isLt2M) {
        this.$Message.error("上传图片大小不能超过 2MB!");
        return false;
      }

      let that = this;
      const isSize = new Promise(function(resolve, reject) {
        let _URL = window.URL || window.webkitURL;
        let img = new Image();
        img.onload = function() {
          let valid = that.onBeforeUpload(file, img);
          valid ? reject(valid) : resolve();
        };
        img.src = _URL.createObjectURL(file);
      }).then(
        () => {
          this.hasFile = true;
          return file;
        },
        valid => {
          this.hasFile = false;
          this.$Message.error(!valid ? this.errorTips : valid);
          return Promise.reject();
        }
      );

      return isJPG && isLt2M && isSize;
    },
    handleRemove(file, fileList) {
      this.hasFile = false;
      this.$emit("update:imageUrl", null);
    },
    handleView() {
      this.visible = true;
    }
  }
};
</script>
<style lang="less" scoped>
.demo-upload-list {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  margin-right: 4px;
}
.imageUrlStyle {
  width: 60px;
  height: 60px;
}
.upload {
  display: inline-block;
  width: 58px;
}
.cameraBox {
  width: 58px;
  height: 58px;
  line-height: 58px;
}
.demo-upload-list img {
  width: 100%;
  height: 100%;
}
.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.demo-upload-list:hover .demo-upload-list-cover {
  display: block;
}
.demo-upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
</style>
