<template>
  <div class="linkType-content">
    <div class="left">
      <Select
        v-model="linkInfo.jumpLinkInfo.linkType"
        class="linkLabel"
        placeholder="跳转类型"
        @on-change="linkTypeChange"
      >
        <Option value="0">跳转url</Option>
        <Option value="1">跳转页面</Option>
      </Select>
    </div>
    <div class="center">
      <Form :ref="linkInfo" :model="linkInfo" :rules="ruleValidate" :label-width="80">
        <FormItem
          :label-width="0"
          prop="link"
          class="linkInput"
          v-show="linkInfo.jumpLinkInfo.linkType=='0'"
        >
          <Input v-model="linkInfo.jumpLinkInfo.linkUrl" placeholder="请输入链接地址" />
        </FormItem>
        <FormItem :label-width="0" v-show="linkInfo.jumpLinkInfo.linkType=='1'">
          <Select
            v-model="linkInfo.jumpLinkInfo.identityId"
            class="selectidentityId"
            filterable
            placeholder="请选择页面名称"
          >
            <Option
              v-for="(identityIdItem,index) in identityIdList"
              :value="identityIdItem.identityId"
              :key="index"
            >{{ identityIdItem.pageName}}</Option>
          </Select>
        </FormItem>
      </Form>
    </div>
    <div class="right" v-if="linkInfo.jumpLinkInfo.linkType=='1'">
      <Button
        type="primary"
        size="small"
        class="previewBtn"
        @click="preview(linkInfo.jumpLinkInfo.identityId)"
      >预览</Button>
    </div>

    <!-- 预览弹出框 -->
    <Modal width="450px" v-model="previewModal" :closable="true" :mask-closable="false" title="预览">
      <div>
        <!-- <pagePreview :list="previewList"></pagePreview> -->
      </div>
      <div slot="footer"></div>
    </Modal>
  </div>
</template>
<script>
// import pagePreview from "../pagePreview";
export default {
  name: "image-upload",
  props: {
    linkInfo: {
      type: Object,
      default: {}
    }
  },
  components: {
    // pagePreview
  },
  data() {
    return {
      previewModal: false,
      previewList: [],
      pageNo: 1,
      identityIdList: [],
      ruleValidate: {
        link: [
          {
            required: true,
            message: "链接地址不能为空",
            trigger: "blur"
          },
          {
            type: "url",
            message: "请输入正确的url",
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted() {},
  methods: {
    preview(identityId) {
      if (identityId) {
        this.previewModal = true;
        this.$axios
          .request({
            url: `/jdh/page/detail?id=${identityId}`,
            method: "get"
          })
          .then(res => {
            if (res.data.code == 0) {
              this.previewList = res.data.data.list;
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.$Message.error("请选择跳转页面");
      }
    },
    linkTypeChange() {
      if (this.linkInfo.jumpLinkInfo.linkType == 1) {
        this.$axios
          .request({
            url: `/jdh/page/list?pageNo=${this.pageNo}&pageSize=10&projectId=${this.$route.query.pid}&flag=false`,
            method: "get"
          })
          .then(res => {
            if (res.data.code == 0) {
              this.identityIdList = res.data.result.result;
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  }
};
</script>
<style lang="less" scoped>
.linkType-content {
  display: flex;
  justify-content: space-between;
  .left {
    width: 100px;
    margin-right: 5px;
  }
  .center {
    flex: 1;
    .selectidentityId {
      width: 100%;
      padding-right: 5px;
    }
  }
  .right {
    width: 42px;
    padding-top: 5px;
  }
}

.ivu-form-item > .ivu-form-item-content > .likType-content > .right {
  padding-top: 0 !important;
}
</style>
