<template>
  <div
    class="brandSale"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="brandSale-container">
      <Row type="flex" :gutter="5">
        <Col
          span="12"
          v-for="(item,index) in element.data.items"
          :key="index"
          class="brandSale-container-item"
        >
          <div class="brandSale-container-item-bar">
            <div class="right">
              <span class="icon">
                <i class="ivu-icon ivu-icon-ios-time-outline"></i>
              </span>
              仅剩
              <div class="timeGroup">
                <div class="brandSale-time">{{item.hour}}</div>
                <span>:</span>
                <div class="brandSale-time">{{item.minu}}</div>
                <span>:</span>
                <div class="brandSale-time">{{item.sec}}</div>
              </div>
              <a class="icon" href="###">
                <Icon type="ios-close-circle-outline" />
              </a>
            </div>
          </div>
          <a href="javascript:void(0)" class="brandSale-container-item-img">
            <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" alt />
          </a>
        </Col>
      </Row>
    </div>
  </div>
</template>



<script>
import img from "../../img/jdLogo.png";
export default {
  name: "brandSale",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  created() {},
  methods: {}
};
</script>

<style lang="less" scoped>
.brandSale {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &-container {
    overflow: hidden;
    &-item {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 120px;
      overflow: hidden;
      &-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 174px;
        height: 2rem;
        font-size: 0.7rem;
        padding: 0 5px;
        overflow: hidden;
        .right {
          float: right;
          color: #ffffff;
          .icon {
            i {
              display: inline-block;
              line-height: 2rem;
              font-size: 1rem;
            }
          }
          .timeGroup {
            display: inline-block;
            .brandSale-time {
              display: inline-block;
              width: 1.1rem;
              height: 1.1rem;
              line-height: 1.1rem;
              text-align: center;
              background: #fff;
              border-radius: 0.2rem;
              padding: 0.1rem;
              margin: 0 0.2rem;
              color: #333;
            }
          }
        }
      }
      &-img {
        display: block;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-item:last-child {
      margin-right: 0;
    }
  }
}
</style>
