<template>
  <div>
    <Tabs :animated="false" v-model="tabValue">
      <TabPane label="样式配置" name="styleTab">
        <div class="form-content">
          <Form :label-width="100">
            <h4 class="configTitlte">楼层基础配置</h4>
            <floorConfig :styleData="element.data.style"></floorConfig>
            <h4 class="configTitlte">内容样式配置</h4>
            <FormItem label="主标题大小">
              <RadioGroup v-model="element.data.ext.style.fontSize">
                <Radio label="12">小</Radio>
                <Radio label="14">中</Radio>
                <Radio label="16">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="主标题颜色">
              <ColorPicker v-model="element.data.ext.style.titleColor" />
              <Button v-model="resetTitleColorValue" @click="resetTitleColor" class="resetBtn">重置</Button>
            </FormItem>
            <FormItem label="列表文字大小">
              <RadioGroup v-model="element.data.ext.style.contentFontSize">
                <Radio label="11">小</Radio>
                <Radio label="12">中</Radio>
                <Radio label="14">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="列表文字颜色">
              <ColorPicker v-model="element.data.ext.style.contentTitleColor" />
              <Button
                v-model="resetContentTitleColorValue"
                @click="resetContentTitleColor"
                class="resetBtn"
              >重置</Button>
            </FormItem>
          </Form>
        </div>
      </TabPane>
      <TabPane label="素材配置" name="settingTab">
        <div class="form-content">
          <Form :label-width="100">
            <FormItem label="数据来源">
              <RadioGroup v-model="element.data.ext.dataSourceType1">
                <Radio label="301">手动录入</Radio>
                <Radio label="101">ace</Radio>
                <Radio label="201">互医</Radio>
                <Radio label="401">写手</Radio>
              </RadioGroup>
            </FormItem>
            <div class="manual" v-if="element.data.ext.dataSourceType1=='301'">
              <Collapse v-model="manualValue" accordion>
                <Panel :name="(index+1)+''" v-for="(item,index) in element.data.items" :key="index">
                  {{item.iconInfo.name}}
                  <Button @click="deleteItem(index)" type="error" class="deleteBtn" size="small">删除</Button>
                  <div slot="content">
                    <Form
                      :ref="'items' + index"
                      :model="item.iconInfo"
                      :rules="ruleValidate"
                      :label-width="100"
                    >
                      <FormItem label="主标题" prop="name">
                        <Input v-model="item.iconInfo.name" :maxlength="5" placeholder="请输入主标题" />
                      </FormItem>
                    </Form>
                    <FormItem label="标题图片">
                      <Row :gutter="16">
                        <Col span="5">
                          <ImageUpload
                            :imageUrl.sync="item.iconInfo.pictureUrl"
                            :onBeforeUpload="mainIconBeforeUpload"
                            :on-success="(res)=> mainIconBeforeUploadSuccess(res,item.iconInfo)"
                          ></ImageUpload>
                        </Col>
                        <Col span="18">
                          <Alert
                            show-icon
                          >图片宽126px，高126px，不大于2M</Alert>
                        </Col>
                      </Row>
                    </FormItem>
                    <FormItem label="箭头图片">
                      <Row :gutter="16">
                        <Col span="5">
                          <ImageUpload
                            :imageUrl.sync="item.iconInfo.arrowImgUrl"
                            :onBeforeUpload="arrowIconBeforeUpload"
                            :on-success="(res)=> arrowIconBeforeUploadSuccess(res,item.iconInfo)"
                          ></ImageUpload>
                        </Col>
                        <Col span="18">
                          <Alert
                            show-icon
                          >图片宽24px，高24px，不大于2M</Alert>
                        </Col>
                      </Row>
                    </FormItem>
                    <FormItem label="主标题跳转方式">
                      <linkType :linkInfo="item.iconInfo"></linkType>
                    </FormItem>
                    <Collapse v-model="manualValueChild" accordion>
                      <Panel
                        :name="(index1+1)+''"
                        v-for="(contentItem,index1) in item.containerList"
                        :key="index1"
                      >
                        {{contentItem.name}}
                        <Button
                          @click="deleteContentItem(index,index1)"
                          type="error"
                          class="deleteBtn"
                          size="small"
                        >删除</Button>
                        <Button
                          @click="addContentItem(index,index1)"
                          type="error"
                          class="deleteBtn"
                          size="small"
                          v-if="item.containerList.length<4&&index1==item.containerList.length-1"
                        >新增</Button>
                        <div slot="content">
                          <FormItem label="内容文字">
                            <Input v-model="contentItem.name" :maxlength="5" placeholder="请输入内容文字" />
                          </FormItem>
                          <div v-if="item.containerList.length==2">
                            <FormItem label="内容图片">
                              <Row :gutter="16">
                                <Col span="5">
                                  <ImageUpload
                                    :imageUrl.sync="contentItem.pictureUrl"
                                    :onBeforeUpload="contentIconBeforeUpload"
                                    :on-success="(res)=> contentIconBeforeUploadSuccess(res,contentItem)"
                                  ></ImageUpload>
                                </Col>
                                <Col span="18">
                                  <Alert
                                    show-icon
                                  >图片宽105px，高105px，不大于2M</Alert>
                                </Col>
                              </Row>
                            </FormItem>
                          </div>
                          <div v-if="item.containerList.length>2">
                            <FormItem label="内容图片">
                              <Row :gutter="16">
                                <Col span="5">
                                  <ImageUpload
                                    :imageUrl.sync="contentItem.pictureUrl"
                                    :onBeforeUpload="contentImgBeforeUpload"
                                    :on-success="(res)=> contentIconBeforeUploadSuccess(res,contentItem)"
                                  ></ImageUpload>
                                </Col>
                                <Col span="18">
                                  <Alert
                                    show-icon
                                  >图片宽21px，高21px，不大于2M</Alert>
                                </Col>
                              </Row>
                            </FormItem>
                          </div>
                          <FormItem label="内容跳转方式">
                            <linkType :linkInfo="contentItem"></linkType>
                          </FormItem>
                        </div>
                      </Panel>
                    </Collapse>
                  </div>
                </Panel>
              </Collapse>
            </div>
            <div v-else-if="element.data.ext.dataSourceType1=='101'">
              <aceAdvert :element="element" @getresultdata="getresultdata($event)"></aceAdvert>
            </div>
            <div v-else-if="element.data.ext.dataSourceType1=='201'">
              <netAdvert
                :element="element"
                data-source="nethuyi"
                @getresultdata="getresultdata($event)"
              ></netAdvert>
            </div>
            <div v-else-if="element.data.ext.dataSourceType1=='401'">
              <netAdvert
                :element="element"
                data-source="xieshou"
                @getresultdata="getresultdata($event)"
              ></netAdvert>
            </div>
          </Form>
        </div>
      </TabPane>
      <TabPane label="楼层定投" name="floorTargeted">
      <div class="form-content" v-if="tabValue=='floorTargeted'">
        <floorTargeted :element="element"></floorTargeted>
      </div>
    </TabPane>
    </Tabs>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "myServiceEdit",
  props: ["index", "element", "incId"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
       tabValue: "styleTab",
      manualValue: "1",
      manualValueChild: "1",
      resetTitleColorValue: this.element.data.ext.style.titleColor,
      resetContentTitleColorValue: this.element.data.ext.style
        .contentTitleColor,
      ruleValidate: {
        name: [
          {
            required: true,
            message: "主标题不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            min: 2,
            max: 5,
            message: "请输入2-5个字符",
            trigger: "blur"
          }
        ]
      }
    };
  },
  components: {},
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    // 重置主标题颜色
    resetTitleColor() {
      this.element.data.ext.style.titleColor = this.resetTitleColorValue;
    },
    // 重置内容文字颜色
    resetContentTitleColor() {
      this.element.data.ext.style.contentTitleColor = this.resetContentTitleColorValue;
    },
    // 上传主图片成功
    mainIconBeforeUploadSuccess(res, obj) {
      // this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
      this.$set(obj.pictureUrl, "", res.result.path);
    },
    // 上传标题图片验证
    mainIconBeforeUpload(file, img) {
      if (img.width != 126 || img.height != 126) {
        return "请上传宽126px，高126px的图片！";
      }
      return null;
    },
    // 上传箭头图片成功
    arrowIconBeforeUploadSuccess(res, obj) {
      this.$set(obj.arrowImgUrl, "", res.result.path);
    },

    // 上传标题图片验证
    arrowIconBeforeUpload(file, img) {
      if (img.width != 24 || img.height != 24) {
        return "请上传宽21px，高21px的图片！";
      }
      return null;
    },
    // 上传箭头图片成功
    contentIconBeforeUploadSuccess(res, obj) {
      this.$set(obj.pictureUrl, "", res.result.path);
    },

    // 上传标题图片验证
    contentIconBeforeUpload(file, img) {
      if (img.width != 105 || img.height != 105) {
        return "请上传宽105px，高105px的图片！";
      }
      return null;
    },
    // 上传内容图片验证
    contentImgBeforeUpload(file, img) {
      if (img.width != 21 || img.height != 21) {
        return "请上传宽21，高21px的图片！";
      }
      return null;
    },
    // 删除item
    deleteItem(index) {
      if (this.element.data.items.length < 2) {
        this.$Message.warning("最少保留一个单元");
      } else {
        for (let i = 0; i < this.element.data.items.length; i++) {
          if (i == index) {
            this.element.data.items.splice(index, 1);
          }
        }
      }
    },
    // 添加列表
    addContentItem(index, index1) {
      if (this.element.data.items[index].containerList.length < 4) {
        this.element.data.items[index].containerList.push({
          type: "textList",
          name: "内容文本",
          pictureUrl:
            "https://m.360buyimg.com/pop/jfs/t1/97200/16/10349/1188/5e1982f1E801ac0f6/9afa9d2cf6fe2f52.png",
          jumpLinkInfo: {
            linkType: "0", //跳转类型
            identityId: "", //跳转页面的链接
            linkUrl: ""
          },
          style: {
            contentFontSize: "12",
            contentTitleColor: "#8c8c8c",
            picWidth: 7,
            picHeight: 7,
            margin: ["15", "0", "0", "0"]
          }
        });
        for (
          let k = 0;
          k < this.element.data.items[index].containerList.length;
          k++
        ) {
          this.$set(
            this.element.data.items[index].containerList[k].style,
            "picWidth",
            7
          );
          this.$set(
            this.element.data.items[index].containerList[k].style,
            "picHeight",
            7
          );
        }
      }
    },
    // 删除item
    deleteContentItem(index, index1) {
      if (this.element.data.items[index].containerList.length < 3) {
        this.$Message.warning("最少保留两个内容");
      } else {
        for (
          let i = 0;
          i < this.element.data.items[index].containerList.length;
          i++
        ) {
          if (i == index1) {
            this.element.data.items[index].containerList.splice(index1, 1);
            if (this.element.data.items[index].containerList.length < 3) {
              for (
                let k = 0;
                k < this.element.data.items[index].containerList.length;
                k++
              ) {
                this.$set(
                  this.element.data.items[index].containerList[k].style,
                  "picWidth",
                  35
                );
                this.$set(
                  this.element.data.items[index].containerList[k].style,
                  "picHeight",
                  35
                );
              }
            }
          }
        }
      }
    },
    // 获取互联网医院获取数据
    getresultdata(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.fontSize": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.$set(
            this.element.data.items[i].iconInfo.style,
            "fontSize",
            newer
          );
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.titleColor": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.$set(
            this.element.data.items[i].iconInfo.style,
            "titleColor",
            newer
          );
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.contentFontSize": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        for (let i = 0; i < this.element.data.items.length; i++) {
          for (
            let k = 0;
            k < this.element.data.items[i].containerList.length;
            k++
          ) {
            this.$set(
              this.element.data.items[i].containerList[k].style,
              "contentFontSize",
              newer
            );
          }
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.contentTitleColor": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        for (let i = 0; i < this.element.data.items.length; i++) {
          for (
            let k = 0;
            k < this.element.data.items[i].containerList.length;
            k++
          ) {
            this.$set(
              this.element.data.items[i].containerList[k].style,
              "contentTitleColor",
              newer
            );
          }
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.deleteBtn {
  float: right;
  margin: 8px 8px 0 0;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
</style>
