<template>
  <div
    class="myservice-container"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div
      class="myservice-container-item"
      v-for="(item,index) in element.data.items"
      :style="{padding:element.data.ext.style.margin[0]+'px '+element.data.ext.style.margin[1]+'px '+element.data.ext.style.margin[2]+'px '+element.data.ext.style.margin[3]+'px'}"
    >
      <div class="icon-wrap">
        <span class="iconImg">
          <img :src="item.iconInfo.pictureUrl" alt />
        </span>
        <span
          :style="{fontSize:item.iconInfo.style.fontSize+'px',lineHeight:item.iconInfo.style.fontSize+'px',color:item.iconInfo.style.titleColor,}"
        >{{item.iconInfo.name}}</span>
        <span class="arrowImg">
          <img :src="item.iconInfo.arrowImgUrl" alt />
        </span>
      </div>
      <div class="contentList-wrap">
        <ul>
          <li v-for="(containerItem,index) in item.containerList">
            <div v-if="item.containerList.length==2" class="enreyCubeContent">
              <div
                class="imgIco"
                :style="{width:containerItem.style.picWidth+'px',height:containerItem.style.picHeight+'px'}"
              >
                <img :src="containerItem.pictureUrl?containerItem.pictureUrl:defaultImgUrl" />
              </div>
              <div class="textLine">
                <p
                  class="titleText"
                  :style="{color:containerItem.style.contentTitleColor,fontSize:containerItem.style.contentFontSize+'px',lineHeight:containerItem.style.contentFontSize+'px'}"
                >{{containerItem.name!=''?containerItem.name:'内容文字'}}</p>
                <!-- <p
                  class="subTitleText"
                  :style="{color:element.data.ext.style.subTitleColor,fontSize:element.data.ext.style.subFontSize+'px',lineHeight:element.data.ext.style.subFontSize+'px'}"
                  v-if="item.desc!=''"
                >{{item.desc}}</p>-->
              </div>
            </div>
            <div v-if="item.containerList.length>2" class="textListContent">
              <div
                class="beforImg"
                :style="{width:containerItem.style.picWidth+'px',height:containerItem.style.picHeight+'px'}"
              >
                <img :src="containerItem.pictureUrl?containerItem.pictureUrl:defaultImgUrl" alt />
              </div>
              <span
                :style="{color:containerItem.style.contentTitleColor,fontSize:containerItem.style.contentFontSize+'px',lineHeight:containerItem.style.contentFontSize+'px'}"
              >{{containerItem.name!=''?containerItem.name:'内容文字'}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "myService",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.myservice-container {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &-item {
    width: 50%;
    text-align: center;
    overflow: hidden;
    .icon-wrap {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
      }
      .iconImg {
        width: 42px;
        height: 42px;
        margin-right: 6px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .arrowImg {
        width: 8px;
        height: 8px;
        margin-left: 6px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          vertical-align: top;
        }
      }
    }
    .contentList-wrap {
      ul {
        overflow: hidden;
        li {
          float: left;
          width: 50%;
          .enreyCubeContent {
            margin: 8px 0;
            .imgIco {
              width: 35px;
              height: 35px;
              margin: 0 auto;
              margin-bottom: 6px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .textLine {
              .titleText {
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .textListContent {
            margin: 15px 0 0;
            .beforImg {
              display: inline-block;
              margin-right: 3px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
</style>
