<!--
  公告 — 编辑
 -->
<template>
    <Col 
        :style="{
            backgroundColor: data.style.bgColor ? data.style.bgColor:'#ffffff',
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            padding: data.style.padding[0] +'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0] +'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0] +'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px'
        }">
        <Row v-if="element.noticeStyle === '1'">
            <Col span="2">
                <div class="n-notice-title">
                    <img :src="data.items[0].headImgUrl && data.items[0].headImgUrl != ''?data.items[0].headImgUrl: headImgUrl"/>
                </div>
            </Col>
            <Col span="19">
                <Col span="5" style="width: 20.83%;">
                    <div class="n-notice-icon" :style="{'color': text.color}">
                        {{ text.title != ''? text.title : '推荐'}}
                    </div>
                </Col>
                <Col span="19" style="width: 79.16666667%;">
                    <div class="n-notice-desc">
                        {{text.content != ''? text.content : '默认公告列表展示数据'}}
                    </div>
                </Col>
            </Col>
            <Col span="3">
                <div class="n-notice-more">
                    <i class="n-border-left">更多</i>
                </div>
            </Col>
        </Row>
        <Row v-else>
            <div class="n-notice-box">
                <Col span="3">
                    <div class="n-guide-img">
                        <img :src="text.imgUrl != ''? text.imgUrl: vipHeadImgUrl"/>
                    </div>
                </Col>
                <Col span="21">
                    <div class="n-notice-desc" style="height: 50px;line-height: 50px;">
                        <span class="n-guide-desc">
                            {{text.title != ''? text.title : '公告列表展示数据测试'}}
                        </span>
                        <span class="n-guide-link">{{text.message != ''? text.message : '点击绑卡'}}</span>
                    </div>
                </Col>
                <!-- <div class="n-notice-wrap">
                    <div class="n-notice-ul" :class="{animal:animate}">
                        <div v-for="(item, index) in data.items[0].items" :key = "index">
                            <Col span="3">
                                <div class="n-guide-img">
                                    <img :src="data.items[0].items[index].imgUrl && data.items[0].items[index].imgUrl != ''? data.items[0].items[index].imgUrl: vipHeadImgUrl"/>
                                </div>
                            </Col>
                            <Col span="21">
                                <div class="n-notice-desc" style="height: 50px;line-height: 50px;">
                                    <span class="n-guide-desc">
                                        {{data.items[0].items[index].content && data.items[0].items[index].content != ''? data.items[0].items[index].content : '公告列表展示数据测试'}}
                                    </span>
                                    <span class="n-guide-link">{{data.items[0].items[index].message && data.items[0].items[index].message != ''? '点击绑卡' : data.items[0].items[index].message }}</span>
                                </div>
                            </Col>
                        </div>
                    </div>
                </div> -->
            </div>
        </Row>
    </Col>
</template>
<script>
export default {
    name: "notice",
    props: ["element", "data"],
    data() {
        return {
            animate: false,
            headImgUrl: "http://babel.m.jd.com/active/babelTower/images/finance_icon.png",
            vipHeadImgUrl: 'http://m.360buyimg.com/babel/jfs/t20764/323/2359785837/8413/d7abf6bb/5b519fb2N6d846d44.png',
            timer: null,
            timeOut: null,
            number: 0,
        };
    },
    created() {},
    watch: {
        dataItemsLength: function() {
            if(this.dataItemsLength > 1){
                this.scroll()
            }else{
                clearInterval(this.timer);
                //clearInterval(this.timeOut);    
                this.timer = null;
                //this.timeOut = null;
            }
        },
        'element.noticeStyle': function() {
            if(this.element.noticeStyle === '0'){
                this.data.items[0].headImgUrl = this.vipHeadImgUrl
                this.data.items[0].type = 'cycle_message'
                this.configData(this.vipHeadImgUrl)
            }else{
                this.data.items[0].headImgUrl = this.headImgUrl
                this.data.items[0].type = 'news_scrol'
            }
            
        }
    },
    computed: {
        dataItemsLength: function() {
            return this.data.items[0].items.length
        },
        text() {
            return {
                number: this.number,
                title: this.data.items[0].items[this.number].title,
                imgUrl: this.data.items[0].items[this.number].imgUrl,
                color: this.data.items[0].items[this.number].color,
                content: this.data.items[0].items[this.number].content,
                message: this.data.items[0].items[this.number].message
            }
        }
    },
    methods: {
        scroll() {
            // this.animate = true;
            // this.timeOut = setTimeout(() => {
            //     this.data.items[0].items.push(this.data.items[0].items[0]);
            //     this.data.items[0].items.shift();
            //     this.animate = false; // margin-top 为0 的时候取消过渡动画，实现无缝滚动
            // }, 1000);
            this.timer = setInterval(() => {
                if (this.number === this.dataItemsLength - 1) {
                    this.number = 0;
                } else {
                    this.number += 1;
                }
            }, 5000); 
        },
        setScroll() {
            this.timer = setInterval(this.scroll, 3000);
        },
        dataInit() {
            if(this.data.items[0].items.length === 0){
                this.data.items[0].items.push({
                    title: "",
                    color: "#FF0000",
                    content: "",
                    imgUrl: "",
                    message: "",
                })
                this.data.items[0].headImgUrl = this.headImgUrl
            }
        },
        /**
         * 切换公告展示方式更新配置数据
         */
        configData(noticeTypeImgUrl) {
            for (let index = 0; index < this.dataItemsLength; index++) {
                this.data.items[0].items[index].imgUrl = noticeTypeImgUrl
            }
        }
    },
    destroyed(){
        clearInterval(this.timer);　　// 清除定时器
        this.timer = null;
    },
};
</script>
<style lang="less" scoped>
.n-notice,
.n-notice-desc ,
.n-notice-ul ,
.n-notice-wrap ,
.n-guide-desc {
    overflow: hidden;
}
.n-notice,
.ivu-col > div {
    height: 50px;
    line-height: 50px;
}
.ivu-col > div ,
.n-notice-ul ,
.n-notice-more i ,
.n-notice-box ,
.n-notice-title img ,
.n-notice-wrap {
    width: 100%;
}
.n-notice-title {
    font-size: 16px;
    color: #333;
}
.n-notice-more,
.n-notice-desc,
.n-notice-icon {
    font-size: 14px;
}
.n-notice-icon {
    color: red;
    text-align: center;
}
.n-notice-desc ,
.n-notice-wrap {
    height: 30px;
}

.n-notice-desc ,
.n-notice-ul ,
.n-guide-desc {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.n-notice-more {
    color: #999;
    i {
        font-style: normal;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        text-align: right;
    }
}
.n-border-left {
    border-left: 1px solid #e6e6e6;
}
.animal {
    transition: all 0.5s;
    margin-top: -50px;
}

.n-notice-box {
	height: 50px;
	align-items: center;
	color: #3A3A3A;
	display: flex;
	box-sizing: border-box;
}

.n-notice-wrap {
	position: relative;
    line-height: 30px;
}

.n-notice-wrap ,
.n-notice-ul {
    display: block;
}

.n-notice-ul {
    position: absolute;
	top: -10px;
    left: 0;
}
.ivu-col .n-guide-img {
    width: 30px;
    margin: 0 auto;
    img {
        width: 30px;
        height: 30px;
    }
}
.n-guide-desc {
    width: 240px;
}
.n-guide-link {
    width: 68px;

    vertical-align: top;
}
.n-guide-desc ,.n-guide-link {
    display: inline-block;
}
.adv {
    animation: bounce-in 5s infinite;
}
@keyframes bounce-in {
    0% {
        transform:translateY(30px) ;
    }
    20% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform:translateY(-30px);
    }
}
</style>