<!--
  返回顶部 — 编辑
 -->
 <template>
        <div class="n-pl-pr clearfix">
            <div class="n-relative" v-scrollBar>
                <Tabs value="data">
                    <TabPane label="素材配置" name="data">
                        <i-form :model="data[0]" :label-width="80">
                            <Form-item label="图片">
                                <image-upload 
                                    :imageUrl.sync= data[0].items[0].imgUrl
                                    :onBeforeUpload="onBeforeUpload"></image-upload>
                                    <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
                            </Form-item>
                        </i-form>
                    </TabPane>
                </Tabs>
            </div>
        </div>
    </template>
    <script>
    import ImageUpload from '../ImageUpload'
    export default {
        name: "topEdit",
        props: ["data", "element"],
        components: {
            'image-upload': ImageUpload
        },
        data() {
            return {
                imgsrc: ''
            };
        },
        created() {},
        methods: {
            onBeforeUpload (file, img) {}
        },
    };
    </script>
    <style lang="less" scoped>
    
    </style>