<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <!-- <margin
                        :marginSizeData="data.ext.style.margin"
                        name="卡片边距设置"
                    ></margin>
                   <padding
                        :paddingSizeData="data.ext.style.padding"
                        name="卡片留白设置"
                    ></padding>
                    <color
                        :colorData="data.ext.style"
                        field ="bgColor"
                        name="卡片背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <corner
                        :cornerData="data.ext.style.cornerRadius"
                        name="卡片圆角"
                    ></corner> -->
                    <FormItem label="展示描述">
                        <RadioGroup v-model="element.desc">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <fontsize
                        :fontSizeData="data.items[0]"
                        field ="fontSize"
                        name="文字大小"
                    ></fontsize>
                    <color
                        :colorData="data.items[0]"
                        field ="textColor"
                        name="文字颜色"
                        resetColor="#262626"
                    ></color>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="100">
                    <FormItem label="链接">
                        <linkType :linkInfo="data.items[0]"></linkType>
                    </FormItem>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import fontsize from "../commonDecorate/pageDecorateFontSize"
export default {
    props: ["element", "data"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        fontsize: fontsize
    },
    data() {
        return {

        }
    }
}
</script>
