<template>
    <row 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+data.style.bgImgUrl +')',
            padding:data.style.padding[0]+'px '+data.style.padding[1]+'px '+data.style.padding[2]+'px '+data.style.padding[3]+'px',
            margin:data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0]+'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px',
        }"
    >
        <Col span="24"
            :style="{
                backgroundImage:'url('+  data.items[0].style.bgImgUrl +')',
                fontSize: data.items[0].fontSize + 'px',
                color: colorTransform(data.items[0].textColor),
                textAlign: data.items[0].style.align,
                height: data.items[0].style.height + 'px',
                lineHeight: data.items[0].style.height + 'px',
            }"
        >
            {{data.items[0].text}}
        </Col>
    </row>
</template>
<script>
export default {
    props: ["index", "element", "data"],
    data() {
        return {
        }
    }
}
</script>
<style lang="less" scoped>
</style>