<template>
  <div>
    <div style="padding: 1rem;">
      <span>查询范围：</span><Input size="large" v-model="value" placeholder="Enter something..." style="width: 300px;margin-right: 1rem;" />
      <Button size="large" @click="getUser" type="info">查询</Button>
    </div>
    <Row>
      <Col offset="1" span="10">
        <h2>辐射人数</h2>
        <Table max-height="460" size="large" border stripe :columns="columns1" :data="data1"></Table>
      </Col>
      <Col offset="1" span="10">
        <h2>辐射热度</h2>
        <Table max-height="460" size="large" border stripe :columns="columns2" :data="data2"></Table>
      </Col>
    </Row>
  </div>
</template>

<script>
  export default {
    name: "TOP-N",
    data() {
      return {
        value:'5',
        columns1:[
          {
            type: 'index',
            width: 100,
            title: '序号',
            align: 'center'
          },
          {
            title: '用户',
            key: 'pin',
          },
          {
            title: '辐射人数',
            key: 'count',
          },
          {
            title: '操作',
            key: 'action',
            width: 150,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //this.show(params.index)
                      this.toRelation(params.row.pin)
                    }
                  }
                }, '查看用户'),
              ]);
            }
          }
        ],
        columns2:[
          {
            type: 'index',
            width: 100,
            title: '序号',
            align: 'center'
          },
          {
            title: '用户',
            key: 'pin',
          },
          {
            title: '辐射热度',
            key: 'count',
          },
          {
            title: '操作',
            key: 'action',
            width: 150,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //this.show(params.index)
                      this.toRelation(params.row.pin)
                    }
                  }
                }, '查看用户'),
              ]);
            }
          }
        ],
        data1:[],
        data2:[]
      }
    },
    mounted() {
      this.getUser()
    },
    methods: {
      toRelation(pin){
        this.$router.push({path:'/userRadiation',query:{
          pin:pin
          }})
      },
      getUser() {
        this.$axios.request({
          url: `/neoUser/topN?max=${this.value}`,
          method: 'get',
          withCredentials: true
        }).then(res => {
          if (res.data.code == 0) {
            this.data1=res.data.result.topUsers
            this.data2=res.data.result.topHeat
          }
        }).catch(err => {
          console.log(err)
        })
      }
    }
  }
</script>

<style scoped>

</style>
