<template>
  <div style="padding: 3rem;">
    <h2>社区发现</h2>
    <div class="wrapper">
      <Card v-for="(item,index) in data1" style="min-width:200px;max-width: 320px;padding: 3rem;margin: 1rem;">
        <div style="text-align:center;">
          <a @click="toUserTable(item)" style="font-size: 16px;font-weight: bold;">{{item.name}}</a>
          <!--<div>-->
            <!--<span>用户</span>-->
            <!--&gt;-->
            <!--<span>消费偏好</span>-->
            <!--&gt;-->
            <!--<span>品类偏好</span>-->
          <!--</div>-->
          <div style="color: #999999;">
            {{item.labelId}}
          </div>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
    export default {
        name: "userGroup",
      data(){
          return{
            data1:[]
          }
      },
      mounted(){
        this.getData()
      },
      methods:{
          toUserTable(item){
            this.$router.push({
              path:'/userTable',
              query:{
                communityKey:item.nameEn,
                communityId:item.labelId
              }
            })
          },
          getData(){
            //http://marketing.mobile.cms.jd.com/neoUser/basiclabels/get/all
            this.$axios
              .request({
                url: `/neoUser/basiclabels/get/all`,
                method: "get"
              })
              .then(res => {
                if (res.data.code == 0) {
                  this.data1=res.data.result
                }
              })
              .catch(err => {
                console.log(err);
              });
          }
      }
    }
</script>

<style scoped lang="less">
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>
