<template>
  <div>
    <div style="padding: 1rem;">
      <Input v-for="(item,index) in pins" v-model="item.id" :key="index" placeholder="请输入用户pin" style="width: 200px;margin: 0 10px" />
      <Button @click="getUserLabel" type="info">查询</Button>
    </div>
    <div id="main" ref="main"></div>
  </div>
</template>
<script>
    import echarts from 'echarts'
    import redar from './mock/redar'
    import redar1 from './mock/redar1'
    export default {
        name: "userLabel",
      data(){
          return{
            char1:null,
            res1:[],
            res2:[],
            res3:[],
            res4:[],
            pins:[{id:'jd_6376dcdcd1e9f'},{id:'jd_71c3e9f793942'},{id:'jd_72e08d86e595f'},{id:'jd_564c0434eb740'}],
          }
      },
      mounted(){
          //this.init()
      },
      computed:{
          labels:function () {
            let arr =[];
            let temp = redar.result
            for(let i=0;i<temp.length;i++){
              arr.push({name:temp[i].name, max: 5})
            }
            return arr
          },
        values:function () {
          let arr =[];
          let temp = this.res1
          for(let i=0;i<temp.length;i++){
            if(Number(temp[i].value<0)){
              arr.push(0)
            }else{
              arr.push(Number(temp[i].value))
            }
          }
          return arr
        },
        bpins:function(){
          let arr =[];
          let temp = this.pins
          for(let i=0;i<temp.length;i++){
              arr.push(temp[i].id)
          }
          return arr
        },
        values2:function () {
          let arr =[];
          let temp = this.res2
          for(let i=0;i<temp.length;i++){
            if(Number(temp[i].value<0)){
              arr.push(0)
            }else{
              arr.push(Number(temp[i].value))
            }
          }
          return arr
        },
        values3:function () {
          let arr =[];
          let temp = this.res3
          for(let i=0;i<temp.length;i++){
            if(Number(temp[i].value<0)){
              arr.push(0)
            }else{
              arr.push(Number(temp[i].value))
            }
          }
          return arr
        },
        values4:function () {
          let arr =[];
          let temp = this.res4
          for(let i=0;i<temp.length;i++){
            if(Number(temp[i].value<0)){
              arr.push(0)
            }else{
              arr.push(Number(temp[i].value))
            }
          }
          return arr
        }
      },
      methods:{
        getPins(){

        },
          getUserLabel(){
            this.$axios.request({
              url: `/user/profile/labels/get/pins`,
              method: 'post',
              data:this.bpins,
              withCredentials:true
            }).then(res=>{
              if(res.data.code==0){
                this.res1=res.data.result[this.bpins[0]]
                this.res2 = res.data.result[this.bpins[1]]
                this.res3 = res.data.result[this.bpins[2]]
                this.res4 = res.data.result[this.bpins[3]]
                this.init()
              }
            }).catch(err => {
              console.log(err)
            })
          },
          init(){
            var option = {
              title: {
                text: ''
              },
              legend: {
                data: [this.bpins[0], this.bpins[1],this.bpins[2],this.bpins[3]],
                x:'center',
                left: 10,
              },
              radar: {
                // shape: 'circle',
                name: {
                  textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                  }
                },
                indicator: this.labels,
              },
              series: [{
                name: '用户相性',
                type: 'radar',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                // areaStyle: {normal: {}},
                data : [
                  {
                    value : this.values,
                    name : this.bpins[0]
                  },
                  {
                    value : this.values2,
                    name : this.bpins[1]
                  },
                  {
                    value : this.values3,
                    name : this.bpins[2]
                  },
                  {
                    value : this.values4,
                    name : this.bpins[3]
                  }
                ]
              }]
            };
            this.$nextTick(() => {
              this.char1 = echarts.init(this.$refs.main)
              this.char1.setOption(option)
              // on(window, 'resize', this.resize)
            })
          }
      }
    }
</script>

<style scoped>
  #main{
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }
</style>
