<template>
  <div style="padding: 3rem;">
    <Table size="large" border stripe :columns="columns1" :data="data1"></Table>
  </div>
</template>

<script>
    export default {
        name: "userTable",
      data(){
        return{
          data1:[],
          columns1:[
            {
              type: 'index',
              width: 100,
              title: '序号',
              align: 'center'
            },
            {
              title: '社区ID',
              key: 'communityId',
            },
            {
              title: '社区人数',
              key: 'communitySize',
            },
            {
              title: '操作',
              key: 'action',
              width: 150,
              align: 'center',
              render: (h, params) => {
                return h('div', [
                  h('Button', {
                    props: {
                      type: 'primary',
                      size: 'small'
                    },
                    style: {
                      marginRight: '5px'
                    },
                    on: {
                      click: () => {
                        //this.show(params.index)
                      }
                    }
                  }, '查看社区'),
                ]);
              }
            }
          ],
        }
      },
      mounted(){
        this.getData()

      },
      methods:{
          getData(){
            //neoUser/queryCommunityMembersByCondition
            this.$axios
              .request({
                url: `/neoUser/discoveryCommunityByCondition?labelName=label`,
                method: "get"
              })
              .then(res => {
                if (res.data.code == 0) {
                  this.data1=res.data.result
                }
              })
              .catch(err => {
                console.log(err);
              });
          }
      }
    }
</script>

<style scoped>

</style>
