<template>
  <div>
    <div style="padding: 1rem;">
      <Input v-model="user2" placeholder="请输入用户pin" style="width: 200px;margin: 0 10px" />
      <Select v-model="level" style="width:200px">
        <Option :value="1">一级辐射</Option>
        <Option :value="2">二级辐射</Option>
        <Option :value="3">三级辐射</Option>
      </Select>
      <Button @click="getData" type="info">查询</Button>
    </div>
    <div ref="main" id="main"></div>
  </div>
</template>

<script>
  import echarts from 'echarts'
  import { on, off } from '@/libs/tools'
    export default {
      name: "userRelation",
      data(){
          return{
            char1:null,
            user2:'esl0g6uw'
          }
      },
      mounted(){
        if(this.$route.query.pin){
          this.user2=this.$route.query.pin
        }
        this.getData()
      },
      beforeDestroy () {
        off(window, 'resize', this.resize)
      },
      methods:{
        resize () {
          this.char1.resize()
        },
        getData(){
          this.$axios.request({
            url: `/neoUser/findPath?pin=${this.user2}&level=${this.level}`,
            method: 'get',
            withCredentials:true
          }).then(res=>{
            if(res.data.code==0){
              this.getChart(res.data.result.nodes,res.data.result.links)
            }
          }).catch(err => {
            console.log(err)
          })
        },
        getChart(data,links){
          var myChart = echarts.init(this.$refs.main);
          var option = {
            title: { text: '' },
            tooltip: {
              formatter: function (x) {
                return x.data.des;
              }
            },
            series: [
              {
                type: 'graph',
                layout: 'force',
                symbolSize: 80,
                roam: true,
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [8, 10],
                edgeLabel: {
                  normal: {
                    textStyle: {
                      fontSize: 20
                    }
                  }
                },
                force: {
                  repulsion: 2500,
                  edgeLength: [10, 50]
                },
                draggable: true,
                itemStyle: {
                  normal: {
                    color: '#00c2f0'
                  }
                },
                lineStyle: {
                  normal: {
                    width: 2,
                    color: '#4b565b'
                  }
                },
                edgeLabel: {
                  normal: {
                    show: true,
                    formatter: function (x) {
                      return x.data.name;
                    }
                  }
                },
                label: {
                  normal: {
                    show: true,
                    textStyle: {
                    }
                  }
                },
                data: data,
                links: links
              }
            ]
          };
          this.$nextTick(() => {
            this.char1 = echarts.init(this.$refs.main)
            this.char1.setOption(option)
            on(window, 'resize', this.resize)
          })
        }

      }
    }
</script>

<style scoped>
  #main{
    width: 100%;
    height: 100vh;
  }
</style>
