<template>
    <div>
        <Form :model="formItem" :label-width="100" inline>
            <FormItem label="楼层版本：">
                <Select
                    v-model="editionData.id"
                    filterable
                    placeholder="请选择楼层版本"
                    style="width: 60%;"
                >
                    <Option
                        v-for="(item, index) in editionList"
                        :value="item.id"
                        :key="index"
                    >{{ item.floorVersion}}</Option>
                </Select>
            </FormItem>
            <div style="margin: -15px 0 0px 0;text-align: right;">
                <Button type="info" @click="saveRollBackData">保存</Button>
            </div>
        </Form>
    </div>
</template>
<script>
export default {
    props: {
        id: {
            type: Number,
            default: null
        }
    },
    data() {
        return {
            formItem: {},
            editionData: {
                id: "",
                modifyTime: "",
                floorVersion: ""
            },
            editionList: []
        }
    },
    methods: {
        checkHistoryEdition() {
            if(!this.id) return
            this.$axios.request({
                url: `/jdh/floor/queryHistorical?floorId=${this.id}`,
                method: 'post',
            }).then(res=>{
                if(res.data.code == 0){
                    let resData = res.data.result
                    this.editionList = resData
                    //
                }else{
                    this.$Message.success('查询失败');
                }
            }).catch(err => {
                console.log(err)
                this.$Message.success('查询失败');
            })
        },
        saveRollBackData() {
            this.$axios.request({
                url: `/jdh/floor/rollBack?rollBackId=${this.editionData.id}`,
                method: 'post',
            }).then(res=>{
                if(res.data.code == 0){
                    this.$Message.success('数据回滚成功');
                }
            }).catch(err => {
                console.log(err)
                this.$Message.success('数据回滚失败');
            })
        }
    }
}
</script>