<!--
  吸顶 — 编辑
 -->
<template>
    <div>
        <div class="n-relative">
            <Tabs value="style">
                <TabPane label="样式配置" name="style">
                    <Form>
                        <FormItem label="商品数量" class="n-label">
                            <RadioGroup v-model="element.column">
                                <Radio label="2">一行两个</Radio>
                                <Radio label="3">一行三个</Radio>
                                <Radio label="4">一行四个</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem label="滚动" class="n-label">
                            <RadioGroup v-model="element.scroll">
                                <Radio label="scroll">滚动</Radio>
                                <Radio label="default">默认</Radio>
                            </RadioGroup>
                        </FormItem>
                    </Form>
                </TabPane>
                <TabPane label="素材配置" name="data">
                    <Form ref="form" :model="element" :rules="ruleValidate" :label-width="80">
                        <FormItem label="数据来源" style="margin-bottom: 8px;">
                            <RadioGroup v-model="element.dataSource" @on-change="groupDataChange">
                                <Radio label="manual">录入</Radio>
                                <Radio label="group">商品组</Radio>
                            </RadioGroup>
                        </FormItem>
                        <div class="n-opt-add" v-show="element.scroll === 'scroll'">
                            <Button type="primary" @click="addTabList">添加标签</Button>
                        </div>
                        <Collapse class="n-ivu-collapse" v-show="element.dataSource === 'manual'" v-for="(item, index) in data[0].items[0].style.titles" :key="index">
                            <Panel>
                                <div  @click.stop.prevent="() => {}" style="width: 110px;display: inline-block;">
                                    <Input v-model="data[0].items[0].style.titles[index]" placeholder="请输入标签名称" style="margin-bottom: 5px;"></Input>
                                </div>
                                <div class="n-opt" @click.stop.prevent="() => {}">
                                    <Icon type="ios-trash-outline" @click="deleteTab(index)" />
                                    <!-- <Icon type="md-arrow-dropup-circle" />
                                    <Icon type="md-arrow-dropdown-circle" /> -->
                                </div>
                                <div slot="content">
                                    <div v-for="(item, index) in data[0].items[0].action[index].items" :key="index">
                                        <FormItem label="图片">
                                            <Upload ref="upload" :show-upload-list="false" :on-success="handleSuccess"
                                                :on-error="handleErr" :format="['jpg','jpeg','png']" :max-size="2048"
                                                :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize"
                                                :before-upload="handleBeforeUpload" type="drag"
                                                action="http://jdh.marketing.mobile.cms.jd.com/image/upload"
                                                style="display: inline-block;width:58px;">
                                                <div style="width: 58px;height:58px;line-height: 58px;">
                                                    <Icon type="ios-camera" size="20"></Icon>
                                                </div>
                                            </Upload>
                                        </FormItem>
                                        <FormItem label="描述">
                                            <Input  v-model="item.descriptionText" placeholder="请输入描述" class="n-activity"></Input>
                                        </FormItem>
                                        <FormItem label="价格">
                                            <Input   v-model="item.price" placeholder="请输入价格"></Input>
                                        </FormItem>
                                    </div>
                                </div>
                            </Panel>
                        </Collapse>
                        <!-- <FormItem label="标签" v-for="(item, index) in data[0].items[0].style.titles" :key="index">
                            <Input v-model="data[0].items[0].style.titles[index]" placeholder="请输入标签名称"
                                class="n-activity"></Input>
                        </FormItem>
                        <div class="n-add" v-show="element.scroll === 'scroll'">
                            <Button type="primary" icon="ios-add" @click="addTabList">添加</Button>
                        </div>
                        <Collapse class="n-ivu-collapse" v-model="panelValue" v-show="element.dataSource === 'manual'">
                            <Panel v-for="(item, index) in data[1].items" :key="index">
                                <span class="n-option-subtitle">商品{{index}}</span>
                                <div slot="content">
                                    <FormItem label="图片">
                                        <div v-show="item.productImgurl != ''" style="margin-right: 10px">
                                            <img width="60" height="60" :src="item.productImgurl" alt />
                                        </div>
                                        <Upload ref="upload" :show-upload-list="false" :on-success="handleSuccess"
                                            :on-error="handleErr" :format="['jpg','jpeg','png']" :max-size="2048"
                                            :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize"
                                            :before-upload="handleBeforeUpload" type="drag"
                                            action="http://jdh.marketing.mobile.cms.jd.com/image/upload"
                                            style="display: inline-block;width:58px;">
                                            <div style="width: 58px;height:58px;line-height: 58px;">
                                                <Icon type="ios-camera" size="20"></Icon>
                                            </div>
                                        </Upload>
                                    </FormItem>
                                    <FormItem label="描述">
                                        <Input v-model="item.descriptionText" placeholder="请输入描述"
                                            class="n-activity"></Input>
                                    </FormItem>
                                    <FormItem label="价格">
                                        <Input v-model="item.price" placeholder="请输入价格"></Input>
                                    </FormItem>
                                </div>
                            </Panel>
                        </Collapse> -->
                        <div v-show="element.dataSource === 'group'">
                            <FormItem label="商品组ID">
                                <Input placeholder="" style="width: 214px"></Input>
                                <Button type="primary" @click="checkGroupID" class="n-check">校验</Button>
                                <Button type="text" class="n-manage">管理</Button>
                            </FormItem>
                        </div>
                    </Form>
                </TabPane>
            </Tabs>
        </div>
    </div>
</template>
<script>
    export default {
        name: "stickyLabelEdit",
        props: ["data", "element"],
        data() {
            return {
                ruleValidate: {
                    productImgurl: [
                        { required: true, message: "图片不能为空", trigger: "blur" }
                    ],
                    descriptionText: [
                        { required: true, message: "描述不能为空", trigger: "blur" }
                    ],
                    price: [
                        { required: true, message: "价格不能为空", trigger: "blur" }
                    ]
                },
                panelValue: [0, 1]
            };
        },
        computed: {
            // activeIndex() {
            //     return this.data[0].items[0].style.titles.length
            // }
        },
        methods: {
            handleSuccess(res, file) {
                if (res.code === 200) {
                    this.$Message.success("上传成功");
                } else {
                    this.$Message.warning("上传失败");
                }
            },
            handleErr(res) {
                this.$Message.warning(`上传失败：${JSON.stringify(res)}`);
            },
            handleFormatError() { },
            handleMaxSize() { },
            handleBeforeUpload() { },
            checkGroupID() {

            },
            groupDataChange() {
                this.$Modal.confirm({
                    title: "",
                    content: "<br/>此操作会清空当前表单, 是否继续?",
                    onOk: () => {
                        //this.element.data.items.splice(index, 1);
                    }
                })
                // .then(() => {
                //     this.data.cateInfo.splice(0, this.data.cateInfo.length)
                //     console.log(this.data)
                // })
                // .catch(() => {
                //     this.data.dataSource = label === 0 ? 1 : 0
                // })
            },
            /**
             * 增加标签列表
             */
            addTabList() {
                this.data[0].items[0].style.titles.push('标签')
                //同时添加一组数据
                let itemLen = this.data[0].items[0].action[0].items.length
                var obj = {
                    type: "40",
                    id: "",
                    style: {
                        bgColor: "",
                        padding: ["0", "0", "0", "0"],
                        column: "",
                    },
                    items: []
                }
                this.data[0].items[0].action.push(obj);
                var actionLength = this.data[0].items[0].action.length
                for (let index = 0; index < this.element.column; index++) {
                    this.data[0].items[0].action[actionLength-1].items.push({
                        type: "product",
                        productImgurl: "",
                        descriptionText: "",
                        price: "",
                        shoppingIcon: "https://m.360buyimg.com/babel/jfs/t1/46087/33/10283/1740/5d75b1e4Ef64124cc/3d126a464fc7864d.png",
                        detailAction: "",
                        shopAction: "",
                        style: {
                            height: "190",
                            margin: ["0", "0", "0", "0"]
                        }
                    })
                }
                
            },
            /**
             * 根据索引值删除标签和数据 遗留不可添加商品功能
             */
            deleteTab(index) {
                let tabLen = this.data[0].items[0].style.titles.length
                let that = this
                if(tabLen > 5) {
                    this.data[0].items[0].style.titles.splice(index, 1)
                    this.data[0].items[0].action.splice(index, 1)
                }else{
                    that.$Modal.confirm({
                        title: "",
                        content: "<br/>标签数量最少5个，当前不可删除?",
                        onOk: () => {
                            //this.element.data.items.splice(index, 1);
                        }
                    })
                }
            }
        }
    };
</script>
<style lang="less" scoped>
    .n-check {
        margin: 0 5px;
    }

    .n-manage {
        color: #2d8cf0;
    }

    /deep/.n-label .ivu-form-item-label {
        width: 60px;
    }

    .n-add {
        text-align: center;
        margin-bottom: 15px;
    }
    .n-opt {
        width: 300px;
        width: 200px;
        float: right;
        margin-top: -3px;
    }
    /deep/ i.ivu-icon-ios-trash-outline {
        background-color: #f56c6c;
        font-size: 18px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        line-height: 30px;
        text-align: center;
        margin: 0px 3px 0px 10px!important;
    }
    /deep/ i.ivu-icon-ios-trash-outline ,
    /deep/ i.ivu-icon-md-arrow-dropup-circle ,
    /deep/ i.ivu-icon-md-arrow-dropdown-circle {
        -webkit-transform: rotate(0deg)!important;
        transform: rotate(0deg)!important;
        
    }
    /deep/ i.ivu-icon-md-arrow-dropup-circle ,/deep/ i.ivu-icon-md-arrow-dropdown-circle {
        font-size: 36px;
        color: #2d8cf0;
        margin: 0px 0 0px 0px!important;
    }
    .n-opt-add {
        margin: 0px 0 15px 22px;
    }
</style>