<!--
  吸顶 — 预览
 -->
<template>
    <div>
        <div class="tab-scroll-box">
            <div :class="[isFixed? 'is_fixed' : '' ,isEdit? 'is_edit_fixed': 'is_preview_fixed']" class="n-tab-scroll" ref="tab-scroll">
                <div class="tab-header">
                    <ul>
                        <li 
                            @click="changeTab(index)" 
                            :class="{'active':activeIndex==index}" 
                            v-for="(item, index) in data[0].items[0].style.titles" 
                            :key="index">
                            <span>{{data[0].items[0].style.titles[index]}}</span>
                        </li>
                    </ul>
                    <div class="n-wrap-line"></div>
                </div>
            </div>
            <div class="n-goods-wrap">
                <Row :class="'n-column-' + col"  :gutter="5" style="margin:0">
                    <!--  :style="{'padding': col === 2 || 4? '0' : '0 10px'}" -->
                    <Col :span="24/col" style="padding: 0 1px;" v-for="(item, index) in data[0].items[0].action[activeIndex].items" :key="index">
                        <div class="n-goods">
                            <div>
                                <img :src="item && item.productImgurl? item.productImgurl : defaultProductImgurl">
                            </div>
                            <p class="n-goods-desc">{{ item && item.descriptionText? item.descriptionText : '商品' }}</p>
                            <p class="n-price">
                                <span class="n-goods-price"><i>￥</i>{{ item && item.price? item.price : '999' }}</span>
                                <span class="n-goods-icon"></span>
                            </p>
                        </div>
                    </Col>
                </Row>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "stickyLabel",
        props: ['index', 'data', 'element'],
        data() {
            return {
                activeIndex: 0,
                defaultProductImgurl: 'http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png',
                isFixed: false,
                isEdit: true,
                titleLen: 0
            };
        },
        watch: {
            'element.column': function() {
                this.dataInit(true)
            },
        },
        created() {
            this.tabInit(this.element.scroll, 5)
            this.dataInit(false)
        },
        mounted() {},
        computed: {
            col() {
                return (this.element.column - 0) || 2
            }
        },
        methods: {
            /**
             * tab切换
             */
            changeTab(index) {
                this.activeIndex = index;
            },
            /**
             * 初始化页面数据 商品
             */
            dataInit(flag) {
                const itemLen = this.data[0].items[0].action[0].items.length
                this.data[1].style.column = this.element.column
                if(itemLen === '0' ||  flag){
                    this.data[1].style.column = this.element.column
                    if(this.element.column > itemLen) {
                        for (var i = 0; i < this.data[0].items[0].style.titles.length; i++) {
                            for (let index = 0; index < this.data[1].style.column - itemLen; index++) {
                                this.data[0].items[0].action[i].items.push({
                                    type: "product",
                                    productImgurl: "",
                                    descriptionText: "",
                                    price: "",
                                    shoppingIcon: "https://m.360buyimg.com/babel/jfs/t1/46087/33/10283/1740/5d75b1e4Ef64124cc/3d126a464fc7864d.png",
                                    detailAction: "",
                                    shopAction: "",
                                    style: {
                                        height: "190",
                                        margin: ["0", "0", "0", "0"]
                                    }
                                })
                            }
                        }
                        this.data[1].items.push(this.data[0].items[0].action[0].items);
                    }else {
                        for (var i = 0; i < this.data[0].items[0].style.titles.length; i++) {
                            this.data[0].items[0].action[i].items.splice(this.element.column, this.data[0].items[0].action[i].items.length - this.element.column)
                        }
                    }
                }
            },
            /**
             * 默认第一组数据
             */
            dataTab(actionIndex) {
                if(this.data[1].style.column > this.data[1].items.length) {
                    for (let index = 0; index < this.data[1].style.column - this.data[1].items.length + 1; index++) {
                        this.dataStructure(actionIndex)
                    }
                }else {
                    this.data[1].items.splice(0, this.data[1].items.length - this.data[1].style.column)
                }
            },
            /**
             * a列商品push进每一个tab标签
             */
            dataAll() {
                this.data[0].items[0].action.splice(0)
                for (let index = 0; index < this.data[0].items[0].style.titles.length; index++) {
                    this.data[0].items[0].action.push(this.data[1])
                }
            },
            /**
             * push
             */
            dataStructure(index) {
                this.data[index].items.push({
                    type: "product",
                    productImgurl: "",
                    descriptionText: index,
                    price: "",
                    shoppingIcon: "https://m.360buyimg.com/babel/jfs/t1/46087/33/10283/1740/5d75b1e4Ef64124cc/3d126a464fc7864d.png",
                    detailAction: "",
                    shopAction: "",
                    style: {
                        height: "190",
                        margin: ["0", "0", "0", "0"]
                    }
                })
            },
            /**
             * 标签初始化
             */
            tabInit(scroll, size) {
                if(this.data[0].items[0].style.titles.length === 0){
                    for (let index = 0; index < size; index++) {
                        this.data[0].items[0].style.titles.push('标签标题')
                    }
                }
            },
        }
    };
</script>
<style lang="less" scoped>
    .tab-header ul::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 10px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }

    .tab-header:hover ul::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 4px;
        background: #ccc;
    }

    .tab-header:hover ul::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        border-radius: 4px;
        background: #ededed;
    }

    .tab-scroll-box {
        .tab-header {
            width: 100%;
            font-size: 15px;
            box-sizing: border-box;
            position: relative;
            margin-bottom: 5px;
            overflow: hidden;
            .n-wrap-line {
                height: 1px;
                background-color: #d2d2d2;
                position: absolute;
                bottom: 4px;
                width: 200%;
                -webkit-transform: scale(.5);
                -ms-transform: scale(.5);
                transform: scale(.5);
                -webkit-transform-origin: left bottom;
                -ms-transform-origin: left bottom;
                transform-origin: left bottom;
            }
            ul {
                overflow-x: auto;
                display: flex;
                word-break: keep-all;
                // height: 45px;
                // line-height: 45px;
                // border-bottom: 1px solid #000;
                li {
                    float: left;
                    height: 45px;
                    line-height: 45px;
                    padding: 0 2.67%;
                    background-color: #fff;
                    width: 6.5rem;
                    text-align: center;
                    span {
                        display: inline-block;
                        width: 100%;
                        vertical-align: middle;
                        height: 42px;
                        line-height: 42px;
                        position: relative;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                    }
                }
                li.active {
                    font-weight: 700;
                    span::after {
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 3px;
                        height: 3px;
                        width: 100%;
                        background: #000;
                    }
                }
                
            }
        }
        .is_fixed {
            position: fixed;
            width: 373px;
            z-index: 1;
        }
        .is_edit_fixed{
            top: 104px;
        }
        .is_preview_fixed{
            top: 104px;
        }
    }
    .n-goods-wrap {
        padding: 0 10px 0 10px;
        /deep/.ivu-row {
            display: flex;
        }
        .n-column-2 {
            .ivu-col-span-12 {
                margin-bottom: 5px;
                box-sizing: border-box;
            }
            .ivu-col-span-12:nth-child(2n+1) {
                .n-goods {
                    padding: 0;
                }
            }
        }
        .n-goods {
            img {
                display: block;
                width: 100%;
            }
            p.n-goods-desc {
                font-size: 12px;
                color: #000;
                height: 34px;
                margin: 10px 0 5px 0;
                overflow: hidden;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
            p.n-price {
                padding-right: 10px;
                span.n-goods-price {
                    display: inline-block;
                    text-align: left;
                    color: #f23030;
                    font-size: 16px;
                    i {
                        font-style: normal;
                        font-size: 12px;
                    }
                }
                span.n-goods-icon {
                    float: right;
                    display: inline-block;
                    vertical-align: sub;
                    width: 20px;
                    height: 20px;
                    background: url(http://m.360buyimg.com/babel/jfs/t1/50981/28/10064/1740/5d75af08E11017a46/197ea492e3d5d82c.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
            }
        }
        .n-column-3 {
            .ivu-col-span-8 {
                margin-bottom: 5px;
                box-sizing: border-box;
                .n-goods {
                    div {
                        width: 115px;
                        height: 114px;
                    }
                }
            }
            .ivu-col-span-8:nth-child(3n+1) {
                .n-goods {
                    padding: 0;
                }
            }
        }
        .n-column-4 {
            .ivu-col-span-6 {
                margin-bottom: 5px;
                box-sizing: border-box;
                .n-goods {
                    div {
                        width: 86px;
                        height: 85px;
                    }
                }
            }
        }
    }
    .n-goods > div {
        background: url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png);
        background-repeat: no-repeat
    }
</style>