<template>
    <Tabs :animated="false" value="styleTab">
        <TabPane label="样式配置" name="styleTab">
            <div class="form-content">
                <Form :label-width="100">
                    <FormItem label="列表样式">
                        <RadioGroup v-model="element.data.style.column" @on-change="columnChange">
                            <!-- <Radio label="1">一行一个</Radio> -->
                            <Radio label="2">一行两个</Radio>
                            <Radio label="3">一行三个</Radio>
                            <Radio label="4">一行四个</Radio>
                        </RadioGroup>
                    </FormItem>
                    <h4 class="configTitlte">楼层样式配置</h4>
                    <!-- <floorConfig :styleData="element.data.style"></floorConfig> -->
                    <margin :marginSizeData="data.style.margin" name="边距设置"></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner :cornerData="data.style.cornerRadius" name="楼层圆角"></corner>
                    <color :colorData="data.style" field="bgColor" name="楼层背景" resetColor="#FFFFFF"></color>
                    <FormItem label="楼层背景图片" style="margin-bottom: 0px;">
                        <image-upload :imageUrl.sync="data.style.bgImgUrl"></image-upload>
                    </FormItem>

                    <FormItem label="瀑布流">
                        <RadioGroup v-model="data.ext.style.feedFlow">
                            <Radio label="false">否</Radio>
                            <Radio label="true">是</Radio>
                        </RadioGroup>
                    </FormItem>
                    <inputItem
                        :inputData="data.ext.style"
                        name="商品组件宽度"
                        placeholder="请输入商品组件宽度"
                        field="width"
                        style="width: 130px;"
                        inputType="number"
                    ></inputItem>
                    <inputItem
                        :inputData="data.ext.style"
                        name="商品组件高度"
                        placeholder="请输入商品组件高度"
                        field="height"
                        style="width: 130px;"
                        inputType="number"
                    ></inputItem>
                    <inputItem
                        :inputData="data.ext.style"
                        name="商品宽度"
                        placeholder="请输入商品宽度"
                        field="productImgWidth"
                        style="width: 130px;"
                        inputType="number"
                    ></inputItem>
                    <inputItem
                        :inputData="data.ext.style"
                        name="商品高度"
                        placeholder="请输入商品高度"
                        field="productImgHeight"
                        style="width: 130px;"
                        inputType="number"
                    ></inputItem>
                    <padding
                        :paddingSizeData="data.ext.style.productImgPadding"
                        name="商品图片留白"
                        :flag="[false, false, false, false]"
                    ></padding>
                    <color
                        :colorData="data.ext.style"
                        field ="bgColor"
                        name="商品背景颜色"
                        resetColor="#FFFFFF"
                    ></color>
                    <corner
                        :cornerData="data.ext.style.cornerRadius"
                        name="商品背景圆角"
                    ></corner>
                    <margin
                        :marginSizeData="data.ext.style.margin"
                        name="商品边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.ext.style.padding"
                        name="商品边距留白"
                        :flag="[false, false, false, false]"
                    ></padding>
                    <FormItem label="显示标题">
                        <RadioGroup v-model="data.ext.style.titleShow">
                            <Radio label="false">否</Radio>
                            <Radio label="true">是</Radio>
                        </RadioGroup>
                    </FormItem>
                    <template v-if="data.ext.style.titleShow == 'true'">
                        <inputItem
                            :inputData="data.ext.style"
                            name="标题字号"
                            field="titleFontSize"
                            placeholder="请输入标题字号……"
                            inputType="number"
                        ></inputItem>
                        <color
                            :colorData="data.ext.style"
                            field ="titleColor"
                            name="标题颜色"
                            resetColor="#262626"
                        ></color>
                        <inputItem
                            :inputData="data.ext.style"
                            name="标题高度"
                            field="titleHeight"
                            placeholder="请输入标题高度……"
                            inputType="number"
                        ></inputItem>
                        <!-- <inputItem
                            :inputData="data.ext.style"
                            name="标题行高"
                            field="titleLineHeight"
                            placeholder="请输入标题行高……"
                            inputType="number"
                        ></inputItem> -->
                        <margin
                            :marginSizeData="data.ext.style.titleMargin"
                            name="商品标题边距设置"
                        ></margin>
                    </template>
                    <FormItem label="显示现价">
                        <RadioGroup v-model="data.ext.style.priceShow">
                            <Radio label="false">否</Radio>
                            <Radio label="true">是</Radio>
                        </RadioGroup>
                    </FormItem>
                    <template v-if="data.ext.style.priceShow == 'true'">
                        <FormItem label="现价独行">
                            <RadioGroup v-model="data.ext.style.priceDisplay">
                                <Radio label="inline">否</Radio>
                                <Radio label="block">是</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem label="现价居中">
                            <RadioGroup v-model="data.ext.style.priceAlign">
                                <Radio label="left">否</Radio>
                                <Radio label="center">是</Radio>
                            </RadioGroup>
                        </FormItem>
                        <inputItem
                            :inputData="data.ext.style"
                            name="价标字号"
                            field="moneyFontSize"
                            placeholder="请输入价标字号……"
                            inputType="number"
                        ></inputItem>
                        <color
                            :colorData="data.ext.style"
                            field ="moneyColor"
                            name="价标颜色"
                            resetColor="#FF552E"
                        ></color>
                        <inputItem
                            :inputData="data.ext.style"
                            name="价格字号"
                            field="priceFontSize"
                            placeholder="请输入价格字号……"
                            inputType="number"
                        ></inputItem>
                        <color
                            :colorData="data.ext.style"
                            field ="priceColor"
                            name="价格颜色"
                            resetColor="#FF552E"
                        ></color>
                        <FormItem label="价格加粗">
                            <RadioGroup v-model="data.ext.style.priceFontWeight">
                                <Radio label="noraml">否</Radio>
                                <Radio label="bold">是</Radio>
                            </RadioGroup>
                        </FormItem>
                    </template>
                    <FormItem label="显示京东价">
                        <RadioGroup v-model="data.ext.style.jdPriceShow">
                            <Radio label="false">否</Radio>
                            <Radio label="true">是</Radio>
                        </RadioGroup>
                    </FormItem>
                    <template v-if="data.ext.style.jdPriceShow == 'true'">
                        <FormItem label="现价独行">
                            <RadioGroup v-model="data.ext.style.jdPriceDisplay">
                                <Radio label="inline">否</Radio>
                                <Radio label="block">是</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem label="现价居中">
                            <RadioGroup v-model="data.ext.style.jdPriceAlign">
                                <Radio label="left">否</Radio>
                                <Radio label="center">是</Radio>
                            </RadioGroup>
                        </FormItem>
                        <margin
                            :marginSizeData="data.ext.style.priceMargin"
                            name="现价边距设置"
                        ></margin>
                        <inputItem
                            :inputData="data.ext.style"
                            name="京东价标字号"
                            field="jdPriceFontSize"
                            placeholder="请输入京东价标字号……"
                            inputType="number"
                        ></inputItem>
                        <color
                            :colorData="data.ext.style"
                            field ="jdPriceColor"
                            name="京东价标颜色"
                            resetColor="#FF552E"
                        ></color>
                        <inputItem
                            :inputData="data.ext.style"
                            name="京东价标字号"
                            field="moneyJdPriceFontSize"
                            placeholder="请输入京东价标字号……"
                            inputType="number"
                        ></inputItem>
                        <color
                            :colorData="data.ext.style"
                            field ="moneyJdColor"
                            name="京东价标颜色"
                            resetColor="#FF552E"
                        ></color>
                    </template>
                    <FormItem label="显示购物车">
                        <RadioGroup v-model="data.ext.style.shopShow">
                            <Radio label="false">否</Radio>
                            <Radio label="true">是</Radio>
                        </RadioGroup>
                    </FormItem>
                    <template v-if="data.ext.style.shopShow == 'true'">
                        <FormItem label="购物车图片">
                            <image-upload 
                                :imageUrl.sync= data.ext.style.carBgImgUrl></image-upload>
                        </FormItem>
                        <inputItem
                            :inputData="data.ext.style"
                            name="购物车宽度"
                            field="carWidth"
                            placeholder="请输入购物车宽度……"
                            inputType="number"
                        ></inputItem>
                        <inputItem
                            :inputData="data.ext.style"
                            name="购物车高度"
                            field="carHeight"
                            placeholder="请输入购物车高度……"
                            inputType="number"
                        ></inputItem>
                    </template>
                    <borderSize
                        :borderSizeData="data.ext.style.borderSize"
                        name="边框大小设置"
                    ></borderSize>

                    <inputItem
                        :inputData="data.ext.style"
                        name="添加边框元素位置"
                        field="borderMultiple"
                        placeholder="请输入所在边框位置……"
                        inputType="number"
                    ></inputItem>
                    <margin
                        :marginSizeData="data.style.borderSize"
                        name="楼层边框"
                    ></margin>

                    <!-- <color
                        :colorData="data.ext.style"
                        field ="borderColor"
                        name="边框颜色"
                        resetColor="#FF552E"
                    ></color> -->

                    <!-- <h4 class="configTitlte">内容配置</h4>
          <FormItem label="列表样式">
            <RadioGroup v-model="element.data.style.column">
              <Radio label="1">一行一个</Radio>
              <Radio label="2">一行两个</Radio>
              <Radio label="3">一行三个</Radio>
              <Radio label="4">一行四个</Radio>
            </RadioGroup>
                    </FormItem>-->
                    <!-- <FormItem label="文本对齐">
            <RadioGroup v-model="element.data.align">
              <Radio label="1">左对齐</Radio>
              <Radio label="2">居中对齐</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="商品样式">
            <RadioGroup v-model="element.data.cardStyle">
              <Radio label="1">无边白底</Radio>
              <Radio label="2">卡片投影</Radio>
              <Radio label="3">描边白底</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="商品倒角">
            <RadioGroup v-model="element.data.corner">
              <Radio label="1">直角</Radio>
              <Radio label="2">圆角</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="显示内容">
            <CheckboxGroup v-model="element.data.showContent">
              <Checkbox label="1">商品名称</Checkbox>
              <Checkbox label="2">商品描述</Checkbox>
              <Checkbox label="3">商品价格</Checkbox>
              <Checkbox label="4">购买按钮</Checkbox>
              <Checkbox label="5">商品角标</Checkbox>
            </CheckboxGroup>
            <RadioGroup
              v-if="element.data.showContent?element.data.showContent.indexOf('5')!=-1:false"
              v-model="element.data.subscript"
            >
              <Radio label="1">新品</Radio>
              <Radio label="2">热卖</Radio>
              <Radio label="3">NEW</Radio>
              <Radio label="4">HOT</Radio>
            </RadioGroup>
                    </FormItem>-->
                </Form>
            </div>
        </TabPane>
        <TabPane label="素材配置" name="settingTab">
            <div class="form-content">
                <Form :model="element.data.ext" ref="materialIdForm" :label-width="100">
                    <FormItem label="数据来源">
                        <RadioGroup v-model="element.data.ext.dataSourceType1">
                            <Radio label="101">ace</Radio>
                            <Radio label="201">互医</Radio>
                            <Radio label="401">写手</Radio>
                        </RadioGroup>
                    </FormItem>
                    <inputItem
                        :inputData="data.ext"
                        name="每页商品数量"
                        field="pageSize"
                        placeholder="请输入每页商品数量……"
                        inputType="number"
                    ></inputItem>
                    <div v-if="element.data.ext.dataSourceType1=='101'">
                        <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
                    </div>
                    <div v-else-if="element.data.ext.dataSourceType1=='201'">
                        <netAdvert
                            :element="element"
                            data-source="nethuyi"
                            @getresultdata="getResultData($event)"
                        ></netAdvert>
                    </div>
                    <div v-else-if="element.data.ext.dataSourceType1=='401'">
                        <netAdvert
                            :element="element"
                            data-source="xieshou"
                            @getresultdata="getResultData($event)"
                        ></netAdvert>
                    </div>
                </Form>
            </div>
        </TabPane>
      <TabPane v-if="isFlow!='flow'" label="楼层分流配置" name="bypassTab">
        <ABTestDemo :baseId="element.id"></ABTestDemo>
      </TabPane>
    </Tabs>
</template>

<script>
import { mapMutations } from "vuex"
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import inputItem from "../commonDecorate/pageDecorateInput"
import borderSize from "../commonDecorate/pageDecorateBor"
import ABTestDemo from "../../ABTestDemo";

export default {
    name: "edit",
    data() {
        return {
            groupId: "",
            ...mapMutations(["setFlrIndex", "updateFloor"])
        };
    },
    props: ["index", "element", "data","isFlow"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        inputItem: inputItem,
        borderSize: borderSize,
        ABTestDemo
    },
    mounted() {
    },
    methods: {
        columnChange() {
            if (this.element.data.style.column == 2) {
                this.data.ext.pageSize = 2 * 6
                this.element.data.ext.style.height = "256"
                this.data.ext.style.width = "170"
                this.data.ext.style.productImgWidth = "170"
                this.data.ext.style.productImgHeight = "170"
            } else if (this.element.data.style.column == 3) {
                this.data.ext.pageSize = 3 * 5
                this.element.data.ext.style.height = "215";
                this.data.ext.style.width = "120"
                this.data.ext.style.productImgWidth = "96"
                this.data.ext.style.productImgHeight = "96"
            }else if (this.element.data.style.column == 4) {
                this.data.ext.pageSize = 4 * 3
                this.element.data.ext.style.height = "215";
                this.data.ext.style.width = "87"
                this.data.ext.style.productImgWidth = "87"
                this.data.ext.style.productImgHeight = "87"
            }
            if (
                this.element.data.items.length < this.element.data.style.column
            ) {
                for (
                    let i = 0;
                    i <
                    this.element.data.style.column -
                        this.element.data.items.length;
                    i++
                ) {
                    this.element.data.items.push({
                        type: "product",
                        id: "",
                        name: "",
                        desc: "",
                        image: null,
                        pictureUrl: "",
                        sparePictureUrl: "",
                        hostPictureUrl: "",
                        price: "1000",
                        jdPrice: "2000",
                        hot: false,
                        venderId: "",
                        jumpLinkInfo: {
                            linkType: "0", //跳转类型
                            identityId: "", //跳转页面的链接
                            linkUrl: "" //跳转页面的URL
                        }
                    });
                }
            } else {
                this.element.data.items.splice(this.element.data.style.column);
            }
        },
        // 处理返回数据
        getResultData(data) {
            this.element.data.items = data;
            console.log(this.element.data.items);
        }
    },
    watch: {
        // "element.data.style.column": {
        //   handler: function(newer, older) {
        //     if (newer == 2) {
        //       this.element.data.ext.style.height = "220";
        //     } else if (newer == 3) {
        //       this.element.data.ext.style.height = "160";
        //     }
        //     if (this.element.data.items.length < newer) {
        //       for (let i = 0; i < newer - this.element.data.items.length; i++) {
        //         this.element.data.items.push({
        //           type: "product",
        //           id: "",
        //           name: "",
        //           desc: "",
        //           image: null,
        //           pictureUrl: "",
        //           sparePictureUrl: "",
        //           hostPictureUrl: "",
        //           price: "1000",
        //           jdPrice: "2000",
        //           hot: false,
        //           venderId: "",
        //           jumpLinkInfo: {
        //             linkType: "0", //跳转类型
        //             identityId: "", //跳转页面的链接
        //             linkUrl: "" //跳转页面的URL
        //           }
        //         });
        //       }
        //     } else {
        //       this.element.data.items.splice(newer);
        //     }
        //   },
        //   deep: true, // 开启深度监听
        //   immediate: false
        // }
    }
};
</script>

<style scoped>
.item {
    margin: 1rem;
}
</style>
