<template>
    <div
        class="wrapper"
        :style="{
            backgroundColor:colorTransform( data.style.bgColor),
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            backgroundRepeat: 'no-repeat',
            backgroundSize: '100%',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+ data.style.margin[1]+'px '+ data.style.margin[2]+'px '+ data.style.margin[3]+'px',
            borderRadius: data.style.cornerRadius[0]+'px '+ data.style.cornerRadius[1]+'px '+ data.style.cornerRadius[2]+'px '+ data.style.cornerRadius[3]+'px'
        }"
    >
        <div class="col-1" v-show="element.data.style.column=='1'">
            <!--单列商品-->
            <div
                v-show="element.data.items[0].id"
                class="item"
                v-for="(item,index) in element.data.items"
                :key="index"
            >
                <div :class="{'row':true,'inner':element.data.cardStyle=='3'}">
                    <div class="i-wrapper">
                        <img
                            v-show="item.pictureUrl"
                            :src="item.pictureUrl?item.pictureUrl:'../../img/jdLogo.png'"
                            alt
                        />
                        <img v-show="!item.pictureUrl" src="../../img/jdLogo.png" alt />
                    </div>
                    <div class="content">
                        <div class="name">{{item.name}}</div>
                        <div class="desc">{{item.desc}}</div>
                        <div class="price">
                            <div v-show="item.price" class="c-price">
                                <span>￥{{item.price}}</span>
                                <s>￥{{item.jdPrice}}</s>
                            </div>
                            <div class="cart">
                                <Icon type="ios-cart" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="!element.data.items[0].id" class="item">
                <div :class="{'row':true,'inner':element.data.cardStyle=='3'}">
                    <div class="i-wrapper">
                        <img src="../../img/jdLogo.png" alt />
                    </div>
                    <div class="content">
                        <div class="name">商品名称</div>
                        <div class="desc"></div>
                        <div class="price">
                            <div class="c-price">
                                <span>￥1000.00</span>
                            </div>
                            <div class="cart">
                                <Icon type="ios-cart" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2" v-show="element.data.style.column=='2'">
            <!--双列商品-->
            <div
                v-show="element.data.items[0].id"
                class="item"
                v-for="(item,index) in element.data.items"
                :key="index"
                :style="{
                    backgroundColor:colorTransform(data.ext.style.bgColor),
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                    borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                    boxShadow: '0 4px ' + data.ext.style.shadowRadius + 'px ' + colorTransform(data.ext.style.shadowColor),
                    width: '170' - data.ext.style.margin[1] - data.ext.style.margin[3] + 'px',
                    height: data.ext.style.height + 'px'
                }"
            >
                <div :class="{'inner':element.data.cardStyle=='3'}">
                    <div class="i-wrapper">
                        <img
                            v-show="item.pictureUrl"
                            :style="{
                                width: data.ext.style.productImgWidth + 'px',
                                height: data.ext.style.productImgHeight + 'px'
                            }"
                            :src="item.pictureUrl?item.pictureUrl:''"
                            alt
                        />
                    </div>
                    <div class="content">
                        <div class="name"
                            :style="{
                                fontSize: data.ext.style.titleFontSize + 'px',
                                color: colorTransform(data.ext.style.titleColor),
                                height: data.ext.style.titleHeight + 'px',
                                //lineHeight: data.ext.style.titleLineHeight + 'px'
                                margin: data.ext.style.titleMargin[0]+'px '+ data.ext.style.titleMargin[1]+'px '+ data.ext.style.titleMargin[2]+'px '+ data.ext.style.titleMargin[3]+'px'
                            }"
                        >{{item.name}}</div>
                        <!-- <div class="desc">{{item.desc}}</div> -->
                        <div class="price">
                            <div class="c-price">
                                <span>
                                    <i 
                                        :style="{
                                            fontSize: data.ext.style.moneyFontSize + 'px',
                                            color: colorTransform(data.ext.style.moneyColor)
                                        }"
                                    >￥</i>
                                    <i
                                        :style="{
                                            fontSize: data.ext.style.priceFontSize + 'px',
                                            color: colorTransform(data.ext.style.priceColor)
                                        }"
                                    >{{item.price}}</i>
                                </span>
                                <s v-if="data.ext.style.jdPriceShow == 'true'">
                                    <i
                                        :style="{
                                            fontSize: data.ext.style.moneyJdPriceFontSize + 'px',
                                            color: colorTransform(data.ext.style.moneyJdColor)
                                        }"
                                    >￥</i>
                                    <i
                                        :style="{
                                            fontSize: data.ext.style.jdPriceFontSize + 'px',
                                            color: colorTransform(data.ext.style.jdPriceColor)
                                        }"
                                    >{{item.jdPrice}}</i>
                                </s>
                            </div>
                            <div class="cart" v-if="data.ext.style.shopShow == 'true'">
                                <i :style="{
                                    backgroundImage:'url('+ data.ext.style.carBgImgUrl +')',
                                    width: data.ext.style.carWidth + 'px',
                                    height: data.ext.style.carHeight + 'px'
                                }"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                v-show="!element.data.items[0].id"
                class="item"
                v-for="(item,index) in 2"
                :key="index"
                :style="{
                    backgroundColor:colorTransform(data.ext.style.bgColor),
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                    borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                    boxShadow: '0 4px ' + data.ext.style.shadowRadius + 'px ' + colorTransform(data.ext.style.shadowColor),
                    width: '170' - data.ext.style.margin[1] - data.ext.style.margin[3] + 'px',
                    height: data.ext.style.height + 'px'
                }"
            >
                <div :class="{'inner':element.data.cardStyle=='3'}">
                    <div class="i-wrapper">
                        <img src="../../img/jdLogo.png" alt 
                        :style="{
                            width: data.ext.style.productImgWidth + 'px',
                            height: data.ext.style.productImgHeight + 'px'
                        }"
                        />
                    </div>
                    <div class="content">
                        <div class="name"
                            :style="{
                                fontSize: data.ext.style.titleFontSize + 'px',
                                color: colorTransform(data.ext.style.titleColor),
                                height: data.ext.style.titleHeight + 'px',
                                //lineHeight: data.ext.style.titleLineHeight + 'px'
                                margin: data.ext.style.titleMargin[0]+'px '+ data.ext.style.titleMargin[1]+'px '+ data.ext.style.titleMargin[2]+'px '+ data.ext.style.titleMargin[3]+'px'
                            }"
                        >商品名称</div>
                        <!-- <div class="desc"></div> -->
                        <div class="price">
                            <div class="c-price">
                                <span>
                                    <i 
                                        :style="{
                                            fontSize: data.ext.style.moneyFontSize + 'px',
                                            color: colorTransform(data.ext.style.moneyColor)
                                        }"
                                    >￥</i>
                                    <i
                                        :style="{
                                            fontSize: data.ext.style.priceFontSize + 'px',
                                            color: colorTransform(data.ext.style.priceColor)
                                        }"
                                    >00.00</i>
                                </span>
                                <s v-if="data.ext.style.jdPriceShow == 'true'">
                                    <i
                                        :style="{
                                            fontSize: data.ext.style.moneyJdPriceFontSize + 'px',
                                            color: colorTransform(data.ext.style.moneyJdColor)
                                        }"
                                    >￥</i>
                                    <i
                                        :style="{
                                            fontSize: data.ext.style.jdPriceFontSize + 'px',
                                            color: colorTransform(data.ext.style.jdPriceColor)
                                        }"
                                    >{{item.jdPrice}}</i>
                                </s>
                            </div>
                            <div class="cart" v-if="data.ext.style.shopShow == 'true'">
                                <i :style="{
                                    backgroundImage:'url('+ data.ext.style.carBgImgUrl +')',
                                    width: data.ext.style.carWidth + 'px',
                                    height: data.ext.style.carHeight + 'px'
                                }"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" v-show="element.data.style.column=='3'">
            <div
                v-show="element.data.items[0].id"
                class="item"
                v-for="(item,index) in element.data.items"
                :key="index"
                :style="{
                    backgroundColor:colorTransform(data.ext.style.bgColor),
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                    borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                    width: '120' - data.ext.style.margin[1] - data.ext.style.margin[3] + 'px',
                    height: data.ext.style.height + 'px'
                }"
            >
                <div class="i-wrapper">
                    <img
                        v-show="item.pictureUrl"
                        :style="{
                            width: data.ext.style.productImgWidth + 'px',
                            height: data.ext.style.productImgHeight + 'px'
                        }"
                        :src="item.pictureUrl?item.pictureUrl:''"
                        alt
                    />
                </div>
                <div class="content">
                    <div class="name"
                        :style="{
                            fontSize: data.ext.style.titleFontSize + 'px',
                            color: colorTransform(data.ext.style.titleColor),
                            height: data.ext.style.titleHeight + 'px',
                            //lineHeight: data.ext.style.titleLineHeight + 'px'
                            margin: data.ext.style.titleMargin[0]+'px '+ data.ext.style.titleMargin[1]+'px '+ data.ext.style.titleMargin[2]+'px '+ data.ext.style.titleMargin[3]+'px'
                        }"
                    >{{item.name}}</div>
                    <div class="desc">{{item.desc}}</div>
                    <div class="price">
                        <div class="c-price">
                            <span>
                                <i 
                                    :style="{
                                        fontSize: data.ext.style.moneyFontSize + 'px',
                                        color: colorTransform(data.ext.style.moneyColor)
                                    }"
                                >￥</i>
                                <i
                                    :style="{
                                        fontSize: data.ext.style.priceFontSize + 'px',
                                        color: colorTransform(data.ext.style.priceColor)
                                    }"
                                >{{item.price}}</i>
                            </span>
                            <s v-if="data.ext.style.jdPriceShow == 'true'">
                                <i
                                    :style="{
                                        fontSize: data.ext.style.moneyJdPriceFontSize + 'px',
                                        color: colorTransform(data.ext.style.moneyJdColor)
                                    }"
                                >￥</i>
                                <i
                                    :style="{
                                        fontSize: data.ext.style.jdPriceFontSize + 'px',
                                        color: colorTransform(data.ext.style.jdPriceColor)
                                    }"
                                >{{item.jdPrice}}</i>
                            </s>
                        </div>
                        <div class="cart" v-if="data.ext.style.shopShow == 'true'">
                            <i :style="{
                                backgroundImage:'url('+ data.ext.style.carBgImgUrl +')',
                                width: data.ext.style.carWidth + 'px',
                                height: data.ext.style.carHeight + 'px'
                            }"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div
                v-show="!element.data.items[0].id"
                class="item"
                v-for="(item,index) in 3"
                :key="index"
                :style="{
                    backgroundColor:colorTransform(data.ext.style.bgColor),
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                    borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                    width: '120' - data.ext.style.margin[1] - data.ext.style.margin[3] + 'px',
                    height: data.ext.style.height + 'px'
                }"
            >
                <div class="i-wrapper">
                    <img src="../../img/jdLogo.png" alt 
                    :style="{
                        width: data.ext.style.productImgWidth + 'px',
                        height: data.ext.style.productImgHeight + 'px'
                    }"
                    />
                </div>
                <div class="content">
                    <div class="name"
                        :style="{
                            fontSize: data.ext.style.titleFontSize + 'px',
                            color: colorTransform(data.ext.style.titleColor),
                            height: data.ext.style.titleHeight + 'px',
                            //lineHeight: data.ext.style.titleLineHeight + 'px'
                            margin: data.ext.style.titleMargin[0]+'px '+ data.ext.style.titleMargin[1]+'px '+ data.ext.style.titleMargin[2]+'px '+ data.ext.style.titleMargin[3]+'px'
                        }"
                    >商品{{index}}</div>
                    <div class="desc"></div>
                    <div class="price">
                        <div class="c-price">
                            <span>￥1000.00</span>
                        </div>
                        <div class="cart" v-if="data.ext.style.shopShow == 'true'">
                            <i :style="{
                                backgroundImage:'url('+ data.ext.style.carBgImgUrl +')',
                                width: data.ext.style.carWidth + 'px',
                                height: data.ext.style.carHeight + 'px'
                            }"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
        margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px', -->
        <div class="col-4" v-show="element.data.style.column=='4'" :style="{
            width: '100%',
            borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
            borderTop: data.style.borderSize[0] + 'px ' + data.style.borderStyle[0] + ' ' + data.style.borderColor[0],
            borderRight: data.style.borderSize[1] + 'px ' + data.style.borderStyle[1] + ' ' + data.style.borderColor[1],
            borderBottom: data.style.borderSize[2] + 'px ' + data.style.borderStyle[2] + ' ' + data.style.borderColor[2],
            borderLeft: data.style.borderSize[3] + 'px ' + data.style.borderStyle[3] + ' ' + data.style.borderColor[3],
        }">
            <div
                v-show="element.data.items[0].id"
                class="item"
                v-for="(item,index) in element.data.items"
                :key="index"
                :style="{
                    backgroundColor:colorTransform(data.ext.style.bgColor),
                    width: '87.5' - data.ext.style.margin[1] - data.ext.style.margin[3] + 'px',
                    height: data.ext.style.height + 'px',
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                    borderTop: data.ext.style.borderMultiple == index ? data.ext.style.borderSize[0] + 'px ' + data.ext.style.borderStyle[0] + ' ' + data.ext.style.borderColor[0] : 'none',
                    borderRight: data.ext.style.borderMultiple == index ? data.ext.style.borderSize[1] + 'px ' + data.ext.style.borderStyle[1] + ' ' + data.ext.style.borderColor[1] : 'none',
                    borderBottom: data.ext.style.borderMultiple == index ? data.ext.style.borderSize[2] + 'px ' + data.ext.style.borderStyle[2] + ' ' + data.ext.style.borderColor[2] : 'none',
                    borderLeft: data.ext.style.borderMultiple == index ? data.ext.style.borderSize[3] + 'px ' + data.ext.style.borderStyle[3] + ' ' + data.ext.style.borderColor[3] : 'none',
                }"
            >
                <div class="i-wrapper">
                    <img
                        v-show="item.pictureUrl"
                        :style="{
                            width: data.ext.style.productImgWidth + 'px',
                            height: data.ext.style.productImgHeight + 'px',
                            margin: '0 auto'
                        }"
                        :src="item.pictureUrl?item.pictureUrl:''"
                        alt />
                </div>
                <div class="content">
                    <div class="name"
                        v-if="data.ext.style.titleShow == 'true'"
                        :style="{
                            fontSize: data.ext.style.titleFontSize + 'px',
                            color: colorTransform(data.ext.style.titleColor),
                            height: data.ext.style.titleHeight + 'px',
                            //lineHeight: data.ext.style.titleLineHeight + 'px'
                            margin: data.ext.style.titleMargin[0]+'px '+ data.ext.style.titleMargin[1]+'px '+ data.ext.style.titleMargin[2]+'px '+ data.ext.style.titleMargin[3]+'px'
                        }"
                    >{{item.name}}</div>
                    <div class="desc">{{item.desc}}</div>
                    <div class="price">
                        <div class="c-price"
                            :style="{
                                width: data.ext.style.shopShow == 'true' ? 'auto' : '100%',
                            }"  
                        >
                            <span v-if="data.ext.style.priceShow == 'true'" :style="{
                                display: data.ext.style.priceDisplay == 'block' ? 'block' : 'inline-block',
                                width: '100%',
                                'text-align': data.ext.style.priceAlign,
                                height: data.ext.style.priceFontSize + 'px',
                                margin: data.ext.style.priceMargin[0]+'px '+ data.ext.style.priceMargin[1]+'px '+ data.ext.style.priceMargin[2]+'px '+ data.ext.style.priceMargin[3]+'px',
                            }">
                                <i 
                                    :style="{
                                        fontSize: data.ext.style.moneyFontSize + 'px',
                                        color: colorTransform(data.ext.style.moneyColor),
                                    }"
                                >￥</i>
                                <i
                                    :style="{
                                        fontSize: data.ext.style.priceFontSize + 'px',
                                        color: colorTransform(data.ext.style.priceColor),
                                        fontWeight: data.ext.style.priceFontWeight,
                                    }"
                                >{{item.price}}</i>
                            </span>
                            <s v-if="data.ext.style.jdPriceShow == 'true'"
                                :style="{
                                    display: data.ext.style.jdPriceDisplay == 'block' ? 'block' : 'inline-block',
                                    width: '100%',
                                    'text-align': data.ext.style.jdPriceAlign,
                                    height: data.ext.style.jdPriceFontSize + 'px'
                                }"
                            >
                                <i
                                    :style="{
                                        fontSize: data.ext.style.moneyJdPriceFontSize + 'px',
                                        color: colorTransform(data.ext.style.moneyJdColor)
                                    }"
                                >￥</i>
                                <i
                                    :style="{
                                        fontSize: data.ext.style.jdPriceFontSize + 'px',
                                        color: colorTransform(data.ext.style.jdPriceColor)
                                    }"
                                >{{item.jdPrice}}</i>
                            </s>
                        </div>
                        <div class="cart" v-if="data.ext.style.shopShow == 'true'">
                            <i :style="{
                                backgroundImage:'url('+ data.ext.style.carBgImgUrl +')',
                                width: data.ext.style.carWidth + 'px',
                                height: data.ext.style.carHeight + 'px'
                            }"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div
                v-show="!element.data.items[0].id"
                class="item"
                v-for="(item,index) in 4"
                :key="index"
                :style="{
                    backgroundColor:colorTransform(data.ext.style.bgColor),
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                    borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                    width: '87.5' - data.ext.style.margin[1] - data.ext.style.margin[3] + 'px',
                    height: data.ext.style.height + 'px'
                }"
            >
                <div class="i-wrapper">
                    <img src="../../img/jdLogo.png" alt 
                        :style="{
                            width: data.ext.style.productImgWidth + 'px',
                            height: data.ext.style.productImgHeight + 'px'
                        }"/>
                </div>
                <div class="content">
                    <div class="name"
                        v-if="data.ext.style.titleShow == 'true'"
                        :style="{
                            fontSize: data.ext.style.titleFontSize + 'px',
                            color: colorTransform(data.ext.style.titleColor),
                            height: data.ext.style.titleHeight + 'px',
                            //lineHeight: data.ext.style.titleLineHeight + 'px'
                            margin: data.ext.style.titleMargin[0]+'px '+ data.ext.style.titleMargin[1]+'px '+ data.ext.style.titleMargin[2]+'px '+ data.ext.style.titleMargin[3]+'px'
                        }"
                    >商品{{index}}</div>
                    <div class="desc"></div>
                    <div class="price">
                        <div class="c-price">
                            <span>￥1000.00</span>
                        </div>
                        <div class="cart" v-if="data.ext.style.shopShow == 'true'">
                            <i :style="{
                                backgroundImage:'url('+ data.ext.style.carBgImgUrl +')',
                                width: data.ext.style.carWidth + 'px',
                                height: data.ext.style.carHeight + 'px'
                            }"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "product",
    props: ["index", "element", "data"],
    data() {
        return {
            a: 1,
            carImg:
                "https://m.360buyimg.com/pop/jfs/t1/99842/28/9930/3094/5e1dc0f5E9aa476bd/f690aae61c07e813.png"
        };
    }
};
</script>

<style scoped lang="less">
.row {
    display: flex;
    flex-direction: row;
}
.wrapper {
    display: flex;
    flex-direction: row;
    .item {
        .i-wrapper {
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .inner {
            border: 1px solid #dcdee2;
        }
        .price {
            // justify-content: space-between;
            .c-price {
                // line-height: 0;
                float: left;
                span {
                    font-style: normal;
                }
                s, i {
                    font-style: normal;
                }
            }
            .cart {
                font-size: 16px;
                color: #cc4a0b;
                float: right;
                i {
                    display: inline-block;
                    background-size: 100%;
                    vertical-align: -webkit-baseline-middle;
                }
            }
        }

        .name {
            font-size: 12px;
        }
    }
    .col-1 {
        .item {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
            padding: 10px;
            .i-wrapper {
                width: 50%;
            }
        }

        .content {
            width: 100%;
            margin-left: 10px;
            font-size: 0;
            .name {
                font-size: 12px;
            }

            .desc {
                color: #ccc;
            }

            .price {
                display: flex;
                flex-direction: row;
                bottom: 8px;
            }
        }
    }

    .col-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .item {
            .content {
                width: 100%;
                font-size: 0;
                .name {
                    font-size: 12px;
                    color: #6c6c6c;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                }

                .desc {
                    color: #ccc;
                }

                .price {
                    // display: flex;
                    // flex-direction: row;
                    // bottom: 8px;
                }
            }
        }

        .price {
            // display: flex;
            // flex-direction: row;
            // bottom: 8px;
        }
    }

    .col-3 {
        display: inline-block;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .item:nth-child(3n) {
            margin-right: 0!important;
        }
        .item {
            width: 33%;
            padding: 10px;
            display: inline-block;
            .content {
                width: 100%;
                font-size: 0;
                .name {
                    color: #6c6c6c;
                    font-size: 12px;
                    height: 34px;
                    overflow: hidden;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                }
                .desc {
                    color: #ccc;
                }
                .price {
                    // display: flex;
                    // flex-direction: row;
                    // bottom: 8px;
                }
            }
        }
    }
    .col-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .item {
            width: 25%;
            .content {
                width: 100%;
                .name {
                    color: #6c6c6c;
                    font-size: 12px;
                    display: inline-block;
                    height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                }
                .desc {
                    color: #ccc;
                }
                .price {
                    display: flex;
                    flex-direction: row;
                    bottom: 8px;
                }
            }
        }
    }
}
</style>
