<template>
    <div style="padding: 2rem;background-color: #fff;height: 100%;">
        <Tabs value="list">
            <TabPane label="名单管理" name="list">
                <Form :label-width="100" inline>
                    <FormItem label="应用标识：">
                        <Input
                            style="width: 300px"
                            size="large"
                            clearable
                            placeholder="请输入应用标识"
                            v-model="jdosAppIdent"
                        ></Input>
                    </FormItem>
                    <FormItem :label-width="0">
                        <Button
                            size="large"
                            icon="ios-locate-outline"
                            @click="getData"
                            style="margin-right: .5rem;"
                            type="primary"
                        >查询</Button>
                        <Button
                            size="large"
                            icon="md-add"
                            @click="()=>{this.modal = true; this.editType = 0;}"
                            style="margin-right: .5rem;"
                            type="success"
                        >新增</Button>
                    </FormItem>
                </Form>
                <card>
                    <div v-if="pageListInfo.length > 0">
                        <Table :columns="pageList" :data="pageListInfo"></Table>
                        <!-- <div style="text-align: center;margin-top: 1rem;">
                            <Page @on-change="getData" :total="totalCount" show-elevator />
                        </div> -->
                    </div>
                    <div v-else class="n-empty">
                        <Icon type="ios-cafe-outline" />
                        <span>暂无信息</span>
                    </div>
                </card>
            </TabPane>
        </Tabs>
        
        <Modal
            v-model="modal"
            :closable="false"
            :mask-closable="false"
            width="600px"
            :title="editType == 0? '新增' : '编辑'"
        >
            <div class="n-set-vertical-scroll" style="height:520px;padding: 0 10px;">
                <Form ref="validate" :label-width="80">
                    <FormItem label="开关状态">
                        <i-switch v-model="switchStatus" style="margin-right:5px;">
                            <span slot="open">关</span>
                            <span slot="close">开</span>
                        </i-switch>
                        <Poptip placement="bottom" class="n-black-poptip">
                            <Icon type="ios-help-circle-outline" />
                            <div class="api" slot="content">
                                <div>
                                    <div class="n-poptip-text">开启黑名单后，该名单内的用户访问将受到限制；</div>
                                </div>
                            </div>
                        </Poptip>
                    </FormItem>
                    <FormItem label="jdos应用标识">
                        <Select
                            v-model="listInfo.jdosAppIdent"
                            filterable
                            placeholder="请选择页面名称"
                            style="width: 60%;"
                        >
                            <Option
                                v-for="(item, index) in jdosAppList"
                                :value="item.appIdentify"
                                :key="index"
                            >{{ item.appIdentify}}</Option>
                        </Select>
                    </FormItem>
                    <FormItem label="用户PIN" class="n-input">
                        <div>
                            <span class="n-label" v-for="(item, index) in listInfo.pinList">{{listInfo.pinList[index]}}<Icon type="ios-close" @click="removeUser(index, 'pinList', '用户PIN')"/></span>
                        </div>
                        <Input placeholder="请输入用户PIN，敲击回车键生成新的用户……" value="" @on-enter="addInfo($event, 'PIN')"></Input>
                        <!-- <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请输入用户PIN，敲击回车键生成新的用户……"></Input> -->
                    </FormItem>
                    <FormItem label="设备编码">
                        <div>
                            <span class="n-label" v-for="(item, index) in listInfo.deviceCodingList">{{listInfo.deviceCodingList[index]}}<Icon type="ios-close" @click="removeUser(index, 'deviceCodingList', '设备编码')"/></span>
                        </div>
                        <Input placeholder="请输入设备编码，敲击回车键生成新的用户……" value="" @on-enter="addInfo($event, 'deviceCode')"></Input>
                    </FormItem>
                    <Button @click="addPath" type="primary" class="n-addpath">增加限制路径</Button>
                    <Collapse v-model="panel" v-for="(item, index) in blacklistInfo" :key="index" style="margin-bottom: 10px;">
                        <Panel :name="index+''">
                            限制路径
                            <div class="n-delete" @click.stop.prevent="() => {}">
                                <Button icon="ios-trash-outline" shape="circle" @click="deletePath(index)"></Button>
                            </div>
                            <div slot="content" class="n-collapse">
                                <FormItem label="限制路径">
                                    <Input v-model="item.path" placeholder="请输入限制路径，如：/jdh/activity/detail"></Input>
                                </FormItem>
                                <FormItem label="状态码" style="width: 50%;display: inline-block;">
                                    <Input v-model="item.code" placeholder="请输入限制状态码"></Input>
                                </FormItem>
                                <FormItem label="状态值" style="width: 50%;display: inline-block;">
                                    <Input value="false" disabled placeholder="请输入限制状态值"></Input>
                                </FormItem>
                                <FormItem label="文案展示">
                                    <Input v-model="item.message" placeholder="请输入黑名单用户访问时的文案展示，如：活动火爆，请稍后再试"></Input>
                                </FormItem>
                            </div> 
                        </Panel>
                    </Collapse>
                </Form>
            </div>
            <div slot="footer">
                <Button @click="cancel">取消</Button>
                <Button type="primary" @click="saveData">提交</Button>
            </div>
        </Modal>
    </div>
</template>
<script>
export default {
    data() {
        return {
            modal: false,
            editType: '0',
            validate: {},
            //jdos应用标识集合
            jdosAppList: [
                {
                    appIdentify: 'marketingdecoratesoa'
                },
                {
                    appIdentify: 'test'
                }
            ],
            switchStatus: false,
            blacklistInfo: [
                {
                    path: '',
                    code: '409',
                    message: '',
                    success: false
                }
            ],
            listInfo: {
                switchStatus: '0',
                jdosAppIdent: 'marketingdecoratesoa',
                pinList: [],
                deviceCodingList: [],
                blacklistInfo: {}
            },
            pageListInfo: [],
            panel: [0],
            jdosAppIdent: '',
            pageList: [
                {
                    title: "应用标识",
                    key: "jdosAppIdent",
                    width: "160px",
                    align: "center"
                },
                {
                    title: "用户PIN",
                    key: "PIN",
                    align: "center",
                    render: (h, params) => {
                        let str = `${params.row.pinList[0]}`
                        for (let i = 1, len = params.row.pinList.length; i < len; i++) {
                            str += `  /  ${params.row.pinList[i]}`
                        }
                        return h('span', str);
                    }
                },
                {
                    title: "设备编码",
                    key: "deviceCode",
                    align: "center",
                    render: (h, params) => {
                        let str = `${params.row.deviceCodingList[0]}`
                        for (let i = 1, len = params.row.deviceCodingList.length; i < len; i++) {
                            str += `  /  ${params.row.deviceCodingList[i]}`
                        }
                        return h('span', str);
                    }
                },
                {
                    title: "限制路径",
                    key: "path",
                    width: "200px",
                    align: "center",
                    render: (h, params) => {
                        var transformArray = []
                        for (var key in params.row.blacklistInfo) {
                            transformArray.push(h('li'), [
                                h('span', {
                                    style: {
                                        lineHeight: '50px',
                                        display: 'block'
                                    }
                                },key)
                            ])
                        }
                        return h('div', {
                            attrs: {
                                class: 'label'
                            }
                        },transformArray)
                    }
                },
                {
                    title: "文案信息",
                    key: "message",
                    width: "200px",
                    align: "center",
                    render: (h, params) => {
                        var transformArray = []
                        for (var key in params.row.blacklistInfo) {
                            transformArray.push(h('li'), [
                                h('span', {
                                    style: {
                                        lineHeight: '50px',
                                        display: 'block'
                                    }
                                },params.row.blacklistInfo[key].message)
                            ])
                        }
                        return h('div', {
                            attrs: {
                                class: 'label'
                            }
                        },transformArray)
                    }
                },
                {
                    title: "操作",
                    key: "option",
                    align: "center",
                    render: (h, params) => {
                        return h("div", [
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.row.jdosAppIdent);
                                        }
                                    }
                                },
                                "编辑"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "error",
                                        size: "small"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定删除此条页面数据</p>",
                                                onOk: () => {
                                                    this.delete(params.row.jdosAppIdent);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "删除"
                            )
                        ]);
                    }
                }
            ]
        }
    },
    mounted() {
        this.getData()
    },
    methods: {
        saveData() {
            let that = this
            if(this.listInfo.pinList.length == '0') {
                this.$Message.warning({
                    content: '请检查当前用户PIN是否已填写完整',
                    duration: 10
                })
                return false
            }
            if(this.listInfo.deviceCodingList.length == '0') {
                this.$Message.warning({
                    content: '请检查当前设备编码是否已填写完整',
                    duration: 10
                })
                return false
            }
            this.blacklistInfo.map((item, index, array) => {
                if(item.path == '' || item.message == '' || item.code == ''){
                    this.$Message.warning({
                        content: '请检查当前列表的 限制路径 状态码 状态值 文案展示是否都已填写完整',
                        duration: 10
                    })
                    return false
                }else{
                    //表单填写完整
                    this.listInfo.blacklistInfo[item.path] = {}
                    this.listInfo.blacklistInfo[item.path]['code'] = item.code
                    this.listInfo.blacklistInfo[item.path]['message'] = item.message
                    this.listInfo.blacklistInfo[item.path]['success'] = item.success
                }
            })
            this.submit()
        },
        submit() {
            this.$axios
                .request({
                    url: `/jdh/blacklist/save`,
                    data: this.listInfo,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        if(this.editType == 0){
                            this.$Message.success("保存成功");
                            this.getData()
                        }else{
                            this.$Message.success("修改成功");
                            this.getData()
                        }
                        this.resetForm()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        cancel() {
            this.modal = false
        },
        addInfo(event, name) {
            if(name == 'PIN') {
                let user = event.currentTarget.value
                let checkRes = this.checkName(user, 'PIN', 'pinList', '用户PIN')
                
                if(checkRes){
                    this.listInfo.pinList.push(user)
                    event.currentTarget.value = ''
                }
            }else if(name == 'deviceCode'){
                let code = event.currentTarget.value
                let checkRes = this.checkName(code, 'deviceCode', 'deviceCodingList', '设备编码')

                if(checkRes){
                    this.listInfo.deviceCodingList.push(code)
                    event.currentTarget.value = ''
                }
            }
        },
        checkName(name, type, curArray, tipsContent) {
            let flag = true
            this.listInfo[curArray].map((item, index, array) => {
                if(this.listInfo[curArray][index] == name){
                    this.$Message.warning({
                        content: '当前输入的'+ tipsContent +'已存在于列表里',
                        duration: 10
                    })
                    flag = false
                }
            })
            return flag
        },
        removeUser(index, type, tipsContent) {
            this.$Modal.confirm({
                content: '删除当前' + tipsContent + ', 是否继续?',
                onOk: () => {
                    this.listInfo[type].splice(index, 1);
                }
            })
        },
        deletePath(index) {
            let panelCount = parseInt(this.panel.length)
            if(panelCount < 2){
                this.$Message.error({
                    content: '最少需配置一组限制路径',
                    duration: 10
                });
                return;
            }
            this.panel.splice(this.panel.length, 1);
            this.blacklistInfo.splice(index, 1);
        },
        addPath() {
            let panelCount = parseInt(this.panel.length)
            this.panel.push(panelCount++)
            this.blacklistInfo.push({
                path: '',
                code: '409',
                message: '',
                success: false
            })
        },
        resetForm() {
            this.modal = false
            this.switchStatus = false
            this.listInfo.jdosAppIdent = 'marketingdecoratesoa'
            this.listInfo.pinList = []
            this.listInfo.deviceCodingList = []
            this.blacklistInfo = []
            this.blacklistInfo.push({
                path: '',
                code: '409',
                message: '',
                success: false
            })
        },
        getData() {
            this.$axios
                .request({
                    url: `/jdh/blacklist/find?jdosAppIdent=` + this.jdosAppIdent,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.pageListInfo = res.data.result
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        findDataByIdent(jdosAppIdent) {
            this.$axios
                .request({
                    url: `/jdh/blacklist/find?jdosAppIdent=` + jdosAppIdent,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.switchStatus = res.data.result[0].switchStatus == '0'? false : true
                        this.listInfo = res.data.result[0]
                        
                        let blackLimitInfo = {
                            path: '',
                            code: '409',
                            message: '',
                            success: false
                        }
                        this.blacklistInfo = []
                        for (var key in res.data.result[0].blacklistInfo) {
                            let i = 0
                            this.blacklistInfo.push(blackLimitInfo)
                            this.blacklistInfo[i]['path'] = key
                            this.blacklistInfo[i]['code'] = res.data.result[0].blacklistInfo[key].code
                            this.blacklistInfo[i]['message'] = res.data.result[0].blacklistInfo[key].message
                            this.blacklistInfo[i]['success'] = res.data.result[0].blacklistInfo[key].success
                            i++
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        delete(jdosAppIdent) {
            this.$axios
                .request({
                    url: `/jdh/blacklist/delete?jdosAppIdent=` + jdosAppIdent,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success("删除成功");
                        this.getData()
                    }
                })
        },
        edit(jdosAppIdent) {
            this.editType = '1'
            this.modal = true
            this.findDataByIdent(jdosAppIdent)
        }
    },
    watch: {
        switchStatus: {
            handler: function(newer, older) {
                if(newer == true){
                    this.listInfo.switchStatus = '1'
                }else{
                    this.listInfo.switchStatus = '0'
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
<style lang="less" scoped>
    .n-card {
        border: 1px solid #e8e8e8;
        padding: 10px;
        .n-set-vertical-scroll {
            .ivu-tabs {
                height: auto;
            }
        }
    }
    .n-label {
        // position: absolute;
        z-index: 1;
        padding: 0 0 0 5px;
        border: 1px solid #666;
        margin-right: 5px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        i.ivu-icon-ios-close {
            font-size: 20px;
            vertical-align: middle;
            height: 26px;
            line-height: 26px;
            margin-top: -3px;
        }
    }
    .n-collapse .ivu-form-item {
        margin-bottom: 10px;
    }
    .n-delete {
        float: right;
        margin-right: 15px;
    }
    .n-addpath {
        margin: 0px 0 10px 0;
    }
    .n-empty {
        text-align: center;
        /deep/ .ivu-icon-ios-cafe-outline {
            font-size: 40px;
            display: block;
        }
        span {
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            display: block;
        }
    }
    /deep/ .ivu-table-cell .label li {
        list-style: none;
    }
    /deep/ .ivu-table-cell .label span {
        border-bottom: 1px solid #e8eaec;
        border-left: 1px solid #e8eaec;
        border-right: 1px solid #e8eaec;
    }
    /deep/ .ivu-table-cell .label span:last-child {
        border-bottom: none;
    }
    /deep/ .ivu-table-cell {
        padding: 0;
    }
</style>