<template>
  <div>
    <Card style="padding-top: 2rem;">
      <Form :model="formItem" :label-width="100" inline>
        <FormItem label="字典类型：">
          <Input size="large" clearable v-model="formItem.dictType" placeholder="请输入字典类型"></Input>
        </FormItem>
        <FormItem label="字典名称">
          <Input size="large" clearable v-model="formItem.dictName" placeholder="请输入字典名称"></Input>
        </FormItem>
        <FormItem label="父类ID">
          <Input size="large" clearable v-model="formItem.parentId" placeholder="请输入父类ID"></Input>
        </FormItem>
        <FormItem :label-width="0">
          <Button
            icon="ios-locate-outline"
            size="large"
            @click="getList"
            style="margin-right: .5rem;"
            type="primary"
          >查询</Button>
          <Button
            icon="md-add"
            size="large"
            @click="()=>{this.modal1=true;this.editType=0;}"
            style="margin-right: .5rem;"
            type="success"
          >新增</Button>
        </FormItem>
      </Form>
    </Card>
    <Card style="padding: 2rem">
      <!--<el-table-->
      <!--border-->
      <!--:data="data1"-->
      <!--style="width: 100%"-->
      <!--stripe-->
      <!--@expand-change="getId">-->
      <!--<el-table-column  type="expand">-->
      <!--<template slot-scope="props">-->
      <!--<el-table-->
      <!--border-->
      <!--:data="data1"-->
      <!--style="width: 100%">-->
      <!--<el-table-column-->
      <!--fixed-->
      <!--prop="dictName"-->
      <!--label="字典名称">-->
      <!--</el-table-column>-->
      <!--<el-table-column-->
      <!--prop="dictType"-->
      <!--label="字典类型">-->
      <!--</el-table-column>-->
      <!--</el-table>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <!--<el-table-column-->
      <!--label="字典名称"-->
      <!--prop="dictName">-->
      <!--</el-table-column>-->
      <!--<el-table-column-->
      <!--label="字典类型"-->
      <!--prop="dictType">-->
      <!--</el-table-column>-->
      <!--<el-table-column label="操作">-->
      <!--<template slot-scope="scope">-->
      <!--<Button size="small" icon="md-add" type="success">增加二级字典</Button>-->
      <!--<Button style="margin-left: 2rem;" @click="delDic(scope.row.id)" size="small" type="error">删除</Button>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <!--</el-table>-->
      <Table size="large" max-height="500" stripe :columns="columns1" :data="data1"></Table>
      <div style="text-align: center;margin-top: 1rem;">
        <Page
          @on-change="getPage"
          :total="totalCount"
          show-elevator
          show-total
          prev-text="上一页"
          next-text="下一页"
        />
      </div>
    </Card>
    <Modal
      v-model="modal1"
      :closable="false"
      :mask-closable="false"
      width="700px"
      :title="editType==0?'新增字典':editType==1?'编辑字典':'新增二级字典'"
    >
      <Form :label-width="80">
        <!-- <FormItem label="字典名称：">
          <Input clearable v-model="formItem1.dictName" placeholder="请输入字典名称..."></Input>
        </FormItem>-->
        <FormItem label="字典类型：">
          <Input clearable v-model="formItem1.dictType" placeholder="请输入字典类型..."></Input>
        </FormItem>
        <!-- <FormItem label="字典描述：">
          <Input clearable v-model="formItem1.dictDesc" placeholder="请输入字典类型..."></Input>
        </FormItem>-->
        <div v-if="this.editType==0||this.editType==2">
          <h4 class="headLine" v-if="list.length>0">字典项列表</h4>
          <Row v-for="(item,index) in list" class="dic-wrap" :key="index">
            <Col span="6">
              <span>名称:&nbsp;&nbsp;</span>
              <Input v-model="item.dictName" clearable style="width:120px"></Input>
            </Col>
            <Col span="6">
              <span>字典值:&nbsp;&nbsp;</span>
              <Input v-model="item.dictValue" clearable style="width:110px"></Input>
            </Col>
            <Col span="10">
              <span>字典描述:&nbsp;&nbsp;</span>
              <Input v-model="item.dictDesc" clearable style="width:200px"></Input>
            </Col>
            <Col span="2">
              <Button @click="del(index)" type="error">删除</Button>
            </Col>
          </Row>
          <FormItem>
            <Button @click="add" type="dashed" long>添加字典</Button>
          </FormItem>
        </div>

        <div v-else>
          <FormItem label="字典项名称">
            <Input clearable v-model="formItem1.dictName" placeholder="请输入字典类型..."></Input>
          </FormItem>
          <FormItem label="字典项值">
            <Input clearable v-model="formItem1.dictValue" placeholder="请输入字典类型..."></Input>
          </FormItem>
        </div>
      </Form>
      <div slot="footer">
        <Button @click="()=>{this.modal1=false;}">取消</Button>
        <Button
          type="primary"
          @click="()=>{(this.editType==0||this.editType==2)?this.create():this.update()}"
        >提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  name: "dictionary",
  data() {
    return {
      formItem: {
        dictType: "",
        dictName: "",
        parentId: ""
      },
      list: [],
      totalCount: 0,
      editType: 0,
      current: 1,
      columns1: [
        {
          title: "id",
          key: "id"
        },
        {
          title: "字典名称",
          key: "dictName"
        },
        {
          title: "字典类型",
          key: "dictType"
        },
        {
          title: "字典描述",
          key: "dictDesc"
        },
        {
          title: "操作",
          key: "action",
          align: "center",
          width: 300,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      console.log(params.row);
                      this.editType = 1;
                      this.modal1 = true;
                      this.formItem1 = JSON.parse(JSON.stringify(params.row));
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "提示",
                        content: "<p>是否确定删除此条数据</p>",
                        onOk: () => {
                          this.delDic(params.row.id);
                        },
                        onCancel: () => {
                          this.$Message.info("取消操作");
                        }
                      });
                    }
                  }
                },
                "删除"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.editType = 2;
                      this.modal1 = true;
                      // this.formItem1 = {};
                      this.formItem1.id = params.row.id;
                    }
                  }
                },
                "新增二级"
              )
            ]);
          }
        }
      ],
      data1: [{}],
      modal1: false,
      formItem1: {}
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    getId() {},
    delDic(id) {
      this.$axios
        .request({
          url: `/jdh/sysDict/delSysDictById?id=${id}`,
          data: this.list,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
            this.getList();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    add() {
      this.list.push({
        dictName: "",
        dictValue: "",
        dictDesc: "",
        parentId: this.formItem1.id ? this.formItem1.id : -1
      });
    },
    del(i) {
      this.list.splice(i, 1);
    },
    // 新增字典
    create() {
      this.$axios
        .request({
          url: `/jdh/sysDict/sysDictInsertOrUpdate`,
          data: {
            dictType: this.formItem1.dictType,
            list: this.list
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("提交成功");
            this.modal1 = false;
            this.getList();
            this.formItem1 = {};
            this.list = [];
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 编辑字典
    update() {
      console.log(this.formItem1);
      this.$axios
        .request({
          url: `/jdh/sysDict/sysDictInsertOrUpdate`,
          data: {
            dictType: this.formItem1.dictType,
            list: [
              {
                id: this.formItem1.id,
                dictName: this.formItem1.dictName,
                dictValue: this.formItem1.dictValue,
                parentId: this.formItem1.parentId
              }
            ]
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("提交成功");
            this.modal1 = false;
            this.getList();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getPage(n) {
      this.current = n;
      this.getList();
    },
    getList() {
      //   http://jdh.marketing.mobile.cms.jd.com/jdh/sysDict/querySysDictPageList

      this.$axios
        .request({
          url: `/jdh/sysDict/querySysDictPageList?current=${this.current}&size=10&dictType=${this.formItem.dictType}&dictName=${this.formItem.dictName}&parentId=${this.formItem.parentId}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.data1 = res.data.data.records;
            this.totalCount = res.data.data.total;
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped lang="less">
.dic-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.headLine {
  height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
  margin-bottom: 20px;
  padding-left: 10px;
}
</style>
