<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="广告类型">
            <RadioGroup v-model="element.data.style.adStyle">
              <Radio label="0">布局类型</Radio>
              <Radio label="1">固定类型</Radio>
            </RadioGroup>
          </FormItem>
          <h4 class="configTitlte">基础配置</h4>

          <div v-show="element.data.style.adStyle=='0'">
            <FormItem label="交互样式">
              <RadioGroup v-model="element.data.style.column">
                <Radio label="1">通栏</Radio>
                <Radio label="2">双图</Radio>
                <Radio label="3">三图</Radio>

                <Radio label="4">四图</Radio>
              </RadioGroup>
            </FormItem>

            <FormItem label="广告高度">
              <RadioGroup v-model="customHeight">
                <Radio :label="100">低(100)</Radio>
                <Radio :label="126">中(126)</Radio>
                <Radio :label="162">高(162)</Radio>
                <Radio label="custom">自定义</Radio>
              </RadioGroup>
            </FormItem>

            <FormItem v-if="customStyle=='customValue'">
              <InputNumber v-model="element.data.style.height"></InputNumber>
            </FormItem>
            <floorConfig :styleData="element.data.style"></floorConfig>

            <FormItem label="图片圆角">
              <RadioGroup v-model="element.data.style.itemCornerRadius">
                <Radio :label="0">直角</Radio>
                <Radio :label="10">圆角</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="图片间距">
              <RadioGroup v-model="element.data.style.columnSpace">
                <Radio :label="5">5</Radio>
                <Radio :label="8">8</Radio>
                <Radio :label="12">12</Radio>
              </RadioGroup>
            </FormItem>
          </div>
          <div v-if="element.data.style.adStyle=='1'">
            <FormItem label="边距设置">
              <CheckboxGroup v-model="marginType1" @on-change="marginTypeChange()">
                <Checkbox label="top">上边距</Checkbox>
                <Checkbox label="bottom">下边距</Checkbox>
              </CheckboxGroup>
            </FormItem>
            <FormItem label="背景图片">
              <Row>
                <Col span="4">
                  <ImageUpload
                    :imageUrl.sync="element.data.style.bgImgUrl"
                    :onBeforeUpload="bgColorBeforeUpload1"
                    :on-success="bgImgUrlSuccess1"
                  ></ImageUpload>
                </Col>
                <Col span="18">
                  <Alert show-icon>图片宽1125px，高330px，不大于2M</Alert>
                </Col>
              </Row>
            </FormItem>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace数据</Radio>
              <Radio label="201">互医数据</Radio>
            </RadioGroup>
          </FormItem>

          <div v-if="element.data.ext.dataSourceType1=='301'">
            <Alert>图片宽{{imgWidth}}px，高{{imgHeight}}px，不大于2M</Alert>
            <Row class="headTitle">
              <Col span="4">上传图片</Col>
              <Col span="20">跳转地址</Col>
            </Row>
            <Row v-for="(item,index) in element.data.items" :key="index" class="listRow">
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="item.pictureUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="(res)=> handleSuccess(res,index)"
                ></ImageUpload>
              </Col>
              <Col span="20">
                <linkType :linkInfo="item"></linkType>
              </Col>
            </Row>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else>
            <netAdvert :element="element" @getresultdata="getResultData($event)"></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
import jdLogo from "../../img/jdLogo.png";
export default {
  name: "advertisementEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      dataSource: "manual",
      InputNumber: 100,
      customStyle: "",
      marginType1: [],
      imgWidth: "1125",
      imgHeight: "300"
    };
  },
  computed: {
    customHeight: {
      get: function() {
        if (
          this.element.data.style.height == "100" ||
          this.element.data.style.height == "126" ||
          this.element.data.style.height == "162"
        ) {
          this.customStyle = "";
          return this.element.data.style.height;
        } else {
          this.customStyle = "customValue";
          return "custom";
        }
      },
      set: function(newValue) {
        if (newValue != "custom") {
          this.$set(this.element.data.style, "height", newValue);
        } else {
          this.customStyle = "customValue";
        }
      }
    }
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    // 固定样式的上下间距设置
    marginTypeChange() {
      if (this.marginType1.indexOf("top") != -1) {
        this.$set(this.element.data.style.margin, 0, "10");
      } else {
        this.$set(this.element.data.style.margin, 0, "0");
      }
      if (this.marginType1.indexOf("bottom") != -1) {
        this.$set(this.element.data.style.margin, 2, "10");
      } else {
        this.$set(this.element.data.style.margin, 2, "0");
      }
    },
    // 改变列数
    columnChange() {
      let adColumn = this.element.data.style.column;
      let itemsLength = this.element.data.items.length;
      if (itemsLength > adColumn) {
        this.element.data.items.splice(adColumn);
        this.element.data.items[
          this.element.data.items.length - 1
        ].style.margin = ["0", "0", "0", "0"];
      } else if (itemsLength < adColumn) {
        for (let i = 0; i < adColumn - itemsLength; i++) {
          if ((i = (adColumn - itemsLength).length - 1)) {
            let marginValue = ["0", "0", "0", "0"];
          } else {
            marginValue = [
              "0",
              "" + this.element.data.style.columnSpace + "",
              "0",
              "0"
            ];
          }
          this.element.data.items.push({
            type: "image",
            pictureUrl: "",
            jumpLinkInfo: {
              linkType: "0", //跳转类型
              identityId: "", //跳转页面的链接
              linkUrl: ""
            },
            style: {
              bgColor: "#ffffff",
              height: this.element.data.style.height,
              margin: marginValue,
              cornerRadius: [
                this.element.data.style.itemCornerRadius + "",
                this.element.data.style.itemCornerRadius + "",
                this.element.data.style.itemCornerRadius + "",
                this.element.data.style.itemCornerRadius + ""
              ]
            }
          });
        }
      }

      if (adColumn == "1") {
        this.imgWidth = 1125;
      } else if (adColumn == "2") {
        this.imgWidth = 558;
      } else if (adColumn == "3") {
        this.imgWidth = 352;
      } else {
        this.imgWidth = 272;
      }
    },
    // 改变样式：固定类型和布局类型
    adStyleChange(newValue) {
      let itemslen = this.element.data.items.length;
      this.element.data.style.padding = ["0", "0", "0", "0"];
      if (newValue === "1") {
        this.imgWidth = 348;
        this.imgHeight = 255;
        this.$set(this.element.data.style, "column", "3");
        this.element.data.style.padding = ["10", "10", "10", "10"];
        if (itemslen < 3) {
          let len = 3 - itemslen;
          for (let i = 0; i < len; i++) {
            let marginValue = [];
            if ((i = len - 1)) {
              marginValue = ["0", "0", "0", "0"];
            } else {
              marginValue = ["0", "5", "0", "0"];
            }
            this.element.data.items.push({
              type: "image",
              pictureUrl: "",
              jumpLinkInfo: {
                linkType: "0", //跳转类型
                identityId: "", //跳转页面的链接
                linkUrl: ""
              },
              style: {
                bgColor: "#ffffff",
                height: this.element.data.style.height,
                margin: marginValue,
                cornerRadius: ["0", "0", "0", "0"]
              }
            });
          }
        } else if (itemslen > 3) {
          this.element.data.items.splice(3);
          this.element.data.items[2].style.margin = ["0", "0", "0", "0"];
        }
      } else {
        this.imgHeight = this.element.data.style.height * 3;
        if (this.element.data.style.column == "1") {
          this.imgWidth = 1125;
        } else if (this.element.data.style.column == "2") {
          this.imgWidth = 558;
        } else if (this.element.data.style.column == "3") {
          this.imgWidth = 352;
        } else {
          this.imgWidth = 272;
        }
        if (itemslen < this.element.data.style.column) {
          this.element.data.items.push({
            type: "image",
            pictureUrl: "",
            jumpLinkInfo: {
              linkType: "0", //跳转类型
              identityId: "", //跳转页面的链接
              linkUrl: ""
            },
            style: {
              bgColor: "#ffffff",
              height: this.element.data.style.height,
              margin: ["0", "0", "0", "0"],
              cornerRadius: [
                this.element.data.style.itemCornerRadius + "",
                this.element.data.style.itemCornerRadius + "",
                this.element.data.style.itemCornerRadius + "",
                this.element.data.style.itemCornerRadius + ""
              ],
              columnSpace: this.element.data.style.columnSpace
            }
          });
          this.element.data.items[3].style.margin = [
            "0",
            this.element.data.style.columnSpace + "",
            "0",
            "0"
          ];
        } else {
          this.element.data.items.splice(this.element.data.style.column);
          this.element.data.items[
            this.element.data.style.column - 1
          ].style.margin = ["0", "0", "0", "0"];
        }
      }
    },
    bgColorBeforeUpload1(file, img) {
      if (img.width !== 1125 || img.height !== 330) {
        return "请上传宽1125px，高330px的图片！";
      }
      return null;
    },
    bgImgUrlSuccess1(res) {
      this.$set(this.element.data.style, "bgImgUrl", res.result.path);
    },
    handleSuccess(res, index) {
      console.log(index);
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (this.element.data.style.adStyle == "0") {
        switch (this.element.data.style.column) {
          case "1":
            if (
              img.width !== 1125 ||
              img.height !== this.element.data.style.height * 3
            ) {
              return (
                "请上传宽1125px，高" +
                this.element.data.style.height * 3 +
                "px的图片！"
              );
            }
            break;
          case "2":
            if (
              img.width !== 558 ||
              img.height !== this.element.data.style.height * 3
            ) {
              return (
                "请上传宽558px，高" +
                this.element.data.style.height * 3 +
                "px的图片！"
              );
            }
            break;
          case "3":
            if (
              img.width !== 352 ||
              img.height !== this.element.data.style.height * 3
            ) {
              return (
                "请上传宽352px，高" +
                this.element.data.style.height * 3 +
                "px的图片！"
              );
            }
            break;
          case "4":
            if (
              img.width !== 272 ||
              img.height !== this.element.data.style.height * 3
            ) {
              return (
                "请上传宽272px，高" +
                this.element.data.style.height * 3 +
                "px的图片！"
              );
            }
            break;
        }
      } else {
        if (img.width !== 348 || img.height !== 255) {
          return "请上传宽348px，高255px的图片！";
        }
      }
      return null;
    },
    // 获取互联网医院获取数据
    getResultData(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },

    "element.data.style.column": {
      handler: function(newer, older) {
        if (this.element.data.style.adStyle == "0") {
          this.columnChange();
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.adStyle": {
      handler: function(newer, older) {
        this.adStyleChange(newer);
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.style.height": {
      handler: function(newer, older) {
        this.imgHeight = newer * 3;
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.$set(this.element.data.items[i].style, "height", newer);
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.itemCornerRadius": {
      handler: function(newer, older) {
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.element.data.items[i].style.cornerRadius = [];
          if (newer === 0) {
            this.element.data.items[i].style.cornerRadius.push(
              "0",
              "0",
              "0",
              "0"
            );
          } else if (newer === 10) {
            this.element.data.items[i].style.cornerRadius.push(
              "10",
              "10",
              "10",
              "10"
            );
          }
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.columnSpace": {
      handler: function(newer, older) {
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.element.data.items[i].style.columnSpace = newer;
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.headTitle {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #eee;
}
.listRow {
  text-align: center;
}

.resetBtn {
  margin-left: 10px;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
</style>