<template>
  <div
    class="advertisement-container"
    v-if="element.data.style.adStyle==='0'"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <Row :gutter="element.data.style.columnSpace">
      <Col
        :span="24/element.data.style.column"
        v-for="(item,index) in element.data.items"
        :key="index"
      >
        <a
          href="javascript:void(0)"
          class="advertisement-container-item"
          :style="{height:element.data.style.height+'px',borderRadius:item.style.cornerRadius[0]+'px'}"
        >
          <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
        </a>
      </Col>
    </Row>
  </div>
  <div
    class="advertisement-container1"
    v-else
    :style="{margin:element.data.style.margin[0]+'px 0 '+ element.data.style.margin[2]+'px 0',backgroundImage:'url('+element.data.style.bgImgUrl +')'}"
  >
    <div class="advertisement-container1-list">
      <a
        class="container1-item"
        v-for="(item,index) in element.data.items"
        href="javascript:void(0)"
        :key="index"
      >
        <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "advertisement",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.advertisement-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .advertisement-container-item {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    background: url("../../img/jdLogo.png") no-repeat 0 0 100% 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.advertisement-container1 {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12px;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    .container1-item {
      width: 33.3%;
      height: 85px;
      margin: 0 2px;
      background-color: #eeeeee;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .container1-item:last-child {
      margin-right: 0 !important;
    }
  }
}
</style>