<style lang="less">
  @import './login.less';
</style>

<template>
  <div class="login">
    <div class="login-con">
      <Card icon="log-in" title="欢迎登录" :bordered="false">
        <div class="form-con">
          <login-form @on-success-valid="handleLogin"></login-form>
          <p class="login-tip"></p>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import LoginForm from '_c/login-form'
import { mapActions } from 'vuex'
export default {
  components: {
    LoginForm
  },
  methods: {
    ...mapActions([
      'handleLogin',
      'getUserInfo'
    ]),
    handleLogin(){
      // this.$store.commit('setToken','3213123')
      // this.$store.commit('setAccess','1')

      this.$router.push({
        name:'home'
      })
    },
    handleSubmit ({ userName, password }) {
      // this.$store.commit('setToken','3213123')
      // this.$store.commit('setAccess','1')
      // this.$router.push({
      //   name:'home'
      // })
      this.handleLogin({ userName, password }).then(res => {
        this.getUserInfo().then(res => {
          this.$router.push({
            name: this.$config.homeName
          })
        })
      })
    }
  }
}
</script>

<style>

</style>
