<template>
    <div class="content">
        <div class="c-left">
            <div class="n-scroll" v-scrollBar>
              <div class="n-module clearfix" v-for="(tag,index) in tags" :key="index">
                <h4 style="font-weight: bold;">{{tag.category}}</h4>
                <Button @click="addToList(btn)" v-for="(btn,idx) in tag.list" class="c-button fl" size="small" type="dashed" :key="idx">{{btn.type}}</Button>
              </div>
            </div>
        </div>
    </div>
</template>
<script>
  import {tags} from '../config/config'
  import { mapMutations } from 'vuex'
  export default {
    name: "left",
    data(){
      return{
        tags:tags,
      }
    },
    mounted(){
    },
    methods:{
      ...mapMutations([
        'updateFloor',//添加楼层数据
        'updateElement'//是否编辑状态管理
      ]),
      addToList(el){
        if(this.$store.state.app.floorList.length>20){
          this.$Message.warning('最多添加20个楼层')
          return
        }
        let dd = JSON.parse(JSON.stringify(el))
        this.updateFloor({type:'add', floor:dd})
        //this.updatePartType({type: 'add', list: {is: 'false'}})
      },
      showList(){
        //alert(JSON.stringify(this.$store.state.app.floorList))
      }
    },
    components:{}
  }
</script>
<style scoped lang="less">
.c-left {
    position: fixed;
    width: 280px;
    background: #fff;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
    .c-button {
        display: block;
        width: 108px;
        height: 38px;
        // text-align: left;
        margin: 0 5px 10px 5px;
        padding: 1px 14px 2px;
    }
}
.n-scroll {
    position: relative;
    height: 600px;
}
.bottom-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
}
.scroll {
    position: relative;
    overflow: hidden;
}

.n-module {
    padding: 0px 20px;
    h4 {
        font-size: 16px;
        line-height: 36px;
        font-weight: normal;
    }
}
.n-module-list {
    width: 236px;
    margin: 10px auto;
}
</style>
