<template>
  <div class="form-content">
    <Form :label-width="100" :model="element">
      <FormItem label="楼层高度">
        <RadioGroup v-model="element.data.items[0].style.height">
          <Radio :label="35">低</Radio>
          <Radio :label="45">中</Radio>
          <Radio :label="55">高</Radio>
        </RadioGroup>
      </FormItem>
      <floorConfig :styleData="element.data.style"></floorConfig>
      <FormItem label="上传图片">
        <Row>
          <Col span="5">
            <ImageUpload
              :imageUrl.sync="element.data.items[0].pictureUrl"
              :onBeforeUpload="handleBeforeUpload"
              :on-success="handleSuccess"
            ></ImageUpload>
          </Col>
          <Col span="19">
            <Alert show-icon>图片宽1125px,高{{element.data.items[0].style.height*3}}px</Alert>
          </Col>
        </Row>
      </FormItem>
      <FormItem label="跳转链接">
        <linkType :linkInfo="element.data.items[0]"></linkType>
      </FormItem>
    </Form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "imgTitleEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"])
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    handleSuccess(res, index) {
      this.$set(this.element.data.items[0], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !== this.element.data.items[0].style.height * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.element.data.items[0].style.height * 3 +
          "px的图片！"
        );
      }

      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}
</style>