<template>
  <div
    class="title-container"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="imgTitle" :style="{height:element.data.items[0].style.height+'px'}">
      <img
        :src="element.data.items[0].pictureUrl?element.data.items[0].pictureUrl:defaultImgUrl"
        alt
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "imgTitle",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "https://m.360buyimg.com/mobilecms/s750x80_jfs/t1/81400/22/13640/13233/5db00df2Eed59aeb1/dbe642e1ecadcab6.png!q70.jpg.dpg"
    };
  }
};
</script>

<style scoped lang="less">
.title-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .imgTitle {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    img {
      display: block;
      align-self: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
}
</style>
