<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="80" :model="element">
          <FormItem label="楼层高度">
            <RadioGroup v-model="element.data.items[0].style.height">
              <Radio label="180">低</Radio>
              <Radio label="190">中</Radio>
              <Radio label="200">高</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="icon个数">
            <RadioGroup v-model="iconLength">
              <Radio :label="3">一行三个</Radio>
              <Radio :label="4">一行四个</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="楼层背景">
            <RadioGroup v-model="bgColorType">
              <Radio label="0">背景色</Radio>
              <Radio label="1">背景图</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="背景颜色" v-if="bgColorType=='0'">
            <ColorPicker v-model="element.data.style.bgColor" />
            <Button v-model="resetBgColorValue" @click="resetBgColor" class="resetBtn">重置</Button>
          </FormItem>
          <FormItem label="背景图片" v-else>
            <Row>
              <Col span="5">
                <image-upload
                  :imageUrl.sync="element.data.style.bgImgUrl"
                  :onBeforeUpload="bgColorBeforeUpload"
                  :on-success="bgImgUrlSuccess"
                ></image-upload>
              </Col>
              <Col span="19">
                <Alert show-icon>图片宽1125px，高{{element.data.items[0].style.height*3}}px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="字体颜色">
            <ColorPicker v-model="element.data.items[0].style.fontColor" />
            <Button v-model="resetFontColorValue" @click="resetFontColor" class="resetBtn">重置</Button>
          </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100" :model="element.data.items[0]" :rules="ruleValidate">
          <FormItem label="上传头像" class="ivu-form-item-required" prop="headImgUrl">
            <Row>
              <Col span="5">
                <ImageUpload
                  :imageUrl.sync="element.data.items[0].headImgUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="handleSuccess"
                ></ImageUpload>
              </Col>
              <Col span="19">
                <Alert show-icon>图片宽180px，高180px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="用户昵称" class="ivu-form-item-required" prop="name">
            <Row>
              <Col span="16">
                <Input v-model="element.data.items[0].name" placeholder="请输入用户昵称" />
              </Col>
            </Row>
          </FormItem>
          <FormItem label="权益描述" class="ivu-form-item-required" prop="price">
            <Row>
              <Col span="16">
                <Input v-model="element.data.items[0].price" placeholder="请输入权益描述" />
              </Col>
            </Row>
          </FormItem>
          <Row v-for="(item,index) in this.element.data.items[0].tags" :key="index">
            <Col span="12">
              <FormItem :label="'icon标题 '+(index+1)" class="ivu-form-item-required" prop="text">
                <Input v-model="item.name" :maxlength="5" placeholder="请输入标题" />
              </FormItem>
            </Col>
          </Row>
          <FormItem label="会员运营语" class="ivu-form-item-required" prop="adContent">
            <Row>
              <Col span="16">
                <Input v-model="element.data.items[0].adContent" placeholder="请输入会员运营语" />
              </Col>
            </Row>
          </FormItem>
          <FormItem label="开通提示" class="ivu-form-item-required" prop="adTips">
            <Row>
              <Col span="16">
                <Input v-model="element.data.items[0].adTips" placeholder="请输入开通提示" />
              </Col>
            </Row>
          </FormItem>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "bottomTipsEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      resetBgColorValue: this.element.data.style.bgColor,
      resetFontColorValue: this.element.data.items[0].style.fontColor,
      bgColorType: "0",
      ruleValidate: {
        name: {
          required: true,
          message: "用户昵称不能为空",
          trigger: "blur"
        },
        price: {
          required: true,
          message: "权益描述不能为空",
          trigger: "blur"
        },
        adContent: {
          required: true,
          message: "会员运营语不能为空",
          trigger: "blur"
        },
        adTips: {
          required: true,
          message: "开通提示不能为空",
          trigger: "blur"
        },
        headImgUrl: [
          {
            required: true,
            message: "请上传图片",
            trigger: "blur"
          }
        ]
      }
    };
  },
  computed: {
    iconLength: {
      get: function() {
        return this.element.data.items[0].tags.length;
      },
      set: function(newValue) {
        if (newValue === 3) {
          if (this.element.data.items[0].tags.length > 3) {
            this.element.data.items[0].tags.splice(3);
          }
        } else {
          if (this.element.data.items[0].tags.length < 4) {
            this.element.data.items[0].tags.push({
              count: "0",
              name: "标题"
            });
          }
        }
      }
    }
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    marginTypeChange() {
      if (this.element.data.style.marginType.indexOf("top") != -1) {
        this.$set(this.element.data.style.margin, 0, "5");
      } else {
        this.$set(this.element.data.style.margin, 0, "0");
      }
      if (this.element.data.style.marginType.indexOf("bottom") != -1) {
        this.$set(this.element.data.style.margin, 2, "5");
      } else {
        this.$set(this.element.data.style.margin, 2, "0");
      }
    },

    resetBgColor() {
      this.element.data.style.bgColor = this.resetBgColorValue;
    },
    resetFontColor() {
      this.element.data.items[0].style.fontColor = this.resetFontColorValue;
    },
    bgColorBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !== this.element.data.items[0].style.height * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.element.data.items[0].style.height * 3 +
          "px的图片！"
        );
      }
      return null;
    },
    bgImgUrlSuccess(res) {
      this.$set(this.element.data.style, "bgImgUrl", res.result.path);
    },

    handleSuccess(res) {
      this.$set(this.element.data.items[0], "imgUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (img.width !== 180 || img.height !== 180) {
        return "请上传宽180px，高180px的图片！";
      }

      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}
</style>