<template>
  <div
    class="myInfo-wrap"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',height:element.data.items[0].style.height+'px',color:element.data.items[0].style.fontColor}"
  >
    <div class="myInfo-wrap-userInfo">
      <div class="left">
        <img :src="element.data.items[0].headImgUrl" alt />
      </div>
      <div class="right">
        <div class="userName">{{element.data.items[0].name}}</div>
        <div class="equity">
          <span>{{element.data.items[0].price}}</span>
        </div>
      </div>
    </div>
    <div class="myInfo-wrap-assets">
      <ul>
        <li v-for="(item,index) in element.data.items[0].tags">
          <div class="assets-value">{{item.count}}</div>
          <div class="assets-title">{{item.name}}</div>
        </li>
      </ul>
    </div>
    <div class="myInfo-wrap-vipAd">
      <div class="myInfo-wrap-vipAd-container">
        <div class="vipTitle">
          <div class="vipTitle-left">{{element.data.items[0].adContent}}</div>
          <div class="vipTitle-right">{{element.data.items[0].adTips}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "bottomTips",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl: ""
    };
  }
};
</script>

<style lang="less" scoped>
.myInfo-wrap {
  background: linear-gradient(90deg, #eb3c3c, #ff7459);
  // background-size: cover;
  // background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding: 50px 20px 0;
  border-radius: 0 0 300px 300px / 0 0 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  &-userInfo {
    display: flex;
    align-items: center;
    .left {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .right {
      margin-left: 10px;
      .userName {
        margin-bottom: 10px;
        font-size: 18px;
        width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .equity {
        span {
          max-width: 150px;
          height: 16px;
          line-height: 16px;
          padding: 2px 8px;
          margin-right: 8px;
          border-radius: 10px;
          font-size: 10px;
          background: #c8483f;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  &-assets {
    margin-top: 10px;
    padding: 0 10px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        .assets-value {
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }
        .assets-title {
          text-align: center;
        }
      }
    }
  }
  &-vipAd {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 37px;
    box-sizing: border-box;
    padding: 0 20px;
    color: #ffe678;
    font-size: 12px;
    &-container {
      width: 100%;
      height: 100%;
      background: url(https://img11.360buyimg.com/jdphoto/s710x134_jfs/t1/43463/14/4447/108469/5cd2c002Ee4dcb4c9/445d4efb8eee08e9.png)
        no-repeat left top/cover;
      padding: 0 10px;
      .vipTitle {
        display: flex;
        justify-content: space-between;
        line-height: 37px;
        .vipTitle-left {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .vipTitle-right {
          height: 18px;
        }
      }
    }
  }
}
</style>