<template>
    <div>
      <div class="f-search">
        <div class="f-searchIn">
          <span></span>
        </div>
        <div class="f-searchXl" v-show="dataHas">
          <div></div>
        </div>
        <div class="f-searchXl" v-show="!dataHas">
          <div>暂无数据</div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      name: "selectList",
      data(){
        return {
          data:[],
          dataHas:true,
          searchFlag:false,
          searchFous:'0',
          fousFlag:false,
          searchValue: '',
          searchBorder:'none'
        }
      },
      props:{
        searchList:[],
        selectValue:Object
      },
      mounted() {
        this.data = this.searchList
      },
      methods:{
        changeValue(){
          this.$emit()
        }
      }
    }
</script>

<style scoped>
  .f-search{
    width: 250px;
    height: auto;
    position: relative;
    margin-left: 20px;
    box-sizing: border-box;
  }
  .f-searchIn{
    width: 250px;
    height: 35px;
    line-height: 35px;
    font-size: 0.95rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: white;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    padding-left: 10px;
    border: 1px solid #A3A3A3;
  }
  .searchInFous{
    border: 1px solid #57C4F6;
    box-shadow: 0px 0px 5px #57C4F6;
  }
  .f-searchIn > span{
    display: block;
    width: 28px;
    height: 28px;
    /*background-image: url(../../../static/upDown.png);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0px -13px;
    position: absolute;
    top: 10px;
    right: 5px;
  }
  .f-searchIn .searchActive{
    background-position: 0px 12px;
    top: -2px;
  }
  .f-search .f-searchXl{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 220px;
    top: 41px;
    left: -1px;
    border-radius: 5px;
    /*border: 1px solid #D9D9D9;*/
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .f-search .f-searchXl > div{
    height: 35px;
    line-height: 38px;
    color: #000000;
    padding-left: 25px;
    font-size: 0.92rem;
  }
  .f-search .f-searchXl > div:hover{
    background-color: #D5F1FD;
  }
</style>
