<template>
    <Card style="padding: 2rem;position: static;">
        <Form :model="formItem" :label-width="100" inline>
            <FormItem label="完成页ID：" class="n-formitem">
                <Select
                    v-model="systemData.completePage.sysCompletePageId"
                    filterable
                    :placeholder="systemData.completePage.sysCompletePageName == ''? '请选择页面' : systemData.completePage.sysCompletePageName"
                    style="width: 60%;"
                >
                    <Option
                        v-for="(item, index) in pageList"
                        :value="item.id"
                        :key="index"
                    >{{ item.pageName}}</Option>
                </Select>
                <Button @click="getPageList" type="primary" style="margin-left: 10px">查询</Button>
                <!-- <Input
                    style="width: 160px"
                    clearable
                    v-model="systemData.bottomTab.sysNavTabId"
                    placeholder="请输入完成页ID..."
                ></Input> -->
                <!-- <Input 
                    style="width: 160px;margin-left: 5px;" 
                    clearable
                    v-model="systemData.bottomTab.sysNavTabName" 
                    placeholder="请输入完成页名称" ></Input> -->
            </FormItem>
            <FormItem label="底部导航ID：" class="n-formitem">
                <Select
                    v-model="systemData.bottomTab.sysNavTabId"
                    filterable
                    :placeholder="systemData.bottomTab.sysNavTabName == '' ? '请选择页面' :systemData.bottomTab.sysNavTabName"
                    style="width: 60%;">
                    <Option
                        v-for="(item, index) in navigateList"
                        :value="item.id"
                        :key="index"
                    >{{ item.name}}</Option>
                </Select>
                <Button @click="getNavigateList" type="primary" style="margin-left: 10px">查询</Button>
            </FormItem>
            <div>
                <Button @click="saveConfig" type="primary" style="margin: 0px 0px 0 30px;">保存</Button>
                <Button @click="commitConfig" type="primary" style="margin: 0px 0px 0 30px;">发布</Button>
            </div>
            <div>
                
            </div>
        </Form>
    </Card>
</template>
<script>
export default {
    data() {
        return {
            formItem: {},
            systemData: {
                bottomTab: {
                    sysNavTabId: "",
                    sysNavTabName: ""
                },
                completePage: {
                    sysCompletePageId: "",
                    sysCompletePageName: ""
                }
            },
            pageList: [],
            navigateList: [],
            pageNo: "1",
            pageSize: "20"
        };
    },
    mounted () {
        this.getConfig()
    },
    methods: {
        getPageList() {
            this.$axios
                .request({
                    url: `/jdh/page/list?pageNo=${this.pageNo}&pageSize=${this.pageSize}&projectId=${this.$route.query.pid}&flag=false`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.pageList = res.data.result.result;
                    }else{
                        this.$Message.success("数据异常");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        getNavigateList() {
            this.$axios
                .request({
                    url: `/jdh/navbar/list?pageNo=${this.pageNo}&pageSize=${this.pageSize}&projectId=${this.$route.query.id}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.navigateList = res.data.result.result;
                    }else{
                        this.$Message.success("数据异常");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        getConfig() {
            this.$axios
                .request({
                    url: `/jdh/projectConfigPage/querySystemConfig?id=${this.$route.query.id}`,
                    method: "get",
                })
                .then(res => {
                    console.log(res.data.result)
                    //this.$Message.success(res.data.message);
                    if(res.data.result.payComplPageId != null){
                        this.systemData.completePage.sysCompletePageId = res.data.result.payComplPageId
                        this.searchCompletePage(res.data.result.payComplPageId)
                    }
                    if(res.data.result.homeNavbarId != null){
                        this.systemData.bottomTab.sysNavTabId = res.data.result.homeNavbarId
                        this.searchNavigateName(res.data.result.homeNavbarId)
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        saveConfig() {
            this.$axios
                .request({
                    url: `/jdh/projectConfigPage/saveSystemConfig`,
                    method: "post",
                    data: {
                        id: this.$route.query.id, 
                        homeNavbarId: this.systemData.bottomTab.sysNavTabId,
                        payComplPageId: this.systemData.completePage.sysCompletePageId
                    },
                })
                .then(res => {
                    this.$Message.success(res.data.message);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        commitConfig() {
            this.$axios
                .request({
                    url: `/jdh/projectConfigPage/publishSystemConfig?id=${this.$route.query.id}`,
                    method: "get",
                })
                .then(res => {
                    this.$Message.success(res.data.message);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        searchNavigateName(NavigateId) {
            this.$axios
                .request({
                    url: `/jdh/navbar/list?pageNo=${this.pageNo}&pageSize=10&projectId=${this.$route.query.id}&id=${NavigateId}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resultData = res.data.result.result;
                        for(let i = 0; i < resultData.length; i++){
                            if(resultData[i].id == NavigateId){
                                this.systemData.bottomTab.sysNavTabName = resultData[i].name
                            }
                        }
                    }else{
                        this.$Message.success("数据异常");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        searchCompletePage(sysCompletePageId) {
            this.$axios
                .request({
                    url: `/jdh/page/list?pageNo=${this.pageNo}&pageSize=${this.pageSize}&projectId=${this.$route.query.pid}&id${sysCompletePageId}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resultData = res.data.result.result;
                        for(let i = 0; i < resultData.length; i++){
                            if(resultData[i].id == sysCompletePageId){
                                this.systemData.completePage.sysCompletePageName = resultData[i].pageName
                            }
                        }
                    }else{
                        this.$Message.success("数据异常");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
    }
};
</script>
<style lang="less" scoped>
    /deep/ .ivu-card,
    /deep/ .ivu-form-item-content {
        position: static;
    }
    .n-formitem {
        /deep/ .ivu-input-wrapper {
            float: left;
        }
    }
</style>