<!--
  一拖二 — 编辑
  element为整个楼层的配置信息
  data为楼层里的data信息
 -->
 <template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="80">
                    <FormItem label="分割线">
                        <RadioGroup v-model="element.division">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="背景色" class="n-position-static">
                        <ColorPicker v-model="data.style.bgColor" />
                        <Button
                            v-model="data.style.bgColor"
                            @click="resetBgColor"
                            class="resetBtn"
                        >重置</Button>
                    </FormItem>
                    <FormItem label="背景图">
                        <image-upload
                            :imageUrl.sync="data.style.bgImgUrl"
                            :onBeforeUpload="onBgBeforeUpload"
                        ></image-upload>
                        <Alert show-icon>图片宽度1125px，高度603px，不大于2M</Alert>
                    </FormItem>
                    <FormItem label="标题背景遮罩">
                        <RadioGroup v-model="titleMask">
                            <Radio label="0">不添加</Radio>
                            <Radio label="1">添加</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="添加标题">
                        <RadioGroup v-model="element.title">
                            <Radio label="0">不添加</Radio>
                            <Radio label="1">添加</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="添加标题图标" v-if="element.title == '1'">
                        <RadioGroup v-model="element.titleIcon">
                            <Radio label="0">不添加</Radio>
                            <Radio label="1">添加</Radio>
                        </RadioGroup>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
                <Form ref="formValidate" :model="data" :rules="ruleValidate" :label-width="80">
                    <Collapse v-model="panelValue" class="n-ivu-collapse">
                        <Panel v-for="(item,index) in data.items" :key="index">
                            <span class="n-option-subtitle">左侧第{{index}}组</span>
                            <div slot="content">
                                <!-- iview 表单验证 prop和v-model的名字一定要一一对应 且循环方式无法实现校验-->
                                <FormItem label="标题" class="n-form-item-required">
                                    <Input v-model="item.title" placeholder="请输入标题"></Input>
                                </FormItem>
                                <FormItem label="描述" class="n-form-item-required">
                                    <Input v-model="item.descriptionText" placeholder="请输入描述"></Input>
                                </FormItem>
                                <FormItem label="图片" class="n-form-item-required">
                                    <image-upload
                                        :imageUrl.sync="item.pictureUrl"
                                        :onBeforeUpload="onBeforeUpload"
                                        v-if="index === 0"
                                    ></image-upload>
                                    <image-upload
                                        :imageUrl.sync="item.pictureUrl"
                                        :onBeforeUpload="onBeforeUploadSmall"
                                        v-else
                                    ></image-upload>
                                    <Alert show-icon>图片宽度354px，高度{{imgHeigth[index]}}px，不大于2M</Alert>
                                </FormItem>
                                <FormItem label="链接" class="n-form-item-required">
                                    <linkType :linkInfo="item"></linkType>
                                </FormItem>
                            </div>
                        </Panel>
                    </Collapse>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import ImageUpload from "../ImageUpload"

export default {
    name: "oneToTwoEdit",
    props: ["data", "element"],
    components: {
        "image-upload": ImageUpload
    },
    data() {
        return {
            formValidate: {},
            ruleValidate: {},
            panelValue: [0, 1, 2],
            imgHeigth: ["402", "200", "200"],
            titleMask: '0'
        };
    },
    computed: {},
    created() {},
    watch: {
        "element.division": function() {
            this.data.style.margin = [];
            if (this.element.division === "0") {
                this.data.style.margin.push("0", "0", "0", "0");
            } else {
                this.data.style.margin.push("0", "0", "5", "0");
            }
        },
        titleMask: {
            handler: function(newer, older) {
                this.element.maskColor = ''
                if(newer == '1'){
                    this.element.maskColor = '#6a000000'
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    },
    methods: {
        onBeforeUpload(file, img) {
            if (img.width !== 354) {
                return "图片宽度必须是354px";
            }
            if (img.height !== 402) {
                return "图片高度必须是402px";
            }
            return null;
        },
        onBeforeUploadSmall(file, img) {
            if (img.width !== 354) {
                return "图片宽度必须是354px";
            }
            if (img.height !== 200) {
                return "图片高度必须是200px";
            }
            return null;
        },
        onBgBeforeUpload(file, img) {
            if (img.width !== 1125) {
                return "图片宽度必须是1125px";
            }
            if (img.height !== 603) {
                return "图片高度必须是603px";
            }
            return null;
        },
        resetBgColor() {
            this.data.style.bgColor = "#ffffff";
        }
    }
};
</script>
<style lang="less" scoped>
.ivu-form-item {
    margin-bottom: 14px;
}
.ivu-form-item-content {
    .ivu-color-picker {
        /deep/ .ivu-select-dropdown {
            left: 0 !important;
        }
    }
}
</style>