<template>
    <div class="two-column-container" :style="{backgroundColor: data.style.bgColor, backgroundImage: 'url(' + data.style.bgImgUrl +')'}">
        <Row class="n-pl-pr n-container" :gutter="1" :style="{'margin-bottom': element.division === '1'? '5px' : '0'}">
            <Col span="12">
                <div class="n-wrap">
                    <img :src="data.items[0] && data.items[0].pictureUrl? data.items[0].pictureUrl : defaultProductImgurl" style="width: 100%;height: 201px;overflow: hidden;">
                    <div class="n-mask-wrap" 
                        :style="{
                            'background-color': element.maskColor == ''? '' : '#0000006a'
                        }"
                    >
                        <div class="n-content" v-if="element.title == '1'">
                            <p class="n-title">{{ data.items[0] && data.items[0].title? data.items[0].title : '标题信息' }}</p>
                            <p class="n-subtitle">{{ data.items[0] && data.items[0].descriptionText? data.items[0].descriptionText : '描述信息' }}</p>
                            <i class="n-more" v-if="element.title == '1' && element.titleIcon == '1'"></i>
                            <Icon type="ios-arrow-dropright-circle" v-if="element.title == '1' && element.titleIcon == '1'"/>
                        </div>
                    </div>
                </div>
            </Col>
            <Col span="12">
                <div class="n-pic-list">
                    <div>
                        <div class="n-wrap">
                            <img :src="data.items[1] && data.items[1].pictureUrl? data.items[1].pictureUrl : defaultProductImgurl">
                            <div class="n-mask-wrap" 
                                :style="{
                                    'background-color': element.maskColor == ''? '' : '#0000006a'
                                }"
                            >
                                <div class="n-content" v-if="element.title == '1'">
                                    <p class="n-title">{{ data.items[1] && data.items[1].title? data.items[1].title : '标题信息'}}</p>
                                    <p class="n-subtitle">{{ data.items[1] && data.items[1].descriptionText? data.items[1].descriptionText : '描述信息'}}</p>
                                    <i class="n-more" v-if="element.title == '1' && element.titleIcon == '1'"></i>
                                    <Icon type="ios-arrow-dropright-circle" v-if="element.title == '1' && element.titleIcon == '1'"/>
                                </div>
                            </div>
                        </div>
                        <div class="n-wrap">
                            <img :src="data.items[2] && data.items[2].pictureUrl?data.items[2].pictureUrl : defaultProductImgurl">
                            <div class="n-mask-wrap" 
                                :style="{
                                    'background-color': element.maskColor == ''? '' : '#0000006a'
                                }"
                            >
                                <div class="n-content" v-if="element.title == '1'">
                                    <p class="n-title">{{ data.items[2] && data.items[2].title? data.items[2].title : '标题信息'}}</p>
                                    <p class="n-subtitle">{{ data.items[2] && data.items[2].descriptionText? data.items[2].descriptionText : '描述信息'}}</p>
                                    <i class="n-more" v-if="element.title == '1' && element.titleIcon == '1'"></i>
                                    <Icon type="ios-arrow-dropright-circle" v-if="element.title == '1' && element.titleIcon == '1'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </Col>
        </Row>
    </div>
</template>
<script>
    export default {
        name: "oneToTwo",
        props: ['data', 'element'],
        data() {
            return {
                defaultProductImgurl: 'http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png'
            }
        },
        created() {
            this.dataInit()
        },
        methods: {
            dataInit() {
                let that = this
                if(this.data.items.length === 0){
                    this.data.items.push(
                        {
                            type: "news",
                            pictureUrl: "",
                            jumpLinkInfo: {
                                linkType: "0",
                                identityId: "",
                                linkUrl: ""
                            },
                            title: '',
                            descriptionText: "",
                            maskColor: that.element.maskColor,
                            maskImg: "",
                            style: {height: "201", margin: ["0", "1", "0", "0"]}
                        },
                        {
                            type: "news",
                            pictureUrl: "",
                            jumpLinkInfo: {
                                linkType: "0",
                                identityId: "",
                                linkUrl: ""
                            },
                            title: '',
                            descriptionText: "",
                            maskColor: that.element.maskColor,
                            maskImg: "",
                            style: {margin: ["0", "0", "0", "0"]}
                        },
                        {
                            type: "news",
                            pictureUrl: "",
                            jumpLinkInfo: {
                                linkType: "0",
                                identityId: "",
                                linkUrl: ""
                            },
                            title: '',
                            descriptionText: "",
                            maskColor: that.element.maskColor,
                            maskImg: "",
                            style: {margin: ["0", "0", "0", "0"]}
                        }
                    );
                }
            },
        },
    }
</script>
<style lang="less" scoped>
    .two-column-container {
        height: 201px;
    }
    .n-container {
        overflow: hidden;
    }
    .n-wrap {
        height: 201px;
    }
    .n-wrap {
        border-radius: 4px;
    }
    .n-pic-list .n-wrap {
        height: 100px;
    }
    .n-pic-list .n-wrap:first-child {
        margin-bottom: 1px;
    }
    .n-mask-wrap {
        height: 50px;
        bottom: 0;
        left: 0;
        color: #fff;
    }
    .n-wrap ,
    .n-content {
        position: relative;
    }
    .n-content ,
    .n-mask-wrap {
        width: 100%;
    }
    .n-mask-wrap ,
    .n-content i {
        position: absolute;
    }
    .n-content {
        height: 50px;
    }
    .n-title ,
    .n-subtitle ,
    .n-wrap ,
    .n-content i {
        overflow: hidden;
    }
    .n-title ,
    .n-subtitle {
        max-width: 170px;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
    }
    .n-title {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        margin: 8px 0 0 0;
    }
    .n-subtitle {
        font-size: 10px;
        height: 18px;
        line-height: 18px;
    }
    .n-content i.n-more {
        right: 11px;
        bottom: 36px;
        width: 11px;
        height: 11px;
        background-color: #fff;
        border-radius: 50%;
        z-index: 0;
    }
    .n-content i {
        right: 10px;
        bottom: 34px;
        font-size: 14px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        color: #00c7c4;
        z-index: 1;
    }
</style>