<template>
  <div
    class="doctorTeam-container"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div
      :style="{backgroundImage:element.data.items[0].pictureUrl!=''?'url('+element.data.items[0].pictureUrl+')':'url('+defaultImgUrl+')'}"
      class="boxStyle"
    >
      <Row :gutter="7">
        <Col span="12">
          <a
            href="javascript:void(0)"
            class="doctorTeam-container-item"
            :style="{height:element.data.items[0].style.height+'px'}"
          ></a>
        </Col>
        <Col span="12">
          <a
            href="javascript:void(0)"
            class="doctorTeam-container-item"
            :style="{height:element.data.items[0].style.height+'px'}"
          ></a>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import doctorTeamImg from "../../img/doctorTeam.png";
export default {
  name: "doctorTeam",
  props: ["index", "element"],

  data() {
    return {
      defaultImgUrl: doctorTeamImg
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.doctorTeam-container,
.boxStyle {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.doctorTeam-container-item {
  display: block;
}
</style>