<template>
  <div class="form-content">
    <Form :label-width="80" :model="element">
      <h4 class="configTitlte">基础配置</h4>
      <FormItem label="楼层背景">
        <RadioGroup v-model="bgColorType">
          <Radio label="0">背景色</Radio>
          <Radio label="1">背景图</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="背景颜色" v-if="bgColorType=='0'">
        <ColorPicker v-model="element.data.style.bgColor" />
        <Button v-model="resetBgColorValue" @click="resetBgColor" class="resetBtn">重置</Button>
      </FormItem>
      <FormItem label="背景图片" v-else>
        <Row>
          <Col span="5">
            <image-upload
              :imageUrl.sync="element.data.style.bgImgUrl"
              :onBeforeUpload="bgColorBeforeUpload"
              :on-success="bgImgUrlSuccess"
            ></image-upload>
          </Col>
          <Col span="19">
            <Alert show-icon>图片宽1125px，高{{element.data.items[0].style.height*3}}px，不大于2M</Alert>
          </Col>
        </Row>
      </FormItem>
      <FormItem label="字体颜色">
        <ColorPicker v-model="element.data.items[0].style.fontColor" />
        <Button v-model="resetFontColorValue" @click="resetFontColor" class="resetBtn">重置</Button>
      </FormItem>
      <Form ref="advertForm" :model="element.data.ext.dataIds" :rules="advertFormValidate" :label-width="80">
        <FormItem label="广告组ID" prop="advertId">
          <Input v-model="element.data.ext.dataIds.advertId" placeholder="请输入广告组ID" style="width:200px" />
        </FormItem>
        <FormItem label="分期状态" prop="stage">
          <Select v-model="element.data.ext.dataIds.stage" style="width:200px">
              <Option v-for="item in stageList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>

        <FormItem>
          <Button type="primary" @click="queryMyInfo">查询</Button>
        </FormItem>
      </Form>
      <!-- <h4 class="configTitlte">跳转配置</h4>
      <FormItem label="用户信息跳转">
        <linkType :linkInfo="element.data.items[0].userInfo"></linkType>
      </FormItem>
      <FormItem label="健康币跳转">
        <linkType :linkInfo="element.data.items[0].healthCurrency"></linkType>
      </FormItem> -->
    </Form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "myInfoEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      resetBgColorValue: this.element.data.style.bgColor,
      resetFontColorValue: this.element.data.items[0].style.fontColor,
      bgColorType: "0",
      hasHealthSteward: this.element.data.items[0].hasHealthSteward,
      
      stageList:[
        {
          value:-1,
          label:'上一个分期'
        },
        {
          value:0,
          label:'当前分期'
        },
        {
          value:1,
          label:'下一个分期'
        }
      ],
      advertFormValidate: {
        advertId: [
          {
            required: true,
            message: "广告组id不能为空",
            trigger: "blur"
          }
        ],
        stage: [
          {
            type:"number",
            required: true,
            message: "请选择分期",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },

    resetBgColor() {
      this.element.data.style.bgColor = this.resetBgColorValue;
    },
    resetFontColor() {
      this.element.data.items[0].style.fontColor = this.resetFontColorValue;
    },
    bgColorBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !== this.element.data.items[0].style.height * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.element.data.items[0].style.height * 3 +
          "px的图片！"
        );
      }
      return null;
    },
    bgImgUrlSuccess(res) {
      this.$set(this.element.data.style, "bgImgUrl", res.result.path);
    },
    queryMyInfo() {
      this.$refs["advertForm"].validate(valid => {
        if (valid) {
          this.$axios
            .request({
              url: `/huyiIndex/getData`,
              method: "post",
              data: {
                dataSourceType2: "501001",
                dataIds: {
                  loadType: "3",
                  advertId: this.element.data.ext.dataIds.advertId,
                  stage: this.element.data.ext.dataIds.stage
                },
                personId: "123"
              }
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$set(this.element.data.items,0,Object.assign(
                  this.element.data.items[0],
                  res.data.result.dataInfos[0]
                ))
                if (this.element.data.items[0].hasHealthSteward) {
                  this.$set(this.element.data.items[0].style, "height", "115");
                } else {
                  this.$set(this.element.data.items[0].style, "height", "188");
                }
              }
            })
            .catch(err => {
              console.log(err);
            });
        } else {
          this.$Message.error("请完善输入项!");
        }
      });
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    hasHealthSteward: {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        if (newer) {
          this.$set(this.element.data.items[0].style, "height", "115");
        } else {
          this.$set(this.element.data.items[0].style, "height", "188");
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}
</style>