<template>
  <div
    class="myInfo-wrap"
    :style="{backgroundColor:element.data.style.bgColor,backgroundImage:'url('+element.data.style.bgImgUrl+')',color:element.data.items[0].style.fontColor}"
  >
    <div class="myInfo-wrap-userInfo">
      <div class="left">
        <img :src="element.data.items[0].userInfo?element.data.items[0].userInfo.yunBigImageUrl:defaultAvatarImgUrl" alt />
      </div>
      <div class="right">
        <div class="userName">
          {{element.data.items[0].userInfo?element.data.items[0].userInfo.nicknameShow:'登陆/注册'}}
          <span>
            编辑
            <Icon type="ios-arrow-forward" />
          </span>
        </div>
        <div class="equity">
          <div class="healthValue" v-if="element.data.items[0].healthCurrency">
            <img
              src="https://m.360buyimg.com/pop/jfs/t1/108964/20/3684/2787/5e1542ddE5e7b233c/fa9ca78a50a16685.png"
              alt
            />
            <span>
              {{element.data.items[0].healthCurrency.name}}&nbsp;&nbsp;
              {{element.data.items[0].healthCurrency.healthNum}}
              <Icon type="md-arrow-dropright" class="arrow" />
            </span>
          </div>
          <div class="healthButler" v-if="element.data.items[0].hasHealthSteward">
            健康管家
            <Icon type="md-arrow-dropright" class="arrow" />
          </div>
        </div>
      </div>
    </div>
    <div class="myInfo-wrap-assets" :style="{margin:'8px '+marginRight+marginBottom+' 68px'}">
      <ul>
        <li v-for="(item,idex) in element.data.items[0].assetsItems">
          <div class="assets-value">{{item.numValueStr}}</div>
          <div class="assets-title">{{item.name}}</div>
        </li>
      </ul>
    </div>
    <div class="myInfo-wrap-vipAd" v-if="!element.data.items[0].hasHealthSteward">
      <img :src="element.data.items[0].healthSteward.pictureUrl" alt />
    </div>
  </div>
</template>

<script>
export default {
  name: "myInfo",
  props: ["index", "element"],
  data() {
    return {
      defaultAvatarImgUrl: "https://m.360buyimg.com/pop/jfs/t1/90722/30/9845/7637/5e13327fE89880cee/9a318e0e060cc5fa.png"
    };
  },
  computed: {
    marginRight() {
      if (this.element.data.items[0].assetsItems.length == "3") {
        return "48px ";
      } else if (this.element.data.items[0].assetsItems.length == "4") {
        return "10px ";
      }
    },
    marginBottom() {
      if (this.element.data.items[0].hasHealthSteward) {
        return "20px";
      } else {
        return "10px";
      }
    }
  }
};
</script>

<style lang="less" scoped>
.myInfo-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 70px 20px 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  &-userInfo {
    display: flex;
    align-items: center;
    .left {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .right {
      margin-left: 10px;
      .userName {
        font-size: 24px;
        line-height: 24px;
        width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span{
          font-size: 12px;
        }
      }
      .equity {
        color: #f86543;
        font-size: 11px;
        line-height: 11px;
        margin-top: 6px;
        .healthValue {
          display: inline;
          img {
            width: 20px;
            height: 20px;
            position: relative;
            top: -1px;
            left: 0;
            z-index: 1;
          }
          span {
            padding: 4px 6px 4px 10px;
            line-height: 20px;
            margin-left: -10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #ffffff;
          }
        }
        .healthButler {
          display: inline-block;
          margin-left: 10px;
          background-color: #ffffff;
          border-radius: 3px 10px 0 3px;
          padding: 5px 6px;
        }
      }
    }
  }
  &-assets {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        .assets-value {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
        }
        .assets-title {
          text-align: center;
        }
      }
    }
  }
  &-vipAd {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>