<template>
  <div>
    <Form :model="element" :label-width="80">
      <div>
        <h4>广告区域背景</h4>
        <image-upload
          :imageUrl.sync="element.data.bgImg.url"
          :onBeforeUpload="bgColorBeforeUpload"
          :on-success="bgImgUrlSuccess"
        ></image-upload>
      </div>
      <divider></divider>
      <div>
        <h4>Logo图</h4>
        <image-upload
          :imageUrl.sync="element.data.logoImg.url"
          :onBeforeUpload="bgColorBeforeUpload"
          :on-success="bgImgUrlSuccess1"
        ></image-upload>
        图片宽度： <Slider v-model="element.data.logoImg.style.width" :min="20" :max="375" :step="1"></Slider>
        图片居左： <Slider v-model="element.data.logoImg.style.left" :max="300" :step="1"></Slider>
        图片居顶： <Slider v-model="element.data.logoImg.style.top" :max="500" :step="1"></Slider>
      </div>
      <divider></divider>
      <div>
        <h4>浮层图</h4>
        <image-upload
          :imageUrl.sync="element.data.textImg.url"
          :onBeforeUpload="bgColorBeforeUpload"
          :on-success="bgImgUrlSuccess2"
        ></image-upload>
        图片宽度： <Slider v-model="element.data.textImg.style.width" :min="20" :max="375" :step="1"></Slider>
        图片居左： <Slider v-model="element.data.textImg.style.left" :max="200" :step="1"></Slider>
        图片居顶： <Slider v-model="element.data.textImg.style.top" :max="300" :step="1"></Slider>
      </div>
      <divider></divider>
      <div label="浮层图">
        <h4>浮层图</h4>
        <image-upload
          :imageUrl.sync="element.data.textSubImg.url"
          :onBeforeUpload="bgColorBeforeUpload"
          :on-success="bgImgUrlSuccess3"></image-upload>
        图片宽度： <Slider v-model="element.data.textSubImg.style.width" :max="375" :min="20" :step="1"></Slider>
        图片居左： <Slider v-model="element.data.textSubImg.style.left" :max="300" :step="1"></Slider>
        图片居顶： <Slider v-model="element.data.textSubImg.style.top" :max="500" :step="1"></Slider>
      </div>
    </Form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "edit",
  data() {
    return {
      groupId: "",
      ...mapMutations(["setFlrIndex", "updateFloor"])
    };
  },
  props: ["index", "element"],
  mounted() {},
  methods: {
    bgColorBeforeUpload(){
    },
    bgImgUrlSuccess(res, index) {
      this.element.data.bgImg.url = res.data.result.path
    },
    bgImgUrlSuccess1(res,index){
      this.element.data.logoImg.url = res.data.result.path
    },
    bgImgUrlSuccess2(res,index){
      this.element.data.textImg.url = res.data.result.path
    },
    bgImgUrlSuccess3(res,index) {
      this.element.data.textSubImg.url = res.data.result.path
    }
  }
};
</script>

<style scoped>
.item {
  margin: 1rem;
}
</style>
