<template>
  <div class="wrapper">
    <div class="bg">
      <img :src="element.data.bgImg.url" alt="">
      <h4 v-show="!element.data.bgImg.url" style="text-align: center;color: #cccccc;">请上传推广广告图</h4>
    </div>
    <div class="logo" :style="{'left':element.data.logoImg.style.left+'px','width':element.data.logoImg.style.width+'px','top':element.data.logoImg.style.top+'px'}">
      <img class="sub-img"  :src="element.data.logoImg.url" alt="">
    </div>
    <div class="sub-img" :style="{'left':element.data.textImg.style.left+'px','width':element.data.textImg.style.width+'px','top':element.data.textImg.style.top+'px'}">
      <img width="100%" :src="element.data.textImg.url" alt="">
    </div>
    <div class="sub-img" :style="{'left':element.data.textSubImg.style.left+'px','width':element.data.textSubImg.style.width+'px','top':element.data.textSubImg.style.top+'px'}">
      <img width="100%" :src="element.data.textSubImg.url" alt="">
    </div>
  </div>
</template>

<script>
  export default {
    name: "promotion",
    props: ['index', 'element'],
    data() {
      return {
        a: 1
      };
    }
  };
</script>
<style scoped lang="less">
  .wrapper{
    position: relative;
    height: 560px;
    .bg{
      position: absolute;
    }
    .logo{
      position: absolute;
    }
    .sub-img{
      position: absolute;
    }
  }
</style>
