<template>
    <Row :gutter="10">
        <template v-if="data.items.length > 0">
            <Col :span="24/data.style.column" v-for="(item, index) in data.items" :key="index">
                <div class="n-goods">
                    <img :src="'https://m.360buyimg.com/pop/' + item.picUrl">
                    <p>{{item.name}}</p>
                    <div class="n-opt">
                        <span class="n-price"><i>￥</i>{{item.jdPrice}}</span>
                        <span class="n-icon">看相似</span>
                    </div>
                </div>
            </Col>
        </template>
        <template v-else>
            <Col :span="24/data.style.column" v-for="(item, index) in parseInt(data.style.column)" :key="index">
                <div class="n-goods">
                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                </div>
            </Col>
        </template>
    </Row>
</template>
<script>
export default {
    name: "multipleGoods",
    props: ['data', 'element'],
    data() {
        return {
            multipleData: [],
            curIcon: 0,
        }
    },
    created() {},
    watch: {
        '$store.state.app.selectedTabIndex': {
            handler: function(newer, older) {
                this.curIcon = newer
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
<style lang="less" scoped>
    .ivu-row {
        padding: 0 10px;
    }
    .n-goods {
        padding: 10px 0;
        p {
            font-size: 12px;
            height: 36px;
            overflow: hidden;
        }
        .n-opt {
            margin: 5px 0 0 0;
            span.n-price {
                display: inline-block;
                color: #f23030;
                font-size: 16px;
                width: 50%;
                i {
                    display: inline-block;
                    font-style: normal;
                    font-size: 14px;
                }
            }
            span.n-icon {
                    width: 50%;
                    display: inline-block;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 2px;
                    border: 1px solid #eee;
                    text-align: center;
            }
        }
    }
</style>