<template>
  <div>
    <Card style="padding-top: 2rem;">
      <Form :model="formItem" :label-width="100" inline>
        <FormItem label="搜索场景：">
          <Select size="large" clearable v-model="formItem.searchSceneId" style="width:200px">
            <Option v-for="item in sceneList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="业务类型：">
          <Select size="large" clearable v-model="formItem.bizId" style="width:200px">
            <Option v-for="item in bizList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="类型：">
          <Select size="large" clearable v-model="formItem.typeId" style="width:200px">
            <Option v-for="item in typeList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="状态：">
          <Select size="large" clearable v-model="formItem.status" style="width:200px">
            <Option v-for="item in statusList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button
            icon="ios-locate-outline"
            size="large"
            @click="getList"
            style="margin-right: .5rem;"
            type="primary"
          >查询</Button>
          <Button
            icon="md-add"
            size="large"
            @click="()=>{this.modal1=true;this.editType=0;}"
            style="margin-right: .5rem;"
            type="success"
          >新增</Button>
          <Button
            icon="ios-trash-outline"
            @click="deleteAll()"
            style="margin-right: .5rem;"
            type="success"
          >批量删除</Button>
        </FormItem>
      </Form>
    </Card>
    <Card style="padding: 2rem">
      <Table
        size="large"
        stripe
        :columns="columns1"
        :data="data1"
        @on-selection-change="floorRuleSltChange"
      ></Table>
      <div style="text-align: center;margin-top: 1rem;">
        <Page
          @on-change="getPage"
          :total="totalCount"
          show-elevator
          show-total
          prev-text="上一页"
          next-text="下一页"
        />
      </div>
    </Card>
    <Modal
      v-model="modal1"
      :closable="false"
      :mask-closable="false"
      width="600px"
      :title="editType==0?'新增':'编辑'"
    >
      <!-- <Form ref="formItem1" :model="formItem1" :rules="formItem1Validate" :label-width="80"> -->
      <Form :label-width="80">
        <FormItem label="搜索场景">
          <Select size="large" clearable v-model="formItem1.searchSceneId" style="width:200px">
            <Option v-for="item in sceneList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="业务类型">
          <Select clearable v-model="formItem1.bizId" style="width:100%">
            <Option v-for="item in bizList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="类型">
          <Select clearable v-model="formItem1.typeId" style="width:100%">
            <Option v-for="item in typeList" :value="item.code" :key="item.code">{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="名称">
          <Input clearable v-model="formItem1.title" placeholder="请输入名称..."></Input>
        </FormItem>
        <FormItem label="内容">
          <Input clearable v-model="formItem1.content" placeholder="请输入内容..."></Input>
        </FormItem>
        <FormItem label="跳转链接">
          <Input clearable v-model="formItem1.targetUrl" placeholder="请输入跳转链接..."></Input>
        </FormItem>
        <FormItem label="图片url">
          <Input clearable v-model="formItem1.imgUrl" placeholder="请输入图片url..."></Input>
        </FormItem>
        <FormItem label="备注">
          <Input clearable v-model="formItem1.remark" placeholder="请输入备注..."></Input>
        </FormItem>
        <FormItem label="排序">
          <Input clearable v-model="formItem1.sortId" placeholder="请输入排序..."></Input>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button @click="()=>{this.formItem1={};this.modal1=false;}">取消</Button>
        <Button type="primary" @click="()=>{this.editType==0?this.create():this.update()}">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  name: "list",
  data() {
    return {
      modal1: false,
      editType: 0,
      formItem: {},
      formItem1: {},
      sceneList: [],
      typeList: [],
      bizList: [],
      statusList: [],
      selectionList: [],
      totalCount: 0,
      columns1: [
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "排序",
          key: "sortId"
        },
        {
          title: "场景",
          key: "searchSceneId",
          render: (h, params) => {
            return h("div", [
              h("strong", params.row.searchSceneId == 1 ? "首页" : "互联网医院")
            ]);
          }
        },
        {
          title: "业务类型",
          key: "bizId",
          render: (h, params) => {
            //:[{"code":1,"desc":"暗文"},{"code":2,"desc":"热搜"},{"code":3,"desc":"商品无结果"},{"code":4,"desc":"医生无结果"},{"code":5,"desc":"服务无结果"},{"code":6,"desc":"商品有结果"},{"code":7,"desc":"医生有结果"},{"code":8,"desc":"服务有结果"}]
            return h("div", [
              h(
                "strong",
                params.row.bizId == "1"
                  ? "暗文"
                  : params.row.bizId == "2"
                  ? "热搜"
                  : params.row.bizId == "3"
                  ? "商品无结果"
                  : params.row.bizId == "4"
                  ? "医生无结果"
                  : params.row.bizId == "5"
                  ? "服务无结果"
                  : params.row.bizId == "6"
                  ? "商品有结果"
                  : params.row.bizId == "7"
                  ? "医生有结果"
                  : params.row.bizId == "8"
                  ? "服务有结果"
                  : ""
              )
            ]);
          }
        },
        {
          title: "类型",
          key: "bizId",
          render: (h, params) => {
            return h("div", [
              h(
                "strong",
                params.row.typeId == 1
                  ? "文字"
                  : params.row.typeId == 2
                  ? "文链"
                  : params.row.typeId == 3
                  ? "图文"
                  : ""
              )
            ]);
          }
        },
        {
          title: "名称",
          key: "title"
        },
        {
          title: "图片地址",
          key: "imgUrl"
        },
        {
          title: "跳转链接",
          key: "targetUrl"
        },
        {
          title: "内容",
          key: "content"
        },

        {
          title: "状态",
          key: "state",
          render: (h, params) => {
            return h("div", [
              h("strong", params.row.status == "1" ? "正常" : "冻结")
            ]);
          }
        },

        {
          title: "备注",
          key: "remark"
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    size: "small",
                    type: params.row.status == 1 ? "warning" : "info"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.setStatus(params.row.id);
                    }
                  }
                },
                params.row.status == 1 ? "冻结" : "解冻"
              ),
              h(
                "Button",
                {
                  props: {
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      //this.show(params.index)
                      //this.editActive(params.row)
                      this.editType = 1;
                      this.modal1 = true;
                      this.formItem1 = params.row;
                      this.getDetail(params.row.id);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "提示",
                        content: "<p>是否确定删除此条活动数据</p>",
                        onOk: () => {
                          //this.delActive(params.row)
                          this.del(params.row.id);
                        },
                        onCancel: () => {
                          this.$Message.info("取消操作");
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data1: []
      // formItem1Validate: {
      //   searchSceneId: [
      //     {
      //       required: true,
      //       message: "请选择场景",
      //       trigger: "blur",
      //       type: Number
      //     }
      //   ],
      //   sortId: [
      //     {
      //       required: true,
      //       message: "请选择类型",
      //       trigger: "blur",
      //       type: Number
      //     }
      //   ],
      //   bizId: [
      //     {
      //       required: true,
      //       message: "请选择业务类型",
      //       trigger: "blur",
      //       type: Number
      //     }
      //   ]
      // }
    };
  },
  mounted() {
    this.getList();
    this.getScene();
    this.getType();
    this.getBiz();
    this.getStatus();
  },
  methods: {
    getPage(n) {
      this.formItem.pageNo = n;
      this.getList();
    },
    // 获取场景列表
    getScene() {
      this.$axios
        .request({
          url: "/trade/jdh/searchService/searchSceneDictionary",
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.sceneList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getStatus() {
      this.$axios
        .request({
          url: "/trade/jdh/searchService/getStatusDropDownBox",
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.statusList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getType() {
      this.$axios
        .request({
          url: "/trade/jdh/searchService/getsTypeDropDownBox",
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.typeList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getBiz() {
      this.$axios
        .request({
          url: "/trade/jdh/searchService/getsBizDropDownBox",
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.bizList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    create() {
      //let par = this.$tools.obj2UrlParam(this.formItem1)
      // console.log(par)
      this.$axios
        .request({
          url: `/trade/jdh/searchService/saveMatConf`,
          method: "post",
          data: this.formItem1
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("创建成功");
            this.getList();
            this.modal1 = false;
            this.formItem1 = {};
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    update(id) {
      //let par = this.$tools.obj2UrlParam(this.formItem1)
      //console.log(par)
      this.$axios
        .request({
          url: `/trade/jdh/searchService/updateMatConf`,
          method: "post",
          data: this.formItem1
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("更新成功");
            this.getList();
            this.modal1 = false;
            this.formItem1 = {};
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 删除
    del(id) {
      this.$axios
        .request({
          url: `/trade/jdh/searchService/delMaterialConfig`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
            this.getList();
          } else {
            this.$Message.warning(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 选中楼层规则表改变
    floorRuleSltChange(selection) {
      this.selectionList = [];
      for (let i = 0; i < selection.length; i++) {
        this.selectionList.push({ id: selection[i].id });
      }
    },
    // 批量删除
    deleteAll() {
      console.log(this.selectionList);
      this.$axios
        .request({
          url: `/trade/jdh/searchService/batchDelMatConf`,
          method: "post",
          data: this.selectionList
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("批量删除成功");
            this.getList();
          } else {
            this.$Message.warning(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    setStatus(id) {
      ///trade/jdh/searchService/frozenOrNormal？id=xxxxx
      this.$axios
        .request({
          url: `/trade/jdh/searchService/frozenOrNormal`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.getList();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getDetail(id) {
      this.$axios
        .request({
          url: `/trade/jdh/searchService/queryMatConfigById`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.formItem1 = res.data.data.configInfoList[0];
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getList() {
      this.$axios
        .request({
          url: "/trade/jdh/searchService/queryMatConfPageList",
          method: "post",
          data: this.formItem
        })
        .then(res => {
          if (res.data.code == 0) {
            this.data1 = res.data.data.configInfoList;
            this.totalCount = res.data.data.total;
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped>
</style>
