<template>
    <div class="n-container">
        <Form :label-width="80">
            <FormItem label="图片热区">
                <Button @click="setHotArea" type="primary">设置热区</Button>
            </FormItem>
        </Form>
        <Modal
            v-model="hotAreaModal"
            title="编辑热区"
            :mask-closable="false"
            @on-ok="save"
            @on-cancel="cancel"
            width="1000"
            >
            <row class="n-row">
                <Col span="24">
                    <Col span="14">
                        <div class="n-hotpic">
                            <img src="https://m.360buyimg.com/babel/jfs/t1/103612/24/4260/194443/5de5babfE733459a5/05478b6e1bf1e33b.jpg">
                        </div>
                    </col>
                    <Col span="10" class="">
                        <div>
                            <div class="n-total">全页面热区总数为：0（最多200个）</div>
                            <Table :columns="columns" :data="data" class="n-table" style="position: static;"></Table>
                        </div>
                        <div>
                            热区操作示意图
                        </div>
                    </Col>
                </Col>
            </row>
        </Modal>
    </div>
</template>
<script>
export default {
    data() {
        return {
            hotAreaModal: false,
            linkList: [
                {
                    id: '0',
                    name: '链接',
                    type: '链接',
                    router: '',
                    placeholder: '请输入链接'
                },
                {
                    id: '1',
                    name: '商详',
                    type: '商详',
                    router: '',
                    placeholder: '请输入ID'
                },
                {
                    id: '2',
                    name: '店铺',
                    type: '店铺',
                    router: '',
                    placeholder: '请输入店铺ID'
                }
            ],
            columns: [
                {
                    title: '类型',
                    key: 'type',
                    width: '100px',
                    align: 'right',
                    render: (h, params) => {
                        return h('Select', {
                            props: {
                                value: params.row.type, // 获取选择的下拉框的值
                                size: 'small'
                            },
                            on: {
                                'on-change': e => {
                                    params.row.type = e // 改变下拉框赋值
                                }
                            }
                        }, this.linkList.map((item) => { // this.productTypeList下拉框里的data
                        return h('Option', { // 下拉框的值
                                props: {
                                    value: item.id,
                                    label: item.name
                                }
                            })
                        })
                    )}
                },
                {
                    title: '链接',
                    key: 'router',
                    align: 'center',
                    render: (h, params) => {
                        return h('Input',{
                            props:{
                                placeholder: this.linkList[params.index].placeholder,
                                value: this.linkList[params.index].router
                            },
                            on:{  
                                'on-blur': (event) => {
                                    console.log('1:' + event)
                                },
                                'on-change': (e) => {
                                    console.log('2:' + e)
                                }
                            }
                        })
                    }
                },
                {
                    title: '操作',
                    key: 'option',
                    width: '100px',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        this.$Message.info('这条热点被删除了');
                                    }
                                }
                            }, '删除')
                        ]);
                    }
                }
            ],
            data: [
                {
                    router: '商品'
                },
                {
                    router: '商品2'
                },
            ]
        }
    },
    methods: {
        setHotArea() {
            this.hotAreaModal = true
        },
        save () {
            this.$Message.info('Clicked save');
        },
        cancel () {
            this.$Message.info('Clicked cancel');
        }
    }
}
</script>
<style lang="less" scoped>
    .n-hotpic {
        padding: 40px 60px;
    }
    /deep/ .ivu-table-cell {
        padding: 0;
    }
    /deep/ .ivu-select {
        width: 76px;
    }
    /deep/ .ivu-select-selection ,
    .ivu-select-single .ivu-select-selection ,
    /deep/ .ivu-select-small.ivu-select-single .ivu-select-selection ,
    /deep/ .ivu-select-small.ivu-select-single .ivu-select-selection .ivu-select-placeholder ,
    /deep/ .ivu-select-small.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
        line-height: 30px;
        height: 30px;
    }
    /deep/ ul.ivu-select-dropdown-list li ,
    /deep/ .ivu-select-selected-value {
        text-align: center;
    }
    .n-total {
        height: 30px;
    }
</style>