<template>
    <div>
      <Card>
        <Table size="small" height="450" stripe :columns="columns1" :data="data1"></Table>
        <div style="text-align: center;margin-top: 1rem;">
          <Page @on-change="getPage" :total="totalCount" show-elevator/>
        </div>
      </Card>

    </div>
</template>

<script>
    export default {
        name: "pageSelector",
      data(){
          return{
            totalCount:0,
            data1:[],
            columns1:[
              {
                title: '页面id',
                key: 'id',
              },
              {
                title: 'uuid',
                key: 'uuid',
              },
              {
                title: '页面名称',
                key: 'pageName',
              },
              {
                title: '页面类型',
                key: 'pageType',
              },
              {
                title: '页面描述',
                key: 'description',
              },
              {
                title: '操作',
                key: 'action',
                align: 'center',
                width:300,
                render: (h, params) => {
                  return h('div', [
                    h('Button', {
                      props: {
                        type: 'info',
                        size: 'small'
                      },
                      style: {
                        marginRight: '5px'
                      },
                      on: {
                        click: () => {
                          // alert(params.row.id)
                          //查询指定id数据
                          //this.list = params.row.data
                          this.modal4=true
                          this.getPageDetail(params.row.uuid)
                        }
                      }
                    }, '预览'),
                  ]);
                }
              }
            ]
          }
      },
      mounted(){
      },
    }
</script>

<style scoped>

</style>
