@import "../icons/iconfont.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*:not(input, textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

.clearfix {
  overflow: hidden;
  _zoom: 1;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

:after,
:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  background: white;
}

.form {
  margin-top: 1rem;
  background: #fff;
  width: 100%;
}

.ivu-btn-text:focus,
.c-button:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, 0);
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.textCenter {
  text-align: center;
}

.n-btn-default,
.n-btn-active {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.n-btn-active {
  background: #2d8cf0;
  border: 1px solid #2d8cf0;
  color: #fff;
}

.n-btn-default {
  color: #666;
  font-size: 14px;
}

.n-btn-default:hover {
  border: 1px solid #2d8cf0;
}

.n-btn-active:hover {
  color: #fff;
  background-color: #67b7f0;
  border: 1px solid #67b7f0;
}

.ivu-poptip-rel,
.ivu-poptip {
  display: block;
}

.n-pl-pr {
  padding: 0 10px;
}

.n-relative {
  position: relative;
}

//字体间隔
.letterSpace {
  letter-spacing: 4px;
}

// 公共组件样式修改
// 单选框
.myform-label /deep/.ivu-form-item-label {
  font-size: 14px;
}

.ivu-radio-large.ivu-radio-wrapper,
.ivu-radio-large .ivu-radio-wrapper,
.ivu-checkbox-wrapper {
  margin-right: 30px;
}

// 警告框内边距
.ivu-alert {
  padding: 8px 16px;
}

//配置项副标题 折叠面板样式重写
.n-option-subtitle {
  display: inline-block;
  font-size: 14px;
  color: #999;
}

.n-ivu-collapse {
  border: none;
  background-color: #fff;
}

.n-ivu-collapse .ivu-collapse-content {
  padding: 0;
}

//表单校验文字
.ivu-form-item-error-tip {
  z-index: 1;
  background-color: #fff;
}

.n-form-item-required label::before {
  content: '*';
  display: inline-block;
  margin-right: 4px;
  line-height: 1;
  font-family: SimSun;
  font-size: 12px;
  color: #ed4014;
}

//自定义 水平滚动条
.n-set-scroll {
  overflow-y: auto;
  display: flex;
  word-break: keep-all;
  position: relative;
}

.n-set-scroll::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.n-set-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 4px;
  background: #ccc;
}

.n-set-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 4px;
  background: #e3e3e3;
}

//自定义 垂直滚动条
.ivu-card-body {
  padding: 0;
}

.n-position-static .ivu-form-item-content,
.ivu-tabs {
  position: static;
}

.n-set-vertical-scroll {
  height: 480px;
  padding: 15px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: keep-all;
}

.n-set-vertical-scroll>.ivu-tabs,
.n-set-vertical-scroll>div>.ivu-tabs,
.n-set-vertical-scroll>div>div>.ivu-tabs {
  padding: 0 10px;
}

.n-set-vertical-scroll::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.n-set-vertical-scroll::after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0px;
  height: 100%;
  background: #cecece;
}

.n-set-vertical-scroll:hover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc;
}

.n-set-vertical-scroll:hover::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #ededed;
}


.ivu-tabs {
  overflow-y: auto;
  height: 450px;
}

.ivu-tabs::-webkit-scrollbar {
  width: 4px;
}

.ivu-tabs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.ivu-tabs::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);

}

/*重置poptip*/
.n-black-poptip {
  display: inline-block;

  .ivu-poptip-rel {
    i.ivu-icon-ios-help-circle-outline {
      font-size: 18px;
      color: #1d83ef;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .ivu-poptip-popper {
    .ivu-poptip-content {
      .ivu-poptip-arrow:after {
        border-bottom-color: #404040;
      }

      .ivu-poptip-inner {
        background-color: #404040;

        .ivu-poptip-body {
          .ivu-poptip-body-content {
            .api {
              div {
                .n-poptip-text {
                  color: #fff;
                  line-height: 26px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.ivu-color-picker /deep/.ivu-select-dropdown {
  left: -40px !important;
}

// 文字提示
.text-poptip {
  width: 20px;
  margin-left: 5px;
  display: inline-block;

  .ivu-poptip-rel {
    i.ivu-icon-ios-help-circle-outline {
      font-size: 18px;
      color: #1d83ef;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

// 配置标题样式
.configTitlte {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-color: #e2ecf9;
  padding: 0 10px;
  color: #57a3f3;
  margin: 20px 0 5px;
}

// 居中
.center {
  text-align: center;
}

// 手的状态
.point {
  cursor: pointer;
}
//输入框限制宽度
.inputSetting{
  width: 85px;
}