<template>
    <div>
        <Card style="padding-top: 2rem;">
            <Form :model="formItem" :label-width="100" inline>
                <FormItem label="导航id：">
                    <Input v-model="navIdInputValue" style="width: 300px" size="large" clearable placeholder="请输入导航ID..."></Input>
                </FormItem>
                <FormItem label="导航名称：">
                    <Input v-model="navNameInputValue" style="width: 300px" size="large" clearable placeholder="请输入导航名称..."></Input>
                </FormItem>
                <FormItem :label-width="0">
                    <Button
                        size="large"
                        icon="ios-locate-outline"
                        @click="getData(1, navIdInputValue, navNameInputValue)"
                        style="margin-right: .5rem;"
                        type="primary"
                    >查询</Button>
                    <Button
                        size="large"
                        icon="md-add"
                        style="margin-right: .5rem;"
                        @click="add"
                        type="success"
                    >新增导航</Button>
                </FormItem>
            </Form>
        </Card>
        <Divider />
        <Card style="padding: 2rem;">
            <div v-if="navigateData.length > 0">
                <Table :columns="navigateList" :data="navigateData"></Table>
                 <div style="text-align: center;margin-top: 1rem;">
                    <Page @on-change="getData" :total="totalCount" show-elevator />
                </div>
            </div>
            <div v-else class="n-empty">
                <Icon type="ios-cafe-outline" />
                <span>暂无信息</span>
            </div>
        </Card>
        <Modal 
            v-model="modal1" 
            :title="modelTitle" 
            :footer-hide=true
            :mask-closable="false"
        >
            <Alert>用于配置页面底部导航，可以配置3-5个底部导航。</Alert>
            <div class="nav">
                <Row  class="n-navbox" :style="{
                        backgroundColor: colorTransform(navigateInfo.style.bgColor),
                        backgroundImage:'url('+ navigateInfo.style.bgImgUrl +')',
                        height: navigateInfo.style.navigateHeight + 'px'
                    }">
                    <Col :style="{width: 100/navigateCount + '%'}" v-for="(item, index) in navigateInfo.data" :key="index" class="item">
                        <div class="n-image" :style="{
                                width: index == 0 ? item.imagesSelectWidth + 'px' : item.imagesDefaultWidth + 'px',
                                height: index == 0 ? item.imagesSelectHeight + 'px' : item.imagesDefaultHeight + 'px',
                                margin: item.imagesMargin[0]+'px '+ item.imagesMargin[1]+'px '+ item.imagesMargin[2]+'px '+ item.imagesMargin[3]+'px'
                            }">
                            <img :src="item.images" alt :style="{
                                width: index == 0 ? item.imagesSelectWidth + 'px' : item.imagesDefaultWidth + 'px',
                                height: index == 0 ? item.imagesSelectHeight + 'px' : item.imagesDefaultHeight + 'px',
                                top: index == 0 ? item.selectBulgeHeight[0] + 'px' : item.defaultBulgeHeight[0] + 'px',
                                left: index == 0 ? item.selectBulgeHeight[3] + 'px' : item.defaultBulgeHeight[3] + 'px'
                            }" />
                        </div>
                        <p 
                            v-if=" index == 0 ? item.titleSelectShow == 'true' : item.titleDefaultShow === 'true'"
                            class="n-title" 
                            :style="{
                                'color': index == 0 ? navigateInfo.style.selectColor : navigateInfo.style.titleColor,
                                fontSize: index == 0 ? navigateInfo.style.titleSelectFontSize + 'px' : navigateInfo.style.titleDefaultFontSize  + 'px'
                            }"
                            >{{item.title}}</p>
                    </Col>
                </Row>
            </div>
            <Button @click="addNavigation" type="primary" class="n-addnavigation">增加标签</Button>
            <div class="n-card">
                <div class="n-set-vertical-scroll" style="height:410px;padding: 0 10px;">
                    <Form ref="validate" :label-width="80">
                        <FormItem label="标题">
                            <Input v-model="page.name" placeholder="导航标题"></Input>
                        </FormItem>
                        <FormItem label="描述">
                            <Input v-model="page.description" placeholder="导航描述"></Input>
                        </FormItem>
                    </Form>
                    <Tabs name="icon" :animated="false">
                        <TabPane label="样式配置" tab="icon">
                            <Form ref="validate" :label-width="100">
                                <FormItem label="导航背景颜色" class="n-position-static">
                                    <ColorPicker v-model="navigateInfo.style.bgColor" />
                                    <Button
                                        v-model="navigateInfo.style.bgColor"
                                        @click="resetColor(2)"
                                    >重置</Button>
                                </FormItem>
                                <FormItem label="导航背景图片">
                                    <image-upload
                                        :imageUrl.sync="navigateInfo.style.bgImgUrl"
                                    ></image-upload>
                                </FormItem>
                                <FormItem label="导航高度">
                                    <Input
                                        v-model="navigateInfo.style.navigateHeight"
                                        placeholder="请输入导航高度……"
                                        style="width: 130px;"
                                        type="number"
                                    ></Input>
                                </FormItem>
                                <FormItem label="导航位置">
                                    <RadioGroup v-model="navigateInfo.style.contentAlign">
                                        <Radio label="center">居中</Radio>
                                        <Radio label="left">居左</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <FormItem label="默认态颜色" class="n-position-static">
                                    <ColorPicker v-model="navigateInfo.style.titleColor" />
                                    <Button
                                        v-model="navigateInfo.style.titleColor"
                                        @click="resetColor(0)"
                                    >重置</Button>
                                </FormItem>
                                <FormItem label="选中态颜色" class="n-position-static">
                                    <ColorPicker v-model="navigateInfo.style.selectColor" />
                                    <Button
                                        v-model="navigateInfo.style.selectColor"
                                        @click="resetColor(1)"
                                    >重置</Button>
                                </FormItem>
                                <FormItem label="默认字体大小">
                                    <Input
                                        v-model="navigateInfo.style.titleDefaultFontSize"
                                        placeholder="请输入默认字体大小……"
                                        style="width: 130px;"
                                        type="number"
                                    ></Input>
                                </FormItem>
                                <FormItem label="选中字体大小">
                                    <Input
                                        v-model="navigateInfo.style.titleSelectFontSize"
                                        placeholder="请输入选中字体大小……"
                                        style="width: 130px;"
                                        type="number"
                                    ></Input>
                                </FormItem>
                            </Form>
                        </TabPane>
                        <TabPane label="数据配置" tab="icon">
                            <Collapse v-model="panel" v-for="(item, index) in navigateInfo.data" :key="index" style="margin-bottom: 10px;">
                                <Panel :name="index+''">
                                    Icon标签
                                    <div class="n-delete" @click.stop.prevent="() => {}">
                                        <Button icon="ios-trash-outline" shape="circle" @click="deleteNavigation(index)"></Button>
                                    </div>
                                    <div slot="content">
                                        <Form ref="formValidate" :label-width="100">
                                            <FormItem label="默认态标题">
                                                <RadioGroup v-model="item.titleDefaultShow">
                                                    <Radio label="false">不展示</Radio>
                                                    <Radio label="true">展示</Radio>
                                                </RadioGroup>
                                            </FormItem>
                                            <FormItem label="选中态标题">
                                                <RadioGroup v-model="item.titleSelectShow">
                                                    <Radio label="false">不展示</Radio>
                                                    <Radio label="true">展示</Radio>
                                                </RadioGroup>
                                            </FormItem>
                                            <FormItem label="Icon标题">
                                                <Input v-model="item.title" placeholder="Icon字数为2~4个汉字"></Input>
                                            </FormItem>
                                            <margin
                                                :marginSizeData="item.defaultBulgeHeight"
                                                name='默认态超出高度'
                                            ></margin>

                                            <margin
                                                :marginSizeData="item.selectBulgeHeight"
                                                name='选中态超出高度'
                                            ></margin>

                                            <FormItem label="默认态图片">
                                                <image-upload
                                                    :imageUrl.sync="item.images"
                                                ></image-upload>
                                            </FormItem>
                                            <margin
                                                :marginSizeData="item.imagesMargin"
                                                name='默认图片边距设置'
                                            ></margin>
                                            <FormItem label="选中态图片">
                                                <image-upload
                                                    :imageUrl.sync="item.selectImages"
                                                ></image-upload>
                                            </FormItem>
                                            <margin
                                                :marginSizeData="item.imagesSelectMargin"
                                                name='选中图片边距设置'
                                            ></margin>

                                            <FormItem label="默认态图片宽度">
                                                <Input
                                                    v-model="item.imagesDefaultWidth"
                                                    placeholder="请输入默认态图片宽度……"
                                                    style="width: 130px;"
                                                    type="number"
                                                ></Input>
                                            </FormItem>
                                            <FormItem label="默认态图片高度">
                                                <Input
                                                    v-model="item.imagesDefaultHeight"
                                                    placeholder="请输入默认态图片高度……"
                                                    style="width: 130px;"
                                                    type="number"
                                                ></Input>
                                            </FormItem>
                                            <FormItem label="选中态图片宽度">
                                                <Input
                                                    v-model="item.imagesSelectWidth"
                                                    placeholder="请输入选中态图片宽度……"
                                                    style="width: 130px;"
                                                    type="number"
                                                ></Input>
                                            </FormItem>
                                            <FormItem label="选中态图片高度">
                                                <Input
                                                    v-model="item.imagesSelectHeight"
                                                    placeholder="请输入选中态图片高度……"
                                                    style="width: 130px;"
                                                    type="number"
                                                ></Input>
                                            </FormItem>

                                            <FormItem label="跳转链接">
                                                <!-- <Input v-model="item.router" placeholder="请输入有效链接"></Input> -->
                                                <linkType :linkInfo="item" ref="link"></linkType>
                                            </FormItem>
                                        </Form>
                                    </div>
                                </Panel>
                            </Collapse>
                        </TabPane>
                    </Tabs>
                </div>
            </div>
            <div style="margin: 20px 0;text-align: right;">
                <Button style="margin-right: 10px;">取消</Button>
                <Button type="primary" @click="saveData">确定</Button>
            </div>
        </Modal>
    </div>
</template>
<script>
import ImageUpload from "../common/ImageUpload"
import padding from "../common/commonDecorate/pageDecoratePad"
import margin from "../common/commonDecorate/pageDecorateMargin"
import color from "../common/commonDecorate/pageDecorateColor"
import corner from "../common/commonDecorate/pageDecorateCorner"
export default {
    components: {
        "image-upload": ImageUpload,
        padding: padding,
        margin: margin,
        color: color,
        corner: corner
    },
    data() {
        return {
            modal1: false,
            page: {
                name: '',
                description: '',
                id: '',
                identityId: null,
                type: ''
            },
            maxNavigateCount: 5,
            minNavigateCount: 3,
            navigateCount: 3,
            panel: [0, 1, 2],
            navigateInfo: {
                style: {
                    bgColor: "#FFFFFF",
                    bgImgUrl: "",
                    titleColor: "#333333",
                    titleDefaultShow: "1",
                    selectColor: "#f00000",
                    titleDefaultFontSize: "10",
                    titleSelectFontSize: "10",
                    navigateHeight: "49",
                    column: "3",
                    contentAlign: "center",
                },
                data: [
                    {
                        titleDefaultShow: "false",
                        titleSelectShow: "true",
                        defaultBulgeHeight: ["-13", "0", "0", "0"],
                        selectBulgeHeight: ["-13", "0", "0", "0"],
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/20983/16/10753/6124/5c8a16aaE5d6b15d7/01e0e818a7505267.png",
                        imagesDefaultWidth: "30",
                        imagesDefaultHeight: "30",
                        imagesSelectWidth: "30",
                        imagesSelectHeight: "30",
                        selectImages: "",
                        imagesMargin: ["0", "0", "0", "0"],
                        imagesSelectMargin: ["8", "0", "0", "0"],
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: "",
                            routerUrl: ""
                        }
                    },
                    {
                        titleDefaultShow: "true",
                        titleSelectShow: "true",
                        defaultBulgeHeight: ["0", "0", "0", "0"],
                        selectBulgeHeight: ["0", "0", "0", "0"],
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/17169/3/4127/4611/5c2f35cfEd87b0dd5/65c0cdc1362635fc.png",
                        imagesDefaultWidth: "30",
                        imagesDefaultHeight: "30",
                        imagesSelectWidth: "30",
                        imagesSelectHeight: "30",
                        selectImages: "",
                        imagesMargin: ["0", "0", "0", "0"],
                        imagesSelectMargin: ["8", "0", "0", "0"],
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: "",
                            routerUrl: ""
                        }
                    },
                    {
                        titleDefaultShow: "true",
                        titleSelectShow: "true",
                        defaultBulgeHeight: ["0", "0", "0", "0"],
                        selectBulgeHeight: ["0", "0", "0", "0"],
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/22262/9/1470/4527/5c120cd0E5d3c6c66/4792ec307a853e9f.png",
                        imagesDefaultWidth: "30",
                        imagesDefaultHeight: "30",
                        imagesSelectWidth: "30",
                        imagesSelectHeight: "30",
                        selectImages: "",
                        imagesMargin: ["0", "0", "0", "0"],
                        imagesSelectMargin: ["8", "0", "0", "0"],
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: "",
                            routerUrl: ""
                        }
                    }
                ]
            },
            navigateList: [
                {
                    title: "导航id",
                    key: "id",
                    width: "100px",
                    align: "center"
                },
                {
                    title: "导航名称",
                    key: "name",
                    width: "260px",
                    align: "center"
                },
                {
                    title: "导航描述",
                    key: "description",
                    align: "center"
                },
                {
                    title: "创建者",
                    key: "createUser",
                    width: "200px",
                    align: "center"
                },
                {
                    title: "状态",
                    key: "state",
                    width: "100px",
                    align: "center",
                    render: (h, params) => {
                        return h("div", [
                            params.row.state == 0?'未上线':'已上线'
                        ])
                  }
                },
                {
                    title: "创建时间/修改时间",
                    key: "createTime",
                    align: "center"
                },
                {
                    title: "操作",
                    key: "option",
                    render: (h, params) => {
                        return h("div", [
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small",
                                        //disabled: (params.row.state == 1)
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定上线此条页面数据</p>",
                                                onOk: () => {
                                                    this.onlineData(params.row.id);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "上线"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.row.id);
                                        }
                                    }
                                },
                                "编辑"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small",
                                        disabled: (params.row.type == 1)
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.setHomeNav(params.row.id);
                                        }
                                    }
                                },
                                "主页导航"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "error",
                                        size: "small"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定删除此条页面数据</p>",
                                                onOk: () => {
                                                    this.delete(params.row.id);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "删除"
                            )
                        ]);
                    }
                }
            ],
            navigateData: [],
            formItem: {},
            formValidate: {},
            validate: {},
            totalCount: 0,
            pageNo: 1,
            modelTitle: '新增导航',
            navIdInputValue: '',
            navNameInputValue: ''
        };
    },
    mounted() {
        this.getData()
    },
    methods: {
        add() {
            this.modal1 = true
            this.resetForm()
        },
        edit(id) {
            let that = this
            this.modelTitle = '编辑导航'
            this.modal1 = true
            this.getDataById(id)
        },
        delete(id) {
            this.$axios
                .request({
                    url: `/jdh/navbar/deleteById?id=${id}`,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success('删除成功')
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        addNavigation() {
            if(this.navigateCount > 4){
                this.$Message.error("最多支持5组Icon配置");
                return;
            }
            this.panel.push(this.navigateCount)
            this.navigateCount++
            this.navigateInfo.style.column = this.navigateInfo.style.column++
            this.navigateInfo.data.push(
                {
                    titleDefaultShow: "true",
                    titleSelectShow: "true",
                    title: "默认标题",
                    defaultBulgeHeight: ["0", "0", "0", "0"],
                    selectBulgeHeight: ["0", "0", "0", "0"],
                    images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/22262/9/1470/4527/5c120cd0E5d3c6c66/4792ec307a853e9f.png",
                    imagesDefaultWidth: "30",
                    imagesDefaultHeight: "30",
                    imagesSelectWidth: "30",
                    imagesSelectHeight: "30",
                    selectImages: "",
                    imagesMargin: ["0", "0", "0", "0"],
                    imagesSelectMargin: ["8", "0", "0", "0"],
                    jumpLinkInfo: {
                        linkType: "0",
                        identityId: "",
                        linkUrl: "",
                        routerUrl: ""
                    }
                }
            )
        },
        deleteNavigation(index) {
            if(this.navigateCount < 3){
                this.$Message.error("最少支持3组Icon配置");
                return;
            }
            this.panel.splice(this.panel.length, 1);
            this.navigateCount--
            this.navigateInfo.data.splice(index, 1);
            this.navigateInfo.style.column = this.navigateInfo.style.column--
        },
        resetColor(index) {
            if(index == 0){
                this.navigateInfo.style.titleColor = "#333333";
            }else if(index == 1){
                this.navigateInfo.style.titleColor = "#f00000";
            }else if(index == 2){
                this.navigateInfo.style.bgColor = "#FFFFFF"
            }
        },
        // onBeforeUpload(file, img) {
        //     if (img.width !== 120) {
        //         return "图片宽度必须是120px";
        //     }
        //     if (img.height !== 120) {
        //         return "图片高度必须是120px";
        //     }
        //     return null;
        // },
        saveData() {
            if(this.page.description == '' || this.page.name == ''){
                this.$Message.warning({
                    content: '请检查标题或描述是否已填写完整',
                    duration: 5
                })
                return false
            }else{
                let navData = {
                    configData: JSON.stringify(this.navigateInfo),
                    id: this.page.id,
                    projectId: this.$route.query.id,
                    identityId: this.page.identityId,
                    type: this.page.type,
                    name: this.page.name,
                    description: this.page.description,
                }
                this.$axios
                    .request({
                        url: `/jdh/navbar/save`,
                        data: navData,
                        method: "post"
                    })
                    .then(res => {
                        if (res.data.code == 0) {
                            if(this.page.id == ''){
                                this.$Message.success("保存成功");
                            }else{
                                this.$Message.success("修改成功");
                            }
                            this.modal1 = false
                            this.resetForm()
                            this.getData()
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        },
        getData(v, id, name) {
            if(v){
                this.pageNo = v
            }
            this.$axios
                .request({
                    url: `/jdh/navbar/list?pageNo=${this.pageNo}&pageSize=10&projectId=${this.$route.query.id}&id=${this.navIdInputValue}&name=${this.navNameInputValue}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.navigateData = res.data.result.result;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        getDataById(id) {
            this.$axios
                .request({
                    url: `jdh/navbar/detail?id=${id}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let getConfigData = JSON.parse(res.data.result.configData)
                        this.navigateInfo.style = getConfigData.style
                        this.navigateInfo.data = getConfigData.data
                        this.page.name = res.data.result.name
                        this.page.description = res.data.result.description
                        this.page.id = res.data.result.id
                        this.page.identityId = res.data.result.identityId,
                        this.page.type = res.data.result.type

                        this.$nextTick(() => {
                            for(let i = 0; i < this.$refs.link.length; i++){
                                this.$refs.link[i].linkTypeChange()
                            }
                        })
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        onlineData(id){
            this.$axios
                .request({
                    url: `/jdh/navbar/publish?id=${id}`,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success('上线成功')
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        setHomeNav(id) {
            this.$axios
                .request({
                    url: `/jdh/navbar/asHome?id=${id}`,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success('主页导航设置成功')
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        resetForm() {
            this.page.name = ''
            this.page.description = ''
            this.page.id = ''
            this.page.identityId = null
            this.page.type = ''
            this.navigateCount = 3
            this.panel = [0, 1, 2]
            this.navigateInfo.style.bgColor = "#FFFFFF"
            this.navigateInfo.style.bgImgUrl = ""
            this.navigateInfo.style.titleColor = "#333333"
            this.navigateInfo.style.titleColor = "#f00000"
            this.navigateInfo.style.titleDefaultFontSize = "10"
            this.navigateInfo.style.titleSelectFontSize = "10"
            this.navigateInfo.style.navigateHeight = "49"
            this.navigateInfo.style.column = "3"
            this.navigateInfo.style.contentAlign = "center"

            this.navigateInfo.data = [
                {
                    titleDefaultShow: "false",
                    titleSelectShow: "true",
                    title: "默认标题",
                    defaultBulgeHeight: ["-13", "0", "0", "0"],
                    selectBulgeHeight: ["-13", "0", "0", "0"],
                    images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/20983/16/10753/6124/5c8a16aaE5d6b15d7/01e0e818a7505267.png",
                    imagesDefaultWidth: "30",
                    imagesDefaultHeight: "30",
                    imagesSelectWidth: "30",
                    imagesSelectHeight: "30",
                    selectImages: "",
                    imagesMargin: ["0", "0", "0", "0"],
                    imagesSelectMargin: ["8", "0", "0", "0"],
                    jumpLinkInfo: {
                        linkType: "0",
                        identityId: "",
                        linkUrl: "",
                        routerUrl: ""
                    }
                },
                {
                    titleDefaultShow: "true",
                    titleSelectShow: "true",
                    title: "默认标题",
                    defaultBulgeHeight: ["0", "0", "0", "0"],
                    selectBulgeHeight: ["0", "0", "0", "0"],
                    images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/17169/3/4127/4611/5c2f35cfEd87b0dd5/65c0cdc1362635fc.png",
                    imagesDefaultWidth: "30",
                    imagesDefaultHeight: "30",
                    imagesSelectWidth: "30",
                    imagesSelectHeight: "30",
                    selectImages: "",
                    imagesMargin: ["0", "0", "0", "0"],
                    imagesSelectMargin: ["8", "0", "0", "0"],
                    jumpLinkInfo: {
                        linkType: "0",
                        identityId: "",
                        linkUrl: "",
                        routerUrl: ""
                    }
                },
                {
                    titleDefaultShow: "true",
                    titleSelectShow: "true",
                    title: "默认标题",
                    defaultBulgeHeight: ["0", "0", "0", "0"],
                    selectBulgeHeight: ["0", "0", "0", "0"],
                    images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/22262/9/1470/4527/5c120cd0E5d3c6c66/4792ec307a853e9f.png",
                    imagesDefaultWidth: "30",
                    imagesDefaultHeight: "30",
                    imagesSelectWidth: "30",
                    imagesSelectHeight: "30",
                    selectImages: "",
                    imagesMargin: ["0", "0", "0", "0"],
                    imagesSelectMargin: ["8", "0", "0", "0"],
                    jumpLinkInfo: {
                        linkType: "0",
                        identityId: "",
                        linkUrl: "",
                        routerUrl: ""
                    }
                }
            ]
        },
    },
    watch: {
        // modal1: {
        //     handler: function(newer, older) {
        //         let that = this
        //         if(newer){
                    
        //         }
        //     }
        // }
    }
};
</script>
<style lang="less" scoped>
.n-empty {
    text-align: center;
    /deep/ .ivu-icon-ios-cafe-outline {
        font-size: 40px;
        display: block;
    }
    span {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        display: block;
    }
}
.nav {
    border: 1px solid #e8e8e8;
    padding-bottom: 10px;
    .n-navbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .item {
            text-align: -webkit-center;
            .n-image {
                position: relative;
                img {
                    width: 40px;
                    height: 40px;
                    display: block;
                    position: absolute;
                }
                .n-title {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
}
.n-addnavigation {
    margin: 10px 0;
}
.n-card {
    border: 1px solid #e8e8e8;
    padding: 10px;
    .n-set-vertical-scroll {
        .ivu-tabs {
            height: auto;
        }
        .n-delete {
            float: right;
            margin-right: 15px;
        }
    }
}
/deep/ .ivu-form-item {
    margin-bottom: 10px;
}

</style>
