<template>
    <div class="n-container">
        <div class="n-pageoption">
            <Button type="primary">保存</Button>
        </div>
        {{ list }}
    </div>
</template>
<script>
export default {
    data() {
        return {
            id: '',
            list: ''
        }
    },
    created() {
        if(this.$route.query.id){
            this.id = this.$route.query.id
            this.edit()
        }else{
            this.add()
        }
    },
    methods: {
        edit() {
            this.list = '我是编辑'
        },
        add() {
            this.list = '我是新增'
        }
    }
}
</script>
<style lang="less" scoped>
    .n-container {
        background-color: #fff;
        height: 100%;
        padding: 0 50px;
    }
</style>