<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <margin
                        :marginSizeData="data.items[0].style.margin"
                        name="卡片边距设置"
                    ></margin>
                   <padding
                        :paddingSizeData="data.items[0].style.padding"
                        name="卡片留白设置"
                    ></padding>
                    <color
                        :colorData="data.items[0].style"
                        field ="bgColor"
                        name="卡片背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <FormItem label="读取缓存">
                        <RadioGroup v-model="data.ext.readCache">
                            <Radio label="0">不读取</Radio>
                            <Radio label="1">读取</Radio>
                        </RadioGroup>
                    </FormItem>
                    <inputItem 
                        :inputData="data.items[0]"
                        name="缓存枚举值"
                        field="dataType"
                        placeholder="请输入枚举值……"
                        v-if="data.ext.readCache == '1'"
                        inputType="number"
                    ></inputItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="100" :model="element">
                    <FormItem label="数据更新">
                        <Button type="primary" @click="queryMyInfo">查询</Button>
                    </FormItem>
                    <FormItem label="链接跳转">
                        <linkType :linkInfo="data.items[0]"></linkType>
                    </FormItem>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import inputItem from "../commonDecorate/pageDecorateInput"
export default {
    props: ["element", "data"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        inputItem: inputItem,
    },
    computed: {},
    data() {
        return {

        }
    },
    methods: {
        queryMyInfo() {
            this.$axios
                .request({
                    url: `/huyiIndex/getData`,
                    method: "post",
                    data: {
                        dataSourceType2: "501001",
                        dataIds: { loadType: "3" },
                        personId: "123"
                    }
                })
                .then(res => {
                    if (res.data.code == 0) {
                        //this.data.items[0].userInfo.push(res.data.result.dataInfos[0].assets)
                        this.data.items[0].name = res.data.result.dataInfos[0].assets.userInfo.realname
                        this.data.items[0].headImgUrl = res.data.result.dataInfos[0].assets.userInfo.yunMidImageUrl
                        this.data.items[0].account = res.data.result.dataInfos[0].assets.userInfo.nickname
                        this.data.items[0].gendar = res.data.result.dataInfos[0].assets.userInfo.gendar
                    }else{
                        this.data.items[0].name = ''
                        this.data.items[0].headImgUrl = ''
                        this.data.items[0].account = ''
                        this.data.items[0].gendar = ''
                        this.$Message.success("查询失败");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    watch: {
        "data.ext.readCache": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                if(newer == '0'){
                    //有提示
                    this.data.items[0].dataType = ''
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
