<template>
    <row 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+data.style.bgImgUrl +')',
            padding:data.style.padding[0]+'px '+data.style.padding[1]+'px '+data.style.padding[2]+'px '+data.style.padding[3]+'px',
            margin:data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0]+'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px',
        }"
    >
        <!-- 此处备注 特殊处理 padding使用margin值 -->
        <Col span="24"
            :style="{
                backgroundImage:'url('+  data.items[0].style.bgImgUrl +')',
                padding: data.items[0].style.margin[0]+'px '+ data.items[0].style.margin[1]+'px '+ data.items[0].style.margin[2]+'px '+  data.items[0].style.margin[3]+'px',
            }"
            class="n-border"
        >
            <Col span="5" class="n-avatar">
                <img :src="data.items[0].headImgUrl == ''? 'https://img11.360buyimg.com/jdphoto/jfs/t21160/90/706848746/2813/d1060df5/5b163ef9N4a3d7aa6.png' : data.items[0].headImgUrl"
                    :style="{
                        borderRadius: data.items[0].headImgCornerRadius[0]+'px '+ data.items[0].headImgCornerRadius[1]+'px '+ data.items[0].headImgCornerRadius[2]+'px '+ data.items[0].headImgCornerRadius[3]+'px'
                    }"
                >
            </Col>
            <Col span="14">
                <p class="n-nametitle"
                    :style="{
                        fontSize: data.items[0].titleFontSize + 'px ',
                        color: colorTransform(data.items[0].titleColor),
                    }"
                >{{ data.items[0].name == ''? '默认数据': data.items[0].name }}<i 
                    :style="{
                        backgroundImage: 'url('+sexImg + ')',
                    }"></i></p>
                <p class="n-namesubtitle">用户名：{{ data.items[0].account == ''? '默认数据' : data.items[0].account }}</p>
            </Col>
            <Col span="1" class="n-arrow">
                <i style="backgroundImage: url(https://m.360buyimg.com/pop/jfs/t1/105090/11/9772/343/5e12b924Ee87e08f2/29e1fcfd2f8d3b18.png)"></i>
            </Col>
            <!-- <template v-else>
                <Col span="5" class="n-avatar"
                    :style="{
                        borderRadius: data.items[0].style.avatarRadius[0]+'px '+ data.items[0].style.avatarRadius[1]+'px '+ data.items[0].style.avatarRadius[2]+'px '+ data.items[0].style.avatarRadius[3]+'px'
                    }"
                >
                    <img :src="avatar.avatarUrl">
                </Col>
                <Col span="14">
                    <p class="n-nametitle"
                        :style="{
                            fontSize: data.items[0].style.nameFontSize + 'px ',
                            color: data.items[0].titleColor
                        }"
                    >{{ avatar.name }}<i 
                        :style="{
                            backgroundImage:'url(' + 'http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png'  + ')',
                        }"></i></p>
                    <p class="n-namesubtitle">用户名：{{ avatar.userName }}</p>
                </Col>
                <Col span="1" class="n-arrow">
                    <i style="backgroundImage: url(https://m.360buyimg.com/pop/jfs/t1/105090/11/9772/343/5e12b924Ee87e08f2/29e1fcfd2f8d3b18.png)"></i>
                </Col>
            </template> -->
        </Col>
    </row>
</template>
<script>
export default {
    props: ["index", "element", "data"],
    data() {
        return {}
    },
    computed: {
        sexImg () {
            let imgUrl = ''
            if(this.data.items[0].gendar == '0'){
                //男
                imgUrl = 'https://m.360buyimg.com/pop/jfs/t1/85873/18/9700/6412/5e129a42E9eeed982/44c326df1c72aeb6.png'
            }else if(this.data.items[0].gendar == '1'){
                //女
                imgUrl = 'https://m.360buyimg.com/pop/jfs/t1/110628/1/3512/1345/5e1297fbE5e4c0ef5/851fd328cec13b05.png'
            }else if(this.data.items[0].gendar == '2' || this.data.items[0].gendar == ''){
                //未知
                imgUrl = 'http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png'
            }
            return imgUrl
        },
        length() {
            return this.data.items.length
        }
    }
}
</script>
<style lang="less" scoped>
    .n-avatar {
        img {
            display: block;
            width: 60px;
            height: 60px;
        }
    }
    p.n-nametitle {
        line-height: 30px;
        margin-top: 5px;
        i {
            display: inline-block;
            width: 13px;
            height: 13px;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-left: 5px;
        }
    }
    .n-arrow {
        float: right;
        i {
            display: block;
            width: 14px;
            height: 60px;
            line-height: 60px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .n-border {
        position: relative;
    }
    .n-border:before {
        content: " ";
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 98%;
        height: 1px;
        border-top: 1px solid #D9D9D9;
        color: #D9D9D9;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
    }
</style>