<template>
  <Tabs :animated="false" v-model="tabValue">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100" :model="element">
          <FormItem label="纵向布局">
            <RadioGroup v-model="element.data.style.column" @on-change="layoutChange">
              <Radio label="4">一行4个</Radio>
              <Radio label="5">一行5个</Radio>
            </RadioGroup>
          </FormItem>
          <h4 class="configTitlte">楼层基础配置</h4>
          <floorConfig :styleData="element.data.style"></floorConfig>
          <h4 class="configTitlte">内容样式配置</h4>
          <FormItem label="标题大小">
            <RadioGroup v-model="element.data.ext.style.fontSize">
              <Radio label="12">小</Radio>
              <Radio label="13">中</Radio>
              <Radio label="14">大</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="标题加粗">
            <RadioGroup v-model="element.data.ext.style.fontWeight">
              <Radio label="normal">正常</Radio>
              <Radio label="bold">加粗</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="字体颜色">
            <ColorPicker v-model="element.data.ext.style.titleColor" />
            <Button v-model="resetFtColorValue" @click="resetFtColor" class="resetBtn">重置</Button>
          </FormItem>
          <FormItem label="列表背景色">
            <ColorPicker v-model="element.data.ext.style.bgColor" />
            <Button v-model="resetItemBgColorValue" @click="resetItemBgColor" class="resetBtn">重置</Button>
          </FormItem>
          <FormItem label="列表圆角">
            <RadioGroup v-model="element.data.style.itemCornerRadiusValue">
              <Radio :label="0">直角</Radio>
              <Radio :label="5">小圆角</Radio>
              <Radio :label="10">大圆角</Radio>
              <Radio :label="20">椭圆</Radio>
            </RadioGroup>
          </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :model="element.data.ext" ref="materialIdForm" :label-width="100">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace</Radio>
              <Radio label="201">互医</Radio>
              <Radio label="401">写手</Radio>
            </RadioGroup>
          </FormItem>
          <div v-if="element.data.ext.dataSourceType1=='301'">
            <Collapse v-model="manualValue">
              <Panel :name="(index+1)+''" v-for="(item,index) in element.data.items" :key="index">
                入口{{index+1}}
                <p slot="content">
                  <FormItem label="标题文字" prop="name">
                    <Input v-model="item.name" :maxlength="4" placeholder="请输入标题文字" />
                  </FormItem>
                  <FormItem label="上传图片">
                    <Row :gutter="16">
                      <Col span="5">
                        <ImageUpload
                          :imageUrl.sync="item.sparePictureUrl[0]"
                          :onBeforeUpload="handleBeforeUpload"
                          :on-success="(res)=> handleSuccess(res,index)"
                        ></ImageUpload>
                      </Col>
                      <Col span="18">
                        <Alert show-icon>图片宽54px，高54px，不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem label="跳转方式">
                    <linkType :linkInfo="item"></linkType>
                  </FormItem>
                </p>
              </Panel>
            </Collapse>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='201'">
            <netAdvert
              :element="element"
              data-source="nethuyi"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='401'">
            <netAdvert
              :element="element"
              data-source="xieshou"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="楼层定投" name="floorTargeted">
      <div class="form-content" v-if="tabValue=='floorTargeted'">
        <floorTargeted :element="element"></floorTargeted>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "quickAccessEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
       tabValue: "styleTab",
      resetFtColorValue: this.element.data.ext.style.titleColor,
      resetItemBgColorValue: this.element.data.ext.style.bgColor,
      manualValue: "1",
      isClickCheck: false
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    // 切换布局
    layoutChange() {
      let classifyColumn = this.element.data.style.column;
      if (this.element.data.items.length > classifyColumn * 2) {
        this.element.data.items.splice(classifyColumn * 2);
      } else {
        let len = classifyColumn * 2 - this.element.data.items.length;
        for (let i = 0; i < len; i++) {
          this.element.data.items.push({
            type: "quickAccess",
            name: "",
            pictureUrl: "",
            jumpLinkInfo: {
              linkType: "0", //跳转类型
              identityId: "", //跳转页面的链接
              linkUrl: ""
            },
            sparePictureUrl: [],
            hostPictureUrl: ""
          });
        }
      }
    },
    // 重置颜色
    resetFtColor() {
      this.element.data.ext.style.titleColor = this.resetFtColorValue;
    },
    resetItemBgColor() {
      this.element.data.ext.style.bgColor = this.resetItemBgColorValue;
    },
    // 上传图片成功
    handleSuccess(res, index) {
      this.$set(
        this.element.data.items[index].sparePictureUrl,
        0,
        res.result.path
      );
    },
    // 上传图片验证
    handleBeforeUpload(file, img) {
      if (img.width !== 54 || img.height !== 54) {
        return "请上传宽54px，高54px的图片！";
      }

      return null;
    },
    // 获取互联网医院获取数据
    getResultData(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.itemCornerRadiusValue": {
      handler: function(newer, older) {
        this.element.data.ext.style.itemCornerRadius = [];
        let cornerRadius = "";
        if (newer === 0) {
          cornerRadius = "0";
        } else if (newer === 10) {
          cornerRadius = "10";
        } else if (newer === 15) {
          cornerRadius = "15";
        } else {
          cornerRadius = "100";
        }
        this.element.data.ext.style.itemCornerRadius = [
          cornerRadius,
          cornerRadius,
          cornerRadius,
          cornerRadius
        ];
      },
      deep: true, // 开启深度监听
      immediate: false
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
</style>