<template>
    <div class="n-container">
        <row class="n-row">
             <Col span="24" class="n-news">
                <Col span="6">
                    <div class="n-relative">
                        <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                        <span>推荐</span>
                    </div>
                </col>
                <Col span="17" class="n-right">
                    <div class="n-title"><span>范美丽</span><span class="n-divide">副主任医师</span><span class="n-praise n-divide"><i></i>99%</span></div>
                    <div class="n-hospital"><span>北京协和第一附属医院</span><span class="n-divide">男科</span></div>
                    <div class="n-profession">擅长：睡眠障碍疾病/睡眠行为异常症/慢性睡眠障碍疾病/睡眠行为异常症/慢性睡眠障碍疾病/睡眠行为异常症/慢性</div>
                    <div class="n-label"><span class="n-famousdoctor"><i></i>名医</span><span class="n-gooddoctor">三甲医生</span><span class="n-professiondoctor">经验丰富</span></div>
                </Col>
            </Col>
        </row>
        <!-- <div v-if="element.data[0].bottomTips === '1'">
            <p class="n-more">更多此科室医生</p>
        </div> -->
    </div>
</template>
<script>
export default {
    props: ['data', 'element'],
}
</script>
<style lang="less" scoped>
    .n-container {
        padding: 10px;
        .n-row {
            .n-news {
                .n-relative {
                    img {
                        border-radius: 50%;
                        width: 55px;
                    }
                    span {
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 50px;
                        height: 22px;
                        font-size: 10px;
                        color: #fff;
                        background: url(../../img/selectDoctor_01.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        padding-left: 16px;
                    }
                }
                .n-right {
                    .n-title {
                        font-size: 15px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: #111;
                        span.n-praise {
                            font-size: 12px;
                            color: #ff8a16;
                            i {
                                background: url(../../img/selectDoctor_02.png);
                                display: inline-block;
                                width: 14px;
                                background-size: 100%;
                                height: 17px;
                                vertical-align: middle;
                                background-repeat: no-repeat;
                                margin-right: 3px;
                            }
                        }
                    }
                    .n-hospital {
                        font-size: 12px;
                        color: #2e2d2d;
                        span {
                            padding: 0 10px 0 0;
                            border-right: 1px solid #e5e5e5;
                        }
                        span.n-divide {
                            border-right: 0;
                        }
                    }
                    .n-profession {
                        font-size: 12px;
                        color: #9396a0;
                        height: 20px;
                        margin-bottom: 5px;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        word-break: break-all;
                        white-space: nowrap;
                    }
                    .n-label {
                        font-size: 12px;
                        color: #999;
                        margin-bottom: 10px;
                        span {
                            border-radius: 12px;
                            padding: 3px 8px;
                            margin-right: 5px;
                        }
                        span.n-famousdoctor {
                            border: 1px solid #ff7732;
                            color: #ff7732;
                            background-color: #fff8f3;
                            i {
                                background: url(../../img/selectDoctor_04.png);
                                background-repeat: no-repeat;
                                background-size: 100%;
                                vertical-align: middle;
                                display: inline-block;
                                width: 13px;
                                height: 13px;
                                margin-right: 3px;
                            }
                        }
                        span.n-gooddoctor {
                            border: 1px solid #00caaa;
                            color: #00caaa;
                            background-color: #f2fcfb;
                        }
                        span.n-professiondoctor {
                            border: 1px solid #1f88f8;
                            color: #1f88f8;
                            background-color: #e8f3ff;
                        }
                    }
                }
            }
        }
        p.n-more {
            width: 98%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            background-color: #1d6ff9;
            border-radius: 30px;
        }
    }
    span.n-divide {
        margin-left: 10px;               
    }
</style>
