<template>
  <div>
    <Card style="width: 100%;padding-top: 2rem">
      <Form :model="formItem" :label-width="100" inline>
        <FormItem label="活动id：">
          <Input size="large" clearable v-model="formItem.id" placeholder="请输入活动id..."></Input>
        </FormItem>
        <FormItem label="活动名称：">
          <Input size="large" clearable v-model="formItem.activityName" placeholder="请输入活动名称..."></Input>
        </FormItem>
        <FormItem label="活动状态：">
          <Select size="large" clearable v-model="formItem.status" style="width:200px">
            <Option v-for="item in statusList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="活动类型：">
          <Select size="large" clearable v-model="formItem.activityChannel" style="width:200px">
            <Option v-for="item in channelList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button icon="ios-locate-outline" size="large" @click="()=>{this.formItem.pageNo=1;this.getActiveList()}" type="primary">查询</Button>
          <Button icon="md-add" size="large" @click="toCreate" style="margin-left: .5rem;" type="success">新建活动</Button>
        </FormItem>
      </Form>
    </Card>
    <Divider/>
    <Card style="width: 100%;padding: 2rem;">
      <Table max-height="460" size="large" border stripe :columns="columns1" :data="data1"></Table>
      <div style="text-align: center;margin-top: 1rem;">
        <Page @on-change="getPage" :total="totalCount" show-elevator />
      </div>
    </Card>
  </div>
</template>

<script>
  import http from 'axios'
  export default {
    name: "activeManage",
    data(){
      return{
        formItem:{
          pageNo:1,
          activityName:'',
          activityId:'',
          status:'1',
          activityChannel:'',
          id:''
        },
        channelList:[
          {
            value:'1',
            label:'App'
          },
          {
            value:'2',
            label:'小程序'
          },
        ],
        columns1:[
          // {
          //     type: 'selection',
          //     width: 60,
          //     align: 'center'
          // },
          {
            title: '活动id',
            key: 'id',
            width: 100,
          },
          {
            title: '活动编号',
            key: 'activityId',
            width: 300,
          },
          {
            title: '活动名称',
            key: 'activityName',
          },

          {
            title: '活动状态',
            key: 'status',
            render: (h, params) => {
              return h('div', [
                h('strong', params.row.status=='0'?'停用':'启用')
              ]);
            }
          },
          {
            title: '操作人',
            key: 'modifyUser',
          },
          {
            title: '操作',
            key: 'action',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: params.row.status=='0'?'success':'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //this.remove(params.index)
                      this.changeStatus(params.row)
                    }
                  }
                }, params.row.status=='0'?'启用':'停用'),
                h('Button', {
                  props: {
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //this.show(params.index)
                      this.editActive(params.row)
                    }
                  }
                }, '编辑'),
                h('Button', {
                    props: {
                        type: 'error',
                        size: 'small'
                    },
                    style: {
                        marginRight: '5px'
                    },
                    on: {
                        click: () => {
                          this.$Modal.confirm({
                            title: '提示',
                            content: '<p>是否确定删除此条活动数据</p>',
                            onOk: () => {
                              this.delActive(params.row)
                            },
                            onCancel: () => {
                              this.$Message.info('取消操作');
                            }
                          });
                        }
                    }
                }, '删除'),
                // h('Button', {
                //     props: {
                //         type: 'primary',
                //         size: 'small'
                //     },
                //     style: {
                //         marginRight: '5px'
                //     },
                //     on: {
                //         click: () => {
                //             this.remove(params.index)
                //         }
                //     }
                // }, '详情'),
              ]);
            }
          }
        ],
        data1:[],
        totalCount:0,
        typeList:[
          {
            value:1,
            label:'品类活动'
          },
        ],
        statusList:[
          {
            value:'1',
            label:'启用'
          },
          {
            value:'0',
            label:'停用'
          }
        ]
      }
    },
    mounted(){
      this.getActiveList()

    },
    methods:{
      delActive(row){
        this.$axios.request({
          url: '/jdh/activity/delete?id='+row.id * 1,
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('删除成功')
            this.getActiveList()
          }
        }).catch(err => {
          console.log(err)
        })
      },
      changeStatus(v){
        ///jdh/activity/updateActivity
        this.$axios.request({
          url: '/jdh/activity/updateStatus?status='+(v.status=='0'?'1':'0')+'&id='+v.id,
          method: 'get'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('操作成功')
            this.getActiveList()
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getPage(n){
        this.formItem.pageNo=n
        this.getActiveList()
      },
      getActiveList(){
        // this.formItem
        this.formItem.pageSize=10;
        this.$axios.request({
          url: `/jdh/activity/page?pageSize=10&pageNo=${this.formItem.pageNo}`
            +(this.formItem.activityName?'&activityName='+this.formItem.activityName:'')
            +(this.formItem.activityChannel?'&activityChannel='+this.formItem.activityChannel:'')
            +(this.formItem.id?'&id='+this.formItem.id:''),
          method: 'get',
          withCredentials:true
        }).then(res=>{
          if(res.data.code==0){
            this.data1 = res.data.result.result
            this.totalCount = res.data.result.totalCount
          }
        }).catch(err => {
          console.log(err)
        })
      },
      toCreate(){
        this.$router.push(
          {
            path:'/createActive',
            query:{
              id:'',
              edit:1
            }
          })
      },
      editActive(row){
        this.$router.push(
          {
            path:'/createActive',
            query:{
              id:row.id,
              edit:2
            }
          })
      }
    }
  }
</script>

<style scoped>

</style>
