<template>
    <div><Card>
      <Form :model="formItem" :label-width="100" inline>
        <FormItem label="活动编号：">
          <Input v-model="formItem.activeNo" placeholder="请输入活动编号..."></Input>
        </FormItem>
        <FormItem label="活动状态：">
          <Select v-model="formItem.status" style="width:200px">
            <Option v-for="item in statusList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="活动类型：">
          <Select v-model="formItem.type" style="width:200px">
            <Option v-for="item in typeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="活动ID：">
          <Input v-model="formItem.activeId" placeholder="请输入活动编号..."></Input>
        </FormItem>
<!--        <FormItem label="参与免单时间：">-->
<!--          <DatePicker type="datetimerange" placeholder="请选择参与免单时间..." style="width: 300px"></DatePicker>-->
<!--        </FormItem>-->
        <FormItem>
          <Button type="primary">搜索</Button>
          <Button @click="toCreate" style="margin-left: .5rem;" type="success">新建活动规则</Button>
        </FormItem>
      </Form>
    </Card>
      <Divider/>
      <Card>
        <Table stripe :columns="columns1" :data="data1"></Table>
        <div style="text-align: center;margin-top: 1rem;">
          <Page :total="1" show-elevator />
        </div>
      </Card>
    </div>
</template>

<script>
    export default {
        name: "activeSetting",
        data(){
            return {
                formItem:{},
                columns1:[],
                data1:[]
            }
        },
        methods:{
            toCreate(){

            }
        }
    }
</script>

<style scoped>

</style>
