<template>
  <div>
    <Card style="min-width: 900px;">
      <p slot="title">
        <Icon v-show="$route.query.edit=='2'" type="md-create" /><Icon v-show="$route.query.edit=='1'" type="md-flag"></Icon>
        {{this.$route.query.edit=='1'?'新建活动':'编辑活动'}}
      </p>
      <Form ref="formItem" :model="formItem" :rules="ruleValidate" :label-width="180">
        <Row>
          <Col span="9">
            <FormItem label="活动名称：" prop="activityName">
              <Input clearable v-model="formItem.activityName" placeholder="请输入活动名称..."></Input>
            </FormItem>
            <FormItem label="活动渠道：" prop="activityChannel">
              <Select clearable v-model="formItem.activityChannel">
                <Option v-for="item in channelList" :value="item.value" :key="item.value">{{ item.label }}</Option>
              </Select>
            </FormItem>
            <FormItem label="活动类型：" prop="activityType">
              <Select clearable v-model="formItem.activityType">
                <Option :value="1">红包</Option>
              </Select>
            </FormItem>
            <FormItem label="活动时间：">
              <DatePicker @on-change="selectTime"
                          v-model="activeTime"
                          clearable type="datetimerange"
                          placeholder="请选择活动时间..." style="width: 100%;"></DatePicker>
            </FormItem>
            <!--<FormItem label="活动玩法：" prop="ruleId">-->
            <!--<Input v-model="formItem.ruleId" placeholder="请输入活动玩法id" style="width: 100%">-->
            <!--</Input>-->
            <!--</FormItem>-->
            <FormItem label="活动规则链接：" prop="activityRuleUrl">
              <Input clearable v-model="formItem.activityRuleUrl" placeholder="请输入活动规则链接..."></Input>
            </FormItem>
            <FormItem label="跳转会场链接：" prop="endUrl">
              <Input clearable v-model="formItem.endUrl" placeholder="请输入跳转会场链接..."></Input>
            </FormItem>
            <FormItem label="活动主页商品组id：" prop="goodsGroupId">
              <Input v-model="formItem.goodsGroupId" placeholder="请输入活动主页商品组id" style="width: 100%">
              </Input>
            </FormItem>
            <FormItem label="活动主页广告组id：" prop="advertiseGroupId">
              <Input v-model="formItem.advertiseGroupId" placeholder="请输入活动主页广告组id" style="width: 100%">
              </Input>
            </FormItem>
            <!--<FormItem label="活动主页商品排序：" prop="goodsSort">-->
              <!--<InputNumber style="width: 100%" v-model="formItem.goodsSort" placeholder="请设置活动主页商品排序..."></InputNumber>-->
            <!--</FormItem>-->
            <FormItem label="商品聚合页链接：" prop="goodsPolyUrl">
              <Input clearable v-model="formItem.goodsPolyUrl" placeholder="请输入商品聚合页链接..."></Input>
            </FormItem>
            <FormItem label="每天好友助力次数：" prop="helpFriendCount">
              <InputNumber style="width: 100%" v-model="formItem.helpFriendCount" placeholder="请设置每天助力好友次数..."></InputNumber>
            </FormItem>
            <FormItem label="每天发起者发起次数：" prop="initiatingCount">
              <InputNumber style="width: 100%" v-model="formItem.initiatingCount" placeholder="请设置每天发起者发起次数..."></InputNumber>
            </FormItem>
          </Col>
          <Col offset="1" span="9">
            <!--<FormItem label="奖品名称：" prop="prizeName">-->
            <!--<Input readonly="readonly" v-model="formItem.prizeName" placeholder="请输入奖品名称" style="width: 100%">-->
            <!--<Button @click="modal1=true" slot="append" icon="ios-search"></Button>-->
            <!--</Input>-->
            <!--</FormItem>-->
            <FormItem label="助力成功获得奖品：" prop="helpSuccessPrize">
              <RadioGroup v-model="formItem.helpSuccessPrize">
                <Radio :label="1">是</Radio>
                <Radio :label="0">否</Radio>
              </RadioGroup>
              <Input v-show="formItem.helpSuccessPrize=='1'" readonly="readonly" v-model="currentJp.prizeName" placeholder="请输入奖品名称" style="width: 100%">
                <Button @click="getPrize(-1)" slot="append" icon="ios-search"></Button>
              </Input>
            </FormItem>
            <FormItem label="助力成功弹窗广告组id：" prop="helpSuccessAdvertiseId">
              <Input clearable v-model="formItem.helpSuccessAdvertiseId" placeholder="请输入助力成功弹窗广告组id..."></Input>
            </FormItem>
            <FormItem label="助力周期：" prop="helpCycle">
              <TimePicker confirm
                          v-model="cycleTime"
                          @on-change="getHelpCycle"
                          type="timerange"
                          placement="bottom-end"
                          placeholder="请选择助力周期..."
                          style="width: 100%"></TimePicker>
            </FormItem>
            <FormItem label="分享图片：" prop="shareImage">
                  <div style="display: flex;flex-direction: row">
                    <div v-show="imgsrc" style="margin-right: 10px">
                      <img width="80" height="80"
                           :src="imgsrc"
                           alt="">
                    </div>
                    <Upload
                      ref="upload"
                      :show-upload-list="false"
                      :on-success="handleSuccess"
                      :on-error="handleErr"
                      :format="['jpg','jpeg','png']"
                      :max-size="2048"
                      :with-credentials="true"
                      :on-format-error="handleFormatError"
                      :on-exceeded-size="handleMaxSize"
                      :before-upload="handleBeforeUpload"
                      multiple
                      type="drag"
                      :action="this.$publicUrl+'/image/upload'"
                      style="display: inline-block;width:58px;">
                      <div style="width: 58px;height:58px;line-height: 58px;">
                        <Icon type="ios-camera" size="20"></Icon>
                      </div>
                    </Upload>
                  </div>
            </FormItem>
            <FormItem label="分享文案：" prop="sharingCopywriters">
              <Input clearable type="textarea" v-model="formItem.sharingCopywriters" placeholder="请输入分享文案..."></Input>
            </FormItem>
            <FormItem label="玩法规则：">
              <Button @click="modal4=true;" size="small">设置规则</Button>
              <Table border size="small" :columns="roleCol" :data="roleArr"></Table>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div style="margin-left: 9.3rem">
        <Button @click="()=>{this.$route.query.id==''?this.commit('formItem'):this.update()}" type="primary">提 交</Button>
      </div>
    </Card>
    <Modal
      v-model="modal1"
      title="选择活动奖品"
      @on-ok="()=>{}"
      @on-cancel="()=>{}">
      <Table @on-current-change="getJp" highlight-row  :columns="columns1" :data="data1"></Table>
    </Modal>
    <Modal
      v-model="modal2"
      title="选择活动规则"
      @on-ok="()=>{}"
      @on-cancel="()=>{}">
      <Table @on-current-change="getRole" highlight-row  :columns="columns2" :data="data2"></Table>
    </Modal>
    <Modal
      v-model="modal3"
      title="选择商品"
      @on-ok="()=>{}"
      @on-cancel="()=>{}">
      <Table @on-current-change="getProduct" highlight-row  :columns="columns3" :data="data3"></Table>
    </Modal>
    <Modal
      width="680px"
      v-model="modal4"
      :mask-closable="false"
      :closable="false"
      title="设置活动规则">
      <div class="roleWrapper">
        <div v-for="(item,index) in tempArr" class="roleItem" :key="index">
          <span>活动阶梯数:</span><Input readonly style="width: 100px" v-model="item.ladderNumber=index+1" placeholder="设置活动阶梯数..."></Input>
          <span>阶梯人数:</span><InputNumber :min="2" :step="2" style="width: 100px" v-model="item.ladderPeople" placeholder="设置阶梯人数..."></InputNumber>
          <span>奖品：</span><Input readonly="readonly" v-model="item.ladderPrizeName" placeholder="请输入奖品名称" style="width: 200px">
            <Button @click="getPrize(index)" slot="append" icon="ios-search"></Button>
          </Input>
          <Button style="margin-left: 10px;" type="error" @click="delPrize(index,item)" size="small">删 除</Button>
        </div>
        <Button @click="addRole" class="add-role" size="small" type="dashed" long>添 加</Button>
      </div>
      <div slot="footer">
        <Button @click="modal4=false">取消</Button>
        <Button @click="confirmRole" type="primary">提交</Button>
      </div>
    </Modal>
  </div>
</template>
<script>
  export default {
    name: "createActive",
    data(){
      return{
        imgsrc:'',
        cycleTime:[],
        activeTime:[],
        currentIdx:0,
        currentJp:{},//当前选择的奖品
        currentRole:{},//当前选择的活动规则
        currentProduct:{},//当前选的商品
        modal1:false,
        modal2:false,
        modal3:false,
        modal4:false,
        roleArr:[],
        tempArr:[],
        formItem:{
          shareImage:'',
          activityName:'',
          activityChannel:'',
          levelNo:0,
          goodsGroupId:'',
          helpFriendCount:1,
          initiatingCount:1,
          goodsPolyUrl:'',
          advertiseGroupId:''
        },
        roleCol:[
          {
            title: '阶梯数',
            key: 'ladderNumber'
          },
          {
            title: '阶梯人数',
            key: 'ladderPeople'
          },
          {
            title: '奖品',
            key: 'ladderPrizeName'
          },
        ],
        ruleValidate:{
          activityName: [
            { required: true, message: '请输入活动名称', trigger: 'blur' },
          ],
          activityType:[
            { required: true,type: 'number', message: '请选择活动类型', trigger: 'change' }
          ],
          activityChannel: [
            { required: true, message: '请选择活动渠道', trigger: 'change' }
          ],
          activeTime: [
            {required: true, message: '活动时间不能为空',pattern: /.+/},
          ],
          ruleId: [
            { required: true, message: '请选择活动玩法', trigger: 'change' },
          ],
          activityRuleUrl: [
            { required: true, message: '请输入活动规则链接', trigger: 'blur' },
          ],
          levelNo: [
            { required: true,type:'number', message: '请设置阶梯人数', trigger: 'change' },
          ],
          sharingCopywriters: [
            { required: true, message: '请设置分享文案', trigger: 'blur' },
          ],
          prizesName: [
            { required: true, message: '请输入奖品名称', trigger: 'change' },
          ],
          prizesId: [
            { required: true, message: '请输入奖品id', trigger: 'blur' },
          ],
          goodsGroupId: [
            { required: true, message: '请输入活动主页商品组id', trigger: 'blur' },
          ],
          advertiseGroupId: [
            { required: true, message: '请输入活动主页广告组id', trigger: 'blur' },
          ],
          goodsPolyUrl:[
            { required: true, message: '请输入商品聚合页链接', trigger: 'blur' },
          ],
          helpFriendCount:[
            { required: true, type:'number', message: '请设置每天助力好友次数', trigger: 'blur' },
          ],
          initiatingCount:[
            { required: true, type:'number', message: '请设置每天发起者发起次数', trigger: 'blur' },
          ],
          helpSuccessPrize:[
            { required: true, type:'number', message: '请选择助力成功是否获得奖品', trigger: 'change' },
          ],
          endUrl:[
            { required: true, message: '请输入活动结束跳转链接', trigger: 'blur' },
          ],
          helpSuccessAdvertiseId:[
            { required: true, message: '请输入助力成功弹窗广告组id', trigger: 'blur' },
          ],
          helpCycle:[

          ]
        },
        columns1:[
          {
            title: '奖品ID',
            key: 'id'
          },
          {
            title: '奖品名称',
            key: 'prizeName'
          },
          {
            title: '奖品类型',
            key: 'prizeType',
            render: (h, params) => {
              return h('div', [
                h('strong', params.row.prizeType=='1'?'参与红包':(params.row.prizeType=='2'?'助力红包':(params.row.prizeType=='3'?'助力红包':'翻倍红包')))
              ]);
            }
          },
        ],
        data1:[],
        columns2:[
          {
            title: '规则ID',
            key: 'id'
          },
          {
            title: '规则名称',
            key: 'roleName'
          },
        ],
        data2:[
          {
            roleName:'规则1',
            id:1,
          },
          {
            roleName:'规则2',
            id:2,
          }],
        columns3:[
          {
            title: '商品ID',
            key: 'id'
          },
          {
            title: '商品名称',
            key: 'name'
          },
        ],
        data3:[
          {id:1,name:'商品1'},
          {id:2,name:'商品2'},
        ],
        channelList:[
          {
            value:'1',
            label:'App'
          },
          {
            value:'2',
            label:'小程序'
          },
        ],
        typeList:[
          {
            value:1,
            label:'品类活动'
          },
        ],
        statusList:[
          {
            value:1,
            label:'启用'
          },
          {
            value:2,
            label:'停用'
          }
        ],
        prizeObj:{
          pageSize:10,
          pageNo:1,
          prizeName:'',
        }
      }
    },
    components:{},
    mounted(){
      if(this.$route.query.id){
        this.getDetail(this.$route.query.id)
      }
    },
    methods:{
      delRole(id,i){
        ///jdh/activity/deleteLadder?id=
        this.$axios.request({
          url: '/jdh/activity/deleteLadder?id='+id * 1,
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.tempArr.splice(i,1)
            // this.$Message.success('删除成功')
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getDetail(id){
        //jdh/activity/detail?activityId=2785b0dcbd6844b980d69c11c09d46b4
        this.$axios.request({
          url: '/jdh/activity/detail?id='+id,
          method: 'get'
        }).then(res=>{
          if(res.data.code==0){
            this.formItem = res.data.result
            this.roleArr = res.data.result.ladderSettingJdh
            this.tempArr = res.data.result.ladderSettingJdh
            this.activeTime=[this.formItem.beginTime,this.formItem.endTime];
            this.cycleTime=[this.formItem.helpCycleBeginTime,this.formItem.helpCycleEndTime]
            this.currentJp.prizeName = res.data.result.helpPrizeName
            this.imgsrc=this.formItem.fansImageUrl
          }
        }).catch(err => {
          console.log(err)
        })
      },
      update(){
        this.formItem.ladderSettingJdh=this.roleArr
        this.$axios.request({
          url: '/jdh/activity/updateActivity',
          data:this.formItem,
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('更新成功')
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getHelpCycle(v){
        this.formItem.helpCycleBeginTime=v[0]
        this.formItem.helpCycleEndTime=v[1]
      },
      confirmRole(){
        let flag=true
        for (let i = 0; i < this.tempArr.length; i++) {
          if(this.tempArr[i].ladderPeople!=0){
            if(this.tempArr[i].ladderNumber==''||this.tempArr[i].ladderPeople==''||this.tempArr[i].ladderPrize=='') flag=false
          }
        }
        if(flag){
          this.roleArr=this.tempArr
          this.modal4=false
        }else{
          this.$Message.warning('请完善规则信息')
        }
      },
      delPrize(i,item){
        this.$Modal.confirm({
          title: '提示',
          content: '<p>是否确定删除此条规则</p>',
          onOk: () => {
            if(item.id){
              this.delRole(item.id,i)
            }else{
              this.tempArr.splice(i,1)
            }
          },
          onCancel: () => {
            this.$Message.info('取消操作');
          }
        });
      },
      getPrize(i){
        this.modal1=true
        this.currentIdx = i * 1;
        let v= i==-1?'1':'2';
        this.getActiveList(v)
      },
      addRole(){
        this.tempArr.push({ladderNumber:1,ladderPeople:'',ladderPrize:''})
      },
      clearTime () {
        this.formItem.activeTime = [];
      },
      selectTime(v){
        //this.formItem.activeTime = v;
        this.formItem.beginTime=v[0]
        this.formItem.endTime=v[1]
      },
      commit(name){
        // this.createActive()
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.createActive()
          } else {
            this.$Message.error('请完善信息');
          }
        })
      },
      createActive(){
        // 创建活动
        this.formItem.ladderSettingJdh=this.roleArr
        this.$axios.request({
          url: '/jdh/activity/add',
          data:this.formItem,
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('活动创建成功')
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getRole(currentRow){
        this.formItem.roleName=currentRow.roleName;
      },
      getJp(currentRow){
        console.log(JSON.stringify(currentRow))
        if(this.currentIdx==-1) {this.formItem.helpPrizeId=currentRow.prizeId;this.currentJp=currentRow}
        if(this.currentIdx>-1) this.tempArr[this.currentIdx].ladderPrize = currentRow.prizeId
        if(this.currentIdx>-1) this.tempArr[this.currentIdx].ladderPrizeName = currentRow.prizeName
      },
      getActiveList(v) {
        this.$axios.request({
          url: '/jdh/prize/page?pageSize=10&pageNo=' + this.prizeObj.pageNo + (this.prizeObj.prizeName?'&prizeName=' + this.prizeObj.prizeName:''),// + '&prizeAccessWay='+v
          method: 'get'
        }).then(res => {
          if (res.data.code == 0) {
            this.data1 = res.data.result.result
            // this.totalCount = res.data.result.totalCount
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getProduct(currentRow){
        this.currentProduct=currentRow
      },
      handleSuccess (res, file) {
        if(res.code===0){
          this.formItem.shareImage = res.result.path
          this.imgsrc=this.formItem.shareImage
          this.formItem.fansImageId=res.result.id
          this.$Message.success('上传成功')
        }else{
          this.$Message.warning('上传失败')
        }
      },
      handleErr(res){
        console.log(res)
        this.$Message.warning(`上传失败：${JSON.stringify(res)}`)
      },
      handleFormatError(){

      },
      handleMaxSize(){

      },
      handleBeforeUpload(){

      }
    }
  }
</script>

<style scoped lang="less">
  .roleWrapper{
    display: flex;
    flex-direction: column;
    .roleItem{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 8px 0;
      span{
        line-height: 32px;
        height: 32px;
        margin: 0 6px;
      }
    }
    .add-role{
      margin-top: 1rem;
    }
  }
</style>
