<template>
  <div>
    <Card style="padding-top: 2rem">
      <Form :model="formItem" :label-width="100" inline>
        <FormItem label="奖品名称：">
          <Input size="large" clearable v-model="formItem.prizeName" placeholder="请输入奖品名称..."></Input>
        </FormItem>
        <FormItem label="奖品id：">
          <Input size="large" clearable v-model="formItem.prizeId" placeholder="请输入奖品编号..."></Input>
        </FormItem>
        <FormItem :label-width="0">
          <Button size="large" icon="ios-locate-outline" @click="getActiveList" style="margin-right: .5rem;" type="primary">查询</Button>
          <Button size="large" icon="md-add" @click="()=>{this.modal1=true;this.editType=0;}" style="margin-right: .5rem;" type="success">新增奖品</Button>
        </FormItem>
      </Form>
    </Card>
    <Divider/>
    <Card style="padding: 2rem">
      <Table max-height="460" size="large" border stripe :columns="columns1" :data="data1"></Table>
      <div style="text-align: center;margin-top: 1rem;">
        <Page @on-change="getPage" :total="totalCount" show-elevator/>
      </div>
    </Card>
    <Modal
      v-model="modal1"
      :closable="false"
      :mask-closable="false"
      width="1200px"
      :title="editType==0?'新增奖品':(editType==2?'编辑奖品':'查看奖品')">
      <Form ref="formItem1" :model="formItem1" :label-width="150" :rules="prizeRule">
        <Row>
          <Col span="11">
            <FormItem label="奖品名称：" prop="prizeName">
              <Input :disabled="editType==3" clearable v-model="formItem1.prizeName" placeholder="请输入奖品名称..."></Input>
            </FormItem>
            <FormItem label="奖品类型：" prop="prizeType">
              <Select :disabled="editType==3" clearable v-model="formItem1.prizeType" placeholder="请选择奖品类型...">
                <Option :value="1">参与红包</Option>
                <Option :value="2">助力红包</Option>
                <Option :value="3">翻倍红包</Option>
              </Select>
            </FormItem>
            <FormItem label="奖品面额区间：">
              <InputNumber :disabled="editType==3" clearable style="width: 40%" v-model="formItem1.prizeMoneyMin" placeholder="请设置最小面额..."></InputNumber>
              <span style="display:inline-block;text-align:center;width: 20%">—</span>
              <InputNumber :disabled="editType==3" clearable style="width: 40%" v-model="formItem1.prizeMoneyMax" placeholder="请设置最大面额..."></InputNumber>
            </FormItem>
            <FormItem label="红包活动id：" prop="hbId">
              <Input @on-blur="getTime(formItem1.hbId)" :disabled="editType==3" clearable v-model="formItem1.hbId" placeholder="请输入红包活动ID..."></Input>
            </FormItem>
            <FormItem label="红包活动密钥：" prop="secretKey">
              <Input :disabled="editType==3" clearable v-model="formItem1.secretKey" placeholder="请输入红包活动密钥..."></Input>
            </FormItem>
            <FormItem label="领取时间：" v-show="formItem1.receiveTime">
              <DatePicker
                @on-change="getReceiveTime"
                format="yyyy-MM-dd HH:mm:ss"
                v-model="formItem1.receiveTime"
                :disabled="true" clearable type="datetime" placeholder="请选择领取时间..." style="width: 100%;"></DatePicker>
            </FormItem>
            <FormItem label="有效时间：" v-show="formItem1.validTime">
              <DatePicker v-model="formItem1.validTime"
                          format="yyyy-MM-dd HH:mm:ss"
                          @on-change="getValidTime"
                          :disabled="true"
                          clearable type="datetime"
                          placeholder="请选择有效时间..." style="width: 100%;"></DatePicker>
            </FormItem>
            <FormItem label="红包获取途径：" prop="prizeAccessWay">
              <Select :disabled="editType==3" clearable v-model="formItem1.prizeAccessWay" placeholder="请选择红包获取途径...">
                <Option value="2">助力好友获取</Option>
                <Option value="1">活动发起者获取</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="11">
            <FormItem label="中奖概率：">
              <InputNumber :formatter="value => `${value}%`"
                           :parser="value => value.replace('%', '')"
                           :disabled="editType==3"
                           clearable
                           :maxLength="3"
                           :min="1" :max="100"
                           style="width: 100%"
                           v-model="formItem1.winningRate" placeholder="请设置中奖概率..."></InputNumber>
            </FormItem>
            <FormItem label="投放规则：">
              <Button v-show="editType!=3" @click="modal4=true;" size="small">设置规则</Button>
              <Table border size="small" :columns="roleCol" :data="roleArr"></Table>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="()=>{this.resetData();this.modal1=false;}">取消</Button>
        <Button type="primary" @click="beforeCommit">提交</Button>
      </div>
    </Modal>
    <Modal
      :width="editType==0?880:1200"
      v-model="modal4"
      :closable="false"
      :mask-closable="false"
      title="设置投放规则">
      <div class="roleWrapper">
        <div v-for="(item,index) in tempArr" class="roleItem" :key="index">
          <span>投放日期:</span>
            <DatePicker @on-change="item.putinDayBeginTime=$event" v-model="item.putinDayBeginTime" type="date" placeholder="投放开始日期..." style="width: 110px"></DatePicker>
            <DatePicker @on-change="item.putinDayEndTime=$event" v-model="item.putinDayEndTime" type="date" placeholder="投放结束日期..." style="width: 110px"></DatePicker>
          <span>投放时间段:</span>
            <TimePicker v-model="item.putinSecondBeginTime" type="time" placeholder="投放开始时间..." style="width: 110px"></TimePicker>
            <TimePicker v-model="item.putinSecondEndTime" type="time" placeholder="投放结束时间..." style="width: 110px"></TimePicker>
          <span >投放量:</span>
            <InputNumber style="width: 110px" v-model="item.putinAmount" placeholder="设置投放量..."></InputNumber>
          <span v-if="editType!=0">已用投放量:</span>
          <InputNumber v-if="editType!=0" disabled style="width: 110px" v-model="item.usedPutinAmount" placeholder="设置投放量..."></InputNumber>
          <span v-if="editType!=0">剩余投放量:</span>
          <InputNumber v-if="editType!=0" disabled style="width: 110px" :value="item.putinAmount-item.usedPutinAmount"  placeholder="设置投放量..."></InputNumber>
          <Button style="margin-left: 10px;" type="error" @click="delRole(index,item)" size="small">删 除</Button>
          <Button style="margin-left: 10px;" type="info" @click="copyData(index,item)" size="small">复制</Button>
        </div>
        <Button @click="addRole" class="add-role" size="small" type="dashed" long>添 加</Button>
      </div>
      <div slot="footer">
        <Button @click="()=>{this.modal4=false;}">取消</Button>
        <Button type="primary" @click="confirmRole">提交</Button>
      </div>
    </Modal>
  </div>
</template>
<script>
  export default {
    name: "prizesManage",
    data(){
      return{
        formItem:{
          pageNo:1,
          prizeName:'',
          prizeId:''
        },
        formItem1:{
          prizeName:'',
          prizeType:1,
          hbId:'',
          prizeMoneyMin:'',
          prizeMoneyMax:'',
          winningRate:''
        },
        prizeRule:{
          prizeName: [
            { required: true, message: '请输入奖品名称', trigger: 'blur' }
          ],
          prizeType: [
            { required: true,type:'number', message: '请选择奖品类型', trigger: 'change' }
          ],
          prizeMoneyMax: [
            { required: true, message: '请输入面额区间', trigger: 'blur' }
          ],
          hbId:[
            { required: true, message: '请输入红包活动Id', trigger: 'blur' }
          ],
          secretKey:[
            { required: true, message: '请输入红包活动密钥', trigger: 'blur' }
          ],
          prizeAccessWay:[
            { required: true, message: '请选择红包获取途径', trigger: 'change' }
          ],
          winningRate:[
            { required: true, type:'string', message: '请输入获奖概率', trigger: 'blur' }
          ],
          validTime: [
            { required: true, type: 'date', message: '请选择有效时间', trigger: 'change' }
          ],
          receiveTime: [
            { required: true, type: 'date', message: '请选择领取时间', trigger: 'change' }
          ],
        },
        loading:true,
        modal4:false,
        totalCount:0,
        editType:0,//0新增 1编辑 2查看
        modal1:false,
        minMonney:'',
        maxMonney:'',
        roleCol:[
          {
            title: '投放日期',
            key: 'date',
            render: (h, params) => {
              return h('div', [
                h('strong', `${this.formatDate(params.row.putinDayBeginTime).split(' ')[0]}至${this.formatDate(params.row.putinDayEndTime).split(' ')[0]}`)
              ]);
            }
          },
          {
            title: '投放时间段',
            key: 'ladderNumber',
            render: (h, params) => {
              return h('div', [
                h('strong', `${params.row.putinSecondBeginTime}-${params.row.putinSecondEndTime}`)
              ]);
            }
          },
          {
            title: '投放量',
            key: 'putinAmount'
          },
          {
            title: '已用投放量',
            key: 'usedPutinAmount'
          },
          {
            title: '剩余投放量',
            key: 'surplusPutinAmount'
          },],
        roleArr:[],
        tempArr:[],
        data1:[],
        columns1:[
          // {
          //     type: 'selection',
          //     width: 60,
          //     align: 'center'
          // },
          {
            title: '奖品id',
            key: 'prizeId',
          },
          {
            title: '奖品名称',
            key: 'prizeName'
          },
          {
            title: '奖品类型',
            key: 'prizeType',
            render: (h, params) => {
              return h('div', [
                h('div', params.row.prizeType=='1'?'参与红包':(params.row.prizeType=='2'?'助力红包':(params.row.prizeType=='3'?'翻倍红包':'')))
              ]);
            }
          },
          {
            title: '红包获取途径',
            key: 'prizeAccessWay',
            render: (h, params) => {
              return h('div', [
                h('div', params.row.prizeAccessWay=='2'?'助力好友获取':'活动发起者获取')
              ]);
            }
          },
          {
            title: '奖品面额区间',
            key: 'prizeMoneyRange',
            render: (h, params) => {
              return h('div', [
                h('strong', params.row.prizeMoneyMin + '-' +params.row.prizeMoneyMax)
              ]);
            }
          },
          {
            title: '领取时间',
            key: 'receiveTime'
          },
          {
            title: '投放时间',
            key: 'validTime'
          },
          {
            title: '投放量',
            key: 'validTime',
            render: (h, params) => {
              let temp = 0;
              params.row.putinRuleJdh.forEach(item => {
                temp+=Number(item.putinAmount)
              })
              return h('div', [
                h('strong', temp)
              ]);
            }
          },
          {
            title: '已用投放量',
            key: 'validTime',
            render: (h, params) => {
              let temp = 0;
              params.row.putinRuleJdh.forEach(item => {
                temp+=Number(item.usedPutinAmount)
              })
              return h('div', [
                h('strong', temp)
              ]);
            }
          },
          {
            title: '剩余投放量',
            key: 'validTime',
            render: (h, params) => {
              let temp = 0;
              params.row.putinRuleJdh.forEach(item => {
                temp+=Number(item.surplusPutinAmount)
              })
              return h('div', [
                h('strong', temp)
              ]);
            }
          },
          {
            title: '中奖概率',
            key: 'winningRate',
            render: (h, params) => {
              return h('div', [
                h('strong', params.row.winningRate + '%')
              ]);
            }
          },
          {
            title: '操作',
            key: 'action',
            width: 200,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.editType=2
                      // this.formItem1 = params.row
                      this.modal1=true
                      this.getDetail(params.row)
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.editType=3
                      this.modal1=true
                      this.getDetail(params.row)
                    }
                  }
                }, '查看'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: '提示',
                        content: '<p>是否确定删除此条奖品数据</p>',
                        onOk: () => {
                          this.delPrize(params.row)
                        },
                        onCancel: () => {
                          this.$Message.info('取消操作');
                        }
                      });
                    }
                  }
                }, '删除')
              ]);
            }
          }
        ]
      }
    },
    mounted(){
      this.getActiveList()
    },
    methods:{
      copyData(index,item){
        this.tempArr.push({putinAmount:item.putinAmount,putinDayBeginTime:item.putinDayBeginTime,putinDayEndTime:item.putinDayEndTime,putinSecondBeginTime:item.putinSecondBeginTime,putinSecondEndTime:item.putinSecondEndTime,})
      },
      getTime(id){
        // http://127.0.0.1:8090/jdh/prize/findPrizeReceiveTime?hbId=100001273
        if(!id)return
        this.$axios.request({
          url: '/jdh/prize/findPrizeReceiveTime?hbId='+id,
          method: 'get'
        }).then(res=>{
          if(res.data.code==0){
            this.formItem1.receiveTime = this.formatDate(res.data.result.receiveTime)
            this.formItem1.validTime = this.formatDate(res.data.result.validTime)
          }else{
            this.formItem1.receiveTime = ''
            this.formItem1.validTime = ''
          }
        }).catch(err => {
          console.log(err)
        })
      },
      delPrize(row){
        this.$axios.request({
          url: '/jdh/prize/delete?id='+row.id * 1,
          data:{},
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('删除成功')
            this.getActiveList()
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getDetail(row){
        //jdh/prize/detail?prizeId=c20b80dfa2c4443f9100d26fc9a1dbc6
        this.$axios.request({
          url: '/jdh/prize/detail?id='+row.id * 1,
          method: 'get'
        }).then(res=>{
          if(res.data.code==0){
            this.formItem1=res.data.result
            this.roleArr= res.data.result.putinRuleJdh
            this.tempArr= res.data.result.putinRuleJdh
            this.formItem1.hbId = '' +  this.formItem1.hbId;
            this.formItem1.receiveTime=this.formatDate(this.formItem1.receiveTime)
            this.formItem1.validTime = this.formatDate(res.data.result.validTime)
            this.getTime(this.formItem.prizeId)

          }
        }).catch(err => {
          console.log(err)
        })
      },
      getReceiveTime(v){
        this.formItem1.receiveTime = v
      },
      getValidTime(v){
        this.formItem1.validTime = v
      },
      delRole1(id,i){
        // /deletePutinRule
        this.$axios.request({
          url: '/jdh/prize/deletePutinRule?id='+id * 1,
          data:{},
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.tempArr.splice(i,1)
          }
        }).catch(err => {
          console.log(err)
        })
      },
      delRole(i,item){
        this.$Modal.confirm({
          title: '提示',
          content: '<p>是否确定删除此条规则</p>',
          onOk: () => {
            if(item.id){
              this.delRole1(item.id,i)
            }else{
              this.tempArr.splice(i,1)
            }
          },
          onCancel: () => {
            this.$Message.info('取消操作');
          }
        });
      },
      addRole(){
        this.tempArr.push({putinAmount:'',putinDayBeginTime:'',putinDayEndTime:'',putinSecondBeginTime:'',putinSecondEndTime:'',})
        // this.roleArr.push({putinAmount:'',putinDayBeginTime:'',putinDayEndTime:'',putinSecondBeginTime:'',putinSecondEndTime:'',})
      },
      confirmRole(){
        //
        let flag=false
        for (let i = 0; i < this.tempArr.length; i++) {
          if(!this.tempArr[i].putinDayBeginTime || !this.tempArr[i].putinDayEndTime || !this.tempArr[i].putinSecondBeginTime || !this.tempArr[i].putinSecondEndTime || !this.tempArr[i].putinAmount) flag=true
        }
        if(flag || this.tempArr.length===0){
          this.$Message.warning('请完善规则信息')
        }else{
          this.modal4=false
          this.roleArr = this.tempArr
        }
      },
      getPage(n){
        this.formItem.pageNo=n
        this.getActiveList()
      },
      formatDate(d){
        let dd = new Date(d);
        let hh = dd.getHours().toString().length==1?`0${dd.getHours().toString()}`:dd.getHours().toString()
        let mm = dd.getMinutes().toString().length==1?`0${dd.getMinutes().toString()}`:dd.getMinutes().toString()
        let ss = dd.getSeconds().toString().length==1?`0${dd.getSeconds().toString()}`:dd.getSeconds().toString()
        return dd.getFullYear()+'-'+(dd.getMonth()+1)+'-'+dd.getDate()+ ' ' +hh+':'+mm+':'+ss;
      },
      update(){
        this.formItem1.receiveTime = this.formatDate(this.formItem1.receiveTime)
        this.formItem1.validTime = this.formatDate(this.formItem1.validTime);
        this.$axios.request({
          url: '/jdh/prize/updatePrize',
          data:this.formItem1,
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('更新成功')
            this.getActiveList()
            this.resetData()
            this.modal1=false
          }
        }).catch(err => {
          console.log(err)
        })
      },
      resetData(){
        this.formItem1={}
        this.formItem1.putinRuleJdh=[]
        this.roleArr=[]
        this.tempArr=[]
      },
      beforeCommit(){
        if(this.formItem1.prizeMoneyMin=='' || this.formItem1.prizeMoneyMax==''){
          this.$Message.error('请输入奖品面额区间');
          return
        }
        if(!this.formItem1.winningRate){
          this.$Message.error('请输入中奖概率');
          return
        }
        if(!this.formItem1.validTime){
          this.$Message.warning('请输入有效的红包活动id');
          return;
        }
        if(this.roleArr.length===0){
          this.$Message.warning('请设置规则')
          return
        }
        for (let i = 0; i < this.roleArr.length; i++) {
          this.roleArr[i].putinDayBeginTime = this.formatDate(this.roleArr[i].putinDayBeginTime)
          this.roleArr[i].putinDayEndTime = this.formatDate(this.roleArr[i].putinDayEndTime)
        }
        this.$refs['formItem1'].validate((valid) => {
          if (valid) {
            this.editType==0?this.createPrize():(this.editType==2?this.update():'')
          } else {
            this.loading=false
            this.$Message.error('请完善输入项');
          }
        })
      },
      createPrize(){
        // alert(!this.formItem1.prizeMoneyMin)
        // alert(!this.formItem1.prizeMoneyMax)
        this.formItem1.receiveTime = this.formatDate(this.formItem1.receiveTime)
        this.formItem1.validTime = this.formatDate(this.formItem1.validTime);

        this.formItem1.putinRuleJdh = this.roleArr
        this.$axios.request({
          url: '/jdh/prize/add',
          data:this.formItem1,
          method: 'post'
        }).then(res=>{
          if(res.data.code==0){
            this.$Message.success('创建成功')
            this.getActiveList()
            this.resetData()
            this.modal1=false
          }
        }).catch(err => {
          console.log(err)
        })
      },
      getActiveList(){
        this.formItem.pageSize=10;
        this.$axios.request({
          url: '/jdh/prize/page?pageSize=10&pageNo='+this.formItem.pageNo+'&prizeName='+this.formItem.prizeName+(this.formItem.prizeId?'&prizeId='+this.formItem.prizeId:''),
          method: 'get',
        }).then(res=>{
          if(res.data.code==0){
            this.data1 = res.data.result.result
            this.totalCount = res.data.result.totalCount
          }
        }).catch(err => {
          console.log(err)
        })
      },
    }
  }
</script>

<style scoped lang="less">
  .roleWrapper{
    display: flex;
    flex-direction: column;
    .roleItem{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 8px 0;
      span{
        line-height: 32px;
        height: 32px;
        margin: 0 6px;
      }
    }
    .add-role{
      margin-top: 1rem;
    }
  }
</style>
