<template>
    <div>

    </div>
</template>

<script>
    export default {
        name: "prizesRole",
        data(){
            return{
                a:1,//奖品名称 投放时间  投放区间  投放量设置  中奖概率
            }
        }
    }
</script>

<style scoped>

</style>
