<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <Form :label-width="100">
                <margin
                    :marginSizeData="data.style.margin"
                    name="边距设置"
                ></margin>
                <!-- <padding
                    :paddingSizeData="data.style.padding"
                    name="留白设置"
                ></padding> -->
                <corner
                    :cornerData="data.style.cornerRadius"
                    name="楼层圆角"
                ></corner>
                <color
                    :colorData="data.style"
                    field ="bgColor"
                    name="楼层背景"
                    resetColor="#FFFFFF"
                ></color>
                <FormItem label="支付背景图片" class="n-form-item-required">
                    <image-upload 
                        :imageUrl.sync= data.style.bgImgUrl
                        :onBeforeUpload="onBeforeUpload"></image-upload>
                        <Alert show-icon>图片宽1125px，不大于2M</Alert>
                </FormItem>
                <FormItem label="支付完成图片" class="n-form-item-required">
                    <image-upload 
                        :imageUrl.sync= data.ext.style.stateImgUrl
                    ></image-upload>
                        <Alert show-icon>图片宽1125px，不大于2M</Alert>
                </FormItem>
            </Form>
        </TabPane>
        <TabPane label="素材配置" tab="style">
            <Form :label-width="100" :model="element">
                <FormItem label="数据更新">
                    <Button type="primary" @click="queryMyInfo">查询</Button>
                </FormItem>
            </Form>
        </TabPane>
    </Tabs>
</template>
<script>
import ImageUpload from '../ImageUpload'
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
export default {
    name: "accountOrderEdit",
    props: ['index', 'data', 'element'],
    components: {
        ImageUpload: ImageUpload,
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
    },
    data() {
        return {
            
        }
    },
    computed: {
        
    },
    methods: {
        onBeforeUpload(file, img) {
            if (img.width !== 1125) {
                return '图片宽度必须是1125px'
            }
            return null
        },
        queryMyInfo() {
            this.$axios
                .request({
                    url: `/huyiIndex/getData`,
                    method: "post",
                    data: {
                        dataSourceType2: "601001",
                        dataIds: {orderId: this.data.ext.dataIds.orderId},
                        personId: this.data.ext.personId
                    }
                })
                .then(res => {
                    if (res.data.code == 0) {
                        //this.data.items[0].userInfo.push(res.data.result.dataInfos[0].assets)
                        //this.data.items[0].finishOrderInfo = res.data.result.dataInfos[0].assets.userInfo.realname
                        //this.data.items[0].finishOrderInfo.stateImgUrl = 'https://m.360buyimg.com/pop/jfs/t1/98512/23/10576/86877/5e1d220bEf1a495ca/73c28cfdc3385f8c.png'
                        // this.$set(this.data.items[0], "finishOrderInfo", Object.assign(
                        //     this.element.data.items[0].finishOrderInfo,
                        //     res.data.result.dataInfos[0].finishOrderInfo
                        // ))
                        // console.log(this.data.items[0])
                        this.data.items[0].push(res.data.result.dataInfos[0])
                        //console.log()
                        this.$Message.success("查询成功");
                    }else{
                        this.data.items[0].finishOrderInfo.pin = ''
                        this.data.items[0].finishOrderInfo.orderId = ''
                        this.data.items[0].finishOrderInfo.orderState = ''
                        this.data.items[0].finishOrderInfo.orderStateName = ''
                        this.data.items[0].finishOrderInfo.payAmount = ''
                        this.data.items[0].finishOrderInfo.discountAmount = ''
                        this.data.items[0].finishOrderInfo.payType = ''
                        this.data.items[0].finishOrderInfo.payTypeName = ''
                        //this.data.items[0].finishOrderInfo.stateImgUrl = ''
                        this.data.items[0].finishOrderInfo.lookOrderInfo.jumpLinkInfo.linkUrl = ''
                        this.data.items[0].finishOrderInfo.lookOrderInfo.jumpLinkInfo.routeLinkUrl = ''
                        this.data.items[0].finishOrderInfo.remindDrugInfo.jumpLinkInfo.linkUrl = ''
                        this.data.items[0].finishOrderInfo.lookOrderInfo.jumpLinkInfo.routeLinkUrl = ''

                        this.$Message.success("查询失败");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
}
</script>