<template>
    <div
        class="n-container"
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0]+'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px',
            height: data.style.pageHeight + 'px'
        }"
    >
        <div>
            {{data.items[0].finishOrderInfo.payAmount}}
            <Row style="padding-bottom: 9px; margin-bottom: 20px; border-bottom: 1px dashed #f2f2f2;">
                <Col span="12">
                    <p
                        class="n-ordersuccess"
                        style="font-size: 22px;height: 22px;line-height: 22px;color: #ffffff;margin: 7px 0 15px 0;"
                    >{{data.items[0].finishOrderInfo.orderState}}</p>
                    <p
                        class="n-orderPrice"
                        style="height: 30px;line-height: 30px;margin-bottom: 5px;"
                    >
                        <i style="font-size: 18px;color: #ffffff;font-style: normal;">￥</i>
                        <i style="font-size: 30px;color: #ffffff;font-style: normal;">{{data.items[0].finishOrderInfo.payAmount}}</i>
                        <!-- <i style="font-size: 18px;color: #ffffff;font-style: normal;">.50</i> -->
                    </p>
                    <P class="n-orderDiscount" style="font-size: 12px;color: #ffffff;">{{data.items[0].finishOrderInfo.payTypeName}}已优惠 ￥{{data.items[0].finishOrderInfo.discountAmount}}</P>
                </Col>
                <Col span="12" class="n-orderImg">
                    <img
                        :src="data.ext.style.stateImgUrl"
                        style="width: 100px; height: 99px;float: right;"
                    />
                </Col>
            </Row>
            <Row class="n-button" style="text-align: center;">
                <div
                    class="n-orderbutton"
                    style="font-size: 12px;color: #ffffff;width: 125px;height: 35px;line-height: 35px;border: 1px solid #ffffff;border-radius: 19px;margin-right: 25px;"
                >{{data.items[0].finishOrderInfo.lookOrderInfo.name}}</div>
                <div 
                    class="n-orderbutton" 
                    style="font-size: 12px;color: #F2270C;width: 125px;height: 35px;line-height: 35px;border-radius: 19px;background-color: #ffffff;">{{data.items[0].finishOrderInfo.remindDrugInfo.name}}</div>
            </Row>
        </div>
    </div>
</template>
<script>
export default {
    name: "accountOrder",
    props: ["index", "data", "element"],
    components: {},
    data() {
        return {};
    },
    computed: {}
};
</script>
<style lang="less" scoped>
.n-container {
    background-size: 100%;
    background-repeat: no-repeat;
}
.n-orderbutton {
    box-sizing: border-box;
    display: inline-block;
}
</style>