<!--
  一拖二 — 编辑
  element为整个楼层的配置信息
  data为楼层里的data信息
 -->
 <template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="100">
                    <floorConfig :styleData="data.style"></floorConfig>
                    <FormItem label="标题背景遮罩">
                        <RadioGroup v-model="titleMask">
                            <Radio label="0">不添加</Radio>
                            <Radio label="1">添加</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="添加标题">
                        <RadioGroup v-model="element.title">
                            <Radio label="0">不添加</Radio>
                            <Radio label="1">添加</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="添加标题图标" v-if="element.title == '1'">
                        <RadioGroup v-model="element.titleIcon">
                            <Radio label="0">不添加</Radio>
                            <Radio label="1">添加</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="大图图片高度">
                        <Input
                            v-model="data.items[0].style.height"
                            placeholder="请输入图片高度"
                            style="width: 130px;"
                            type="number"
                        ></Input>
                    </FormItem>
                    <FormItem label="小图图片高度">
                        <Input
                            v-model="data.items[1].style.height"
                            placeholder="请输入图片高度"
                            style="width: 130px;"
                            type="number"
                        ></Input>
                    </FormItem>
                    <FormItem label="小图图片高度">
                        <Input
                            v-model="data.items[2].style.height"
                            placeholder="请输入图片高度"
                            style="width: 130px;"
                            type="number"
                        ></Input>
                    </FormItem>
                    <margin
                        :marginSizeData="data.items[0].style.margin"
                        name="大图右侧间隙"
                        :flag="[true, false, true, true]"
                    ></margin>
                    <margin
                        :marginSizeData="data.items[1].style.margin"
                        name="小图右侧底间隙"
                        :flag="[true, true, false, true]"
                    ></margin>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
                <Form ref="formValidate" :model="data" :rules="ruleValidate" :label-width="80">
                    <Form :label-width="100">
                        <FormItem label="数据来源">
                            <RadioGroup v-model="data.ext.dataSourceType1">
                            <Radio label="301">手动录入</Radio>
                            <Radio label="101">ace</Radio>
                            <!-- <Radio label="201">互医</Radio>
                            <Radio label="401">写手</Radio> -->
                            </RadioGroup>
                        </FormItem>
                    </Form>

                    <Collapse v-model="panelValue" class="n-ivu-collapse" v-if="data.ext.dataSourceType1 == '301'">
                        <Panel v-for="(item,index) in data.items" :key="index">
                            <span class="n-option-subtitle">左侧第{{index}}组</span>
                            <div slot="content">
                                <!-- iview 表单验证 prop和v-model的名字一定要一一对应 且循环方式无法实现校验-->
                                <FormItem label="标题" class="n-form-item-required">
                                    <Input v-model="item.title" placeholder="请输入标题"></Input>
                                </FormItem>
                                <FormItem label="描述" class="n-form-item-required">
                                    <Input v-model="item.descriptionText" placeholder="请输入描述"></Input>
                                </FormItem>
                                <FormItem label="图片" class="n-form-item-required">
                                    <image-upload
                                        :imageUrl.sync="item.pictureUrl"
                                        v-if="index === 0"
                                    ></image-upload>
                                    <image-upload
                                        :imageUrl.sync="item.pictureUrl"
                                        v-else
                                    ></image-upload>
                                </FormItem>
                                <FormItem label="链接" class="n-form-item-required">
                                    <linkType :linkInfo="item"></linkType>
                                </FormItem>
                            </div>
                        </Panel>
                    </Collapse>
                    <div v-if="element.data.ext.dataSourceType1=='101'">
                        <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
                    </div>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import ImageUpload from "../ImageUpload"
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"

export default {
    name: "oneToTwoEdit",
    props: ["data", "element"],
    components: {
        "image-upload": ImageUpload,
        padding: padding,
        margin: margin
    },
    data() {
        return {
            formValidate: {},
            ruleValidate: {},
            panelValue: [0, 1, 2],
            imgHeigth: ["402", "200", "200"],
            titleMask: '0'
        };
    },
    computed: {},
    created() {},
    watch: {
        titleMask: {
            handler: function(newer, older) {
                this.element.maskColor = ''
                if(newer == '1'){
                    this.element.maskColor = '#6a000000'
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    },
    methods: {
        // onBeforeUpload(file, img) {
        //     if (img.width !== 354) {
        //         return "图片宽度必须是354px";
        //     }
        //     if (img.height !== 402) {
        //         return "图片高度必须是402px";
        //     }
        //     return null;
        // },
        // onBeforeUploadSmall(file, img) {
        //     if (img.width !== 354) {
        //         return "图片宽度必须是354px";
        //     }
        //     if (img.height !== 200) {
        //         return "图片高度必须是200px";
        //     }
        //     return null;
        // },
        onBgBeforeUpload(file, img) {
            if (img.width !== 1125) {
                return "图片宽度必须是1125px";
            }
            if (img.height !== 603) {
                return "图片高度必须是603px";
            }
            return null;
        },
        resetBgColor() {
            this.data.style.bgColor = "#ffffff";
        },
        getResultData(data) {
            this.element.data.items[0].pictureUrl = data[0].pictureUrl;
            this.element.data.items[1].pictureUrl = data[1].pictureUrl;
            this.element.data.items[2].pictureUrl = data[2].pictureUrl;
        }
    }
};
</script>
<style lang="less" scoped>
.ivu-form-item {
    margin-bottom: 14px;
}
.ivu-form-item-content {
    .ivu-color-picker {
        /deep/ .ivu-select-dropdown {
            left: 0 !important;
        }
    }
}
</style>