<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <div style="height: 40px;line-height: 40px;font-size: 14px;color: #999; text-align: center;">当前楼层无数据配置信息</div>
        </TabPane>
    </Tabs>
</template>
<script>
export default {
    name: "logistics",
    props: ["index", "element"],
    data() {
        return {

        }
    },
    watch: {
    }
}
</script>