<template>
    <div style="height: 40px;line-height: 40px;font-size: 14px;color: #999; text-align: center;">占位楼层数据</div>
</template>
<script>
export default {
    name: "blank",
    props: ["index", "element"],
}
</script>
<style lang="less" scoped></style>