<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <!-- <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color> -->
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="100"></Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import netAd from '../tab/netAdvert'
import ABTestDemo from "../../ABTestDemo";

export default {
    props: ["element", "data","isFlow"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        netAd: netAd,
        ABTestDemo
    },
    data() {
        return {

        }
    }
}
</script>