<template>
    <div 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage: 'url(' + data.style.bgImgUrl +')',
            padding: data.style.padding[0] + 'px ' + data.style.padding[1] + 'px ' + data.style.padding[2] + 'px '+ data.style.padding[3] + 'px',
            margin: data.style.margin[0] + 'px ' + data.style.margin[1] + 'px '+ data.style.margin[2] + 'px '+data.style.margin[3] + 'px',
            borderRadius: data.style.cornerRadius[0] + 'px '+ data.style.cornerRadius[1] + 'px '+ data.style.cornerRadius[2] + 'px '+ data.style.cornerRadius[3] + 'px'
        }"
    >
        <row class="n-row">
            <Col span="24" class="n-news" v-for="(item, index) in data.items" :key="index"
                :style="{
                    padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                    margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px',
                }"
            >
            </Col>
        </row>
    </div>
</template>
<script>
export default {
    props: ["index", "element", "data"],
    data() {
        return {

        }
    },
}
</script>