<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="80">
                    <FormItem label="背景颜色">
                        <ColorPicker v-model="data.style.bgColor" />
                        <Button v-model="Bgcolor" @click="resetBgColor('bgColor')">重置</Button>
                    </FormItem>
                    <FormItem label="背景图片">
                        <image-upload 
                            :imageUrl.sync= data.style.selectedImg
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                        <Alert show-icon>图片宽度为1125，高度不限，不大于2M</Alert>
                    </FormItem>
                    <FormItem label="标题颜色">
                        <ColorPicker v-model="data.style.titleColor" />
                        <Button v-model="data.style.titleColor" @click="resetBgColor('titleColor')">重置</Button>
                    </FormItem>
                    <FormItem label="标题大小">
                        <Input v-model="data.style.titleFontSize" placeholder="请输入标题字体大小"></Input>
                    </FormItem>
                    <FormItem label="标题样式">
                        <RadioGroup v-model="data.style.titleWeight">
                            <Radio label="normal">默认</Radio>
                            <Radio label="bold">加粗</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="标签颜色">
                        <ColorPicker v-model="data.style.labelColor" />
                        <Button v-model="data.style.labelColor" @click="resetBgColor('labelColor')">重置</Button>
                    </FormItem>
                    <FormItem label="标签背景颜色">
                        <ColorPicker v-model="data.style.labelBgColor" />
                        <Button v-model="data.style.labelBgColor" @click="resetBgColor('labelBgColor')">重置</Button>
                    </FormItem>
                    <FormItem label="标签是否圆角">
                        <RadioGroup v-model="labelRadius">
                            <Radio label="1">圆角</Radio>
                            <Radio label="0">默认</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="标签圆角位置" v-if="labelRadius == '1'">
                        <CheckboxGroup v-model="labelRadiusPosition">
                            <Checkbox label="topLeft">左上圆角</Checkbox>
                            <Checkbox label="topRight">左下圆角</Checkbox>
                            <Checkbox label="bottomLeft">右上圆角</Checkbox>
                            <Checkbox label="bottomRight">右下圆角</Checkbox>
                        </CheckboxGroup>
                    </FormItem>
                    <FormItem label="头像是否圆角">
                        <RadioGroup v-model="avatarRadius">
                            <Radio label="1">圆角</Radio>
                            <Radio label="0">默认</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="头像圆角位置" v-if="avatarRadius == '1'">
                        <CheckboxGroup v-model="avatarRadiusPosition">
                            <Checkbox label="topLeft">左上圆角</Checkbox>
                            <Checkbox label="topRight">左下圆角</Checkbox>
                            <Checkbox label="bottomLeft">右上圆角</Checkbox>
                            <Checkbox label="bottomRight">右下圆角</Checkbox>
                        </CheckboxGroup>
                    </FormItem>
                    <FormItem label="头像信息字体">
                        <Input v-model="data.style.titleFontSize" placeholder="请输入头像信息字体大小"></Input>
                    </FormItem>
                    <FormItem label="头像字体颜色">
                        <ColorPicker v-model="data.style.avatarColor" />
                        <Button v-model="data.style.avatarColor" @click="resetBgColor('avatarColor')">重置</Button>
                    </FormItem>
                    <FormItem label="头像背景颜色">
                        <ColorPicker v-model="data.style.avatarBgColor" />
                        <Button v-model="data.style.avatarBgColor" @click="resetBgColor('avatarBgColor')">重置</Button>
                    </FormItem>
                    <FormItem label="头像背景">
                        <RadioGroup v-model="avatarBgRadius">
                            <Radio label="1">圆角</Radio>
                            <Radio label="0">默认</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="头像背景圆角" v-if="avatarBgRadius == '1'">
                        <CheckboxGroup v-model="avatarBgRadiusPosition">
                            <Checkbox label="topLeft">左上圆角</Checkbox>
                            <Checkbox label="topRight">左下圆角</Checkbox>
                            <Checkbox label="bottomLeft">右上圆角</Checkbox>
                            <Checkbox label="bottomRight">右下圆角</Checkbox>
                        </CheckboxGroup>
                    </FormItem>
                    <FormItem label="图片圆角">
                        <RadioGroup v-model="picRadius">
                            <Radio label="1">圆角</Radio>
                            <Radio label="0">默认</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="图片圆角位置" v-if="picRadius == '1'">
                        <CheckboxGroup v-model="picRadiusPosition">
                            <Checkbox label="topLeft">左上圆角</Checkbox>
                            <Checkbox label="topRight">左下圆角</Checkbox>
                            <Checkbox label="bottomLeft">右上圆角</Checkbox>
                            <Checkbox label="bottomRight">右下圆角</Checkbox>
                        </CheckboxGroup>
                    </FormItem>
                    <FormItem label="图片标签字体">
                        <Input v-model="data.style.pictureLabelFontSize" placeholder="请输入图片标签字体大小"></Input>
                    </FormItem>
                    <FormItem label="图片标签颜色">
                        <ColorPicker v-model="data.style.pictureLabelColor" />
                        <Button v-model="data.style.pictureLabelColor" @click="resetBgColor('pictureLabelColor')">重置</Button>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="80">
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
export default {
    props: ["element", "data"],
    data() {
        return {
            Bgcolor: '#ffffff',
            labelRadius: '1',
            labelRadiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight'],
            avatarRadius: '1',
            avatarRadiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight'],
            avatarBgRadius: '1',
            avatarBgRadiusPosition: ['', 'topRight', '', 'bottomRight'],
            picRadius: '1',
            picRadiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight']
        }
    },
    methods: {
        resetBgColor(name) {
            if(name == 'bgColor'){
                this.data.style[name] = '#ffffff';
            }else if(name == 'titleColor'){
                this.data.style[name] = '#2E2D2D';
            }else if(name == 'labelColor'){
                this.data.style[name] = '#1F88F8';
            }else if(name == 'labelBgColor'){
                this.data.style[name] = '#e8f3fe';
            }else if(name == 'avatarColor'){
                this.data.style[name] = '#9396a0';
            }else if(name == 'avatarBgColor'){
                this.data.style[name] = '#f4f6fb'
            }else if(name == 'pictureLabelColor'){
                this.data.style[name] = '#ffffff'
            }
        },
        onBeforeUpload (file, img) {
            // if (img.width !== 1125) {
            //     return '图片宽度必须是1125px'
            // }
            //return null
        }
    }
}
</script>