<template>
    <row class="n-row" style="padding: 0 10px;">
        <template v-if="data.items.length > 0">
            <Col span="24" class="n-news" v-for="(item, index) in data.items" :key="index">
                <Col span="14" class="n-left">
                    <div class="n-title">{{item.title}}</div>
                    <div class="n-label">
                        <span class="n-doctorlabel" v-for="(li, i) in item.labelDTOList" :key='i'>{{li.labelName}}</span>
                        <span class="n-avatar"><i :style="{'background-image': 'url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png'}"></i>医生姓名</span>
                    </div>
                </Col>
                <Col span="10">
                    <div class="n-relative" style="width: 120px;margin-left: 18px;">
                        <img :src="'http://m.360buyimg.com/marketingminiapp/' + item.titlePicUrl">
                        <span class="n-hotIcon">{{item.label}}</span>
                    </div>
                </Col>
            </col>
        </template>
        <template v-else>
            <Col span="24" class="n-news">
                <Col span="14" class="n-left">
                    <div class="n-title">图文资讯列表数据</div>
                    <div class="n-label">
                        <span class="n-doctorlabel">资讯标签</span>
                        <span class="n-avatar"><i :style="{'background-image': 'url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png'}"></i>医生姓名</span>
                    </div>
                </Col>
                <Col span="10">
                    <div class="n-relative" style="width: 120px;margin-left: 18px;">
                        <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                        <span class="n-hotIcon">推荐</span>
                    </div>
                </Col>
            </col>
        </template>
    </row>
</template>
<script>
export default {
    props: ["element", "data"],
    data() {
        return {

        }
    }
}
</script>
<style lang="less" scoped>
    .n-news {
        padding: 10px 0;
        .n-left {
            .n-title {
                font-size: 15px;
                line-height: 24px;
                color: #2E2D2D;
                height: 50px;
                overflow: hidden;
            }
            .n-label {
                margin-top: 3px;
                span {
                    display: inline-block;
                }
                span.n-doctorlabel {
                    height: 20px;
                    line-height: 20px;
                    background-color: #e8f3fe;
                    color: #1F88F8;
                    font-size: 11px;
                    margin: 10px 15px 0 0;
                    padding: 0 5px;
                }
                span.n-avatar {
                    background-color: #f4f6fb;
                    font-size: 11px;
                    line-height: 20px;
                    position: relative;
                    color: #9396a0;
                    padding: 0 10px 0 20px;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    i {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        position: absolute;
                        left: -5px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
        .n-relative {
            img {
                display: block;
                width: 120px;
                height: 80px;
                border-radius: 8px;
            }
            span.n-hotIcon {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 10px;
                height: 20px;
                line-height: 20px;
                font-size: 10px;
                color: #fff;
                background: url(../../img/selectDoctor_05.png);
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }
    .n-news:last-child {
        border-bottom: none;
    }
</style>
