<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <!-- <margin
                        :marginSizeData="data.ext.style.margin"
                        name="卡片边距设置"
                    ></margin>
                   <padding
                        :paddingSizeData="data.ext.style.padding"
                        name="卡片留白设置"
                    ></padding>
                    <color
                        :colorData="data.ext.style"
                        field ="bgColor"
                        name="卡片背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <corner
                        :cornerData="data.ext.style.cornerRadius"
                        name="卡片圆角"
                    ></corner> -->
                    <FormItem label="展示描述">
                        <RadioGroup v-model="element.desc">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="右侧图片">
                        <RadioGroup v-model="element.arrow">
                            <Radio label="0">开关</Radio>
                            <Radio label="1">箭头</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="状态信息">
                        <RadioGroup v-model="element.aboutTips">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <fontsize
                        :fontSizeData="data.items[0]"
                        field ="titleFontSize"
                        name="标题大小"
                    ></fontsize>
                    <color
                        :colorData="data.items[0]"
                        field ="titleFontColor"
                        name="标题颜色"
                        resetColor="#262626"
                    ></color>
                    <template v-if="element.desc == '1'">
                        <fontsize
                            :fontSizeData="data.items[0]"
                            field ="descFontSize"
                            name="描述大小"
                        ></fontsize>
                        <color
                            :colorData="data.items[0]"
                            field ="descFontColor"
                            name="描述颜色"
                            resetColor="#BABABA"
                        ></color>
                    </template>
                    <template v-if="element.aboutTips == '1'">
                        <fontsize
                            :fontSizeData="data.items[0]"
                            field ="tipsFontSize"
                            name="状态信息大小"
                        ></fontsize>
                        <color
                            :colorData="data.items[0]"
                            field ="tipsFontColor"
                            name="状态信息颜色"
                            resetColor="#7D7D7D"
                        ></color>
                    </template>
                    <FormItem label="底部分割线">
                        <RadioGroup v-model="element.border">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <template v-if="element.border == '1'">
                        <borderItem
                            :borderData="data.items[0]"
                            field="borderColor"
                            name="分割线"
                            resetColor="#F2F2F2"
                        ></borderItem>
                    </template>
                    <FormItem label="读取缓存">
                        <RadioGroup v-model="data.ext.readCache">
                            <Radio label="0">不读取</Radio>
                            <Radio label="1">读取</Radio>
                        </RadioGroup>
                    </FormItem>
                    <inputItem 
                        :inputData="data.items[0]"
                        name="缓存枚举值"
                        field="dataType"
                        placeholder="请输入枚举值……"
                        v-if="data.ext.readCache == '1'"
                        inputType="number"
                    ></inputItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="100">
                    <inputItem 
                        :inputData="data.items[0]"
                        name="信息配置"
                        field="name"
                        placeholder="请输入信息配置……"
                    ></inputItem>
                    <FormItem label="链接跳转">
                        <linkType :linkInfo="data.items[0]"></linkType>
                    </FormItem>
                    <inputItem 
                        v-if="element.aboutTips == '1'"
                        :inputData="data.items[0]"
                        name="提示配置"
                        field="content"
                        placeholder="请输入信息配置……"
                        width="200"
                    ></inputItem>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import fontsize from "../commonDecorate/pageDecorateFontSize"
import inputItem from "../commonDecorate/pageDecorateInput"
import borderItem from "../commonDecorate/pageDecorateBorder"
export default {
    props: ["element", "data"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        fontsize: fontsize,
        inputItem: inputItem,
        borderItem: borderItem,
    },
    data() {
        return {

        }
    },
    watch: {
        "element.desc": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                if(newer == '1'){
                    //有描述
                    this.data.ext.type = 'HDSettingSliderItem'
                    this.data.ext.style.height = 76
                }else{
                    this.data.ext.type = 'HDSettingItem'
                    this.data.ext.style.height = 60
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        "element.aboutTips": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                if(newer == '0'){
                    //有提示
                    this.data.items[0].content = ''
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        "data.ext.readCache": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                if(newer == '0'){
                    //有提示
                    this.data.items[0].dataType = ''
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
