<template>
    <row 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0]+'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px'
        }"
    >
        <!-- 此处备注 特殊处理 padding使用margin值 -->
        <Col span="24"
            :style="{
                padding: data.ext.style.margin[0]+'px '+ data.ext.style.margin[1]+'px '+ data.ext.style.margin[2]+'px '+ data.ext.style.margin[3]+'px',
                borderBottom: '1px solid ' + data.items[0].borderColor,
                lineHeight: element.desc == '0' ?data.ext.style.height + 'px' : '',
                height: data.ext.style.height + 'px'
            }"
            class="n-wrap"
        >
            <template v-if="element.desc == '1'">
                <Col span="18">
                    <p class="n-title"
                        :style="{
                            fontSize: data.items[0].titleFontSize + 'px',
                            color: colorTransform(data.items[0].titleFontColor),
                        }"
                    >{{data.items[0].name}}</p>
                    <p class="n-subtitle"
                        :style="{
                            fontSize: data.items[0].descFontSize + 'px',
                            color: colorTransform(data.items[0].descFontColor),
                        }"
                    >关闭后，互联网医院页面不再显示“我的医生”</p>
                </Col>
            </template>
            <template v-else>
                <Col span="15">
                    <p class="n-title"
                        :style="{
                            fontSize: data.items[0].titleFontSize + 'px',
                            color: colorTransform(data.items[0].titleFontColor),
                        }"
                    >{{data.items[0].name}}</p>
                </Col>
            </template>
            <Col :span="element.desc == '1'? 6 : 9" class="n-right" :class="{'switch': element.arrow == '0'}">
                <p 
                    v-if="element.aboutTips == '1'"
                    :style="{
                        fontSize: data.items[0].tipsFontSize + 'px',
                        color: colorTransform(data.items[0].tipsFontColor),
                    }"
                >{{data.items[0].content}}</p>
                <img :src="element.arrow == '1'? arrowImage: switchImage">
            </Col>
        </Col>
    </row>
</template>
<script>
export default {
    props: ["index", "element", "data"],
    data() {
        return {
            switchStatus: true,
            switchImage: "https://m.360buyimg.com/pop/jfs/t1/103203/25/9739/1823/5e12d6a4E7d0d1b44/8a1074b33d97767a.png",
            arrowImage: "https://m.360buyimg.com/pop/jfs/t1/94532/26/9898/289/5e140f26Eab558844/4e1fb2c87fc3528c.png",
        }
    },
}
</script>
<style lang="less" scoped>
    .n-wrap {
        display: flex;
        align-items:center;/*垂直居中*/
        justify-content: space-between;
    }
    p.n-title {
        height: 26px;
        line-height: 26px;
    }
    .n-right {
        float: right;
        height: 25px;
        line-height: 25px;
        text-align: right;
        p {
            display: inline-block;
            margin-right: 2px;
        }
    }
    .switch {
        width: 50px;
        height: 25px;
    }
</style>