<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <Form :label-width="100">
                <margin :marginSizeData="data.style.margin" name="边距设置"></margin>
                <!-- <padding
                    :paddingSizeData="data.style.padding"
                    name="留白设置"
                ></padding>-->
                <corner :cornerData="data.style.cornerRadius" name="楼层圆角"></corner>
                <color :colorData="data.style" field="bgColor" name="楼层背景" resetColor="#FFFFFF"></color>
                <margin :marginSizeData="data.items[0].style.margin" name="卡片边距设置"></margin>
                <!-- <padding
                    :paddingSizeData="data.items[0].style.padding"
                    name="卡片留白设置"
                ></padding>-->
                <!-- <margin
                    :marginSizeData="data.items[0].style.margin"
                    name="卡片设置"
                ></margin>
                <color
                    :colorData="data.items[0].style"
                    field ="bgColor"
                    name="卡片背景"
                    resetColor="#FFFFFF"
                ></color>
                <corner
                    :cornerData="data.style.prefixDoteRadius"
                    name="卡片圆角"
                ></corner>-->
                <FormItem label="是否吸顶">
                    <RadioGroup v-model="data.type">
                        <Radio label="40">不吸顶</Radio>
                        <Radio label="stickyOff">吸顶</Radio>
                        <Poptip placement="bottom" class="n-black-poptip">
                            <Icon type="ios-help-circle-outline" />
                            <div class="api" slot="content">
                                <div>
                                    <div class="n-poptip-text">吸顶效果为当前组内垂直滑动时，tab吸顶展示；</div>
                                </div>
                            </div>
                        </Poptip>
                    </RadioGroup>
                </FormItem>
                <FormItem label="瀑布流">
                    <RadioGroup v-model="data.feedFlow">
                        <Radio label="false">否</Radio>
                        <Radio label="true">是</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="每页商品数量">
                    <Input
                        v-model="data.ext.pageSize"
                        placeholder="请输入每页商品数量……"
                        style="width: 130px;"
                        type="number"
                    ></Input>
                </FormItem>
                <FormItem label="标签高度">
                    <Input
                        v-model="data.items[0].style.height"
                        placeholder="请输入标签高度"
                        style="width: 130px;"
                        type="number"
                    ></Input>
                </FormItem>
                <margin
                    :marginSizeData="data.items[0].style.titleMargin"
                    name="标签边距设置"
                    :flag="[true, false, true, false]"
                ></margin>
                <padding
                    :paddingSizeData="data.items[0].style.titlePadding"
                    name="标签留白设置"
                    :flag="[true, false, true, false]"
                ></padding>
                <FormItem label="默认字体大小" style="margin-bottom: 10px;">
                    <Input
                        v-model="data.items[0].style.titleSizeNormal"
                        placeholder="请输入默认字体大小"
                        style="width: 130px"
                        type="number"
                    ></Input>
                </FormItem>
                <FormItem label="选中字体大小" style="margin-bottom: 10px;">
                    <Input
                        v-model="data.items[0].style.titleSizeSelected"
                        placeholder="请输入选中字体大小"
                        style="width: 130px"
                        type="number"
                    ></Input>
                </FormItem>
                <color
                    :colorData="data.items[0].style"
                    field="titleColorNormal"
                    name="标签默认颜色"
                    resetColor="#999999"
                ></color>
                <color
                    :colorData="data.items[0].style"
                    field="titleColorSelected"
                    name="标签选中颜色"
                    resetColor="#FFFFFF"
                ></color>
                <FormItem label="选中标签加粗">
                    <RadioGroup v-model="data.items[0].style.titleFontWeight">
                        <Radio label="bold">否</Radio>
                        <Radio label="normal">是</Radio>
                    </RadioGroup>
                </FormItem>
                <corner :cornerData="data.items[0].style.titleCornerRadius" name="标签圆角"></corner>
                <FormItem label="标签选中图片" style="margin-bottom: 0px;">
                    <image-upload :imageUrl.sync="data.items[0].style.titleSelectedImgUrl"></image-upload>
                </FormItem>
                <FormItem label="标签默认图片">
                    <image-upload :imageUrl.sync="data.items[0].style.titleDefaultImgUrl"></image-upload>
                </FormItem>
                <FormItem label="关联组件identityId" style="margin-bottom: 10px;">
                    <Input
                        v-model="data.items[0].nextLayoutId"
                        placeholder="请输入关联组件identityId"
                        style="width: 60%;"
                    ></Input>
                </FormItem>
                <FormItem label="reuseId" style="margin-bottom: 10px;">
                    <Input
                        v-model="data.items[0].style.reuseId"
                        placeholder="请输入reuseId"
                        style="width: 60%;"
                    ></Input>
                </FormItem>
                <FormItem label="影响楼层高度">
                    <Input
                        v-model="data.style.freeOffset"
                        placeholder="请输入影响楼层高度"
                        style="width: 130px;"
                        type="number"
                    ></Input>
                </FormItem>
            </Form>
        </TabPane>
        <TabPane label="素材配置" tab="style">
            <Alert show-icon>选项卡关联的数据需增加左侧组件进行配置！</Alert>
            <Form :label-width="100">
                <FormItem label="数据来源" style="margin-bottom: 10px;padding: 0;">
                    <Select
                        v-model="data.ext.dataSourceType1"
                        filterable
                        placeholder="请选择数据来源"
                        style="width: 60%;"
                    >
                        <Option
                            v-for="(item, index) in dataSourceList"
                            :value="item.id"
                            :key="index"
                        >{{ item.name}}</Option>
                    </Select>
                </FormItem>
                <template v-if="data.ext.dataSourceType1 == '301'">
                    <div class="textCenter">
                        <Button type="primary" @click="addTabLabel">添加Tab配置</Button>
                    </div>
                    <Collapse
                        v-model="panelIndex"
                        v-for="(item,index) in data.items[0].contentData"
                        :key="index"
                    >
                        <Panel :name="index+''">
                            Tab标签
                            <div class="n-delete" @click.stop.prevent="() => {}">
                                <Button
                                    icon="ios-trash-outline"
                                    shape="circle"
                                    @click="deleteTabLabel(index)"
                                ></Button>
                            </div>
                            <div slot="content">
                                <Form :label-width="100">
                                    <FormItem label="Tab标题" style="margin-bottom: 10px;">
                                        <Input
                                            v-model="item.name"
                                            placeholder="tab字数为2~6个汉字或4~12个字符"
                                            style="width: 60%;"
                                        ></Input>
                                    </FormItem>
                                    <FormItem label="数据来源" style="margin-bottom: 10px;padding: 0;">
                                        <Select
                                            v-model="itemSelectSourceValue"
                                            disabled
                                            filterable
                                            placeholder="请选择数据来源"
                                            style="width: 60%;"
                                        >
                                            <Option
                                                v-for="(item, index) in itemSelectSourceList"
                                                :value="item.id"
                                                :key="index"
                                            >{{ item.name}}</Option>
                                        </Select>
                                    </FormItem>
                                    <FormItem label="数据类型" style="margin-bottom: 10px;">
                                        <Select v-model="item.dataSourceType2" style="width: 60%;">
                                            <Option
                                                v-for="(item,index) in itemSelectTypeList"
                                                :value="item.DataSourceType2"
                                                :key="index"
                                            >{{ item.name }}</Option>
                                        </Select>
                                    </FormItem>
                                    <template v-if="item.dataSourceType2 != '101101'">
                                        <FormItem label="groupId" style="margin-bottom: 10px;">
                                            <Input
                                                v-model="item.dataIds.groupId"
                                                placeholder="商品组ID"
                                                style="width: 60%;"
                                            ></Input>
                                        </FormItem>
                                        <FormItem label="stage" style="margin-bottom: 10px;">
                                            <Input
                                                v-model="item.dataIds.stage"
                                                placeholder="分期序号"
                                                style="width: 60%;"
                                            ></Input>
                                        </FormItem>
                                        <FormItem label="每页条数" style="margin-bottom: 10px;">
                                            <Input
                                                v-model="item.pageSize"
                                                placeholder="每页条数"
                                                style="width: 60%;"
                                            ></Input>
                                        </FormItem>
                                    </template>
                                    <template v-else>
                                        <p
                                            style="font-size: 12px;text-align: center;color: #b5b5b5;"
                                        >该组件暂不支持其他类型数据录入</p>
                                    </template>
                                </Form>
                            </div>
                        </Panel>
                    </Collapse>
                </template>
                <template v-else>
                    <!-- <transfer :value="data" :selections="floorOptions" :max="2" :element="element"></transfer> -->
                    <netAd
                        :data="data"
                        :element="element"
                        :data-source="dataSource"
                        @getresultdata="getResultData($event)"
                    ></netAd>
                </template>
            </Form>
        </TabPane>
        <TabPane v-if="isFlow!='flow'" label="楼层分流配置" name="bypassTab">
            <ABTestDemo :baseId="element.id"></ABTestDemo>
        </TabPane>
    </Tabs>
</template>
<script>
import { mapMutations } from "vuex";
import ImageUpload from "../ImageUpload";
import { tags } from "../../config/config";
import netAd from "./netAdvert";
import padding from "../commonDecorate/pageDecoratePad";
import margin from "../commonDecorate/pageDecorateMargin";
import color from "../commonDecorate/pageDecorateColor";
import corner from "../commonDecorate/pageDecorateCorner";
import ABTestDemo from "../../ABTestDemo";

export default {
    props: ["index", "data", "element", "isFlow"],
    components: { netAd, padding, margin, color, corner, ABTestDemo},
    data() {
        return {
            availableFloor: ["pictureNews"], // 可添加的楼层合集
            dataSourceList: [
                {
                    name: "ace",
                    id: "101"
                },
                {
                    name: "互联网医院",
                    id: "201"
                },
                {
                    name: "写手后台",
                    id: "401"
                },
                {
                    name: "手动录入",
                    id: "301"
                }
            ],
            itemSelectSourceValue: "101",
            itemSelectSourceList: [
                {
                    name: "ace",
                    id: "101"
                },
                {
                    name: "互联网医院",
                    id: "201"
                },
                {
                    name: "写手后台",
                    id: "401"
                }
            ],
            itemSelectTypeValue: "101103",
            itemSelectTypeList: [
                {
                    name: "ace商品",
                    DataSourceType2: "101102"
                },
                {
                    name: "ace广告",
                    DataSourceType2: "101101"
                },
                {
                    name: "ace商品分页",
                    DataSourceType2: "101103"
                }
            ],
            panelIndex: [0, 1]
        };
    },
    computed: {
        dataSource() {
            let sourceName = "";
            if (this.data.ext.dataSourceType1 == "201") {
                sourceName = "nethuyi";
            } else if (this.data.ext.dataSourceType1 == "401") {
                sourceName = "xieshou";
            } else if (this.data.ext.dataSourceType1 == "101") {
                sourceName = "ace";
            }
            return sourceName;
        }
        // tabHeight() {
        //     let count = parseInt(this.data.items[0].style.titlePadding[0]) + parseInt(this.data.items[0].style.titlePadding[2])
        //     let tabHeight = 36
        //     if(count != 0){
        //         tabHeight = tabHeight + count
        //         this.data.items[0].style.height = tabHeight
        //     }
        //     return tabHeight
        // }
    },
    created() {},
    methods: {
        resetBgColor(name) {
            if (name == "bgColor") {
                this.data.style[name] = "#ffffff";
            } else if (name == "titleColorNormal") {
                this.data.style[name] = "#999999";
            } else if (name == "titleColorSelected") {
                this.data.style[name] = "#333333";
            }
        },
        getResultData(getData) {
            this.data.items[0].contentData = JSON.parse(
                JSON.stringify(getData)
            );
        },
        deleteTabLabel(index) {
            this.panelIndex.splice(this.panelIndex.length, 1);
            this.data.items[0].contentData.splice(index, 1);
        },
        addTabLabel() {
            this.panelIndex.push(this.data.items[0].contentData.length);
            let pageSizeNumber = this.data.ext.pageSize
            this.data.items[0].contentData.push({ name: "标签", id: "" ,dataIds: {}, pageSize: pageSizeNumber});
        }
    },
    watch: {
        // "$store.state.app.floorList": {
        //     handler: function(newer, older) {
        //         // 可以获取新值与老值两个参数
        //         let setIndex = this.index + 1;
        //         if (newer[setIndex]) {
        //             this.data.items[0].nextLayoutId =
        //                 newer[setIndex].identityId;
        //                 console.log(this.data.items[0].nextLayoutId)
        //         }
        //     },
        //     deep: true, // 开启深度监听
        //     immediate: true
        // },
        "data.ext.dataSourceType1": {
            handler: function(newer, older) {
                let contentDataLength = this.data.items[0].contentData.length;
                let pageSizeNumber = this.data.ext.pageSize
                if(newer == '301'){//手动录入
                    for (let i = 0; i < contentDataLength; i++) {
                        //this.data.items[0].contentData[i].dataIds.push({"groupId": "","stage": ""})
                        if(!this.data.items[0].contentData[i].dataSourceType2){
                            Object.assign(this.data.items[0].contentData[i], {"dataSourceType2":"101103", "pageSize": pageSizeNumber})
                            Object.assign(this.data.items[0].contentData[i].dataIds, {"groupId": "","stage": ""})
                        }
                    }
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        "data.ext.pageSize": {
            handler: function(newer, older) {
                let contentDataLength = this.data.items[0].contentData.length;
                for (let i = 0; i < contentDataLength; i++) {
                    this.data.items[0].contentData[i].pageSize = newer
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
    }
};
</script>
<style lang="less" scoped>
.ivu-icon-ios-help {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 18px;
    background-color: #2d8cf0;
    color: #fff;
}
.ivu-row-flex {
    padding: 0 16px;
}
.ivu-form-item-content {
    .ivu-color-picker {
        /deep/ .ivu-select-dropdown {
            left: 0 !important;
        }
    }
}
.ivu-collapse {
    margin: 15px 0 0 0;
    /deep/ .ivu-collapse-content {
        padding: 0;
    }
    .n-select {
        display: inline-block;
        i.n-tab-index {
            font-style: normal;
            margin-right: 5px;
        }
        .ivu-dropdown-menu {
            min-width: 56px;
            .ivu-dropdown-item {
                text-align: center;
            }
        }
    }
    .n-delete {
        float: right;
        margin: 0 20px 0 0;
        /deep/ i.ivu-icon-ios-trash-outline {
            font-size: 24px;
            line-height: 1.3;
        }
    }
}
.n-template {
    border: 1px solid #ccc;
    border-radius: 4px;
    span.n-template-name {
        display: block;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background-color: #f3f3f3;
    }
    .n-set-scroll {
        height: 128px;
        width: 100%;
        ul {
            width: 100%;
            li {
                padding: 0 5px;
                height: 32px;
                line-height: 32px;
                i.ivu-icon-md-add {
                    font-size: 20px;
                    float: right;
                    line-height: 32px;
                }
                i.ivu-icon-ios-trash-outline {
                    font-size: 20px;
                    float: right;
                    line-height: 32px;
                }
                i.ivu-icon-md-arrow-down {
                    font-size: 20px;
                    line-height: 32px;
                    float: right;
                }
                i.ivu-icon-md-arrow-up {
                    font-size: 20px;
                    line-height: 32px;
                    float: right;
                }
            }
            li:hover {
                background-color: #2d8cf0;
                cursor: pointer;
                color: #fff;
            }
        }
    }
}
.n-arrow {
    display: flex;
    align-items: center;
    text-align: center;
    i {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }
}
span.n-multipletitle {
    display: block;
    line-height: 30px;
    margin-top: 15px;
    margin-top: 15px;
    background-color: #64b0ff;
    color: #fff;
    padding: 0 20px;
}
.n-multipleform .ivu-form-item {
    margin-bottom: 10px;
    padding: 0;
}
</style>
