<template>
    <div class="netAdvert-content">
        <Form :label-width="100" class="ivu-form-item-required">
            <FormItem label="数据类型" class="n-position-static">
                <Select v-model="data.ext.dataSourceType2" style="width: 60%;">
                    <Option
                        v-for="(item,index) in advertList"
                        :value="item.dictValue"
                        :key="index"
                    >{{ item.dictName }}</Option>
                </Select>
            </FormItem>
            <FormItem class="n-formitem">
                <Row v-for="(item,index) in dataSourceList" :key="index">
                    <Col span="4" style="text-align: right;">{{item.name}}</Col>
                    <Col span="16">
                        <Form
                            :ref="'items' + index"
                            :model="item"
                            :rules="dictValueValidate"
                            :label-width="80"
                        >
                            <FormItem :label-width="0" prop="dictValue">
                                <Input type="text" v-model="item.dictValue == ''? selectValue : item.dictValue" placeholder="请输入value"></Input>
                            </FormItem>
                        </Form>
                    </Col>
                </Row>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="queryAdvertInfo">查询</Button>
            </FormItem>
        </Form>
    </div>
</template>
<script>
import { tags } from "../../config/config";
export default {
    name: "net-advert",
    props: {
        data: {
            type: Object,
            default: {}
        },
        element: {
            type: Object,
            default: {}
        },
        dataSource: {
            type: String,
            default: "xieshou"
        }
    },
    mounted() {
        //this.getCurrentSourceDataType();
    },
    data() {
        return {
            advertList: [],
            dataSourceList: [],
            availableFloor: [{ type: "", name: "" }], // 可添加的楼层合集
            dictValueValidate: {
                dictValue: [
                    {
                        required: true,
                        message: "输入框不能为空",
                        trigger: "blur"
                    }
                ]
            },
            selectValue: []
        };
    },
    methods: {
        getCurrentSourceDataType() {
            this.$axios
                .request({
                    url: `/jdh/sysDict/querySysDictChildList?dictType=${this.dataSource}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.advertList = res.data.data;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        change() {
            this.$axios
                .request({
                    url: `/jdh/sysDict/querySysDictChildList?dictType=${this.data.ext.dataSourceType2}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.dataSourceList = [];
                        let resultData = res.data.data;
                        if (resultData.length > 0) {
                            for (let i = 0; i < resultData.length; i++) {
                                this.dataSourceList.push({
                                    [resultData[i].dictValue]: "",
                                    name: resultData[i].dictValue
                                });
                            }
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dataInsert(newer) {
            this.availableFloor[0].type = "";
            this.availableFloor[0].name = "";
            this.element.insert = []
            if (this.data.ext.dataSourceType2 == "2010001") {
                this.availableFloor[0].type = "banner入口";
                this.availableFloor[0].name = "bannerAccess";
                this.$Message.error("暂不支持嵌入快速入口");
            } else if (this.data.ext.dataSourceType2 == "2010002") {
                this.availableFloor[0].type = "医生团队";
                this.availableFloor[0].name = "doctorTeam";
                this.$Message.error("暂不支持嵌入医生团队");
            } else if (this.data.ext.dataSourceType2 == "2010003") {
                this.availableFloor[0].type = "疾病百科";
                this.availableFloor[0].name = "quickAccess";
                this.$Message.error("暂不支持嵌入疾病百科");
            } else if (this.data.ext.dataSourceType2 == "201013") {
                this.availableFloor[0].type = "健康资讯";
                this.availableFloor[0].name = "pictureNews";
            } else if (this.data.ext.dataSourceType2 == "201006") {
                this.availableFloor[0].type = "京选推荐";
                this.availableFloor[0].name = "doctorNews";
            }
            const tagList = tags[0].list;
            this.availableFloor.forEach((v, index) => {
                tagList.forEach((currentEle, i) => {
                    const element = currentEle.name;
                    if (element === v.name) {
                        this.element.data.push(currentEle.data);
                        this.element.insert.push(currentEle);
                    }
                });
            });
        },
        queryAdvertInfo() {
            let arr = [];
            this.dataSourceList.forEach((item, index) => {
                let form = "items" + index;
                this.$refs[form][0].validate(valid => {
                    if (valid) {
                        arr.push(true);
                    } else {
                        arr.push(false);
                    }
                });
            });
            let flag = arr.every(item => {
                return item === true;
            });
            if (flag) {
                this.data.ext.dataIds = {};
                for (let i = 0; i < this.dataSourceList.length; i++) {
                    this.data.ext.dataIds[
                        this.dataSourceList[i].name
                    ] = this.dataSourceList[i].dictValue;
                    this.selectValue.push(this.dataSourceList[i].dictValue)
                }
                this.$axios
                    .request({
                        url: `/huyiIndex/getData`,
                        method: "post",
                        data: {
                            dataSourceType2: this.data.ext
                                .dataSourceType2,
                            dataIds: this.data.ext.dataIds,
                            pageSize: 2
                        }
                    })
                    .then(res => {
                        if (res.data.code == 0) {
                            let elementList = this.data.items;
                            if(res.data.result && res.data.result != null){
                                let resultList = res.data.result.dataInfos;
                                this.$emit("getresultdata", resultList);
                                if(resultList.length == 0){
                                    this.$Message.success("无数据");
                                }else{
                                    this.$Message.success("查询成功");
                                }
                            }else{
                                let resultList = [{},{}];
                                this.$emit("getresultdata", resultList);
                                this.$Message.success("查询失败");
                            }

                            // this.$emit("getresultdata", resultList);
                            // this.$Message.success("查询成功");
                        }
                    })
                    .catch(err => {
                        console.log(err);
                        // this.$Message.warning({
                        //     content: '当前查询无数据',
                        //     duration: 10
                        // })
                    });
            } else {
                this.$Message.error("请完成表单校验");
            }
            
        }
    },
    watch: {
        "data.ext.dataSourceType2": {
            handler: function(newer, older) {
                if(newer != ''){
                    this.change(newer);
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        dataSource: {
            handler: function(newer, older) {
                this.getCurrentSourceDataType();
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
};
</script>
<style lang="less" scoped>
/deep/ .ivu-form-item {
    margin-bottom: 10px;
    padding: 0;
}
/deep/ .n-formitem .ivu-form-item-content {
    margin-left: 17px!important;
}
</style>