<template>
    <div class="container"
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0]+'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px'
        }"
    >
        <!-- <div
            :style="{
                backgroundColor: colorTransform(data.items[0].style.bgColor),
                backgroundImage:'url('+ data.items[0].style.bgImgUrl +')',
                borderRadius:data.style.prefixDoteRadius[0]+'px '+data.style.prefixDoteRadius[1]+'px '+data.style.prefixDoteRadius[2]+'px '+data.style.prefixDoteRadius[3]+'px'
            }"
        > -->
        <!-- 此处备注 特殊处理 padding使用margin值 -->
        <div>
            <ul
                :style="{
                    padding: data.items[0].style.margin[0]+'px '+ data.items[0].style.margin[1]+'px '+ data.items[0].style.margin[2]+'px '+ data.items[0].style.margin[3]+'px'
                }"
            >
                <li
                    v-for="(item, index) in data.items[0].contentData"
                    :class="{'active': data.items[0].style.selectedIndex == index}"
                    :style="{
                        color: data.items[0].style.selectedIndex == index ? colorTransform(data.items[0].style.titleColorSelected) : colorTransform(data.items[0].style.titleColorNormal),
                        fontWeight: data.items[0].style.selectedIndex == index ? data.items[0].style.titleFontWeight : 'normal',
                        backgroundImage: data.items[0].style.selectedIndex == index ? 'url('+ data.items[0].style.titleSelectedImgUrl +')' : 'url('+ data.items[0].style.titleDefaultImgUrl  +')',
                        borderRadius:data.items[0].style.titleCornerRadius[0]+'px '+data.items[0].style.titleCornerRadius[1]+'px '+data.items[0].style.titleCornerRadius[2]+'px '+data.items[0].style.titleCornerRadius[3]+'px',
                        padding: data.items[0].style.titlePadding[0]+'px '+ data.items[0].style.titlePadding[1]+'px '+ data.items[0].style.titlePadding[2]+'px '+ data.items[0].style.titlePadding[3]+'px',
                        margin: data.items[0].style.titleMargin[0]+'px '+data.items[0].style.titleMargin[1]+'px '+data.items[0].style.titleMargin[2]+'px '+data.items[0].style.titleMargin[3]+'px',
                        lineHeight: height + 'px',
                        height: height + 'px'
                    }"
                    :key="index"
                >
                    <div>
                        <span class="oh" :style="{
                            fontSize:  data.items[0].style.selectedIndex == index ? data.items[0].style.titleSizeSelected + 'px' : data.items[0].style.titleSizeNormal + 'px'
                        }">{{item.name? item.name : '标签'}}</span>
                        <!-- <i :style="{backgroundColor: data.ext.style.titleColorSelected}"></i> -->
                    </div>
                    <!-- 图片tab位置预留 -->
                    <!-- <template v-else>
                        <div class="n-tab-img">
                            <img :src="data.ext.style.imageTitle[index]" v-show="data.ext.style.imageTitle[index] != ''">
                        </div>
                    </template> -->
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
import { mapMutations } from "vuex"
import pictureNews from '../pictureNews/preview'
import pictureNewsEdit from '../pictureNews/edit'
import doctorNews from '../doctor/preview'
import doctorNewsEdit from '../doctor/edit'

let components = Object.assign({}, { pictureNews, pictureNewsEdit, doctorNews, doctorNewsEdit })

export default {
    props: ['index', 'data', 'element'],
    components: components,
    data() {
        return {
            activeIndex: 0, //当前选中的tab索引值
        }
    },
    computed: {
        getWidth: function() {
            let titleLen = this.data.items[0].contentData.length
            if(titleLen < 6){
                
            }else{
                return 'auto'
            }
        },
        height: function() {
            let count = parseInt(this.data.items[0].style.padding[0]) + parseInt(this.data.items[0].style.padding[2])
            let tabHeight = this.data.items[0].style.height
            if(count != 0){
                tabHeight = parseInt(tabHeight) + parseInt(count)
            }
            return tabHeight
        },
    },
    created() {
        /**
         * 初始化页面数据
         */
        //this.dataInit()
    },
    methods: {
        ...mapMutations(["setFlrIndex", "updateElement"]),
        handleEdit(e, elementIndex, element) {
            e.stopPropagation()
            //this.setFlrIndex(this.index);
            //无数据
            element.insert[elementIndex].saveButton = 'false'
            this.updateElement({type: 'add', data: element.insert[elementIndex]})
        }
    },
    watch: {
        
    }
}
</script>
<style lang="less" scoped>
    .container {
        ul {
            overflow-x: auto;
            display: flex;
            word-break: keep-all;
            position: relative;
            li {
                display: inline-block;
                flex-shrink: 0;
                text-align: center;
                font-size: 14px;
                color: #666;
                overflow-y: hidden;
                position: relative;
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: 100% 100%;
                span {
                    display: block;
                }
                .n-tab-img {
                    background: url(../../img/tabIconImg_01.png);
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: 100% 100%;
                }
            }
            li.active {
                color: #ff0000;
                span {
                    font-weight: bold;
                }
                i {
                    font-style: normal;
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    height: 3px;
                    width: 100%;
                    background: #ff0000;
                }
            }
            
        }
        ul::-webkit-scrollbar {
            width: 10px;
            height: 4px;
        }
        // ul::after {
        //     content: " ";
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     bottom: 0px;
        //     height: 1px;
        //     width: 100%;
        //     background: #cecece;
        // }
    }
    .container:hover {
        ul::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: #ccc;
        }
        ul::-webkit-scrollbar-track {
            border-radius: 4px;
            background: #ededed;
        }
    }
    .oh {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>