<template>
    <div class="n-container"
        :style="{
        'padding': data.style.padding[0] + 'px ' + data.style.padding[1] + 'px ' + data.style.padding[2] + 'px ' + data.style.padding[3] + 'px',
        'background-color': data.style.bgColor
        }"
    >
        <row class="n-row"
            :style="{
            'border-top-left-radius': data.style.prefixDoteRadius[0] + 'px',
            'border-top-right-radius': data.style.prefixDoteRadius[1] + 'px',
            'border-bottom-left-radius': data.style.prefixDoteRadius[2] + 'px',
            'border-bottom-right-radius': data.style.prefixDoteRadius[3] + 'px',
            'background-color': data.tabStyle.bgColor,
            }"
        >
            <div class="n-title"><span>我的医生</span><i></i></div>
            <swiper :options="swiperOption">
                <swiper-slide
                    v-for="(item, index) in doctorList"
                    :key="index"
                >
                    <div class="n-item">
                        <div class="n-doctorinfor">
                            <div class="n-img">
                                <img :src="item.image">
                            </div>
                            <div class="n-detail">
                                <p class="n-namelevel">
                                    <span class="n-name">{{ item.name }}</span>
                                    <span class="n-level">{{ item.level }}</span>
                                </p>
                                <p class="n-hospitaldepart">
                                    <span class="n-hospital">{{ item.hospital }}</span>
                                    <span class="n-depart">{{ item.depart }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="n-doctorcontact">
                            <p class="profession">{{ item.profession }}</p>
                            <div class="n-label">
                                <span 
                                    v-for="(li, i) in item.label"
                                    :key="i"
                                    ><i :style="{backgroundImage: 'url(' + li.icon +')'}"></i>{{ li.value }}</span>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
            </swiper>
        </row>
    </div>
</template>
<script>
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
export default {
    name: "slidesScroll",
    props: ["data", "element"],
    components: {
        swiper,
        swiperSlide
    },
    data() {
        return {
            //defaultImgUrl: "https://m.360buyimg.com/babel/jfs/t1/83888/17/9665/54752/5d738fbbEeae929bc/6861ee312dbdcf69.png",
            doctorList: [
                {
                    image: "https://img30.360buyimg.com/yiyaoapp/jfs/t15562/81/2544106693/90767/cdc12ed2/5aafc475N3ae41538.jpg!q40",
                    name: "陈善闻",
                    level: "副主任医师",
                    hospital: "复旦大学附属华山医院",
                    depart: "男科",
                    profession: "擅长：擅长男性勃起功能障碍、早泄等性功能障碍疾病；性病；精索静脉曲张、膀胱肿瘤、肾肿瘤、前列腺癌、前列腺增生等微创治疗；对尿路感染、前列腺炎、肾输尿管结石、包皮龟头炎、不孕不育等有独到诊治经验",
                    label: [
                        {
                            icon: "https://m.360buyimg.com/babel/jfs/t1/103414/23/3750/3957/5de23721Eaad79893/6874dcb48bb850cf.png",
                            value: "图文问诊"
                        },
                        {
                            icon: "https://m.360buyimg.com/babel/jfs/t1/103414/23/3750/3957/5de23721Eaad79893/6874dcb48bb850cf.png",
                            value: "电话问诊"
                        },
                        {
                            icon: "https://m.360buyimg.com/babel/jfs/t1/103414/23/3750/3957/5de23721Eaad79893/6874dcb48bb850cf.png",
                            value: "服务包"
                        }
                    ]
                },
                {
                    image: "https://img30.360buyimg.com/yiyaoapp/jfs/t1/54485/23/1278/46317/5cf0052cE3b113d8d/00e51cd7629c60e9.jpg!q40",
                    name: "张际青",
                    level: "副主任医师",
                    hospital: "复旦大学附属华山医院",
                    depart: "男科",
                    profession: "擅长：擅长男性勃起功能障碍、早泄等性功能障碍疾病；性病；精索静脉曲张、膀胱肿瘤、肾肿瘤、前列腺癌、前列腺增生等微创治疗；对尿路感染、前列腺炎、肾输尿管结石、包皮龟头炎、不孕不育等有独到诊治经验",
                    label: [
                        {
                            icon: "https://m.360buyimg.com/babel/jfs/t1/103414/23/3750/3957/5de23721Eaad79893/6874dcb48bb850cf.png",
                            value: "图文问诊"
                        },
                        {
                            icon: "https://m.360buyimg.com/babel/jfs/t1/103414/23/3750/3957/5de23721Eaad79893/6874dcb48bb850cf.png",
                            value: "电话问诊"
                        },
                    ]
                }
            ],
            refresh: true,
            swiperOption: {
                slidesPerView: "auto",
                loop: true,
                spaceBetween: 10
            }
            // refresh: true,
            // swiperOption: {
            //     slidesPerView: "auto",
            //     loop: true,
            //     spaceBetween: 15,
            //     speed:600, //config参数同swiper4,与官网一致
            // }
        };
    },
}
</script>
<style lang="less" scoped>
    .n-container {
        .n-row {
            overflow: hidden;
            .n-title {
                margin: 10px 0 20px 0;
                span {
                    font-size: 18px;
                    font-weight: bold;
                    color: #2e2d2d;
                    display: inline-block;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 15px;
                    font-family: 'Microsoft YaHei', sans-serif;
                }
                i {
                    width: 40px;
                    height: 22px;
                    display: inline-block;
                    background: url(../../img/myDoctor_01.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    float: right;
                    margin: 10px 10px 0 0;
                }
            }
            .swiper-container {
                padding: 5px 0 20px 10px;
                overflow: initial;
            }
            /deep/.swiper-slide {
                width: 76%!important;
                height: 118px;
                .n-item {
                    padding: 10px 20px 15px 15px;
                    background-color: #F5F5F5;
                    border-radius: 8px;
                    height: 100%;
                    .n-doctorinfor {
                        position: relative;
                        .n-img {
                            position: absolute;
                            top: -30px;
                            img {
                                border-radius: 50%;
                                width: 62px;
                                height: 62px;
                                border: 2px solid #fff;
                            }
                        }
                        .n-detail {
                            margin-left: 70px;
                            p {
                                color: #333;
                            }
                            p.n-namelevel {
                                font-size: 15px;
                                font-weight: bold;
                                color: #2E2D2D;
                                font-family: 'Microsoft YaHei', sans-serif;
                                span.n-name {
                                    margin-right: 10px;
                                }
                                span.n-level {

                                }
                            }
                            p.n-hospitaldepart {
                                font-size: 12px;
                                color: #2E2D2D;
                                span.n-hospital {
                                    margin-right: 10px;
                                }
                                span.n-depart {
                                    
                                }
                            }
                        }
                    }
                    .n-doctorcontact {
                        p.profession {
                            font-size: 12px;
                            color: #9396A0 ;
                            height: 36px;
                            line-height: 36px;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            word-break: break-all;
                            white-space: nowrap;
                        }
                        .n-label {
                            font-size: 11px;
                            color: #9396A0;
                            span {
                                margin-right: 10px;
                                i {
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    background-size: 100%;
                                    vertical-align: bottom;
                                    margin-right: 3px;
                                }
                            }
                        }
                    }
                }
            }
            /deep/ .swiper-slide-next {
                transform: scale(0.9);
                transform-origin: left 100%;
            }
        }
    }
</style>
