<template>
    <div>
        <Card style="padding-top: 2rem;">
            <Form :model="formItem" :label-width="100" inline>
                <FormItem label="导航id：">
                    <Input v-model="navIdInputValue" style="width: 300px" size="large" clearable placeholder="请输入导航ID..."></Input>
                </FormItem>
                <FormItem label="导航名称：">
                    <Input v-model="navNameInputValue" style="width: 300px" size="large" clearable placeholder="请输入导航名称..."></Input>
                </FormItem>
                <FormItem :label-width="0">
                    <Button
                        size="large"
                        icon="ios-locate-outline"
                        @click="getData(1, navIdInputValue, navNameInputValue)"
                        style="margin-right: .5rem;"
                        type="primary"
                    >查询</Button>
                    <Button
                        size="large"
                        icon="md-add"
                        style="margin-right: .5rem;"
                        @click="modal1=true"
                        type="success"
                    >新增导航</Button>
                </FormItem>
            </Form>
        </Card>
        <Divider />
        <Card style="padding: 2rem;">
            <div v-if="navigateData.length > 0">
                <Table :columns="navigateList" :data="navigateData"></Table>
                 <div style="text-align: center;margin-top: 1rem;">
                    <Page @on-change="getData" :total="totalCount" show-elevator />
                </div>
            </div>
            <div v-else class="n-empty">
                <Icon type="ios-cafe-outline" />
                <span>暂无信息</span>
            </div>
        </Card>
        <Modal v-model="modal1" :title="modelTitle" @on-ok="saveData" @on-cancel="()=>{}">
            <Alert>用于配置页面底部导航，可以配置3-5个底部导航。</Alert>
            <Row class="nav">
                <Col :style="{width: 100/navigateCount + '%'}" v-for="(item, index) in navigateInfo.data" :key="index" class="item">
                    <img :src="item.images" alt />
                    <p 
                        v-if="navigateInfo.style.titleShow === '1'"
                        class="n-title" 
                        :style="{
                            'color': index == 0 ? navigateInfo.style.selectColor : navigateInfo.style.titleColor
                        }"
                        >{{item.title}}</p>
                </Col>
            </Row>
            <Button @click="addNavigation" type="primary" class="n-addnavigation">增加标签</Button>
            <div class="n-card">
                <div class="n-set-vertical-scroll" style="height:410px;padding: 0 10px;">
                    <Form ref="validate" :label-width="80">
                        <FormItem label="标题">
                            <Input v-model="page.name" placeholder="导航标题"></Input>
                        </FormItem>
                        <FormItem label="描述">
                            <Input v-model="page.description" placeholder="导航描述"></Input>
                        </FormItem>
                    </Form>
                    <Tabs name="icon" :animated="false">
                        <TabPane label="样式配置" tab="icon">
                            <Form ref="validate" :label-width="80">
                                <FormItem label="是否配置标题">
                                    <RadioGroup v-model="navigateInfo.style.titleShow">
                                        <Radio label="0">不展示</Radio>
                                        <Radio label="1">展示</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <FormItem label="默认态颜色" class="n-position-static">
                                    <ColorPicker v-model="navigateInfo.style.titleColor" />
                                    <Button
                                        v-model="navigateInfo.style.titleColor"
                                        @click="resetColor(0)"
                                    >重置</Button>
                                </FormItem>
                                <FormItem label="选中态颜色" class="n-position-static">
                                    <ColorPicker v-model="navigateInfo.style.selectColor" />
                                    <Button
                                        v-model="navigateInfo.style.selectColor"
                                        @click="resetColor(1)"
                                    >重置</Button>
                                </FormItem>
                            </Form>
                        </TabPane>
                        <TabPane label="数据配置" tab="icon">
                            <Collapse v-model="panel" v-for="(item, index) in navigateInfo.data" :key="index" style="margin-bottom: 10px;">
                                <Panel :name="index+''">
                                    Icon标签
                                    <div class="n-delete" @click.stop.prevent="() => {}">
                                        <Button icon="ios-trash-outline" shape="circle" @click="deleteNavigation(index)"></Button>
                                    </div>
                                    <div slot="content">
                                        <Form ref="formValidate" :label-width="80">
                                            <FormItem label="Icon标题">
                                                <Input v-model="item.title" placeholder="Icon字数为2~4个汉字"></Input>
                                            </FormItem>
                                            <FormItem label="默认态图片">
                                                <image-upload
                                                    :imageUrl.sync="item.images"
                                                    :onBeforeUpload="onBeforeUpload"
                                                ></image-upload>
                                            </FormItem>
                                            <FormItem label="选中态图片">
                                                <image-upload
                                                    :imageUrl.sync="item.selectImages"
                                                    :onBeforeUpload="onBeforeUpload"
                                                ></image-upload>
                                            </FormItem>
                                            <FormItem label="跳转链接">
                                                <!-- <Input v-model="item.router" placeholder="请输入有效链接"></Input> -->
                                                <linkType :linkInfo="item"></linkType>
                                            </FormItem>
                                        </Form>
                                    </div>
                                </Panel>
                            </Collapse>
                        </TabPane>
                    </Tabs>
                </div>
            </div>
        </Modal>
    </div>
</template>
<script>
import ImageUpload from "../common/ImageUpload"
export default {
    components: {
        "image-upload": ImageUpload
    },
    data() {
        return {
            modal1: false,
            page: {
                name: '',
                description: '',
                id: '',
                identityId: null,
                type: ''
            },
            maxNavigateCount: 5,
            minNavigateCount: 3,
            navigateCount: 3,
            panel: [0, 1, 2],
            navigateInfo: {
                style: {
                    titleShow: '1',//1展示标题 2不展示标题
                    titleColor: "#333333",
                    selectColor: "#f00000"
                },
                data: [
                    {
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/20983/16/10753/6124/5c8a16aaE5d6b15d7/01e0e818a7505267.png",
                        selectImages: "",
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: ""
                        }
                    },
                    {
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/17169/3/4127/4611/5c2f35cfEd87b0dd5/65c0cdc1362635fc.png",
                        selectImages: "",
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: ""
                        }
                    },
                    {
                        title: "默认标题",
                        images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/22262/9/1470/4527/5c120cd0E5d3c6c66/4792ec307a853e9f.png",
                        selectImages: "",
                        jumpLinkInfo: {
                            linkType: "0",
                            identityId: "",
                            linkUrl: ""
                        }
                    }
                ]
            },
            navigateList: [
                {
                    title: "导航id",
                    key: "id",
                    width: "100px",
                    align: "center"
                },
                {
                    title: "导航名称",
                    key: "name",
                    width: "260px",
                    align: "center"
                },
                {
                    title: "导航描述",
                    key: "description",
                    align: "center"
                },
                {
                    title: "创建者",
                    key: "createUser",
                    width: "200px",
                    align: "center"
                },
                {
                    title: "状态",
                    key: "state",
                    width: "100px",
                    align: "center",
                    render: (h, params) => {
                        return h("div", [
                            params.row.state == 0?'未上线':'已上线'
                        ])
                  }
                },
                {
                    title: "创建时间/修改时间",
                    key: "createTime",
                    align: "center"
                },
                {
                    title: "操作",
                    key: "option",
                    render: (h, params) => {
                        return h("div", [
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small",
                                        disabled: (params.row.state == 1)
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定上线此条页面数据</p>",
                                                onOk: () => {
                                                    this.onlineData(params.row.id);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "上线"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.row.id);
                                        }
                                    }
                                },
                                "编辑"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small",
                                        disabled: (params.row.type == 1)
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.setHomeNav(params.row.id);
                                        }
                                    }
                                },
                                "主页导航"
                            ),
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "error",
                                        size: "small"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title: "提示",
                                                content:
                                                    "<p>是否确定删除此条页面数据</p>",
                                                onOk: () => {
                                                    this.delete(params.row.id);
                                                },
                                                onCancel: () => {
                                                    this.$Message.info(
                                                        "取消操作"
                                                    );
                                                }
                                            });
                                        }
                                    }
                                },
                                "删除"
                            )
                        ]);
                    }
                }
            ],
            navigateData: [],
            formItem: {},
            formValidate: {},
            validate: {},
            totalCount: 0,
            pageNo: 1,
            modelTitle: '新增导航',
            navIdInputValue: '',
            navNameInputValue: ''
        };
    },
    mounted() {
        this.getData()
        // if (this.page.id == '') {
        //     console.log(1)
        // }else{
        //     console.log(2)
        // }
    },
    methods: {
        edit(id) {
            this.modelTitle = '编辑导航'
            this.modal1 = true
            this.getDataById(id)
        },
        delete(id) {
            this.$axios
                .request({
                    url: `/jdh/navbar/deleteById?id=${id}`,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success('删除成功')
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        addNavigation() {
            if(this.navigateCount > 4){
                this.$Message.error("最多支持5组Icon配置");
                return;
            }
            this.panel.push(this.navigateCount)
            this.navigateCount++
            this.navigateInfo.data.push(
                {
                    title: "123",
                    images: "https://m.360buyimg.com/mobilecms/s120x120_jfs/t1/22262/9/1470/4527/5c120cd0E5d3c6c66/4792ec307a853e9f.png",
                    selectImages: "",
                    router: ""
                }
            )
        },
        deleteNavigation(index) {
            if(this.navigateCount < 4){
                this.$Message.error("最少支持3组Icon配置");
                return;
            }
            this.panel.splice(index, 1);
            this.navigateCount--
            this.navigateInfo.data.splice(index, 1);
        },
        resetColor(index) {
            if(index == 0){
                this.navigateInfo.style.titleColor = "#333333";
            }else{
                this.navigateInfo.style.selectColor = "#f00000";
            }
        },
        onBeforeUpload(file, img) {
            if (img.width !== 120) {
                return "图片宽度必须是120px";
            }
            if (img.height !== 120) {
                return "图片高度必须是120px";
            }
            return null;
        },
        saveData() {
            let navData = {
                configData: JSON.stringify(this.navigateInfo),
                id: this.page.id,
                projectId: this.$route.query.id,
                identityId: this.page.identityId,
                type: this.page.type,
                name: this.page.name,
                description: this.page.description,
            }
            this.$axios
                .request({
                    url: `/jdh/navbar/save`,
                    data: navData,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        if(this.page.id == ''){
                            this.$Message.success("保存成功");
                        }else{
                            this.$Message.success("修改成功");
                        }
                        this.resetForm()
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        getData(v, id, name) {
            if(v){
                this.pageNo = v
            }
            this.$axios
                .request({
                    url: `/jdh/navbar/list?pageNo=${this.pageNo}&pageSize=10&projectId=${this.$route.query.id}&id=${this.navIdInputValue}&name=${this.navNameInputValue}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.navigateData = res.data.result.result;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        getDataById(id) {
            this.$axios
                .request({
                    url: `jdh/navbar/detail?id=${id}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let getConfigData = JSON.parse(res.data.result.configData)
                        this.navigateInfo.style = getConfigData.style
                        this.navigateInfo.data = getConfigData.data
                        this.page.name = res.data.result.name
                        this.page.description = res.data.result.description
                        this.page.id = res.data.result.id
                        this.page.identityId = res.data.result.identityId,
                        this.page.type = res.data.result.type
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        onlineData(id){
            this.$axios
                .request({
                    url: `/jdh/navbar/publish?id=${id}`,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success('上线成功')
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        setHomeNav(id) {
            this.$axios
                .request({
                    url: `/jdh/navbar/asHome?id=${id}`,
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success('主页导航设置成功')
                        this.getData()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        resetForm() {
            this.page.name = ''
            this.page.description = ''
            this.page.id = ''
            this.page.identityId = null
            this.page.type = ''
            this.navigateCount = 3
            this.panel = [0, 1, 2]
            this.navigateInfo.style.titleShow = '1'
            this.navigateInfo.style.titleColor = "#333333",
            this.navigateInfo.style.selectColor = "#f00000"
            let formData = this.navigateInfo.data
            formData = []
            for(let i = 0; i < 3; i++){
                let items = {images: '', router: '', selectImages: '', title: '默认标题'}
                formData.push(items)   
            }
        }
    }
};
</script>
<style lang="less" scoped>
.n-empty {
    text-align: center;
    /deep/ .ivu-icon-ios-cafe-outline {
        font-size: 40px;
        display: block;
    }
    span {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        display: block;
    }
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #e8e8e8;
    padding-bottom: 10px;
    .item {
        img {
            width: 40px;
            height: 40px;
            margin: 10px auto 0px auto;
            display: block;
        }
        .n-title {
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            margin-top: 5px;
            text-align: center;
        }
    }
}
.n-addnavigation {
    margin: 10px 0;
}
.n-card {
    border: 1px solid #e8e8e8;
    padding: 10px;
    .n-set-vertical-scroll {
        .ivu-tabs {
            height: auto;
        }
        .n-delete {
            float: right;
            margin-right: 15px;
        }
    }
}
/deep/ .ivu-form-item {
    margin-bottom: 10px;
}

</style>
