<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="name" class="n-position-static">
                <ColorPicker v-model="color" alpha />
                <Button v-model="color" @click="resetBgColor">重置</Button>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        colorData: {
            type: Object,
            default: {}
        },
        name: {
            type: String,
            default: ''
        },
        field: {
            type: String,
            default: ''
        },
        resetColor: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
        };
    },
    computed: {
        color: {
            get: function() {
                let color = this.colorTransform(this.colorData[this.field])
                return color
            },
            set: function(newValue) {
                this.$set(this.colorData, this.field, this.rgbaTransform(newValue))
            }
        }
    },
    methods: {
        resetBgColor() {
            this.colorData[this.field] = this.resetColor
        },
        rgbaTransform(color) {
             var values = color
                 .replace(/rgba?\(/, '')
                 .replace(/\)/, '')
                 .replace(/[\s+]/g, '')
                 .split(',');
             var a = parseFloat(values[3] || 1),
                 r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
                 g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
                 b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255);
             var setTrans = ((a* 255).toString(16)).split('.')[0]
             var aValue = setTrans.length == '1'? '0' + setTrans : setTrans
             return "#" +
                 aValue +
                 ("0" + r.toString(16)).slice(-2) +
                 ("0" + g.toString(16)).slice(-2) +
                 ("0" + b.toString(16)).slice(-2);
         },
    }
};
</script>