<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="name">
                <Input v-model="fontSizeData[field]" placeholder="请输入标题字体大小" style="width: 130px;" class="n-input" type="number"></Input>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        fontSizeData: {
            type: Object,
            default: {}
        },
        name: {
            type: String,
            default: ''
        },
        field: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
        };
    },
    methods: {},
    computed: {},
};
</script>
<style lang="less" scoped>
    .n-input {
        float: left;
        margin: 5px 5px 0 0;
    }
</style>