<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="name" class="n-position-static">
                <div class="n-tips">底部</div>
                <div class="n-color">
                    <ColorPicker v-model="color" alpha />
                    <Button v-model="color" @click="resetBgColor">重置</Button>
                </div>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        borderData: {
            type: Object,
            default: () => {}
        },
        name: {
            type: String,
            default: ''
        },
        field: {
            type: String,
            default: ''
        },
        resetColor: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
        };
    },
    computed: {
        color: {
            get: function() {
                console.log(this.borderData)
                let color = this.colorTransform(this.borderData[this.field])

                return color
            },
            set: function(newValue) {
                this.$set(this.borderData, this.field, this.rgbaTransform(newValue))
            }
        }
    },
    methods: {
        resetBgColor() {
            this.borderData[this.field] = this.resetColor
        },
        rgbaTransform(color) {
             var values = color
                 .replace(/rgba?\(/, '')
                 .replace(/\)/, '')
                 .replace(/[\s+]/g, '')
                 .split(',');
             var a = parseFloat(values[3] || 1),
                 r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
                 g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
                 b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255);
             var setTrans = ((a* 255).toString(16)).split('.')[0]
             var aValue = setTrans.length == '1'? '0' + setTrans : setTrans
             return "#" +
                 aValue +
                 ("0" + r.toString(16)).slice(-2) +
                 ("0" + g.toString(16)).slice(-2) +
                 ("0" + b.toString(16)).slice(-2);
         },
    }
};
</script>
<style lang="less" scoped>
    .n-input {
        float: left;
        margin: 5px 5px 0 0;
    }
    .n-tips {
        display: inline-block;
        border-top: 1px solid #dcdee2;
        border-bottom: 1px solid #dcdee2;
        border-left: 1px solid #dcdee2;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        vertical-align: middle;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #f8f8f9;
    }
    .n-color {
        display: inline-block;
    }
</style>