<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="name">
                <Input
                    :disabled="flag[0]"
                    v-model="flagData[0]"
                    class="n-input"
                    placeholder="请输入……"
                    style="width: 130px;"
                    :type="inputType"
                >
                    <span slot="prepend">上图片</span>
                </Input>
                <Input
                    :disabled="flag[1]"
                    v-model="flagData[1]"
                    class="n-input"
                    placeholder="请输入……"
                    style="width: 130px;"
                    :type="inputType"
                >
                    <span slot="prepend">右图片</span>
                </Input>
                <Input
                    :disabled="flag[2]"
                    v-model="flagData[2]"
                    class="n-input"
                    placeholder="请输入……"
                    style="width: 130px;"
                    :type="inputType"
                >
                    <span slot="prepend">下图片</span>
                </Input>
                <Input
                    :disabled="flag[3]"
                    v-model="flagData[3]"
                    class="n-input"
                    placeholder="请输入……"
                    style="width: 130px;"
                    :type="inputType"
                >
                    <span slot="prepend">左图片</span>
                </Input>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        flagData: {
            type: Array,
            default: {}
        },
        name: {
            type: String,
            default: ""
        },
        flag: {
            type: Array,
            default: () => [false, false, false, false]
        },
        inputType: {
            type: Number,
            default: ""
        },
    },
    data() {
        return {};
    },
    methods: {},
    computed: {}
};
</script>
<style lang="less" scoped>
.n-input {
    float: left;
    margin: 5px 5px 0 0;
}
</style>