<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="cardSizeData.name">
                <Input v-model="size" placeholder="请输入边距大小" style="width: 120px;" type="number"></Input>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        cardSizeData: {
            type: Object,
            default: {}
        }
    },
    data() {
        return {
        };
    },
    methods: {},
    computed: {
        size: {
            get: function() {
                let getConfigData = this.cardSizeData.modifyField[this.cardSizeData.modify][this.cardSizeData.style][this.cardSizeData.field]
                let cornerList = '0'
                getConfigData.map((value,index) => {
                    if(value != '0'){
                        cornerList = value
                        return
                    }
                })

                return cornerList;
            },
            set: function(newValue) {
                let cornerList = ['0', '0', '0', '0']
                let getConfigData = this.cardSizeData.modifyField[this.cardSizeData.modify][this.cardSizeData.style][this.cardSizeData.field]
                getConfigData.map((value,index) => {
                    if(value != '0'){
                        cornerList[index] = newValue
                    }
                })
                this.$set(this.cardSizeData.modifyField[this.cardSizeData.modify][this.cardSizeData.style], this.cardSizeData.field, cornerList);
            }
        }
    },
};
</script>