<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="name">
                <Input 
                    v-model="inputData[field]" 
                    :placeholder="placeholder" 
                    :style="{width: width + 'px'}" 
                    class="n-input" 
                    :type="inputType"></Input>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        inputData: {
            type: Object,
            default: {}
        },
        name: {
            type: String,
            default: ''
        },
        field: {
            type: String,
            default: ''
        },
        placeholder: {
            type: String,
            default: ''
        },
        width: {
            type: String,
            default: '130'
        },
        inputType: {
            type: String,
            default: null
        },
    },
    data() {
        return {
        };
    },
    methods: {},
    computed: {},
};
</script>
<style lang="less" scoped>
    .n-input {
        float: left;
    }
</style>