<template>
    <div>
        <Form :label-width="100">
            <FormItem :label="name">
                <Input v-model="cornerData[0]" class="n-input" placeholder="请输入……" style="width: 130px;" type="number"><span slot="prepend">左上</span></Input>
                <Input v-model="cornerData[1]" class="n-input" placeholder="请输入……" style="width: 130px;" type="number"><span slot="prepend">右上</span></Input>
                <Input v-model="cornerData[2]" class="n-input" placeholder="请输入……" style="width: 130px;" type="number"><span slot="prepend">右下</span></Input>
                <Input v-model="cornerData[3]" class="n-input" placeholder="请输入……" style="width: 130px;" type="number"><span slot="prepend">左下</span></Input>
            </FormItem>
        </Form>
    </div>
</template>
<script>
export default {
    name: "pageDecorate",
    props: {
        cornerData: {
            type: Array,
            default: {}
        },
        name: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
        };
    },
    methods: {},
    computed: {},
};
</script>
<style lang="less" scoped>
    .n-input {
        float: left;
        margin: 5px 5px 0 0;
    }
</style>