<!--
  搜索 — 编辑
 -->
 <template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="100">
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.prefixDoteRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <FormItem label="背景图">
                        <image-upload
                            :imageUrl.sync="data.style.bgImgUrl"
                            :onBeforeUpload="onBgBeforeUpload"
                        ></image-upload>
                        <Alert show-icon>图片宽度1125px，不大于2M</Alert>
                    </FormItem>
                    <!-- <margin
                        :marginSizeData="data.items[0].style.margin"
                        name="卡片边距设置"
                    ></margin>
                   <padding
                        :paddingSizeData="data.items[0].style.padding"
                        name="卡片留白设置"
                    ></padding>
                    <color
                        :colorData="data.items[0].style"
                        field ="bgColor"
                        name="卡片背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <corner
                        :cornerData="data.items[0].style.cornerRadius"
                        name="卡片圆角"
                    ></corner> -->
                    <FormItem label="定位功能">
                        <RadioGroup v-model="data.items[0].style.location">
                            <Radio label="false">不展示</Radio>
                            <Radio label="true">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="文案位置">
                        <RadioGroup v-model="data.items[0].style.align">
                            <Radio label="left">默认</Radio>
                            <Radio label="center">居中</Radio>
                        </RadioGroup>
                    </FormItem>
                    <corner
                        :cornerData="data.items[0].style.cornerRadius"
                        name="搜索背景圆角"
                    ></corner>
                    <color
                        :colorData="data.items[0].style"
                        field ="bgColor"
                        name="搜索框背景"
                        resetColor="#33FFFFFF"
                    ></color>
                    <inputItem 
                        :inputData="data.items[0].style"
                        name="搜索高度"
                        field="height"
                        placeholder="请输入高度……"
                        inputType="number"
                    ></inputItem>
                    <!-- <inputItem 
                        :inputData="data.items[0].style"
                        name="搜索宽度"
                        field="width"
                        placeholder="请输入宽度……"
                        inputType="number"
                    ></inputItem> -->
                    <FormItem label="搜索图标">
                        <image-upload
                            :imageUrl.sync="data.items[0].searchImgUrl"
                        ></image-upload>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
                <Form :label-width="80" class="n-search-form">
                    <Form-item label="搜索文案">
                        <i-input v-model="data.items[0].searchText" placeholder="展示文案"></i-input>
                    </Form-item>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import { mapMutations } from "vuex";
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import inputItem from "../commonDecorate/pageDecorateInput"
import ImageUpload from "../ImageUpload"
export default {
    name: "",
    props: ["data", "element"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        inputItem: inputItem,
        ImageUpload: ImageUpload
    },
    data() {
        return {};
    },
    methods: {
        onBgBeforeUpload(file, img) {
            if (img.width != 1125) {
                return "图片宽度必须是1125px";
            }
            return null;
        }
    }
};
</script>
<style lang="less" scoped>
.n-search-form {
    height: 300px;
}
/deep/ .ivu-form-item {
    margin-bottom: 10px;
}
</style>