<!--
  搜索 — 预览
 -->
 <template>
        <div class="n-search-wrap" 
            :style="{
                backgroundColor: colorTransform(data.style.bgColor),
                backgroundImage: 'url('+data.style.bgImgUrl +')',
                padding: data.style.padding[0]+'px '+data.style.padding[1]+'px '+data.style.padding[2]+'px '+data.style.padding[3]+'px',
                margin:data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            }">

            <div
                :style="{
                    backgroundImage:'url('+  data.items[0].style.bgImgUrl +')',
                    padding: data.items[0].style.padding[0]+'px '+ data.items[0].style.padding[1]+'px '+ data.items[0].style.padding[2]+'px '+ data.items[0].style.padding[3]+'px',
                    margin: data.items[0].style.margin[0]+'px '+ data.items[0].style.margin[1]+'px '+ data.items[0].style.margin[2]+'px '+  data.items[0].style.margin[3]+'px',
                    borderRadius: data.style.prefixDoteRadius[0]+'px '+ data.style.prefixDoteRadius[1]+'px '+ data.style.prefixDoteRadius[2]+'px '+ data.style.prefixDoteRadius[3]+'px',
                    height: data.items[0].style.height + 'px',
                    lineHeight: data.items[0].style.height + 'px'
                }"
            >
                <div class="n-address fl" v-if="data.items[0].style.location == 'true'">北京<i></i></div>
                <div class="n-search fr" 
                    :style="{
                        'width': data.items[0].style.location == 'true'? '82%' : '100%'
                    }"
                >
                    <div class="n-relative">
                        <div class="n-search-icon"
                            :style="{
                                'border-color': colorTransform(data.items[0].style.bgColor),

                                'border-top-left-radius': data.items[0].style.cornerRadius[0] + 'px',
                                'border-top-right-radius': data.items[0].style.cornerRadius[1] + 'px',
                                'border-bottom-left-radius': data.items[0].style.cornerRadius[2] + 'px',
                                'border-bottom-right-radius': data.items[0].style.cornerRadius[3] + 'px',
                                'text-align': data.items[0].style.align,
                                'backgroundColor': colorTransform(data.items[0].style.bgColor)
                            }"
                        >
                            <div class="n-search-content">
                                <i :style="{backgroundImage:'url('+  data.items[0].searchImgUrl +')',}"></i>
                                {{data.items[0].searchText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        export default {
            name: "search",
            props: ['data', 'element'],
            data () {
                return {}
            },
            methods: {
                colorTransform(colorData) {
                    if(colorData.length == '9'){
                        let transparent = colorData.substring(1, 3)
                        let colorValue = colorData.substring(3, colorData.length)
                        return '#' + colorValue + transparent
                    }else{
                        return colorData
                    }
                }
            }
        }
    </script>
    <style lang="less" scoped>
        .n-search-wrap {
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .n-search {
            width: 82%;
            .n-search-icon {
                border-style: solid;
                border-width: 1px;
                .n-search-content {
                    padding: 0 15px;
                    color: #fff;
                    font-size: 12px;
                    i {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        vertical-align: sub;
                        margin-right: 5px;
                    }
                }
            }
            /deep/.ivu-input-wrapper {
                .ivu-input {
                    padding-left: 32px;
                    padding-right: 7px;
                    border-radius: 15px;
                    height: 30px;
                }
            }
            .n-address {
                font-size: 14px;
                line-height: 36px;
                color: #fff;
                i {
                    font-style: normal;
                    display: inline-block;
                    background-image: url(https://m.360buyimg.com/babel/jfs/t1/104693/22/373/416/5dad0e44E5f2adf56/a9b8eead9865b1f8.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 10px;
                    height: 8px;
                    vertical-align: middle;
                    margin: 0 5px;
                }
            }
        }
        
        /deep/ .ivu-input-icon {
            left: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            z-index: 1;
        }
        /deep/ .ivu-input {
            background-color: rgba(0, 0, 0, .0)
        }
    </style>