<template>
  <div
    class="slogan-container"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <ul
      class="slogan-list"
      :style="{height:element.data.style.height+'px',lineHeight:element.data.style.height+'px',justifyContent:element.data.style.align}"
      v-if="element.data.style.sloganType==='0'"
    >
      <li
        v-for="(item,index) in element.data.items"
        :key="index"
        :style="{color:item.textColor,fontSize:element.data.items[0].fontSize+'px'}"
      >
        <span class="listType" :style="{backgroundColor:item.textColor}"></span>
        {{item.text}}
      </li>
    </ul>
    <div
      class="imgContainer"
      v-else
      :style="{height:element.data.style.height+'px',lineHeight:element.data.style.height+'px'}"
    >
      <img :src="element.data.items[0].imgUrl?element.data.items[0].imgUrl:defaultImgUrl" alt />
    </div>
  </div>
</template>
    
<script>
export default {
  name: "slogan",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.slogan-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.slogan-list {
  display: flex;
  justify-content: center;
  overflow: hidden;
  li {
    padding: 0 8px;
    text-align: center;
  }
}
.imgContainer {
  overflow: hidden;
}
.listType {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 6px;
  border-radius: 50%;
}
</style>