<template>
  <div
    class="floorSpacing-container"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',height:element.data.items[0].style.height+'px'}"
  ></div>
</template>
    
<script>
export default {
  name: "textLine",
  props: ["index", "element"],
  data() {
    return {};
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.floorSpacing-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
</style>