<template>
  <Tabs :animated="false" v-model="tabValue">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <h4 class="configTitlte">基础配置</h4>
          <FormItem label="交互样式">
              <RadioGroup v-model="element.data.style.column" @on-change="columnChange">
                <Radio label="1">通栏</Radio>
                <Radio label="2">双图</Radio>
                <Radio label="3">三图</Radio>
                <Radio label="4">四图</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="广告高度">
              <RadioGroup v-model="customHeight">
                <Radio :label="100">低(100)</Radio>
                <Radio :label="126">中(126)</Radio>
                <Radio :label="162">高(162)</Radio>
                <Radio label="custom">自定义</Radio>
              </RadioGroup>
            </FormItem>

            <FormItem v-if="customStyle=='customValue'">
              <InputNumber v-model="element.data.ext.style.itemHeight"></InputNumber>
            </FormItem>
            <floorConfig :styleData="element.data.style"></floorConfig>
            <FormItem label="图片左右间距" v-if="element.data.style.column!=1">
              <Input v-model="element.data.ext.style.margin[1]" class="inputSetting" type="number" />
            </FormItem>
            <FormItem label="图片上边距">
              <Input v-model="element.data.ext.style.margin[0]" class="inputSetting" type="number" />
            </FormItem>
            <FormItem label="图片圆角">
              <Input v-model="element.data.style.itemCornerRadius" class="inputSetting" type="number" />
            </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace</Radio>
              <Radio label="201">互医</Radio>
              <Radio label="401">写手</Radio>
            </RadioGroup>
          </FormItem>

          <div v-if="element.data.ext.dataSourceType1=='301'">
            <Alert>图片宽{{imgWidth}}px，高{{imgHeight}}px，不大于2M</Alert>
            <Row class="headTitle">
              <Col span="4">上传图片</Col>
              <Col span="20">跳转地址</Col>
            </Row>
            <Row v-for="(item,index) in element.data.items" :key="index" class="listRow">
              <Col span="4">
                <ImageUpload
                  :imageUrl.sync="item.pictureUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="(res)=> handleSuccess(res,index)"
                ></ImageUpload>
              </Col>
              <Col span="20">
                <linkType :linkInfo="item"></linkType>
              </Col>
            </Row>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='201'">
            <netAdvert
              :element="element"
              data-source="nethuyi"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='401'">
            <netAdvert
              :element="element"
              data-source="xieshou"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="楼层定投" name="floorTargeted">
      <div class="form-content" v-if="tabValue=='floorTargeted'">
        <floorTargeted :element="element"></floorTargeted>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
import jdLogo from "../../img/jdLogo.png";
export default {
  name: "advertisementEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      tabValue: "styleTab",
      dataSource: "manual",
      InputNumber: 100,
      customStyle: "",
      // marginType1: [],
    };
  },
  computed: {
    imgWidth() {
      let widthDefault =
        1125 -
        this.element.data.style.margin[1] * 3 -
        this.element.data.style.margin[3] * 3 -
        this.element.data.style.padding[1] * 3 -
        this.element.data.style.padding[3] * 3 -
        this.element.data.ext.style.margin[1]*(this.element.data.style.column - 1)*3;
debugger
        console.log(widthDefault);
      if (this.element.data.style.column == 1) {
        return Math.round(widthDefault);
      } else if (this.element.data.style.column == 2) {
        return Math.round(widthDefault / 2);
      } else if (this.element.data.style.column == 3) {
        return Math.round(widthDefault / 3);
      } else {
        return Math.round(widthDefault / 4);
      }
    },
    imgHeight() {
      return this.element.data.ext.style.itemHeight * 3;
    },
    customHeight: {
      get: function() {
        if (
          this.element.data.ext.style.itemHeight == "100" ||
          this.element.data.ext.style.itemHeight == "126" ||
          this.element.data.ext.style.itemHeight == "162"
        ) {
          this.customStyle = "";
          return this.element.data.ext.style.itemHeight;
        } else {
          this.customStyle = "customValue";
          return "custom";
        }
      },
      set: function(newValue) {
        if (newValue != "custom") {
          this.$set(this.element.data.ext.style, "itemHeight", newValue);
        } else {
          this.customStyle = "customValue";
        }
      }
    }
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    // 改变列数
    columnChange() {
      let adColumn = this.element.data.style.column;
      let itemsLength = this.element.data.items.length;
      if (itemsLength > adColumn) {
        this.element.data.items.splice(adColumn);
      } else if (itemsLength < adColumn) {
        for (let i = 0; i < adColumn - itemsLength; i++) {
          this.element.data.items.push({
            type: "image",
            pictureUrl: "",
            jumpLinkInfo: {
              linkType: "0", //跳转类型
              identityId: "", //跳转页面的链接
              linkUrl: ""
            }
          });
        }
      }
    },
    handleSuccess(res, index) {
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
        if (img.width !== this.imgWidth || img.height !== this.imgHeight) {
          return (
            "请上传宽" +
            this.imgWidth +
            "px，高" +
            this.imgHeight +
            "px的图片！"
          );
        }
      return null;
    },
    // 获取互联网医院获取数据
    getResultData(data) {
      console.log(data);
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.itemCornerRadius": {
      handler: function(newer, older) {
        this.element.data.ext.style.cornerRadius = [
          this.element.data.style.itemCornerRadius + "",
          this.element.data.style.itemCornerRadius + "",
          this.element.data.style.itemCornerRadius + "",
          this.element.data.style.itemCornerRadius + ""
        ];
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    imgWidth: {
      handler: function(newer, older) {
        this.element.data.ext.style.aspectRatio = (newer / this.imgHeight).toFixed(2);
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    imgHeight: {
      handler: function(newer, older) {
        this.element.data.ext.style.aspectRatio = (this.imgWidth / newer).toFixed(2);
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.headTitle {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #eee;
}
.listRow {
  text-align: center;
}

.resetBtn {
  margin-left: 10px;
}
.inputSetting {
  width: 85px;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
</style>