<template>
  <div
    class="advertisement-container"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <Row>
      <Col
        :span="24/element.data.style.column"
        v-for="(item,index) in element.data.items"
        :key="index"
        class="item-wrap"
        :style="{paddingRight:element.data.ext.style.margin[1]+'px'}"
      >
        <a
          href="javascript:void(0)"
          class="advertisement-container-item"
          :style="{height:element.data.ext.style.itemHeight+'px',borderRadius:element.data.ext.style.cornerRadius[0]+'px',marginTop:element.data.ext.style.margin[0]+'px'}"
        >
          <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
        </a>
      </Col>
    </Row>
  </div>
</template>

<script>
export default {
  name: "advertisement",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.advertisement-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .item-wrap {
    overflow: hidden;
  }
  .advertisement-container-item {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    background: url("../../img/jdLogo.png") no-repeat 0 0 100% 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>