<template>
  <div
    class="textTitle"
    :style="{height:element.data.items[0].style.height+'px',backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <span
      class="title-name"
      :style="{color:element.data.items[0].titleColor,fontSize:element.data.items[0].fontSize+'px',fontWeight:element.data.items[0].fontWeight,}"
      :class="{'marginAuto':element.data.items[0].align=='center'}"
    >{{element.data.items[0].title}}</span>
    <span
      class="sub-title-name"
      v-if="element.data.items[0].subTitleShow"
      :style="{color:element.data.items[0].subTitleColor,fontSize:element.data.items[0].subFontSize+'px'}"
    >{{element.data.items[0].subTitle}}</span>
    <a class="linkType" href="javascript:void(0)" v-if="element.data.items[0].linkShow">
      <div class="entry" v-if="element.data.items[0].linkStyle=='0'">
        <span :style="{color:element.data.items[0].linkColor}">{{element.data.items[0].enterText}}</span>

        <img
          :src="element.data.items[0].arrowImgUrl!=''?element.data.items[0].arrowImgUrl:defaultArrowImgUrl"
          alt
        />
      </div>
      <div class="more" v-show="element.data.items[0].linkStyle=='1'">
        <img
          :src="element.data.items[0].enterImgUrl!=''?element.data.items[0].enterImgUrl:defaultEnterImgUrl"
          alt
        />
      </div>
    </a>
  </div>
</template>

<script>
export default {
  name: "decorateTitle",
  props: ["index", "element"],
  data() {
    return {
      defaultArrowImgUrl:
        "https://m.360buyimg.com/babel/jfs/t1/61752/18/12612/741/5d9fd606Ec5ad7bb8/542bb2842033ae14.png",
      defaultEnterImgUrl:
        "https://m.360buyimg.com/babel/jfs/t1/69261/14/7821/3545/5d5bc089Eb0b78e5a/414c0089d301110f.png"
    };
  },
  computed: {}
};
</script>

<style scoped lang="less">
.textTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .title-name {
  }
  .sub-title-name {
    flex: 1;
    padding-left: 10px;
  }
  .linkType {
    font-size: 1.2rem;
    .entry {
      align-self: flex-end;
      img {
        display: inline-block;
        width: 12px;
        height: 12px;
      }
    }
    .more {
      width: 42px;
      height: 14px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.marginAuto {
  margin: 0 auto;
}
/deep/.ivu-icon-ios-arrow-dropright-circle {
  font-size: 14px;
}
/deep/.ivu-icon-ios-arrow-forward {
  margin-left: -5px;
  vertical-align: middle;
  font-size: 14px;
}
</style>
