<template>
  <div>
    <Tabs :animated="false" value="styleTab">
      <TabPane label="样式配置" name="styleTab">
        <div class="form-content">
          <Form :label-width="100">
            <FormItem label="横向布局">
              <RadioGroup v-model="element.data.style.row">
                <Radio label="1">一行</Radio>
                <Radio label="2">两行</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="纵向布局">
              <RadioGroup v-model="element.data.style.column">
                <Radio label="4">一行4个</Radio>
                <Radio label="5">一行5个</Radio>
              </RadioGroup>
            </FormItem>
            <h4 class="configTitlte">楼层基础配置</h4>
            <floorConfig :styleData="element.data.style"></floorConfig>
            <h4 class="configTitlte">内容样式配置</h4>

            <FormItem label>
              <Checkbox
                v-model="element.data.items[0].subTitleShow"
                @on-change="subTitleChange"
              >配置副标题</Checkbox>
            </FormItem>
            <FormItem label="图片大小">
              <RadioGroup v-model="element.data.ext.style.picWidth">
                <Radio :label="30">小</Radio>
                <Radio :label="40">中</Radio>
                <Radio :label="50">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="图片圆角">
              <RadioGroup v-model="element.data.style.itemCornerRadiusValue">
                <Radio :label="0">直角</Radio>
                <Radio :label="10">小圆角</Radio>
                <Radio :label="15">大圆角</Radio>
                <Radio :label="100">圆形</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="主标题大小">
              <RadioGroup v-model="element.data.ext.style.fontSize">
                <Radio label="12">小</Radio>
                <Radio label="14">中</Radio>
                <Radio label="16">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="副标题大小" v-if="element.data.items[0].subTitleShow">
              <RadioGroup v-model="element.data.ext.style.subFontSize">
                <Radio label="12">小</Radio>
                <Radio label="13">中</Radio>
                <Radio label="14">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="图文间距">
              <RadioGroup v-model="element.data.ext.style.marginTop">
                <Radio label="8">小</Radio>
                <Radio label="12">中</Radio>
                <Radio label="14">大</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem label="主标题颜色">
              <ColorPicker v-model="element.data.ext.style.titleColor" />
              <Button v-model="resetTitleColorValue" @click="resetTitleColor" class="resetBtn">重置</Button>
            </FormItem>
            <FormItem label="副标题颜色" v-if="element.data.items[0].subTitleShow">
              <ColorPicker v-model="element.data.ext.style.subTitleColor" />
              <Button
                v-model="resetSubTitleColorValue"
                @click="resetSubTitleColor"
                class="resetBtn"
              >重置</Button>
            </FormItem>
          </Form>
        </div>
      </TabPane>
      <TabPane label="素材配置" name="settingTab">
        <div class="form-content">
          <Form :label-width="100">
            <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace数据</Radio>
              <Radio label="201">互医数据</Radio>
            </RadioGroup>
          </FormItem>
            <div class="manual" v-if="element.data.ext.dataSourceType1=='301'">
              <Collapse v-model="manualValue" accordion>
                <Panel :name="(index+1)+''" v-for="(item,index) in element.data.items" :key="index">
                  入口{{index+1}}
                  <p slot="content">
                    <Form
                      :ref="'items' + index"
                      :model="item"
                      :rules="ruleValidate"
                      :label-width="100"
                    >
                    <FormItem label="主标题" prop="name">
                      <Input v-model="item.name" :maxlength="10" placeholder="请输入主标题" />
                    </FormItem>
                    <FormItem label="副标题" prop="desc">
                      <Input v-model="item.desc" :maxlength="10" placeholder="请输入副标题" />
                    </FormItem>
                    </Form>
                    <FormItem label="上传图片">
                      <Row :gutter="16">
                        <Col span="5">
                          <ImageUpload
                            :imageUrl.sync="item.pictureUrl"
                            :onBeforeUpload="handleBeforeUpload"
                            :on-success="(res)=> handleSuccess(res,index)"
                          ></ImageUpload>
                        </Col>
                        <Col span="18">
                          <Alert
                            show-icon
                          >图片宽{{element.data.ext.style.picWidth*3}}px，高{{element.data.ext.style.picHeight*3}}px，不大于2M</Alert>
                        </Col>
                      </Row>
                    </FormItem>
                    <FormItem label="跳转方式">
                      <linkType :linkInfo="item"></linkType>
                    </FormItem>
                  </p>
                </Panel>
              </Collapse>
            </div>
            <div v-else-if="element.data.ext.dataSourceType1=='101'">
                <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
              </div>
              <div v-else>
                <netAdvert :element="element" @getresultdata="getResultData($event)"></netAdvert>
              </div>
          </Form>
        </div>
      </TabPane>
      <TabPane label="分流配置" name="bypassTab">
        <div class="form-content">
          <div class="materialBtns" v-if="materialBtnsShow">
            <Button type="primary" icon="md-add" @click="addMaterial">新建并关联素材组</Button>
            <Button type="success" icon="md-infinite" @click="relationGroup">关联素材组</Button>
          </div>

          <div class="materialGroup" v-if="materialGroupShow">
            <Row class="headTitle">
              <Col span="18">素材组</Col>
              <Col span="6">操作</Col>
            </Row>
            <Row>
              <Col span="18">素材组ID：{{materialForm.materialId}}</Col>
              <Col span="6">
                <Button type="success" size="small" ghost @click="addMaterial">编辑广告组</Button>
              </Col>
            </Row>
            <Row>
              <Col span="18">名称：{{materialForm.materialName}}</Col>
              <Col span="6">
                <Button type="primary" size="small" ghost @click>录入素材</Button>
              </Col>
            </Row>
            <Row>
              <Col span="18">展示数量：{{materialForm.materialNumber}}</Col>

              <Col span="6" class="operationBtns">
                <Button type="error" size="small" ghost @click="canselRelation">取消关联</Button>
              </Col>
            </Row>
          </div>
        </div>
      </TabPane>
    </Tabs>
    <!-- 新建素材组弹出框 -->
    <Modal v-model="addMaterialModal" title="新建分类入口素材组">
      <Form :label-width="100" ref="materialForm" :model="materialForm" :rules="materialFormRule">
        <FormItem label="素材组名称" class="ivu-form-item-required" prop="materialName">
          <Input v-model="materialForm.materialName" placeholder="请输入素材组名称" style="width: 300px" />
        </FormItem>
        <FormItem label="展示最大数量">
          <Input
            v-model="materialForm.materialNumber"
            placeholder="请输入素材组名称"
            style="width: 300px"
            disabled
          />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button :loading="modal_loading" @click="addMaterialCancel">取消</Button>
        <Button type="primary" :loading="modal_loading" @click="addMaterialOk(materialForm)">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import jdLogo from "../../img/jdLogo.png";
export default {
  name: "classifyEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      materialIdForm: {
        id: "03985843"
      },
      resetTitleColorValue: this.element.data.ext.style.titleColor,
      resetSubTitleColorValue: this.element.data.ext.style.subTitleColor,
      materialBtnsShow: true,
      materialGroupShow: false,
      addMaterialModal: false,
      modal_loading: false,
      byPassSwitch: false,
      byPassBtn: false,
      manualValue: "1",
      materialForm: {
        materialId: "12345679",
        materialName: "",
        materialNumber: "10"
      },
      // materialGroupInfo: {
      //   materialId: "",
      //   materialName: "",
      //   materialNumber: ""
      // },
      isClickCheck: false,
      rules: {
        advertId: [
          {
            required: true,
            message: "请输入广告组ID",
            trigger: ["blur", "change"]
          },
          {
            type: "string",
            pattern: /^\d+$/,
            message: "格式错误",
            trigger: ["blur", "change"]
          }
        ]
      },
      materialFormRule: {
        materialName: [
          {
            required: true,
            message: "素材组名称不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            min: 0,
            max: 10,
            message: "最多可输入10个字符",
            trigger: "blur"
          }
        ]
      },
      ruleValidate: {
        name: [
          {
            required: true,
            message: "标题不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            min: 2,
            max: 10,
            message: "请输入2-10个字符",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    
    resetTitleColor() {
      this.element.data.ext.style.titleColor = this.resetTitleColorValue;
    },
    resetSubTitleColor() {
      this.element.data.ext.style.SubTitleColor = this.resetSubTitleColorValue;
    },
    // 切换布局
    layoutChange() {
      let classifyRow = this.element.data.style.row;
      let classifyColumn = this.element.data.style.column;
      if (this.element.data.items.length > classifyRow * classifyColumn) {
        this.element.data.items.splice(classifyRow * classifyColumn);
      } else {
        let len = classifyRow * classifyColumn - this.element.data.items.length;
        for (let i = 0; i < len; i++) {
          this.element.data.items.push({
            type: "enreyCube",
            name: "分类标题",
            pictureUrl: "",
            jumpLinkInfo: {
              linkType: "0", //跳转类型
              identityId: "", //跳转页面的链接
              linkUrl: "",
            },
            desc: ""
          });
        }
      }
    },
   
    // 上传图片成功
    handleSuccess(res, index) {
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    // 上传图片验证
    handleBeforeUpload(file, img) {
      if (
        img.width !== this.element.data.ext.style.picWidth * 3 ||
        img.height !== this.element.data.ext.style.picHeight * 3
      ) {
        return (
          "请上传宽" +
          this.element.data.ext.style.picWidth * 3 +
          "px，高" +
          this.element.data.ext.style.picWidth * 3 +
          "px的图片！"
        );
      }

      return null;
    },
    // 配置副标题
    subTitleChange(data) {
      if (data == true) {
        for (let i = 0; i < this.element.data.items.length; i++) {
          this.element.data.items[i].desc = "分类副标题";
        }
        this.$set(
          this.element.data.ext.style,
          "height",
          this.element.data.ext.style.picWidth * 1 +
            this.element.data.ext.style.marginTop * 1 +
            this.element.data.ext.style.fontSize * 1 +
            this.element.data.ext.style.subFontSize * 1 +
            5
        );
      } else {
         for (let i = 0; i < this.element.data.items.length; i++) {
          this.element.data.items[i].desc = "";
        }
        this.$set(
          this.element.data.ext.style,
          "height",
          this.element.data.ext.style.picWidth * 1 +
            this.element.data.ext.style.marginTop * 1 +
            this.element.data.ext.style.fontSize * 1
        );
      }
    },
    // 获取广告组
    queryAdverts() {
      this.isClickCheck = true;
      this.$refs["materialIdForm"].validate(valid => {
        this.isClickCheck = false;
        this.$axios
          .request({
            url: `/material/queryMaterialAdverts?advertId=${this.element.data.ext.advertId}&stage=0`,
            method: "get"
          })
          .then(res => {
            if (res.data.code == 0) {
              // this.filterAdverts(res.data);
              this.element.data.items = [];
              this.element.data.items = this.element.data.items.concat(
                res.data.data
              );
            }
          })
          .catch(err => {
            console.log(err);
          });
      });
    },
    // square(data) {
    //   return Object.assign({ linkType: "0", uuid: "" }, data);
    // },
    // filterAdverts(arr) {
    //   let temp = _.map(arr, this.square);
    //   // this.$set(this.element.data.items[0], "items", temp);
    // },
    // 分流开关
    byPassChange() {
      if (this.byPassSwitch == true) {
        this.byPassBtn = true;
      } else {
        this.byPassBtn = false;
      }
    },
    // 点击配置分流按钮
    goByPass() {
      console.log(this.element.data.ext.advertId);
      this.$router.push({
        path: "/bypass",
        query: { advertId: this.element.data.ext.advertId }
      });
    },
    // 点击新建素材组按钮
    addMaterial() {
      this.addMaterialModal = true;
    },
    // 新建素材组确定按钮
    addMaterialOk(materialForm) {
      if (
        this.materialForm.materialName != "" &&
        this.materialForm.materialName.length < 11
      ) {
        // this.materialGroupInfo = this.materialForm;
        this.$Message.success("添加成功");
        this.materialBtnsShow = false;
        this.materialGroupShow = true;
        setTimeout(() => {
          this.modal_loading = false;
          this.addMaterialModal = false;
        }, 100);
      } else {
        this.$Message.error("请正确填写表单!");
      }
    },
    //关联素材组
    relationGroup() {},
    // 取消新建素材组
    addMaterialCancel() {
      this.modal_loading = true;
      setTimeout(() => {
        this.modal_loading = false;
        this.addMaterialModal = false;
      }, 100);
    },
    // 取消关联
    canselRelation() {},
    // 获取互联网医院获取数据
    getResultData(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.style.row": function() {
      this.layoutChange();
    },
    "element.data.style.column": function() {
      this.layoutChange();
    },
    "element.data.ext.style.picWidth": {
      handler: function(newer, older) {
        this.$set(this.element.data.ext.style, "picHeight", newer);
        if (this.element.data.items[0].subTitleShow) {
          this.$set(
            this.element.data.ext.style,
            "height",
            newer +
              5 +
              this.element.data.ext.style.marginTop * 1 +
              this.element.data.ext.style.fontSize * 1 +
              this.element.data.ext.style.subFontSize * 1
          );
        } else {
          this.$set(
            this.element.data.ext.style,
            "height",
            newer +
              this.element.data.ext.style.marginTop * 1 +
              this.element.data.ext.style.fontSize * 1
          );
        }
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.ext.style.fontSize": {
      handler: function(newer, older) {
        if (this.element.data.items[0].subTitleShow) {
          this.$set(
            this.element.data.ext.style,
            "height",
            this.element.data.ext.style.picWidth * 1 +
              this.element.data.ext.style.marginTop * 1 +
              this.element.data.ext.style.subFontSize * 1 +
              5 +
              newer * 1
          );
        } else {
          this.$set(
            this.element.data.ext.style,
            "height",
            this.element.data.ext.style.picWidth * 1 +
              this.element.data.ext.style.marginTop * 1 +
              newer * 1
          );
        }
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.ext.style.subFontSize": {
      handler: function(newer, older) {
        this.$set(
          this.element.data.ext.style,
          "height",
          this.element.data.ext.style.picWidth * 1 +
            this.element.data.ext.style.marginTop * 1 +
            this.element.data.ext.style.fontSize * 1 +
            5 +
            newer * 1
        );
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.ext.style.marginTop": {
      handler: function(newer, older) {
        if (this.element.data.items[0].subTitleShow) {
          this.$set(
            this.element.data.ext.style,
            "height",
            this.element.data.ext.style.picWidth * 1 +
              newer * 1 +
              5 +
              this.element.data.ext.style.fontSize * 1 +
              this.element.data.ext.style.subFontSize * 1
          );
        } else {
          this.$set(
            this.element.data.ext.style,
            "height",
            this.element.data.ext.style.picWidth * 1 +
              newer * 1 +
              this.element.data.ext.style.fontSize * 1
          );
        }
      },
      deep: true, // 开启深度监听
      immediate: false
    },

    "element.data.style.itemCornerRadiusValue": {
      handler: function(newer, older) {
        this.element.data.ext.style.itemCornerRadius = [];
        let cornerRadius = "";
        if (newer === 0) {
          cornerRadius = "0";
        } else if (newer === 10) {
          cornerRadius = "10";
        } else if (newer === 15) {
          cornerRadius = "15";
        } else {
          cornerRadius = "100";
        }
        this.element.data.ext.style.itemCornerRadius = [
          cornerRadius,
          cornerRadius,
          cornerRadius,
          cornerRadius
        ];
      },
      deep: true, // 开启深度监听
      immediate: false
    }
  }
};
</script>

<style lang="less" scoped>
.headTitle {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #eee;
}
.listRow {
  text-align: center;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
.myform-label /deep/.ivu-form-item-label {
  font-size: 14px;
  text-align: left;
}
.resetBtn {
  margin-left: 10px;
}
.materialBtns {
  margin-top: 30px;
  text-align: center;
  button {
    margin: 0 5px;
  }
}
.operationBtns {
  button {
    display: inline;
  }
}
</style>
