<template>
  <div
    class="classify-container"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <a
      href="javascript:void(0)"
      class="classify-container-item"
      v-for="(item,index) in element.data.items"
      :class="[element.data.style.column === '4'?'colum4':'column5']"
    >
      <div
        class="imgIco"
        :style="{width:element.data.ext.style.picWidth+'px',height:element.data.ext.style.picHeight+'px',borderRadius:element.data.style.itemCornerRadiusValue+'px'}"
      >
        <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
      </div>
      <div class="textLine" :style="{marginTop:element.data.ext.style.marginTop+'px',}">
        <p
          class="titleText"
          :style="{color:element.data.ext.style.titleColor,fontSize:element.data.ext.style.fontSize+'px',lineHeight:element.data.ext.style.fontSize+'px'}"
        >{{item.name!=''?item.name:'分类标题'}}</p>
        <p
          class="subTitleText"
          :style="{color:element.data.ext.style.subTitleColor,fontSize:element.data.ext.style.subFontSize+'px',lineHeight:element.data.ext.style.subFontSize+'px'}"
          v-if="item.desc!=''"
        >{{item.desc}}</p>
      </div>
    </a>
  </div>
</template>

<script>
export default {
  name: "classify",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.colum4 {
  width: 25% !important;
}
.column5 {
  width: 20% !important;
}
.classify-container {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .classify-container-item {
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    .imgIco {
      background: #fff;
      transition: all 0.2s;
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .textLine {
      .titleText {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .subTitleText {
        margin-top: 5px;
      }
    }
  }
}
</style>
