<template>
    <div class="n-wrap" style="padding: 20px;">
        <div class="n-title">{{ name }}</div>
        <div ref="myEchart" style="width: 600px;height: 600px;margin: 0 auto;"></div>
    </div>
</template>
<script>
import echarts from "echarts";
export default {
    props: {
        dataInit: {
            type: Array,
            default: []
        },
        text: {
            type: String,
            default: "标题"
        },
        subtext: {
            type: String,
            default: "描述"
        },
        name: {
            type: String,
            default: ""
        }
    },
    data() {
        return {
            formItem: {},
            chart: null,
            myEchart: null,
        };
    },
    mounted() {
        this.initData()
    },
    methods: {
        initData() {
            // 基于准备好的dom，初始化echarts实例
            this.myEchart = echarts.init(this.$refs.myEchart);
            //let changeData = []
            // this.dataInit.map(data => {
            //     changeData.push(
            //         {
            //             "name": data.typeName,
            //             "value": data.typeValue,
            //         })
            // });
            let titleData = ["游览量", "日活跃用户数", "启动次数", "着陆次数","跳出次数"]
            let pvData = this.dataInit.map(_ => _.pv)//游览量
            let uvData = this.dataInit.map(_ => _.uv)//日活跃用户数
            let upvData = this.dataInit.map(_ => _.upv)//启动次数
            let landingVisitsData = this.dataInit.map(_ => _.landingVisits)//着陆次数
            let bouncesData = this.dataInit.map(_ => _.bounces)//跳出次数
            let bounceRateData = this.dataInit.map(_ => _.bounceRate)//跳出率
            let avgPageRtData = this.dataInit.map(_ => _.avgPageRt)//平均页面停留时长(秒)
            
            let timeData = this.dataInit.map(_ => _.statDt)//时间

            // 绘制图表
            let that = this
            this.myEchart.setOption({
                title: {
                    text: "", //主标题
                    subtext: "", //副标题
                    x: "center", //x轴方向对齐方式
                    textStyle: {},
                    subtextStyle: {
                        padding: ["5", "0", "0", "0"],
                        color: "red"
                    }
                },
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c}"
                },
                legend: {
                    data: titleData,
                    height: "50",
                    margin: ["0", "0", "0", "0"]
                },
                xAxis: {
                    type: "category",
                    data: timeData
                },
                yAxis: {
                    type: "value"
                },
                series: [
                    {
                        name: "游览量",
                        type: "line",
                        radius: "55%",
                        center: ["50%", "60%"],
                        data: pvData,
                        type: "line",
                        smooth: true
                    },
                    {
                        name: "日活跃用户数",
                        type: "line",
                        radius: "55%",
                        center: ["50%", "60%"],
                        data: uvData,
                        type: "line",
                        smooth: true
                    },
                    {
                        name: "启动次数",
                        type: "line",
                        radius: "55%",
                        center: ["50%", "60%"],
                        data: upvData,
                        type: "line",
                        smooth: true
                    },
                    {
                        name: "着陆次数",
                        type: "line",
                        radius: "55%",
                        center: ["50%", "60%"],
                        data: landingVisitsData,
                        type: "line",
                        smooth: true
                    },
                    {
                        name: "跳出次数",
                        type: "line",
                        radius: "55%",
                        center: ["50%", "60%"],
                        data: bouncesData,
                        type: "line",
                        smooth: true
                    },
                    // {
                    //     name: "跳出率",
                    //     type: "line",
                    //     radius: "55%",
                    //     center: ["50%", "60%"],
                    //     data: bounceRateData,
                    //     type: "line",
                    //     smooth: true
                    // },
                    // {
                    //     name: "平均页面停留时长(秒)",
                    //     type: "line",
                    //     radius: "55%",
                    //     center: ["50%", "60%"],
                    //     data: avgPageRtData,
                    //     type: "line",
                    //     smooth: true
                    // },
                ]
            });
        }
    },
    beforeDestroy() {
        //off(window, "resize", this.resize);
    }
};
</script>
<style lang="less" scoped>
.n-wrap {
    background-color: #ffffff;
    height: 100%;
    .n-title {
        text-align: center;
        font-size: 16px;
        color: #868686;
        height: 30px;
        line-height: 30px;
    }
}
</style>
