<template>
    <div class="n-wrap" style="padding: 20px;">
        <div ref="myEchart" style="width: 600px;height: 600px;"></div>
    </div>
</template>
<script>
import echarts from "echarts";
export default {
    props: {
        dataInit: {
            type: Array,
            default: []
        },
        text: {
            type: String,
            default: "标题"
        },
        subtext: {
            type: String,
            default: "描述"
        }
    },
    data() {
        return {
            formItem: {},
            chart: null,
            myEchart: null
        };
    },
    mounted() {
        //this.$nextTick(() => {
        // let changeData = []
        // this.dataInit.map(data => {
        //     changeData.push({'name': data.typeName, 'value': data.typeValue})
        // });
        // debugger
        //let legend = this.dataInit.map( _ => _.name)
        //console.log(changeData)
        //     let option = {
        //         title: {
        //             text: this.text,
        //             subtext: this.subtext,
        //             x: "center"
        //         },
        //         tooltip: {
        //             trigger: "item",
        //             formatter: "{a} <br/>{b} : {c} ({d}%)"
        //         },
        //         legend: {
        //             orient: "vertical",
        //             left: "left",
        //             data: legend
        //         },
        //         series: [
        //             {
        //                 type: "pie",
        //                 radius: "55%",
        //                 center: ["50%", "60%"],
        //                 data: this.dataInit,
        //                 itemStyle: {
        //                     emphasis: {
        //                         shadowBlur: 10,
        //                         shadowOffsetX: 0,
        //                         shadowColor: "rgba(0, 0, 0, 0.5)"
        //                     }
        //                 }
        //             }
        //         ]
        //     };
        //     this.myEchart = echarts.init(this.$refs.myEchart);
        //     this.myEchart.setOption(option);
        //     //on(window, "resize", this.resize);
        // });
        this.initData()
    },
    methods: {
        initData() {
            // 基于准备好的dom，初始化echarts实例
            this.myEchart = echarts.init(this.$refs.myEchart);
            let changeData = []
            this.dataInit.map(data => {
                changeData.push(
                    {
                        'name': data.typeName, 
                        'value': data.typeValue,
                    })
            });
            // 绘制图表
            let that = this
            this.myEchart.setOption({
                title: {
                    text: "移动机型占比", //主标题
                    subtext: "访问页面移动端设备分析", //副标题
                    x: "center" //x轴方向对齐方式
                },
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: "vertical",
                    bottom: "bottom",
                    data: that.dataInit.map( _ => _.typeName)
                },
                series: [
                    {
                        name: "访问来源",
                        type: "pie",
                        radius: "55%",
                        center: ["50%", "60%"],
                        data: changeData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: "rgba(0, 0, 0, 0.5)"
                            }
                        }
                    }
                ]
            });
        }
    },
    beforeDestroy() {
        //off(window, "resize", this.resize);
    }
};
</script>
<style lang="less" scoped>
.n-wrap {
    background-color: #ffffff;
    height: 100%;
}
</style>