<template>
    <div class="n-container">
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="80">
                    <FormItem label="是否卡片化">
                        <RadioGroup v-model="card">
                            <Radio label="1">卡片化</Radio>
                            <Radio label="0">默认</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="是否圆角">
                        <RadioGroup v-model="cardRadius">
                            <Radio label="1">圆角</Radio>
                            <Radio label="0">默认</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="圆角位置" v-if="cardRadius == '1'">
                        <CheckboxGroup v-model="radiusPosition">
                            <Checkbox label="topLeft">左上</Checkbox>
                            <Checkbox label="topRight">左下</Checkbox>
                            <Checkbox label="bottomLeft">右上</Checkbox>
                            <Checkbox label="bottomRight">右下</Checkbox>
                        </CheckboxGroup>
                    </FormItem>
                    <FormItem label="背景颜色" class="n-position-static">
                        <ColorPicker v-model="data.style.bgColor" />
                        <Button v-model="data.style.bgColor" @click="resetBgColor('bgColor')">重置</Button>
                    </FormItem>
                    <FormItem label="背景图片">
                        <image-upload 
                            :imageUrl.sync= data.style.selectedImg
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                        <Alert show-icon>图片宽度为1125，高度不限，不大于2M</Alert>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="100">
                    <FormItem label="数据来源">
                        <RadioGroup v-model="element.data.ext.dataSourceType1">
                        <Radio label="001">手动录入</Radio>
                        <Radio label="101">ace数据</Radio>
                        <Radio label="201">互医数据</Radio>
                        </RadioGroup>
                    </FormItem>
                    <template v-if="element.data.ext.dataSourceType1=='001'">
                        <p style="text-align: center;line-height: 50px;height: 50px;font-size:12px;">手动录入功能暂时未开放</p>
                    </template>
                    <template v-else>
                        <netAdvert :element="element" @getresultdata="getResultData($event)"></netAdvert>
                    </template>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
export default {
    props: ["element", "data"],
    data() {
        return {
            card: '1',
            cardRadius: '1',
            radiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight'],

            labelRadius: '1',
            labelRadiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight'],
            avatarRadius: '1',
            avatarRadiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight'],
            avatarBgRadius: '1',
            avatarBgRadiusPosition: ['', 'topRight', '', 'bottomRight'],
            picRadius: '1',
            picRadiusPosition: ['topLeft', 'topRight', 'bottomLeft', 'bottomRight']
        }
    },
    methods: {
        onBeforeUpload (file, img) {
            // if (img.width !== 1125) {
            //     return '图片宽度必须是1125px'
            // }
            //return null
        },
        resetBgColorresetBgColor(name) {
            if(name == 'bgColor'){
                this.data.style[name] = '#ffffff';
            }else if(name == 'titleColor'){
                this.data.style[name] = '#2E2D2D';
            }
        },
        getResultData(data) {
            this.element.data.items = data;
        }
    },
    watch: {
        card: {
            handler: function(newer, older) {
                if(newer === '1'){
                    this.data.style.padding = ['10', '10', '10', '10']
                }else{
                    this.data.style.padding = ['0', '0', '0', '0']
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        cardRadius: {
            handler: function(newer, older) {
                if(newer == '0'){
                    this.data.style.prefixDoteRadius = ['0', '0', '0', '0']
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        radiusPosition: {
            handler: function(newer, older) {
                let that = this
                this.data.style.prefixDoteRadius = ['0', '0', '0', '0']
                newer.map(function(value){
                    if(value == 'topLeft'){
                        that.data.style.prefixDoteRadius[0] = '6'
                    }else if(value == 'topRight'){
                        that.data.style.prefixDoteRadius[1] = '6'
                    }else if(value == 'bottomLeft'){
                        that.data.style.prefixDoteRadius[3] = '6'
                    }else if(value == 'bottomRight'){
                        that.data.style.prefixDoteRadius[2] = '6'
                    }
                })
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
<style lang="less" scoped>
    .n-container {
        
    }
</style>
