<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <floorConfig :styleData="element.data.style"></floorConfig>
          <FormItem label="链接颜色">
            <ColorPicker v-model="element
            .data.items[0].style.linkColor" />
            <Button v-model="resetLinkColorValue" @click="resetLinkColor" class="resetBtn">重置</Button>
          </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :model="element.data.items[0]" :rules="ruleValidate" :label-width="100">
          <FormItem label="活动时间">
            <TimePicker
              type="time"
              format="HH:mm:ss"
              placeholder="Select time"
              style="width: 160px"
              :disabled-minutes="[]"
              :disabled-seconds="[]"
              hide-disabled-options
              @on-change="dateChange"
            ></TimePicker>
          </FormItem>
          <FormItem label="链接文字" prop="tailText">
            <Input
              v-model="element.data.items[0].tailText"
              :maxlength="5"
              placeholder="请输入链接文字"
              style="width:184px;"
            />
          </FormItem>
          <FormItem label="链接地址">
            <linkType :linkInfo="element.data.items[0]"></linkType>
          </FormItem>

          <FormItem label="标题图片" class="ivu-form-item-required">
            <Row>
              <Col span="5">
                <ImageUpload
                  :imageUrl.sync="element.data.items[0].headImgUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="(res)=>handleSuccess(res,'headImgUrl')"
                ></ImageUpload>
              </Col>
              <Col span="19">
                <Alert>图片宽240px，高90px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="链接图片" class="ivu-form-item-required">
            <Row>
              <Col span="5">
                <ImageUpload
                  :imageUrl.sync="element.data.items[0].tailImgUrl"
                  :onBeforeUpload="handleBeforeUploadSmall"
                  :on-success="(res)=>handleSuccess(res,'tailImgUrl')"
                ></ImageUpload>
              </Col>
              <Col span="19">
                <Alert>图片宽36px，高36px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import jdLogo from "../../img/jdLogo.png";
import { mapMutations } from "vuex";
export default {
  name: "seckillEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      dataSource: "manual",
      InputNumber: 100,
      value1: "1",
      resetLinkColorValue: this.element.data.items[0].style.linkColor,
      ruleValidate: {
        tailText: [
          {
            required: true,
            message: "链接文字不能为空",
            trigger: "blur"
          },
          {
            type: "string",
            max: "5",
            message: "最多输入五个字符",
            trigger: "blur"
          }
        ],
        date: [
          {
            required: true,
            type: "time",
            message: "请选择时间",
            trigger: "blur change"
          }
        ]
      }
    };
  },
  mounted() {
    this.onload();
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    onload() {
      let list = document.querySelectorAll(".ivu-time-picker-cells-list");
      list.forEach(function(item, index) {
        if (index === 0 || index === 3) {
          item.style.width = "166px";
          let lis = item.querySelectorAll(".ivu-time-picker-cells-list ul li");
          lis.forEach(function(li) {
            li.style.textAlign = "center";
            li.style.paddingLeft = "0px";
          });
        } else {
          item.style.width = "0px";
        }
      });
    },

    resetLinkColor() {
      this.element.data.items[0].style.linkColor = this.resetLinkColorValue;
    },
    dateChange(time) {
      console.log(time);
      let s = 0;
      let hour = time.split(":")[0];
      let min = time.split(":")[1];
      let sec = time.split(":")[2];
      s = Number(
        (hour - new Date().getHours()) * 3600 +
          (min - new Date().getMinutes()) * 60 +
          (sec - new Date().getSeconds()) * 1
      );
      this.$set(this.element.data.items[0], "countSec", "" + s);
      let timeText = "";
      if (hour.substr(0, 1) == "0") {
        timeText = hour.substr(1, 1);
      } else {
        timeText = hour.substr(0, 2);
      }
      this.$set(
        this.element.data.items[0],
        "counterDescriptionText",
        timeText + "点场"
      );

      let initSec = parseInt(s); // 秒
      let initMinu = 0; // 分
      let initHour = 0; // 小时

      if (initSec > 60) {
        initMinu = parseInt(initSec / 60);
        initSec = parseInt(initSec % 60);
        if (initMinu > 60) {
          initHour = parseInt(initMinu / 60);
          initMinu = parseInt(initMinu % 60);
        }
      }
      this.$set(
        this.element.data.items[0],
        "hour",
        this.setNum(parseInt(initHour)) + ""
      );
      this.$set(
        this.element.data.items[0],
        "minu",
        this.setNum(parseInt(initMinu)) + ""
      );
      this.$set(
        this.element.data.items[0],
        "sec",
        this.setNum(parseInt(initSec)) + ""
      );
    },

    setNum(num) {
      if (num < 10) {
        num = "0" + num;
      }
      return num;
    },
    handleSuccess(res, string) {
      if (string == "headImgUrl") {
        this.$set(this.element.data.items[0], "headImgUrl", res.result.path);
      } else {
        this.$set(this.element.data.items[0], "tailImgUrl", res.result.path);
      }
    },
    handleBeforeUpload(file, img) {
      if (img.width !== 240 || img.height !== 90) {
        return "请上传宽240px，高90px的图片！";
      }

      return null;
    },
    handleBeforeUploadSmall(file, img) {
      if (img.width !== 36 || img.height !== 36) {
        return "请上传宽36px，高36px的图片！";
      }
      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.marginTop {
  margin-top: 10px;
}

/deep/.demo-upload-list {
  border: none;
  box-shadow: none;
}

.resetBtn {
  margin-left: 10px;
}
</style>