<template>
  <div
    class="seconds"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="seconds-wrap">
      <div class="seconds-wrap-left">
        <span class="seconds-wrap-left-title">
          <img
            :src="element.data.items[0].headImgUrl?element.data.items[0].headImgUrl:defaultImgUrl"
            alt
          />
        </span>
        <span class="seconds-wrap-left-time">
          <div class="count-down">
            <!-- 12点场 00:32:18 -->
            <span class="count-down-end-time">{{element.data.items[0].counterDescriptionText}}</span>
            <div class="timeGroup">
              <div class="seckill-time">{{element.data.items[0].hour}}</div>
              <span>:</span>
              <div class="seckill-time">{{element.data.items[0].minu}}</div>
              <span>:</span>
              <div class="seckill-time">{{element.data.items[0].sec}}</div>
            </div>
          </div>
        </span>
      </div>
      <div class="seconds-wrap-right">
        <a
          href="###"
          class="seconds-wrap-right-link"
          :style="{color:element.data.items[0].style.linkColor}"
        >
          <span>{{element.data.items[0].tailText}}</span>
          <img
            :src="element.data.items[0].tailImgUrl?element.data.items[0].tailImgUrl:defaultTailImgUrl"
            alt
          />
        </a>
      </div>
    </div>
  </div>
</template>



<script>
import secondImg from "../../img/second.png";
import arrow2 from "../../img/arrow2.png";
export default {
  name: "seckill",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl: secondImg,
      defaultTailImgUrl: arrow2
    };
  },

  methods: {}
};
</script>

<style lang="less" scoped>
.seconds {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 30px;
    &-left {
      &-title {
        overflow: hidden;
        img {
          display: inline-block;
          width: 80px;
          height: 30px;
        }
      }
      &-time {
        display: inline-block;
        line-height: 30px;

        .count-down {
          display: flex;
          font-size: 12px;
          margin-left: 6px;
          span {
            display: inline-block;
            padding: 0 4px;
          }

          .count-down-end-time {
            font-size: 15px;
            margin-right: 2px;
          }
          .timeGroup {
            display: inline-block;
            .seckill-time {
              color: #fff;
              display: inline-block;
              width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              background: #000;
              border-radius: 0.3rem;
            }
          }
        }
      }
    }
    &-right {
      line-height: 32px;
      a {
        img {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 3px;
        }
      }
    }
  }
}
</style>
