<template>
    <div class="n-wrap">
        <Card style="padding-top: 1rem;">
            <Form :model="formItem" :label-width="80" inline>
                <FormItem label="项目" class="n-form">
                    <Select
                        v-model="project.uuid"
                        filterable
                        placeholder="请选择项目"
                        style="width: 100%;"
                    >
                        <Option
                            v-for="(item, index) in projectList"
                            :value="item.uuid"
                            :key="index"
                        >{{ item.name}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="页面" class="n-form">
                    <Select
                        v-model="pageName"
                        filterable
                        placeholder="请选择页面"
                        style="width: 100%;"
                    >
                        <Option
                            v-for="(item, index) in pageNameList"
                            :value="item.value"
                            :key="index"
                        >{{ item.name}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="时间">
                    <DatePicker :value="timeValue" format="yyyy/MM/dd" type="daterange" placement="bottom-end" placeholder="选择时间"></DatePicker>
                </FormItem>
                <FormItem :label-width="0">
                    <Button
                        style="margin-right: .5rem;"
                        type="primary"
                        @click="checkResult"
                    >查询</Button>
                </FormItem>
            </Form>
        </Card>
        <Card style="padding: 20px;border-top: none;">
            <Table size="large" border :columns="columnsData" :data="result"></Table>
        </Card>
    </div>
</template>
<script>
export default {
    data() {
        return {
            formItem: {},
            project: {
                name: "",
                uuid: ""
            },
            projectList: [],
            pageName: "",
            pageNameList: [],
            timeValue: ['2019/12/01', '2020/01-11'],
            result: [
                {
                    "item_seq": "1",
                    "count": 1,
                    "floor_id": "1513"
                },
                {
                    "item_seq": "1",
                    "count": 1,
                    "floor_id": "1790"
                },
                {
                    "item_seq": "4",
                    "count": 1,
                    "floor_id": "1792"
                }
            ],
            columnsData: [
                {
                    title: "楼层id",
                    key: "floor_id"
                },
                {
                    title: "点击位置",
                    key: "item_seq"
                },
                {
                    title: "点击量",
                    key: "count"
                },
            ]
        }
    },
    mounted() {
        this.getProject();
    },
    methods: {
        checkResult() {

        },
        /**
         * 查询项目
         */
        getProject() {
            this.$axios
                .request({
                    url: `/jdh/projectConfigPage/queryProjectConfigPageList?currentPage=1&pageSize=20&flag=false`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.data.records
                        if (resData.length > 0) {
                            this.projectList = resData;
                            this.project.name = resData[0].name
                            this.project.uuid = resData[0].uuid
                            // this.getPageGeneralDataByProjectUuid()
                            // this.getDeviceDataByProject()
                        }else{}
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        /**
         * 查询该项目下的-点击事件-数据
         */
        getPageGeneralDataByProjectUuid() {
            this.$axios
                .request({
                    url: `/jdh/overview/clickAgg?projectId=${this.project.uuid}&beginDate=${this.timeValue[0]}&endDate=${this.timeValue[1]}`,
                    method: "get",
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.result;
                        if (resData.length > 0) {
                            this.columnsDataResult = res.data.result
                        }else{
                            this.columnsDataResult = []
                            this.$Message.warning({
                                content: '无数据',
                                duration: 5
                            })
                            return false
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
    }
}
</script>
<style lang="less" scoped>
    .n-wrap {
        background-color: #FFFFFF;
        height: 100%;
        .n-form /deep/ .ivu-form-item-content {
            width: 120px;
        }
    }
</style>