<template>
    <div class="n-wrap">
        <Card style="padding-top: 1rem;border-bottom: none;">
            <Form :model="formItem" :label-width="80" inline>
                <FormItem label="项目" class="n-form">
                    <Select
                        v-model="project.uuid"
                        filterable
                        clearable
                        placeholder="请选择项目"
                        style="width: 100%;"
                    >
                        <Option
                            v-for="(item, index) in projectList"
                            :value="item.uuid"
                            :key="index"
                        >{{ item.name}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="页面" class="n-form">
                    <Select
                        v-model="pageName.pageIdentityId"
                        filterable
                        clearable
                        placeholder="请选择页面"
                        style="width: 100%;"
                    >
                        <Option
                            v-for="(item, index) in pageNameList"
                            :value="item.pageIdentityId"
                            :key="index"
                        >{{ item.pageName}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="时间">
                    <DatePicker
                        :value="timeValue"
                        format="yyyy-MM-dd"
                        type="daterange"
                        placement="bottom-end"
                        placeholder="选择时间"
                        @on-change="timeValue=$event"
                    ></DatePicker>
                </FormItem>
                <FormItem :label-width="0">
                    <Button style="margin-right: .5rem;" type="primary" @click="checkResult">查询</Button>
                    <!-- <Button
                        style="margin-right: .5rem;"
                        type="primary"
                        @click="previewPage('1867')"
                    >预览页面</Button> -->
                </FormItem>
            </Form>
        </Card>
        <Card style="padding: 0px 20px 10px 20px;border-top: none;border-bottom: none;">
            <Table size="large" border :columns="columnsData" :data="columnsDataResult"></Table>
        </Card>
        <Modal width="450px" v-model="previewModal" :closable="true" title="预览" v-if="previewModal">
            <div style="min-height: 600px;" :style="{backgroundColor:configObj.bgColor}">
                <pagePreview :list="list" :pageConfigData="pageConfigData"></pagePreview>
            </div>
            <div slot="footer"></div>
        </Modal>
        <!-- <Row v-if="pageName.pageName != ''"> -->
        <Row style="background-color: #ffffff">
            <Col span="12" v-if="foldDataModel">
                <!-- <pieChart :dataInit="pieDataResult"></pieChart> -->
                <foldChart :dataInit="foldDataIphone" name="Iphone数据展示" ref="changeFold"></foldChart>
            </Col>
            <Col span="12" v-if="foldDataModel">
                <foldChart :dataInit="foldDataAndroid" name="Android数据展示" ref="changeFold"></foldChart>
            </Col>
        </Row>
    </div>
</template>
<script>
import pieChart from "./component/linkPieChart"
import foldChart from "./component/linkFoldChart"
import pagePreview from "../shop-decoration/pagePreview"
export default {
    data() {
        return {
            previewModal: false,
            configObj: {},
            pageConfigData: {},
            list: [],
            formItem: {},
            project: {
                name: "",
                uuid: ""
            },
            pageName: {
                pageIdentityId: "",
            },
            pageNameList: [],
            projectList: [],
            pageNo: 1, //请求项目下的页面 初始页面
            timeValue: ["2020-01-06", "2020-01-12"],
            columnsDataResult: [],
            columnsData: [
                {
                    title: "页面名称",
                    align: 'center',
                    key: "pageName",
                    width: 100,
                },
                {
                    title: "机型",
                    align: 'center',
                    width: 100,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },'iphone'),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },'android')
                        ])
                    }
                },
                {
                    title: "游览量",
                    align: 'center',
                    width: 180,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.pv),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.pv : '-')
                        ])
                    }
                },
                {
                    title: "日活跃用户数",
                    align: 'center',
                    width: 140,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.uv),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.uv : '-')
                        ])
                    }
                },
                {
                    title: "启动次数",
                    align: 'center',
                    width: 160,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.upv),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.upv : '-')
                        ])
                    }
                },
                {
                    title: "着陆次数",
                    align: 'center',
                    width: 160,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.landingVisits),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.landingVisits : '-')
                        ])
                    }
                },
                {
                    title: "跳出次数",
                    align: 'center',
                    width: 160,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.bounces),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.bounces : '-')
                        ])
                    }
                },
                {
                    title: "跳出率(%)",
                    align: 'center',
                    width: 160,
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.bounceRate),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.bounceRate : '-')
                        ])
                    }
                },
                {
                    title: "平均页面停留(秒)",
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                    borderBottom: '1px solid #e8eaec'
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            }, this.columnsDataResult[params.index].iphone.avgPageRt),
                            h('div', {
                                style:{
                                    textAlign: 'center',
                                },
                                attrs: {
                                    class: "n-table-type"
                                }
                            },this.columnsDataResult[params.index].android != null? this.columnsDataResult[params.index].android.avgPageRt : '-')
                        ])
                    }
                },
                {
                    title: "操作",
                    align: 'center',
                    render: (h, params) => {
                        return h("div", [
                            h(
                                "Button",
                                {
                                    props: {
                                        type: "primary",
                                        size: "small"
                                    },
                                    attrs: {
                                        disabled: "disabled"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.$Message.warning({
                                                content: '抱歉，暂时无法预览~',
                                                duration: 5
                                            })
                                            //this.previewPage(params.row.ct_page);
                                        }
                                    }
                                },
                                "查看页面"
                            ),
                            // h(
                            //     "Button",
                            //     {
                            //         props: {
                            //             type: "primary",
                            //             size: "small"
                            //         },
                            //         style: {
                            //             marginRight: "5px"
                            //         },
                            //         on: {
                            //             click: () => {
                            //                 //this.previewPage(params.row.ct_page);
                            //                 //this.checkPageData(params.row.ct_page);
                            //                 //this.initFoldDara(params.row.ct_page)
                            //             }
                            //         }
                            //     },
                            //     "查看数据"
                            // ),
                       ]);
                   }
                }
            ],
            pieDataResult: [],
            foldDataModel: false,
            foldDataResult: [],
            foldDataIphone: [],
            foldDataAndroid: [],
            foldDataStructure: {uv: '0', landingVisits: '0', os: '0', pv: '0', avgPageRt: '0', statDt: '0', pageIdentityId: '0', upv: '0', bounces: '0', bounceRate: '0'}
        };
    },
    components: {
        pieChart: pieChart,
        foldChart: foldChart,
        pagePreview: pagePreview
    },
    mounted() {
        this.getProject();
    },
    methods: {
        checkResult() {
            this.foldDataModel = false
            if(this.pageName.pageIdentityId == ''){
                //this.columnsData.splice(1, 1)
                this.getPageGeneralDataByProjectUuid();
            }else{
                this.columnsData[0].title = "日期"
                this.columnsData[0].key = "statDt"
                //this.columnsData.push({title: "日期",align: 'center',key: "statDt",width: 100,})
                this.checkPageData()
            }
            this.getDeviceDataByProject()
        },
        previewPage(ct_page) {
            /**
             * 字段数据不一致 暂时无法预览
             */
            this.previewModal = true;
            this.$axios
                .request({
                    url: `/jdh/page/detail?id=1867`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let temp = this.reFloor(
                            res.data.result.jdhFreshFloorList
                        );
                        this.list = temp;
                        this.pageConfigData = res.data.result.configData;
                        this.configObj = JSON.parse(res.data.result.configData);
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        /**
         * 查询项目
         */
        getProject() {
            this.$axios
                .request({
                    url: `/jdh/projectConfigPage/queryProjectConfigPageList?currentPage=1&pageSize=20&flag=false`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.data.records
                        if (resData.length > 0) {
                            this.projectList = resData;
                            this.project.name = resData[0].name
                            this.project.uuid = resData[0].uuid
                            this.getPageGeneralDataByProjectUuid()
                            this.getDeviceDataByProject()
                        }else{}
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        /**
         * 查询该项目下的-汇总结果-数据
         */
        getPageGeneralDataByProjectUuid() {
            this.$axios
                .request({
                    url: `/jdh/overview/pageAnalysisAgg?projectId=${this.project.uuid}&beginDate=${this.timeValue[0]}&endDate=${this.timeValue[1]}`,
                    method: "get",
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.result;
                        if (resData.length > 0) {
                            this.columnsDataResult = res.data.result
                            //this.pageNameList = res.data.result
                        }else{
                            this.columnsDataResult = []
                            this.$Message.warning({
                                content: '无数据',
                                duration: 5
                            })
                            return false
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        getPageByProject() {
            this.$axios
                .request({
                    url: `/jdh/overview/pageAnalysisAgg?projectId=${this.project.uuid}&beginDate=${this.timeValue[0]}&endDate=${this.timeValue[1]}`,
                    method: "get",
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.result;
                        if (resData.length > 0) {
                            this.pageNameList = res.data.result
                        }else{

                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        checkPageData() {
            this.$axios
                .request({
                    url: `/jdh/overview/pageAnalysis?projectId=${this.project.uuid}&beginDate=${this.timeValue[0]}&endDate=${this.timeValue[1]}&pageIdentityId=${this.pageName.pageIdentityId}`,
                    method: "get",
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.result;
                        if (resData.length > 0) {
                            this.columnsDataResult = res.data.result
                            //this.foldDataResult = res.data.result
                            this.foldDataIphone = []
                            this.foldDataAndroid = []
                            for (let i = 0; i < resData.length; i++) {
                                if(resData[i].iphone == null) {
                                    this.foldDataIphone.push(this.foldDataStructure)
                                    this.foldDataIphone[i].statDt = resData[i].statDt
                                }else{
                                    this.foldDataIphone.push(resData[i].iphone)
                                }

                                if(resData[i].android == null){
                                    this.foldDataAndroid.push(this.foldDataStructure)
                                    this.foldDataAndroid[i].statDt = resData[i].statDt
                                }else{
                                    this.foldDataAndroid.push(resData[i].android)
                                }
                            }

                            this.foldDataModel = true

                            this.$nextTick(() => {
                                for(let j = 0; j < this.$refs.changeFold.length; j++){
                                    this.$refs.changeFold[j].initData()
                                }
                            })
                        }else{}
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        // initFoldDara(ct_page) {
        //     this.$axios
        //         .request({
        //             url: `/jdh/overview/pageAnalysis?projectId=${this.project.uuid}&beginDate=${this.timeValue[0]}&endDate=${this.timeValue[1]}&ctPage=${ct_page}`,
        //             method: "get",
        //         })
        //         .then(res => {
        //             if (res.data.code == 0) {
        //                 let resData = res.data.result;
        //                 if (resData.length > 0) {
        //                     this.foldDataResult = res.data.result
        //                 }else{}
        //             }
        //         })
        //         .catch(err => {
        //             console.log(err);
        //         });
        // },
        getDeviceDataByProject() {
            this.$axios
                .request({
                    url: `/jdh/overview/userDeviceAgg?projectId=${this.project.uuid}`,
                    method: "get",
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let resData = res.data.result
                        if (resData.length > 0) {
                            this.pieDataResult = res.data.result
                        }else{
                            this.pieDataResult = []
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        reFloor(arr) {
            let temp = [];
            for (let i = 0; i < arr.length; i++) {
                temp.push(JSON.parse(arr[i].configData));
            }
            return temp;
        }
    },
    watch: {
        "project.uuid": {
            handler: function(newer, older) {
                if(newer){
                    this.getPageByProject();
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
};
</script>
<style lang="less" scoped>
.n-wrap {
    background-color: #ffffff;
    height: 100%;
    .n-form /deep/ .ivu-form-item-content {
        width: 120px;
    }
    /deep/ .ivu-table-large td {
        height: 42px;
    }
    /deep/ .ivu-table-cell {
        padding: 0px;
    }
    /deep/ .n-table-type {
        height: 30px;
        line-height: 30px;
    }
}
</style>
