<template>
  <div style="padding: 3rem;background: #ffffff;">
    <Form :label-width="70" inline>
      <FormItem label="版本号：">
        <Input style="width: 300px" v-model="version" size="large" placeholder="请输入小程序版本号..." />
      </FormItem>
      <FormItem label="描述：">
        <Input style="width: 300px" v-model="desc" type="textarea" size="large" placeholder="请输入版本描述..." />
      </FormItem>
      <FormItem :label-width="10">
        <Button style="margin-right: 1rem" @click="changeVersion" size="large" icon="ios-build-outline" type="info">修改</Button>
        <Button @click="sendTo" style="margin-right: 1rem" icon="ios-eye-off-outline" size="large" type="warning">屏蔽</Button>
      </FormItem>
    </Form>
    <Table style="margin: 1rem;" border ref="selection" :columns="columns1" :data="data1"></Table>
  </div>
</template>
<script>
    export default {
      name: "setVersion",
      data(){
          return{
            version:'',
            desc:'',
            data1:[],
            columns1:[
              {
                title: '提审版本号',
                key: 'version'
              },
              {
                title: '操作人',
                key: 'user'
              },
              {
                title: '操作时间',
                key: 'time'
              },
              {
                title: '备注',
                key: 'content'
              },
            ]
          }
      },
      mounted(){
        this.getVersion()
      },
      methods:{
          getVersion(){
            //http://jdh.marketing.mobile.cms.jd.com/jh/query?key=audit_submit_wx_version
            this.$axios
              .request({
                url: "/jh/query?key=audit_submit_wx_version",
                method: "get",
              })
              .then(res => {
                if (res.data.code == 0) {
                  let jsonObj = JSON.parse(res.data.result)
                  if(jsonObj.code==200){
                    this.version=jsonObj.data.value
                    this.desc=jsonObj.data.description
                  }else{
                    this.$Message.warning('查询版本信息异常')
                  }
                }

              })
              .catch(err => {
                console.log(err);
              });
          },
        sendTo(){
          //http://jdh.marketing.mobile.cms.jd.com/jh/release
          this.$axios
            .request({
              url: `/jh/release`,
              method: "get",
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$Message.success('版本发布成功')
              }
            })
            .catch(err => {
              console.log(err);
            });
        },
        changeVersion(){
            if(!this.version || isNaN(Number(this.version))){
              this.$Message.warning('请输入正确的版本号')
              return
            }
            if(!this.desc){
              this.$Message.warning('请输入版本描述')
              return
            }
          this.$axios
            .request({
              url: `/jh/update?key=audit_submit_wx_version&val=${this.version}&description=${this.desc}`,
              method: "get",
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$Message.success('修改成功')
              }
            })
            .catch(err => {
              console.log(err);
            });
        },
      },

    }
</script>

<style scoped>

</style>
