<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <Form :label-width="100">
                <margin
                    :marginSizeData="data.style.margin"
                    name="边距设置"
                ></margin>
                <padding
                    :paddingSizeData="data.style.padding"
                    name="留白设置"
                ></padding>
                <corner
                    :cornerData="data.style.cornerRadius"
                    name="楼层圆角"
                ></corner>
                <color
                    :colorData="data.style"
                    field ="bgColor"
                    name="楼层背景"
                    resetColor="#FFFFFF"
                ></color>
                <corner
                    :cornerData="data.ext.style.cornerRadius"
                    name="元素圆角"
                ></corner>
                <!-- data.ext.style.bgColor -->
                <color
                    :colorData="data.ext.style"
                    field ="bgColor"
                    name="元素背景"
                    resetColor="#F7F7F7"
                ></color>
            </Form>
        </TabPane>
        <TabPane label="素材配置" tab="style">
            <Form :label-width="100">
                <FormItem label="数据更新">
                    <Button type="primary" @click="queryMyInfo">查询</Button>
                </FormItem>
            </Form>
        </TabPane>
    </Tabs>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import inputItem from "../commonDecorate/pageDecorateInput"
export default {
    name: "logistics",
    props: ["index", "element", "data"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        inputItem: inputItem,
    },
    data() {
        return {

        }
    },
    methods: {
        queryMyInfo() {
            this.$axios
                .request({
                    url: `/huyiIndex/getData`,
                    method: "post",
                    data: {
                        dataSourceType2: "501003",
                        personId: "123"
                    }
                })
                .then(res => {
                    if (res.data.code == 0) {
                        //this.data.items[0].userInfo.push(res.data.result.dataInfos[0].assets)
                        this.data.items = res.data.result.dataInfos
                        this.$Message.success("查询成功");
                        
                    }else{
                        this.data.items = []
                        this.$Message.success("查询失败");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    watch: {
    }
}
</script>