<template>
    <div
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+data.style.bgImgUrl +')',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+ data.style.margin[1]+'px '+ data.style.margin[2]+'px '+ data.style.margin[3]+'px',
            borderRadius: data.style.cornerRadius[0]+'px '+ data.style.cornerRadius[1]+'px '+ data.style.cornerRadius[2]+'px '+ data.style.cornerRadius[3]+'px',
        }"
    >
        <div>
            <!-- <row>
                <Col span="24">
                    <Col span="6" class="n-img">
                        <img src="https://img14.360buyimg.com/n7/jfs/t1/80172/37/7510/205545/5d7089f7Eea484167/78dcfc30e9138d21.jpg!q70.dpg.webp">
                    </Col>
                    <Col span="18">
                        <p class="n-title"><i></i>等待收货</p>
                        <p class="n-tips">温馨提示：药房正在配药中，预计11月20日24：00前送达您手中，请耐心你等待……</p>
                    </Col>
                </Col>
            </row>-->
            
            <Carousel v-model="carouselValue" loop arrow="never">
                <template v-if="data.items.length>0">
                    <CarouselItem v-for="(item, index) in data.items" :key="index"
                        :style="{
                            backgroundColor: colorTransform(data.ext.style.bgColor),
                            borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                        }"
                    >
                        <row>
                            <!-- 此处备注 特殊处理 padding使用margin值 -->
                            <!-- margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px', -->
                            <Col
                                span="24"
                                :style="{
                                    marginTop: data.ext.style.margin[0]+'px',
                                    marginBottom: data.ext.style.margin[2]+'px',
                                    paddingLeft: data.ext.style.margin[1]+'px',
                                    paddingRight: data.ext.style.margin[3]+'px',
                                    paddingTop: data.ext.style.margin[1]+'px',
                                    paddingBottom: data.ext.style.margin[3]+'px',
                                }"
                            >
                                <Col span="6" class="n-img">
                                    <img :src="item.pictureUrl" />
                                </Col>
                                <Col span="18">
                                    <p
                                        class="n-title"
                                        :style="{
                                            fontSize: data.ext.titleFontSize + 'px',
                                            color: colorTransform(data.ext.style.titleFontColor)
                                        }"
                                    >{{item.trackInfo.orderStateName}}</p>
                                    <p
                                        class="n-tips"
                                        :style="{
                                            fontSize: data.ext.subtitleFontSize + 'px',
                                            color: colorTransform(data.ext.style.subtitleFontColor)
                                        }"
                                    >温馨提示：{{item.trackInfo.message}}</p>
                                </Col>
                            </Col>
                        </row>
                    </CarouselItem>
                </template>
                <template v-else>
                    <CarouselItem v-for="(item, index) in logisticsData" :key="index"
                        :style="{
                            backgroundColor: colorTransform(data.ext.style.bgColor),
                            borderRadius: data.ext.style.cornerRadius[0]+'px '+ data.ext.style.cornerRadius[1]+'px '+ data.ext.style.cornerRadius[2]+'px '+ data.ext.style.cornerRadius[3]+'px',
                        }"
                    >
                        <row>
                            <!-- 此处备注 特殊处理 padding使用margin值 -->
                            <!-- margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px', -->
                            <Col
                                span="24"
                                :style="{
                                    marginTop: data.ext.style.margin[0]+'px',
                                    marginBottom: data.ext.style.margin[2]+'px',
                                    paddingLeft: data.ext.style.margin[1]+'px',
                                    paddingRight: data.ext.style.margin[3]+'px',
                                    paddingTop: data.ext.style.margin[1]+'px',
                                    paddingBottom: data.ext.style.margin[3]+'px',
                                }"
                            >
                                <Col span="6" class="n-img">
                                    <img :src="item.pictureUrl" />
                                </Col>
                                <Col span="18">
                                    <p
                                        class="n-title"
                                        :style="{
                                            fontSize: data.ext.titleFontSize + 'px',
                                            color: colorTransform(data.ext.style.titleFontColor)
                                        }"
                                    >{{item.trackInfo.orderStateName}}</p>
                                    <p
                                        class="n-tips"
                                        :style="{
                                            fontSize: data.ext.subtitleFontSize + 'px',
                                            color: colorTransform(data.ext.style.subtitleFontColor)
                                        }"
                                    >温馨提示：{{item.trackInfo.message}}</p>
                                </Col>
                            </Col>
                        </row>
                    </CarouselItem>
                </template>
            </Carousel>
        </div>
    </div>
</template>
<script>
export default {
    name: "logistics",
    props: ["index", "element", "data"],
    data() {
        return {
            carouselValue: 0,
            logisticsData: [
                {
                    id: null,
                    name: null,
                    desc: null,
                    pictureUrl: "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
                    sparePictureUrl: null,
                    jumpLinkInfo: null,
                    hostPictureUrl: null,
                    beginTime: null,
                    endTime: null,
                    price: null,
                    jdPrice: null,
                    labelInfos: null,
                    assets: null,
                    orderInfo: null,
                    trackInfo: {
                        orderId: "默认数据",
                        pictureUrl: null,
                        orderStateName: "默认数据",
                        operator: "默认数据",
                        crateTime: "默认数据",
                        message: "默认数据",
                        stateIcon: "默认数据",
                        iconType: "默认数据"
                    },
                    hot: false
                }
            ]
        };
    }
};
</script>
<style lang="less" scoped>
.n-img {
    img {
        display: block;
        width: 46px;
        height: 46px;
        margin: 0 auto;
    }
}
p.n-title {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    i {
        display: inline-block;
        width: 14px;
        height: 14px;
        // background: url(../../img/logistics_01.png);
        // background-size: 100%;
        // background-repeat: no-repeat;
        vertical-align: middle;
        margin-right: 5px;
    }
}
p.n-tips {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>