<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <FormItem label="瀑布流">
                        <RadioGroup v-model="data.ext.style.feedFlow">
                            <Radio label="false">否</Radio>
                            <Radio label="true">是</Radio>
                        </RadioGroup>
                    </FormItem>
                    <!-- <margin
                        :marginSizeData="data.ext.style.margin"
                        name="卡片边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.ext.style.padding"
                        name="卡片留白设置"
                    ></padding>
                    <color
                        :colorData="data.ext.style"
                        field ="bgColor"
                        name="卡片背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <corner
                        :cornerData="data.style.prefixDoteRadius"
                        name="卡片圆角"
                    ></corner> -->
                    <color
                        :colorData="data.ext.style"
                        field ="titleColor"
                        name="标题颜色"
                        resetColor="#2E2D2D"
                    ></color>

                    <FormItem label="标题大小">
                        <Input v-model="data.ext.style.titleFontSize" placeholder="请输入标题字体大小" style="width: 130px;" type="number"></Input>
                    </FormItem>
                    <FormItem label="标题样式">
                        <RadioGroup v-model="data.ext.style.titleWeight">
                            <Radio label="normal">默认</Radio>
                            <Radio label="bold">加粗</Radio>
                        </RadioGroup>
                    </FormItem>

                    <color
                        :colorData="data.ext.style"
                        field ="labelColor"
                        name="标签颜色"
                        resetColor="#1F88F8"
                    ></color>
                    <color
                        :colorData="data.ext.style"
                        field ="labelBgColor"
                        name="标签背景"
                        resetColor="#E8F3FE"
                    ></color>
                    <corner
                        :cornerData="data.ext.style.labelBorderRadius"
                        name="标签圆角"
                    ></corner>

                    <FormItem label="标签字体大小">
                        <Input v-model="data.ext.style.labelFontSize" placeholder="请输入标签字体大小" style="width: 130px;" type="number"></Input>
                    </FormItem>
                    <!-- <corner
                        :cornerData="{
                            name: '头像',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'avatarRadius'
                        }"
                    ></corner>
                    <cornerSize
                        :cornerSizeData="{
                            name: '头像',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'avatarRadius'
                        }"
                    ></cornerSize>
                    <FormItem label="头像字体大小">
                        <Input v-model="data.ext.style.avatarFontSize" placeholder="请输入头像信息字体大小" style="width: 130px;"></Input>
                    </FormItem>
                    <color
                        :colorData="{
                            name: '头像字体',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'avatarColor',
                            color: '#9396a0'
                        }"
                    ></color>
                    <color
                        :colorData="{
                            name: '头像背景',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'avatarBgColor',
                            color: '#f4f6fb'
                        }"
                    ></color>
                    <corner
                        :cornerData="{
                            name: '头像背景',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'avatarLabelRadius'
                        }"
                    ></corner>
                    <cornerSize
                        :cornerSizeData="{
                            name: '头像背景',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'avatarLabelRadius'
                        }"
                    ></cornerSize> -->
                    <corner
                        :cornerData="data.ext.style.pictureRadius"
                        name="图片圆角"
                    ></corner>
                    <FormItem label="图片标签字体">
                        <Input v-model="data.ext.style.pictureLabelFontSize" placeholder="请输入图片标签字体大小" style="width: 130px;" type="number"></Input>
                    </FormItem>
                    <color
                        :colorData="data.ext.style"
                        field ="pictureLabelColor"
                        name="图片标签颜色"
                        resetColor="#FFFFFF"
                    ></color>
                    <corner
                        :cornerData="data.ext.style.pictureLabelRadius"
                        name="图片标签圆角"
                    ></corner>
                    <FormItem label="图片标签背景图片">
                        <image-upload
                            :imageUrl.sync= data.ext.style.pictureLabelBgUrl
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                            <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
                    </FormItem>
                    <FormItem label="图片标签宽度">
                        <Input 
                            v-model="data.ext.style.pictureLabelWidth" 
                            placeholder="请输入图片标签宽度" 
                            style="width: 130px;" 
                            type="number"></Input>
                    </FormItem>
                    <FormItem label="图片标签高度">
                        <Input 
                            v-model="data.ext.style.pictureLabelHeight" 
                            placeholder="请输入图片标签高度" 
                            style="width: 130px;" 
                            type="number"></Input>
                    </FormItem>
                    <margin
                        :marginSizeData="data.ext.style.margin"
                        name='每条边距设置'
                    ></margin>
                    <padding
                        :paddingSizeData="data.ext.style.padding"
                        name="每条留白设置"
                    ></padding>
                    <FormItem label="每条高度">
                        <Input v-model="tabHeight" placeholder="请输入每条高度" style="width: 130px;" type="number" disabled></Input>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <Form :label-width="100">
                    <FormItem label="数据来源" style="margin-bottom: 10px;padding: 0;">
                        <Select
                            v-model="data.ext.dataSourceType1"
                            filterable
                            placeholder="请选择数据来源"
                            style="width: 60%;"
                        >
                            <Option
                                v-for="(item, index) in dataSourceList"
                                :value="item.id"
                                :key="index"
                            >{{ item.name}}</Option>
                        </Select>
                    </FormItem>
                    <template v-if="data.ext.dataSourceType1 == '301'">
                        <p>暂不支持手动录入</p>
                    </template>
                    <template v-else>
                        <netAd
                            :data="data"
                            :element="element"
                            :data-source = dataSource
                            @getresultdata="getResultData($event)"></netAd>
                    </template>
                </Form>
            </TabPane>
          <TabPane v-if="isFlow!='flow'" label="楼层分流配置" name="bypassTab">
            <ABTestDemo :baseId="element.id"></ABTestDemo>
          </TabPane>
        </Tabs>
    </div>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import netAd from '../tab/netAdvert'
import ABTestDemo from "../../ABTestDemo";

export default {
    props: ["element", "data","isFlow"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        netAd: netAd,
      ABTestDemo
    },
    data() {
        return {
            dataSourceList: [
                {
                    name: 'ace',
                    id: '101'
                },
                {
                    name: '互联网医院',
                    id: '201'
                },
                {
                    name: '写手后台',
                    id: '401'
                }
            ],
        };
    },
    computed: {
        dataSource () {
            let sourceName = ''
            if(this.data.ext.dataSourceType1 == '201'){
                sourceName = 'nethuyi'
            }else if(this.data.ext.dataSourceType1 == '401'){
                sourceName = 'xieshou'
            }else if(this.data.ext.dataSourceType1 == '101'){
                sourceName = 'ace'
            }
            return sourceName
        },
        tabHeight() {
            let count = parseInt(this.data.ext.style.padding[0]) + parseInt(this.data.ext.style.padding[2])
            let tabHeight = 75
            if(count != 0){
                tabHeight = tabHeight + count
                this.data.ext.style.height = tabHeight
            }
            return tabHeight
        }
    },
    methods: {
        getResultData(getData) {
            this.data.items = getData
        },
        onBeforeUpload(file, img) {

        }
    }
};
</script>
