<template>
    <div 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0]+'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px'
        }"
    >
        <!-- <row class="n-row"
            :style="{
                backgroundColor: colorTransform(data.ext.style.bgColor),
                backgroundImage:'url('+ data.ext.style.bgImgUrl +')',
                borderRadius:data.style.prefixDoteRadius[0]+'px '+data.style.prefixDoteRadius[1]+'px '+data.style.prefixDoteRadius[2]+'px '+data.style.prefixDoteRadius[3]+'px',
                padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
            }"
        > -->
        <row class="n-row">
            <template v-if="data.items.length > 0">
                <Col span="24" class="n-news" v-for="(item, index) in data.items" :key="index"
                    :style="{
                        padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                        margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px',
                    }"
                >
                    <Col span="16" class="n-left">
                        <div class="n-title"
                            :style="{
                                color: colorTransform(data.ext.style.titleColor),
                                fontSize: data.ext.style.titleFontSize +'px',
                                fontWeight: data.ext.style.titleWeight
                            }"
                        >{{item.name}}</div>
                        <div class="n-label">
                            <span class="n-doctorlabel" 
                                :style="{
                                    color: colorTransform(data.ext.style.labelColor),
                                    backgroundColor: colorTransform(data.ext.style.labelBgColor),
                                    fontSize: data.ext.style.labelFontSize + 'px',
                                    borderRadius: data.ext.style.labelBorderRadius[0]+'px '+ data.ext.style.labelBorderRadius[1]+'px '+ data.ext.style.labelBorderRadius[2]+'px '+ data.ext.style.labelBorderRadius[3]+'px',
                                }"
                                v-for="(li, i) in item.labelInfos" 
                                :key='i'
                            >{{li.name}}</span>
                            <!-- <span class="n-avatar"
                                :style="{
                                    color: colorTransform(data.ext.style.avatarColor),
                                    fontSize: data.ext.style.avatarFontSize +'px',
                                    backgroundColor: colorTransform(data.ext.style.avatarBgColor),
                                    borderRadius: data.ext.style.avatarLabelRadius[0]+'px '+ data.ext.style.avatarLabelRadius[1]+'px '+ data.ext.style.avatarLabelRadius[2]+'px '+ data.ext.style.avatarLabelRadius[3]+'px',
                                }"
                            ><i 
                                :style="{
                                    'background-image': 'url(' + item.avatar +')',
                                    borderRadius: data.ext.style.avatarRadius[0]+'px '+ data.ext.style.avatarRadius[1]+'px '+ data.ext.style.avatarRadius[2]+'px '+ data.ext.style.avatarRadius[3]+'px'
                                }"
                            ></i>{{ item.doctorName}}</span> -->
                        </div>
                    </Col>
                    <Col span="8">
                        <div class="n-relative" style="width: 103px;">
                            <img :src="item.pictureUrl"
                                :style="{
                                    borderRadius: data.ext.style.pictureRadius[0]+'px '+ data.ext.style.pictureRadius[1]+'px '+ data.ext.style.pictureRadius[2]+'px '+ data.ext.style.pictureRadius[3]+'px',
                                }"
                            >
                            <span class="n-hotIcon"
                                v-if="item.hot"
                                :style="{
                                    width: data.ext.style.pictureLabelWidth + 'px',
                                    height: data.ext.style.pictureLabelHeight + 'px',
                                    fontSize: data.ext.style.pictureLabelFontSize + 'px',
                                    color: colorTransform(data.ext.style.pictureLabelColor),
                                    backgroundImage:'url('+ data.ext.style.pictureLabelBgUrl +')',
                                    borderRadius: data.ext.style.pictureLabelRadius[0]+'px '+ data.ext.style.pictureLabelRadius[1]+'px '+ data.ext.style.pictureLabelRadius[2]+'px '+ data.ext.style.pictureLabelRadius[3]+'px',
                                }"
                            >推荐</span>
                        </div>
                    </Col>
                </col>
            </template>
            <template v-else>
                <Col span="24" class="n-news"
                    :style="{
                        padding: data.ext.style.padding[0]+'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                        margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px',
                    }"
                >
                    <Col span="16" class="n-left">
                        <div class="n-title"
                            :style="{
                                color: colorTransform(data.ext.style.titleColor),
                                fontSize: data.ext.style.titleFontSize +'px',
                                fontWeight: data.ext.style.titleWeight
                            }"
                        >图文资讯列表数据</div>
                        <div class="n-label">
                            <span class="n-doctorlabel"
                                :style="{
                                    width: data.ext.style.pictureLabelWidth + 'px',
                                    height: data.ext.style.pictureLabelHeight + 'px',
                                    fontSize: data.ext.style.labelFontSize + 'px',
                                    color: colorTransform(data.ext.style.labelColor),
                                    backgroundImage:'url('+ data.ext.style.pictureLabelBgUrl +')',
                                    borderRadius: data.ext.style.labelBorderRadius[0]+'px '+ data.ext.style.labelBorderRadius[1]+'px '+ data.ext.style.labelBorderRadius[2]+'px '+ data.ext.style.labelBorderRadius[3]+'px',
                                }"
                            >资讯标签</span>
                            <!-- <span class="n-avatar"
                                :style="{
                                    color: colorTransform(data.ext.style.avatarColor),
                                    fontSize: data.ext.style.avatarFontSize +'px',
                                    backgroundColor: colorTransform(data.ext.style.avatarBgColor),
                                    borderRadius: data.ext.style.avatarLabelRadius[0]+'px '+ data.ext.style.avatarLabelRadius[1]+'px '+ data.ext.style.avatarLabelRadius[2]+'px '+ data.ext.style.avatarLabelRadius[3]+'px',
                                }"
                            >
                                <i 
                                    :style="{
                                        'background-image': 'url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png',
                                        borderRadius: data.ext.style.avatarRadius[0]+'px '+ data.ext.style.avatarRadius[1]+'px '+ data.ext.style.avatarRadius[2]+'px '+ data.ext.style.avatarRadius[3]+'px'
                                    }"
                                ></i>医生姓名</span> -->
                        </div>
                    </Col>
                    <Col span="8">
                        <div class="n-relative" style="width: 103px">
                            <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
                                :style="{
                                    borderRadius: data.ext.style.pictureRadius[0]+'px '+ data.ext.style.pictureRadius[1]+'px '+ data.ext.style.pictureRadius[2]+'px '+ data.ext.style.pictureRadius[3]+'px',
                                }"
                            >
                            <!-- https://m.360buyimg.com/pop/jfs/t1/86678/21/10185/529/5e16e3c4Efb44315d/eb04aa2bc4b4bab1.png 热图黄色背景 -->
                            <span class="n-hotIcon"
                                :style="{
                                    fontSize: data.ext.style.pictureLabelFontSize + 'px',
                                    color: colorTransform(data.ext.style.pictureLabelColor),
                                    backgroundImage:'url(https://m.360buyimg.com/pop/jfs/t1/86678/21/10185/529/5e16e3c4Efb44315d/eb04aa2bc4b4bab1.png)',
                                    borderRadius: data.ext.style.pictureLabelRadius[0]+'px '+ data.ext.style.pictureLabelRadius[1]+'px '+ data.ext.style.pictureLabelRadius[2]+'px '+ data.ext.style.pictureLabelRadius[3]+'px',
                                }"
                            >推荐</span>
                        </div>
                    </Col>
                </col>
            </template>
        </row>
    </div>
</template>
<script>
export default {
    props: ["index", "element", "data"],
    data() {
        return {

        }
    },
}
</script>
<style lang="less" scoped>
    .n-news {
        .n-left {
            .n-title {
                font-size: 15px;
                line-height: 24px;
                color: #2E2D2D;
                height: 50px;
                overflow: hidden;
            }
            .n-label {
                margin-top: 3px;
                span {
                    display: inline-block;
                }
                span.n-doctorlabel {
                    height: 20px;
                    line-height: 20px;
                    background-color: #e8f3fe;
                    color: #1F88F8;
                    font-size: 11px;
                    margin: 10px 20px 0 0;
                    padding: 0 5px;
                }
                span.n-avatar {
                    background-color: #f4f6fb;
                    font-size: 11px;
                    line-height: 20px;
                    position: relative;
                    color: #9396a0;
                    padding: 0 10px 0 20px;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    i {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: -10px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
        .n-relative {
            float: right;
            img {
                display: block;
                width: 103px;
                height: 75px;
            }
            span.n-hotIcon {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 10px;
                height: 20px;
                line-height: 20px;
                font-size: 10px;
                color: #fff;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }
    .n-news:last-child {
        border-bottom: none;
    }
</style>
