<!--
  搜索 — 编辑
 -->
 <template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="80">
                    <FormItem label="背景颜色" class="n-position-static">
                        <ColorPicker v-model="transparent" alpha/>
                        <Button
                            v-model="transparent"
                            @click="resetBgColor('bg')"
                            class="resetBtn"
                        >重置</Button>
                    </FormItem>
                    <FormItem label="背景图">
                        <image-upload
                            :imageUrl.sync="data.style.bgImgUrl"
                            :onBeforeUpload="onBgBeforeUpload"
                        ></image-upload>
                        <Alert show-icon>图片宽度1125px，不大于2M</Alert>
                    </FormItem>
                    <FormItem label="定位功能">
                        <RadioGroup v-model="element.location">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="文案位置">
                        <RadioGroup v-model="data.items[0].style.align">
                            <Radio label="left">默认</Radio>
                            <Radio label="center">居中</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="搜索框背景" class="n-position-static">
                        <ColorPicker v-model="searchTransparent" alpha/>
                        <Button
                            v-model="searchTransparent"
                            @click="resetBgColor('inputBg')"
                            class="resetBtn"
                        >重置</Button>
                    </FormItem>
                    <FormItem label="圆角位置">
                        <CheckboxGroup v-model="radiusPosition">
                            <Checkbox label="topLeft">左上</Checkbox>
                            <Checkbox label="topRight">左下</Checkbox>
                            <Checkbox label="bottomLeft">右上</Checkbox>
                            <Checkbox label="bottomRight">右下</Checkbox>
                        </CheckboxGroup>
                    </FormItem>
                    <FormItem label="圆角度数" v-if="radiusPosition.length > 0">
                        <RadioGroup v-model="radiusType">
                            <Radio label="6">小圆角</Radio>
                            <Radio label="10">大圆角</Radio>
                            <Radio label="100">圆形</Radio>
                        </RadioGroup>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
                <Form :label-width="80" class="n-search-form">
                    <Form-item label="搜索文案">
                        <i-input v-model="data.items[0].searchText" placeholder="展示文案"></i-input>
                    </Form-item>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
    <script>
export default {
    name: "",
    props: ["data", "element"],
    data() {
        return {
            transparent: '#5ac2b300',
            searchTransparent: '#ffffff33',
            radiusPosition: ['topLeft', 'topRight', 'bottomRight', 'bottomLeft'],
            radiusType: '6'
        };
    },
    watch: {
        "element.division": function() {
            this.data.style.margin = [];
            if (this.element.division === "0") {
                this.data.style.margin.push("0", "0", "0", "0");
            } else {
                this.data.style.margin.push("0", "0", "5", "0");
            }
        },
        transparent: {
            handler: function(newer, older) {
                var color = ''
                if(newer[0] != '#'){
                    color = this.rgbaTransform(newer)
                    this.data.style.bgColor = color
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        searchTransparent: {
            handler: function(newer, older) {
                var color = ''
                if(newer[0] != '#'){
                    color = this.rgbaTransform(newer)
                    this.data.items[0].style.bgColor = color
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        radiusPosition: {
            handler: function(newer, older) {
                this.data.style.prefixDoteRadius = ['0', '0', '0', '0']
                let that = this
                newer.map(function(value) {
                    if(value == 'topLeft'){
                        that.data.style.prefixDoteRadius[0] = '6'
                    }else if(value == 'topRight'){
                        that.data.style.prefixDoteRadius[1] = '6'
                    }else if(value == 'bottomRight'){
                        that.data.style.prefixDoteRadius[2] = '6'
                    }else if(value == 'bottomLeft'){
                        that.data.style.prefixDoteRadius[3] = '6'
                    }
                })
                
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        radiusType: {
            handler: function(newer, older) {
                let that = this
                this.data.style.prefixDoteRadius.map(function(value, index) {
                    if(value != '0'){
                        that.$set(that.data.style.prefixDoteRadius, index, newer)
                    }
                })
            },
            deep: true, // 开启深度监听
            immediate: true
        },
    },
    methods: {
        resetBgColor(name) {
            if(name == 'bg'){
                this.data.style.bgColor = "#5ac2b300";
            }else if(name == 'inputBg'){
                this.data.items[0].style.bgColor = "#ffffff33";
            }
        },
        rgbaTransform(color) {
            var values = color
                .replace(/rgba?\(/, '')
                .replace(/\)/, '')
                .replace(/[\s+]/g, '')
                .split(',');
            var a = parseFloat(values[3] || 1),
                r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
                g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
                b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255);
            var setTrans = ((a* 255).toString(16)).split('.')[0]
            var aValue = setTrans.length == '1'? '0' + setTrans : setTrans
            return "#" +
                ("0" + r.toString(16)).slice(-2) +
                ("0" + g.toString(16)).slice(-2) +
                ("0" + b.toString(16)).slice(-2) +
                aValue;
        },
        onBgBeforeUpload() {
            if (img.width !== 1125) {
                return "图片宽度必须是1125px";
            }
            return null;
        }
    }
};
</script>
    <style lang="less" scoped>
.n-search-form {
    height: 300px;
}
/deep/ .ivu-form-item {
    margin-bottom: 10px;
}
</style>