<!--
  搜索 — 预览
 -->
 <template>
        <div class="n-search-wrap n-pl-pr" :style="{'backgroundColor': data.style.bgColor, 'margin-bottom': element.division === '1'? '5px' : '0'}">
            <div class="n-address fl" v-if="element.location == '1'">北京<i></i></div>
            <div class="n-search fr" 
                :style="{
                    'width': element.location == '1'? '82%' : '100%'
                }"
            >
                <div class="n-relative">
                    <div class="n-search-icon"
                        :style="{
                            'border-color': data.items[0].style.bgColor,
                            'border-top-left-radius': data.style.prefixDoteRadius[0] + 'px',
                            'border-top-right-radius': data.style.prefixDoteRadius[1] + 'px',
                            'border-bottom-left-radius': data.style.prefixDoteRadius[2] + 'px',
                            'border-bottom-right-radius': data.style.prefixDoteRadius[3] + 'px',
                            'text-align': data.items[0].style.align,
                            'backgroundColor': data.items[0].style.bgColor
                        }"
                    >
                        <div class="n-search-content">
                            <i></i>
                            {{data.items[0].searchText || placeholder}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        export default {
            name: "search",
            props: ['data', 'element'],
            data () {
                return {
                    placeholder: '搜索'
                }
            },
            created() {
                this.data.items[0].searchText = this.placeholder
            },
            methods: {

            }
        }
    </script>
    <style lang="less" scoped>
        .n-search-wrap {
            padding: 7px 10px;
            overflow:hidden
        }
        .n-pl-pr {
            .n-search {
                width: 82%;
                .n-search-icon {
                    height: 36px;
                    line-height: 36px;
                    border-style: solid;
                    border-width: 1px;
                    .n-search-content {
                        padding: 0 15px;
                        color: #fff;
                        font-size: 12px;
                        i {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            background-image: url(../../img/search.png);
                            background-size: 100%;
                            background-repeat: no-repeat;
                            vertical-align: sub;
                            margin-right: 5px;
                        }
                    }
                }
                /deep/.ivu-input-wrapper {
                    .ivu-input {
                        padding-left: 32px;
                        padding-right: 7px;
                        border-radius: 15px;
                        height: 30px;
                    }
                }
            }
            .n-address {
                font-size: 14px;
                line-height: 36px;
                color: #fff;
                i {
                    font-style: normal;
                    display: inline-block;
                    background-image: url(https://m.360buyimg.com/babel/jfs/t1/104693/22/373/416/5dad0e44E5f2adf56/a9b8eead9865b1f8.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 10px;
                    height: 8px;
                    vertical-align: middle;
                    margin: 0 5px;
                }
            }
        }
        
        /deep/ .ivu-input-icon {
            left: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            z-index: 1;
        }
        /deep/ .ivu-input {
            background-color: rgba(0, 0, 0, .0)
        }
    </style>