<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <Form :label-width="100">
                <margin
                    :marginSizeData="data.style.margin"
                    name="边距设置"
                ></margin>
                <padding
                    :paddingSizeData="data.style.padding"
                    name="留白设置"
                ></padding>
                <corner
                    :cornerData="data.style.cornerRadius"
                    name="楼层圆角"
                ></corner>
                <FormItem label="楼层背景图片" style="margin-bottom: 0px;">
                    <image-upload :imageUrl.sync="data.style.bgImgUrl"></image-upload>
                </FormItem>
                <color
                    :colorData="data.style"
                    field ="bgColor"
                    name="楼层背景"
                    resetColor="#FFFFFF"
                ></color>
                <FormItem label="图片元素索引">
                    <Input 
                        v-model="data.ext.style.imageMultiple" 
                        placeholder="图片元素索引" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <FormItem label="图片元素索引">
                    <Input 
                        v-model="data.ext.style.imagePositon"
                        placeholder="left/right"
                        style="width: 130px;"></Input>
                </FormItem>
                <FormItem label="图片元素 上右下左">
                    <image-upload :imageUrl.sync= data.ext.style.seperateImgUrl style="display: inline-block;"></image-upload>
                </FormItem>
                <FormItem label="文字标题上边距">
                    <Input 
                        v-model="data.ext.style.marginTop" 
                        placeholder="文字标题上边距" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <FormItem label="标题文字大小">
                    <Input 
                        v-model="data.ext.style.fontSize" 
                        placeholder="标题文字大小" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <color
                    :colorData="data.ext.style"
                    field ="fontColor"
                    name="标题文字颜色"
                    resetColor="#000000"
                ></color>
                <FormItem label="图片高度">
                    <Input 
                        v-model="data.ext.style.picHeight" 
                        placeholder="图片高度" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <FormItem label="图片和标题高度">
                    <Input 
                        v-model="data.ext.style.height" 
                        placeholder="图片和标题高度" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <margin
                    :marginSizeData="data.ext.style.margin"
                    name="组件边距设置"
                ></margin>
                <!-- <FormItem label="红点位置">
                    <Input 
                        v-model="data.ext.style.dotPositon" 
                        placeholder="红点位置" 
                        style="width: 130px;"></Input>
                        <Alert show-icon>位置支持top_right top_left bottom_right bottom_left</Alert>
                </FormItem> -->
                <padding
                    :paddingSizeData="data.ext.style.dotPadding"
                    name="红点padding设置"
                ></padding>
                <FormItem label="红点border宽度">
                    <Input 
                        v-model="data.ext.style.dotBorderSize" 
                        placeholder="红点border宽度" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <color
                    :colorData="data.ext.style"
                    field ="dotBorderColor"
                    name="红点边框颜色"
                    resetColor="#F86543"
                ></color>
                <color
                    :colorData="data.ext.style"
                    field ="dotBgColor"
                    name="红点背景颜色"
                    resetColor="#F86543"
                ></color>
                <corner
                    :cornerData="data.ext.style.dotCornerRadius"
                    name="红点背景圆角"
                ></corner>
                <FormItem label="红点凸起高度">
                    <Input 
                        v-model="data.ext.style.dotBulge" 
                        placeholder="红点凸起" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <FormItem label="红点右侧超出">
                    <Input 
                        v-model="data.ext.style.dotBulgeRight" 
                        placeholder="红点右侧超出" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <FormItem label="红点border宽度">
                    <Input 
                        v-model="data.ext.style.dotFontSize" 
                        placeholder="红点字体" 
                        style="width: 130px;"
                        type="number"></Input>
                </FormItem>
                <FormItem label="红点文字加粗">
                    <RadioGroup v-model="data.ext.style.dotFontWeight">
                        <Radio label="normal">默认</Radio>
                        <Radio label="bold">加粗</Radio>
                    </RadioGroup>
                </FormItem>
                <color
                    :colorData="data.ext.style"
                    field ="dotFontColor"
                    name="红点文字颜色"
                    resetColor="#FFFFFF"
                ></color>
                <!-- <FormItem label="左边框位置">
                    <CheckboxGroup v-model="borderLeftList">
                        <Checkbox :label="index" v-for="(item, index) in data.items">{{ index + 1 }}</Checkbox>
                    </CheckboxGroup>
                </FormItem>
                <FormItem label="右边框位置">
                    <CheckboxGroup v-model="borderRightList">
                        <Checkbox :label="index" v-for="(item, index) in data.items">{{ index + 1 }}</Checkbox>
                    </CheckboxGroup>
                </FormItem>
                <FormItem label="上边框位置">
                    <RadioGroup v-model="data.style.borderTop">
                        <Radio label="none">默认</Radio>
                        <Radio label="1px solid #ccc">边框</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="下边框位置">
                    <RadioGroup v-model="data.style.borderBottom">
                        <Radio label="none">默认</Radio>
                        <Radio label="1px solid #ccc">边框</Radio>
                    </RadioGroup>
                </FormItem> -->
            </Form>
        </TabPane>
        <TabPane label="素材配置" tab="style">
            <Form :label-width="100">
                <FormItem label="数据更新">
                    <Button type="primary" @click="queryMyInfo">查询</Button>
                </FormItem>
                <!-- <FormItem label="数据来源">
                    <RadioGroup v-model="data.ext.dataSourceType1">
                        <Radio label="301">手动录入</Radio>
                        <Radio label="101">ace</Radio>
                        <Radio label="201">互医</Radio>
                        <Radio label="401">写手</Radio>
                    </RadioGroup>
                </FormItem> -->
                <!-- <template v-if="data.ext.dataSourceType1 == '301'">
                    <p>暂不支持手动录入</p>
                </template>
                <template v-else> -->
                    <!-- <transfer :value="data" :selections="floorOptions" :max="2" :element="element"></transfer> -->
                    <!-- <netAd
                        :data="data"
                        :element="element"
                        data-source = ''
                        @getresultdata="getResultData($event)"></netAd>
                </template> -->
            </Form>
        </TabPane>
    </Tabs>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import fontsize from "../commonDecorate/pageDecorateFontSize"
import inputItem from "../commonDecorate/pageDecorateInput"
import flagItem from "../commonDecorate/pageDecorateFlag"
import borderItem from "../commonDecorate/pageDecorateBorder"
import netAd from '../tab/netAdvert'
export default {
    name: "orderState",
    props: ["index", "element", "data"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        fontsize: fontsize,
        inputItem: inputItem,
        borderItem: borderItem,
        flagItem: flagItem,
        netAd: netAd,
    },
    data() {
        return {
            borderRightList: [],
            borderLeftList: [3]
        }
    },
    methods: {
        getResultData(getData) {
            this.data.items = JSON.parse(JSON.stringify(getData))
        },
        queryMyInfo() {
            this.$axios
                .request({
                    url: `/huyiIndex/getData`,
                    method: "post",
                    data: {
                        dataSourceType2: "501002",
                        personId: "123"
                    }
                })
                .then(res => {
                    if (res.data.code == 0) {
                        //this.data.items[0].userInfo.push(res.data.result.dataInfos[0].assets)
                        this.data.items = res.data.result.dataInfos
                        this.$Message.success("查询成功");
                        
                    }else{
                        this.data.items = []
                        this.$Message.success("查询失败");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    computed: {},
    watch: {
        "data.ext.style.marginTop": {
            handler: function(newer, older) {
                if(newer){
                    this.data.ext.style.height = Number(newer) + Number(this.data.ext.style.picHeight)+Number(this.data.ext.style.fontSize)
                }
            }
        },
        "this.data.ext.style.picHeight": {
            handler: function(newer, older) {
                if(newer){
                    this.data.ext.style.height = Number(newer) + Number(this.data.ext.style.marginTop)+Number(this.data.ext.style.fontSize)
                }
            }
        }
        // borderRightList: {
        //     handler: function(newer, older) {
        //         let that = this
        //         for (let i = 0, len = this.data.items.length; i < len; i++) {
        //             this.data.items[i].style.borderRight = 'none'
        //         }
        //         if(newer.length > 0){
        //             newer.map(function(value) {
        //                 if(value == '0'){
        //                     that.data.items[value].style.borderRight = '1px solid #ccc'
        //                 }else if(value == '1'){
        //                     that.data.items[value].style.borderRight = '1px solid #ccc'
        //                 }else if(value == '2'){
        //                     that.data.items[value].style.borderRight = '1px solid #ccc'
        //                 }else if(value == '3'){
        //                     that.data.items[value].style.borderRight = '1px solid #ccc'
        //                 }
        //             })
        //         }
        //     },
        //     deep: true, // 开启深度监听
        //     immediate: true
        // },
        // borderLeftList: {
        //     handler: function(newer, older) {
        //         let that = this
        //         for (let i = 0, len = this.data.items.length; i < len; i++) {
        //             this.data.items[i].style.borderLeft = 'none'
        //         }
        //         if(newer.length > 0){
        //             newer.map(function(value) {
        //                 if(value == '0'){
        //                     that.data.items[value].style.borderLeft = '1px solid #ccc'
        //                 }else if(value == '1'){
        //                     that.data.items[value].style.borderLeft = '1px solid #ccc'
        //                 }else if(value == '2'){
        //                     that.data.items[value].style.borderLeft = '1px solid #ccc'
        //                 }else if(value == '3'){
        //                     that.data.items[value].style.borderLeft = '1px solid #ccc'
        //                 }
        //             })
        //         }
        //     },
        //     deep: true, // 开启深度监听
        //     immediate: true
        // },
    }
}
</script>