<template>
    <div 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage:'url('+data.style.bgImgUrl +')',
            backgroundRepeat: 'no-repeat',
            backgroundSize: '100%',
            padding: data.style.padding[0]+'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0]+'px '+ data.style.margin[1]+'px '+ data.style.margin[2]+'px '+ data.style.margin[3]+'px',
            borderRadius: data.style.cornerRadius[0]+'px '+ data.style.cornerRadius[1]+'px '+ data.style.cornerRadius[2]+'px '+ data.style.cornerRadius[3]+'px',
        }">
        <div>
            <row>
                <Col span="24">
                    <Col :span="24/length" class="n-item" 
                        v-for="(item, index) in data.items" :key="index"
                        :style="{
                            margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px',
                            backgroundImage: index == data.ext.style.imageMultiple && data.items.length > 0? 'url(' + data.ext.style.seperateImgUrl + ')' : '',
                            backgroundRepeat: 'no-repeat',
                            backgroundPosition: 'top ' + data.ext.style.imagePositon,
                            backgroundSize: 'contain'
                        }"
                        v-if="length > 0"
                    >
                        <div class="n-dot">
                        <!-- <Badge dot> -->
                            <img :src="item.pictureUrl" :style="{
                                width: data.ext.style.picHeight + 'px',
                                height: data.ext.style.picHeight + 'px',
                                'border-radius': '50%',
                                margin: '0 auto'
                            }">
                        </div>
                        <!-- </Badge> -->
                        <p :style="{
                            fontSize: data.ext.style.fontSize+ 'px',
                            color: colorTransform(data.ext.style.fontColor),
                            marginTop: data.ext.style.marginTop + 'px',
                            height: data.ext.style.fontSize+ 'px',
                            lineHeight: data.ext.style.fontSize+ 'px',
                        }">{{ item.name }}</p>
                    </Col>
                    <Col :span="6" class="n-item" 
                        v-for="(item, index) in orderData" :key="index"
                        :style="{
                            margin: data.ext.style.margin[0]+'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px',
                            backgroundImage: index == data.ext.style.imageMultiple && data.items.length > 0? 'url(' + data.ext.style.seperateImgUrl + ')' : '',
                            backgroundRepeat: 'no-repeat',
                            backgroundPosition: 'top ' + data.ext.style.imagePositon,
                            backgroundSize: 'contain'
                        }"
                        v-if="length == '0'"
                    >
                        <div class="n-dot" v-if="item.orderInfo.orderNum > 0" style="position: relative;">
                            <img :src="item.pictureUrl" :style="{
                                width: data.ext.style.picHeight + 'px',
                                height: data.ext.style.picHeight + 'px',
                                'border-radius': '50%',
                                margin: '0 auto'
                            }">
                            <span :style="{
                                position: 'absolute',
                                top: data.ext.style.dotBulgeTop+ 'px',
                                right: data.ext.style.dotBulgeRight + 'px',
                                padding: data.ext.style.dotPadding[0]+'px '+ data.ext.style.dotPadding[1]+'px '+ data.ext.style.dotPadding[2]+'px '+ data.ext.style.dotPadding[3]+'px',
                                border: data.ext.style.dotBorderSize + 'px solid ' + data.ext.style.dotBorderColor ,
                                backgroundColor: colorTransform(data.ext.style.dotBgColor),
                                borderRadius: data.ext.style.dotCornerRadius[0]+'px '+ data.ext.style.dotCornerRadius[1]+'px '+ data.ext.style.dotCornerRadius[2]+'px '+ data.ext.style.dotCornerRadius[3]+'px',
                                fontSize: data.ext.style.dotFontSize + 'px',
                                fontWeight: data.ext.style.dotFontWeight,
                                color: colorTransform(data.ext.style.dotFontColor)
                            }">{{item.orderInfo.orderNum}}</span>
                        </div>
                        <div dot v-else>
                            <img :src="item.pictureUrl" :style="{
                                width: data.ext.style.picHeight + 'px',
                                height: data.ext.style.picHeight + 'px',
                                'border-radius': '50%',
                                margin: '0 auto'
                            }">
                        </div>
                        <p :style="{
                            fontSize: data.ext.style.fontSize+ 'px',
                            color: colorTransform(data.ext.style.fontColor),
                            marginTop: data.ext.style.marginTop + 'px',
                            height: data.ext.style.fontSize+ 'px',
                            lineHeight: data.ext.style.fontSize+ 'px',
                        }">{{ item.name }}</p>
                    </Col>
                </Col>
            </row>
        </div>
    </div>
</template>
<script>
export default {
    name: "orderState",
    props: ["index", "element", "data"],
    data() {
        return {
            orderData: [
                {
                    name: "默认数据",
                    pictureUrl:"http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
                    orderInfo: {
                        orderState: "waiting4Receipt",
                        orderNum: 10
                    },
                },
                {
                    name: "默认数据",
                    pictureUrl:"http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
                    orderInfo: {
                        orderState: "waiting4Receipt",
                        orderNum: 10
                    },
                },
                {
                    name: "默认数据",
                    pictureUrl:"http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
                    orderInfo: {
                        orderState: "waiting4Receipt",
                        orderNum: 10
                    },
                },
                {
                    name: "默认数据",
                    pictureUrl:"http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
                    orderInfo: {
                        orderState: "waiting4Receipt",
                        orderNum: 10
                    },
                },
            ]
        }
    },
    created() {},
    computed: {
        length() {
            return this.data.items.length 
        }
    },
    watch: {}
}
</script>
<style lang="less" scoped>
    .n-item {
        .ivu-badge ,.n-dot {
            margin: 0 auto;
            width: 30px;
            height: 30px;
            display: block;
            img {
                display: block;
            }
        }
        p {
            text-align: center;
        }
    }
</style>