<template>
  <div class="bypass-container">
    <el-table
      :data="advertListData"
      row-key="id"
      border
      default-expand-all
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <el-table-column prop="advertId" label="广告ID"></el-table-column>
      <el-table-column prop="name" label="广告名称"></el-table-column>
      <el-table-column prop="link" label="广告链接"></el-table-column>
      <el-table-column label="广告图片" prop="pictureUrl">
        <template slot-scope="scope">
          <img :src="scope.row.pictureUrl" class="listImgurl" v-if="scope.row.pictureUrl!=''" />
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <Button
            type="success"
            size="small"
            style="margin-right: 5px"
            @click="addBypass(scope.$index, scope.row)"
            v-if="scope.row.flag"
          >新增分流</Button>
          <Button
            type="error"
            size="small"
            style="margin-right: 5px"
            @click="addExperiment(scope.$index, scope.row)"
            v-if="scope.row.children&&scope.row.children.length>0"
          >配置分流</Button>

          <!-- <Button
            type="error"
            size="small"
            style="margin-right: 5px"
            @click="deleteChildrenItme(scope.$index, scope.row)"
            v-if="scope.row.children&&scope.row.children.length>0"
          >删除</Button>-->
        </template>
      </el-table-column>
    </el-table>
    <!-- 新建分流 -->
    <Modal v-model="addBypassModal" title="新增分流">
      <Form :model="bypassForm" ref="bypassForm" :rules="bypassFormRule" style="padding-left:60px">
        <FormItem
          label="广告组ID"
          :label-width="80"
          prop="bypassAdvertId"
          class="ivu-form-item-required"
        >
          <Row>
            <Col span="14">
              <Input type="text" v-model="bypassForm.bypassAdvertId" placeholder="请输入广告组ID"></Input>
            </Col>
          </Row>
        </FormItem>
      </Form>
      <div slot="footer" style="text-align: center;">
        <Button :loading="modal_loading" @click="addBypassCancel">取消</Button>
        <Button type="primary" :loading="modal_loading" @click="queryBypassAdverts">确定</Button>
      </div>
    </Modal>
    <!-- 配置分流 -->
    <Modal v-model="addExperimentModal" title="配置分流">
      <Form
        :model="addExperimentForm"
        ref="bypassForm"
        :rules="addExperimentForm"
        style="padding-left:60px"
      >
        <FormItem
          label="实验名称"
          :label-width="80"
          prop="experimentName"
          class="ivu-form-item-required"
        >
          <Row>
            <Col span="14">
              <Input type="text" v-model="addExperimentForm.experimentName" placeholder="请输入实验名称"></Input>
            </Col>
          </Row>
        </FormItem>
        <Table stripe border :columns="experimentColumns" :data="experimentData">
          <!-- <template slot-scope="{ row }" slot="name">
            <Select v-model="model1" style="width:200px">
              <Option
                v-for="item in advertListData"
                :value="item.id"
                :key="item.id"
              >{{ item.name }}</Option>
            </Select>
          </template>-->
          <!-- <template slot-scope="{ row, index }" slot="action">
            <Button type="dashed" size="small" @click="remove(index)">删除</Button>
          </template>-->
        </Table>
      </Form>
      <div slot="footer" style="text-align: center;">
        <Button :loading="modal_loading" @click="addExperimentCancel">取消</Button>
        <Button type="primary" :loading="modal_loading" @click="addExperimentOk">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  name: "bypass",
  props: [],
  data() {
    return {
      addBypassModal: false,
      advertListData: [],
      modal_loading: false,
      addExperimentModal: false,
      indexId: 0,
      bypassForm: {
        bypassAdvertId: "03998245"
      },
      addExperimentForm: {
        experimentName: ""
      },
      advertListData: [
        {
          id: 0,
          advertId: "",
          name: "",
          link: "",
          pictureUrl: "",
          children: []
        }
      ],
      bypassFormRule: {
        bypassAdvertId: [
          {
            required: true,
            message: "请输入广告组ID",
            trigger: ["blur", "change"]
          },
          {
            type: "string",
            pattern: /^\d+$/,
            message: "格式错误",
            trigger: ["blur", "change"]
          }
        ]
      },
      experimentColumns: [
        {
          title: "序号",
          key: "advertId"
        },
        {
          title: "测试广告",
          key: "name"
        },
        {
          title: "分流比例",
          key: "proportion"
        },
        {
          title: "操作",
          slot: "action",
          width: 150,
          align: "center"
        }
      ],
      experimentData: [
        {
          advertId: "1",
          name: "海外药品",
          proportion: "100%"
        }
      ]
    };
  },
  created() {},
  mounted() {
    this.getAdvertList();
  },
  methods: {
    getAdvertList() {
      this.$axios
        .request({
          url: `/material/queryMaterialAdverts?advertId=${this.$route.query.advertId}&stage=0`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            for (let i = 0; i < res.data.data.length; i++) {
              res.data.data[i].id = i + 1;
              res.data.data[i].flag = true;
              res.data.data[i].children = [];
            }
            this.advertListData = res.data.data;
            console.log(this.advertListData);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    //   点击新增分流按钮
    addBypass(index, row) {
      console.log(index);
      console.log(row);
      this.indexId = index;
      this.addBypassModal = true;
    },
    // 取消新增分流
    addBypassCancel() {
      this.modal_loading = true;
      setTimeout(() => {
        this.modal_loading = false;
        this.addBypassModal = false;
      }, 100);
    },
    // 查询分流广告组ID
    queryBypassAdverts() {
      this.$refs["bypassForm"].validate(valid => {
        if (valid) {
          this.$axios
            .request({
              url: `/material/queryMaterialAdverts?advertId=${this.bypassForm.bypassAdvertId}&stage=0`,
              method: "get"
            })
            .then(res => {
              if (res.data.code == 0) {
                this.addBypassModal = false;
                for (let i = 0; i < res.data.data.length; i++) {
                  res.data.data[i].id = this.indexId + "" + i;
                  this.advertListData[this.indexId].children.push(
                    res.data.data[i]
                  );
                }
                console.log(this.advertListData);
              }
            })
            .catch(err => {
              console.log(err);
            });
        } else {
          this.$Message.error("请输入广告组ID！");
        }
      });
    },
    // 点击新建实验按钮
    addExperiment(index, row) {
      console.log(index);
      console.log(row);
      this.addExperimentModal = true;
    },
    // 取消配置分流
    addExperimentCancel() {
      this.modal_loading = true;
      setTimeout(() => {
        this.modal_loading = false;
        this.addExperimentModal = false;
      }, 100);
    },
    // 确定配置分流
    addExperimentOk() {},
    // 删除配置广告
    remove(index) {}
  }
};
</script>

<style lang="less" scoped>
.bypass-container {
  padding: 30px;
}
.listImgurl {
  display: block;
  width: 40px;
  height: 40px;
}
</style>