<template>
    <div>
        <Modal
                v-model="goodModel"
                title="商品查询"
                @on-ok="handleGoodsRes"
                @on-cancel="handleGoodsCancel"
                >
            <div class="n-checkbox">
                <Row style="width: 60%">
                    <Col span="4" style="line-height: 32px;">
                        <Checkbox
                            :value="checkAll"
                            @click.prevent.native="handleCheckAll"
                            :indeterminate="indeterminate">全选
                        </Checkbox>
                    </Col>
                    <!-- <Input search enter-button placeholder="根据skuId查询数据" style="width: auto;display: inline-table;margin-left: 20px;" /> -->
                    <Col span="4">
                        <Select v-model="datalist[iconIndex].dataSource" transfer>
                            <Option value="0">商品组</Option>
                            <Option value="1">商品</Option>
                        </Select>
                    </Col>
                    <Col span="11">
                        <Input :placeholder="datalist[iconIndex].dataSource == '0'? '请输入商品组ID': '请输入商品skuId'" v-model="groupId"></Input>
                    </Col>
                    <Col span="4" offset="1">
                        <Button @click="search">查询</Button>
                    </col>
                </Row>
            </div>
            <Row class="n-scroll" v-scrollBar>
                <CheckboxGroup v-model="checkAllGroup" class="clearfix" @on-change="checkAllGroupChange">
                    <Col span="4" v-for="(item, index) in list" :key="index" class="n-col">
                        <Checkbox :label="item.skuId">
                            <div class="n-goods">
                                <img :src="'https://m.360buyimg.com/pop/' + item.picUrl">
                                <p>{{item.name}}</p>
                                <span title="skuId">{{item.skuId}}</span>
                            </div>
                        </Checkbox>
                    </Col>
                </CheckboxGroup>
            </Row>
        </Modal>
    </div>
</template>
<script>
export default {
    name: "chooseGoods",
    props: ['datalist', 'goodsmodel', 'data'],
    data() {
        return {
            checkAll: false,
            list: [],
            checkAllGroup: [],
            indeterminate: true,
            groupId: this.datalist[0].ext.groupId,
            goodModel: this.goodsmodel,
            iconIndex: 0,
        }
    },
    created() {
        if(this.datalist[this.iconIndex].dataSource === '0'){
            this.dataInit()
        }else{
            this.goodsDataInit()
        }
    },
    methods: {
        handleCheckAll () {
            if (this.indeterminate) {
                this.checkAll = false;
            } else {
                this.checkAll = !this.checkAll;
            }
            this.indeterminate = false;
            
            if (this.checkAll) {
                this.checkAllGroup = []
                this.list.map((value, index) => {
                    this.checkAllGroup.push(value.skuId)
                })
            } else {
                this.checkAllGroup = [];
            }
        },
        checkAllGroupChange (data) {
            if (data.length === this.list.length) {
                this.indeterminate = false;
                this.checkAll = true;
            } else if (data.length > 0) {
                this.indeterminate = true;
                this.checkAll = false;
            } else {
                this.indeterminate = false;
                this.checkAll = false;
            }
        },
        dataInit() {
            this.$axios
                .request({
                    url: `/material/queryMatProdForGroups?groupId=${this.groupId}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code==0) {
                        //this.list = res.data.data
                        this.filterProducts(res.data.data)
                        this.checkedDataShow()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        goodsDataInit() {
            this.$axios
                .request({
                    url: `/jdh/configPageStyle/querySkuBySkuIds?skuIds=${this.groupId}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code==0) {
                        //this.list = res.data.data
                        this.filterProducts(res.data.data)
                        this.checkedDataShow()
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        handleGoodsRes() {
            this.submitSelectedData()
            this.$emit('updateGoodsModel', false);
        },
        handleGoodsCancel () {
            this.$Message.info('尚未选择商品，已取消！');
            this.$emit('updateGoodsModel', false);
        },
        submitSelectedData() {
            let that = this
            that.datalist[this.iconIndex].items = []
            that.checkAllGroup.map((checkValue) => {
                this.list.map((value, index) => {
                    if(checkValue === value.skuId){
                        that.datalist[this.iconIndex].items.push(value)
                    }
                })
            })

            if(this.iconIndex == '0'){
                this.$set(this.data, 1, this.data[0].items[0].action[0])
            }
        },
        checkedDataShow() {
            this.datalist[this.iconIndex].items.map((item, index) => {
                this.checkAllGroup.push(item.skuId)
            })
        },
        filterProducts(arr) {
            let filterArr = []
            arr.forEach((item,index) => {
                var newObject = {};
                newObject.skuId = arr[index].skuId
                newObject.jdPrice = arr[index].jdPrice
                newObject.picUrl = arr[index].picUrl
                newObject.name = arr[index].name
                newObject.venderId = arr[index].venderId
                filterArr.push(newObject)
            });
            let temp = _.map(filterArr, this.square);
            this.list = temp;
        },
        square(data) {
            return Object.assign(
                { type: "product", style: { margin: [0, 0, 0, 0] } },
                data
            );
        },
        search() {
            if(this.datalist[this.iconIndex].dataSource === '0'){
                this.dataInit()
            }else{
                this.groupId = 
                this.goodsDataInit()
            }
        }
    },
    watch: {
        "$store.state.app.selectedTabIndex": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                this.iconIndex = newer
                this.groupId = this.datalist[newer].ext.groupId
            },
            deep: true, // 开启深度监听
            immediate: true
        },
    }
}
</script>
<style lang="less" scoped>
    .n-col {
        position: relative;
        margin-top: 10px;
        .n-goods {
            padding: 10px;
            span {
                display: block;
                position: absolute;
                top: 0;
                text-align: right;
                background: #6cb3fd;
                margin-left: 20px;
                padding: 0 10px;
                border-radius: 4px;
                color: #fff;
            }
            p {
                height: 36px;
                overflow: hidden;
            }
            img {
                display: block;
            }
        }
    }
    .n-checkbox {
        margin-bottom: 15px;
        .n-choose {
            display: inline-block;
        }
    }
    .n-scroll {
        position: relative;
        height: 600px;
    }
    /deep/ .ivu-modal {
        width: 1000px!important;
    }
    
</style>