<template>
  <div class="dataSource-content">
    <Form :model="element.data.ext" ref="materialIdForm" :label-width="100">
      <FormItem label="数据来源" class="ivu-form-item-required">
        <Select v-model="element.data.ext.dataSourceType1" style="width:200px">
          <Option
            v-for="item in dataSourceType1List"
            :value="item.value"
            :key="item.value"
          >{{ item.label }}</Option>
        </Select>
      </FormItem>
      <div v-if="element.data.ext.dataSourceType1=='301'">
        <slot name="manual"></slot>
      </div>
      <div v-if="element.data.ext.dataSourceType1=='101'">
        <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
      </div>
      <div v-if="element.data.ext.dataSourceType1=='201'">
        <netAdvert :element="element" data-source="nethuyi" @getresultdata="getResultData($event)"></netAdvert>
      </div>
      <div v-if="element.data.ext.dataSourceType1=='401'">
        <netAdvert :element="element" data-source="xieshou" @getresultdata="getResultData($event)"></netAdvert>
      </div>
    </Form>
  </div>
</template>
<script>
// import pagePreview from "../pagePreview";
export default {
  name: "dataSource",
  props: {
    element: {
      type: Object,
      default: {}
    }
  },
  data() {
    return {
      dataSourceType1List: [
        {
          value: "101",
          label: "ace营销投放平台"
        },
        {
          value: "201",
          label: "互联网医院"
        },
        {
          value: "301",
          label: "手动录入"
        },
        {
          value: "401",
          label: "写手后台"
        }
      ]
    };
  },
  mounted() {},
  methods: {
    // 获取互联网医院获取数据
    getResultData(data) {
      debugger
      this.$set(this.element.data, "items", data);
    }
  },
  watch: {}
};
</script>
<style lang="less" scoped>
</style>
