<template>
  <div class="netAdvert-content">
    <Form :label-width="100" class="ivu-form-item-required">
      <FormItem label="展示对象">
        <RadioGroup v-model="targetStatus" @on-change="updateStatus('change')">
          <Radio :label="2">全部用户</Radio>
          <Radio :label="1">指定用户(需要先保存楼层才可配置定投)</Radio>
        </RadioGroup>
      </FormItem>
      <div v-if="targetStatus=='1'">
        <ul class="targetShowBox" v-if="targetList.length>0">
          <li v-for="(item,index) in targetList" :key="index">
            <div class="targetListTitle">{{item.title}}</div>
            <div class="targetListContent">
              <Button type="success" ghost v-for="(val,index) in item.values">{{val}}</Button>
            </div>
          </li>
        </ul>
        <p v-if="targetList.length==0" class="tips">未配置定投规则</p>
        <FormItem>
          <Button type="success" @click="getTargeted" ref="getTargeted">查询定投规则</Button>
          <Button type="primary" @click="settingFloorTargeted" class="settingBtn">配置定投</Button>
        </FormItem>
      </div>
    </Form>
  </div>
</template>
<script>
export default {
  name: "floorTargeted",
  props: {
    element: {
      type: Object,
      default: {}
    },
  },
  data() {
    return {
      deliveryId: "",
      targetList: [],
      targetStatus: 2
    };
  },
  mounted() {
     this.getfloorTargetStatus();
  },
  methods: {
    //获取定投deliveryId信息
    getfloorTargetStatus() {
      if(this.element.identityId!=''){
        this.$axios
        .request({
          url: `/jdh/fixedInvestment/queryStatus`,
          method: "post",
          data: {
            floorIdentityId: this.element.identityId
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.targetStatus = res.data.data.status;
            if (this.targetStatus == 1) {
              this.getTargeted();
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
      }
      
    },

    // 更新定投规则接口
    updateStatus(string) {
      if(this.element.pageIdentityId&&this.element.pageIdentityId!=''){
        this.$axios
        .request({
          url: `/jdh/fixedInvestment/updateStatus`,
          method: "post",
          data: {
            pageId: this.element.pageId+'',
            pageIdentityId: this.element.pageIdentityId,
            floorId: this.element.id + "",
            floorName: this.element.name,
            floorIdentityId: this.element.identityId,
            status: this.targetStatus
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.deliveryId = res.data.data.deliveryId;
            if(string=='getTargeted'){
              this.getTargeted()
            }else if(string=='settingFloorTargeted'){
              this.settingFloorTargeted()
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
      }else{
        this.$Message.error("请先保存此楼层！");
      }
     
    },
    // 查询定投规则
    getTargeted() {
      if(this.element.pageIdentityId&&this.element.pageIdentityId!=''){
        if(this.deliveryId&&this.deliveryId!=''){
          this.$axios
          .request({
            url: `/material/querySortDirectTags`,
            method: "post",
            data: {
              query: {
                [this.deliveryId]: ["" + this.element.identityId+ ""] //key为did，value为list<String>，素材id，如果为空则获取did下所有规则
              }
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              this.targetList = res.data.data[this.deliveryId][0].tags;
            }
          })
          .catch(err => {
            console.log(err);
          });
        }else{
          this.updateStatus('getTargeted')
        }
        
      }else{
        this.$Message.error("请先保存此楼层！");
      }
      
    },
    // 去配置定投
    settingFloorTargeted() {
      if(this.element.pageIdentityId&&this.element.pageIdentityId!=''){
        if(this.deliveryId&&this.deliveryId!=''){
            window.open(
                  `${this.$aceUrlDev}/fixInvestPage?materialType=jdh&deliveryId=${this.deliveryId}&materialId=${this.element.identityId}&floorInfo={'label':${this.element.name},'moduleId':${this.element.identityId}}`,
                  "_blank")
        }else{
           this.updateStatus('settingFloorTargeted')
        }
      }else{
        this.$Message.error("请先保存此楼层！");
      }
     
    }
  }
};
</script>
<style lang="less" scoped>
.settingBtn {
  margin-left: 10px;
}
.targetShowBox {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}
.tips{
  margin:20px 0 20px 100px;
  color:#ff0000;
}
.targetListTitle {
  line-height: 24px;
  margin-top: 10px;
}
.targetListContent {
  button {
    margin-right: 5px;
  }
}
</style>
