<template>
  <div class="floorStyle-content">
    <Form :label-width="100">
      <FormItem label="边距设置">
        <CheckboxGroup v-model="marginType">
          <Checkbox label="top">上</Checkbox>
          <Input v-model="styleData.margin[0]" class="inputSetting" type="number" />
          <Checkbox label="left">左</Checkbox>
          <Input v-model="styleData.margin[3]" class="inputSetting" type="number" />
          <Checkbox label="bottom">下</Checkbox>
          <Input v-model="styleData.margin[2]" class="inputSetting" type="number" />
          <Checkbox label="right">右</Checkbox>
          <Input v-model="styleData.margin[1]" class="inputSetting" type="number" />
        </CheckboxGroup>
      </FormItem>

      <FormItem label="留白设置">
        <CheckboxGroup v-model="paddingType">
          <Checkbox label="top">上</Checkbox>
          <Input v-model="styleData.padding[0]" class="inputSetting" type="number" />
          <Checkbox label="left">左</Checkbox>
          <Input v-model="styleData.padding[3]" class="inputSetting" type="number" />
          <Checkbox label="bottom">下</Checkbox>
          <Input v-model="styleData.padding[2]" class="inputSetting" type="number" />
          <Checkbox label="right">右</Checkbox>
          <Input v-model="styleData.padding[1]" class="inputSetting" type="number" />
        </CheckboxGroup>
      </FormItem>
      <FormItem label="楼层圆角">
        <CheckboxGroup v-model="cornerRadiusType">
          <Checkbox label="topLeft">左上</Checkbox>
          <Input v-model="styleData.cornerRadius[0]" class="inputSetting" type="number" />
          <Checkbox label="topRight">右上</Checkbox>
          <Input v-model="styleData.cornerRadius[1]" class="inputSetting" type="number" />
          <Checkbox label="bottomLeft">左下</Checkbox>
          <Input v-model="styleData.cornerRadius[3]" class="inputSetting" type="number" />
          <Checkbox label="bottomRight">右下</Checkbox>
          <Input v-model="styleData.cornerRadius[2]" class="inputSetting" type="number" />
        </CheckboxGroup>
      </FormItem>

      <FormItem label="楼层背景">
        <RadioGroup v-model="bgColorType">
          <Radio label="0">背景色</Radio>
          <Radio label="1">背景图</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="背景颜色" v-if="bgColorType=='0'">
        <ColorPicker v-model="bgColorValue" alpha />
        <Button v-model="resetBgColorValue" @click="resetBgColor" class="resetBtn">重置</Button>
      </FormItem>
      <FormItem label="背景图片" v-else>
        <Row>
          <Col span="4">
            <ImageUpload
              :imageUrl.sync="styleData.bgImgUrl"
              
              :on-success="bgImgUrlSuccess"
            ></ImageUpload>
          </Col>
          <Col span="18">
            <Alert show-icon>图片宽1125px，不大于2M</Alert>
          </Col>
        </Row>
      </FormItem>
    </Form>
  </div>
</template>
<script>
export default {
  name: "floorConfig",
  props: {
    styleData: {
      type: Object,
      default: {}
    }
  },
  data() {
    return {
      bgColorType: "0",
      resetBgColorValue: this.styleData.bgColor
    };
  },
  mounted() {},
  computed: {
    bgColorValue: {
      get: function() {
        return this.colorTransform(this.styleData.bgColor);
      },
      set: function(newValue) {
        console.log(newValue);
        let color = "";
        if (newValue[0] != "#") {
          color = this.rgbaTransform(newValue);
          this.$set(this.styleData, "bgColor", color);
        }
      }
    },
    marginType: {
      get: function() {
        let marginList = [];
        if (this.styleData.margin[0] != "0") {
          marginList.push("top");
        }
        if (this.styleData.margin[1] != "0") {
          marginList.push("right");
        }
        if (this.styleData.margin[2] != "0") {
          marginList.push("bottom");
        }
        if (this.styleData.margin[3] != "0") {
          marginList.push("left");
        }
        return marginList;
      },
      set: function(newValue) {
        this.styleData.margin = ["0", "0", "0", "0"];
        newValue.map(currentValue => {
          if (currentValue == "top") {
            this.styleData.margin[0] = "10";
          } else if (currentValue == "right") {
            this.styleData.margin[1] = "10";
          } else if (currentValue == "bottom") {
            this.styleData.margin[2] = "10";
          } else {
            this.styleData.margin[3] = "10";
          }
        });
      }
    },
    paddingType: {
      get: function() {
        let paddingList = [];
        if (this.styleData.padding[0] != "0") {
          paddingList.push("top");
        }
        if (this.styleData.padding[1] != "0") {
          paddingList.push("right");
        }
        if (this.styleData.padding[2] != "0") {
          paddingList.push("bottom");
        }
        if (this.styleData.padding[3] != "0") {
          paddingList.push("left");
        }
        return paddingList;
      },
      set: function(newValue) {
        this.styleData.padding = ["0", "0", "0", "0"];
        newValue.map(currentValue => {
          if (currentValue == "top") {
            this.styleData.padding[0] = "10";
          } else if (currentValue == "right") {
            this.styleData.padding[1] = "10";
          } else if (currentValue == "bottom") {
            this.styleData.padding[2] = "10";
          } else {
            this.styleData.padding[3] = "10";
          }
        });
      }
    },
    cornerRadiusType: {
      get: function() {
        let cornerRadiusList = [];
        if (this.styleData.cornerRadius[0] != "0") {
          cornerRadiusList.push("topLeft");
        }
        if (this.styleData.cornerRadius[1] != "0") {
          cornerRadiusList.push("topRight");
        }
        if (this.styleData.cornerRadius[2] != "0") {
          cornerRadiusList.push("bottomRight");
        }
        if (this.styleData.cornerRadius[3] != "0") {
          cornerRadiusList.push("bottomLeft");
        }
        return cornerRadiusList;
      },
      set: function(newValue) {
        this.styleData.cornerRadius = ["0", "0", "0", "0"];
        newValue.map(currentValue => {
          if (currentValue == "topLeft") {
            this.styleData.cornerRadius[0] = "10";
          } else if (currentValue == "topRight") {
            this.styleData.cornerRadius[1] = "10";
          } else if (currentValue == "bottomRight") {
            this.styleData.cornerRadius[2] = "10";
          } else {
            this.styleData.cornerRadius[3] = "10";
          }
        });
      }
    }
  },
  methods: {
    resetBgColor() {
      this.styleData.bgColor = this.resetBgColorValue;
    },
    bgColorBeforeUpload(file, img) {
      if (img.width !== 1125) {
        return "请上传宽度为1125px的图片！";
      }
      return null;
    },
    bgImgUrlSuccess(res) {
      this.$set(this.styleData, "bgImgUrl", res.result.path);
    },
    colorTransform(colorData) {
      if (colorData.length == "9") {
        let transparent = colorData.substring(1, 3);
        let colorValue = colorData.substring(3, colorData.length);
        return "#" + colorValue + transparent;
      } else {
        return colorData;
      }
    },
    //颜色转换成hex格式
    rgbaTransform(color) {
      var values = color
        .replace(/rgba?\(/, "")
        .replace(/\)/, "")
        .replace(/[\s+]/g, "")
        .split(",");
      var a = parseFloat(values[3] || 1),
        r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
        g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
        b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255);
      var setTrans = (a * 255).toString(16).split(".")[0];
      var aValue = setTrans.length == "1" ? "0" + setTrans : setTrans;
      console.log(aValue);
      return (
        "#" +
        aValue +
        ("0" + r.toString(16)).slice(-2) +
        ("0" + g.toString(16)).slice(-2) +
        ("0" + b.toString(16)).slice(-2)
      );
    }
  }
};
</script>
<style lang="less" scoped>
.ivu-checkbox-wrapper {
  margin-right: 10px;
}
.inputSetting {
  width: 105px;
  margin-right: 40px;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
</style>
