<template>
  <div class="netAdvert-content">
    <Form :label-width="100" class="ivu-form-item-required">
      <FormItem label="数据类型">
        <Row>
          <Col span="20">
            <Select v-model="element.data.ext.dataSourceType2" @on-change="dataSourceType2Change">
              <Option
                v-for="(item,index) in advertList"
                :value="item.dictValue"
                :key="index"
              >{{ item.dictName }}</Option>
            </Select>
          </Col>
        </Row>
      </FormItem>
      <FormItem v-if="element.data.ext.dataSourceType2!=''&&dataSourceList.length>0">
        <Row v-for="(item,index) in dataSourceList" :key="index" style="margin-bottom:20px;">
          <Col span="4">{{item.name}}</Col>
          <Col span="16">
            <Form :ref="'items' + index" :model="item" :rules="dictValueValidate" :label-width="80">
              <FormItem :label-width="0" prop="dictValue">
                <Input type="text" v-model="item.dictValue" placeholder="请输入value"></Input>
              </FormItem>
            </Form>
          </Col>
        </Row>
      </FormItem>
      <FormItem>
        <Button type="primary" @click="queryAdvertInfo">查询</Button>
      </FormItem>
    </Form>
  </div>
</template>
<script>
// import pagePreview from "../pagePreview";
export default {
  name: "netAdvert",
  props: {
    element: {
      type: Object,
      default: {}
    },
    dataSource: {
      type: String,
      default: "nethuyi"
    }
  },
  data() {
    return {
      advertList: [],
      dataSourceList: [],
      // initDataSourceType2: this.element.data.ext.dataSourceType2,
      dictValueValidate: {
        dictValue: [
          {
            required: true,
            message: "输入框不能为空",
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted() {
    // this.querySysDictChildList();
    if (this.element.data.ext.dataSourceType2 != "") {
      if (Object.keys(this.element.data.ext.dataIds).length != 0) {
        this.dataSourceList = [];
        for (var k in this.element.data.ext.dataIds) {
          this.dataSourceList.push({
            name: k,
            dictValue: this.element.data.ext.dataIds[k]
          });
        }
      }
    }
  },
  methods: {
    // 获取字典列表
    querySysDictChildList() {
      this.$axios
        .request({
          url: `/jdh/sysDict/querySysDictChildList?dictType=${this.dataSource}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.advertList = res.data.data;
            // this.dataSourceList = [];
            // if (this.element.data.ext.dataSourceType2 != "") {
            //   if (Object.keys(this.element.data.ext.dataIds).length != 0) {
            //     for (var k in this.element.data.ext.dataIds) {
            //       this.dataSourceList.push({
            //         name: k,
            //         dictValue: this.element.data.ext.dataIds[k]
            //       });
            //     }
            //   } else {
            //     this.dataSourceType2Change();
            //   }
            // }
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    // 显示字典项
    dataSourceType2Change() {
      this.$axios
        .request({
          url: `/jdh/sysDict/querySysDictChildList?dictType=${this.element.data.ext.dataSourceType2}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.dataSourceList = [];
            let resultData = res.data.data;
            if (resultData.length > 0) {
              for (let i = 0; i < resultData.length; i++) {
                this.dataSourceList.push({
                  [resultData[i].dictValue]: "",
                  name: resultData[i].dictValue
                });
              }
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 查询广告组信息
    queryAdvertInfo() {
      let arr = [];
      this.dataSourceList.forEach((item, index) => {
        let form = "items" + index;
        if (this.$refs[form]) {
          this.$refs[form][0].validate(valid => {
            if (valid) {
              arr.push(true);
            } else {
              arr.push(false);
            }
          });
        } else {
          arr.push(true);
        }
      });
      let flag = arr.every(item => {
        return item === true;
      });
      if (flag) {
        this.element.data.ext.dataIds = {};
        for (let i = 0; i < this.dataSourceList.length; i++) {
          this.element.data.ext.dataIds[
            this.dataSourceList[i].name
          ] = this.dataSourceList[i].dictValue;
        }
        console.log(this.element.data.ext);
        this.$axios
          .request({
            url: `/huyiIndex/getData`,
            method: "post",
            data: {
              dataSourceType2: this.element.data.ext.dataSourceType2,
              dataIds: this.element.data.ext.dataIds
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              let elementList = this.element.data.items;
              let resultList = res.data.result.dataInfos;
              for (let i = 0; i < resultList.length; i++) {
                if (resultList[i].jumpLinkInfo) {
                  resultList[i].jumpLinkInfo.linkType = "0";
                  resultList[i].jumpLinkInfo.identityId = "";
                }
              }
              // let len =
              //   elementList.length > resultList.length
              //     ? elementList.length
              //     : resultList.length;
              let result = [];
              for (let i = 0; i < resultList.length; i++) {
                let item = Object.assign(elementList[i] || {}, resultList[i]);
                result.push(item);
              }
              this.$emit("getresultdata", result);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.$Message.error("请完成表单校验");
      }
    }
  },
  watch: {
    dataSource: {
      handler: function(newer, older) {
        this.querySysDictChildList();
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.dataSourceType1": {
      handler: function(newer, older) {
        if (this.element.data.ext.dataSourceType2.indexOf(newer) == -1) {
          this.element.data.ext.dataSourceType2 = "";
        }
        this.querySysDictChildList();
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>
<style lang="less" scoped>
</style>
