<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <floorConfig :styleData="element.data.style"></floorConfig>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace数据</Radio>
              <Radio label="201">互医数据</Radio>
            </RadioGroup>
          </FormItem>
          <div v-if="element.data.ext.dataSourceType1=='301'">
            <Collapse accordion v-model="value1">
              <Panel name="1">
                第一组
                <div slot="content" class="marginTop">
                  <Form :model="element.data.items[0]" :rules="ruleValidate" :label-width="100">
                    <FormItem label="跳转链接">
                      <linkType :linkInfo="element.data.items[0]"></linkType>
                    </FormItem>
                    <FormItem label="活动时间">
                      <DatePicker
                        v-model="element.data.items[0].date"
                        type="datetime"
                        placeholder="请选择截至时间"
                        :options="dateOption"
                        format="yyyy-MM-dd HH:mm"
                        @on-change="dateChange(0, $event)"
                      ></DatePicker>
                    </FormItem>
                    <FormItem label="上传图片">
                      <Row>
                        <Col span="6">
                          <ImageUpload
                            :imageUrl.sync="element.data.items[0].pictureUrl"
                            :onBeforeUpload="handleBeforeUpload"
                            :on-success="(res)=> handleSuccess(res,0)"
                          ></ImageUpload>
                        </Col>
                        <Col span="18">
                          <Alert show-icon>图片宽534px，高360px，不大于2M</Alert>
                        </Col>
                      </Row>
                    </FormItem>
                  </Form>
                </div>
              </Panel>
              <Panel name="2">
                第二组
                <div slot="content" class="marginTop">
                  <Form :model="element.data.items[1]" :rules="ruleValidate" :label-width="100">
                    <FormItem label="链接地址">
                      <linkType :linkInfo="element.data.items[1]"></linkType>
                    </FormItem>
                    <FormItem label="活动时间" prop="date">
                      <DatePicker
                        type="datetime"
                        v-model="element.data.items[1].date"
                        placeholder="请选择截至时间"
                        :options="dateOption"
                        format="yyyy-MM-dd HH:mm"
                        @on-change="dateChange(1, $event)"
                      ></DatePicker>
                    </FormItem>
                    <FormItem label="上传图片">
                      <Row>
                        <Col span="6">
                          <ImageUpload
                            :imageUrl.sync="element.data.items[1].pictureUrl"
                            :onBeforeUpload="handleBeforeUpload"
                            :on-success="(res)=> handleSuccess(res,1)"
                          ></ImageUpload>
                        </Col>
                        <Col span="18">
                          <Alert show-icon>图片宽534px，高360px，不大于2M</Alert>
                        </Col>
                      </Row>
                    </FormItem>
                  </Form>
                </div>
              </Panel>
            </Collapse>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else>
            <netAdvert :element="element" @getresultdata="getResultData($event)"></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import jdLogo from "../../img/jdLogo.png";
import { mapMutations } from "vuex";
export default {
  name: "brandSaleEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      dataSource: "manual",
      InputNumber: 100,
      pictureUrl: "",
      value1: "1",
      dateOption: {
        disabledDate(date) {
          let startTime = Date.now() - 86400000;
          let endTime = Date.now() + 172800000;
          return (
            (date && date.valueOf() < startTime) || date.valueOf() > endTime
          );
        }
      },
      ruleValidate: {
        date: [
          {
            required: true,
            type: "date",
            message: "请选择时间",
            trigger: "blur change"
          }
        ]
      }
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    dateChange(index, $event) {
      let setTime = new Date($event).getTime();
      let nowTime = new Date().getTime();
      let restTime = (setTime - nowTime) / 1000;
      let hour = parseInt(restTime / 3600);
      let minu = parseInt((restTime / 60) % 60);
      let sec = parseInt(restTime % 60);
      this.element.data.items[index].hour = this.setNum(hour) + "";
      this.element.data.items[index].minu = this.setNum(minu) + "";
      this.element.data.items[index].sec = this.setNum(sec) + "";
      this.element.data.items[index].countSec = restTime + "";
    },
    setNum(num) {
      if (num < 10) {
        num = "0" + num;
      }
      return num;
    },

    handleSuccess(res, index) {
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (img.width !== 534 || img.height !== 360) {
        return "请上传宽534px，高360px的图片！";
      }

      return null;
    },
    // 获取互联网医院获取数据
    getResultData(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.marginTop {
  margin-top: 10px;
}

/deep/.demo-upload-list {
  border: none;
  box-shadow: none;
}

.resetBtn {
  margin-left: 10px;
}
</style>