<!--
  优惠劵 — 编辑
 -->
<template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="80">
                    <FormItem label="展示样式">
                        <RadioGroup v-model="data.style.column">
                            <Radio label="1">一行一个</Radio>
                            <Radio label="2">一行两个</Radio>
                            <Radio label="3">一行三个</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="分割线">
                        <RadioGroup v-model="element.division">
                            <Radio label="0">不展示</Radio>
                            <Radio label="1">展示</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="背景色" class="n-position-static">
                        <ColorPicker v-model="data.style.bgColor" />
                        <Button v-model="data.style.bgColor" @click="resetBgColor" class="resetBtn">重置</Button>
                    </FormItem>
                    <FormItem label="背景图">
                        <image-upload 
                            :imageUrl.sync= data.style.bgImgUrl
                            :onBeforeUpload="onBeforeUpload"></image-upload>
                        <Alert show-icon>图片宽度1125px，高度160px，不大于2M</Alert>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
                <!-- <Col :span="col === 2? '12' : '8'" v-for="(o, index) in col" :key="index"></Col> -->
                <Form
                    ref="formValidate"
                    :model="data"
                    :rules="ruleValidate"
                    :label-width="80">
                    <Collapse class="n-ivu-collapse" :value="index+ '-0'">
                        <Panel v-for="(item, i) in data.items" :key="index+ '-' + i">
                            <span class="n-option-subtitle">优惠券{{i}}</span>
                            <div slot="content">
                                <FormItem label="金额" class="n-form-item-required">
                                    <Input v-model="item.price" placeholder="请输入金额"></Input>
                                </FormItem>
                                <FormItem label="满" class="n-form-item-required">
                                    <Input v-model="item.limitePrice" placeholder="请输入价格" class="n-activity"></Input>可用
                                </FormItem>
                                <FormItem label="描述" class="n-form-item-required">
                                    <Input v-model="item.limiteCondition" placeholder="请输入描述"></Input>
                                </FormItem>
                            </div>
                        </Panel>
                    </Collapse>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
    import ImageUpload from '../ImageUpload'
    export default {
        name: "couponEdit",
        props: ["index", "data", "element"],
        components: {
            'image-upload': ImageUpload
        },
        data() {
            return {
                formValidate: {
                    items: []
                },
                ruleValidate: {
                    price: [
                        { required: true, message: "价格不能为空", trigger: "blur" }
                    ],
                    limitePrice: [
                        { required: true, message: "满减金额不能为空", trigger: "blur" }
                    ],
                    limiteCondition: [
                        { required: true, message: "描述不能为空", trigger: "blur" }
                    ]
                },
                panelValue: [0,1,2,3],
            }
        },
        watch: {
            'element.division': function() {
                this.data.style.margin = []
                if(this.element.division === '0'){
                    this.data.style.margin.push("0", "0", "0", "0")
                }else{
                    this.data.style.margin.push("0", "0", "5", "0")
                }
            }
        },
        computed: {
            panelIndex() {
                return this.index
            }
        },
        mounted() {
            
        },
        methods: {
            resetBgColor() {
                this.data.style.bgColor = '#ffffff';
            },
            onBeforeUpload (file, img) {
                if (img.width !== 1125) {
                    return '图片宽度必须是1125px'
                }
                if (img.height !== 160) {
                    return '图片高度必须是160px'
                }
                return null
            },
        }
    }
</script>
<style lang="less" scoped>
    .n-activity {
        width: 84px;
        margin: 0 10px 0 0;
    }
</style>