<template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="100">
                    <floorConfig :styleData="data.style"></floorConfig>
                    <cardSize 
                        :cardSizeData="{
                            name: '卡片',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'padding'
                        }"
                    ></cardSize>
                    <corner
                        :cornerData="{
                            name: '卡片',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'cornerRadius'
                        }"
                    ></corner>
                    <cornerSize
                        :cornerSizeData="{
                            name: '卡片',
                            modifyField: data,
                            modify: 'ext',
                            style: 'style',
                            field: 'cornerRadius'
                        }"
                    ></cornerSize>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
            </TabPane>
        </Tabs>
    </div>
</template>

<script>
import cardSize from "../commonDecorate/pageDecorateCard"
import corner from "../commonDecorate/pageDecorateCorner"
import cornerSize from "../commonDecorate/pageDecorateCornerSize"
export default {
    name: "couponGift",
    props: ["element", "data"],
    components: {
        corner: corner,
        cardSize: cardSize,
        cornerSize: cornerSize
    },
    data() {
        return {
           
        }
    },
}
</script>