<template>
    <div
        :style="{
            backgroundColor: data.style.bgColor ? data.style.bgColor:'#ffffff',
            backgroundImage:'url('+ data.style.bgImgUrl +')',
            padding: data.style.padding[0] +'px '+ data.style.padding[1]+'px '+ data.style.padding[2]+'px '+ data.style.padding[3]+'px',
            margin: data.style.margin[0] +'px '+data.style.margin[1]+'px '+data.style.margin[2]+'px '+data.style.margin[3]+'px',
            borderRadius:data.style.cornerRadius[0] +'px '+data.style.cornerRadius[1]+'px '+data.style.cornerRadius[2]+'px '+data.style.cornerRadius[3]+'px'
        }"
    >
        <div
            :style="{
                backgroundColor: data.ext.style.bgColor ? data.ext.style.bgColor:'#ffffff',
                backgroundImage:'url('+ data.ext.style.bgImgUrl +')',
                padding: data.ext.style.padding[0] +'px '+ data.ext.style.padding[1]+'px '+ data.ext.style.padding[2]+'px '+ data.ext.style.padding[3]+'px',
                margin: data.ext.style.margin[0] +'px '+data.ext.style.margin[1]+'px '+data.ext.style.margin[2]+'px '+data.ext.style.margin[3]+'px',
                borderRadius:data.ext.style.cornerRadius[0] +'px '+data.ext.style.cornerRadius[1]+'px '+data.ext.style.cornerRadius[2]+'px '+data.ext.style.cornerRadius[3]+'px'
            }"
        >
            <Row>
                <Col span="18">
                    <p class="n-title"><i></i>0元好礼待领取</p>
                    <p class="n-desc">五月花抽纸、金龙鱼油好礼免费送</p>
                </Col>
                <Col span="6" style="text-align: right;">
                    <p class="n-button">去领取</p>
                </Col>
            </Row>
        </div>
    </div>
</template>
<script>
export default {
    name: "couponGift",
    props: ['data', 'element'],
    data() {
        return {
           
        }
    },
}
</script>
<style lang="less" scoped>
    p.n-title {
        font-size: 14px;
        font-weight: bold;
        height: 26px;
        line-height: 26px;
        i {
            display: inline-block;
            background: url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png);
            width: 26px;
            height: 26px;
            background-size: 100%;
            vertical-align: middle;
            margin-right: 3px;
        }
    }
    p.n-desc {
        font-size: 12px;
        color: #666666;
        margin-top: 3px;
        overflow: hidden;
    }
    p.n-button {
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        background: url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 50px;
        color: #333333;
        text-align: center;
        margin-top: 8px;
    }
</style>