<template>
  <div>
    <Form ref="formInline" :model="formInline" :label-width="100" :rules="ruleInline">
      <FormItem label="分流实验描述">
        <Input type="text" v-model="formInline.description" placeholder="分流实验描述">
        </Input>
      </FormItem>
      <!--<FormItem label="分流实验ID">-->
      <!--<Input type="text" v-model="formInline.aliasId" placeholder="分流实验ID">-->
      <!--</Input>-->
      <!--</FormItem>-->
      <FormItem label="实验产品">
        <Input type="text" v-model="formInline.terminal" placeholder="实验页面">
        </Input>
      </FormItem>
      <FormItem label="实验页面">
        <Input type="text" v-model="formInline.pageUrl" placeholder="实验页面">
        </Input>
      </FormItem>
      <FormItem label="实验开始时间">
        <DatePicker type="datetime" format="yyyy-MM-dd HH:mm:ss"  :value="formInline.gmtStart" @on-change="formInline.gmtStart=$event" placeholder="实验开始时间" ></DatePicker>
      </FormItem>
      <FormItem label="实验结束时间">
        <DatePicker type="datetime" format="yyyy-MM-dd HH:mm:ss"   :value="formInline.gmtEnd" @on-change="formInline.gmtEnd=$event" placeholder="实验结束时间" ></DatePicker>
      </FormItem>
      <FormItem label="设置实验版本">
        <div  v-for="(item,index) in ABTestArr" :key="index">
          <Card style="padding: 1rem;margin: 1rem 0;">
            <a v-show="index>0" href="#" slot="extra" @click.prevent="delCard(index)">
              <Icon type="ios-loop-strong"></Icon>
              删除
            </a>
            <div style="display: flex;flex-direction: row;">
              <div v-if="index!=0" style="margin-right: 22px">
                <div>版本描述</div>
                <Input v-model="item.description" style="width: 200px;" type="text" placeholder="版本描述">
                </Input>
              </div>
              <div style="margin-right: 22px">
                <div>分流流量 {{item.testRate}}%</div>
                <Slider v-model="item.testRate" style="width: 300px;"></Slider>
                <Alert v-show="index==0">设置基础版本的分流流量</Alert>
              </div>
              <!--<div>-->
              <!--<span>版本标识</span>-->
              <!--<Input v-model="item.testLabel" style="width: 200px;" type="text" placeholder="版本标识">-->
              <!--</Input>-->
              <!--</div>-->
            </div>
            <div v-if="index!=0" style="display: flex;flex-direction: row;">
              <div style="margin-right: 22px">
                <div>主标题</div>
                <Input v-model="item.configData.name" style="width: 200px;" type="text" placeholder="主标题">
                </Input>
              </div>
              <div style="margin-right: 22px">
                <div>副标题</div>
                <Input v-model="item.configData.desc" style="width: 200px;" type="text" placeholder="副标题">
                </Input>
              </div>
              <div>
                <div>跳转方式</div>
                <linkType :linkInfo="item.configData"></linkType>
              </div>
            </div>
            <div v-if="index!=0" style="display: flex;flex-direction: row;">
              <div style="margin-right: 22px">
                <div>上传图片</div>
                <ImageUpload
                  :imageUrl.sync="item.configData.pictureUrl"
                  :onBeforeUpload="handleBeforeUpload"
                  :on-success="(res)=> handleSuccess(res,index)"
                ></ImageUpload>
              </div>
            </div>
          </Card>
        </div>
        <Button @click="addTest" long type="dashed">添加版本</Button>
      </FormItem>
      <FormItem>
        <Button type="primary" @click="handleSubmit">保存</Button>
      </FormItem>
    </Form>
  </div>
</template>

<script>
  export default {
    name: "ABTest",
    data(){
      return{
        formInline:{},
        ruleInline:{},
        value1:0,
        ABTestArr:[{description:'',testRate:100,configData:{type:'enreyCube',pictureUrl:'',jumpLinkInfo:{linkType: "0", identityId: "",linkUrl: ""}}}]
      }
    },
    mounted(){
    },
    methods:{
      delCard(i){
        if(i==0){
          return
        }
        this.ABTestArr.splice(i,1)
      },
      setBaseData(item,id,idx){
        //填充基础item数据
        this.formInline.floorId=id //楼层id
        this.formInline.seq=idx //楼层索引
        this.formInline.type="HTML_REPLACE";
        this.formInline.selector="randomSelector";
        this.ABTestArr[0].configData=item
        this.getFellow()
      },
      handleSubmit(){
        //jdh/geminiabtest/create
        for (let i = 0; i < this.ABTestArr.length; i++) {
          if(i==0){
            this.ABTestArr[i].type = "base";
          }else{
            this.ABTestArr[i].type = "normal";
          }
          if(this.$tools.isObject(this.ABTestArr[i].configData)){this.ABTestArr[i].configData = JSON.stringify(this.ABTestArr[i].configData)}
        }
        this.formInline.geminiLabels = this.ABTestArr
        this.$axios
          .request({
            url: `/jdh/geminiabtest/create`,
            method: "post",
            data:this.formInline
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success('分流配置完成')
              this.startFllow(res.data.result.aliasId)
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      getFellow(){
        //jdh/geminiabtest/queryTests
        this.$axios
          .request({
            url: `jdh/geminiabtest/queryTests`,
            method: "post",
            data:{
              floorId:this.formInline.floorId,
              seq:this.formInline.seq
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              // this.filterAdverts(res.data);
              // alert(res.data.result[0].geminiLabels)
              let temp = res.data.result[0].geminiLabels
              for (let i = 0; i < temp.length; i++) {
                temp[i].configData = JSON.parse(temp[i].configData)
              }
              console.log(temp)
              this.ABTestArr = temp

              //this.ABTestArr=res.data.result[0].geminiLabels
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      startFllow(id){
        //jdh/geminiabtest/start
        this.$axios
          .request({
            url: `	/jdh/geminiabtest/start`,
            method: "post",
            data:{aliasId:id,startType:'NOW'}
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success('分流启用成功')
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      getFllowData(){
        ///jdh/geminiabtest/queryTestsByAliasIds
        this.$axios
          .request({
            url: `	/jdh/geminiabtest/queryTestsByAliasIds`,
            method: "post",
            data:{aliasId:id,startType:'NOW'}
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success('分流启用成功')
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      addTest(){
        this.ABTestArr.push({description:'',testRate:0,configData:{type:'enreyCube',pictureUrl:'',jumpLinkInfo:{linkType: "0", identityId: "",linkUrl: ""}}})
      },
      handleBeforeUpload(){

      },
      handleSuccess(res, index) {

      },
    }
  }
</script>

<style scoped>

</style>
