<template>
  <div>
    <Form ref="formInline" :model="formInline" :label-width="100" :rules="ruleInline">
      <FormItem label="分流实验描述">
        <Input type="text" v-model="formInline.description" placeholder="分流实验描述">
        </Input>
      </FormItem>
      <!--<FormItem label="分流实验ID">-->
      <!--<Input type="text" v-model="formInline.aliasId" placeholder="分流实验ID">-->
      <!--</Input>-->
      <!--</FormItem>-->
      <FormItem label="实验产品">
        <Input type="text" v-model="formInline.terminal" placeholder="实验页面">
        </Input>
      </FormItem>
      <FormItem label="实验页面">
        <Input type="text" v-model="formInline.pageUrl" placeholder="实验页面">
        </Input>
      </FormItem>
      <FormItem label="实验开始时间">
        <DatePicker type="datetime" format="yyyy-MM-dd HH:mm:ss"  :value="formInline.gmtStart" @on-change="formInline.gmtStart=$event" placeholder="实验开始时间" ></DatePicker>
      </FormItem>
      <FormItem label="实验结束时间">
        <DatePicker type="datetime" format="yyyy-MM-dd HH:mm:ss"   :value="formInline.gmtEnd" @on-change="formInline.gmtEnd=$event" placeholder="实验结束时间" ></DatePicker>
      </FormItem>
      <FormItem label="设置实验版本">
        <div  v-for="(item,index) in ABTestArr" :key="index">
          <Card style="padding: 1rem;margin: 1rem 0;">
            <a v-show="index>0" href="#" slot="extra" @click.prevent="delCard(index)">
              <Icon type="ios-loop-strong"></Icon>
              <Button size="small" type="error">删除</Button>
            </a>
            <div style="display: flex;flex-direction: row;">
              <div style="margin-right: 22px">
                <div>分流流量 {{item.testRate}}%</div>
                <Slider v-model="item.testRate" style="width: 260px;"></Slider>
                <Alert v-show="index==0">设置基础版本的分流流量</Alert>
              </div>
            </div>
            <div style="display: flex;flex-direction: row;">
              <div>
                <div>描述</div>
                <Input type="text" style="width:260px" v-model="item.description" placeholder="实验描述">
                </Input>
              </div>
            </div>
            <div v-if="index!=0" style="display: flex;flex-direction: row;">
              <div style="margin-right: 22px">
                <div>楼层ID</div>
                  <Select v-model="item.configData" style="width:140px">
                    <Option v-for="(item,index) in floorList" :value="item.id" :key="index">{{item.type}}-{{item.id}}</Option>
                  </Select>
                <Button @click="getFlowFloor" style="margin-left: 4px">查询</Button>
                <Button v-show="floorId" @click="modal1=true" style="margin-left: 4px" type="info">预览</Button>
              </div>
            </div>
          </Card>
        </div>
        <Button @click="addTest" long type="dashed">添加版本</Button>
      </FormItem>
      <FormItem>
        <Button type="primary" @click="handleSubmit">保存</Button>
      </FormItem>
    </Form>
    <Modal
      v-model="modal1"
      title="分流楼层预览"
      @on-ok="()=>{}"
      @on-cancel="()=>{}">
      <img v-show="floorId='2'" src="./f1.png"/>
    </Modal>
  </div>
</template>
<script>
  export default {
    name: "ABTest",
    data(){
      return{
        id:null,
        modal1:false,
        floorId:null,
        formInline:{},
        ruleInline:{},
        floorList:[],
        value1:0,
        ABTestArr:[{description:'',testRate:100,configData:''}]
      }
    },
    props:['baseId'],
    mounted(){
      this.getFellow()
    },
    methods:{

      getFlowFloor(){
        //查询分流楼层列表
        this.$axios
          .request({
            url: `/jdh/commonFloor/list`,
            method: "get",
            data:{

            }
          })
          .then(res => {
            if (res.data.code == 0) {
              this.floorList = res.data.result.result
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      delCard(i){
        if(i==0){
          return
        }
        this.ABTestArr.splice(i,1)
      },
      setBaseData(item,id,idx){
        //填充基础item数据
        this.formInline.floorId=id //楼层id
        this.formInline.seq=idx //楼层索引
        this.formInline.type="HTML_REPLACE";
        this.formInline.selector="randomSelector";
        this.ABTestArr[0].configData=item
        this.getFellow()
      },
      setFloorFlow(){
        //jdh/geminiabtest/create
        this.$axios
          .request({
            url: `jdh/geminiabtest/create`,
            method: "post",
            data:{
              floorId:this.formInline.floorId,
              seq:this.formInline.seq
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              // this.filterAdverts(res.data);
              // alert(res.data.result[0].geminiLabels)
              let temp = res.data.result[0].geminiLabels
              for (let i = 0; i < temp.length; i++) {
                temp[i].configData = JSON.parse(temp[i].configData)
              }
              this.ABTestArr = temp
              //this.ABTestArr=res.data.result[0].geminiLabels
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      handleSubmit(){
        //jdh/geminiabtest/create
        for (let i = 0; i < this.ABTestArr.length; i++) {
          if(i==0){
            this.ABTestArr[i].type = "base";
            this.ABTestArr[i].configData=this.baseId
          }else{
            this.ABTestArr[i].type = "normal";
          }
          this.ABTestArr[i].description='1234'
        }
        this.formInline.geminiLabels = this.ABTestArr
        this.formInline.abType='1'
        this.formInline.type = "HTML_REPLACE"
        this.formInline.floorId = this.baseId
        this.formInline.selector= "randomSelector"
        this.$axios
          .request({
            url: `/jdh/geminiabtest/create`,
            method: "post",
            data:this.formInline
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success('分流配置完成')
              this.startFllow(res.data.result.aliasId)
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      getFellow(){
        //jdh/geminiabtest/queryTests
        this.$axios
          .request({
            url: `jdh/geminiabtest/queryTests`,
            method: "post",
            data:{
              floorId:this.baseId,
              abType:'1'
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              // this.filterAdverts(res.data);
              // alert(res.data.result[0].geminiLabels)
              let temp = res.data.result[0].geminiLabels
              for (let i = 0; i < temp.length; i++) {
                temp[i].configData = JSON.parse(temp[i].configData)
              }
              console.log(temp)
              this.ABTestArr = temp

              //this.ABTestArr=res.data.result[0].geminiLabels
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      startFllow(id){
        //jdh/geminiabtest/start
        this.$axios
          .request({
            url: `	/jdh/geminiabtest/start`,
            method: "post",
            data:{
              aliasId:id,
              startType:'NOW',
              abType:'1'
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success('分流启用成功')
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      getFllowData(){
        ///jdh/geminiabtest/queryTestsByAliasIds
        this.$axios
          .request({
            url: `	/jdh/geminiabtest/queryTestsByAliasIds`,
            method: "post",
            data:{aliasId:id,startType:'NOW'}
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success('分流启用成功')
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      addTest(){
        this.ABTestArr.push({description:'',testRate:0,configData:{type:'enreyCube',pictureUrl:'',jumpLinkInfo:{linkType: "0", identityId: "",linkUrl: ""}}})
      },
      handleBeforeUpload(){

      },
      handleSuccess(res, index) {

      },
    }
  }
</script>

<style scoped>

</style>
