<template>
  <div>
    <Form>
      <FormItem :label-width="90" label="被授权人ERP">
        <Input style="width: 220px" v-model="erpAccount" placeholder="请输入接受授权人ERP..."></Input>
        <Button @click="addAuth" style="margin-left: 10px" type="primary">授权</Button>
        <Button @click="authList" style="margin-left: 10px">查询</Button>
      </FormItem>
    </Form>
    <h4>已授权人员</h4>
    <Table stripe :columns="columns1" :data="data1"></Table>
  </div>
</template>

<script>
  export default {
    name: "authForm",
    data() {
      return {
        erpAccount: '',
        data1: [],
        columns1: [{
          title: '授权人',
          key: 'createUser'
        },
          {
            title: '被授权人',
            key: 'validUser'
          },
          {
            title: '授权时间',
            key: 'modifyTime'
          },
          {
            title: "操作",
            key: "action",
            align: "center",
            width: 200,
            render: (h, params) => {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.cancelAuth(params.row.id)
                      }
                    }
                  },
                  "取消授权"
                ),
              ])
            }
          }
        ],
      }
    },
    props:['currentId','type'],
    mounted() {

    },
    methods: {
      authList() {
        ///jdh/dynamicAuth/queryMySelfPageList
        this.$axios.request({
          url: `/jdh/dynamicAuth/queryMySelfPageList?current=${1}&size=${10}&id=${this.currentId}`,
          method: 'get',
        }).then(res => {
          if (res.data.code == 0) {
            this.data1 = res.data.data.records
          }
        }).catch(err => {
          console.log(err)
        })
      },
      cancelAuth(id){
        ///jdh/dynamicAuth/delete
        this.$axios.request({
          url: `jdh/dynamicAuth/delete?id=${id}`,
          method: 'get',
        }).then(res => {
          if (res.data.code == 0) {
            this.$Message.success('取消成功')
            this.authList()
          }
        }).catch(err => {
          console.log(err)
        })
      },
      addAuth() {
        this.$axios.request({
          url: `/jdh/dynamicAuth/add`,
          method: 'post',
          data: {
            resourceId: String(this.currentId),
            type: this.type,//授权类型，3 为楼层、2为页面、1为项目维度
            validUser: this.erpAccount
          }
        }).then(res => {
          if (res.data.code == 0) {
            this.$Message.success('授权成功')
          }
        }).catch(err => {
          console.log(err)
        })
      },
    }
  }
</script>

<style scoped>

</style>
