<template>
  <div v-show="navConfigInfo.items[0].animateType!='2'">
    <div
      class="c-header"
      v-show="navConfigInfo.items!=undefined"
      :style="{backgroundColor:colorTransform(navConfigInfo.style.initBgColor),backgroundImage:'url('+navConfigInfo.style.bgImgUrl +')',height:navConfigInfo.items[0].style.height+'px'}"
      :class="[navConfigInfo.type=='headNav'?'headNavStyle':'fadeNavStyle']"
    >
      <div class="c-header-left">
        <span v-show="navConfigInfo.items[0].showBackButton=='true'">
          <img :src="navConfigInfo.items[0].backBtnImgUrl" class="iconImg" />
        </span>
        <div v-show="navConfigInfo.items[0].navigationType=='1'" class="position-wrap">
          <span>
            <img
              src="https://m.360buyimg.com/pop/jfs/t1/97432/10/10736/965/5e1e8a76Eb38beb30/12a3c71894fd2990.png"
              alt
            />
          </span>
          <span>北京</span>
          <span class="arrow">
            <img
              src="https://m.360buyimg.com/pop/jfs/t1/105363/11/10584/319/5e1e8ab6E21dff631/a0cda8c81cc96e9a.png"
              alt
            />
          </span>
        </div>
      </div>
      <div class="c-header-center">
        <div class="title-search" v-if="navConfigInfo.items[0].navigationType=='1'">
          <div class="search-content">
            <img
              :src="navConfigInfo.items[0].searchInfo&&navConfigInfo.items[0].searchInfo.searchImgUrl"
              alt
            />
            <span>{{navConfigInfo.items[0].searchInfo&&navConfigInfo.items[0].searchInfo.searchText}}</span>
          </div>
        </div>
        <div v-if="navConfigInfo.items[0].navigationType=='0'">
          <div class="title-img" v-if="navConfigInfo.items[0].titleImgUrl!=''">
            <img :src="navConfigInfo.items[0].titleImgUrl" />
          </div>
          <div
            class="title-h"
            :style="{color:navConfigInfo.items[0].style.titleColor}"
            v-if="navConfigInfo.items[0].titleImgUrl==''"
          >{{navConfigInfo.items[0].pageName}}</div>
        </div>
      </div>
      <div class="c-header-right">
        <span class="functionIcon" v-show="navConfigInfo.items[0].showFunctionIcon=='true'">
          <img :src="navConfigInfo.items[0].functionIcon.functionImgUrl" class="iconImg" />
        </span>
        <span
          class="more"
          v-if="navConfigInfo.items[0].showMoreButton=='true'&&navConfigInfo.items[0].messageIcon&&navConfigInfo.items[0].messageIcon.messageImgUrl"
        >
          <img :src="navConfigInfo.items[0].messageIcon.messageImgUrl" class="iconImg" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "headNav",
  props: ["navConfigInfo"],
  data() {
    return {};
  },
  methods: {
    colorTransform(colorData) {
      if (colorData) {
        if (colorData.length == "9") {
          let transparent = colorData.substring(1, 3);
          let colorValue = colorData.substring(3, colorData.length);
          console.log(colorData);
          console.log(transparent + "----" + colorValue);
          return "#" + colorValue + transparent;
        } else {
          return colorData;
        }
      }
    }
  }
};
</script>

<style lang="less" scoped>
.fadeNavStyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.c-header {
  display: flex;
  justify-content: center;
  padding: 20px 10px 0;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &-left {
    width: 70px;
    .position-wrap {
      span {
        display: inline-block;
        color: #262626;
        margin-right: 4px;
        vertical-align: top;
        font-size: 16px;
        img {
          display: block;
          width: 18px;
          height: 18px;
          vertical-align: top;
        }
      }
      .arrow img {
        width: 7px;
        height: 3px;
        margin-top: 12px;
      }
    }
  }
  &-center {
    flex: 1;
    text-align: center;
    .title-search {
      width: 100%;
      .search-content {
        width: 100%;
        height: 28px;
        background-color: #f2f2f2;
        border-radius: 100px;
        line-height: 28px;
        padding: 0 15px;
        img {
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 4px;
        }
        span {
          color: #aaaaaa;
          font-size: 13px;
        }
      }
    }
    .title-img {
      max-width: 110px;
      max-height: 30px;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .title-h {
      font-size: 15px;
      cursor: pointer;
    }
  }
  &-right {
    width: 60px;
    font-size: 22px;
    text-align: right;
    .functionIcon {
      display: inline-block;
      margin-right: 10px;
    }
    .more {
      display: inline-block;
    }
  }
}
.configTitlte {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-color: #e2ecf9;
  padding: 0 10px;
  color: #57a3f3;
  margin: 20px 0 5px;
}
.iconImg {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
</style>
