<template>
  <div class="content">
    <div style="display: flex;flex-direction: row;position: relative;">
      <left v-if="menuType=='decoration'||type=='flow'"></left>
      <div
        class="phone"
        ref="phone"
        :style="{backgroundColor:pageConfigData.bgColor,backgroundImage:'url('+pageConfigData.bgImgUrl +')'}"
      >
        <div class="fixedTop">
          <img class="h-img" src="../../assets/images/header2.png" />
        </div>
        <div @click="()=>{menuType=='decoration'?this.setTitle():''}" ref="header">
          <headNav :navConfigInfo="navConfigInfo.data"></headNav>
          <div
            class="n-to-top"
            v-if="showToTop === '1'"
            :style="{backgroundImage: 'url(' + showToTopList[showToTopStyle] + ')'}"
          >
            <img
              :src="floorConfigList[2].data.items[0].imgUrl"
              v-if="floorConfigList[2].data.items[0].imgUrl != ''"
            />
          </div>
        </div>

        <div class="page-content">
          <!--  -->
          <div class="n-bomb-screen" v-if="switchBombScreen === '1'">
            <div class="n-bomb-screen-wrap">
              <div class="n-bomb-screen-wrapper">
                <!-- https://m.360buyimg.com/pop/jfs/t1/63933/31/15302/1026815/5dccf484E7676b38a/0955e21317056675.png -->
                <img
                  :src="floorConfigList[0].data.items[0].contentImgtUrl === ''? defaultImage : floorConfigList[0].data.items[0].contentImgtUrl"
                />
                <i class="n-close"></i>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="n-float-icon-wrap" v-if="showFloatIcon === '1'">
            <div class="n-float-icon">
              <!-- https://m.360buyimg.com/babel/jfs/t1/83205/27/14735/16174/5dc0d984E0c2d3241/424397362a5a63a2.gif -->
              <img
                :src="floorConfigList[1].data.items[0].imgUrl === '' ? defaultImage : floorConfigList[1].data.items[0].imgUrl"
              />
              <Icon type="ios-close-circle-outline" />
            </div>
          </div>
          <!-- 吸顶的搜索框 -->
          <div
            class="searchCeiling"
            v-if="pageConfigData.searchCeiling"
            :style="{top:pageConfigData.searchCeiling.style.margin[0]+'px'}"
          >
            <div
              class="n-search-icon"
              :style="{borderColor: colorTransform(pageConfigData.searchCeiling.style.borderColor),borderRadius: pageConfigData.searchCeiling.style.cornerRadius[0] + 'px',textAlign: pageConfigData.searchCeiling.style.align,backgroundColor: colorTransform(pageConfigData.searchCeiling.style.bgColor),height:pageConfigData.searchCeiling.style.height+'px',lineHeight:pageConfigData.searchCeiling.style.height+'px'}"
            >
              <div
                class="n-search-content"
                :style="{color:colorTransform(pageConfigData.searchCeiling.style.fontColor),fontSize:pageConfigData.searchCeiling.style.fontSize+'px'}"
              >
                <img :src="pageConfigData.searchCeiling.searchImgUrl" alt />
                <span>{{pageConfigData.searchCeiling.searchText}}</span>
              </div>
            </div>
          </div>
          <draggable
            v-model="list"
            class="dragArea"
            :options="dragOptions"
            @start="dragStart"
            :sort="true"
            @change="draglog"
            @end="dragEnd($event)"
          >
            <transition-group type="transition" :name="!drag ? 'flip-list' : null">
              <div
                v-for="(element,index) in list"
                @click="edit(index,element)"
                :key="element.name"
                class="preview"
                :class="{'preview-outer-hover':curIndex == index,'preview-hover':curIndex !== index}"
              >
                <div class="p-wrap">
                  <Poptip
                    confirm
                    placement="right-start"
                    title="确定删除此楼层吗?"
                    @on-ok="delItem(index,element)"
                    @on-cancel="()=>{}"
                  >
                    <Icon
                      v-show="curIndex == index"
                      class="close"
                      color="#FF151A"
                      size="18"
                      type="ios-close-circle"
                    />
                  </Poptip>
                </div>
                <phone :pageId="incId" :element="element" :index="index" :list="list"></phone>
              </div>
            </transition-group>
          </draggable>
        </div>
      </div>
      <div :class="{'right-content':true,'right-content-flow':this.type=='flow'}">
        <Card style="width:550px;" v-if="partData.length > 0 && curIndex!=null">
          <p slot="title" style="height:24px;line-height:20px;">
            <Icon type="logo-buffer"></Icon>
            {{partData[0].type}} — 第{{curIndex+1}}层 — 楼层ID: {{curElement.id}}
            <Button
              @click="()=>{this.type=='flow'?this.saveFlowFloor(curElement): this.saveFloor(curElement)}"
              slot="extra"
              size="small"
              v-if="partData[0].saveButton != 'false'"
            >
              <Icon type="ios-loop-strong"></Icon>保存
            </Button>
            <Button @click="releaseFloor(curElement)" size="small" style="margin-left: 10px">
              <Icon type="ios-loop-strong"></Icon>发布
            </Button>
            <Button style="margin-left: 10px" @click="modal13=true" size="small">
              <Icon type="ios-loop-strong"></Icon>授权
            </Button>
			<Button style="margin-left: 10px" @click="rollBackHistory" size="small"><Icon type="ios-loop-strong"></Icon>版本回滚</Button>
          </p>
          <div style="margin: 10px 0px 0px 0px;">
            <Form :label-width="120">
              <FormItem label="楼层埋点关键字">
                <Input 
                    v-model="curElement.data.floorBuryPoint" 
                    placeholder="楼层埋点关键字" 
                    style="width: 220px;"></Input>
              </FormItem>
            </Form>
          </div>
          <div class="n-set-vertical-scroll" style="padding: 0 10px 15px 10px;">
            <right
              :type="type"
              :menutype="menuType"
              :isFlow="type"
              :incId="incId"
              :pageIdentityId="pageIdentityId"
              :element="partData[0]"
              :index="curIndex"
            ></right>
          </div>
        </Card>
        <Card style="width:450px;" v-if="menuType=='decoration'&&curIndex==null">
          <p slot="title">
            <Icon type="logo-buffer"></Icon>页面楼层配置
          </p>
          <div class="n-set-vertical-scroll">
            <Tabs value="style" :animated="false">
              <TabPane label="基础配置" name="style">
                <Form :label-width="100">
                  <h4 class="configTitlte">页面基础配置</h4>
                  <FormItem>
                    <p slot="label">
                      埋点关键字
                      <!-- <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">页面名称仅用于标记页面说明，不作为导航显示名称</div>
                          </div>
                        </div>
                      </Poptip> -->
                    </p>
                    <Row>
                      <Col span="16">
                        <Input
                          clearable
                          v-model="pageConfigData.pageBuryPoint"
                          placeholder="请输入关键字名称..."
                        ></Input>
                      </Col>
                    </Row>
                  </FormItem>


                  <FormItem>
                    <p slot="label">
                      页面名称
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">页面名称仅用于标记页面说明，不作为导航显示名称</div>
                          </div>
                        </div>
                      </Poptip>
                    </p>

                    <Row>
                      <Col span="16">
                        <Input
                          clearable
                          :maxlength="12"
                          v-model="pageConfigData.pageName"
                          placeholder="请输入页面名称..."
                        ></Input>
                      </Col>
                      <Col span="7" offset="1">
                        <span style="color:#aaa">(最多12个字符)</span>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem>
                    <p slot="label">
                      页面标题
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">作为导航显示的页面标题</div>
                          </div>
                        </div>
                      </Poptip>
                    </p>
                    <Row>
                      <Col span="16">
                        <Input
                          clearable
                          :maxlength="12"
                          v-model="navConfigInfo.data.items[0].pageName"
                          placeholder="请输入页面标题..."
                        ></Input>
                      </Col>
                      <Col span="7" offset="1">
                        <span style="color:#aaa">(最多12个字符)</span>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem label="页面类型">
                    <Select v-model="pageConfigData.pageType" style="width:204px">
                      <Option v-for="item in typeList" :value="item">{{item}}</Option>
                    </Select>
                  </FormItem>
                  <FormItem label="页面描述">
                    <Input clearable v-model="pageConfigData.description" placeholder="请输入页面描述..."></Input>
                  </FormItem>
                  <FormItem label="页面背景色">
                    <ColorPicker v-model="pageConfigData.bgColor" />
                    <Button
                      v-model="resetPageBgColorValue"
                      @click="resetPageBgColor"
                      class="resetBtn"
                    >重置</Button>
                  </FormItem>
                  <FormItem label="顶部背景图">
                    <Row>
                      <Col span="5">
                        <image-upload
                          :imageUrl.sync="pageConfigData.bgImgUrl"
                          :onBeforeUpload="topBgImgBeforeUpload"
                          :on-success="topBgImgSuccess"
                        ></image-upload>
                      </Col>
                      <Col span="19">
                        <Alert show-icon>图片宽1125px，不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem label="吸顶搜索框">
                    <RadioGroup
                      :value="pageConfigData.searchCeiling?'1':'0'"
                      @on-change="searchCeilingStatusChange"
                    >
                      <Radio label="0">关闭</Radio>
                      <Radio label="1">开启</Radio>
                    </RadioGroup>
                  </FormItem>
                  <div v-if="pageConfigData.searchCeiling">
                    <h4 class="configTitlte">吸顶搜索框配置</h4>
                    <FormItem label="搜索框位置">
                      <Input
                        v-model="pageConfigData.searchCeiling.style.margin[0]"
                        type="number"
                        style="width: 100px"
                      />
                    </FormItem>
                    <FormItem label="搜索框高度">
                      <Input
                        v-model="pageConfigData.searchCeiling.style.height"
                        type="number"
                        style="width: 100px"
                      />
                    </FormItem>
                    <FormItem label="搜索框背景色">
                      <ColorPicker v-model="searchCeilingBgColor" alpha />
                      <Button
                        v-model="resetSearchCeilingBgColorValue"
                        @click="resetSearchCeilingBgColor"
                        class="resetBtn"
                      >重置</Button>
                    </FormItem>
                    <FormItem label="搜索边框色">
                      <ColorPicker v-model="searchCeilingBorderColor" alpha />
                      <Button
                        v-model="resetSearchCeilingBorderColorValue"
                        @click="resetSearchCeilingBorderColor"
                        class="resetBtn"
                      >重置</Button>
                    </FormItem>
                    <FormItem label="搜索文字颜色">
                      <ColorPicker v-model="searchCeilingFontColor" alpha />
                      <Button
                        v-model="resetSearchCeilingFontColorValue"
                        @click="resetSearchCeilingFontColor"
                        class="resetBtn"
                      >重置</Button>
                    </FormItem>
                    <FormItem label="搜索文字大小">
                      <RadioGroup v-model="pageConfigData.searchCeiling.style.fontSize">
                        <Radio label="12">12(px)</Radio>
                        <Radio label="13">13(px)</Radio>
                        <Radio label="14">14(px)</Radio>
                        <Radio label="15">15(px)</Radio>
                      </RadioGroup>
                    </FormItem>
                    <FormItem label="文案位置">
                      <RadioGroup v-model="pageConfigData.searchCeiling.style.align">
                        <Radio label="left">默认</Radio>
                        <Radio label="center">居中</Radio>
                      </RadioGroup>
                    </FormItem>
                    <FormItem label="搜索框圆角" class="searchCornerBox">
                      <CheckboxGroup v-model="cornerRadiusType">
                        <Checkbox label="topLeft">左上</Checkbox>
                        <Input
                          v-model="pageConfigData.searchCeiling.style.cornerRadius[0]"
                          class="inputSetting"
                          type="number"
                        />
                        <Checkbox label="topRight">右上</Checkbox>
                        <Input
                          v-model="pageConfigData.searchCeiling.style.cornerRadius[1]"
                          class="inputSetting"
                          type="number"
                        />
                        <Checkbox label="bottomLeft">左下</Checkbox>
                        <Input
                          v-model="pageConfigData.searchCeiling.style.cornerRadius[3]"
                          class="inputSetting"
                          type="number"
                        />
                        <Checkbox label="bottomRight">右下</Checkbox>
                        <Input
                          v-model="pageConfigData.searchCeiling.style.cornerRadius[2]"
                          class="inputSetting"
                          type="number"
                        />
                      </CheckboxGroup>
                    </FormItem>
                    <FormItem label="搜索文案">
                      <Input
                        v-model="pageConfigData.searchCeiling.searchText"
                        placeholder="展示文案"
                        style="width: 300px"
                      />
                    </FormItem>
                    <FormItem label="搜索图标">
                      <Row>
                        <Col span="5">
                          <image-upload
                            :imageUrl.sync="pageConfigData.searchCeiling.searchImgUrl"
                            :onBeforeUpload="searchImgUrlBeforeUpload"
                            :on-success="searchImgUrlSuccess"
                          ></image-upload>
                        </Col>
                        <Col span="19">
                          <Alert show-icon>图片宽45px，高45px，不大于2M</Alert>
                        </Col>
                      </Row>
                    </FormItem>
                  </div>

                  <h4 class="configTitlte">导航栏配置</h4>
                  <FormItem>
                    <p slot="label">
                      动画类型
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">一直显示：导航栏一直显示，没有动画效果</div>
                            <div class="n-poptip-text">逐渐显示：内容显示，背景透明，上滑逐渐显示背景色</div>
                            <div class="n-poptip-text">从隐藏到显示：开始隐藏所有，上滑逐渐显示背景色和内容</div>
                          </div>
                        </div>
                      </Poptip>
                    </p>
                    <RadioGroup v-model="navConfigInfo.data.items[0].animateType">
                      <Radio label="0">一直显示</Radio>
                      <Radio label="1">逐渐显示</Radio>
                      <Radio label="2">从隐藏到显示</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem>
                    <p slot="label">
                      导航栏类型
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">固定类型：导航固定在顶部不变化</div>
                            <div class="n-poptip-text">悬浮类型：导航覆盖在页面之上，一般会有上滑时背景色渐变效果</div>
                          </div>
                        </div>
                      </Poptip>
                    </p>
                    <RadioGroup v-model="navType">
                      <Radio label="0">固定</Radio>
                      <Radio label="1">透明悬浮</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem label="显示内容">
                    <CheckboxGroup
                      v-model="navConfigInfo.data.items[0].showContents"
                      @on-change="showContentsChange"
                    >
                      <Checkbox label="goBackBtnCheck">返回按钮</Checkbox>
                      <Checkbox label="iconCheck">露出图标</Checkbox>
                      <Checkbox label="moreCheck">信息图标</Checkbox>
                      <Checkbox label="positionSearch">搜索和位置</Checkbox>
                    </CheckboxGroup>
                  </FormItem>
                  <FormItem
                    label="图标功能"
                    v-if="navConfigInfo.data.items[0].showContents.indexOf('iconCheck') != -1"
                  >
                    <RadioGroup
                      v-model="navConfigInfo.data.items[0].functionIconValue"
                      @on-change="functionIconValueChange"
                    >
                      <Radio label="0">购物车</Radio>
                      <Radio label="1">分享</Radio>
                      <Radio label="2">设置</Radio>
                    </RadioGroup>
                  </FormItem>

                  <div v-if="navConfigInfo.data.items[0].navigationType=='1'">
                    <FormItem label="搜索文案">
                      <Input
                        v-model="navConfigInfo.data.items[0].searchInfo.searchText"
                        placeholder="展示文案"
                        style="width: 300px"
                      />
                    </FormItem>
                    <FormItem label="搜索图标">
                      <Row>
                        <Col span="4">
                          <ImageUpload
                            :imageUrl.sync="navConfigInfo.data.items[0].searchInfo.searchImgUrl"
                            :onBeforeUpload="navSearchImgUrlBeforeUpload"
                            :on-success="navSearchImgUrlSuccess"
                          ></ImageUpload>
                        </Col>
                      </Row>
                    </FormItem>
                    <FormItem label="搜索跳转">
                      <linkType :linkInfo="navConfigInfo.data.items[0].searchInfo"></linkType>
                    </FormItem>
                  </div>

                  <FormItem label="导航栏背景">
                    <RadioGroup v-model="navbgColorType">
                      <Radio label="0">背景色</Radio>
                      <Radio label="1">背景图</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem v-if="navbgColorType=='0'">
                    <p slot="label">
                      初始背景色
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">导航初始时显示颜色，一般用于动画效果，如果无动画效果请与最后背景色保持一致</div>
                          </div>
                        </div>
                      </Poptip>
                    </p>
                    <ColorPicker v-model="initNavBgColorValue" alpha />
                    <Button
                      v-model="resetInitNavBgColorValue"
                      @click="resetInitNavBgColor"
                      class="resetBtn"
                    >重置</Button>
                  </FormItem>
                  <FormItem label="最后背景色" v-if="navbgColorType=='0'">
                    <p slot="label">
                      最后背景色
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">导航有动画效果时，过渡后的颜色，一般不透明，无动画效果与初始颜色保持一致</div>
                          </div>
                        </div>
                      </Poptip>
                    </p>
                    <ColorPicker v-model="navBgColorValue" alpha />
                    <Button
                      v-model="resetNavBgColorValue"
                      @click="resetNavBgColor"
                      class="resetBtn"
                    >重置</Button>
                  </FormItem>
                  <FormItem label="导航栏背景图" v-else>
                    <Row>
                      <Col span="5">
                        <image-upload
                          :imageUrl.sync="navConfigInfo.data.style.bgImgUrl"
                          :onBeforeUpload="bgColorBeforeUpload"
                          :on-success="bgImgUrlSuccess"
                        ></image-upload>
                      </Col>
                      <Col span="19">
                        <Alert
                          show-icon
                        >图片宽1125px，高{{navConfigInfo.data.items[0].style.height*3}}px，不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>

                  <FormItem label="导航文字颜色">
                    <ColorPicker v-model="navTitleColorValue" />
                    <Button
                      v-model="resetNavTitleColorValue"
                      @click="resetNavTitleColor"
                      class="resetBtn"
                    >重置</Button>
                  </FormItem>

                  <FormItem label="图片标题">
                    <Row>
                      <Col span="5">
                        <image-upload
                          :imageUrl.sync="navConfigInfo.data.items[0].titleImgUrl"
                          :on-success="handleSuccess"
                        ></image-upload>
                      </Col>
                      <Col span="19">
                        <Alert show-icon>图片不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem label="返回图标" v-if="navConfigInfo.data.items[0].showBackButton=='true'">
                    <Row>
                      <Col span="5">
                        <image-upload
                          :imageUrl.sync="navConfigInfo.data.items[0].backBtnImgUrl"
                          :onBeforeUpload="navIconBeforeUpload"
                          :on-success="backBtnImgUrlSuccess"
                        ></image-upload>
                      </Col>
                      <Col span="19">
                        <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem
                    label="外露图标"
                    v-if="navConfigInfo.data.items[0].showFunctionIcon=='true'"
                  >
                    <Row>
                      <Col span="5">
                        <image-upload
                          :imageUrl.sync="navConfigInfo.data.items[0].functionIcon.functionImgUrl"
                          :on-success="functionImgUrlSuccess"
                        ></image-upload>
                      </Col>
                      <Col span="19">
                        <!-- <Alert show-icon>图片宽60px，高60px，不大于2M</Alert> -->
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem
                    label="外露图标跳转"
                    v-if="navConfigInfo.data.items[0].showFunctionIcon=='true'"
                  >
                    <linkType :linkInfo="navConfigInfo.data.items[0].functionIcon"></linkType>
                  </FormItem>
                  <FormItem
                    label="信息图标"
                    v-if="navConfigInfo.data.items[0].showMoreButton=='true'&&navConfigInfo.data.items[0].messageIcon"
                  >
                    <Row>
                      <Col span="5">
                        <image-upload
                          :imageUrl.sync="navConfigInfo.data.items[0].messageIcon.messageImgUrl"
                          :onBeforeUpload="navIconBeforeUpload"
                          :on-success="messageImgUrlSuccess"
                        ></image-upload>
                      </Col>
                      <Col span="19">
                        <Alert show-icon>图片宽60px，高60px，不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem
                    label="信息图标跳转"
                    v-if="navConfigInfo.data.items[0].showMoreButton=='true'&&navConfigInfo.data.items[0].messageIcon"
                  >
                    <linkType :linkInfo="navConfigInfo.data.items[0].messageIcon"></linkType>
                  </FormItem>
                </Form>
              </TabPane>
              <TabPane label="页面挂件" name="pageBomb">
                <Form :label-width="120">
                  <Alert>
                    弹屏挂件和浮层Icon建议使用场景
                    <Button size="small" type="primary">预览</Button>
                  </Alert>
                  <FormItem label="是否配置弹屏挂件">
                    <RadioGroup v-model="showBombScreen">
                      <Radio label="0">否</Radio>
                      <Radio label="1">是</Radio>
                    </RadioGroup>
                  </FormItem>
                  <template v-if="showBombScreen === '1'">
                    <FormItem label="是否开启实时预览" class="n-in-time-preview n-position-static">
                      <RadioGroup v-model="switchBombScreen">
                        <Radio label="0">否</Radio>
                        <Radio label="1">是</Radio>
                      </RadioGroup>
                      <Poptip placement="bottom" class="n-black-poptip">
                        <Icon type="ios-help-circle-outline" />
                        <div class="api" slot="content">
                          <div>
                            <div class="n-poptip-text">默认实时预览状态关闭；</div>
                            <div class="n-poptip-text">开启实时预览状态时，遮罩层会遮挡组件，影响编辑功能，建议全部组件配置完成后，开启此功能；</div>
                          </div>
                        </div>
                      </Poptip>
                    </FormItem>
                    <!-- <FormItem label="有效时间" class="n-position-static">
                        <DatePicker
                            type="datetimerange"
                            format="yyyy-MM-dd HH:mm"
                            placeholder="日期选择"
                            style="width: 70%"
                        ></DatePicker>
                    </FormItem>-->
                    <FormItem label="浮层图片">
                      <image-upload
                        :imageUrl.sync="floorConfigList[0].data.items[0].contentImgtUrl"
                        :onBeforeUpload="bombScreenUpload"
                      ></image-upload>
                      <Alert show-icon style="margin-bottom:0;">图片宽度1125px，高度900px</Alert>
                    </FormItem>
                    <FormItem label="是否跳转">
                      <RadioGroup v-model="floorConfigList[0].showBombScreenLink">
                        <Radio label="0">否</Radio>
                        <Radio label="1">是</Radio>
                      </RadioGroup>
                    </FormItem>
                    <FormItem label="跳转链接" v-if="floorConfigList[0].showBombScreenLink === '1'">
                      <linkType :linkInfo="floorConfigList[0].data.items[0]"></linkType>
                    </FormItem>
                  </template>
                  <FormItem label="是否配置浮层icon">
                    <RadioGroup v-model="showFloatIcon">
                      <Radio label="0">否</Radio>
                      <Radio label="1">是</Radio>
                    </RadioGroup>
                  </FormItem>
                  <template v-if="showFloatIcon === '1'">
                    <FormItem label="浮层图片">
                      <image-upload
                        :imageUrl.sync="floorConfigList[1].data.items[0].imgUrl"
                        :onBeforeUpload="floatIconUpload"
                      ></image-upload>
                      <Alert show-icon style="margin-bottom:0;">图片宽度120px，高度120px</Alert>
                    </FormItem>
                    <FormItem label="是否跳转">
                      <RadioGroup v-model="floorConfigList[1].showFloatIconLink">
                        <Radio label="0">否</Radio>
                        <Radio label="1">是</Radio>
                      </RadioGroup>
                    </FormItem>
                    <FormItem label="跳转链接" v-if="floorConfigList[1].showFloatIconLink === '1'">
                      <linkType :linkInfo="floorConfigList[1].data.items[0]"></linkType>
                    </FormItem>
                  </template>
                </Form>
              </TabPane>
              <TabPane label="返回顶部" name="toTop">
                <Form :label-width="120">
                  <FormItem label="是否配置返回顶部">
                    <RadioGroup v-model="showToTop">
                      <Radio label="0">否</Radio>
                      <Radio label="1">是</Radio>
                    </RadioGroup>
                  </FormItem>
                  <template v-if="showToTop === '1'">
                    <FormItem label="默认样式">
                      <RadioGroup v-model="showToTopStyle">
                        <Radio label="0">默认样式</Radio>
                        <Radio label="1">自定义样式</Radio>
                      </RadioGroup>
                    </FormItem>
                    <Form-item label="上传图片" v-if="showToTopStyle === '1'">
                      <image-upload
                        :imageUrl.sync="floorConfigList[2].data.items[0].imgUrl"
                        :onBeforeUpload="toTopUpload"
                      ></image-upload>
                      <Alert show-icon>图片宽78px，高78px</Alert>
                    </Form-item>
                  </template>
                </Form>
              </TabPane>
            </Tabs>
          </div>
        </Card>
      </div>
    </div>
    <div class="bottom-content">
      <!--<a class="n-btn-default">预览</a>-->
      <a class="n-btn-active" @click="createPage">{{this.incId?'更新':'发布'}}</a>
      <!--<a v-show="list.length>1" class="n-btn-default" @click="modal14=true">楼层分流配置</a>-->
    </div>
    <Modal width="500" v-model="modal13" :mask-closable="false" title="项目授权">
      <AuthForm :currentId="curElement.id" :type="3"></AuthForm>
      <div slot="footer"></div>
    </Modal>
    <Modal v-model="modal14" draggable :mask-closable="false" title="楼层分流">
      <FloorABTest></FloorABTest>
      <div slot="footer"></div>
    </Modal>
	<Modal 
		v-model="rollBackHistoryModel" 
		:mask-closable="false" 
		:footer-hide="true"
		title="楼层回滚"
		>
		<rollBackHistory :id="curElement.id" ref="floorDataBack"></rollBackHistory>
	</Modal>
  </div>
</template>

<script>
import right from "./right";
import left from "./page/left";
import phone from "./center";
import draggable from "vuedraggable";
import { mapMutations } from "vuex";
import { componentsPreview, componentEdit } from "./config/config";
import ImageUpload from "./common/ImageUpload";
import headNav from "./headNav";
// import pageBgImg from "./img/pageBgImg.png";
import AuthForm from "./authForm";
import FloorABTest from "./FloorABTest";
import rollBackHistory from "./page/rollBackHistory";

//import {add,edit} from './config/localDB'
export default {
  name: "decoration",
  data() {
    return {
      modal13: false,
      modal14: false, //分流弹窗
      pageId: "", //后台生成的页面pageId
      pageIdentityId: "", //后台生成的页面唯一标识
      incId: "", //后台生成页面自增id
      showBombScreen: "0",
      timer: null,
      showFloatIcon: "0",
      switchBombScreen: "0",
      showToTopStyle: "0", //是否自定义返回顶部 0默认样式 1自定义
      showToTop: "0",
      navbgColorType: "0",
      showToTopList: [
        "https://storage.360buyimg.com/tower/babelnode/static/media/go_top.4b6b5e77.png",
        ""
      ],
      navConfigInfo: {
        data: {
          type: "headNav",
          id: "first-line",
          style: {
            //是否随下拉有淡入淡出动画
            head_animate: "0",
            //背景颜色
            bgColor: "#ffffff",
            initBgColor: "#5bc2b3",
            bgImgUrl: "",
            //外边距
            margin: ["0", "0", "0", "0"],
            //内边距
            padding: ["0", "0", "0", "0"],
            column: "1"
          },
          items: [
            {
              //不带搜索的导航栏类型
              type: "fixHeadNav",
              animateType: "0",
              titleImgUrl: "", //图片标题
              pageName: "页面标题", //文字标题
              showFunctionIcon: "true", //是否显示购物车或者分享图标
              showBackButton: "true", //是否有返回按钮
              showContents: ["goBackBtnCheck", "iconCheck", "moreCheck"], //与客户端无关
              showMoreButton: "true", //最右侧更多信息icon是否显示
              functionIconValue: "0", //0代表显示的是购物车图标，1代表显示分享的图标，2代表设置图标
              navigationType: "0", //0代表无搜索，1代表有搜索和位置信息
              searchInfo: {
                searchImgUrl:
                  "https://m.360buyimg.com/pop/jfs/t1/102364/8/10628/2236/5e1dc05eEa10c2caa/6bf6f06330e7eec9.png",
                searchText: "基因检测",
                jumpLinkInfo: {
                  linkType: "2", //跳转类型
                  identityId: "", //跳转页面的链接
                  linkUrl: "",
                  routerUrl: "jumpSearch"
                }
              },

              backBtnImgUrl:
                "https://m.360buyimg.com/pop/jfs/t1/90734/11/10125/5262/5e1863baE78a522a6/7997051126351d67.png",
              functionIcon: {
                functionImgUrl:
                  "https://m.360buyimg.com/pop/jfs/t1/91675/6/10702/1386/5e1e8baaE92ca098b/db90379c5ff4d5e9.png",
                jumpLinkInfo: {
                  linkType: "0", //跳转类型
                  identityId: "", //跳转页面的链接
                  linkUrl: "",
                  spareLinkUrl: []
                }
              },
              messageIcon: {
                messageImgUrl:
                  "https://m.360buyimg.com/pop/jfs/t1/99843/34/10684/984/5e1e8bc9E02c20531/a4743a2ceabaea74.png",
                jumpLinkInfo: {
                  linkType: "0", //跳转类型
                  identityId: "", //跳转页面的链接
                  linkUrl: "",
                  spareLinkUrl: []
                }
              },
              //显示样式
              style: {
                titleColor: "#333333",
                //高度
                height: "64",
                //复用id
                reuseId: "",
                //外边距
                margin: ["0", "0", "0", "0"]
              }
            }
          ]
        }
      },
      pageConfigData: {
        floorConfigData: [],
        bgColor: "#ffffff",
        bgImgUrl: "",
        bgImgWidth: "",
        bgImgHeight: "",
        pageName: "页面名称",
        pageBuryPoint: "",
        pageType: "",
        description: ""
      },
      floorConfigList: [
        /**
         * 以下顺序不可修改 可顺序添加
         */
        //弹窗挂件
        {
          name: "bombScreen",
          type: "弹屏挂件",
          showBombScreen: "0",
          switchBombScreen: "0", //实时
          showBombScreenLink: "0",
          data: {
              type: "container-fix",
              id: "title-line",
              style: {
                x: "0",
                y: "0",
                align: "center",
                padding: ["0", "0", "0", "0"]
              },
              items: [
                {
                  type: "activity_window",
                  linkType: "0",
                  uuid: "",
                  link: "",
                  contentImgtUrl: "",
                  closeAlginType: "bottom", //关闭按钮在底部 top为关闭按钮在顶部
                  closeImgtUrl:
                    "https://storage.360buyimg.com/tower/babelnode/static/media/float_close-new.6be73299.png",
                  contentImgHeight: "300",
                  contentImgWidth: "375",
                  fullScreen: "true",
                  bgColor: "#45000000",
                  style: {
                    height: "",
                    width: ""
                  }
                }
              ]
            }
        },
        //浮层icon
        {
          name: "floatIcon",
          type: "浮层icon",
          showFloatIcon: "0",
          showFloatIconLink: "0",
          data: {
              type: "container-float",
              id: "title-line",
              style: {
                x: "0",
                y: "150",
                bounceX: "true",
                align: "bottom_right",
                bgColor: "#00000000",
                padding: ["0", "0", "0", "0"]
              },
              items: [
                {
                  type: "image",
                  imgUrl: "",
                  linkType: "0",
                  uuid: "",
                  link: "",
                  style: {
                    bgColor: "#00000000",
                    height: "40",
                    width: "40",
                    margin: ["0", "0", "0", "0"]
                  }
                }
              ]
            }
        },
        //返回顶部
        {
          name: "toTop",
          type: "返回顶部",
          showToTop: "0",
          data: {
              type: "container-fix",
              id: "",
              style: {
                bgColor: "#00000000",
                padding: ["0", "0", "0", "0"],
                animationDuration: "2000",
                showType: "showOnLeave",
                x: "15",
                y: "15", //top_left/ top_right / bottom_left / bottom_right
                align: "bottom_right"
              },
              items: [
                {
                  type: "image",
                  action: "backTop",
                  imgUrl:
                    "https://storage.360buyimg.com/tower/babelnode/static/media/go_top.4b6b5e77.png",
                  style: {
                    height: "35",
                    width: "35"
                  }
                }
              ]
            }
        }
      ],

      defaultImage:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
      drag: false,
      curIndex: null,
      curElement: {},
      list: [],
      floorId: null, //每个楼层数据，以时间戳为id存储
      typeList: ["首页", "我的"],
      menuType: "",
      partData: [],
	  rollBackHistoryModel: false
    };
  },
  props: ["type"],
  computed: {
    navType: {
      get: function() {
        if (this.navConfigInfo.data.type == "headNav") {
          return "0";
        } else if (this.navConfigInfo.data.type == "container-fadeNav") {
          return "1";
        }
      },
      set: function(newValue) {
        if (newValue == "0") {
          this.$set(this.navConfigInfo.data, "type", "headNav");
          // if (this.navConfigInfo.data.items[0].animateType) {
          //   this.$delete(this.navConfigInfo.data.items[0], "animateType");
          // }
          // if (this.navConfigInfo.data.items[0].navigationType) {
          //   this.$delete(this.navConfigInfo.data.items[0], "navigationType");
          // }
        } else {
          this.$set(this.navConfigInfo.data, "type", "container-fadeNav");
          // this.$set(this.navConfigInfo.data.items[0], "animateType", "1");
          // this.$set(this.navConfigInfo.data.items[0], "navigationType", "0");
        }
      }
    },
    dragOptions() {
      return {
        group: {
          name: "element",
          pull: false,
          put: true
        },
        animation: 200,
        disabled: false,
        ghostClass: "ghost"
      };
    },
    resetPageBgColorValue() {
      return this.pageConfigData.bgColor;
    },
    // 导航栏颜色配置
    resetNavTitleColorValue() {
      return this.navConfigInfo.data.items[0].style.titleColor;
    },
    resetNavBgColorValue() {
      return this.navConfigInfo.data.style.bgColor;
    },
    resetInitNavBgColorValue() {
      return this.navConfigInfo.data.style.initBgColor;
    },
    // 吸顶搜索框颜色配置
    resetSearchCeilingBgColorValue() {
      return this.pageConfigData.searchCeiling.style.bgColor;
    },
    resetSearchCeilingBorderColorValue() {
      return this.pageConfigData.searchCeiling.style.borderColor;
    },
    resetSearchCeilingFontColorValue() {
      return this.pageConfigData.searchCeiling.style.fontColor;
    },

    // 吸顶搜索配置
    cornerRadiusType: {
      get: function() {
        let cornerRadiusList = [];
        if (this.pageConfigData.searchCeiling.style.cornerRadius[0] != "0") {
          cornerRadiusList.push("topLeft");
        }
        if (this.pageConfigData.searchCeiling.style.cornerRadius[1] != "0") {
          cornerRadiusList.push("topRight");
        }
        if (this.pageConfigData.searchCeiling.style.cornerRadius[2] != "0") {
          cornerRadiusList.push("bottomRight");
        }
        if (this.pageConfigData.searchCeiling.style.cornerRadius[3] != "0") {
          cornerRadiusList.push("bottomLeft");
        }
        return cornerRadiusList;
      },
      set: function(newValue) {
        this.$set(this.pageConfigData.searchCeiling.style, "cornerRadius", [
          "0",
          "0",
          "0",
          "0"
        ]);
        newValue.map(currentValue => {
          if (currentValue == "topLeft") {
            this.$set(
              this.pageConfigData.searchCeiling.style.cornerRadius,
              0,
              "10"
            );
          } else if (currentValue == "topRight") {
            this.$set(
              this.pageConfigData.searchCeiling.style.cornerRadius,
              1,
              "10"
            );
          } else if (currentValue == "bottomRight") {
            this.$set(
              this.pageConfigData.searchCeiling.style.cornerRadius,
              2,
              "10"
            );
          } else {
            this.$set(
              this.pageConfigData.searchCeiling.style.cornerRadius,
              3,
              "10"
            );
          }
        });
      }
    },
    searchCeilingBgColor: {
      get: function() {
        return this.colorTransform(
          this.pageConfigData.searchCeiling.style.bgColor
        );
      },
      set: function(newValue) {
        let color = "";
        if (newValue[0] != "#") {
          color = this.rgbaTransform(newValue);
          this.$set(this.pageConfigData.searchCeiling.style, "bgColor", color);
        }
      }
    },
    searchCeilingBorderColor: {
      get: function() {
        return this.colorTransform(
          this.pageConfigData.searchCeiling.style.borderColor
        );
      },
      set: function(newValue) {
        let color = "";
        if (newValue[0] != "#") {
          color = this.rgbaTransform(newValue);
          this.$set(
            this.pageConfigData.searchCeiling.style,
            "borderColor",
            color
          );
        }
      }
    },
    searchCeilingFontColor: {
      get: function() {
        return this.colorTransform(
          this.pageConfigData.searchCeiling.style.fontColor
        );
      },
      set: function(newValue) {
        let color = "";
        if (newValue[0] != "#") {
          color = this.rgbaTransform(newValue);
          this.$set(
            this.pageConfigData.searchCeiling.style,
            "fontColor",
            color
          );
        }
      }
    },
    // 导航栏颜色配置

    navTitleColorValue: {
      get: function() {
        return this.navConfigInfo.data.items[0].style.titleColor;
      },
      set: function(newValue) {
        this.$set(
          this.navConfigInfo.data.items[0].style,
          "titleColor",
          newValue
        );
      }
    },
    initNavBgColorValue: {
      get: function() {
        return this.colorTransform(this.navConfigInfo.data.style.initBgColor);
      },
      set: function(newValue) {
        let color = "";
        if (newValue[0] != "#") {
          color = this.rgbaTransform(newValue);
          this.$set(this.navConfigInfo.data.style, "initBgColor", color);
        }
      }
    },
    navBgColorValue: {
      get: function() {
        return this.colorTransform(this.navConfigInfo.data.style.bgColor);
      },
      set: function(newValue) {
        let color = "";
        if (newValue[0] != "#") {
          color = this.rgbaTransform(newValue);
          this.$set(this.navConfigInfo.data.style, "bgColor", color);
        }
      }
    }
  },
  components: Object.assign(
    {},
    {
      right,
      phone,
      left,
      draggable,
      FloorABTest
    },
    componentsPreview,
    componentEdit,
    {
      "image-upload": ImageUpload,
      headNav,
	  AuthForm,
	  rollBackHistory
    }
  ),
  mounted() {
    this.floorId = this.$route.query.pageId;
    this.incId = this.$route.query.incId;
    this.pageId = this.$route.query.pageId;
    this.menuType = this.$route.query.menuType;
    if (this.type !== "flow") {
      //如果不是分类楼层配置
      if (this.incId && this.type !== "flow") {
        //查询指定id数据
        // edit(this.floorId,null,(data)=> {
        //   this.updateFloor({type:'addPage',data:data.data})
        // })
        this.getPageData(this.incId);
      } else {
        this.updateFloor({ type: "resetFloor" });
        this.createPage();
      }
    } else {
      //查询分流楼层列表
      this.getFlowFloor();
    }
  },
  methods: {
    ...mapMutations([
      "setFlrIndex",
      "updateFloor",
      "updatapageData",
      "updateElement"
    ]),

    draglog(evt) {
      console.log("draglog==" + JSON.stringify(evt));
      if (this.menuType !== "decoration") {
        return;
      }
      if (!evt.moved.element.id) {
        //this.$Message.warning('请先保存楼层后再排序')
        return;
      }
      this.moveFloor(evt.moved.element.id, evt.moved.newIndex + 1);
    },
    dragStart(evt) {
      console.log(evt);
    },
    dragEnd(evt) {
      this.drag = false;
    },
    dragUpdate(e) {
      // console.log(e)
    },
    getFlowFloor() {
      //查询分流楼层列表
      this.$axios
        .request({
          url: `/jdh/commonFloor/list`,
          method: "get",
          data: {}
        })
        .then(res => {
          if (res.data.code == 0) {
            let temp = this.reFloor(res.data.result.result);
            this.updateFloor({
              type: "addPage",
              data: temp
            });
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    moveFloor(id, index) {
      //楼层移动排序
      this.$axios
        .request({
          url: `/jdh/floor/move?floorId=${id}&seq=${index}`,
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("重排序成功");
            this.updateFloor({ type: "addPage", data: this.list });
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    addIdToFloor(data) {
      //给楼层增加后端返回的唯一Id
      this.updateFloor({
        type: "update",
        index: this.curIndex,
        data: data
      });
    },
    saveFlowFloor() {
      //保存分流楼层
      ///jdh/commonFloor/save
      this.$axios
        .request({
          url: `/jdh/commonFloor/save`,
          data: {
            id: this.curElement.id ? this.curElement.id : null, //楼层唯一id,后端生成
            identityId: this.curElement.identityId
              ? this.curElement.identityId
              : null, //楼层唯一id,后端生成
            seq: this.curIndex + 1, //楼层序号
            configData: JSON.stringify(this.curElement),
            type: this.curElement.name
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            //第一次保存后，给楼层增加后端唯一id
            this.curElement.id = res.data.result.id;
            this.curElement.identityId = res.data.result.identityId;
            this.addIdToFloor(this.curElement.data);
            this.$Message.success("保存成功[分流]");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    saveFloor() {
      this.$axios
        .request({
          url: `/jdh/floor/save`,
          data: {
            id: this.curElement.id ? this.curElement.id : null, //楼层唯一id,后端生成
            identityId: this.curElement.identityId
              ? this.curElement.identityId
              : null, //楼层唯一id,后端生成
            seq: this.curIndex + 1, //楼层序号
            pageId: this.incId, //页面id
            configData: JSON.stringify(this.curElement),
            type: this.curElement.name
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            //第一次保存后，给楼层增加后端唯一id
            this.curElement.id = res.data.result.id;
            this.curElement.identityId = res.data.result.identityId;
            this.curElement.prodectId = this.$route.query.pid;
            this.curElement.pageId = this.incId;
            this.curElement.pageIdentityId = this.pageIdentityId;
            this.addIdToFloor(this.curElement.data);
            this.$Message.success("保存成功");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    reFloor(arr) {
      let temp = [];
      for (let i = 0; i < arr.length; i++) {
        temp.push(JSON.parse(arr[i].configData));
      }
      return temp;
    },
    // 运营发布
    releaseFloor() {
      this.$axios
        .request({
          url: `/jdh/floor/publish`,
          data: {
            id: this.curElement.id ? this.curElement.id : null, //楼层唯一id,后端生成
            configData: JSON.stringify(this.curElement.data)
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("发布成功");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getPageData(id) {
      //根据页面id获取数据
      let url =
        this.menuType == "decoration"
          ? `/jdh/page/detail?id=${id}`
          : `	/jdh/page/authDetail?id=${id}`;
      this.$axios
        .request({
          url: url,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            let temp = this.reFloor(res.data.result.jdhFreshFloorList);
            this.updateFloor({
              type: "addPage",
              data: temp
            });
            let pendant = JSON.parse(res.data.result.configData);
            this.updatapageData({
              type: "addPage",
              data: pendant.floorConfigData
            });
            this.pageConfigData.bgColor = pendant.bgColor;
            this.pageConfigData.bgImgUrl = pendant.bgImgUrl;
            this.pageConfigData.bgImgWidth = pendant.bgImgWidth;
            this.pageConfigData.bgImgHeight = pendant.bgImgHeight;
            this.pageConfigData.pageName = pendant.pageName;
            this.pageConfigData.pageBuryPoint = pendant.pageBuryPoint;
            this.pageConfigData.pageType = pendant.pageType;
            this.pageConfigData.description = pendant.description;
            this.$set(
              this.pageConfigData,
              "searchCeiling",
              pendant.searchCeiling || this.pageConfigData.searchCeiling
            );

            this.updataFloorConfigList(pendant.floorConfigData);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    createPage() {
      //创建页面生成页面Id，页面id用于单楼层保存
      // this.pageConfigData.pageName = this.pageConfigData.pageName;
      let floorConfigDataList = this.pageConfigData.floorConfigData;
      let hasHeadNav = false;
      for (let i = 0; i < floorConfigDataList.length; i++) {
        if (
          floorConfigDataList[i].data.type == "headNav" ||
          floorConfigDataList[i].data.type == "container-fadeNav"
        ) {
          floorConfigDataList[i] = this.navConfigInfo;
          hasHeadNav = true;
        }
      }
      if (hasHeadNav === false) {
        this.pageConfigData.floorConfigData.push(this.navConfigInfo);
      }
      this.$axios
        .request({
          url: `/jdh/page/save`,
          data: {
            projectId: this.$route.query.pid, //项目Id
            configData: JSON.stringify(this.pageConfigData), //页面全局配置
            description: this.pageConfigData.description, //页面描述
            pageName: this.pageConfigData.pageName, //页面名称
            pageBuryPoint: this.pageConfigData.pageBuryPoint,
            id: this.incId,
            pageId: this.pageId
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.incId = res.data.result.id;
            this.pageIdentityId = res.data.result.identityId;
            this.getPageData(this.incId);
            this.$Message.success("更新成功");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    delFlowFloor(id) {
      ///jdh/floor/remove
      this.$axios
        .request({
          url: `/jdh/commonFloor/remove?id=${id}`,
          data: {},
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功[分流]");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    delFloor(id) {
      ///jdh/floor/remove
      this.$axios
        .request({
          url: `jdh/floor/remove?id=${id}`,
          data: {},
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    edit(index, el) {
      this.curIndex = index;
      this.curElement = el;
      this.setFlrIndex(index);
      //this.updatePartType({type: 'update', data: {indexes: index, element: el}})
      this.updateElement({ type: "add", data: el });
    },
    setTitle() {
      this.curIndex = null;
    },
    delItem(index, id) {
      console.log(JSON.stringify(id));
      if (id.id) {
        this.type == "flow" ? this.delFlowFloor(id.id) : this.delFloor(id.id);
      }
      this.updateFloor({ type: "del", index: index });
      this.curIndex = null;
      this.curElement = {};
    },
    refactoring(arr) {
      // 重组app用的数据结构
      let temp = [];
      for (let i = 0; i < arr.length; i++) {
        if (this.$tools.isArray(arr[i].data)) {
          temp = _.concat(temp, arr[i].data);
        }
        if (this.$tools.isObject(arr[i].data)) {
          temp.push(arr[i].data);
        }
      }
      return temp;
    },
    //设置页面背景颜色
    resetPageBgColor() {
      // this.pageConfigData.bgColor = this.resetPageBgColorValue;
      this.$set(this.pageConfigData, "bgColor", this.resetPageBgColorValue);
    },
    //设置导航栏文字颜色
    resetNavTitleColor() {
      // this.navConfigInfo.data.items[0].titleColor = this.resetNavTitleColorValue;
      this.$set(
        this.navConfigInfo.data.items[0],
        "titleColor",
        this.resetNavTitleColorValue
      );
    },
    //设置导航栏背景颜色
    resetNavBgColor() {
      this.$set(
        this.navConfigInfo.data.style,
        "bgColor",
        this.resetNavBgColorValue
      );
    },
    //设置导航栏背景颜色
    resetInitNavBgColor() {
      this.$set(
        this.navConfigInfo.data.style,
        "initBgColor",
        this.resetInitNavBgColorValue
      );
    },
    //设置吸顶搜索框背景颜色
    resetSearchCeilingBgColor() {
      this.$set(
        this.pageConfigData.searchCeiling.style,
        "bgColor",
        this.resetSearchCeilingBgColorValue
      );
    },
    //设置吸顶搜索框边框颜色
    resetSearchCeilingBorderColor() {
      // this.pageConfigData.searchCeiling.style.borderColor = this.resetSearchCeilingBorderColorValue;
      this.$set(
        this.pageConfigData.searchCeiling.style,
        "borderColor",
        this.resetSearchCeilingBorderColorValue
      );
    },
    //设置吸顶搜索文字颜色
    resetSearchCeilingFontColor() {
      // this.pageConfigData.searchCeiling.style.fontColor = this.resetSearchCeilingFontColorValue;
      this.$set(
        this.pageConfigData.searchCeiling.style,
        "fontColor",
        this.resetSearchCeilingFontColorValue
      );
    },
    //导航栏展示内容改变
    showContentsChange(data) {
      if (data.indexOf("goBackBtnCheck") != -1) {
        this.$set(this.navConfigInfo.data.items[0], "showBackButton", "true");
      } else {
        this.$set(this.navConfigInfo.data.items[0], "showBackButton", "false");
      }
      if (data.indexOf("positionSearch") != -1) {
        this.$set(this.navConfigInfo.data.items[0], "navigationType", "1");
      } else {
        this.$set(this.navConfigInfo.data.items[0], "navigationType", "0");
      }
      if (data.indexOf("iconCheck") != -1) {
        this.$set(this.navConfigInfo.data.items[0], "showFunctionIcon", "true");
      } else {
        this.$set(
          this.navConfigInfo.data.items[0],
          "showFunctionIcon",
          "false"
        );
      }
      if (data.indexOf("moreCheck") != -1) {
        this.$set(this.navConfigInfo.data.items[0], "showMoreButton", "true");
      } else {
        this.$set(this.navConfigInfo.data.items[0], "showMoreButton", "false");
      }
    },
    topBgImgBeforeUpload(file, img) {
      if (img.width !== 1125) {
        return "请上传宽1125px的图片！";
      }
      return null;
    },
    topBgImgSuccess(res) {
      this.$set(this.pageConfigData, "bgImgUrl", res.result.path);
      this.$set(this.pageConfigData, "bgImgWidth", res.result.height);
      this.$set(this.pageConfigData, "bgImgHeight", res.result.width);
    },
    // 吸顶搜索图标
    searchImgUrlBeforeUpload(file, img) {
      if (img.width !== 45 || img.height !== 45) {
        return "请上传宽45px，高45px的图片！";
      }
      return null;
    },
    searchImgUrlSuccess(res) {
      this.$set(
        this.pageConfigData.searchCeiling,
        "searchImgUrl",
        res.result.path
      );
    },
    bgColorBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !== this.navConfigInfo.data.items[0].style.height * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.navConfigInfo.data.items[0].style.height * 3 +
          "px的图片！"
        );
      }
      return null;
    },
    bgImgUrlSuccess(res) {
      this.$set(this.navConfigInfo.data.style, "bgImgUrl", res.result.path);
    },
    handleSuccess(res, index) {
      this.$set(
        this.navConfigInfo.data.items[0],
        "titleImgUrl",
        res.result.path
      );
    },
    backBtnImgUrlSuccess(res, index) {
      this.$set(
        this.navConfigInfo.data.items[0],
        "backBtnImgUrl",
        res.result.path
      );
    },
    functionImgUrlSuccess(res, index) {
      this.$set(
        this.navConfigInfo.data.items[0].functionIcon,
        "functionImgUrl",
        res.result.path
      );
    },
    messageImgUrlSuccess(res, index) {
      this.$set(
        this.navConfigInfo.data.items[0].messageIcon,
        "messageImgUrl",
        res.result.path
      );
    },
    // 搜索图标上传
    navSearchImgUrlBeforeUpload(file, img) {
      if (img.width !== 39 || img.height !== 39) {
        return "请上传宽39px，高39px的图片！";
      }
      return null;
    },
    navSearchImgUrlSuccess(res) {
      this.$set(
        this.navConfigInfo.data.items[0].searchInfo,
        "searchImgUrl",
        res.result.path
      );
    },
    // 校验上传的标题图片格式
    // handleBeforeUpload(file, img) {
    //   if (img.width !== 300 || img.height !== 90) {
    //     return "请上传宽300px，高90px的图片！";
    //   }
    //   return null;
    // },
    // 校验上传的图标图片格式
    navIconBeforeUpload(file, img) {
      if (img.width !== 60 || img.height !== 60) {
        return "请上传宽60px，高60px的图片！";
      }
      return null;
    },
    getFloorData() {
      ///jdh/page/save
      this.$axios
        .request({
          url: `/jdh/configPageStyle/queryWebConfigPageStyleByKey?uuid=${this.floorId}&pId=${this.$route.query.pid}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.updateFloor({
              type: "addPage",
              data: res.data.data.list
            });
            this.updatapageData({
              type: "addPage",
              data: res.data.data.pageConfigData.floorConfigData
            });
            this.pageConfigData.bgColor = res.data.data.pageConfigData.bgColor;
            this.pageConfigData.bgImgUrl =
              res.data.data.pageConfigData.bgImgUrl;
            this.pageConfigData.bgImgWidth =
              res.data.data.pageConfigData.bgImgWidth;
            this.pageConfigData.bgImgHeight =
              res.data.data.pageConfigData.bgImgHeight;
            this.pageConfigData.pageName =
              res.data.data.pageConfigData.pageName;
            this.pageConfigData.pageBuryPoint = res.data.data.pageConfigData.pageBuryPoint? res.data.data.pageConfigData.pageBuryPoint: ''
            this.pageConfigData.pageType =
              res.data.data.pageConfigData.pageType;
            this.pageConfigData.description =
              res.data.data.pageConfigData.description;
            this.$set(
              this.pageConfigData,
              "searchCeiling",
              res.data.data.pageConfigData.searchCeiling ||
                this.pageConfigData.searchCeiling
            );
            this.updataFloorConfigList(
              res.data.data.pageConfigData.floorConfigData
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    commitFloor() {
      //无id新增页面数据，有id更新页面数据
      // this.pageConfigData.pageName = this.pageConfigData.pageName;

      // if(this.floorId){
      //   edit(this.floorId,{data:this.list})
      // }else{
      //   add({data:this.list}, () =>{
      //     this.$Message.success('发布成功')
      //   })
      // }
      if (this.floorId) {
        let floorConfigDataList = this.pageConfigData.floorConfigData;
        let hasHeadNav = false;
        for (let i = 0; i < floorConfigDataList.length; i++) {
          if (
            floorConfigDataList[i].data.type == "headNav" ||
            floorConfigDataList[i].data.type == "container-fadeNav"
          ) {
            floorConfigDataList[i] = this.navConfigInfo;
            hasHeadNav = true;
          }
        }
        if (hasHeadNav === false) {
          this.pageConfigData.floorConfigData.push(this.navConfigInfo);
        }
        this.updateToFloor();
      } else {
        this.pageConfigData.floorConfigData.push(this.navConfigInfo);
        this.pushData();
      }
    },
    updateToFloor() {
      this.$axios
        .request({
          url: `/jdh/configPageStyle/webConfigPageStyleUpdate`,
          data: {
            uuid: this.floorId,
            list: this.list,
            pId: this.$route.query.pid,
            pageConfigData: this.pageConfigData
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.updateAppData();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    updateAppData() {
      let appData = this.refactoring(this.list);
      this.pageConfigData.floorConfigData = this.refactoring(
        this.pageConfigData.floorConfigData
      );

      this.$axios
        .request({
          url: `/jdh/configPageStyle/appConfigPageStyleUpdate`,
          data: {
            uuid: this.floorId,
            list: appData,
            pId: this.$route.query.pid,
            pageConfigData: this.pageConfigData
          },
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("更新成功");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    pushAppData(uuid) {
      ///jdh/configPageStyle/appConfigPageStyleSaveOrUpdate
      let appData = this.refactoring(this.list);
      this.pageConfigData.floorConfigData = this.refactoring(
        this.pageConfigData.floorConfigData
      );

      this.$axios
        .request({
          url: "/jdh/configPageStyle/appConfigPageStyleSave",
          method: "post",
          data: {
            uuid: uuid,
            list: appData,
            pId: this.$route.query.pid,
            pageConfigData: this.pageConfigData
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("发布成功");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    pushData() {
      this.$axios
        .request({
          url: "/jdh/configPageStyle/webConfigPageStyleSave",
          method: "post",
          data: {
            list: this.list,
            pageConfigData: this.pageConfigData,
            pId: this.$route.query.pid
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            // this.$Message.success('发布成功')
            this.pushAppData(res.data.data.uuid);
            this.floorId = res.data.data.uuid;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    showPageData(data) {
      data.map((value, index) => {
        if (value.showBombScreen) {
          this.showBombScreen = "1";
          //this.bombScreenIndex = index
        } else if (value.showFloatIcon) {
          this.showFloatIcon = "1";
          //this.floatIconIndex = index
        } else if (value.showToTop) {
          this.showToTop = "1";
          //this.toTopIndex = index
        }
        if (
          (value && value.data && value.data.type == "headNav") ||
          value.data.type == "container-fadeNav"
        ) {
          this.navConfigInfo = value;
        }
      });
    },
    bombScreenUpload(file, img) {
      if (img.width !== 1125) {
        return "图片宽度必须是1125px";
      }
      if (img.height !== 900) {
        return "图片高度必须是900px";
      }
      return null;
    },
    floatIconUpload(file, img) {
      if (img.width !== 120) {
        return "图片宽度必须是120px";
      }
      if (img.height !== 120) {
        return "图片高度必须是120px";
      }
      return null;
    },
    toTopUpload(file, img) {
      if (img.width !== 78) {
        return "图片宽度必须是78px";
      }
      if (img.height !== 78) {
        return "图片高度必须是78px";
      }
      return null;
    },
    /**
     * 判断是否已添加
     */
    checkExit(data, name) {
      let checkRes = data.filter((item, index) => {
        if (item.name === name) {
          return true;
        }
      });
      if (checkRes.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    // 导航栏的外露图切换
    functionIconValueChange(value) {
      if (value == "0") {
        this.$set(
          this.navConfigInfo.data.items[0].functionIcon,
          "functionImgUrl",
          "https://m.360buyimg.com/pop/jfs/t1/91675/6/10702/1386/5e1e8baaE92ca098b/db90379c5ff4d5e9.png"
        );
      } else if (value == "1") {
        this.$set(
          this.navConfigInfo.data.items[0].functionIcon,
          "functionImgUrl",
          "https://m.360buyimg.com/pop/jfs/t1/105565/9/10098/5227/5e1587bbEbab474ab/e0b416873aba781e.png"
        );
      } else {
        this.$set(
          this.navConfigInfo.data.items[0].functionIcon,
          "functionImgUrl",
          "https://m.360buyimg.com/pop/jfs/t1/85711/28/10256/1583/5e1862f9E35739333/451cdf52b00304b6.png"
        );
      }
    },
    // 吸顶搜索切换
    searchCeilingStatusChange(value) {
      if (value == "0") {
        if (this.pageConfigData.searchCeiling) {
          this.$delete(this.pageConfigData, "searchCeiling");
        }
      } else {
        this.$set(this.pageConfigData, "searchCeiling", {
          action: "",
          searchImgUrl:
            "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1578926164938&di=5bd15e4d63595428c7aa16c96dcf522b&imgtype=0&src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F00%2F86%2F85%2F4756ec346692cd0.jpg",
          searchText: "搜医生/药品/疾病/体检",
          style: {
            height: "45",
            display: "inline",
            bgColor: "#ffffff",
            borderColor: "#E7E0E0",
            fontSize: "15",
            fontColor: "#A0A0A0",
            colspan: "1",
            reuseId: "",
            align: "left",
            margin: ["155", "0", "0", "0"],
            cornerRadius: ["100", "100", "100", "100"]
          }
        });
      }
    },
    updataFloorConfigList(data) {
      data.map((value, index) => {
        if (value.name === "bombScreen") {
          this.floorConfigList[0] = value;
        } else if (value.name === "floatIcon") {
          this.floorConfigList[1] = value;
        } else if (value.name === "toTop") {
          this.floorConfigList[2] = value;
        }
      });
    },
    //颜色转换
    colorTransform(colorData) {
      if (colorData) {
        if (colorData.length == "9") {
          let transparent = colorData.substring(1, 3);
          let colorValue = colorData.substring(3, colorData.length);
          return "#" + colorValue + transparent;
        } else {
          return colorData;
        }
      }
    },
    //颜色转换成hex格式
    rgbaTransform(color) {
      var values = color
        .replace(/rgba?\(/, "")
        .replace(/\)/, "")
        .replace(/[\s+]/g, "")
        .split(",");
      var a = parseFloat(values[3] || 1),
        r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
        g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
        b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255);
      var setTrans = (a * 255).toString(16).split(".")[0];
      var aValue = setTrans.length == "1" ? "0" + setTrans : setTrans;
      return (
        "#" +
        aValue +
        ("0" + r.toString(16)).slice(-2) +
        ("0" + g.toString(16)).slice(-2) +
        ("0" + b.toString(16)).slice(-2)
      );
    },
	/**
	楼层版本回滚
	 */
	rollBackHistory() {
		this.rollBackHistoryModel = true
		this.$refs.floorDataBack.checkHistoryEdition()
	}
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        this.list = newer;
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "$store.state.app.element": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
        this.partData = newer;
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    showToTopStyle: {
      handler: function(newer, older) {
        this.floorConfigList[2].data.items[0].imgUrl = this.showToTopList[
          newer
        ];
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "$store.state.app.floorConfigData": {
      handler: function(newer, older) {
        this.$set(this.pageConfigData, "floorConfigData", newer);
        this.showPageData(newer);
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    showBombScreen: {
      handler: function(newer, older) {
        if (newer === "1") {
          this.floorConfigList[0].showBombScreen = "1";
          if (
            this.checkExit(this.pageConfigData.floorConfigData, "bombScreen")
          ) {
            this.updatapageData({
              type: "updata",
              data: this.floorConfigList[0]
            });
          } else {
            this.updatapageData({
              type: "add",
              data: this.floorConfigList[0]
            });
          }
        } else {
          this.updatapageData({ type: "del", name: "bombScreen" });
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    showFloatIcon: {
      handler: function(newer, older) {
        if (newer === "1") {
          this.floorConfigList[1].showFloatIcon = "1";
          if (
            this.checkExit(this.pageConfigData.floorConfigData, "floatIcon")
          ) {
            this.updatapageData({
              type: "updata",
              data: this.floorConfigList[1]
            });
          } else {
            this.updatapageData({
              type: "add",
              data: this.floorConfigList[1]
            });
          }
        } else {
          this.updatapageData({ type: "del", name: "floatIcon" });
        }
      }
    },
    showToTop: {
      handler: function(newer, older) {
        if (newer === "1") {
          this.floorConfigList[2].showToTop = "1";
          if (this.checkExit(this.pageConfigData.floorConfigData, "toTop")) {
            this.updatapageData({
              type: "updata",
              data: this.floorConfigList[2]
            });
          } else {
            this.updatapageData({
              type: "add",
              data: this.floorConfigList[2]
            });
          }
        } else {
          this.updatapageData({ type: "del", name: "toTop" });
        }
      }
    },
    switchBombScreen: {
      handler: function(newer, older) {
        if (newer === "1") {
          this.floorConfigList[0].switchBombScreen = "1";
        } else {
          this.floorConfigList[0].switchBombScreen = "0";
        }
      }
    }
  }
};
</script>

<style scoped lang="less">
.right-content {
  position: fixed;
  left: 96rem;
  top: 15rem;
  max-height: 500px;
  // overflow-y:scroll;
  // overflow-x:hidden;
}
.right-content-flow {
  left: 100rem;
  top: 18rem;
}
.right-content::-webkit-scrollbar {
  width: 0 !important;
}
.p-wrap {
  position: relative;
  .close {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 10;
  }
}
.editTitle {
  overflow: hidden;
  height: 54px;
  border-bottom: 1px solid #eee;
  &-left {
    float: left;
    line-height: 54px;
    font-size: 16px;
  }
  &-right {
    float: right;
    button {
      margin: 9px 5px;
    }
  }
}
.bottom-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #ddd;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.content {
  display: flex;
  flex-direction: column;
}
.c-left {
  position: fixed;
  width: 150px;
  height: 600px;
  background: #fff;
  border: 1px solid #e8e8e8;
  .c-button {
    display: block;
    width: 100px;
    margin: 6px;
  }
}
.phone {
  width: 375px;
  min-height: 600px;
  margin-left: 32rem;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding-bottom: 40px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: content-box;
  .fixedTop {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    overflow: hidden;
    z-index: 99;
    img {
      width: 100%;
    }
  }
  .c-footer {
    height: 50px;
  }
}
.blackColor {
  color: #000000;
}
.whiteColor {
  color: #ffffff;
}

.push-btn:hover {
  background: #67b7f0;
}
.push-btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background: #2d8cf0;
  color: #fff;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  -webkit-user-select: none;
}
.preview {
  position: relative;
}
.preview-outer-hover:after {
  position: absolute;
  z-index: 3;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-box-shadow: 0 0 0 0.15rem #60a5e1 inset;
  box-shadow: inset 0 0 0 0.15rem #60a5e1;
  content: " ";
}
.preview-hover:hover:after {
  position: absolute;
  z-index: 3;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 1px dashed #60a5e1;
  content: " ";
}
.ivu-form-item {
  margin-bottom: 14px;
}
.ivu-alert-message .ivu-btn {
  margin-left: 20px;
}

/deep/ .ivu-form-item-content {
  overflow: visible;
}

.n-to-top {
  position: absolute;
  right: 15px;
  bottom: 50px;
  width: 39px;
  height: 39px;
  background-size: 100%;
  z-index: 1;
}
.page-content {
  position: relative;
  height: 94%;
}
.n-bomb-screen-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.n-bomb-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

i.n-close {
  background: url(https://storage.360buyimg.com/tower/babelnode/static/media/float_close-new.6be73299.png);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin: 0 auto;
}

i.n-close,
i.ivu-icon-ios-close-circle-outline {
  display: block;
  background-size: 100%;
}

.n-float-icon-wrap {
  // position: relative;
  // width: 100%;
  // height: 50px;
}
.n-float-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  bottom: 30%;
  z-index: 1;
  img {
    display: block;
  }
}
i.ivu-icon-ios-close-circle-outline {
  color: #ea28f7;
  position: absolute;
  top: -7px;
  right: -5px;
}
.n-in-time-preview {
  margin-bottom: 5px;
}
//重置背景颜色按钮样式
.resetBtn {
  margin-left: 10px;
}

// 吸顶搜索
.searchCeiling {
  position: absolute;
  left: 0;
  z-index: 99;
  background-color: #00000000;
  width: 100%;
  padding: 0 12px;
  .n-search-icon {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    line-height: 100%;
    .n-search-content {
      padding: 0 20px;
      img {
        display: inline-block;
        width: 15px;
        height: 15px;
        overflow: hidden;
        margin-right: 7px;
      }
    }
  }
}
// 搜索输入框
.inputSetting {
  width: 55px;
  margin-right: 40px;
}
.searchCornerBox {
  .ivu-checkbox-wrapper {
    margin-right: 5px;
  }
}
</style>
