<template>
  <div style="padding: 2rem;">
    <Tabs name="page" :animated="false">
      <TabPane label="页面管理" tab="page">
        <Card v-show="'/operativePageList'!=this.$route.path" style="padding-top: 2rem;">
          <Form :model="formItem" :label-width="100" inline>
            <FormItem label="页面Id：">
              <Input
                style="width: 300px"
                size="large"
                clearable
                v-model="formItem.uuid"
                placeholder="请输入页面ID..."
              ></Input>
            </FormItem>
            <FormItem label="页面名称：">
              <Input
                style="width: 300px"
                size="large"
                clearable
                v-model="formItem.pageName"
                placeholder="请输入页面名称..."
              ></Input>
            </FormItem>
            <FormItem :label-width="0">
              <Button
                size="large"
                icon="ios-locate-outline"
                @click="getListByPro"
                style="margin-right: .5rem;"
                type="primary"
              >查询</Button>
              <Button
                size="large"
                icon="md-add"
                @click="addPage"
                style="margin-right: .5rem;"
                type="success"
              >新增页面</Button>
              <!--<Button size="large" icon="ios-alarm-outline" @click="stagesPage" style="margin-right: .5rem;" type="info">页面分期</Button>-->
            </FormItem>
          </Form>
        </Card>
        <Divider />
        <Card style="padding: 2rem;">
          <Table size="large" border stripe :columns="columns1" :data="data1"></Table>
          <div style="text-align: center;margin-top: 1rem;">
            <Page @on-change="getPage" :total="totalCount" show-elevator />
          </div>
        </Card>
      </TabPane>
      <TabPane v-show="'/operativePageList'!=this.$route.path" label="页面组管理" tab="page">
        <stages></stages>
      </TabPane>
      <TabPane v-show="'/operativePageList'!=this.$route.path" label="导航管理" tab="page">
        <navigation></navigation>
      </TabPane>
      <TabPane v-show="'/operativePageList'!=this.$route.path" label="挂件管理" tab="page">
        <pendant></pendant>
      </TabPane>
      <TabPane v-show="'/operativePageList'!=this.$route.path" label="系统配置" tab="page">
        <systemConfig></systemConfig>
      </TabPane>
      <TabPane label="分流楼层管理">
        <FloorPage type="flow"></FloorPage>
      </TabPane>
    </Tabs>
    <Modal width="407px" v-model="modal4" :closable="true" title="预览">
      <div style="min-height: 600px;" :style="{backgroundColor:configObj.bgColor}" v-if="modal4">
        <pagePreview :list="list" :pageConfigData="pageConfigData"></pagePreview>
      </div>
      <div slot="footer"></div>
    </Modal>
    <Modal width="500" v-model="modal13" :mask-closable="false" title="项目授权">
      <AuthForm :currentId="currentPageId" :type="2"></AuthForm>
      <div slot="footer"></div>
    </Modal>
  </div>
</template>

<script>
//import {show,del,edit} from './config/localDB'
import AuthForm from "./authForm";
import stages from "./stages";
import pagePreview from "./pagePreview";
import navigation from "./navigation/navigateList";
import pendant from "./pendant/pendantList";
import FloorPage from "./index";
import systemConfig from "./systemConfig/systemConfig";
export default {
  name: "pageList",
  data() {
    return {
      currentPageId: "",
      modal13: false,
      modal4: false,
      list: [],
      pageConfigData: {},
      configObj: {},
      pageNo: 1,
      formItem: {},
      totalCount: 0,
      data1: [],
      columns1: [
        {
          title: "页面id",
          key: "id"
        },
        {
          title: "页面名称",
          key: "pageName"
        },
        // {
        //     title: "页面类型",
        //     key: "pageType"
        // },
        {
          title: "页面描述",
          key: "description"
        },
        {
          title: "状态",
          key: "state",
          render: (h, params) => {
            return h("div", [params.row.state == 0 ? "未上线" : "已上线"]);
          }
        },
        {
          title: "操作",
          key: "action",
          align: "center",
          width: 380,
          render: (h, params) => {
            return h("div", [
              params.row.status == 0
                ? h(
                    "Button",
                    {
                      props: {
                        type: "success",
                        size: "small"
                      },
                      style: {
                        marginRight: "5px"
                      },
                      on: {
                        click: () => {
                          // alert(params.row.id)
                          //查询指定id数据
                          //this.list = params.row.data
                          this.setDefaultPage(params.row.id);
                        }
                      }
                    },
                    "设置为首页"
                  )
                : "",
              h(
                "Button",
                {
                  props: {
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.edit(params.row.id, params.row.pageId);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    size: "small",
                    icon: "ios-cloud-upload"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.refactAppData(params.row.id);
                    }
                  }
                },
                "上线"
              ),
              // h(
              //   "Button",
              //   {
              //     props: {
              //       size: "small",
              //       icon:'ios-cloud-upload'
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //         this.modal13=true
              //         this.currentPageId = params.row.id
              //         //this.refactAppData(params.row.id);
              //       }
              //     }
              //   },
              //   "授权"
              // ),
              // h(
              //   "Button",
              //   {
              //     props: {
              //       size: "small"
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //         this.material(params.row.id);
              //       }
              //     }
              //   },
              //   "素材"
              // ),
              h(
                "Button",
                {
                  props: {
                    type: "info",
                    size: "small",
                    icon: "ios-eye"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // alert(params.row.id)
                      //查询指定id数据
                      //this.list = params.row.data
                      this.modal4 = true;
                      this.getPageData(params.row.id);
                      //this.getPageDetail(params.row.uuid);
                    }
                  }
                },
                "预览"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "提示",
                        content: "<p>是否确定删除此条页面数据</p>",
                        onOk: () => {
                          //del(params.row.id,()=>{
                          // this.$Message.info('删除成功');
                          // show((data)=> {
                          //   this.data1 = data
                          // })
                          //})
                          this.delWebFloor(params.row.id);
                        },
                        onCancel: () => {
                          this.$Message.info("取消操作");
                        }
                      });
                    }
                  }
                },
                "删除"
              )
              // h(
              //   "Button",
              //   {
              //     props: {
              //       size: "small",
              //       icon: "md-copy"
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //
              //       }
              //     }
              //   },
              //   "复制"
              // )
            ]);
          }
        }
      ]
    };
  },
  mounted() {
    // show((data)=> {
    //   this.data1 = data
    // })
    //this.getList();
    this.getListByPro();
  },
  components: {
    pagePreview,
    stages,
    navigation,
    AuthForm,
    pendant,
    FloorPage,
    systemConfig
  },
  methods: {
    refactAppData(id) {
      //生成App数据
      let appList = [];
      let pageConfigData = {}; //页面全局配置数据
      this.$axios
        .request({
          url: `/jdh/page/detail?id=${id}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            appList = this.refactoring(res.data.result.jdhFreshFloorList);
            pageConfigData = JSON.parse(res.data.result.configData);
            let tempArr = this.refactAppConfigData(
              JSON.parse(res.data.result.configData).floorConfigData
            );
            pageConfigData.floorConfigData = tempArr;
            // pageConfigData = this.refactAppConfigData(
            //   JSON.parse(res.data.result.configData).floorConfigData
            // );
            this.publishPage(
              JSON.stringify(pageConfigData),
              appList,
              res.data.result,
              id
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    refactAppConfigData(arr) {
      //重新组织页面全局数据给app
      let temp = [];
      for (let i = 0; i < arr.length; i++) {
        temp.push(arr[i].data);
      }
      return temp;
    },
    publishPage(pageConfig, appList, data, pageId) {
      //页面上线
      this.$axios
        .request({
          url: `/jdh/page/publish`,
          method: "post",
          data: {
            projectId: data.projectId,
            id: pageId,
            configData: pageConfig
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("上线成功");
            this.getListByPro();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    refactoring(arr) {
      // 重组app用的数据结构
      let temp = [];
      for (let i = 0; i < arr.length; i++) {
        let id = arr[i].id;
        if (this.$tools.isArray(JSON.parse(arr[i].configData).data)) {
          let temp1 = JSON.parse(arr[i].configData).data;
          for (let j = 0; j < temp1.length; j++) {
            temp = _.concat(temp, { configData: temp1[j], id: id });
          }
        }
        if (this.$tools.isObject(JSON.parse(arr[i].configData).data)) {
          temp.push({ configData: JSON.parse(arr[i].configData).data, id: id });
        }
      }
      return temp;
    },
    reFloor(arr) {
      let temp = [];
      for (let i = 0; i < arr.length; i++) {
        temp.push(JSON.parse(arr[i].configData));
      }
      return temp;
    },
    getPageData(id) {
      //根据页面id获取数据
      this.$axios
        .request({
          url: `/jdh/page/detail?id=${id}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            let temp = this.reFloor(res.data.result.jdhFreshFloorList);
            this.list = temp;
            this.pageConfigData = res.data.result.configData;
            this.configObj = JSON.parse(res.data.result.configData);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    stagesPage() {
      this.$router.push({
        path: "/stages",
        query: { pid: this.$route.query.pid }
      });
    },
    getPage(v) {
      this.pageNo = v;
      this.getListByPro();
    },
    setDefaultPage(uuid) {
      //jdh/configPageStyle/updateStatusByUuid

      this.$axios
        .request({
          url: `/jdh/configPageStyle/updateStatusByUuid?uuid=${uuid}&status=${1}&pId=${
            this.$route.query.pid
          }`,
          data: {},
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("设置成功");
            this.getListByPro();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    delWebFloor(id) {
      ///jdh/configPageStyle/delWebConfigPageStyleByKey
      this.$axios
        .request({
          url: `/jdh/page/deleteById?id=${id}`,
          method: "post"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
            this.getListByPro();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getPageDetail(uuid) {
      //jdh/configPageStyle/queryWebConfigPageStyleByKey
      this.$axios
        .request({
          url: `/jdh/configPageStyle/queryWebConfigPageStyleByKey?uuid=${uuid}&pId=${this.$route.query.pid}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.list = res.data.data.list;
            this.pageConfigData = res.data.data.pageConfigData;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getListByPro() {
      //jdh/page/list
      if ("/operativePageList" == this.$route.path) {
        this.$axios
          .request({
            url: `/jdh/page/listDynamicAuth?pageNo=${this.pageNo}&pageSize=10&projectId=${this.$route.query.pid}&flag=false`,
            method: "get"
          })
          .then(res => {
            if (res.data.code == 0) {
              this.data1 = res.data.result.result;
              this.totalCount = res.data.result.totalCount;
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.$axios
          .request({
            url: `/jdh/page/list?pageNo=${this.pageNo}&pageSize=10&projectId=${this.$route.query.pid}&flag=false`,
            method: "get"
          })
          .then(res => {
            if (res.data.code == 0) {
              this.data1 = res.data.result.result;
              this.totalCount = res.data.result.totalCount;
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    },
    getList() {
      //pageName=${this.$route.query.pid}
      let uuid = this.formItem.uuid ? this.formItem.uuid : "";
      let pageName = this.formItem.pageName ? this.formItem.pageName : "";
      this.$axios
        .request({
          url: `/jdh/configPageStyle/queryWebConfigPageStyleKeyList?currentPage=${this.pageNo}&pageSize=10&pId=${this.$route.query.pid}&uuid=${uuid}&pageName=${pageName}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.data1 = res.data.data.records;
            this.totalCount = res.data.data.total;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    edit(id, pageId) {
      // this.$router.push({path:'/addPage',query:{
      //     id:id
      //   }})
      this.$router.push({
        path:
          this.$route.path == "/decorationList" ? "/addPage" : "/operativeData",
        query: {
          incId: id,
          pid: this.$route.query.pid,
          pageId: pageId,
          menuType: this.$route.path == "/decorationList" ? "decoration" : ""
        }
      });
    },
    addPage() {
      this.$router.push({
        path: "/addPage",
        query: {
          id: null,
          pid: this.$route.query.pid,
          pageId: null,
          menuType: "decoration"
        }
      });
    },
    material(id) {
      this.$router.push({
        path: "/material",
        query: { id: id, pid: this.$route.query.pid }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.ivu-tabs {
  height: auto;
}
</style>
