<template>
  <div class="n-relative">
    <div class="fixedTop">
      <img class="h-img" src="../../assets/images/header2.png" />
    </div>
    <div v-if="navConfigInfo">
      <headNav :navConfigInfo="navConfigInfo"></headNav>
    </div>

    <div v-for="(element,index) in list" :key="index" class="preview">
      <phone :element="element" :index="index"></phone>
    </div>
    <!-- 浮层icon -->
    <div class="n-float-icon-wrap" v-if="showFloatIcon === '1'">
      <div class="n-float-icon">
        <!-- https://m.360buyimg.com/babel/jfs/t1/83205/27/14735/16174/5dc0d984E0c2d3241/424397362a5a63a2.gif -->
        <img :src="pageConfigData.floorConfigData[floatIconIndex].data[0].items[0].imgUrl" />
        <Icon type="ios-close-circle-outline" />
      </div>
    </div>
    <div class="n-to-top" v-if="showToTop === '1'">
      <img :src="pageConfigData.floorConfigData[toTopIndex].data[0].items[0].imgUrl" />
    </div>
    <div class="n-bomb-screen" v-if="showBombScreen === '1'">
      <div class="n-bomb-screen-wrap">
        <div class="n-bomb-screen-wrapper">
          <!-- https://m.360buyimg.com/pop/jfs/t1/63933/31/15302/1026815/5dccf484E7676b38a/0955e21317056675.png -->
          <img
            :src="pageConfigData.floorConfigData[bombScreenIndex].data[0].items[0].contentImgtUrl"
          />
          <i class="n-close" @click="closeBombScreen"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import phone from "./center";
import headNav from "./headNav";
export default {
  name: "pagePreview",
  props: ["list", "pageConfigData"],
  components: {
    phone,
    headNav
  },
  data() {
    return {
      showFloatIcon: "0",
      floatIconIndex: "0",
      showToTop: "0",
      toTopIndex: "0",
      showBombScreen: "0",
      bombScreenIndex: "0",
      navConfigInfo: {}
    };
  },
  computed: {
    getFloorConfigDataLen() {
      let len = this.pageConfigData.floorConfigData
        ? this.pageConfigData.floorConfigData.length
        : 0;
      return len;
    }
  },
  methods: {
    showPageData(newer) {
      var configDataObj;
      if (typeof newer == "object") {
        configDataObj = newer;
      } else {
        configDataObj = JSON.parse(newer);
      }
      if (
        configDataObj.floorConfigData &&
        configDataObj.floorConfigData.length > 0
      ) {
        configDataObj.floorConfigData.map((value, index) => {
          if (value.showBombScreen) {
            this.showBombScreen = "1";
            this.bombScreenIndex = index;
          } else if (value.showFloatIcon) {
            this.showFloatIcon = "1";
            this.floatIconIndex = index;
          } else if (value.showToTop) {
            this.showToTop = "1";
            this.toTopIndex = index;
          }
          if (
            value &&
            value.data &&
            (value.data.type == "headNav" ||
              value.data.type == "container-fadeNav")
          ) {
            this.navConfigInfo = value.data;
          }
        });
      }
    },
    closeBombScreen() {
      this.showBombScreen = "0";
    }
  },
  watch: {
    getFloorConfigDataLen: {
      handler: function(newer, older) {
        if (newer > 0) {
          this.showPageData();
        } else {
          this.showBombScreen = "0";
          this.showFloatIcon = "0";
          this.showToTop = "0";
        }
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    pageConfigData: {
      handler: function(newer, older) {
        this.showPageData(newer);
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.n-relative {
  position: relative;
  .fixedTop {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    overflow: hidden;
    z-index: 9;
    img {
      width: 100%;
    }
  }
}

.n-float-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  bottom: 30%;
  z-index: 1;
  img {
    display: block;
  }
}
i.ivu-icon-ios-close-circle-outline {
  color: #ea28f7;
  position: absolute;
  top: -7px;
  right: -5px;
}
.n-to-top {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 39px;
  height: 39px;
  background-size: 100%;
  z-index: 1;
}
.n-bomb-screen-wrapper {
  width: 100%;
}
.n-bomb-screen-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.n-bomb-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}

i.n-close {
  background: url(https://storage.360buyimg.com/tower/babelnode/static/media/float_close-new.6be73299.png);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin: 0 auto;
}

i.n-close,
i.ivu-icon-ios-close-circle-outline {
  display: block;
  background-size: 100%;
}
</style>
