<template>
    <div style="padding: 2rem;background: #fff;">
      <div v-show="!isOperative" style="margin: 20px;">
        <Button @click="modal12=true" size="large" icon="md-add" type="success">新建项目</Button>
      </div>
      <div class="pro-wrapper">
        <div @mouseover="getCut(index)" @mouseleave="current=null" class="card-wrap" v-for="(item,index) in projects" :key="index">
          <Icon v-show="current==index" @click="beforeDel(item.uuid)" size="16" class="close" color="#FF151A" type="ios-close-circle" />
          <Card style="width:220px;height: 220px;display: inline-block;">
            <a href="#" slot="extra" @click.prevent="toPageList(item.uuid, item.id)">
              <Icon type="ios-loop-strong"></Icon>
              进入项目
            </a>
            <div class="item-inner">
              <div>
                <h3>{{item.name}}</h3>
                <span>{{item.description}}</span>
              </div>
              <!--<div style="position: absolute;bottom:10px;right:10px;">-->
                <!--<Button @click="authModel(item.id)" shape="circle" icon="md-people">授权</Button>-->
              <!--</div>-->
            </div>
          </Card>
        </div>
      </div>
      <Modal
        width="500"
        v-model="modal12"
        :closable="false"
        :mask-closable="false"
        @on-ok="addPro"
        @on-cancel="cancel"
        title="新建项目">
        <Form>
          <FormItem label="项目名称">
            <Input v-model="proName" placeholder="请输入项目名称..."></Input>
          </FormItem>
          <FormItem label="项目描述">
            <Input v-model="proDesc" placeholder="请输入项目描述..."></Input>
          </FormItem>
        </Form>
      </Modal>
      <Modal
        width="500"
        v-model="modal13"
        :mask-closable="false"
        title="项目授权">
        <AuthForm :currentId="currentProId" :type="1"></AuthForm>
        <div slot="footer"></div>
      </Modal>
    </div>
</template>
<script>
    import AuthForm from './authForm'
    export default {
      name: "projects",
      data(){
          return{
            isOperative:false,//是否是运营管理菜单
            currentProId:'',
            erpAccount:'',
            current:null,
            projects:[],
            modal12:false,
            modal13:false,
            proName:'',
            proDesc:'',
            columns1:[ {
              title: 'Name',
              key: 'name'
            },
              {
                title: 'Age',
                key: 'age'
              },],
            data1:[]
          }
      },
      components:{
        AuthForm
      },
      mounted(){
        this.isOperative = this.$route.path=='/operativeFloor'?true:false
        this.getList()
      },
      methods:{
        toPageList(uuid, id){
          this.$store.commit('setPid',uuid)
          this.$router.push({
            path:this.isOperative?"/operativePageList":"/decorationList",
            query:{
              pid: uuid,
              id: id
            }
          })
        },
        authModel(id){
          this.modal13=true;
          this.currentProId = id
        },
        addAuth(){
          this.$axios.request({
            url: `/jdh/dynamicAuth/add`,
            method: 'post',
            data:{
              resourceId:String(this.currentProId),
              type:1,//授权类型，3 为楼层、2为页面、1为项目维度
              validUser:this.erpAccount
            }
          }).then(res=>{
            if(res.data.code==0){
              this.$Message.success('授权成功')
            }
          }).catch(err => {
            console.log(err)
          })
        },
          getList(){
            ///jdh/projectConfigPage/queryProjectConfigPageList?currentPage=1&pageSize=3
            if(this.isOperative){
              ///jdh/projectConfigPage/queryAuthProjectPageList?currentPage=1&pageSize=3
              this.$axios.request({
                url: `/jdh/projectConfigPage/queryAuthProjectPageList?currentPage=1&pageSize=20&flag=false`,
                method: 'get'
              }).then(res=>{
                if(res.data.code==0){
                  this.projects=res.data.data.records
                }
              }).catch(err => {
                console.log(err)
              })
            }else{
              this.$axios.request({
                url: `/jdh/projectConfigPage/queryProjectConfigPageList?currentPage=1&pageSize=20&flag=false`,
                method: 'get'
              }).then(res=>{
                if(res.data.code==0){
                  this.projects=res.data.data.records
                }
              }).catch(err => {
                console.log(err)
              })
            }
          },
        addPro(){
          this.$axios.request({
            url: `/jdh/projectConfigPage/webProjectConfigSaveOrUpdate`,
            method: 'post',
            data:{
              "name": this.proName,
              "description": this.proDesc,
            }
          }).then(res=>{
            if(res.data.code==0){
              this.$Message.success('创建成功');
              this.getList()
            }
          }).catch(err => {
            console.log(err)
          })
          // this.projects.push({proName:this.proName,proDesc:this.proDesc})
          // this.proName=''
          // this.proDesc=''
        },
        cancel(){
          this.proName=''
          this.proDesc=''
        },
        getCut(i){
          this.current=i
        },
        beforeDel(id){
          this.$Modal.confirm({
            title: '提示',
            content: '<p>请确认此项目没有在使用中，确定删除此项目吗?</p>',
            onOk: () => {
              this.del(id)
            },
            onCancel: () => {
              this.$Message.info('取消操作');
            }
          });
        },
        del(id){
          //jdh/projectConfigPage/delProjectConfigByUuid?uuid=jdh_config_80e5235b536142f39a89d7894ba05396
          this.$axios.request({
            url: `jdh/projectConfigPage/delProjectConfigByUuid?uuid=${id}`,
            method: 'get'
          }).then(res=>{
            if(res.data.code==0){
              this.$Message.success('删除成功')
              this.getList()
            }
          }).catch(err => {
            console.log(err)
          })
        },
      }
    }
</script>

<style scoped lang="less">
  .pro-wrapper{
    .item-inner{
      text-align: center;
      margin-top: 6rem;
    }
    .card-wrap{
      position: relative;
      display: inline-block;
      margin: 20px;
      .close{
        position: absolute;
        z-index: 100;
        right: -6px;
        top: -6px;
      }
    }
  }
</style>
