<template>
  <div>
    <Tabs value="name1">
      <TabPane label="楼层规则管理" name="name1">
        <Form :model="floorRuleQueryForm" :label-width="100" inline>
          <FormItem label="楼层类型：" size="large">
            <Select clearable v-model="floorRuleQueryForm.flId" style="width:200px">
              <Option
                v-for="item in floorTypeList"
                :value="item.code"
                :key="item.code"
              >{{ item.desc }}</Option>
            </Select>
          </FormItem>
          <FormItem label="配置类型：">
            <Select clearable v-model="floorRuleQueryForm.configType" style="width:200px">
              <Option
                v-for="item in configTypeList"
                :value="item.code"
                :key="item.code"
              >{{ item.desc }}</Option>
            </Select>
          </FormItem>
          <FormItem label="作用域类型">
            <Select clearable v-model="floorRuleQueryForm.scopeType" style="width:200px">
              <Option
                v-for="item in scopeTypeList"
                :value="item.code"
                :key="item.code"
              >{{ item.desc }}</Option>
            </Select>
          </FormItem>
          <FormItem>
            <Button
              icon="ios-locate-outline"
              @click="getList"
              style="margin-right: .5rem;"
              type="primary"
            >查询</Button>
            <Button
              icon="md-add"
              @click="()=>{this.floorRuleModal=true;this.editType=0;}"
              style="margin-right: .5rem;"
              type="success"
            >新增</Button>
            <Button
              icon="md-add"
              @click="deleteAll()"
              style="margin-right: .5rem;"
              type="success"
            >批量删除</Button>
          </FormItem>
        </Form>
        <Table
          size="large"
          stripe
          @on-selection-change="floorRuleSltChange"
          :columns="floorRuleColumns"
          :data="floorRuleData"
        ></Table>
        <div style="text-align: center;margin-top: 1rem;">
          <Page
            @on-change="getPage"
            :total="totalCount"
            show-elevator
            show-total
            prev-text="上一页"
            next-text="下一页"
          />
        </div>
      </TabPane>
      <TabPane label="楼层详情管理" name="name2">
        <Form :model="floorDetailQueryForm" :label-width="100" inline>
          <FormItem label="楼层类型：" size="large">
            <Select clearable v-model="floorDetailQueryForm.flId" style="width:200px">
              <Option
                v-for="item in floorTypeList"
                :value="item.code"
                :key="item.code"
              >{{ item.desc }}</Option>
            </Select>
          </FormItem>
          <FormItem label="配置类型：">
            <Select clearable v-model="floorDetailQueryForm.typeId" style="width:200px">
              <Option
                v-for="item in detailConfigTypeList"
                :value="item.code"
                :key="item.code"
              >{{ item.desc }}</Option>
            </Select>
          </FormItem>
          <FormItem label="状态：">
            <Select clearable v-model="floorDetailQueryForm.status" style="width:200px">
              <Option
                v-for="item in detailStatusList"
                :value="item.value"
                :key="item.value"
              >{{ item.name }}</Option>
            </Select>
          </FormItem>
          <FormItem>
            <Button
              icon="ios-locate-outline"
              @click="getDetailList"
              style="margin-right: .5rem;"
              type="primary"
            >查询</Button>
            <Button
              icon="md-add"
              @click="()=>{this.floorDetailModal=true;this.editDetailType=0;}"
              style="margin-right: .5rem;"
              type="success"
            >新增</Button>
            <Button
              icon="ios-trash-outline"
              @click="deleteAllDetail()"
              style="margin-right: .5rem;"
              type="success"
            >批量删除</Button>
          </FormItem>
        </Form>
        <Table
          size="large"
          stripe
          @on-selection-change="floorDetailSltChange"
          :columns="floorDetailColumns"
          :data="floorDetailData"
        >
          <!-- <template slot-scope="{ row }" slot="imgUrl">
            <img class="detailImg" :src="row.imgUrl" alt />
          </template>
          <template slot-scope="{ row }" slot="subImgUrl">
            <img class="detailImg" :src="row.subImgUrl" alt />
          </template>-->
        </Table>
        <div style="text-align: center;margin-top: 1rem;">
          <Page
            @on-change="getDetailPage"
            :total="detailTotalCount"
            show-elevator
            show-total
            prev-text="上一页"
            next-text="下一页"
          />
        </div>
      </TabPane>
    </Tabs>
    <!-- 新增楼层规则 -->
    <Modal
      v-model="floorRuleModal"
      :closable="false"
      :mask-closable="false"
      width="600px"
      :title="editType==0?'新增':'编辑'"
    >
      <Form
        ref="ruleFormValidate"
        :model="floorRuleModalData"
        :rules="ruleValidate"
        :label-width="120"
        class="ivu-form-item-required"
      >
        <FormItem label="楼层类型" prop="flId">
          <Select clearable v-model="floorRuleModalData.flId">
            <Option
              v-for="item in floorTypeList"
              :value="item.code"
              :key="item.code"
            >{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="配置类型" prop="configType">
          <Select clearable v-model="floorRuleModalData.configType">
            <Option
              v-for="item in configTypeList"
              :value="item.code"
              :key="item.code"
            >{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="作用域类型" prop="scopeType">
          <Select clearable v-model="floorRuleModalData.scopeType">
            <Option
              v-for="item in scopeTypeList"
              :value="item.code"
              :key="item.code"
            >{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <div v-if="floorRuleModalData.scopeType=='1'">
          <FormItem label="作用域类目等级" prop="catLevel">
            <Select clearable v-model="floorRuleModalData.catLevel">
              <Option
                v-for="(item,index) in catLevelList"
                :value="item.value"
                :key="index"
              >{{ item.name }}</Option>
            </Select>
          </FormItem>
          <FormItem label="类目编号" prop="catId">
            <Select clearable v-model="floorRuleModalData.catId">
              <Option
                v-for="(item,index) in catIdList"
                :value="item.value"
                :key="index"
              >{{ item.name }}</Option>
            </Select>
          </FormItem>
          <FormItem label="类目名称" prop="catName">
            <Input clearable v-model="floorRuleModalData.catName" placeholder="请输入类目名称..."></Input>
          </FormItem>
        </div>
        <FormItem label="商品类型" v-if="floorRuleModalData.scopeType=='2'" prop="skuType">
          <Select clearable v-model="floorRuleModalData.skuType">
            <Option
              v-for="(item,index) in skuTypeList"
              :value="item.value"
              :key="index"
            >{{ item.name }}</Option>
          </Select>
        </FormItem>
      </Form>
      <div slot="footer" style="textAlign:center">
        <Button @click="()=>{this.floorRuleModalData={};this.floorRuleModal=false;}">取消</Button>
        <Button
          type="primary"
          @click="()=>{this.editType==0?this.addFloorRule():this.updateFloorRule()}"
        >提交</Button>
      </div>
    </Modal>
    <!-- 新增编辑楼层详情 -->
    <Modal
      v-model="floorDetailModal"
      :closable="false"
      :mask-closable="false"
      width="600px"
      :title="editDetailType==0?'新增':'编辑'"
    >
      <Form
        :label-width="100"
        ref="detailFormValidate"
        :model="floorDetailModalData"
        :rules="detailValidate"
      >
        <FormItem label="楼层类型">
          <Select clearable v-model="floorDetailModalData.flId">
            <Option
              v-for="item in floorTypeList"
              :value="item.code"
              :key="item.code"
            >{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="配置类型">
          <Select
            clearable
            v-model="floorDetailModalData.typeId"
            @on-change="detailFormTypeIdChange"
          >
            <Option
              v-for="item in detailConfigTypeList"
              :value="item.code"
              :key="item.code"
            >{{ item.desc }}</Option>
          </Select>
        </FormItem>
        <FormItem label="主标题">
          <Input clearable v-model="floorDetailModalData.title" placeholder="请输入主标题..."></Input>
        </FormItem>
        <FormItem label="子标题">
          <Input clearable v-model="floorDetailModalData.subTitle" placeholder="请输入子标题..."></Input>
        </FormItem>
        <FormItem
          label="文本内容"
          v-if="floorDetailModalData.typeId=='1'||floorDetailModalData.typeId=='2'"
        >
          <Input
            v-model="floorDetailModalData.content"
            type="textarea"
            :autosize="{minRows: 2,maxRows: 5}"
            placeholder="请输入文本内容..."
          ></Input>
        </FormItem>
        <div v-if="floorDetailModalData.typeId=='3'">
          <FormItem label="主图片Url" prop="imgUrl">
            <Input clearable v-model="floorDetailModalData.imgUrl" placeholder="请输入主图片Url..."></Input>
          </FormItem>
          <FormItem label="子图片Url" prop="subImgUrl">
            <Input clearable v-model="floorDetailModalData.subImgUrl" placeholder="请输入子图片Url..."></Input>
          </FormItem>
        </div>
        <FormItem
          label="跳转链接"
          v-if="floorDetailModalData.typeId=='2'||floorDetailModalData.typeId=='3'"
          prop="targetUrl"
        >
          <Input clearable v-model="floorDetailModalData.targetUrl" placeholder="请输入跳转链接..."></Input>
        </FormItem>

        <FormItem label="排序号">
          <InputNumber v-model="floorDetailModalData.sortId"></InputNumber>
        </FormItem>
        <FormItem label="备注内容">
          <Input
            v-model="floorDetailModalData.remark"
            type="textarea"
            :autosize="{minRows: 2,maxRows: 5}"
            placeholder="请输入备注内容"
          ></Input>
        </FormItem>
      </Form>
      <div slot="footer" style="textAlign:center">
        <Button @click="()=>{this.floorDetailModalData={};this.floorDetailModal=false;}">取消</Button>
        <Button
          type="primary"
          @click="()=>{this.editDetailType==0?this.addFloorDetail():this.updateFloorDetail()}"
        >提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  name: "floorManage",
  data() {
    return {
      detailValidate: {
        imgUrl: [
          {
            type: "url",
            required: false,
            message: "请输入正确的链接格式",
            trigger: "blur"
          }
        ],
        subImgUrl: [
          {
            type: "url",
            required: false,
            message: "请输入正确的链接格式",
            trigger: "blur"
          }
        ],
        targetUrl: [
          {
            type: "url",
            required: false,
            message: "请输入正确的链接格式",
            trigger: "blur"
          }
        ]
      },
      ruleValidate: {
        flId: [
          {
            type: "number",
            required: true,
            message: "请选择楼层类型",
            trigger: "change"
          }
        ],
        configType: [
          {
            type: "number",
            required: true,
            message: "请选择配置类型",
            trigger: "change"
          }
        ],
        scopeType: [
          {
            type: "number",
            required: true,
            message: "请选择作用域类型",
            trigger: "change"
          }
        ],
        catLevel: [
          {
            type: "number",
            required: true,
            message: "请选择作用域类目",
            trigger: "change"
          }
        ],
        catId: [
          {
            type: "number",
            required: true,
            message: "请选择类目编号",
            trigger: "change"
          }
        ],
        catName: [
          {
            required: true,
            message: "请输入类目名称",
            trigger: "blur"
          }
        ],
        skuType: [
          {
            type: "number",
            required: true,
            message: "请选择商品类型",
            trigger: "change"
          }
        ]
      },
      floorRuleModal: false,
      floorDetailModal: false,
      editType: 0,
      editDetailType: 0,
      floorRuleQueryForm: {},
      floorDetailQueryForm: {},
      floorRuleData: [],
      floorDetailData: [],
      floorTypeList: [],
      configTypeList: [],
      detailConfigTypeList: [],
      scopeTypeList: [],
      selectionList: [],
      detailSltList: [],
      floorRuleColumns: [
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "id",
          key: "id",
          width: 100
        },
        {
          title: "楼层类型",
          key: "flId",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                params.row.flId == "100"
                  ? "医保"
                  : params.row.flId == "101"
                  ? "品牌"
                  : params.row.flId == "102"
                  ? "服务说明"
                  : params.row.flId == "103"
                  ? "业务支持"
                  : params.row.flId == "104"
                  ? "处方药预约流程说明"
                  : params.row.flId == "105"
                  ? "健康知识"
                  : params.row.flId == "106"
                  ? "问医"
                  : params.row.flId == "107"
                  ? "药品说明"
                  : "药急送"
              )
            ]);
          }
        },

        {
          title: "配置类型",
          key: "configType",
          render: (h, params) => {
            return h("div", [
              h("span", params.row.configType == "1" ? "包含规则" : "排除规则")
            ]);
          }
        },
        {
          title: "作用域类型",
          key: "scopeType",
          render: (h, params) => {
            return h("div", [
              h("span", params.row.scopeType == "1" ? "商品类目" : "商品类型")
            ]);
          }
        },
        {
          title: "类目等级",
          key: "catLevel",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                params.row.catLevel == "0"
                  ? "全部"
                  : params.row.catLevel == "1"
                  ? "一级"
                  : params.row.catLevel == "2"
                  ? "二级"
                  : "三级"
              )
            ]);
          }
        },
        {
          title: "类目编号",
          key: "catId",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                params.row.catId == "1"
                  ? "一级"
                  : params.row.catId == "2"
                  ? "二级"
                  : "三级"
              )
            ]);
          }
        },
        {
          title: "类目名称",
          key: "catName"
        },
        {
          title: "商品类型",
          key: "skuType",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                params.row.skuType == "0"
                  ? "全部"
                  : params.row.skuType == "1"
                  ? "自营"
                  : "POP"
              )
            ]);
          }
        },
        {
          title: "状态",
          key: "status",
          render: (h, params) => {
            return h("div", [
              h("span", params.row.status == "0" ? "冻结" : "激活")
            ]);
          }
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "left",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    size: "small",
                    type: params.row.status == 0 ? "warning" : "info"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.setStatus(params.row.id);
                    }
                  }
                },
                params.row.status == 0 ? "解冻" : "冻结"
              ),
              h(
                "Button",
                {
                  props: {
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.editType = 1;
                      this.floorRuleModal = true;
                      this.floorRuleModalData = params.row;
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "提示",
                        content: "<p>是否确定删除此条活动数据</p>",
                        onOk: () => {
                          //this.delActive(params.row)
                          this.delFloorRule(params.row.id);
                        },
                        onCancel: () => {
                          this.$Message.info("取消操作");
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      floorDetailColumns: [
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "排序号",
          key: "sortId",
          width: 80
        },
        {
          title: "id",
          key: "id",
          width: 100
        },
        {
          title: "楼层类型",
          key: "flId",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                params.row.flId == "100"
                  ? "医保"
                  : params.row.flId == "101"
                  ? "品牌"
                  : params.row.flId == "102"
                  ? "服务说明"
                  : params.row.flId == "103"
                  ? "业务支持"
                  : params.row.flId == "104"
                  ? "处方药预约流程说明"
                  : params.row.flId == "105"
                  ? "健康知识"
                  : params.row.flId == "106"
                  ? "问医"
                  : params.row.flId == "107"
                  ? "药品说明"
                  : "药急送"
              )
            ]);
          }
        },
        {
          title: "配置类型",
          key: "typeId",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                params.row.typeId == "1"
                  ? "文字"
                  : params.row.typeId == "2"
                  ? "文链"
                  : "图文"
              )
            ]);
          }
        },
        {
          title: "主标题",
          key: "title"
        },
        {
          title: "子标题",
          key: "subTitle"
        },
        {
          title: "文本内容",
          key: "content"
        },
        {
          title: "主图片",
          // slot: "imgUrl"
          key: "imgUrl"
        },
        {
          title: "子图片",
          // slot: "subImgUrl"
          key: "subImgUrl"
        },
        {
          title: "跳转链接",
          key: "targetUrl"
        },

        {
          title: "状态",
          key: "status",
          render: (h, params) => {
            return h("div", [
              h("span", params.row.status == "0" ? "冻结" : "激活")
            ]);
          }
        },
        {
          title: "备注内容",
          key: "remark"
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "left",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    size: "small",
                    type: params.row.status == 0 ? "warning" : "info"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.setDetailStatus(params.row.id);
                    }
                  }
                },
                params.row.status == 0 ? "解冻" : "冻结"
              ),
              h(
                "Button",
                {
                  props: {
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.editDetailType = 1;
                      this.floorDetailModal = true;
                      this.floorDetailModalData = params.row;
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "提示",
                        content: "<p>是否确定删除此条活动数据</p>",
                        onOk: () => {
                          //this.delActive(params.row)
                          this.delFloorDetail(params.row.id);
                        },
                        onCancel: () => {
                          this.$Message.info("取消操作");
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      totalCount: 0,
      detailTotalCount: 0,
      floorRuleModalData: {},
      floorDetailModalData: {},
      catLevelList: [
        {
          name: "全部",
          value: 0
        },
        {
          name: "一级",
          value: 1
        },
        {
          name: "二级",
          value: 2
        },
        {
          name: "三级",
          value: 3
        }
      ],
      catIdList: [
        {
          name: "一级",
          value: 1
        },
        {
          name: "二级",
          value: 2
        },
        {
          name: "三级",
          value: 3
        }
      ],
      skuTypeList: [
        {
          name: "全部",
          value: 0
        },
        {
          name: "自营",
          value: 1
        },
        {
          name: "POP",
          value: 2
        }
      ],
      detailStatusList: [
        {
          name: "冻结",
          value: 0
        },
        {
          name: "激活",
          value: 1
        }
      ]
    };
  },
  mounted() {
    this.getList();
    this.getDetailList();
    this.getFloorTypeList();
    this.getConfigTypeList();
    this.getScopeTypeList();
  },
  methods: {
    // 查询楼层规则数据列表
    getList(string, n) {
      // if (string && string == "page") {
      //   this.floorRuleQueryForm.pageNo = n;
      // } else {
      //   this.$delete(this.floorRuleQueryForm, "pageNo");
      // }
      this.$axios
        .request({
          url: "/trade/jdh/itemInner/queryFlRulePageList",
          method: "post",
          data: this.floorRuleQueryForm
        })
        .then(res => {
          if (res.data.code == 0) {
            this.floorRuleData = res.data.data.configInfoList;
            this.totalCount = res.data.data.total;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 查询楼层详情数据列表
    getDetailList(string, n) {
      // if (string && string == "page") {
      //   this.floorDetailQueryForm.pageNo = n;
      // } else {
      //   this.$delete(this.floorDetailQueryForm, "pageNo");
      // }
      this.$axios
        .request({
          url: "/trade/jdh/itemInner/queryFlDetailPageList",
          method: "post",
          data: this.floorDetailQueryForm
        })
        .then(res => {
          if (res.data.code == 0) {
            this.floorDetailData = res.data.data.configInfoList;
            this.detailTotalCount = res.data.data.total;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // // 楼层规则分页
    // getPage(n) {
    //   this.getList("page", n);
    // },
    // // 楼层详情分页
    // getDetailPage(n) {
    //   this.getDetailList("page", n);
    // },
    // 楼层规则分页
    getPage(n) {
      this.floorRuleQueryForm.pageNo = n;
      this.getList();
    },
    // 楼层详情分页
    getDetailPage(n) {
      this.floorDetailQueryForm.pageNo = n;
      this.getDetailList();
    },
    // 查询楼层类型列表
    getFloorTypeList() {
      this.$axios
        .request({
          url: "/trade/jdh/itemInner/flDictionary",
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.floorTypeList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 查询楼层规则配置类型列表
    getConfigTypeList() {
      this.$axios
        .request({
          url: "/trade/jdh/itemInner/configDictionary",
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.configTypeList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
      this.$axios
        .request({
          url: "/trade/jdh/itemInner/typeDictionary",
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.detailConfigTypeList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 查询楼层规则作用域类型列表
    getScopeTypeList() {
      this.$axios
        .request({
          url: "/trade/jdh/itemInner/scopeDictionary",
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.scopeTypeList = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 新增楼层规则
    addFloorRule() {
      this.$refs["ruleFormValidate"].validate(valid => {
        if (valid) {
          this.$axios
            .request({
              url: `/trade/jdh/itemInner/saveFloorRule`,
              method: "post",
              data: this.floorRuleModalData
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$Message.success("创建成功");
                this.getList();
                this.floorRuleModal = false;
                this.floorRuleModalData = {};
              }
            })
            .catch(err => {
              console.log(err);
            });
        } else {
          this.$Message.error("校验失败!");
        }
      });
    },
    // 新增楼层详情
    addFloorDetail() {
      this.$refs["detailFormValidate"].validate(valid => {
        if (valid) {
          this.$axios
            .request({
              url: `/trade/jdh/itemInner/saveFloorDetail`,
              method: "post",
              data: this.floorDetailModalData
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$Message.success("创建成功");
                this.getDetailList();
                this.floorDetailModal = false;
                this.floorDetailModalData = {};
              }
            })
            .catch(err => {
              console.log(err);
            });
        } else {
          this.$Message.error("校验失败!");
        }
      });
    },
    // 编辑更新楼层规则
    updateFloorRule(id) {
      this.$refs["ruleFormValidate"].validate(valid => {
        if (valid) {
          this.$axios
            .request({
              url: `/trade/jdh/itemInner/updateFloorRule`,
              method: "post",
              data: this.floorRuleModalData
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$Message.success("更新成功");
                this.getList();
                this.floorRuleModal = false;
                this.floorRuleModalData = {};
              }
            })
            .catch(err => {
              console.log(err);
            });
        } else {
          this.$Message.error("校验失败!");
        }
      });
    },
    // 编辑更新楼层详情
    updateFloorDetail(id) {
      this.$refs["detailFormValidate"].validate(valid => {
        if (valid) {
          this.$axios
            .request({
              url: `/trade/jdh/itemInner/updateFloorDetail`,
              method: "post",
              data: this.floorDetailModalData
            })
            .then(res => {
              if (res.data.code == 0) {
                this.$Message.success("更新成功");
                this.getDetailList();
                this.floorDetailModal = false;
                this.floorDetailModalData = {};
              }
            })
            .catch(err => {
              console.log(err);
            });
        } else {
          this.$Message.error("校验失败!");
        }
      });
    },
    // 楼层规则状态设置
    setStatus(id) {
      this.$axios
        .request({
          url: `/trade/jdh/itemInner/freezeOrThawFloorRule`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.getList();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 楼层详情状态设置
    setDetailStatus(id) {
      this.$axios
        .request({
          url: `/trade/jdh/itemInner/freezeOrThawFloorDetail`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.getDetailList();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 删除楼层规则
    delFloorRule(id) {
      this.$axios
        .request({
          url: `/trade/jdh/itemInner/delFloorRule`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
            this.getList();
          } else {
            this.$Message.warning(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 删除楼层详情
    delFloorDetail(id) {
      this.$axios
        .request({
          url: `/trade/jdh/itemInner/delFloorDetail`,
          method: "post",
          data: {
            id: id
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
            this.getDetailList();
          } else {
            this.$Message.warning(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 选中楼层规则表改变
    floorRuleSltChange(selection) {
      this.selectionList = [];
      for (let i = 0; i < selection.length; i++) {
        this.selectionList.push({ id: selection[i].id });
      }
    },
    // 选中楼层规则表改变
    floorDetailSltChange(selection) {
      this.detailSltList = [];
      for (let i = 0; i < selection.length; i++) {
        this.detailSltList.push({ id: selection[i].id });
      }
    },
    // 批量删除楼层规则
    deleteAll() {
      console.log(this.selectionList);
      this.$axios
        .request({
          url: `/trade/jdh/itemInner/batchDelFlRule`,
          method: "post",
          data: this.selectionList
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("批量删除成功");
            this.getList();
          } else {
            this.$Message.warning(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 批量删除详情规则
    deleteAllDetail() {
      console.log(this.detailSltList);
      this.$axios
        .request({
          url: `/trade/jdh/itemInner/batchDelFlDetail`,
          method: "post",
          data: this.detailSltList
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("批量删除成功");
            this.getDetailList();
          } else {
            this.$Message.warning(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    //楼层详情配置类型切换
    detailFormTypeIdChange() {
      this.$refs["detailFormValidate"].fields.forEach(function(e) {
        if (e.prop == "targetUrl") {
          e.resetField();
        }
        if (e.prop == "imgUrl") {
          e.resetField();
        }
        if (e.prop == "subImgUrl") {
          e.resetField();
        }
      });
    }
  }
};
</script>

<style scoped>
/deep/.ivu-modal-body {
  padding: 16px 100px;
}
.ivu-tabs {
  height: 100%;
}
.detailImg {
  display: block;
  width: 16px;
  height: 16px;
}
</style>
