<template>
   <Tabs :animated="false" v-model="tabValue">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <h4 class="configTitlte">基础配置</h4>
          <FormItem label="楼层高度">
            <RadioGroup v-model="customHeight">
              <Radio :label="106">低(106)</Radio>
              <Radio :label="126">中(126)</Radio>
              <Radio :label="162">高(162)</Radio>
              <Radio label="custom">自定义</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem v-if="customStyle=='customValue'">
            <InputNumber v-model="element.data.ext.style.itemHeight"></InputNumber>
          </FormItem>
          <floorConfig :styleData="element.data.style"></floorConfig>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form
          :model="element.data.items[0].jumpLinkInfo"
          ref="materialIdForm"
          :rules="materialIdFormRule"
          :label-width="100"
        >
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace</Radio>
              <Radio label="201">互医</Radio>
              <Radio label="401">写手</Radio>
            </RadioGroup>
          </FormItem>
          <div v-if="element.data.ext.dataSourceType1=='301'">
            <FormItem label="上传图片">
              <Row :gutter="16">
                <Col span="5">
                  <ImageUpload
                    :imageUrl.sync="element.data.items[0].pictureUrl"
                    :onBeforeUpload="handleBeforeUpload"
                    :on-success="handleSuccess"
                  ></ImageUpload>
                </Col>
                <Col span="18">
                  <Alert show-icon>图片宽1125px，高{{element.data.ext.style.itemHeight*3}}px，不大于2M</Alert>
                </Col>
              </Row>
            </FormItem>
            <FormItem label="热区一跳转" class="ivu-form-item-required" prop="linkUrl">
              <Input v-model="element.data.items[0].jumpLinkInfo.linkUrl" placeholder="请输入跳转链接地址" />
            </FormItem>
            <FormItem label="热区二跳转" class="ivu-form-item-required">
              <Input
                v-model="element.data.items[0].jumpLinkInfo.spareLinkUrl[0]"
                placeholder="请输入跳转链接地址"
              />
            </FormItem>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='201'">
            <netAdvert
              :element="element"
              data-source="nethuyi"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='401'">
            <netAdvert
              :element="element"
              data-source="xieshou"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
    <TabPane label="楼层定投" name="floorTargeted">
      <div class="form-content" v-if="tabValue=='floorTargeted'">
        <floorTargeted :element="element"></floorTargeted>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
import jdLogo from "../../img/jdLogo.png";
export default {
  name: "doctorTeamEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
       tabValue: "styleTab",
      dataSource: "manual",
      customStyle: "",
      materialIdFormRule: {
        linkUrl: [
          {
            required: true,
            message: "请输入跳转链接",
            trigger: "blur"
          },
          {
            type: "url",
            message: "请输入正确的URL格式",
            trigger: "blur"
          }
        ]
      }
    };
  },
  computed: {
    customHeight: {
      get: function() {
        if (
          this.element.data.ext.style.itemHeight == "106" ||
          this.element.data.ext.style.itemHeight == "126" ||
          this.element.data.ext.style.itemHeight == "162"
        ) {
          this.customStyle = "";
          return this.element.data.ext.style.itemHeight;
        } else {
          this.customStyle = "customValue";
          return "custom";
        }
      },
      set: function(newValue) {
        if (newValue != "custom") {
          this.$set(this.element.data.ext.style, "itemHeight", newValue);
        } else {
          this.customStyle = "customValue";
        }
      }
    }
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },

    //上传图片
    handleSuccess() {
      this.$set(this.element.data.items[0], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !== this.element.data.ext.style.itemHeight * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.element.data.ext.style.itemHeight * 3 +
          "px的图片！"
        );
      }
      return null;
    },
    getResultData(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.itemHeight": {
      handler: function(newer, older) {
        this.element.data.ext.style.aspectRatio =
          1125 / (this.element.data.ext.style.itemHeight * 3);
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.listRow {
  text-align: center;
}

.resetBtn {
  margin-left: 10px;
}
</style>