<template>
  <div
    class="doctorTeam-container"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="boxStyle" :style="{height:element.data.ext.style.itemHeight+'px'}">
      <div class="imgBox">
        <img
          :src="element.data.items[0].pictureUrl==''?defaultImgUrl:element.data.items[0].pictureUrl"
          alt
        />
      </div>
      <Row :gutter="7" class="hotArea">
        <Col span="12">
          <a
            href="javascript:void(0)"
            class="doctorTeam-container-item"
            :style="{height:element.data.ext.style.itemHeight+'px'}"
          ></a>
        </Col>
        <Col span="12">
          <a
            href="javascript:void(0)"
            class="doctorTeam-container-item"
            :style="{height:element.data.ext.style.itemHeight+'px'}"
          ></a>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import doctorTeamImg from "../../img/doctorTeam.png";
export default {
  name: "doctorTeam",
  props: ["index", "element"],

  data() {
    return {
      defaultImgUrl: doctorTeamImg
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.doctorTeam-container {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.boxStyle {
  position: relative;
  overflow: hidden;
  .imgBox {
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .hotArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.doctorTeam-container-item {
  display: block;
}
</style>