@import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;
.ivu-table-row-highlight td{
  background: #42d1ed;
}
.main .content-wrapper{
  padding: 0;
}
.ivu-tabs{
  height: auto;
}
