<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100">
          <h4 class="configTitlte">楼层基础配置</h4>
          <floorConfig :styleData="element.data.style"></floorConfig>
          <h4 class="configTitlte">内容样式配置</h4>
          <FormItem label="图文间距">
            <RadioGroup v-model="element.data.ext.style.marginTop">
              <Radio label="5">小</Radio>
              <Radio label="8">中</Radio>
              <Radio label="12">大</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="主标题字号">
            <RadioGroup v-model="element.data.ext.style.fontSize">
              <Radio label="12">小</Radio>
              <Radio label="14">中</Radio>
              <Radio label="16">大</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="主标题加粗">
            <RadioGroup v-model="element.data.ext.style.fontWeight">
              <Radio label="normal">正常</Radio>
              <Radio label="bold">加粗</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="主标题颜色">
            <ColorPicker v-model="element.data.ext.style.titleColor" />
            <Button v-model="resetTitleColorValue" @click="resetTitleColor" class="resetBtn">重置</Button>
          </FormItem>
          <FormItem label="副标题字号">
            <RadioGroup v-model="element.data.ext.style.subFontSize">
              <Radio label="12">小</Radio>
              <Radio label="13">中</Radio>
              <Radio label="14">大</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="副标题颜色">
            <ColorPicker v-model="element.data.ext.style.subTitleColor" />
            <Button
              v-model="resetSubTitleColorValue"
              @click="resetSubTitleColor"
              class="resetBtn"
            >重置</Button>
          </FormItem>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <!-- <Form :model="element.data.ext" ref="materialIdForm" :rules="rules" :label-width="100"> -->
        <Form :label-width="100">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace</Radio>
              <Radio label="201">互医</Radio>
              <Radio label="401">写手</Radio>
            </RadioGroup>
          </FormItem>
          <div v-if="element.data.ext.dataSourceType1=='301'">
            <Collapse v-model="manualValue">
              <Panel :name="(index+1)+''" v-for="(item,index) in element.data.items" :key="index">
                入口{{index+1}}
                <p slot="content">
                  <FormItem label="主标题" prop="name">
                    <Input v-model="item.name" :maxlength="4" placeholder="请输入主标题" />
                  </FormItem>
                  <FormItem label="副标题" prop="desc">
                    <Input v-model="item.desc" :maxlength="10" placeholder="请输入副标题" />
                  </FormItem>
                  <FormItem label="上传图片">
                    <Row :gutter="16">
                      <Col span="5">
                        <ImageUpload
                          :imageUrl.sync="item.pictureUrl"
                          :onBeforeUpload="handleBeforeUpload"
                          :on-success="(res)=> handleSuccess(res,index)"
                        ></ImageUpload>
                      </Col>
                      <Col span="17" offset="1">
                        <Alert show-icon>图片宽150px，高150px，不大于2M</Alert>
                      </Col>
                    </Row>
                  </FormItem>
                  <FormItem label="跳转方式">
                    <linkType :linkInfo="item"></linkType>
                  </FormItem>
                </p>
              </Panel>
            </Collapse>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='201'">
            <netAdvert
              :element="element"
              data-source="nethuyi"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='401'">
            <netAdvert
              :element="element"
              data-source="xieshou"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "bannerAccessEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      resetTitleColorValue: this.element.data.ext.style.titleColor,
      resetSubTitleColorValue: this.element.data.ext.style.subTitleColor,
      manualValue: "1"
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    // 重置颜色
    resetTitleColor() {
      this.element.data.ext.style.titleColor = this.resetTitleColorValue;
    },
    resetSubTitleColor() {
      this.element.data.ext.style.subTitleColor = this.resetSubTitleColorValue;
    },
    // 上传图片成功
    handleSuccess(res, index) {
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    // 上传图片验证
    handleBeforeUpload(file, img) {
      if (img.width !== 150 || img.height !== 150) {
        return "请上传宽150px，高150px的图片！";
      }

      return null;
    },
    // 获取互联网医院获取数据
    getResultData(data) {
      this.element.data.items = data;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    },
    "element.data.ext.style.fontSize": {
      handler: function(newer, older) {
        this.$set(
          this.element.data.ext.style,
          "height",
          55 +
            this.element.data.ext.style.marginTop * 1 +
            newer * 1 +
            this.element.data.ext.style.subFontSize * 1
        );
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.ext.style.subFontSize": {
      handler: function(newer, older) {
        this.$set(
          this.element.data.ext.style,
          "height",
          55 +
            this.element.data.ext.style.marginTop * 1 +
            this.element.data.ext.style.fontSize * 1 +
            newer * 1
        );
      },
      deep: true, // 开启深度监听
      immediate: false
    },
    "element.data.ext.style.marginTop": {
      handler: function(newer, older) {
        this.$set(
          this.element.data.ext.style,
          "height",
          55 +
            newer * 1 +
            this.element.data.ext.style.fontSize * 1 +
            this.element.data.ext.style.subFontSize * 1
        );
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.listRow {
  text-align: center;
}
.resetBtn {
  margin-left: 10px;
}
</style>