<template>
  <div
    class="advertisement-container"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <div class="advertisement-container-list">
      <a
        class="container-item"
        v-for="(item,index) in element.data.items"
        href="javascript:void(0)"
        :key="index"
        :style="{height:element.data.ext.style.height+'px'}"
      >
        <div class="entry-item-img">
          <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" />
        </div>
        <div
          class="entry-item-title ellipsis"
          :style="{margin:element.data.ext.style.marginTop+'px 0 5px 0',color:element.data.ext.style.titleColor,fontSize:element.data.ext.style.fontSize+'px',lineHeight:element.data.ext.style.fontSize+'px',fontWeight:element.data.ext.style.fontWeight}"
        >{{item.name}}</div>
        <div
          class="entry-item-subTitle ellipsis"
          :style="{color:element.data.ext.style.subTitleColor,fontSize:element.data.ext.style.subFontSize+'px',lineHeight:element.data.ext.style.subFontSize+'px',}"
        >{{item.desc}}</div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "bannerAccess",
  props: ["index", "element"],
  data() {
    return {
      defaultImgUrl:
        "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png"
    };
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.advertisement-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-item {
      width: 33.3%;
      margin-top: 15px;
      text-align: center;
      overflow: hidden;
      .entry-item-img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .entry-item-title {
        // margin-top: 8px;
      }
      .ellipsis {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
</style>