<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <Form :label-width="80">
                <FormItem label="是否卡片化">
                    <RadioGroup v-model="card">
                        <Radio label="1">卡片化</Radio>
                        <Radio label="0">默认</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="圆角位置">
                    <CheckboxGroup v-model="radiusPosition">
                        <Checkbox label="topLeft">左上</Checkbox>
                        <Checkbox label="topRight">左下</Checkbox>
                        <Checkbox label="bottomLeft">右上</Checkbox>
                        <Checkbox label="bottomRight">右下</Checkbox>
                    </CheckboxGroup>
                </FormItem>
                <FormItem label="是否吸顶">
                    <RadioGroup v-model="data[0].type">
                        <Radio label="40">不吸顶</Radio>
                        <Radio label="stickyOff">吸顶</Radio>
                        <Poptip placement="bottom" class="n-black-poptip">
                            <Icon type="ios-help-circle-outline" />
                            <div class="api" slot="content">
                                <div>
                                    <div class="n-poptip-text">吸顶效果为当前组内垂直滑动时，tab吸顶展示；</div>
                                </div>
                            </div>
                        </Poptip>
                    </RadioGroup>
                </FormItem>
                <FormItem label="背景颜色" class="n-position-static">
                    <ColorPicker v-model="data[0].style.bgColor" />
                    <Button v-model="data[0].style.bgColor" @click="resetBgColor('bgColor')" class="resetBtn">重置</Button>
                </FormItem>
                <FormItem label="背景图片">
                    <image-upload 
                        :imageUrl.sync= data[0].style.bgImgUrl
                        :onBeforeUpload="onBeforeUpload"></image-upload>
                    <Alert show-icon>图片宽度为1125，不大于2M</Alert>
                </FormItem>
                <FormItem label="tab默认颜色">
                    <ColorPicker v-model="data[0].items[0].style.titleColorNormal" />
                    <Button v-model="data[0].items[0].style.titleColorNormal" @click="resetBgColor('titleSizeNormal')" class="resetBtn">重置</Button>
                </FormItem>
                <FormItem label="tab选中颜色">
                    <ColorPicker v-model="data[0].items[0].style.titleColorSelected" />
                    <Button v-model="data[0].items[0].style.titleColorSelected" @click="resetBgColor('titleColorSelected')" class="resetBtn">重置</Button>
                </FormItem>
            </Form>
        </TabPane>
        <TabPane label="素材配置" tab="style">
            <Form :label-width="80">
                <FormItem label="数据来源" style="margin-bottom: 10px;padding: 0;">
                    <RadioGroup v-model="data[0].ext.dataSourceType1">
                        <Radio label="001">手动录入</Radio>
                        <Radio label="101">ace广告组</Radio>
                        <Radio label="201">互联网医院</Radio>
                    </RadioGroup>
                </FormItem>
                <template v-if="data[0].ext.dataSourceType1 == '001'">

                </template>
                <template v-else>
                    <!-- <transfer :value="data" :selections="floorOptions" :max="2" :element="element"></transfer> -->
                    <netAd :data="data[0]" :element="element" @getresultdata="getResultData($event)"></netAd>
                </template>
            </Form>
        </TabPane>
    </Tabs>
</template>
<script>
import { mapMutations } from "vuex"
import ImageUpload from '../ImageUpload'
import { tags } from '../../config/config'
import netAd from './netAdvert'

export default {
    name: "tabEdit",
    props: ['data', 'element'],
    components: {netAd},
    data() {
        return {
            card: '1',
            cardRadius: '1',
            radiusPosition: ['bottomLeft', 'bottomRight'],
            availableFloor: ['pictureNews', 'doctorNews'], // 可添加的楼层合集
        }
    },
    computed: {
        // 当前配置的可用楼层合集，传入transfer供选择
        floorOptions () {
            const floorOptions = []
            const tagList = tags[0].list
            this.availableFloor.forEach((v, index) => {
                tagList.forEach((currentEle, i) => {
                    const element = currentEle.name
                    if (element === v) {
                        floorOptions.push(currentEle)
                    }
                })
            })
            return floorOptions
        }
    },
    created() {},
    methods: {
        ...mapMutations(["updateSelectedTabIndex"]),
        resetBgColor(name) {
            if(name == 'bgColor'){
                this.data.style[name] = '#ffffff';
            }else if(name == 'titleColorNormal'){
                this.data.style[name] = '#999999';
            }else if(name == 'titleColorSelected'){
                this.data.style[name] = '#333333';
            }
        },
        onBeforeUpload(file, img) {
            if (img.width !== 1125) {
                return '图片宽度必须是1125px'
            }
            return null
        },
        getResultData(data) {
            let that = this
            this.element.data.tabData.map(
                function(value,index,array){
                    if(value == 'pictureNews'){
                        that.pictureNewsPushData(data)
                    }else if(value == 'doctorNews'){
                        that.doctorNewsPushData(data)
                    }
                }
            )
        },
    },
    watch: {
        card: {
            handler: function(newer, older) {
                if(newer === '1'){
                    this.data[0].style.margin = ['0', '10', '0', '10']
                    this.data[0].style.padding = ['0', '0', '0', '10']
                }else{
                    this.data[0].style.margin = ['0', '0', '0', '0']
                    this.data[0].style.padding = ['0', '0', '0', '0']
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        radiusPosition: {
            handler: function(newer, older) {
                this.data[0].style.prefixDoteRadius = ['0', '0', '0', '0']
                let that = this
                newer.map(function(value) {
                    if(value == 'topLeft'){
                        that.data[0].style.prefixDoteRadius[0] = '6'
                    }else if(value == 'topRight'){
                        that.data[0].style.prefixDoteRadius[1] = '6'
                    }else if(value == 'bottomRight'){
                        that.data[0].style.prefixDoteRadius[2] = '6'
                    }else if(value == 'bottomLeft'){
                        that.data[0].style.prefixDoteRadius[3] = '6'
                    }
                })
                
            },
            deep: true, // 开启深度监听
            immediate: true
        },
    }
}
</script>
<style lang="less" scoped>
    .ivu-icon-ios-help {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        line-height: 18px;
        font-size: 18px;
        background-color:#2d8cf0;
        color: #fff;
    }
    .ivu-form-item ,
    .ivu-row-flex {
        padding: 0 16px;
    }
    .ivu-form-item-content {
        .ivu-color-picker {
            /deep/ .ivu-select-dropdown {
                left: 0!important;
            }
        }
    }
    .ivu-collapse {
        margin: 15px 0 0 0;
        /deep/ .ivu-collapse-content {
            padding: 0;
        }
        .n-select {
            display: inline-block;
            i.n-tab-index {
                font-style: normal;
                margin-right: 5px;
            }
            .ivu-dropdown-menu {
                min-width: 56px;
                .ivu-dropdown-item {
                    text-align: center;
                }
            }
        }
        .n-delete {
            float: right;
            margin: 0 20px 0 0;
            /deep/ i.ivu-icon-ios-trash-outline {
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }
    .n-template {
        border: 1px solid #ccc;
        border-radius: 4px;
        span.n-template-name {
            display: block;
            height: 26px;
            line-height: 26px;
            text-align: center;
            background-color: #f3f3f3;
        }
        .n-set-scroll {
            height: 128px;
            width: 100%;
            ul {
                width: 100%;
                li {
                    padding: 0 5px;
                    height: 32px;
                    line-height: 32px;
                    i.ivu-icon-md-add {
                        font-size: 20px;
                        float: right;
                        line-height: 32px;
                    }
                    i.ivu-icon-ios-trash-outline {
                        font-size: 20px;
                        float: right;
                        line-height: 32px;
                    }
                    i.ivu-icon-md-arrow-down {
                        font-size: 20px;
                        line-height: 32px;
                        float: right;
                    }
                    i.ivu-icon-md-arrow-up {
                        font-size: 20px;
                        line-height: 32px;
                        float: right;
                    }
                }
                li:hover {
                    background-color: #2d8cf0;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
    .n-arrow {
        display: flex;
        align-items: center;
        text-align: center;
        i {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 18px;
        }
    }
    span.n-multipletitle {
        display: block;
        line-height: 30px;
        margin-top: 15px;
        margin-top: 15px;
        background-color: #64b0ff;
        color: #fff;
        padding: 0 20px;
    }
    .n-multipleform .ivu-form-item {
        margin-bottom: 10px;
        padding: 0;
    }
</style>