<template>
    <div class="netAdvert-content">
        <Form :label-width="100" class="ivu-form-item-required">
            <FormItem label="数据类型" class="n-position-static">
                <Row>
                    <Col span="20">
                        <Select v-model="data.ext.dataSourceType2">
                            <Option
                                v-for="(item,index) in advertList"
                                :value="item.dictValue"
                                :key="index"
                            >{{ item.dictName }}</Option>
                        </Select>
                    </Col>
                </Row>
            </FormItem>
            <FormItem>
                <Row v-for="(item,index) in dataSourceList" :key="index">
                    <Col span="4">{{item.name}}</Col>
                    <Col span="16">
                        <Form
                            :ref="'items' + index"
                            :model="item"
                            :rules="dictValueValidate"
                            :label-width="80"
                        >
                            <FormItem :label-width="0" prop="dictValue">
                                <Input type="text" v-model="item.dictValue" placeholder="请输入value"></Input>
                            </FormItem>
                        </Form>
                    </Col>
                </Row>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="queryAdvertInfo">查询</Button>
            </FormItem>
        </Form>
    </div>
</template>
<script>
import { tags } from "../../config/config";
export default {
    name: "net-advert",
    props: ["data", "element"],
    mounted() {
        this.getCurrentSourceDataType();
    },
    data() {
        return {
            advertList: [],
            dataSourceList: [],
            availableFloor: [{ type: "", name: "" }], // 可添加的楼层合集
            dictValueValidate: {
                dictValue: [
                    {
                        required: true,
                        message: "输入框不能为空",
                        trigger: "blur"
                    }
                ]
            }
        };
    },
    methods: {
        getCurrentSourceDataType() {
            this.$axios
                .request({
                    url: `/jdh/sysDict/querySysDictChildList?dictType=nethuyi`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.advertList = res.data.data;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        change() {
            this.$axios
                .request({
                    url: `/jdh/sysDict/querySysDictChildList?dictType=${this.data.ext.dataSourceType2}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.dataSourceList = [];
                        let resultData = res.data.data;
                        if (resultData.length > 0) {
                            for (let i = 0; i < resultData.length; i++) {
                                this.dataSourceList.push({
                                    [resultData[i].dictValue]: "",
                                    name: resultData[i].dictValue
                                });
                            }
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dataInsert(newer) {
            this.availableFloor[0].type = "";
            this.availableFloor[0].name = "";
            this.element.insert = []
            if (this.data.ext.dataSourceType2 == "2010001") {
                this.availableFloor[0].type = "banner入口";
                this.availableFloor[0].name = "bannerAccess";
                this.$Message.error("暂不支持嵌入快速入口");
            } else if (this.data.ext.dataSourceType2 == "2010002") {
                this.availableFloor[0].type = "医生团队";
                this.availableFloor[0].name = "doctorTeam";
                this.$Message.error("暂不支持嵌入医生团队");
            } else if (this.data.ext.dataSourceType2 == "2010003") {
                this.availableFloor[0].type = "疾病百科";
                this.availableFloor[0].name = "quickAccess";
                this.$Message.error("暂不支持嵌入疾病百科");
            } else if (this.data.ext.dataSourceType2 == "201013") {
                this.availableFloor[0].type = "健康资讯";
                this.availableFloor[0].name = "pictureNews";
            } else if (this.data.ext.dataSourceType2 == "201006") {
                this.availableFloor[0].type = "京选推荐";
                this.availableFloor[0].name = "doctorNews";
            }
            const tagList = tags[0].list;
            this.availableFloor.forEach((v, index) => {
                tagList.forEach((currentEle, i) => {
                    const element = currentEle.name;
                    if (element === v.name) {
                        this.element.data.push(currentEle.data);
                        this.element.insert.push(currentEle);
                    }
                });
            });
        },
        queryAdvertInfo() {
            this.$Message.error("后台数据源结构在调整中~");
            // this.$axios
            //     .request({
            //         url: `/huyiIndex/getData`,
            //         method: "post",
            //         data: {
            //             dataSourceType2: this.element.data.ext.dataSourceType2,
            //             dataIds: this.element.data.ext.dataIds
            //         }
            //     })
            //     .then(res => {
            //         if (res.data.code == 0) {
            //             let elementList = this.element.data.items;
            //             let resultList = res.data.result.dataInfos;
            //             let len =
            //                 elementList.length > resultList.length
            //                     ? elementList.length
            //                     : resultList.length;
            //             let result = [];
            //             for (let i = 0; i < len; i++) {
            //                 let item = Object.assign(
            //                     elementList[i] || {},
            //                     resultList[i]
            //                 );
            //                 result.push(item);
            //             }
            //             this.$emit("getresultdata", result);
            //         }
            //     })
            //     .catch(err => {
            //         console.log(err);
            //     });
        }
    },
    watch: {
        "data.ext.dataSourceType2": {
            handler: function(newer, older) {
                if (newer != "") {
                    this.dataInsert(newer);
                    this.change(newer);
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
};
</script>
<style lang="less" scoped>
/deep/ .ivu-form-item {
    margin-bottom: 10px;
    padding: 0;
}
</style>