<template>
    <div>
        cc{{datainit}}
        <Row>
            <Col span="6">
                <Select v-model="datainit[iconIndex].dataSource" transfer>
                    <Option v-for="item in goodsList" :value="item.label" :key="item.label">{{ item.value }}</Option>
                </Select>
            </Col>
            <Col span="11">
                <Input :placeholder="datainit[iconIndex].dataSource == '0'? '请输入商品组ID': '请输入商品skuId'" :value="datainit[iconIndex].dataSource == '0'? 10808146: ''"></Input>
            </Col>
            <Col span="4" offset="1">
                <Button @click="updateModel">查询</Button>
            </Col>
        </Row>
    </div>
</template>
<script>
export default {
    name: "goodselect",
    props: ['datainit'],
    data() {
        return {
            goodsList: [
                {
                    value: '商品组',
                    label: '0'
                },
                {
                    value: '商品',
                    label: '1'
                }
            ],
            iconIndex: 0
        }
    },
    created() {},
    methods: {
        updateModel() {
            if(this.datainit[this.iconIndex].dataSource == '0'){
                this.$emit('updateGoodsModel', true);
            }else{
                this.$Message.warning("当前商品skuId查询接口未开放；");
                return;
            }
        }
    },
    watch: {
        "$store.state.app.selectedTabIndex": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                this.iconIndex = newer
                console.log(this.iconIndex)
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
<style lang="less" scoped>

</style>