<template>
    <div>
      <component :is="element.name" :data="element.data" :element="element" :index="index" slot="reference"></component>
    </div>
</template>

<script>
  import {componentsPreview} from './config/config'
  export default {
      name: "center.vue",
      props: ['index', 'element','pageId'],
      components:Object.assign({},componentsPreview),
      watch: {
            'element': {
              deep: true,
              immediate: true,
              handler: function (newer,older) {
                  //新增组件如果没有id先保存一次，后台生成楼层id
                if(this.pageId){
                  this.saveFloor(newer)
                }
              }
            }
        },
      methods:{
        saveFloor(element) {
          this.$axios
            .request({
              url: `/jdh/floor/save`,
              data: {
                id: element.id
                  ?element.id
                  : null, //楼层唯一id,后端生成
                identityId:element.identityId
                  ?element.identityId
                  : null, //楼层唯一id,后端生成
                seq: this.index + 1, //楼层序号
                pageId: this.pageId, //页面id
                configData: JSON.stringify(this.element),
                type: this.element.name
              },
              method: "post"
            })
            .then(res => {
              if (res.data.code == 0) {
                //第一次保存后，给楼层增加后端唯一id
                this.element.id = res.data.result.id;
                this.element.identityId =
                  res.data.result.identityId;
                //this.addIdToFloor(this.element.data);
                //this.$Message.success("保存成功");
              }
            })
            .catch(err => {
              console.log(err);
            });
        },
      }
    }
</script>

<style scoped>

</style>
