<template>
  <div>
    <div
      class="c-header"
      v-if="navConfigInfo.items!=undefined"
      :class="(navConfigInfo.items[0].style.color=='1'?' blackColor':'whiteColor')"
      :style="{backgroundColor:navConfigInfo.style.bgColor,height:navConfigInfo.items[0].style.height+'px'}"
    >
      <div class="c-header-left">
        <span v-show="navConfigInfo.items[0].showBackButton=='true'">
          <Icon type="ios-arrow-back" />
        </span>
      </div>
      <div class="c-header-center">
        <div class="title-search" v-if="navConfigInfo.items[0].search=='true'"></div>
        <div
          class="title-img"
          v-if="navConfigInfo.items[0].search=='false'&&navConfigInfo.items[0].titleImgUrl!=''"
        >
          <img :src="navConfigInfo.items[0].titleImgUrl" alt />
        </div>
        <div
          class="title-h"
          v-if="navConfigInfo.items[0].search=='false'&&navConfigInfo.items[0].titleImgUrl==''"
        >{{navConfigInfo.items[0].pageName}}</div>
      </div>
      <div class="c-header-right">
        <span class="functionIcon" v-show="navConfigInfo.items[0].functionIcon=='true'">
          <Icon type="ios-cart" v-if="navConfigInfo.items[0].functionIconValue=='0'" />
          <Icon type="md-share" v-else-if="navConfigInfo.items[0].functionIconValue=='1'" />
          <Icon type="md-settings" v-else />
        </span>

        <span class="more">
          <Icon type="ios-more" v-show="navConfigInfo.items[0].showMoreButton=='true'" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "headNav",
  props: ["navConfigInfo"],
  data() {
    return {};
  }
};
</script>

<style lang="less" scoped>
.c-header {
  display: flex;
  justify-content: center;
  padding: 20px 10px 0;
  align-items: center;
  position: relative;
  &-left {
    width: 50px;
    font-size: 22px;
  }
  &-center {
    flex: 1;
    text-align: center;
    .title-search {
      width: 100px;
      height: 30px;
      background: url(http://babel.m.jd.com/active/babelTower/images/title-searchbox.png)
        no-repeat 0 0 / cover;
      margin: 0 auto;
    }
    .title-img {
      width: 110px;
      height: 30px;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .title-h {
      font-size: 15px;
      cursor: pointer;
    }
  }
  &-right {
    width: 50px;
    font-size: 22px;
    text-align: right;
    .functionIcon {
      margin-right: 5px;
    }
  }
}
.blackColor {
  color: #000000;
}
.whiteColor {
  color: #ffffff;
}
.configTitlte {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-color: #e2ecf9;
  padding: 0 10px;
  color: #57a3f3;
  margin: 20px 0 5px;
}
</style>
