<template>
    <div class="content">
        <div style="display: flex;flex-direction: row;position: relative;">
            <!--<left></left>-->
            <div class="phone" ref="phone" :style="{backgroundColor:pageConfigData.bgColor,backgroundImage:'url('+pageConfigData.bgImgUrl +')'}">
                <div class="fixedTop">
                    <img class="h-img" src="../../assets/images/header2.png" />
                </div>
                <div @click="setTitle" ref="header">
                    <headNav :navConfigInfo="navConfigInfo.data"></headNav>
                    <div
                        class="n-to-top"
                        v-if="showToTop === '1'"
                        :style="{backgroundImage: 'url(' + showToTopList[showToTopStyle] + ')'}"
                    >
                        <img
                            :src="floorConfigList[2].data[0].items[0].imgUrl"
                            v-if="floorConfigList[2].data[0].items[0].imgUrl != ''"
                        />
                    </div>
                </div>

                <div class="page-content">
                    <div class="n-bomb-screen" v-if="switchBombScreen === '1'">
                        <div class="n-bomb-screen-wrap">
                            <div class="n-bomb-screen-wrapper">
                                <!-- https://m.360buyimg.com/pop/jfs/t1/63933/31/15302/1026815/5dccf484E7676b38a/0955e21317056675.png -->
                                <img
                                    :src="floorConfigList[0].data[0].items[0].contentImgtUrl === ''? defaultImage : floorConfigList[0].data[0].items[0].contentImgtUrl"
                                />
                                <i class="n-close"></i>
                            </div>
                        </div>
                    </div>
                    <div class="n-float-icon-wrap" v-if="showFloatIcon === '1'">
                        <div class="n-float-icon">
                            <!-- https://m.360buyimg.com/babel/jfs/t1/83205/27/14735/16174/5dc0d984E0c2d3241/424397362a5a63a2.gif -->
                            <img
                                :src="floorConfigList[1].data[0].items[0].imgUrl === '' ? defaultImage : floorConfigList[1].data[0].items[0].imgUrl"
                            />
                            <Icon type="ios-close-circle-outline" />
                        </div>
                    </div>
                    <draggable
                        v-model="list"
                        class="dragArea"
                        :options="dragOptions"
                        @start="drag = true"
                        :sort="true"
                        @end="dragEnd"
                    >
                        <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                            <div
                                v-for="(element,index) in list"
                                @click="edit(index,element)"
                                :key="element.name"
                                class="preview"
                                :class="{'preview-outer-hover':curIndex == index,'preview-hover':curIndex !== index}"
                            >
                                <div class="p-wrap">
                                    <Poptip
                                        confirm
                                        placement="right-start"
                                        title="确定删除此楼层吗?"
                                        @on-ok="delItem(index)"
                                        @on-cancel="()=>{}"
                                    >
                                        <Icon
                                            v-show="curIndex == index"
                                            class="close"
                                            color="#FF151A"
                                            size="18"
                                            type="ios-close-circle"
                                        />
                                    </Poptip>
                                </div>
                                <phone :element="element" :index="index" :list="list"></phone>
                            </div>
                        </transition-group>
                    </draggable>
                </div>
            </div>
            <div class="right-content">
                <Card style="width:450px;" v-if="partData.length > 0 && curIndex!=null">
                    <p slot="title" style="height:24px;line-height:20px;">
                        <Icon type="logo-buffer"></Icon>
                        {{partData[0].type}} — 第{{curIndex}}层
                        <Button @click="saveFloor(curElement)" slot="extra" size="small" v-if="partData[0].saveButton != 'false'">
                            <Icon type="ios-loop-strong"></Icon>保存
                        </Button>
                    </p>
                    <div class="n-set-vertical-scroll">
                        <right :element="partData[0]" :index="curIndex"></right>
                    </div>
                </Card>
                <Card style="width:450px;" v-if="curIndex==null">
                    <p slot="title">
                        <Icon type="logo-buffer"></Icon>页面楼层配置
                    </p>
                    <div class="n-set-vertical-scroll">
                        <Tabs value="style" :animated="false">
                            <TabPane label="基础配置" name="style">
                                <Form
                                    :label-width="100"
                                    :model="navConfigInfo.data.items[0]"
                                    :rules="ruleValidate"
                                >
                                    <h4 class="configTitlte">页面基础配置</h4>
                                    <FormItem
                                        label="页面标题"
                                        class="ivu-form-item-required"
                                        prop="pageName"
                                    >
                                        <Row>
                                            <Col span="16">
                                                <Input
                                                    clearable
                                                    :maxlength="12"
                                                    v-model="navConfigInfo.data.items[0].pageName"
                                                    placeholder="请输入页面标题名称..."
                                                ></Input>
                                            </Col>
                                            <Col span="7" offset="1">
                                                <span style="color:#aaa">(最多12个字符)</span>
                                            </Col>
                                        </Row>
                                    </FormItem>
                                    <FormItem label="页面类型">
                                        <Select
                                            v-model="pageConfigData.pageType"
                                            style="width:204px"
                                        >
                                            <Option v-for="item in typeList" :value="item">{{item}}</Option>
                                        </Select>
                                    </FormItem>
                                    <FormItem label="页面描述">
                                        <Input
                                            clearable
                                            v-model="pageConfigData.description"
                                            placeholder="请输入页面描述..."
                                        ></Input>
                                    </FormItem>
                                    <FormItem label="页面背景色">
                                        <ColorPicker v-model="pageConfigData.bgColor" />
                                        <Button
                                            v-model="resetPageBgColorValue"
                                            @click="resetPageBgColor"
                                            class="resetBtn"
                                        >重置</Button>
                                    </FormItem>
                                    <FormItem label="顶部背景图">
                                        <Row>
                                            <Col span="5">
                                                <image-upload
                                                    :imageUrl.sync="pageConfigData.bgImgUrl"
                                                    :onBeforeUpload="topBgImgBeforeUpload"
                                                    :on-success="topBgImgSuccess"
                                                ></image-upload>
                                            </Col>
                      <Col span="19">
                        <Alert
                          show-icon
                        >图片宽1125px，不大于2M</Alert>
                      </Col>
                    </Row>
                                    </FormItem>


                                    <h4 class="configTitlte">导航栏配置</h4>
                                    <FormItem label="显示内容">
                                        <CheckboxGroup
                                            v-model="navConfigInfo.data.items[0].showContents"
                                            @on-change="showContentsChange"
                                        >
                                            <Checkbox label="goBackBtnCheck">返回按钮</Checkbox>
                                            <Checkbox label="searchCheck">搜索框</Checkbox>
                                            <Checkbox label="iconCheck">露出图标</Checkbox>
                                            <Checkbox label="moreCheck">最右侧图标</Checkbox>
                                        </CheckboxGroup>
                                    </FormItem>
                                    <FormItem
                                        label="图标功能"
                                        v-if="navConfigInfo.data.items[0].showContents.indexOf('iconCheck') != -1"
                                    >
                                        <RadioGroup
                                            v-model="navConfigInfo.data.items[0].functionIconValue"
                                        >
                                            <Radio label="0">购物车</Radio>
                                            <Radio label="1">分享</Radio>
                                            <Radio label="2">设置</Radio>
                                        </RadioGroup>
                                    </FormItem>
                                    <FormItem label="导航栏高度">
                                        <RadioGroup
                                            v-model="navConfigInfo.data.items[0].style.height"
                                        >
                                            <Radio label="54">低</Radio>
                                            <Radio label="64">中</Radio>
                                            <Radio label="74">高</Radio>
                                        </RadioGroup>
                                    </FormItem>
                                    <FormItem label="导航栏背景">
                                        <RadioGroup v-model="navbgColorType">
                                            <Radio label="0">背景色</Radio>
                                            <Radio label="1">背景图</Radio>
                                        </RadioGroup>
                                    </FormItem>
                  <FormItem label="导航栏背景色" v-if="navbgColorType=='0'">
                    <ColorPicker
                      v-model="navBgColorValue"
                      alpha
                    />
                                        <Button
                                            v-model="resetNavBgColorValue"
                                            @click="resetNavBgColor"
                                            class="resetBtn"
                                        >重置</Button>
                                    </FormItem>
                                    <FormItem label="导航栏背景图" v-else>
                                        <Row>
                                            <Col span="5">
                                                <image-upload
                                                    :imageUrl.sync="navConfigInfo.data.style.bgImgUrl"
                                                    :onBeforeUpload="bgColorBeforeUpload"
                                                    :on-success="bgImgUrlSuccess"
                                                ></image-upload>
                                            </Col>
                                            <Col span="19">
                                                <Alert
                                                    show-icon
                                                >图片宽1125px，高{{navConfigInfo.data.items[0].style.height*3}}px，不大于2M</Alert>
                                            </Col>
                                        </Row>
                                    </FormItem>

                                    <FormItem label="图标文字颜色">
                                        <RadioGroup
                                            v-model="navConfigInfo.data.items[0].style.color"
                                        >
                                            <Radio label="0">浅色</Radio>
                                            <Radio label="1">深色</Radio>
                                        </RadioGroup>
                                    </FormItem>

                                    <FormItem label="图片标题">
                                        <Row>
                                            <Col span="5">
                                                <image-upload
                                                    :imageUrl.sync="navConfigInfo.data.items[0].titleImgUrl"
                                                    :onBeforeUpload="handleBeforeUpload"
                                                    :on-success="handleSuccess"
                                                ></image-upload>
                                            </Col>
                                            <Col span="19">
                                                <Alert show-icon>图片宽300px，高90px，不大于2M</Alert>
                                            </Col>
                                        </Row>
                                    </FormItem>
                                </Form>
                            </TabPane>
                            <TabPane label="页面挂件" name="pageBomb">
                                <Form :label-width="120">
                                    <Alert>
                                        弹屏挂件和浮层Icon建议使用场景
                                        <Button size="small" type="primary">预览</Button>
                                    </Alert>
                                    <FormItem label="是否配置弹屏挂件">
                                        <RadioGroup v-model="showBombScreen">
                                            <Radio label="0">否</Radio>
                                            <Radio label="1">是</Radio>
                                        </RadioGroup>
                                    </FormItem>
                                    <template v-if="showBombScreen === '1'">
                                        <FormItem
                                            label="是否开启实时预览"
                                            class="n-in-time-preview n-position-static"
                                        >
                                            <RadioGroup v-model="switchBombScreen">
                                                <Radio label="0">否</Radio>
                                                <Radio label="1">是</Radio>
                                            </RadioGroup>
                                            <Poptip placement="bottom" class="n-black-poptip">
                                                <Icon type="ios-help-circle-outline" />
                                                <div class="api" slot="content">
                                                    <div>
                                                        <div class="n-poptip-text">默认实时预览状态关闭；</div>
                                                        <div
                                                            class="n-poptip-text"
                                                        >开启实时预览状态时，遮罩层会遮挡组件，影响编辑功能，建议全部组件配置完成后，开启此功能；</div>
                                                    </div>
                                                </div>
                                            </Poptip>
                                        </FormItem>
                                        <!-- <FormItem label="有效时间" class="n-position-static">
                                            <DatePicker
                                                type="datetimerange"
                                                format="yyyy-MM-dd HH:mm"
                                                placeholder="日期选择"
                                                style="width: 70%"
                                            ></DatePicker>
                                        </FormItem>-->
                                        <FormItem label="浮层图片">
                                            <image-upload
                                                :imageUrl.sync="floorConfigList[0].data[0].items[0].contentImgtUrl"
                                                :onBeforeUpload="bombScreenUpload"
                                            ></image-upload>
                                            <Alert
                                                show-icon
                                                style="margin-bottom:0;"
                                            >图片宽度1125px，高度900px</Alert>
                                        </FormItem>
                                        <FormItem label="是否跳转">
                                            <RadioGroup
                                                v-model="floorConfigList[0].showBombScreenLink"
                                            >
                                                <Radio label="0">否</Radio>
                                                <Radio label="1">是</Radio>
                                            </RadioGroup>
                                        </FormItem>
                                        <FormItem
                                            label="跳转链接"
                                            v-if="floorConfigList[0].showBombScreenLink === '1'"
                                        >
                                            <linkType
                                                :linkInfo="floorConfigList[0].data[0].items[0]"
                                            ></linkType>
                                        </FormItem>
                                    </template>
                                    <FormItem label="是否配置浮层icon">
                                        <RadioGroup v-model="showFloatIcon">
                                            <Radio label="0">否</Radio>
                                            <Radio label="1">是</Radio>
                                        </RadioGroup>
                                    </FormItem>
                                    <template v-if="showFloatIcon === '1'">
                                        <FormItem label="浮层图片">
                                            <image-upload
                                                :imageUrl.sync="floorConfigList[1].data[0].items[0].imgUrl"
                                                :onBeforeUpload="floatIconUpload"
                                            ></image-upload>
                                            <Alert
                                                show-icon
                                                style="margin-bottom:0;"
                                            >图片宽度120px，高度120px</Alert>
                                        </FormItem>
                                        <FormItem label="是否跳转">
                                            <RadioGroup
                                                v-model="floorConfigList[1].showFloatIconLink"
                                            >
                                                <Radio label="0">否</Radio>
                                                <Radio label="1">是</Radio>
                                            </RadioGroup>
                                        </FormItem>
                                        <FormItem
                                            label="跳转链接"
                                            v-if="floorConfigList[1].showFloatIconLink === '1'"
                                        >
                                            <linkType
                                                :linkInfo="floorConfigList[1].data[0].items[0]"
                                            ></linkType>
                                        </FormItem>
                                    </template>
                                </Form>
                            </TabPane>
                            <TabPane label="返回顶部" name="toTop">
                                <Form :label-width="120">
                                    <FormItem label="是否配置返回顶部">
                                        <RadioGroup v-model="showToTop">
                                            <Radio label="0">否</Radio>
                                            <Radio label="1">是</Radio>
                                        </RadioGroup>
                                    </FormItem>
                                    <template v-if="showToTop === '1'">
                                        <FormItem label="默认样式">
                                            <RadioGroup v-model="showToTopStyle">
                                                <Radio label="0">默认样式</Radio>
                                                <Radio label="1">自定义样式</Radio>
                                            </RadioGroup>
                                        </FormItem>
                                        <Form-item label="上传图片" v-if="showToTopStyle === '1'">
                                            <image-upload
                                                :imageUrl.sync="floorConfigList[2].data[0].items[0].imgUrl"
                                                :onBeforeUpload="toTopUpload"
                                            ></image-upload>
                                            <Alert show-icon>图片宽78px，高78px</Alert>
                                        </Form-item>
                                    </template>
                                </Form>
                            </TabPane>
                        </Tabs>
                    </div>
                </Card>
            </div>
        </div>
        <div class="bottom-content">
            <!--<a class="n-btn-default">预览</a>-->
            <a class="n-btn-active" @click="createPage">{{this.incId?'更新':'发布'}}</a>
        </div>
    </div>
</template>

<script>
import right from "./right";
import left from "./page/left";
import phone from "./center";
import draggable from "vuedraggable";
import { mapMutations } from "vuex";
import { componentsPreview, componentEdit } from "./config/config";
import ImageUpload from "./common/ImageUpload";
import headNav from "./headNav";
import pageBgImg from "./img/pageBgImg.png";

//import {add,edit} from './config/localDB'
export default {
    name: "decoration",
    data() {
        return {
            pageId: "", //后台生成的页面pageId
            incId: "", //后台生成页面自增id
            showBombScreen: "0",
            timer: null,
            showFloatIcon: "0",
            switchBombScreen: "0",
            showToTopStyle: "0", //是否自定义返回顶部 0默认样式 1自定义
            showToTop: "0",
            navbgColorType: "0",
            showToTopList: [
                "https://storage.360buyimg.com/tower/babelnode/static/media/go_top.4b6b5e77.png",
                ""
            ],
            navConfigInfo: {
                data: {
                    type: "headNav",
                    id: "first-line",
                    style: {
                        //是否随下拉有淡入淡出动画
                        head_animate: "0",
                        //背景颜色
                        bgColor: "#5bc2b3",
                        bgImgUrl: "",
                        //外边距
                        margin: ["0", "0", "0", "0"],
                        //内边距
                        padding: ["0", "0", "0", "0"],
                        column: "1"
                    },
                    items: [
                        {
                            //不带搜索的导航栏类型
                            type: "fixHeadNav",
                            titleImgUrl: "", //图片标题
                            pageName: "页面标题", //文字标题
                            functionIcon: "true", //是否显示购物车或者分享图标
                            search: "false", //是否显示搜索
                            showBackButton: "true", //是否有返回按钮
                            showContents: [
                                "goBackBtnCheck",
                                "iconCheck",
                                "moreCheck"
                            ], //与客户端无关
                            showMoreButton: "true", //最右侧更多信息icon是否显示
                            functionIconValue: "0", //0代表显示的是购物车图标，1代表显示分享的图标，2代表设置图标
                            navigationType: "0",
                            //显示样式
                            style: {
                                color: "0",
                                //高度
                                height: "64",
                                //复用id
                                reuseId: "",
                                //外边距
                                margin: ["0", "0", "0", "0"]
                            }
                        }
                    ]
                }
            },
            pageConfigData: {
                floorConfigData: [],
                bgColor: "#ffffff",
                bgImgUrl: pageBgImg,
                pageName: "",
                pageType: "",
                description: ""
            },

            floorConfigList: [
                /**
                 * 以下顺序不可修改 可顺序添加
                 */
                //弹窗挂件
                {
                    name: "bombScreen",
                    type: "弹屏挂件",
                    showBombScreen: "0",
                    switchBombScreen: "0", //实时
                    showBombScreenLink: "0",
                    data: [
                        {
                            type: "container-fix",
                            id: "title-line",
                            style: {
                                x: "0",
                                y: "0",
                                align: "center",
                                padding: ["0", "0", "0", "0"]
                            },
                            items: [
                                {
                                    type: "activity_window",
                                    linkType: "0",
                                    uuid: "",
                                    link: "",
                                    contentImgtUrl: "",
                                    closeAlginType: "bottom", //关闭按钮在底部 top为关闭按钮在顶部
                                    closeImgtUrl:
                                        "https://storage.360buyimg.com/tower/babelnode/static/media/float_close-new.6be73299.png",
                                    contentImgHeight: "300",
                                    contentImgWidth: "375",
                                    fullScreen: "true",
                                    bgColor: "#45000000",
                                    style: {
                                        height: "",
                                        width: ""
                                    }
                                }
                            ]
                        }
                    ]
                },
                //浮层icon
                {
                    name: "floatIcon",
                    type: "浮层icon",
                    showFloatIcon: "0",
                    showFloatIconLink: "0",
                    data: [
                        {
                            type: "container-float",
                            id: "title-line",
                            style: {
                                x: "0",
                                y: "150",
                                bounceX: "true",
                                align: "bottom_right",
                                bgColor: "#00000000",
                                padding: ["0", "0", "0", "0"]
                            },
                            items: [
                                {
                                    type: "image",
                                    imgUrl: "",
                                    linkType: "0",
                                    uuid: "",
                                    link: "",
                                    style: {
                                        bgColor: "#00000000",
                                        height: "40",
                                        width: "40",
                                        margin: ["0", "0", "0", "0"]
                                    }
                                }
                            ]
                        }
                    ]
                },
                //返回顶部
                {
                    name: "toTop",
                    type: "返回顶部",
                    showToTop: "0",
                    data: [
                        {
                            type: "container-fix",
                            id: "",
                            style: {
                                bgColor: "#00000000",
                                padding: ["0", "0", "0", "0"],
                                animationDuration: "2000",
                                showType: "showOnLeave",
                                x: "15",
                                y: "15", //top_left/ top_right / bottom_left / bottom_right
                                align: "bottom_right"
                            },
                            items: [
                                {
                                    type: "image",
                                    action: "backTop",
                                    imgUrl:
                                        "https://storage.360buyimg.com/tower/babelnode/static/media/go_top.4b6b5e77.png",
                                    style: {
                                        height: "35",
                                        width: "35"
                                    }
                                }
                            ]
                        }
                    ]
                }
            ],

            defaultImage:
                "http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png",
            drag: false,
            curIndex: null,
            curElement: {},
            list: [],
            floorId: null, //每个楼层数据，以时间戳为id存储
            typeList: ["首页", "我的"],
            ruleValidate: {
                pageName: [
                    {
                        required: true,
                        message: "页面标题不能为空",
                        trigger: "blur"
                    }
                ]
            },
            partData: []
        };
    },
    computed: {
        dragOptions() {
            return {
                group: {
                    name: "element",
                    pull: false,
                    put: true
                },
                animation: 200,
                disabled: false,
                ghostClass: "ghost"
            };
        },
        resetPageBgColorValue() {
            return this.pageConfigData.bgColor;
        },
      resetNavBgColorValue() {
        return this.navConfigInfo.data.style.bgColor;
      },
      navBgColorValue: {
        get: function() {
          return this.navConfigInfo.data.style.bgColor
        },
        set: function(newValue) {
          let color = "";
          if (newValue[0] != "#") {
            color = this.rgbaTransform(newValue);
            this.$set(this.navConfigInfo.data.style, "bgColor", color);
          }

        }
      },
    },
    components: Object.assign(
        {},
        {
            right,
            phone,
            left,
            draggable
        },
        componentsPreview,
        componentEdit,
        {
            "image-upload": ImageUpload,
            headNav
        }
    ),
    mounted() {
      this.floorId = this.$route.query.pageId;
      this.incId = this.$route.query.incId;
      this.pageId = this.$route.query.pageId;
      if (this.incId) {
        //查询指定id数据
        // edit(this.floorId,null,(data)=> {
        //   this.updateFloor({type:'addPage',data:data.data})
        // })
        this.getPageData(this.incId);
      } else {
        this.updateFloor({ type: "resetFloor" });
        this.createPage();
      }
    },
    methods: {
        ...mapMutations(["setFlrIndex", "updateFloor", "updatapageData", "updateElement"]),
        dragEnd(evt) {
            this.updateFloor({ type: "addPage", data: this.list });
             console.log(evt)
            // evt.item //可以知道拖动的本身
            // evt.to    // 可以知道拖动的目标列表
            // evt.from  // 可以知道之前的列表
            // evt.oldIndex  // 可以知道拖动前的位置
            // evt.newIndex  // 可以知道拖动后的位置
            this.drag = false;
        },
        dragUpdate(e) {
            // console.log(e)
        },
        moveFloor(){
          //楼层移动排序
          this.$axios
            .request({
              url: `/jdh/floor/move`,
              method: "post"
            })
            .then(res => {
              if (res.data.code == 0) {

              }
            })
            .catch(err => {
              console.log(err);
            });
        },
        addIdToFloor(data) {
            //给楼层增加后端返回的唯一Id
            this.updateFloor({
                type: "update",
                index: this.curIndex,
                data: data
            });
        },
        saveFloor() {
            this.$axios
                .request({
                    url: `/jdh/floor/save`,
                    data: {
                        id: this.curElement.data.id
                            ? this.curElement.data.id
                            : null, //楼层唯一id,后端生成
                        identityId: this.curElement.data.identityId
                            ? this.curElement.data.identityId
                            : null, //楼层唯一id,后端生成
                        seq: this.curIndex + 1, //楼层序号
                        pageId: this.incId, //页面id
                        configData: JSON.stringify(this.curElement),
                        type: this.curElement.name
                    },
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        //第一次保存后，给楼层增加后端唯一id
                        this.curElement.data.id = res.data.result.id;
                        this.curElement.data.identityId =
                            res.data.result.identityId;
                        this.addIdToFloor(this.curElement.data);
                        this.$Message.success("保存成功");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        reFloor(arr) {
            let temp = [];
            for (let i = 0; i < arr.length; i++) {
                temp.push(JSON.parse(arr[i].configData));
            }
            return temp;
        },
        getPageData(id) {
            //根据页面id获取数据
            this.$axios
                .request({
                    url: `/jdh/page/detail?id=${id}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        let temp = this.reFloor(
                            res.data.result.jdhFreshFloorList
                        );
                        this.updateFloor({
                            type: "addPage",
                            data: temp
                        });
                        let pendant = JSON.parse(res.data.result.configData)
                        this.updatapageData({
                            type: "addPage",
                            data: pendant.floorConfigData
                        });
                        this.pageConfigData.bgColor = pendant.bgColor;
                        this.pageConfigData.bgImgUrl = pendant.bgImgUrl;
                        this.pageConfigData.pageName = pendant.pageName;
                        this.pageConfigData.pageType = pendant.pageType;
                        this.pageConfigData.description = pendant.description;
                        this.updataFloorConfigList(pendant.floorConfigData);
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        createPage() {
            //创建页面生成页面Id，页面id用于单楼层保存
            this.$axios
                .request({
                    url: `/jdh/page/save`,
                    data: {
                        projectId: this.$store.state.app.pid, //项目Id
                        configData: JSON.stringify(this.pageConfigData), //页面全局配置
                        description: this.pageConfigData.description, //页面描述
                        pageName: this.navConfigInfo.data.items[0].pageName, //页面名称
                        id: this.incId,
                        pageId: this.pageId
                    },
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.incId = res.data.result.id;
                        this.$Message.success("更新成功");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        edit(index, el) {
            this.curIndex = index;
            this.curElement = el;
            this.setFlrIndex(index);
            //this.updatePartType({type: 'update', data: {indexes: index, element: el}})
            this.updateElement({type: 'add', data: el})
        },
        setTitle() {
            this.curIndex = null;

        },
        delItem(index) {
            this.updateFloor({ type: "del", index: index });
            this.curIndex = null;
            this.curElement = {};
        },
        refactoring(arr) {
            // 重组app用的数据结构
            let temp = [];
            for (let i = 0; i < arr.length; i++) {
                if (this.$tools.isArray(arr[i].data)) {
                    temp = _.concat(temp, arr[i].data);
                }
                if (this.$tools.isObject(arr[i].data)) {
                    temp.push(arr[i].data);
                }
            }
            return temp;
        },
        //设置页面背景颜色
        resetPageBgColor() {
            this.pageConfigData.bgColor = this.resetPageBgColorValue;
        },
        //设置导航栏背景颜色
        resetNavBgColor() {
        this.navConfigInfo.data.style.bgColor = this.resetNavBgColorValue;
      },
        //导航栏展示内容改变
        showContentsChange(data) {
            if (data.indexOf("goBackBtnCheck") != -1) {
                this.$set(
                    this.navConfigInfo.data.items[0],
                    "showBackButton",
                    "true"
                );
            } else {
                this.$set(
                    this.navConfigInfo.data.items[0],
                    "showBackButton",
                    "false"
                );
            }
            if (data.indexOf("searchCheck") != -1) {
                this.$set(this.navConfigInfo.data.items[0], "search", "true");
            } else {
                this.$set(this.navConfigInfo.data.items[0], "search", "false");
            }
            if (data.indexOf("iconCheck") != -1) {
                this.$set(
                    this.navConfigInfo.data.items[0],
                    "functionIcon",
                    "true"
                );
            } else {
                this.$set(
                    this.navConfigInfo.data.items[0],
                    "functionIcon",
                    "false"
                );
            }
            if (data.indexOf("moreCheck") != -1) {
                this.$set(
                    this.navConfigInfo.data.items[0],
                    "showMoreButton",
                    "true"
                );
            } else {
                this.$set(this.navConfigInfo.data.items[0], "showMoreButton", "false");
            }
        },
        topBgImgBeforeUpload(file, img) {
        if (
          img.width !== 1125
        ) {
          return (
            "请上传宽1125px的图片！"
          );
        }
            return null;
        },
        topBgImgSuccess(res) {
            this.$set(this.pageConfigData, "bgImgUrl", res.result.path);
        },
        bgColorBeforeUpload(file, img) {
            if (
                img.width !== 1125 ||
                img.height !== this.navConfigInfo.data.items[0].style.height * 3
            ) {
                return (
                    "请上传宽1125px，高" +
                    this.navConfigInfo.data.items[0].style.height * 3 +
                    "px的图片！"
                );
            }
            return null;
        },
        bgImgUrlSuccess(res) {
            this.$set(
                this.navConfigInfo.data.style,
                "bgImgUrl",
                res.result.path
            );
        },

        handleSuccess(res, index) {
            this.$set(
                this.navConfigInfo.data.items[0],
                "titleImgUrl",
                res.result.path
            );
        },
        handleBeforeUpload(file, img) {
            if (img.width !== 300 || img.height !== 90) {
                return "请上传宽300px，高90px的图片！";
            }

            return null;
        },
        getFloorData() {
            ///jdh/page/save
            this.$axios
                .request({
                    url: `/jdh/configPageStyle/queryWebConfigPageStyleByKey?uuid=${this.floorId}&pId=${this.$route.query.pid}`,
                    method: "get"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.updateFloor({
                            type: "addPage",
                            data: res.data.data.list
                        });
                        this.updatapageData({
                            type: "addPage",
                            data: res.data.data.pageConfigData.floorConfigData
                        });
                        this.pageConfigData.bgColor =
                        res.data.data.pageConfigData.bgColor;
                        this.pageConfigData.bgImgUrl =
                        res.data.data.pageConfigData.bgImgUrl;
                        this.pageConfigData.pageName =
                            res.data.data.pageConfigData.pageName;
                        this.pageConfigData.pageType =
                            res.data.data.pageConfigData.pageType;
                        this.pageConfigData.description =
                            res.data.data.pageConfigData.description;
                        this.updataFloorConfigList(
                            res.data.data.pageConfigData.floorConfigData
                        );
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        commitFloor() {
            //无id新增页面数据，有id更新页面数据
            this.pageConfigData.pageName = this.navConfigInfo.data.items[0].pageName;

            // if(this.floorId){
            //   edit(this.floorId,{data:this.list})
            // }else{
            //   add({data:this.list}, () =>{
            //     this.$Message.success('发布成功')
            //   })
            // }
            if (this.floorId) {
                let floorConfigDataList = this.pageConfigData.floorConfigData;
                let hasHeadNav = false;
                for (let i = 0; i < floorConfigDataList.length; i++) {
                    if (floorConfigDataList[i].data.type == "headNav") {
                        floorConfigDataList[i] = this.navConfigInfo;
                        hasHeadNav = true;
                    }
                }
                if (hasHeadNav === false) {
                    this.pageConfigData.floorConfigData.push(
                        this.navConfigInfo
                    );
                }
                this.updateToFloor();
            } else {
                this.pageConfigData.floorConfigData.push(this.navConfigInfo);
                this.pushData();
            }
        },
        updateToFloor() {
            this.$axios
                .request({
                    url: `/jdh/configPageStyle/webConfigPageStyleUpdate`,
                    data: {
                        uuid: this.floorId,
                        list: this.list,
                        pId: this.$route.query.pid,
                        pageConfigData: this.pageConfigData
                    },
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.updateAppData();
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        updateAppData() {
            let appData = this.refactoring(this.list);
            this.pageConfigData.floorConfigData = this.refactoring(
                this.pageConfigData.floorConfigData
            );

            this.$axios
                .request({
                    url: `/jdh/configPageStyle/appConfigPageStyleUpdate`,
                    data: {
                        uuid: this.floorId,
                        list: appData,
                        pId: this.$route.query.pid,
                        pageConfigData: this.pageConfigData
                    },
                    method: "post"
                })
                .then(res => {
                    if (res.data.code == 0) {
                        this.$Message.success("更新成功");
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        pushAppData(uuid) {
            ///jdh/configPageStyle/appConfigPageStyleSaveOrUpdate
            let appData = this.refactoring(this.list);
            this.pageConfigData.floorConfigData = this.refactoring(
                this.pageConfigData.floorConfigData
            );

        this.$axios
          .request({
            url: "/jdh/configPageStyle/appConfigPageStyleSave",
            method: "post",
            data: {
              uuid: uuid,
              list: appData,
              pId: this.$route.query.pid,
              pageConfigData: this.pageConfigData
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              this.$Message.success("发布成功");
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      pushData() {
        this.$axios
          .request({
            url: "/jdh/configPageStyle/webConfigPageStyleSave",
            method: "post",
            data: {
              list: this.list,
              pageConfigData: this.pageConfigData,
              pId: this.$route.query.pid
            }
          })
          .then(res => {
            if (res.data.code == 0) {
              // this.$Message.success('发布成功')
              this.pushAppData(res.data.data.uuid);
              this.floorId = res.data.data.uuid;
            }
          })
          .catch(err => {
            console.log(err);
          });
      },
      showPageData(data) {
        data.map((value, index) => {
          if (value.showBombScreen) {
            this.showBombScreen = "1";
            //this.bombScreenIndex = index
          } else if (value.showFloatIcon) {
            this.showFloatIcon = "1";
            //this.floatIconIndex = index
          } else if (value.showToTop) {
            this.showToTop = "1";
            //this.toTopIndex = index
          }
          if (value && value.data && value.data.type == "headNav") {
            this.navConfigInfo = value;
          }
        });
      },
      bombScreenUpload(file, img) {
        if (img.width !== 1125) {
          return "图片宽度必须是1125px";
        }
        if (img.height !== 900) {
          return "图片高度必须是900px";
        }
        return null;
      },
      floatIconUpload(file, img) {
        if (img.width !== 120) {
          return "图片宽度必须是120px";
        }
        if (img.height !== 120) {
          return "图片高度必须是120px";
        }
        return null;
      },
      toTopUpload(file, img) {
        if (img.width !== 78) {
          return "图片宽度必须是78px";
        }
        if (img.height !== 78) {
          return "图片高度必须是78px";
        }
        return null;
      },
      /**
       * 判断是否已添加
       */
      checkExit(data, name) {
        let checkRes = data.filter((item, index) => {
          if (item.name === name) {
            return true;
          }
        });
        if (checkRes.length > 0) {
          return true;
        } else {
          return false;
        }
      },
      updataFloorConfigList(data) {
        data.map((value, index) => {
          if (value.name === "bombScreen") {
            this.floorConfigList[0] = value;
          } else if (value.name === "floatIcon") {
            this.floorConfigList[1] = value;
          } else if (value.name === "toTop") {
            this.floorConfigList[2] = value;
          }
        });
      },
      //颜色转换
      //颜色转换成hex格式
      rgbaTransform(color) {
        var values = color
          .replace(/rgba?\(/, "")
          .replace(/\)/, "")
          .replace(/[\s+]/g, "")
          .split(",");
        var a = parseFloat(values[3] || 1),
          r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
          g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
          b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255);
        var setTrans = (a * 255).toString(16).split(".")[0];
        var aValue = setTrans.length == "1" ? "0" + setTrans : setTrans;
        return (
          "#" +
          ("0" + r.toString(16)).slice(-2) +
          ("0" + g.toString(16)).slice(-2) +
          ("0" + b.toString(16)).slice(-2) +
          aValue
        );
      }
    },
    watch: {
        "$store.state.app.floorList": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                this.list = newer;
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        "$store.state.app.element": {
            handler: function(newer, older) {
                // 可以获取新值与老值两个参数
                this.partData = newer;
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        showToTopStyle: {
            handler: function(newer, older) {
                this.floorConfigList[2].data[0].items[0].imgUrl = this.showToTopList[
                    newer
                ];
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        "$store.state.app.floorConfigData": {
            handler: function(newer, older) {
                this.pageConfigData.floorConfigData = newer;

                this.showPageData(newer);
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        showBombScreen: {
            handler: function(newer, older) {
                if (newer === "1") {
                    this.floorConfigList[0].showBombScreen = "1";
                    if (
                        this.checkExit(
                            this.pageConfigData.floorConfigData,
                            "bombScreen"
                        )
                    ) {
                        this.updatapageData({
                            type: "updata",
                            data: this.floorConfigList[0]
                        });
                    } else {
                        this.updatapageData({
                            type: "add",
                            data: this.floorConfigList[0]
                        });
                    }
                } else {
                    this.updatapageData({ type: "del", name: "bombScreen" });
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        showFloatIcon: {
            handler: function(newer, older) {
                if (newer === "1") {
                    this.floorConfigList[1].showFloatIcon = "1";
                    if (
                        this.checkExit(
                            this.pageConfigData.floorConfigData,
                            "floatIcon"
                        )
                    ) {
                        this.updatapageData({
                            type: "updata",
                            data: this.floorConfigList[1]
                        });
                    } else {
                        this.updatapageData({
                            type: "add",
                            data: this.floorConfigList[1]
                        });
                    }
                } else {
                    this.updatapageData({ type: "del", name: "floatIcon" });
                }
            }
        },
        showToTop: {
            handler: function(newer, older) {
                if (newer === "1") {
                    this.floorConfigList[2].showToTop = "1";
                    if (
                        this.checkExit(
                            this.pageConfigData.floorConfigData,
                            "toTop"
                        )
                    ) {
                        this.updatapageData({
                            type: "updata",
                            data: this.floorConfigList[2]
                        });
                    } else {
                        this.updatapageData({
                            type: "add",
                            data: this.floorConfigList[2]
                        });
                    }
                } else {
                    this.updatapageData({ type: "del", name: "toTop" });
                }
            }
        },
        switchBombScreen: {
            handler: function(newer, older) {
                if (newer === "1") {
                    this.floorConfigList[0].switchBombScreen = "1";
                } else {
                    this.floorConfigList[0].switchBombScreen = "0";
                }
            }
        }
    }
};
</script>

<style scoped lang="less">
.right-content {
    position: fixed;
    left: 66rem;
    top: 15rem;
    max-height: 500px;
    // overflow-y:scroll;
    // overflow-x:hidden;
}
.right-content::-webkit-scrollbar {
    width: 0 !important;
}
.p-wrap {
    position: relative;
    .close {
        position: absolute;
        right: -8px;
        top: -8px;
        z-index: 10;
    }
}
.editTitle {
    overflow: hidden;
    height: 54px;
    border-bottom: 1px solid #eee;
    &-left {
        float: left;
        line-height: 54px;
        font-size: 16px;
    }
    &-right {
        float: right;
        button {
            margin: 9px 5px;
        }
    }
}
.bottom-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}
.content {
    display: flex;
    flex-direction: column;
}
.c-left {
    position: fixed;
    width: 150px;
    height: 600px;
    background: #fff;
    border: 1px solid #e8e8e8;
    .c-button {
        display: block;
        width: 100px;
        margin: 6px;
    }
}
.phone {
    width: 375px;
    min-height: 600px;
    margin-left: 2rem;
    padding-bottom: 40px;
    background: #fff;
    border: 1px solid #e8e8e8;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    .fixedTop {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        overflow: hidden;
        z-index: 9;
        img {
            width: 100%;
        }
    }
    .c-footer {
        height: 50px;
    }
}
.blackColor {
    color: #000000;
}
.whiteColor {
    color: #ffffff;
}

.push-btn:hover {
    background: #67b7f0;
}
.push-btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: #2d8cf0;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    -webkit-user-select: none;
}
.preview {
    position: relative;
}
.preview-outer-hover:after {
    position: absolute;
    z-index: 3;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-box-shadow: 0 0 0 0.15rem #60a5e1 inset;
    box-shadow: inset 0 0 0 0.15rem #60a5e1;
    content: " ";
}
.preview-hover:hover:after {
    position: absolute;
    z-index: 3;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border: 1px dashed #60a5e1;
    content: " ";
}
.ivu-form-item {
    margin-bottom: 14px;
}
.ivu-alert-message .ivu-btn {
    margin-left: 20px;
}

/deep/ .ivu-form-item-content {
    overflow: visible;
}

.n-to-top {
    position: absolute;
    right: 15px;
    bottom: 50px;
    width: 39px;
    height: 39px;
    background-size: 100%;
    z-index: 1;
}
.page-content {
    position: relative;
    height: 94%;
}
.n-bomb-screen-wrap {
    display: flex;
    align-items: center;
    height: 100%;
}
.n-bomb-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

i.n-close {
    background: url(https://storage.360buyimg.com/tower/babelnode/static/media/float_close-new.6be73299.png);
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin: 0 auto;
}

i.n-close,
i.ivu-icon-ios-close-circle-outline {
    display: block;
    background-size: 100%;
}

.n-float-icon-wrap {
    // position: relative;
    // width: 100%;
    // height: 50px;
}
.n-float-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 30%;
    z-index: 1;
    img {
        display: block;
    }
}
i.ivu-icon-ios-close-circle-outline {
    color: #ea28f7;
    position: absolute;
    top: -7px;
    right: -5px;
}
.n-in-time-preview {
    margin-bottom: 5px;
}
//重置背景颜色按钮样式
.resetBtn {
    margin-left: 10px;
}
</style>
