<template>
  <div style="padding: 2rem;background: #fff;">
    <div class="pro-wrapper">
      <div
        @mouseover="getCut(index)"
        @mouseleave="current=null"
        class="card-wrap"
        v-for="(item,index) in projects"
        :key="index"
      >
        <Icon
          v-show="current==index"
          @click="beforeDel(item.uuid)"
          size="16"
          class="close"
          color="#FF151A"
          type="ios-close-circle"
        />
        <Card style="width:220px;height: 220px;display: inline-block;">
          <a href="#" slot="extra" @click.prevent="toPageList(item.uuid)">
            <Icon type="ios-loop-strong"></Icon>进入项目
          </a>
          <div class="item-inner">
            <div>
              <h3>{{item.name}}</h3>
              <span>{{item.description}}</span>
            </div>
          </div>
        </Card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "operativeProjects",
  data() {
    return {
      current: null,
      projects: [],
      modal12: false,
      proName: "",
      proDesc: ""
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    toPageList(id) {
      this.$store.commit("setPid", id);
      this.$router.push({
        path: "/operativePageList",
        query: {
          pid: id
        }
      });
    },
    getList() {
      ///jdh/projectConfigPage/queryProjectConfigPageList?currentPage=1&pageSize=3
      this.$axios
        .request({
          url: `/jdh/projectConfigPage/queryProjectConfigPageList?currentPage=1&pageSize=10&flag=false`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.projects = res.data.data.records;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    addPro() {
      this.$axios
        .request({
          url: `/jdh/projectConfigPage/webProjectConfigSaveOrUpdate`,
          method: "post",
          data: {
            name: this.proName,
            description: this.proDesc
          }
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("创建成功");
            this.getList();
          }
        })
        .catch(err => {
          console.log(err);
        });
      // this.projects.push({proName:this.proName,proDesc:this.proDesc})
      // this.proName=''
      // this.proDesc=''
    },
    cancel() {
      this.proName = "";
      this.proDesc = "";
    },
    getCut(i) {
      this.current = i;
    },
    beforeDel(id) {
      this.$Modal.confirm({
        title: "提示",
        content: "<p>请确认此项目没有在使用中，确定删除此项目吗?</p>",
        onOk: () => {
          this.del(id);
        },
        onCancel: () => {
          this.$Message.info("取消操作");
        }
      });
    },
    del(id) {
      //jdh/projectConfigPage/delProjectConfigByUuid?uuid=jdh_config_80e5235b536142f39a89d7894ba05396
      this.$axios
        .request({
          url: `jdh/projectConfigPage/delProjectConfigByUuid?uuid=${id}`,
          method: "get"
        })
        .then(res => {
          if (res.data.code == 0) {
            this.$Message.success("删除成功");
            this.getList();
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped lang="less">
.pro-wrapper {
  .item-inner {
    text-align: center;
    margin-top: 6rem;
  }
  .card-wrap {
    position: relative;
    display: inline-block;
    margin: 20px;
    .close {
      position: absolute;
      z-index: 100;
      right: -6px;
      top: -6px;
    }
  }
}
</style>
