<template>
    <div>
      <component ref="editContent" v-if="currentIndex === index" :is="element.name" :data="element.data" :element="element" :index="index"></component>
    </div>
</template>

<script>
  import {componentEdit} from './config/config'
  export default {
      name: "right",
      props: ['index', 'element'],
      data(){
        return{
          currentIndex:0
        }
      },
      props: ['index', 'element'],
      components:Object.assign({},componentEdit),
      mounted(){
      },
      watch:{
        '$store.state.app.currentFloorIndex': {
          handler: function(newer, older) {
            // 可以获取新值与老值两个参数
            this.currentIndex = newer
          },
          deep: true, // 开启深度监听
          immediate: true,
        },
      }
    }
</script>

<style scoped>

</style>
