<template>
  <div style="padding: 2rem;background: #fff;">
    <!--<div style="margin: 20px;">-->
      <!--<Button @click="modal2=true" size="large" icon="md-add" type="success">新增分期页面</Button>-->
    <!--</div>-->
    <Modal
      width="636"
      v-model="modal2"
      :closable="false"
      @on-ok="addPro"
      @on-cancel="cancel"
      title="新增分期页面">
      <div>
        <span style="margin: 0 0.5rem;">分期时间：</span>
        <DatePicker  clearable size="small" type="datetime" placeholder="请选择分期时间" style="width: 200px"></DatePicker>
        <span style="margin: 0 1rem;">分期页面：</span>
        <Input size="small" placeholder="请选择页面" style="width: auto">
        <Icon @click="getList" type="ios-search" slot="suffix" />
        </Input>
        <!--<div>-->
          <!--<span style="margin: 0 1rem;">分期名称：</span>-->
          <!--<Input v-model="defaultId" clearable size="small" style="width: 200px" placeholder="请输入分期名称..."></Input>-->
          <!--<span style="margin: 0 1rem;">请设置兜底页面：</span>-->
          <!--<Input v-model="currentPage.pageName" size="small" placeholder="请选择页面" style="width: auto">-->
            <!--<Icon @click="getList" type="ios-search" slot="suffix" />-->
          <!--</Input>-->
        <!--</div>-->
        <!--<Divider/>-->
          <!--<div style="margin: .5rem 0;" v-for="(item,index) in list" :key="index">-->
            <!--<span style="margin: 0 0.5rem;">分期时间：</span>-->
            <!--<DatePicker  clearable size="small" type="datetime" placeholder="请选择分期时间" style="width: 200px"></DatePicker>-->
            <!--<span style="margin: 0 1rem;">分期页面：</span>-->
            <!--<Input v-model="item.uuid" size="small" placeholder="请选择页面" style="width: auto">-->
              <!--<Icon @click="getList" type="ios-search" slot="suffix" />-->
            <!--</Input>-->
            <!--<Button @click="del(index)" style="margin-left: 1rem" size="small" type="error">删除</Button>-->
          <!--</div>-->
          <!--<Button @click="addStages" style="margin: 1rem .5rem;" size="small" type="dashed" long>新增分期页面</Button>-->
      </div>
    </Modal>
    <Modal
      width="1000"
      v-model="modal"
      :closable="false"
      @on-ok="confirm"
      @on-cancel="()=>{}"
      title="页面列表">
      <Table @on-current-change="getCutPage" highlight-row size="small" border max-height="500" :columns="columns1" :data="data1"></Table>
      <div style="text-align: center;margin-top: 1rem;">
        <Page @on-change="getPage" :total="totalCount" show-elevator />
      </div>
    </Modal>
    <el-table
      border
      :data="tableData"
      style="width: 100%"
      stripe
      @expand-change="getId">
      <el-table-column  type="expand">
        <template slot-scope="props">
          <el-table
            border
            :data="tableData1"
            style="width: 100%">
            <el-table-column
              fixed
              prop="date"
              label="页面ID">
            </el-table-column>
            <el-table-column
              prop="time"
              label="分期时间">
            </el-table-column>
            <el-table-column
              prop="name"
              label="页面名称">
            </el-table-column>
            <el-table-column
              prop="city"
              label="页面描述">
            </el-table-column>
          </el-table>
        </template>
      </el-table-column>
      <el-table-column
        label="页面组"
        prop="id">
      </el-table-column>
      <el-table-column
        label="页面组名称"
        prop="name">
      </el-table-column>
      <el-table-column
        label="描述"
        prop="address">
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <Button @click="modal2=true" size="small" icon="md-add" type="success">新增分期页面</Button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
    export default {
      name: "stages",
      data(){
        return{
          modal:false,
          modal2:false,
          list:[],
          defaultId:'',
          stagesName:'',
          data1:[],
          tableData: [{
            id: 1,
            date: '123',
            name: '首页',
            address: '首页分期'
          }, {
            id: 2,
            date: '123',
            name: '我的',
            address: '我的分期'
          }, {
            id: 3,
            date: '123',
            name: '618活动',
            address: '618活动分期'
          }],
          tableData1: [{
            id: 1,
            date: '123',
            name: '123',
            address: '123',
            time:'2019-10-11'
          }, {
            id: 2,
            date: '123',
            name: '123',
            address: '123',
            time:'2019-10-11'
          }, {
            id: 4,
            date: '123',
            name: '123',
            address: '123',
            time:'2019-10-11'

          }],
          columns1: [
            {
              title: "页面id",
              key: "id",
              width:100
            },
            {
              title: "uuid",
              key: "uuid"
            },
            {
              title: "分期时间",
              key: "time"
            },
            {
              title: "页面名称",
              key: "pageName"
            },
            {
              title: "页面描述",
              key: "description"
            },
            {
              title: "操作",
              key: "action",
              align: "center",
              width: 300,
              render: (h, params) => {
                return h("div", [
                  h(
                    "Button",
                    {
                      props: {
                        type: "info",
                        size: "small"
                      },
                      style: {
                        marginRight: "5px"
                      },
                      on: {
                        click: () => {
                          // alert(params.row.id)
                          //查询指定id数据
                          //this.list = params.row.data
                          // this.modal4 = true;
                          // this.getPageDetail(params.row.uuid);
                        }
                      }
                    },
                    "预览"
                  )
                ]);
              }
            }
          ],
          totalCount:0,
          pageNo:1,
          currentPage:{},
        }
      },
      method(){

      },
      methods:{
        getId(v){

        },
        getCutPage(v){
          this.currentPage=v
        },
        getPage(p){
          this.pageNo=p
        },
        addStages(){
          this.list.push({
            time:'',
            uuid:''
          })
        },
        addPro(){

        },
        cancel(){

        },
        del(i){
          this.list.splice(i,1)
        },
        confirm(){

        },
        load(){
          console.log('加载加载')
        },
        getList() {
          this.$axios
            .request({
              url: `/jdh/configPageStyle/queryWebConfigPageStyleKeyList?currentPage=${this.pageNo}&pageSize=10&pId=${this.$route.query.pid}`,
              method: "get"
            })
            .then(res => {
              if (res.data.code == 0) {
                this.data1 = res.data.data.dataList;
                this.totalCount = res.data.data.total;
                this.modal=true
              }
            })
            .catch(err => {
              console.log(err);
            });
        },
      }
    }
</script>

<style scoped>

</style>
