<template>
    <Tabs name="style" :animated="false">
        <TabPane label="样式配置" tab="style">
            <Form :label-width="80">
                <FormItem label="是否卡片化">
                    <RadioGroup v-model="card">
                        <Radio label="1">卡片化</Radio>
                        <Radio label="0">默认</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="是否圆角">
                    <RadioGroup v-model="cardRadius">
                        <Radio label="1">圆角</Radio>
                        <Radio label="0">默认</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="圆角位置" v-if="cardRadius == '1'">
                    <CheckboxGroup v-model="radiusPosition">
                        <Checkbox label="topLeft">左上</Checkbox>
                        <Checkbox label="topRight">左下</Checkbox>
                        <Checkbox label="bottomLeft">右上</Checkbox>
                        <Checkbox label="bottomRight">右下</Checkbox>
                    </CheckboxGroup>
                </FormItem>
                <FormItem label="背景颜色">
                    <ColorPicker v-model="data.style.bgColor" />
                    <Button v-model="data.style.bgColor" @click="resetBgColor('bgColor')" class="resetBtn">重置</Button>
                </FormItem>
                <FormItem label="tab类型">
                    <RadioGroup v-model="element.tabType">
                        <Radio label="0">文字样式</Radio>
                        <!-- <Radio label="1">图片样式</Radio> -->
                    </RadioGroup>
                </FormItem>
                <template v-if="element.tabType === '0'">
                    <FormItem label="tab默认颜色">
                        <ColorPicker v-model="data.items[0].style.titleColorNormal" />
                        <Button v-model="data.items[0].style.titleColorNormal" @click="resetBgColor('defaultFontColor')" class="resetBtn">重置</Button>
                    </FormItem>
                    <FormItem label="tab选中状态">
                        <RadioGroup v-model="element.tabSelectedType">
                            <Radio label="0">默认</Radio>
                            <!-- <Radio label="1">图片</Radio> -->
                        </RadioGroup>
                    </FormItem>
                    <template v-if="element.tabSelectedType === '0'">
                        <FormItem label="tab选中颜色">
                            <ColorPicker v-model="data.items[0].style.titleColorSelected" />
                            <Button v-model="data.items[0].style.titleColorSelected" @click="resetBgColor('selectedFontColor')" class="resetBtn">重置</Button>
                        </FormItem>
                    </template>
                    <!-- <template v-else>
                        <FormItem label="tab选中背景图">
                            <image-upload 
                                :imageUrl.sync= data.style.selectedImg
                                :onBeforeUpload="onBeforeUpload"></image-upload>
                            <Alert show-icon>图片宽度不限，高度88px，不大于2M</Alert>
                        </FormItem>
                    </template> -->
                </template>
                <!-- 图片样式预留 -->
                <template v-else></template>
                <FormItem label="tab背景色">
                    <ColorPicker v-model="data.tabStyle.bgColor" />
                    <Button v-model="data.tabStyle.bgColor" @click="resetBgColor('bgColor')" class="resetBtn">重置</Button>
                </FormItem>
                <FormItem label="是否吸顶">
                    <RadioGroup v-model="element.fixed">
                        <Radio label="1">吸顶</Radio>
                        <!-- <Radio label="0">默认</Radio> -->
                    </RadioGroup>
                </FormItem>
                <FormItem label="二级tab设置">
                    <RadioGroup v-model="element.secondShow">
                        <Radio label="0">不展示</Radio>
                        <!-- <Radio label="1">展示</Radio> -->
                    </RadioGroup>
                </FormItem>
            </Form>
        </TabPane>
        <TabPane label="素材配置" tab="style">
            <Form :label-width="80">
                <FormItem label="数据来源">
                    <RadioGroup v-model="data.ext.dataSourceType1">
                        <Radio label="001">手动录入</Radio>
                        <Radio label="101">ace广告组</Radio>
                        <Radio label="201">互联网医院</Radio>
                    </RadioGroup>
                </FormItem>
            </Form>
            <template v-if="data.ext.dataSourceType1 == '001'">
                <div class="textCenter">
                    <Button type="primary" @click="addTabLabel">添加Tab配置</Button>
                </div>
                <Collapse v-model="panelIndex" v-for="(item,index) in data.items[0].style.titles" :key="index" accordion>
                    <Panel :name="index+''">
                        <div class="n-select" @click.stop.prevent="() => {}">
                            <Select style="margin-left: 10px;width: 50px;" v-model="index" :label-in-value="true" >
                                <Option v-for="(item,i) in data.items[0].style.titles" :key="i" :value="i" :lable="i">{{i}}</Option>
                            </Select>
                        </div>
                        Tab标签
                        <div class="n-delete" @click.stop.prevent="() => {}">
                            <Button icon="ios-trash-outline" shape="circle" @click="deleteTabLabel(index)"></Button>
                        </div>
                        <div slot="content">
                            <Form ref="formValidate" :model="data" :label-width="80">
                                <FormItem label="Tab标题" style="margin-bottom: 10px;">
                                    <Input v-model="data.items[0].style.titles[index]" placeholder="tab字数为2~6个汉字或4~12个字符"></Input>
                                </FormItem>
                            </Form>
                            <Row type="flex" justify="center">
                                <Col span="24">
                                    tab内容
                                    <transfer :value="data.items[0].action" :selections="floorOptions" :max="5" @change="handleFloorChange($event, index)"></transfer>
                                </Col>
                            </Row>
                        </div>
                    </Panel>
                </Collapse>
            </template>
            <template v-else>
                <transfer :value="data.tabDataList" :selections="floorOptions" :max="2" @change="handleFloorChange($event, index)" :element="element"></transfer>
                <netAdvert :element="element" @getresultdata="getResultData($event)"></netAdvert>
            </template>
        </TabPane>
    </Tabs>
</template>
<script>

import { mapMutations } from "vuex"
import { tags } from '../../config/config'
import transfer from './transferSelector'

export default {
    name: "tabIconEdit",
    props: ['data', 'element'],
    components: {transfer},
    data() {
        return {
            panelIndex: '0',
            availableFloor: ['pictureNews', 'doctorNews'], // 可添加的楼层合集
            card: '1',
            cardRadius: '1',
            radiusPosition: ['bottomLeft', 'bottomRight'],
            dataSource: "internetHospital"
        }
    },
    computed: {
        // 当前配置的可用楼层合集，传入transfer供选择
        floorOptions () {
            const floorOptions = []
            const tagList = tags[0].list
            this.availableFloor.forEach((v, index) => {
                tagList.forEach((currentEle, i) => {
                    const element = currentEle.name
                    if (element === v) {
                        floorOptions.push(currentEle)
                    }
                })
            })
            return floorOptions
        }
    },
    methods: {
        resetBgColor(name) {
            if(name == 'bgColor' || name == 'bgColor'){
                this.data.style[name] = '#ffffff';
            }else if(name == 'defaultFontColor'){
                this.data.style[name] = '#666666';
            }else if(name == 'selectedFontColor'){
                this.data.style[name] = '#ff0000';
            }
        },
        deleteTabLabel(i){

        },
        addTabLabel() {

        },
        handleFloorChange (val, index) {
            //this.data.push(val)
            //this.$set(data.items[0].action[index], 'tabFloors', val)
        },
        getResultData(data) {
            let that = this
            this.element.data.tabData.map(
                function(value,index,array){
                    if(value == 'pictureNews'){
                        that.pictureNewsPushData(data)
                    }else if(value == 'doctorNews'){
                        that.doctorNewsPushData(data)
                    }
                }
            )
        },
        pictureNewsPushData(data) {
            this.data.data = []
            this.data.data = data
            if(this.data.tabDataList[0].data){
                this.data.tabDataList[0].data.items = data[0].subData.articles
            }
        },
        doctorNewsPushData() {

        }
    },
    watch: {
        card: {
            handler: function(newer, older) {
                if(newer === '1'){
                    this.data.style.padding = ['10', '10', '10', '10']
                }else{
                    this.data.style.padding = ['0', '0', '0', '0']
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        },
        radiusPosition: {
            handler: function(newer, older) {
                let that = this
                this.data.style.prefixDoteRadius = ['0', '0', '0', '0']
                newer.map(function(value){
                    if(value == 'topLeft'){
                        that.data.style.prefixDoteRadius[0] = '6'
                    }else if(value == 'topRight'){
                        that.data.style.prefixDoteRadius[1] = '6'
                    }else if(value == 'bottomLeft'){
                        that.data.style.prefixDoteRadius[3] = '6'
                    }else if(value == 'bottomRight'){
                        that.data.style.prefixDoteRadius[2] = '6'
                    }
                })
            }
        },
        cardRadius: {
            handler: function(newer, older) {
                if(newer.length == '0'){
                    this.data.style.prefixDoteRadius = ['0', '0', '0', '0']
                }
            },
            deep: true, // 开启深度监听
            immediate: true
        }
    }
}
</script>
<style lang="less" scoped>

    .ivu-icon-ios-help {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        line-height: 18px;
        font-size: 18px;
        background-color:#2d8cf0;
        color: #fff;
    }
    .ivu-form-item ,
    .ivu-row-flex {
        padding: 0 16px;
    }
    /deep/ .ivu-form-item-content {
        position: static;
    }
    .ivu-collapse {
        margin: 15px 0 0 0;
        /deep/ .ivu-collapse-content {
            padding: 0;
        }
        .n-select {
            display: inline-block;
            i.n-tab-index {
                font-style: normal;
                margin-right: 5px;
            }
            .ivu-dropdown-menu {
                min-width: 56px;
                .ivu-dropdown-item {
                    text-align: center;
                }
            }
        }
        .n-delete {
            float: right;
            margin: 0 20px 0 0;
            /deep/ i.ivu-icon-ios-trash-outline {
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }
    .n-template {
        border: 1px solid #ccc;
        border-radius: 4px;
        span.n-template-name {
            display: block;
            height: 26px;
            line-height: 26px;
            text-align: center;
            background-color: #f3f3f3;
        }
        .n-set-scroll {
            height: 128px;
            width: 100%;
            ul {
                width: 100%;
                li {
                    padding: 0 5px;
                    height: 32px;
                    line-height: 32px;
                    i.ivu-icon-md-add {
                        font-size: 20px;
                        float: right;
                        line-height: 32px;
                    }
                    i.ivu-icon-ios-trash-outline {
                        font-size: 20px;
                        float: right;
                        line-height: 32px;
                    }
                    i.ivu-icon-md-arrow-down {
                        font-size: 20px;
                        line-height: 32px;
                        float: right;
                    }
                    i.ivu-icon-md-arrow-up {
                        font-size: 20px;
                        line-height: 32px;
                        float: right;
                    }
                }
                li:hover {
                    background-color: #2d8cf0;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
    .n-arrow {
        display: flex;
        align-items: center;
        text-align: center;
        i {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 18px;
        }
    }
    span.n-multipletitle {
        display: block;
        line-height: 30px;
        margin-top: 15px;
        margin-top: 15px;
        background-color: #64b0ff;
        color: #fff;
        padding: 0 20px;
    }
    .n-multipleform .ivu-form-item {
        margin-bottom: 10px;
        padding: 0;
    }
</style>