<template>
    <div class="container"
        :style="{
        'padding': data.style.padding[0] + 'px ' + data.style.padding[1] + 'px ' + data.style.padding[2] + 'px ' + data.style.padding[3] + 'px',
        'background-color': data.style.bgColor
        }"
    >
        <div 
        :style="{
        'border-top-left-radius': data.style.prefixDoteRadius[0] + 'px',
        'border-top-right-radius': data.style.prefixDoteRadius[1] + 'px',
        'border-bottom-left-radius': data.style.prefixDoteRadius[2] + 'px',
        'border-bottom-right-radius': data.style.prefixDoteRadius[3] + 'px',
        'background-color': data.tabStyle.bgColor,
        }">
            <ul>
                <li
                    v-for="(item, index) in data.data"
                    @click="changeTab(index)"
                    :class="{'active':activeIndex == index}"
                    :style="{
                        color: activeIndex == index ? data.items[0].style.titleColorSelected : data.items[0].style.titleColorNormal,
                        width: getWidth,
                        }"
                    
                    :key="index"
                >
                    <template v-if="element.tabType === '0'">
                        <div>
                            <span class="oh">{{item.name? item.name : 'Icon'}}</span>
                            <i :style="{backgroundColor: data.items[0].style.titleColorSelected}"></i>
                        </div>
                    </template>
                    <!-- 图片tab位置预留 -->
                    <!-- <template v-else>
                        <div class="n-tab-img">
                            <img :src="data.items[0].style.imageTitle[index]" v-show="data.items[0].style.imageTitle[index] != ''">
                        </div>
                    </template> -->
                </li>
            </ul>
            <!-- tab楼层内容 -->
            <div v-for="(element, index) in data.tabDataList" :key="index">
                <!-- 楼层预览内容 -->
                <div class="preview-item" @click="handleEdit($event, index)">
                    <component :is="element.name" :data="element.data" :element="element"></component>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations } from "vuex"
//import xPopover from './main'
import pictureNews from '../pictureNews/preview'
import pictureNewsEdit from '../pictureNews/edit'
import doctorNews from '../doctor/preview'
import doctorNewsEdit from '../doctor/edit'

let components = Object.assign({}, { pictureNews, pictureNewsEdit, doctorNews, doctorNewsEdit })

export default {
    name: "tabIcon",
    props: ['data', 'element'],
    data() {
        return {
            activeIndex: 0, //当前选中的tab索引值
            iconCount: 2,
            title: ['', ''], // 根据顺序确定右侧编辑框显示
        }
    },
    computed: {
        getWidth: function() {
            let titleLen = this.data.data.length
            if(titleLen < 6){
                return 100/titleLen + '%'
            }else{
                return '20%'
            }
        },
        // tab楼层
        tabFloors () {
            const index = this.activeIndex
            return this.data.items[0].action[index].tabFloors
        }
    },
    created() {
        /**
         * 初始化页面数据
         */
        //this.dataInit()
    },
    methods: {
        ...mapMutations(["setFlrIndex", "updateElement"]),
        changeTab(index) {},
        addTabData(item) {},
        edit(index) {
            this.curIndex = index
        },
        dataInit() {
            this.iconCount = this.data.items[0].style.titles.length
        },
        handleEdit(e, index) {
            e.stopPropagation()
             this.setFlrIndex(index);
            //无数据
            this.data.tabDataList[index].saveButton = 'false'
            this.updateElement({type: 'add', data: this.data.tabDataList[index]})
        }
    },
    watch: {
    },
    components: components
}
</script>
<style lang="less" scoped>
    .container {
        ul {
            height: 44px;
            line-height: 44px;
            overflow-x: auto;
            display: flex;
            word-break: keep-all;
            position: relative;
            li {
                display: inline-block;
                flex-shrink: 0;
                width: 20%;
                text-align: center;
                font-size: 14px;
                color: #666;
                overflow-y: hidden;
                position: relative;
                span {
                    display: block;
                    height: 44px;
                }
                .n-tab-img {
                    height: 44px;
                    background: url(../../img/tabIconImg_01.png);
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: 100% 100%;
                }
            }
            li.active {
                color: #ff0000;
                span {
                    font-weight: bold;
                }
                i {
                    font-style: normal;
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    height: 3px;
                    width: 100%;
                    background: #ff0000;
                }
            }
        }
        ul::-webkit-scrollbar {
            width: 10px;
            height: 4px;
        }
        ul::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0px;
            height: 1px;
            width: 100%;
            background: #cecece;
        }
    }
    .container:hover {
        ul::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: #ccc;
        }
        ul::-webkit-scrollbar-track {
            border-radius: 4px;
            background: #ededed;
        }
    }
    .oh {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>