<template>
    <div class="transfer">
        <div class="transfer__box">
            <div class="transfer__box-title">楼层模板</div>
            <ul class="transfer__list">
                <li v-for="(item, index) in selections" :key="index">
                    {{item.type}}
                    <i class="el-icon-circle-plus" @click="handleSelect(index)"></i>
                </li>
            </ul>
        </div>
        <div class="transfer__line"><i class="el-icon-sort" style="transform: rotate(90deg);font-size: 24px;"></i></div>
        <div class="transfer__box">
            <div class="transfer__box-title">选中楼层</div>
            <ul class="transfer__list">
                <vuedraggable>
                    <transition-group>
                        <li v-for="(item, index) in selected" :key="index">
                            {{item.type}}
                            <i class="el-icon-delete" @click="handleRemove(index)"></i>
                        </li>
                    </transition-group>
                </vuedraggable>
            </ul>
        </div>
    </div>
</template>
<script>
    import vuedraggable from 'vuedraggable'
    export default {
        name: 'transfer',
        props: ['selections', 'value', 'max', 'element'],
        components: { vuedraggable },
        data() {
            return {
            }
        },
        computed: {
            selected: {
                get() {
                    return this.value
                },
                set(val) {
                    //console.log(val)
                    this.$emit('change', val)
                }
            }
        },
        methods: {
            handleSelect(index) {
                if (this.max && this.selected.length >= this.max) {
                    return false
                }
                const selections = this.selections
                this.selected.push(JSON.parse(JSON.stringify(selections[index])))
                if(selections[index].name == 'pictureNews'){
                    this.element.data.tabData.push('pictureNews')
                }else if(selections[index].name == 'doctorNews'){
                    this.element.data.tabData.push('doctorNews')
                }
            },
            handleRemove(index) {
                this.selected.splice(index, 1)
                if(selections[index].name == 'pictureNews'){
                    this.element.data.tabData.splice('pictureNews', 1)
                }else if(selections[index].name == 'doctorNews'){
                    this.element.data.tabData.splice('doctorNews', 1)
                }
                this.$Message.warning('已删除')
            }
        }
    }
</script>
<style lang="less" scoped>
    .transfer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 200px;

        &__box {
            flex: 1;
            height: 100%;

            &-title {
                width: 100%;
                height: 30px;
                line-height: 30px;
                border-radius: 10px 10px 0 0;
                color: #fff;
                background: #73B2FF;
                text-align: center;
            }
        }

        &__list {
            //padding: 10px 0;
            height: 128px;
            line-height: 32px;
            border: 1px solid #efefef;
            border-radius: 0 0 10px 10px;
            overflow-y: auto;
            cursor: pointer;

            i {
                float: right;
                margin-top: 8px;
            }

            li {
                padding: 0 20px;

                &:hover {
                    color: #fff;
                    background: #73B2FF;
                }
            }

            &::-webkit-scrollbar {
                padding: 0 2px;
                width: 4px;
                height: 4px;
                background-color: #f3f3f3;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background-color: #b3b3b3;
            }
        }

        &__line {
            width: 50px;
            height: 100%;
            line-height: 200px;
            text-align: center;
        }
    }
</style>