<template>
  <div
    class="quickAccess-container"
    :style="{backgroundColor:element.data.style.bgColor?element.data.style.bgColor:'#ffffff',backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <Row :gutter="10">
      <Col
        :span="24/element.data.style.column"
        v-for="(item,index) in element.data.items"
        :key="index"
        class="quickAccess-container-item"
      >
        <div
          class="item-container"
          :style="{backgroundColor:element.data.ext.style.bgColor,borderRadius:element.data.style.itemCornerRadiusValue+'px',height:element.data.ext.style.height+'px',lineHeight:element.data.ext.style.height+'px',}"
        >
          <span
            :style="{color:element.data.ext.style.titleColor,fontSize:element.data.ext.style.fontSize+'px',fontWeight:element.data.ext.style.fontWeight}"
          >{{item.name!=''?item.name:'入口标题'}}</span>
          <span v-if="item.hostImgUrl&&item.hostImgUrl!=''" class="tag">
            <img :src="item.hostImgUrl" />
          </span>
        </div>
      </Col>
    </Row>
  </div>
</template>
    
<script>
export default {
  name: "quickAccess",
  props: ["index", "element"],
  data() {
    return {};
  },
  computed: {}
};
</script>

<style lang="less" scoped>
.quickAccess-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &-item {
    text-align: center;
    overflow: hidden;
    .item-container {
      width: 100%;
      height: 100%;
      margin: 10px auto 0;
    }
    span.tag {
      display: inline-block;
      width: 18px;
      height: 18px;
      overflow: hidden;
      margin: -3px 0 0 5px;
      vertical-align: middle;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        vertical-align: top;
      }
    }
  }
}
</style>