<!--
  吸顶 — 预览
 -->
 <template>
        <div>
            <div class="tab-scroll-box">
                <div class="tab-header">
                    <ul>
                        <li @click="changeTab(index)" 
                        :class="{'active':activeIndex==index}" 
                        v-for="(item, index) in data[0].items[0].style.titles" 
                        :key="index">
                            <span>{{data[0].items[0].style.titles[index]}}</span>
                        </li>
                    </ul>
                    <div class="n-wrap-line"></div>
                </div>
                <div class="n-goods-wrap">
                    <!-- <Row :gutter="5" class="n-column-2">
                        <Col span="12" style="padding:0;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="12" style="padding:0;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                    </Row> -->
                    <!-- <h1>一行三个</h1>
                    <Row :gutter="5" class="n-column-3">
                        <Col span="8" style="padding:0 10px;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8" style="padding:0 10px;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8" style="padding:0 10px;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                    </Row> -->
                    <!-- <h1>一行四个</h1>
                    <Row :gutter="5" class="n-column-4">
                        <Col span="6" style="padding:0;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="6" style="padding:0;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="6" style="padding:0;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="6" style="padding:0;">
                            <div class="n-goods">
                                <img src="http://m.360buyimg.com/babel/s189x189_jfs/t1/56110/36/13511/401874/5da3cc7bEe9f1bc7b/174a984da36cab6c.jpg!cc_300x300!q70.dpg">
                                <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                    </Row>
                    <h1>一行三个加商品</h1> -->
                    <!-- <Row class="n-column-3">
                        <Col span="8">
                            <div class="n-goods">
                                <img :src="defaultAdImgurl">
                            </div>
                        </Col>
                        <Col span="8">
                            <div class="n-goods">
                                <div>
                                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                </div>
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8">
                            <div class="n-goods">
                                <div>
                                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                </div>
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8">
                            <div class="n-goods">
                                <div>
                                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                </div>
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8">
                            <div class="n-goods">
                                <div>
                                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                </div>
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8">
                            <div class="n-goods">
                                <div>
                                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                </div>
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                        <Col span="8">
                            <div class="n-goods">
                                <div>
                                    <img src="http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png">
                                </div>
                                <p class="n-goods-desc">艾丽 奥利司他胶囊21粒 瘦身减脂减重减肥药男女排油神器抗肥胖</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>169</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                    </Row> -->
                    <Row class="n-column-3">
                        <Col span="8" v-for="(item, index) in data[0].items[0].action[activeIndex].items" :key="index">
                            <div class="n-goods" v-if="index === 0">
                                <img :src="item && item.productImgurl? item.productImgurl : defaultAdImgurl">
                            </div>
                            <div class="n-goods" v-else>
                                <div>
                                    <img :src="item && item.productImgurl? item.productImgurl : defaultProductImgurl">
                                </div>
                                <p class="n-goods-desc">{{item.descriptionText === ''? '默认商品描述展示区': item.descriptionText}}</p>
                                <p class="n-price">
                                    <span class="n-goods-price"><i>￥</i>{{item.price === ''? '00' : item.price}}</span>
                                    <span class="n-goods-icon"></span>
                                </p>
                            </div>
                        </Col>
                    </Row>
                </div>
            </div>
        </div>
    </template>
    <script>
        export default {
            name: "classifyGoods",
            props: ['data', 'element'],
            data() {
                return {
                    activeIndex: 0,
                    defaultProductImgurl: 'http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png',
                    defaultAdImgurl: 'http:////m.360buyimg.com/babel/s224x386_jfs/t1/57357/4/13550/68635/5da421b4E3e541b69/a07bc1795f4438c5.jpg!q70.dpg',
                    productImgurl: [
                        'http://m.360buyimg.com/babel/s180x180_jfs/t1/79050/11/4058/662399/5d240634E90976346/08d1b7d4f7ed97c0.jpg!cc_270x270!q70.dpg',
                        'http://m.360buyimg.com/babel/s180x180_jfs/t1/78217/22/13504/272541/5dad8123E31c69e35/954e70003897d3da.jpg!cc_270x270!q70.dpg',
                        'http://m.360buyimg.com/babel/s189x189_jfs/t19861/40/1743080031/117847/ddc21ce2/5b2225e6Nd3e10467.jpg!cc_300x300!q70.dpg',
                        'http://m.360buyimg.com/babel/s189x189_jfs/t17671/337/1867139072/60815/127da0ab/5adaf7b2Nfa9d2ce5.jpg!cc_300x300!q70.dpg',
                        'http://m.360buyimg.com/babel/s189x189_jfs/t23584/24/1443308447/115193/80077cb5/5b5fd274Nebf40cc8.jpg!cc_300x300!q70.dpg',
                    ]
                };
            },
            created() {
                this.dataInit()
            },
            computed: {
                col() {
                    return (this.element.column - 0) || 2
                },
                titleLength() {
                    return this.data[0].items[0].style.titles.length
                }
            },
            methods: {
                changeTab(index) {
                    this.activeIndex = index;
                },
                /**
                 * 初始化页面数据
                 */
                dataInit() {
                    let that = this
                    this.tabInit(that.element.scroll, 5)
                    this.productInit()
                },
                /**
                 * 初始化标签数据
                 */
                tabInit(scroll, size) {
                    if(scroll === 'scroll' && this.data[0].items[0].style.titles.length === 0){
                        for (let index = 0; index < size; index++) {
                            this.data[0].items[0].style.titles.push('标签'+ index)
                        }
                        return;
                    }
                    
                },
                /**
                 * 初始化商品
                 */
                productInit() {
                    var obj = {
                        type: "40",
                        id: "",
                        style: {
                            bgColor: "",
                            padding: ["0", "0", "0", "0"],
                            column: "",
                        },
                        items: []
                    }
                    
                    for (let index = 0; index < this.titleLength; index++) {
                        this.data[0].items[0].action.push(obj);
                    }
                    var that = this
                    if(this.data[0].items[0].action[0].items.length === 0 ){
                        for (let i = 0; i < this.titleLength; i++) {
                            that.data[0].items[0].action[i].items.length = 0
                            for (let k = 0; k < 9; k++) {
                                if(k === 0){
                                    that.data[0].items[0].action[i].items.push({
                                        type: "image",
                                        imgUrl: 'http://m.360buyimg.com/babel/s224x386_jfs/t1/57357/4/13550/68635/5da421b4E3e541b69/a07bc1795f4438c5.jpg!q70.dpg',
                                        action: "",
                                        style: {
                                            height: "205",
                                            margin: ["0", "0", "0", "0"],
                                            padding: ["0", "0", "0", "0"],
                                        }
                                    })
                                }else{
                                    that.data[0].items[0].action[i].items.push({
                                        type: "product",
                                        productImgurl: 'http://m.360buyimg.com/babel/s180x180_jfs/t1/79050/11/4058/662399/5d240634E90976346/08d1b7d4f7ed97c0.jpg!cc_270x270!q70.dpg',
                                        descriptionText: "默认测试商品描述详情数据",
                                        price: "99",
                                        shoppingIcon: "https://m.360buyimg.com/babel/jfs/t1/46087/33/10283/1740/5d75b1e4Ef64124cc/3d126a464fc7864d.png",
                                        detailAction: "",
                                        shopAction: "",
                                        style: {
                                            height: "170",
                                            margin: ["0", "0", "10", "0"]
                                        }
                                    })
                                }
                            }
                        }
                        for (let i = 0; i < this.data[0].items[0].action[0].items.length; i++) {
                            this.data[1].items.push(this.data[0].items[0].action[0].items[i]);
                        }
                    }
                }
            }
        };
    </script>
    <style lang="less" scoped>
        .tab-header ul::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 10px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 4px;
        }
    
        .tab-header:hover ul::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 4px;
            background: #ccc;
        }
    
        .tab-header:hover ul::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            border-radius: 4px;
            background: #ededed;
        }
    
        .tab-scroll-box {
            .tab-header {
                width: 100%;
                font-size: 15px;
                box-sizing: border-box;
                position: relative;
                margin-bottom: 5px;
                overflow: hidden;
                .n-wrap-line {
                    height: 1px;
                    background-color: #d2d2d2;
                    position: absolute;
                    bottom: 4px;
                    width: 200%;
                    -webkit-transform: scale(.5);
                    -ms-transform: scale(.5);
                    transform: scale(.5);
                    -webkit-transform-origin: left bottom;
                    -ms-transform-origin: left bottom;
                    transform-origin: left bottom;
                }
                ul {
                    overflow-x: auto;
                    display: flex;
                    word-break: keep-all;
                    // height: 45px;
                    // line-height: 45px;
                    // border-bottom: 1px solid #000;
                    li {
                        float: left;
                        height: 45px;
                        line-height: 45px;
                        padding: 0 2.67%;
                        background-color: #fff;
                        width: 20%;
                        text-align: center;
                        span {
                            display: inline-block;
                            width: 100%;
                            vertical-align: middle;
                            height: 42px;
                            line-height: 42px;
                            position: relative;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                        }
                    }
                    li.active {
                        font-weight: 700;
                        span::after {
                            content: " ";
                            display: block;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 3px;
                            width: 100%;
                            background: #000;
                        }
                    }
                }
            }
        }
        .n-goods-wrap {
            padding: 0 10px 0 8px;
            .n-column-2 {
                .ivu-col-span-12 {
                    margin-bottom: 5px;
                    box-sizing: border-box;
                }
            }
            .n-goods {
                img {
                    display: block;
                }
                p.n-goods-desc {
                    font-size: 12px;
                    color: #9a9a9a;
                    height: 34px;
                    margin: 10px 0 5px 0;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
                p.n-price {
                    padding-right: 10px;
                    span.n-goods-price {
                        display: inline-block;
                        text-align: left;
                        color: #f23030;
                        font-size: 16px;
                        i {
                            font-style: normal;
                            font-size: 12px;
                        }
                    }
                    span.n-goods-icon {
                        float: right;
                        display: inline-block;
                        vertical-align: sub;
                        width: 20px;
                        height: 20px;
                        background: url(http://m.360buyimg.com/babel/jfs/t1/50981/28/10064/1740/5d75af08E11017a46/197ea492e3d5d82c.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
            }
            .n-column-3 {
                .ivu-col-span-8:nth-child(1) .n-goods img {
                    height: 210px;
                }
                .ivu-col-span-8:nth-child(2) .n-goods, 
                .ivu-col-span-8:nth-child(3) .n-goods{
                    padding-bottom: 40px;
                }
                .ivu-col-span-8:nth-child(1) .n-goods {
                    margin-left: 0;
                    width: 100%;
                }
                .ivu-col-span-8:nth-child(3n+2) {
                    margin: 0 0;
                }
                .ivu-col-span-8 {
                    margin-bottom: 8px;
                    box-sizing: border-box;
                    .n-goods {
                        width: 98px;
                        margin-left: 12px;
                        div {
                            width: 100%;
                            height: 9rem;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .n-column-4 {
                .ivu-col-span-6 {
                    margin-bottom: 5px;
                    box-sizing: border-box;
                    .n-goods {
                        div {
                            width: 86px;
                            height: 85px;
                        }
                    }
                }
            }
        }
        .n-goods > div {
            background: url(http://m.360buyimg.com/marketingminiapp/jfs/t1/25571/32/11381/9685/5c9051a6E0d4431ea/dbe2d174143ac231.png);
            background-repeat: no-repeat
        }
    </style>