<template>
    <div>
        <Tabs name="style" :animated="false">
            <TabPane label="样式配置" tab="style">
                <Form :label-width="100">
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <FormItem label="楼层背景图片" style="margin-bottom: 0px;">
                        <image-upload :imageUrl.sync="data.style.bgImgUrl"></image-upload>
                    </FormItem>
                    <FormItem label="列表样式">
                        <RadioGroup v-model="data.style.column">
                            <Radio label="2">一行两个</Radio>
                            <Radio label="4">一行四个</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="组件高度">
                        <Input 
                            v-model="data.style.height" 
                            placeholder="请输入组件高度" 
                            style="width: 130px;"
                        ></Input>
                    </FormItem>
                    <FormItem label="item-type">
                        <Input 
                            v-model="data.ext.type" 
                            placeholder="请输入type" 
                            style="width: 130px;"
                        ></Input>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" tab="style">
                <div>
                    <Button type="primary" @click="addTabLabel">添加Tab配置</Button>
                </div>
                <Collapse
                    v-model="panelIndex"
                    v-for="(item,index) in data.items"
                    :key="index">
                    <Panel :name="index+''">
                        Tab标签
                        <div class="n-delete" @click.stop.prevent="() => {}">
                            <Button
                                icon="ios-trash-outline"
                                shape="circle"
                                @click="deleteTabLabel(index)"
                            ></Button>
                        </div>
                        <div slot="content">
                            <Form :label-width="100">
                                <padding
                                    :paddingSizeData="item.style.padding"
                                    name="内容留白设置"
                                ></padding>
                                <margin
                                    :marginSizeData="item.style.margin"
                                    name="内容边距设置"
                                ></margin>
                                <corner
                                    :cornerData="item.style.cornerRadius"
                                    name="组件圆角"
                                ></corner>
                                <color
                                    :colorData="item.style"
                                    field ="bgColor"
                                    name="组件背景"
                                    resetColor="#FFFFFF"
                                ></color>
                                <FormItem label="标题内容">
                                    <Input 
                                        v-model="item.title" 
                                        placeholder="请输入标题" 
                                        style="width: 130px;"
                                    ></Input>
                                </FormItem>
                                <FormItem label="标题大小">
                                    <Input 
                                        v-model="item.style.titleFontSize" 
                                        placeholder="请输入标题字体大小" 
                                        style="width: 130px;" 
                                        type="number"
                                    ></Input>
                                </FormItem>
                                <FormItem label="标题样式">
                                    <RadioGroup v-model="item.style.titleFontWeight">
                                        <Radio label="normal">默认</Radio>
                                        <Radio label="bold">加粗</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <color
                                    :colorData="item.style"
                                    field ="titleFontColor"
                                    name="标题颜色"
                                    resetColor="#FFFFFF"
                                ></color>
                                <FormItem label="标题对齐">
                                    <RadioGroup v-model="item.style.titleAlign">
                                        <Radio label="center">居中</Radio>
                                        <Radio label="left">居左</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <FormItem label="标题标签">
                                    <RadioGroup v-model="item.titleLabelShow">
                                        <Radio label="true">显示</Radio>
                                        <Radio label="false">不显示</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <template v-if="item.titleLabelShow == 'true'">
                                    <!-- <FormItem label="标题标签内容">
                                        <Input 
                                            v-model="item.titleLabel" 
                                            placeholder="请输入标题标签" 
                                            style="width: 130px;"
                                        ></Input>
                                    </FormItem>
                                    <FormItem label="标题标签大小">
                                        <Input 
                                            v-model="item.style.titleLabelFontSize" 
                                            placeholder="请输入标题标签字体大小" 
                                            style="width: 130px;" 
                                            type="number"
                                        ></Input>
                                    </FormItem>
                                    <color
                                        :colorData="item.style"
                                        field ="titleLabelFontColor"
                                        name="标题标签颜色"
                                        resetColor="#FFFFFF"
                                    ></color>
                                    <FormItem label="标题标签样式">
                                        <RadioGroup v-model="item.style.titleFontWeight">
                                            <Radio label="normal">默认</Radio>
                                            <Radio label="bold">加粗</Radio>
                                        </RadioGroup>
                                    </FormItem>
                                    <padding
                                        :paddingSizeData="item.style.titleLabelPadding"
                                        name="标题标签留白设置"
                                    ></padding>
                                    <margin
                                        :marginSizeData="item.style.titleLabelMargin"
                                        name="标题标签边距设置"
                                    ></margin> -->
                                    <margin
                                        :marginSizeData="item.style.titleMargin"
                                        name="标题标签边距设置"
                                    ></margin>
                                    <FormItem label="标题标签背景图片" style="margin-bottom: 0px;">
                                        <image-upload :imageUrl.sync="item.style.titleLabelBgImgUrl"></image-upload>
                                    </FormItem>
                                    <FormItem label="标题标签宽度">
                                        <Input 
                                            v-model="item.style.titleLabelWidth" 
                                            placeholder="请输入标题标签宽度" 
                                            style="width: 130px;"
                                        ></Input>
                                    </FormItem>
                                    <FormItem label="标题标签高度">
                                        <Input 
                                            v-model="item.style.titleLabelHeight" 
                                            placeholder="请输入标题标签高度" 
                                            style="width: 130px;"
                                        ></Input>
                                    </FormItem>
                                </template>
                                <FormItem label="副标题内容">
                                    <Input 
                                        v-model="item.subTitle" 
                                        placeholder="请输入副标题内容" 
                                        style="width: 130px;"
                                    ></Input>
                                </FormItem>
                                <FormItem label="副标题大小">
                                    <Input 
                                        v-model="item.style.subTitleFontSize" 
                                        placeholder="请输入副标题字体大小" 
                                        style="width: 130px;" 
                                        type="number"
                                    ></Input>
                                </FormItem>
                                <FormItem label="副标题样式">
                                    <RadioGroup v-model="item.style.subTitleFontWeight">
                                        <Radio label="normal">默认</Radio>
                                        <Radio label="bold">加粗</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <color
                                    :colorData="item.style"
                                    field ="subTitleFontColor"
                                    name="副标题颜色"
                                    resetColor="#FFFFFF"
                                ></color>
                                <color
                                    :colorData="item.style"
                                    field ="subTitleBgColor"
                                    name="副标题背景颜色"
                                    resetColor="#FFFFFF"
                                ></color>
                                <FormItem label="副标题对齐">
                                    <RadioGroup v-model="item.style.subTitleAlign">
                                        <Radio label="center">居中</Radio>
                                        <Radio label="left">居左</Radio>
                                    </RadioGroup>
                                </FormItem>
                                <padding
                                    :paddingSizeData="item.style.subTitlePadding"
                                    name="副标题留白设置"
                                ></padding>
                                <margin
                                    :marginSizeData="item.style.subTitleMargin"
                                    name="副标题边距设置"
                                ></margin>
                                <corner
                                    :cornerData="item.style.subTitleCornerRadius"
                                    name="副标题背景圆角"
                                ></corner>
                                <borderSize
                                    :borderSizeData="item.style.borderSize"
                                    name="边框大小设置"
                                ></borderSize>
                                <FormItem label="item-type">
                                    <Input 
                                        v-model="item.type" 
                                        placeholder="请输入type" 
                                        style="width: 130px;"
                                    ></Input>
                                </FormItem>
                                <FormItem label="组件高度">
                                    <Input 
                                        v-model="item.style.height" 
                                        placeholder="请输入组件高度" 
                                        style="width: 130px;"
                                    ></Input>
                                </FormItem>
                            </Form>
                        </div>
                    </Panel>
                </Collapse>
            
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
import padding from "../commonDecorate/pageDecoratePad"
import margin from "../commonDecorate/pageDecorateMargin"
import color from "../commonDecorate/pageDecorateColor"
import corner from "../commonDecorate/pageDecorateCorner"
import borderSize from "../commonDecorate/pageDecorateBor"
import netAd from '../tab/netAdvert'
import ABTestDemo from "../../ABTestDemo";

export default {
    props: ["element", "data","isFlow"],
    components: {
        padding: padding,
        margin: margin,
        color: color,
        corner: corner,
        borderSize: borderSize,
        netAd: netAd,
        ABTestDemo
    },
    data() {
        return {
            panelIndex: [0, 1],
            columnCount: 2
        }
    },
    methods: {
        addTabLabel() {
            if(this.columnCount > 4){
                this.$Message.error("最多支持5组");
                return;
            }
            this.panelIndex.push(this.columnCount)
            this.columnCount++
            this.data.items.push(
                {
					type: "",
					title: "今日低价",
					titleLabelShow: "true",
					titleLabel: "直降",
					subTitle: "为您严选健康精品",
					style: {
						bgColor: "#FFFFFF",
						bgImgUrl: "",
						margin: ["0", "0", "0", "0"],
						padding: ["13", "12", "8", "12"],
						cornerRadius: ["0", "0", "0", "0"],
						titleFontSize: "15",
						titleFontColor: "#0F1319",
						titleFontWeight: "bold",
						titleAlign: "left",
						titleLabelFontSize: "10",
						titleLabelFontColor: "#FFFFFF",
						titleFontWeight: "normal",
						titleLabelPadding: ["2", "7", "2", "5"],
						titleLabelMargin: ["0", "0", "0", "5"],
						titleLabelBgImgUrl: "https://m.360buyimg.com/pop/jfs/t1/86678/21/10185/529/5e16e3c4Efb44315d/eb04aa2bc4b4bab1.png",
						titleMargin: ["0", "0", "7", "0"],
						subTitleFontSize: "12",
						subTitleFontColor: "#8C8C8C",
						subTitleFontWeight: "normal",
						subTitleBgColor: "#FFFFFF",
						subTitleAlign: "left",
						subTitleCornerRadius: ["0", "0", "0", "0"],
						subTitleMargin: ["0", "0", "11", "0"],
						subTitlePadding: ["0", "0", "0", "0"],
						borderSize: ["0", "1", "1", "0"],
						borderStyle: ["solid", "solid", "solid", "solid"],//dotted点状 double双线 dashed虚线
						borderColor: ["#EFF0F0", "#EFF0F0", "#EFF0F0", "#EFF0F0"]
					}
				},
            )
        },
        deleteTabLabel() {
            if(this.columnCount < 2){
                this.$Message.error("最少支持2组");
                return;
            }
            this.panelIndex.splice(this.panelIndex.length, 1);
            this.columnCount--
            this.data.items.splice(index, 1);
        }
    }
}
</script>
<style lang="less" scoped>
    .n-delete {
        float: right;
        margin: 0 20px 0 0;
        /deep/ i.ivu-icon-ios-trash-outline {
            font-size: 24px;
            line-height: 1.3;
        }
    }
    .ivu-collapse {
        margin: 15px 0 0 0;
    }
</style>