<template>
    <div 
        :style="{
            backgroundColor: colorTransform(data.style.bgColor),
            backgroundImage: 'url(' + data.style.bgImgUrl +')',
            backgroundRepeat: 'no-repeat',
            backgroundSize: '100%',
            padding: data.style.padding[0] + 'px ' + data.style.padding[1] + 'px ' + data.style.padding[2] + 'px '+ data.style.padding[3] + 'px',
            margin: data.style.margin[0] + 'px ' + data.style.margin[1] + 'px '+ data.style.margin[2] + 'px '+data.style.margin[3] + 'px',
            borderRadius: data.style.cornerRadius[0] + 'px '+ data.style.cornerRadius[1] + 'px '+ data.style.cornerRadius[2] + 'px '+ data.style.cornerRadius[3] + 'px'
        }"
    >
        <row class="n-row">
            <Col :span="24/data.style.column" v-for="(item, index) in data.items" :key="index"
                :style="{
                    padding: item.style.padding[0]+'px '+ item.style.padding[1]+'px '+ item.style.padding[2]+'px '+ item.style.padding[3]+'px',
                    margin: item.style.margin[0]+'px '+item.style.margin[1]+'px '+item.style.margin[2]+'px '+item.style.margin[3]+'px',
                    borderRadius: item.style.cornerRadius[0] + 'px '+ item.style.cornerRadius[1] + 'px '+ item.style.cornerRadius[2] + 'px '+ item.style.cornerRadius[3] + 'px',
                    borderTop: item.style.borderSize[0] + 'px ' + item.style.borderStyle[0] + ' ' + item.style.borderColor[0],
                    borderRight: item.style.borderSize[1] + 'px ' + item.style.borderStyle[1] + ' ' + item.style.borderColor[1],
                    borderBottom: item.style.borderSize[2] + 'px ' + item.style.borderStyle[2] + ' ' + item.style.borderColor[2],
                    borderLeft: item.style.borderSize[3] + 'px ' + item.style.borderStyle[3] + ' ' + item.style.borderColor[3],
                }"
            >
                <div class="n-title">
                    <span :style="{
                        fontSize: item.style.titleFontSize + 'px',
                        color: colorTransform(item.style.titleFontColor),
                        fontWeight: item.style.titleFontWeight,
                        textAlign: item.style.titleAlign,
                        display: 'inline-block',
                        width: item.titleLabelShow == 'true'? 'auto' : '100%',
                        margin: item.style.titleMargin[0]+'px '+item.style.titleMargin[1]+'px '+item.style.titleMargin[2]+'px '+item.style.titleMargin[3]+'px',
                    }">{{ item.title }}</span><span v-if="item.titleLabelShow == 'true'" :style="{
                        display: 'inline-block',
                        width: item.style.titleLabelWidth + 'px',
                        height: item.style.titleLabelHeight + 'px',
                        backgroundImage: 'url(' + item.style.titleLabelBgImgUrl + ')',
                        backgroundSize: '100%',
                        backgroundRepeat: 'no-repeat',
                    }"></span>
                    <!-- 
                        fontSize: item.style.titleLabelFontSize + 'px',
                        color: colorTransform(item.style.titleLabelFontColor),
                        fontWeight: item.style.titleFontWeight,
                        padding: item.style.titleLabelPadding[0]+'px '+ item.style.titleLabelPadding[1]+'px '+ item.style.titleLabelPadding[2]+'px '+ item.style.titleLabelPadding[3]+'px',
                        margin: item.style.titleLabelMargin[0]+'px '+item.style.titleLabelMargin[1]+'px '+item.style.titleLabelMargin[2]+'px '+item.style.titleLabelMargin[3]+'px',
                    -->
                </div>
                <div class="n-subtitle">
                    <span :style="{
                        display: 'inline-block',
                        width: '100%',
                        fontSize: item.style.subTitleFontSize + 'px',
                        color: colorTransform(item.style.subTitleFontColor),
                        fontWeight: item.style.subTitleFontWeight,
                        backgroundColor: colorTransform(item.style.subTitleBgColor),
                        textAlign: item.style.subTitleAlign,
                        padding: item.style.subTitlePadding[0]+'px '+ item.style.subTitlePadding[1]+'px '+ item.style.subTitlePadding[2]+'px '+ item.style.subTitlePadding[3]+'px',
                        margin: item.style.subTitleMargin[0]+'px '+item.style.subTitleMargin[1]+'px '+item.style.subTitleMargin[2]+'px '+item.style.subTitleMargin[3]+'px',
                        borderRadius: item.style.subTitleCornerRadius[0] + 'px '+ item.style.subTitleCornerRadius[1] + 'px '+ item.style.subTitleCornerRadius[2] + 'px '+ item.style.subTitleCornerRadius[3] + 'px'
                    }">{{ item.subTitle}}</span>
                </div>
            </Col>
        </row>
    </div>
</template>
<script>
export default {
    props: ["index", "element", "data"],
    data() {
        return {

        }
    },
}
</script>
<style lang="less" scoped>
    // .n-subtitle {
    //     float: left;
    // }
</style>