<!--
  优惠劵 — 编辑
 -->
<template>
    <div>
        <Tabs value="style" :animated="false">
            <TabPane label="样式配置" name="style">
                <Form :label-width="100">
                    <FormItem label="展示样式">
                        <RadioGroup v-model="data.style.column">
                            <Radio label="1">一行一个</Radio>
                            <Radio label="2">一行两个</Radio>
                            <Radio label="3">一行三个</Radio>
                        </RadioGroup>
                    </FormItem>
                    <margin
                        :marginSizeData="data.style.margin"
                        name="边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.style.padding"
                        name="留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.style.cornerRadius"
                        name="楼层圆角"
                    ></corner>
                    <color
                        :colorData="data.style"
                        field ="bgColor"
                        name="楼层背景"
                        resetColor="#FFFFFF"
                    ></color>
                    <margin
                        :marginSizeData="data.ext.style.margin"
                        name="每条边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.ext.style.padding"
                        name="每条留白设置"
                    ></padding>
                    <FormItem label="每条钱币字体大小">
                        <Input 
                            v-model="data.ext.style.moneyFontSize" 
                            placeholder="每条钱币字体大小" 
                            style="width: 130px;"
                            type="number"></Input>
                    </FormItem>
                    <color
                        :colorData="data.ext.style"
                        field ="moneyFontColor"
                        name="每条钱币字体颜色"
                        resetColor="#FFFFFF"
                    ></color>
                    <margin
                        :marginSizeData="data.ext.style.moneyMargin"
                        name="每条钱币边距设置"
                    ></margin>
                    <FormItem label="每条金额字体大小">
                        <Input 
                            v-model="data.ext.style.priceFontSize" 
                            placeholder="每条金额字体大小" 
                            style="width: 130px;"
                            type="number"></Input>
                    </FormItem>
                    <color
                        :colorData="data.ext.style"
                        field ="priceFontColor"
                        name="每条金额字体颜色"
                        resetColor="#FFFFFF"
                    ></color>
                    <margin
                        :marginSizeData="data.ext.style.priceMargin"
                        name="每条金额边距设置"
                    ></margin>
                    <FormItem label="每条满减价格">
                        <RadioGroup v-model="data.ext.style.priceFontWeight">
                            <Radio label="bold">加粗</Radio>
                            <Radio label="normal">正常</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="每条满减价格">
                        <RadioGroup v-model="data.ext.style.priceDisplay">
                            <Radio label="block">独行</Radio>
                            <Radio label="inline">行内</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="每条满减价格">
                        <RadioGroup v-model="data.ext.style.priceAlign">
                            <Radio label="center">居中</Radio>
                            <Radio label="left">居左</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="满减说明字体大小">
                        <Input 
                            v-model="data.ext.style.discountFontSize" 
                            placeholder="满减说明字体大小" 
                            style="width: 130px;"
                            type="number"></Input>
                    </FormItem>
                    <color
                        :colorData="data.ext.style"
                        field ="discountFontColor"
                        name="满减说明字体颜色"
                        resetColor="#333333"
                    ></color>
                    <margin
                        :marginSizeData="data.ext.style.discountMargin"
                        name="满减说明边距设置"
                    ></margin>
                    <padding
                        :paddingSizeData="data.ext.style.discountPadding"
                        name="满减说明留白设置"
                    ></padding>
                    <corner
                        :cornerData="data.ext.style.discountCornerRadius"
                        name="满减说明圆角"
                    ></corner>
                    <FormItem label="满减说明">
                        <RadioGroup v-model="data.ext.style.discountAlign">
                            <Radio label="center">居中</Radio>
                            <Radio label="left">居左</Radio>
                        </RadioGroup>
                    </FormItem>
                    <color
                        :colorData="data.ext.style"
                        field ="discountBgColor"
                        name="满减说明背景颜色"
                        resetColor="#333333"
                    ></color>
                    <FormItem label="优惠券描述字体">
                        <Input 
                            v-model="data.ext.style.couponDescFontSize" 
                            placeholder="优惠券描述字体" 
                            style="width: 130px;"
                            type="number"></Input>
                    </FormItem>
                    <color
                        :colorData="data.ext.style"
                        field ="couponDescFontColor"
                        name="优惠券描述颜色"
                        resetColor="#FFFFFF"
                    ></color>
                    <FormItem label="优惠券描述">
                        <RadioGroup v-model="data.ext.style.couponDescFontWeight">
                            <Radio label="bold">加粗</Radio>
                            <Radio label="normal">正常</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="优惠券描述">
                        <RadioGroup v-model="data.ext.style.couponDescAlign">
                            <Radio label="center">居中</Radio>
                            <Radio label="left">居左</Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="优惠券背景图片">
                        <image-upload :imageUrl.sync= data.ext.style.couponImgUrl></image-upload>
                    </FormItem>
                    <template v-if="data.style.column != '3'">
                        <FormItem label="领取字体大小">
                            <Input 
                                v-model="data.ext.style.receiveCouponFontSize" 
                                placeholder="每条领取字体大小" 
                                style="width: 130px;"
                                type="number"></Input>
                        </FormItem>
                        <color
                            :colorData="data.ext.style"
                            field ="receiveCouponFontColor"
                            name="领取字体颜色"
                            resetColor="#FFFFFF"
                        ></color>
                        <FormItem label="领取字体">
                            <RadioGroup v-model="data.ext.style.receiveCouponFontWeight">
                                <Radio label="bold">加粗</Radio>
                                <Radio label="normal">正常</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem label="领取文案">
                            <Input 
                                v-model="data.ext.style.tips" 
                                placeholder="请输入每条宽度" 
                                style="width: 130px;"></Input>
                        </FormItem>
                    </template>


                    <FormItem label="每条宽度">
                        <Input 
                            v-model="itemsWidth" 
                            placeholder="请输入每条宽度" 
                            style="width: 130px;"
                            disabled
                            type="number"></Input>
                    </FormItem>
                    <FormItem label="每条高度">
                        <Input 
                            v-model="data.ext.style.height" 
                            placeholder="请输入每条高度" 
                            style="width: 130px;"
                            disabled
                            type="number"></Input>
                    </FormItem>
                    <FormItem label="优惠券领取比率">
                        <Input 
                            v-model="data.ext.style.tipsRatio" 
                            placeholder="请输入领取比率" 
                            style="width: 130px;"
                            type="number"></Input>
                    </FormItem>
                </Form>
            </TabPane>
            <TabPane label="素材配置" name="data">
                <Form
                    ref="formValidate"
                    :model="data"
                    :rules="ruleValidate"
                    :label-width="80">
                    <FormItem label="数据来源">
                        <RadioGroup v-model="data.ext.dataSourceType1">
                        <Radio label="301">手动录入</Radio>
                        <Radio label="101">ace</Radio>
                        <!-- <Radio label="201">互医</Radio>
                        <Radio label="401">写手</Radio> -->
                        </RadioGroup>
                    </FormItem>
                    <template v-if="data.ext.dataSourceType1 == '301'">
                        <Collapse class="n-ivu-collapse" :value="index+ '-0'">
                            <Panel v-for="(item, i) in data.items" :key="index+ '-' + i">
                                <span class="n-option-subtitle">优惠券{{i}}</span>
                                <div slot="content">
                                    <FormItem label="金额" class="n-form-item-required">
                                        <Input v-model="item.price" placeholder="请输入金额"></Input>
                                    </FormItem>
                                    <FormItem label="满" class="n-form-item-required">
                                        <Input v-model="item.limitePrice" placeholder="请输入价格" class="n-activity"></Input>可用
                                    </FormItem>
                                    <FormItem label="描述" class="n-form-item-required">
                                        <Input v-model="item.limiteCondition" placeholder="请输入描述"></Input>
                                    </FormItem>
                                </div>
                            </Panel>
                        </Collapse>
                    </template>
                    <template v-else="data.ext.dataSourceType1 == '101'">
                        <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
                    </template>
                </Form>
            </TabPane>
        </Tabs>
    </div>
</template>
<script>
    import padding from "../commonDecorate/pageDecoratePad"
    import margin from "../commonDecorate/pageDecorateMargin"
    import color from "../commonDecorate/pageDecorateColor"
    import corner from "../commonDecorate/pageDecorateCorner"
    import ImageUpload from "../ImageUpload"
    export default {
        name: "couponEdit",
        props: ["index", "data", "element"],
        components: {
            padding: padding,
            margin: margin,
            color: color,
            corner: corner,
            ImageUpload: ImageUpload
        },
        data() {
            return {
                formValidate: {
                    items: []
                },
                ruleValidate: {
                    price: [
                        { required: true, message: "价格不能为空", trigger: "blur" }
                    ],
                    limitePrice: [
                        { required: true, message: "满减金额不能为空", trigger: "blur" }
                    ],
                    limiteCondition: [
                        { required: true, message: "描述不能为空", trigger: "blur" }
                    ]
                },
                panelValue: [0, 1, 2, 3],
                itemsWidth: ""
            }
        },
        computed: {
            panelIndex() {
                return this.index
            }
        },
        mounted() {},
        methods: {
            // resetBgColor() {
            //     this.data.style.bgColor = '#ffffff';
            // },
            // onBeforeUpload (file, img) {
            //     if (img.width !== 1125) {
            //         return '图片宽度必须是1125px'
            //     }
            //     if (img.height !== 160) {
            //         return '图片高度必须是160px'
            //     }
            //     return null
            // },
            getResultData(data) {
                this.data.items = data
            }
        },
        watch: {
            "data.style.column": {
                handler: function(newer, older) {
                    if(newer == '1'){
                        this.itemsWidth = '355'
                        this.data.ext.style.couponImgUrl = 'https://babel.m.jd.com/active/babelTower/images/custom_coupon_r_1.png'
                        this.data.ext.style.tipsRatio = '0.42'
                    }else if(newer == '2'){
                        this.itemsWidth = '177'
                        this.data.ext.style.couponImgUrl = 'https://babel.m.jd.com/active/babelTower/images/custom_coupon_r_2.png'
                        this.data.ext.style.tipsRatio = '0.2'
                    }else if(newer == '3'){
                        this.itemsWidth = '117'
                        this.data.ext.style.couponImgUrl = 'https://babel.m.jd.com/active/babelTower/images/custom_coupon_r_3.png'
                        this.data.ext.style.tipsRatio = '0'
                    }
                }
            }
        }
    }
</script>
<style lang="less" scoped>
    .n-activity {
        width: 84px;
        margin: 0 10px 0 0;
    }
</style>