<template>
  <Tabs :animated="false" v-model="tabValue">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100" :model="element">
          <floorConfig :styleData="element.data.style"></floorConfig>
        </Form>
      </div>
    </TabPane>
    <TabPane label="素材配置" name="settingTab">
      <div class="form-content">
        <Form :label-width="100" :model="element">
          <FormItem label="数据来源">
            <RadioGroup v-model="element.data.ext.dataSourceType1">
              <Radio label="301">手动录入</Radio>
              <Radio label="101">ace</Radio>
              <Radio label="201">互医</Radio>
              <Radio label="401">写手</Radio>
            </RadioGroup>
          </FormItem>
          <div v-if="element.data.ext.dataSourceType1=='301'">
            <div v-show="element.data.items.length>0">
              <Row class="headTitle">
                <Col span="4">上传图片</Col>
                <Col span="16">图片链接</Col>
                <Col span="4">删除操作</Col>
              </Row>
              <Row v-for="(item,index) in element.data.items" :key="index" class="listRow">
                <Col span="4">
                  <ImageUpload
                    :imageUrl.sync="item.pictureUrl"
                    :onBeforeUpload="handleBeforeUpload"
                    :on-success="(res)=> handleSuccess(res,index)"
                  ></ImageUpload>
                </Col>
                <Col span="16">
                  <linkType :linkInfo="item"></linkType>
                </Col>
                <Col span="4">
                  <Icon type="ios-trash" size="26" class="deleteIcon" @click="deleteItem(index)" />
                </Col>
              </Row>
            </div>
            <!-- <Alert show-icon style="marginTop:10px;">图片宽900px，高600px，不大于2M</Alert> -->
            <div class="addBtn">
              <Button type="primary" @click="addAdscroll()" icon="md-add">添加</Button>
            </div>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='101'">
            <aceAdvert :element="element" @getresultdata="getResultData($event)"></aceAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='201'">
            <netAdvert
              :element="element"
              data-source="nethuyi"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
          <div v-else-if="element.data.ext.dataSourceType1=='401'">
            <netAdvert
              :element="element"
              data-source="xieshou"
              @getresultdata="getResultData($event)"
            ></netAdvert>
          </div>
        </Form>
      </div>
    </TabPane>
   <TabPane label="楼层定投" name="floorTargeted">
      <div class="form-content" v-if="tabValue=='floorTargeted'">
        <floorTargeted :element="element"></floorTargeted>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
import jdLogo from "../../img/jdLogo.png";
export default {
  name: "slidesScrollEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
       tabValue: "styleTab",
      dataSource: "manual",
      InputNumber: 100
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    addAdscroll() {
      let flag = false;
      let itemsList = this.element.data.items;
      if (itemsList.length > 0) {
        for (let i = 0; i < itemsList.length; i++) {
          if (itemsList[i].linkType == "0" && itemsList[i].linkUrl == "") {
            this.$Message.error("请完善第" + (i + 1) + "条的输入框");
            flag = false;
            return;
          } else if (
            itemsList[i].linkType == "1" &&
            itemsList[i].identityId == ""
          ) {
            this.$Message.error("请选择第" + (i + 1) + "条要跳转的页面");
            flag = false;
            return;
          } else {
            flag = true;
          }
        }
      } else {
        flag = true;
      }

      if (flag == true) {
        this.element.data.items.push({
              type: "image",
              pictureUrl: "",
              jumpLinkInfo: {
                linkType: "0",
                //跳转类型
                identityId: "",
                //跳转页面的链接
                linkUrl: "",
              },
        });
      } else {
        // this.$Message.error("请填写完整");
      }
    },
    deleteItem(index) {
      this.$Modal.confirm({
        title: "",
        content: "<p>确定要删除此条数据吗？</p>",
        onOk: () => {
          this.element.data.items.splice(index, 1);
        }
      });
    },
    handleSuccess(res, index) {
      this.$set(this.element.data.items[index], "pictureUrl", res.result.path);
    },
    handleBeforeUpload(file, img) {
      // if (img.width !== 900 || img.height !== 600) {
      //   return "请上传宽900px，高600px的图片！";
      // }

      return null;
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.deleteIcon {
  margin-top: 5px;
  cursor: pointer;
}
.headTitle {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #eee;
}
.listRow {
  text-align: center;
}
.addBtn {
  text-align: center;
  margin: 40px 0;
}

/deep/.demo-upload-list {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: none;
  box-shadow: none;
  margin-top: -6px;
}
/deep/.upload {
  display: inline-block;
  width: 45px;
  height: 45px;
}
/deep/.imageUrlStyle {
  width: 46px;
  height: 46px;
}
/deep/.cameraBox {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
/deep/.demo-upload-list-cover i {
  font-size: 16px;
}
.resetBtn {
  margin-left: 10px;
}
</style>