<template>
  <div
    class="slides-scroll-box"
    :style="{backgroundColor:colorTransform(element.data.style.bgColor),backgroundImage:'url('+element.data.style.bgImgUrl +')',padding:element.data.style.padding[0]+'px '+element.data.style.padding[1]+'px '+element.data.style.padding[2]+'px '+element.data.style.padding[3]+'px',margin:element.data.style.margin[0]+'px '+element.data.style.margin[1]+'px '+element.data.style.margin[2]+'px '+element.data.style.margin[3]+'px',borderRadius:element.data.style.cornerRadius[0]+'px '+element.data.style.cornerRadius[1]+'px '+element.data.style.cornerRadius[2]+'px '+element.data.style.cornerRadius[3]+'px'}"
  >
    <!-- swiper -->
    <swiper :options="swiperOption">
      <swiper-slide
        v-for="(item, index) in element.data.items"
        :key="index"
        :style="{height:element.data.ext.style.itemHeight+'px'}"
      >
        <div class="item-img">
          <a href="javascript:void(0)">
            <img :src="item.pictureUrl?item.pictureUrl:defaultImgUrl" alt />
          </a>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>
<script>
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
export default {
  name: "slidesScroll",
  props: ["index", "element"],
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      defaultImgUrl:
        "https://m.360buyimg.com/babel/jfs/t1/83888/17/9665/54752/5d738fbbEeae929bc/6861ee312dbdcf69.png",
      refresh: true,
      swiperOption: {
        slidesPerView: "auto",
        loop: true
      }
    };
  },
  "element.data.items": {
    handler: function(newer, older) {
      this.refresh = false;
      setTimeout(() => {
        this.refresh = true;
      }, 100);
    },
    deep: true, // 开启深度监听
    immediate: true
  }
};
</script>

<style scoped lang="less">
.slides-scroll-box {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  .swiper-slide {
    width: 85%;
    margin-left: 10px;
    .item-img,
    .item-img img {
      width: 100%;
      height: 100%;
    }
  }
  .swiper-slide-next {
    transform: scale(0.9);
    transform-origin: left 50%;
  }
}
</style>
