<template>
  <Tabs :animated="false" value="styleTab">
    <TabPane label="样式配置" name="styleTab">
      <div class="form-content">
        <Form :label-width="100" :model="element">
          <FormItem label="楼层高度" class="ivu-form-item-required">
            <InputNumber :max="60" :min="5" v-model="element.data.items[0].style.height"></InputNumber>
            <small>(5-60的数字)</small>
          </FormItem>

          <FormItem label="楼层背景">
            <RadioGroup v-model="bgColorType">
              <Radio label="0">背景色</Radio>
              <Radio label="1">背景图</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="背景颜色" v-if="bgColorType=='0'">
            <ColorPicker v-model="element.data.style.bgColor" />
            <Button v-model="resetBgColorValue" @click="resetBgColor" class="resetBtn">重置</Button>
          </FormItem>

          <FormItem label="背景图片" v-else>
            <Row>
              <Col span="5">
                <image-upload
                  :imageUrl.sync="element.data.style.bgImgUrl"
                  :onBeforeUpload="bgColorBeforeUpload"
                  :on-success="bgImgUrlSuccess"
                ></image-upload>
              </Col>
              <Col span="19">
                <Alert show-icon>图片宽1125px，高{{element.data.items[0].style.height*3}}px，不大于2M</Alert>
              </Col>
            </Row>
          </FormItem>
        </Form>
      </div>
    </TabPane>
  </Tabs>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "textLineEdit",
  props: ["index", "element"],
  data() {
    return {
      ...mapMutations(["setFlrIndex", "updateFloor"]),
      resetBgColorValue: this.element.data.style.bgColor,
      bgColorType: "0"
    };
  },
  methods: {
    changeLimit() {},
    changeList(v) {
      this.updateFloor({
        type: "update",
        index: this.index,
        data: this.element.data
      });
    },
    resetBgColor() {
      this.element.data.style.bgColor = this.resetBgColorValue;
    },
    bgColorBeforeUpload(file, img) {
      if (
        img.width !== 1125 ||
        img.height !== this.element.data.items[0].style.height * 3
      ) {
        return (
          "请上传宽1125px，高" +
          this.element.data.items[0].style.height * 3 +
          "px的图片！"
        );
      }
      return null;
    },
    bgImgUrlSuccess(res) {
      this.$set(this.element.data.style, "bgImgUrl", res.result.path);
    }
  },
  watch: {
    "$store.state.app.floorList": {
      handler: function(newer, older) {
        // 可以获取新值与老值两个参数
      },
      deep: true, // 开启深度监听
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.resetBtn {
  margin-left: 10px;
}
</style>